Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

core(site): fix AttributeError when config is dict instead of Config object; use defensive .raw access
  bengal/core/site/core.py
Due: block-legacy-cli-imports

hardening stuff
  bengal/rendering/parsers/patitas/parsing/blocks/list/blank_line.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/trace.py
Due: block-legacy-cli-imports

plan(rfc): revise container-stack-parsing RFC with validated claims and accurate metrics
  plan/rfc-container-stack-parsing.md
Due: none

updates
  bengal/rendering/parsers/patitas/lexer/classifiers/directive.py
  bengal/rendering/parsers/patitas/lexer/classifiers/fence.py
  bengal/rendering/parsers/patitas/lexer/classifiers/footnote.py
  bengal/rendering/parsers/patitas/lexer/classifiers/heading.py
  bengal/rendering/parsers/patitas/lexer/classifiers/html.py
  bengal/rendering/parsers/patitas/lexer/classifiers/link_ref.py
  bengal/rendering/parsers/patitas/lexer/classifiers/list.py
  bengal/rendering/parsers/patitas/lexer/classifiers/quote.py
  bengal/rendering/parsers/patitas/lexer/classifiers/thematic.py
  bengal/rendering/parsers/patitas/lexer/core.py
  bengal/rendering/parsers/patitas/lexer/scanners/block.py
  bengal/rendering/parsers/patitas/lexer/scanners/directive.py
  bengal/rendering/parsers/patitas/lexer/scanners/fence.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/blank_line.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/item_blocks.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/nested.py
  bengal/rendering/parsers/patitas/parsing/containers.py
  bengal/rendering/parsers/patitas/tokens.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/toc.py
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/navigation-components.html
  plan/rfc-container-stack-parsing.md
  site/templates/partials/navigation-components.html
  tests/unit/rendering/test_navigation_functions.py
Due: block-legacy-cli-imports

core(patitas): implement container stack architecture RFC phases 1-2; add line_indent to Token, introduce ContainerStack/ContainerFrame for shadow validation, remove get_line_indent()
  bengal/rendering/parsers/patitas/parser.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/indent.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/nested.py
Due: block-legacy-cli-imports

core(patitas): complete Phase 4 cleanup; blank_line: remove old parameter-based functions; mixin: simplify _handle_indented_code_in_item from 11 to 5 params, remove _STRICT_MODE validation
  bengal/rendering/parsers/patitas/parsing/blocks/list/blank_line.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  plan/rfc-container-stack-parsing.md
Due: block-legacy-cli-imports

core(patitas): improve CommonMark compliance to 93.7%; handle block elements at content indent in list items
  bengal/rendering/parsers/patitas/nodes.py
  bengal/rendering/parsers/patitas/parsing/blocks/core.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  bengal/rendering/parsers/patitas/renderers/html.py
  commonmark_baseline.txt
  tests/rendering/parsers/patitas/test_renderer.py
Due: block-legacy-cli-imports

patitas(block-quote): add lazy continuation and empty marker handling; 93.7%→95.7% CommonMark compliance
  bengal/rendering/parsers/patitas/parsing/blocks/core.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  bengal/rendering/parsers/patitas/renderers/html.py
Due: block-legacy-cli-imports

core(patitas): fix entity refs in code fence info and HTML tag attribute parsing
  bengal/rendering/parsers/patitas/lexer/classifiers/link_ref.py
  bengal/rendering/parsers/patitas/parser.py
  bengal/rendering/parsers/patitas/parsing/inline/links.py
  bengal/rendering/parsers/patitas/parsing/inline/special.py
  bengal/rendering/parsers/patitas/renderers/html.py
Due: block-legacy-cli-imports

hardening
  bengal/rendering/parsers/patitas/lexer/classifiers/directive.py
  bengal/rendering/parsers/patitas/lexer/classifiers/fence.py
  bengal/rendering/parsers/patitas/lexer/classifiers/footnote.py
  bengal/rendering/parsers/patitas/lexer/classifiers/heading.py
  bengal/rendering/parsers/patitas/lexer/classifiers/html.py
  bengal/rendering/parsers/patitas/lexer/classifiers/link_ref.py
  bengal/rendering/parsers/patitas/lexer/classifiers/list.py
  bengal/rendering/parsers/patitas/lexer/classifiers/quote.py
  bengal/rendering/parsers/patitas/lexer/classifiers/thematic.py
  bengal/rendering/parsers/patitas/lexer/core.py
  bengal/rendering/parsers/patitas/lexer/scanners/block.py
  bengal/rendering/parsers/patitas/parsing/blocks/core.py
  bengal/rendering/parsers/patitas/parsing/blocks/core.py_parse_block_quote_v3.tmp
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/nested.py
  bengal/rendering/parsers/patitas/parsing/inline/links.py
  commonmark_baseline.txt
  plan/rfc-declarative-block-grammar.md
  scripts/check_tokens.py
  scripts/identify_failures.py
  scripts/reproduce_228.py
  scripts/reproduce_237.py
  scripts/reproduce_259.py
Due: block-legacy-cli-imports

core(patitas): fix 8 CommonMark compliance issues; improve list/blockquote/indented-code parsing
  bengal/analysis/graph_visualizer.py
  bengal/analysis/link_patterns.py
  bengal/core/nav_tree.py
  bengal/core/section/navigation.py
  bengal/core/site/core.py
  bengal/health/linkcheck/internal_checker.py
  bengal/health/validators/asset_urls.py
  bengal/health/validators/rss.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/postprocess/social_cards.py
  bengal/rendering/assets.py
  bengal/rendering/link_transformer.py
  bengal/rendering/parsers/patitas/parser.py
  bengal/rendering/parsers/patitas/parsing/blocks/core.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/item_blocks.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/unified_transform.py
  bengal/rendering/template_engine/asset_url.py
  bengal/rendering/template_engine/url_helpers.py
  bengal/rendering/template_functions/crossref.py
  bengal/rendering/template_functions/images.py
  bengal/rendering/template_functions/navigation/scaffold.py
  bengal/rendering/template_functions/seo.py
  bengal/rendering/template_functions/urls.py
  bengal/rendering/urls.py
Due: block-legacy-cli-imports

patitas: improve CommonMark compliance (91.1% -> 92.2%)
  bengal/core/site/properties.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/rendering/parsers/patitas/lexer/classifiers/quote.py
  bengal/rendering/parsers/patitas/parsing/blocks/core.py
  bengal/rendering/pipeline/unified_transform.py
  commonmark_baseline.txt
  tests/_testing/mocks.py
  tests/unit/assets/test_assets_pipeline.py
  tests/unit/postprocess/test_empty_feeds.py
  tests/unit/postprocess/test_output_formats_index_json.py
  tests/unit/postprocess/test_redirects.py
  tests/unit/postprocess/test_rss_generator.py
  tests/unit/postprocess/test_special_pages.py
  tests/unit/rendering/template_functions/test_version_url.py
  tests/unit/rendering/test_asset_url_baseurl.py
  tests/unit/rendering/test_asset_url_fingerprints.py
  tests/unit/rendering/test_kida_asset_url.py
  tests/unit/rendering/test_theme_inheritance.py
  tests/unit/template_functions/test_taxonomies_baseurl.py
Due: block-legacy-cli-imports

updates
  bengal/rendering/parsers/patitas/lexer/classifiers/link_ref.py
  bengal/rendering/parsers/patitas/lexer/classifiers/quote.py
  bengal/rendering/parsers/patitas/parsing/blocks/core.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
Due: block-legacy-cli-imports

fixes
  bengal/config/unified_loader.py
  bengal/core/site/core.py
  bengal/core/site/properties.py
  bengal/postprocess/rss.py
  bengal/rendering/parsers/patitas/lexer/classifiers/quote.py
  bengal/rendering/parsers/patitas/parser.py
  bengal/rendering/parsers/patitas/parsing/blocks/core.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_engine/url_helpers.py
  site/content/docs/building/_index.md
  site/content/docs/reference/architecture/design-principles.md
  site/content/docs/reference/architecture/rendering/rendering.md
  site/content/docs/reference/architecture/subsystems/output.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/theming/recipes/template-views.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/content/docs/tutorials/migration/from-docusaurus.md
  tests/unit/config/test_directory_loader.py
  tests/unit/postprocess/test_special_pages.py
Due: block-legacy-cli-imports

fix
  bengal/config/defaults.py
  bengal/config/unified_loader.py
  bengal/rendering/parsers/patitas/parser.py
Due: block-legacy-cli-imports

updates
  bengal/config/build_options_resolver.py
  bengal/config/defaults.py
  bengal/config/directory_loader.py
  bengal/config/env_overrides.py
  bengal/config/unified_loader.py
  bengal/health/validators/config.py
  bengal/rendering/parsers/patitas/parser.py
  plan/rfc-mereketengue.md
  tests/unit/config/test_build_options_resolver.py
  tests/unit/config/test_config_loader.py
Due: block-legacy-cli-imports

fixes
  bengal/config/directory_loader.py
  bengal/config/merge.py
  bengal/config/unified_loader.py
  bengal/debug/config_inspector.py
  plan/rfc-list-parsing-state-machine.md
  plan/rfc-mereketengue.md
Due: block-legacy-cli-imports

updates
  bengal/config/__init__.py
  bengal/config/directory_loader.py
  bengal/config/feature_mappings.py
  bengal/config/unified_loader.py
  bengal/core/site/core.py
  bengal/orchestration/taxonomy.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/rss.py
  plan/rfc-list-parsing-state-machine.md
  plan/rfc-patitas-extraction.md
Due: block-legacy-cli-imports

update
  bengal/postprocess/output_formats/index_generator.py
Due: block-legacy-cli-imports

fix
  bengal/rendering/parsers/patitas/parsing/blocks/list/blank_line.py
  tests/rendering/parsers/patitas/test_blocks.py
Due: block-legacy-cli-imports

tests
  bengal/config/directory_loader.py
  bengal/config/env_overrides.py
  bengal/config/loader.py
  bengal/config/unified_loader.py
  tests/integration/test_incremental_output_formats.py
Due: block-legacy-cli-imports

fix
  bengal/config/directory_loader.py
Due: block-legacy-cli-imports

caching
  .github/workflows/pages.yml
  bengal/themes/default/assets/css/components/graph-contextual.css
Due: none

updates
  .pre-commit-config.yaml
  benchmarks/test_directive_performance.py
  bengal/rendering/kida/bytecode_cache.py
  bengal/rendering/parsers/patitas/lexer/classifiers/html.py
  bengal/rendering/parsers/patitas/lexer/classifiers/quote.py
  bengal/rendering/parsers/patitas/lexer/core.py
  bengal/rendering/parsers/patitas/lexer/scanners/block.py
  bengal/rendering/parsers/patitas/parsing/blocks/core.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  bengal/rendering/parsers/patitas/parsing/inline/links.py
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/doc/single.html
  bengal/themes/default/templates/page.html
  scripts/check_python_version_hook.sh
  site/config/_default/theme.yaml
  site/content/docs/tutorials/_index.md
  tests/rendering/kida/test_automatic_block_caching.py
  tests/rendering/kida/test_kida_expressions.py
  tests/rendering/kida/test_kida_lexer_comprehensive.py
  tests/unit/cache/test_cache_utils.py
  tests/unit/template_functions/test_convenience_wrappers.py
Due: block-legacy-cli-imports

full commonmark
  .pre-commit-config.yaml
  bengal/rendering/parsers/patitas/lexer/classifiers/html.py
  bengal/rendering/parsers/patitas/lexer/classifiers/quote.py
  bengal/rendering/parsers/patitas/parser.py
  bengal/rendering/parsers/patitas/parsing/blocks/core.py
  bengal/rendering/parsers/patitas/parsing/blocks/list/mixin.py
  bengal/rendering/parsers/patitas/parsing/inline/links.py
  scripts/check_python_version_hook.sh
Due: block-legacy-cli-imports

rendering(external_refs): add cross-project documentation linking with [[ext:project:target]] syntax
  bengal/config/defaults.py
  bengal/config/types.py
  bengal/orchestration/postprocess.py
  bengal/postprocess/xref_index.py
  bengal/rendering/external_refs/__init__.py
  bengal/rendering/external_refs/resolver.py
  bengal/rendering/parsers/mistune/__init__.py
  bengal/rendering/parsers/patitas/wrapper.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/template_functions/__init__.py
  bengal/rendering/template_functions/external_refs.py
  bengal/rendering/template_functions/get_page.py
  plan/rfc-external-references.md
  site/config/_default/external_refs.yaml
  tests/unit/rendering/test_external_refs.py
Due: block-legacy-cli-imports

docs(authoring): add external references documentation; update linking and template-functions
  site/content/docs/content/authoring/_index.md
  site/content/docs/content/authoring/external-references.md
  site/content/docs/content/authoring/linking.md
  site/content/docs/reference/template-functions.md
Due: none

external links
  benchmarks/test_kida_comprehensive.py
  benchmarks/test_kida_real_templates.py
  benchmarks/test_kida_vs_jinja.py
  bengal/cli/__init__.py
  bengal/cli/commands/collections.py
  bengal/cli/commands/new/scaffolds.py
  bengal/cli/helpers/error_display.py
  bengal/rendering/errors.py
  plan/rfc-documentation-completeness.md
  plan/rfc-external-references.md
  plan/rfc-release-layouts.md
  site/config/_default/external_refs.yaml
  site/content/docs/about/glossary.md
  site/content/docs/content/authoring/code-blocks.md
  site/content/docs/theming/templating/kida/_index.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
  site/content/docs/tutorials/sites/build-a-blog.md
Due: block-string-based-click-cls, block-legacy-cli-imports

external ref fix
  bengal/health/validators/__init__.py
  bengal/health/validators/external_refs.py
  bengal/rendering/external_refs/resolver.py
  bengal/rendering/pipeline/core.py
  site/config/_default/external_refs.yaml
  tests/unit/health/validators/test_external_refs_validator.py
  tests/unit/rendering/test_external_refs.py
Due: block-legacy-cli-imports

core(link-previews): add cross-site preview support for whitelisted hosts (RFC implementation)
  bengal/config/defaults.py
  bengal/core/site/properties.py
  bengal/themes/default/assets/js/enhancements/link-previews.js
  bengal/themes/default/templates/partials/link-previews.html
  plan/rfc-cross-site-xref-link-previews.md
  site/config/_default/site.yaml
  tests/integration/test_link_previews.py
Due: block-legacy-cli-imports

config: remove vestigial features.syntax_highlighting; config lives in theme.syntax_highlighting
  bengal/cli/commands/new/config.py
  bengal/config/defaults.py
  bengal/config/feature_mappings.py
  site/config/_default/features.yaml
Due: block-string-based-click-cls, block-legacy-cli-imports

config: rename features.yaml to outputs.yaml for clarity
  site/config/_default/outputs.yaml
Due: none

updates
  site/config/_default/features.yaml
Due: none

docs: update Kida performance, benchmarks, comparison with concurrent results (1.81x faster at 8 workers)
  site/content/docs/about/benchmarks.md
  site/content/docs/about/comparison.md
  site/content/docs/theming/templating/kida/_index.md
  site/content/docs/theming/templating/kida/performance.md
Due: none

docs
  bengal/themes/default/templates/README.md
  site/content/docs/about/comparison.md
  site/content/docs/about/glossary.md
  site/content/docs/content/authoring/_index.md
  site/content/docs/content/authoring/linking.md
  site/content/docs/get-started/quickstart-themer.md
  site/content/docs/theming/_index.md
  site/content/docs/theming/templating/_index.md
  site/content/docs/tutorials/content/create-a-tutorial-series.md
  site/content/docs/tutorials/migration/from-hugo.md
  site/content/docs/tutorials/migration/from-jekyll.md
  site/content/docs/tutorials/sites/build-a-blog.md
  site/content/docs/tutorials/sites/build-a-multi-author-blog.md
  site/content/docs/tutorials/theming/swizzle-default-theme.md
Due: none

fix
  .github/workflows/pages.yml
Due: none

cli(cache): add inputs and hash commands for CI cache key generation
  bengal/cache/build_cache/autodoc_tracking.py
  bengal/cache/build_cache/core.py
  bengal/cli/__init__.py
  bengal/orchestration/incremental/taxonomy_detector.py
  pyproject.toml
  tests/unit/cache/test_autodoc_self_validation.py
  tests/unit/cli/test_cache_command.py
  uv.lock
Due: block-string-based-click-cls, block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
