Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

refactor(server): decompose BuildTrigger._execute_build; drop inline WarmBuildResult
  bengal/server/build_trigger.py
  changelog.d/390.changed.md
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(server): serve-ability smoke check, live HTTP test fixture, hidden-buffer guard
  bengal/assets/manifest.py
  bengal/server/backend.py
  bengal/server/buffer_manager.py
  bengal/server/dev_server.py
  bengal/server/serve_probe.py
  changelog.d/398.added.md
  changelog.d/399.added.md
  changelog.d/400.added.md
  tests/integration/test_live_dev_server_http.py
  tests/unit/server/test_buffer_manager.py
  tests/unit/server/test_dev_server_live_reload.py
  tests/unit/server/test_serve_probe.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(observability): add diagnostics to silent exception swallows
  bengal/cache/paths.py
  bengal/cli/milo_commands/build.py
  bengal/config/env_overrides.py
  bengal/content/versioning/artifacts.py
  bengal/core/asset/asset_core.py
  bengal/errors/suggestions.py
  bengal/health/validators/asset_urls.py
  bengal/health/validators/autodoc.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/content.py
  bengal/orchestration/render/block_cache.py
  bengal/rendering/template_context_validation.py
  bengal/rendering/template_functions/blog.py
  bengal/server/dev_server.py
  bengal/snapshots/scheduling.py
  bengal/snapshots/templates.py
  bengal/utils/dx/hints.py
  bengal/utils/observability/cli_progress.py
  changelog.d/385.fixed.md
  prek.toml
  scripts/check_silent_suppress.py
  tests/unit/health/validators/test_assets.py
  tests/unit/health/validators/test_autodoc_validator.py
  tests/unit/orchestration/test_content_url_claim_diagnostics.py
  tests/unit/rendering/template_functions/test_blog_views.py
  tests/unit/server/test_dev_server_palette_diagnostics.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(cache): invalidate stale parsed/rendered output on parser, config, and dep changes (#402)
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/parsing.py
  bengal/snapshots/persistence.py
  changelog.d/377.fixed.md
  changelog.d/379.fixed.md
  tests/unit/cache/test_build_cache.py
  tests/unit/snapshots/test_snapshot_persistence.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(orchestration): guard warm autodoc OSError + dedup deps; decompose _build_xref_index (#403)
  bengal/orchestration/content.py
  changelog.d/378.fixed.md
  changelog.d/380.changed.md
  tests/unit/autodoc/test_resilience.py
  tests/unit/orchestration/test_xref_index_builder.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(autodoc): anchor hrefs for non-page member elements (no more dangling /api links) (#404)
  bengal/autodoc/orchestration/page_builders.py
  changelog.d/401.fixed.md
  tests/unit/autodoc/test_member_anchor_hrefs.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(parsing): make PatitasParser AST round-trip honor supports_ast=True (#405)
  bengal/parsing/backends/patitas/wrapper.py
  changelog.d/393.fixed.md
  tests/integration/test_ast_pipeline.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(nav): include shared content in every versioned NavTree (#406)
  bengal/core/nav_tree.py
  bengal/core/section/navigation.py
  bengal/core/version.py
  changelog.d/395.fixed.md
  tests/integration/test_nav_tree_integration.py
  tests/unit/core/test_section_versioning.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(rendering): route Kida render_template errors through ErrorClassifier (#407)
  bengal/rendering/engines/kida.py
  bengal/rendering/errors/classifier.py
  changelog.d/391.fixed.md
  tests/unit/rendering/test_error_classifier.py
  tests/unit/rendering/test_kida_error_classification.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore: remove dead code + fix stale import that breaks pytest collection (#408)
  bengal/build/__init__.py
  bengal/cache/build_cache/autodoc_tracking.py
  bengal/experimental/__init__.py
  bengal/orchestration/build/provenance_filter.py
  changelog.d/382.removed.md
  changelog.d/386.removed.md
  tests/unit/cache/test_autodoc_tracking.py
  tests/unit/orchestration/build/test_initialization.py
  tests/unit/themes/test_mobile_nav.py
  tests/unit/themes/test_theme_controls.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: correct custom-directives API + README parser table, benchmarks, shims claim (#409)
  README.md
  changelog.d/388.fixed.md
  changelog.d/389.fixed.md
  site/content/docs/about/benchmarks.md
  site/content/docs/extending/_index.md
  site/content/docs/extending/custom-directives.md
  tests/unit/docs/__init__.py
  tests/unit/docs/test_doc_python_snippets.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

chore(concurrency): consolidate duplicated GIL-detection helpers (#410)
  bengal/orchestration/render/parallel.py
  bengal/postprocess/social_cards.py
  bengal/server/build_executor.py
  changelog.d/381.changed.md
  tests/unit/utils/test_workers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(server): serve-ability smoke check, live HTTP test fixture, hidden-buffer guard (#412)
  bengal/assets/manifest.py
  bengal/server/backend.py
  bengal/server/buffer_manager.py
  bengal/server/dev_server.py
  bengal/server/serve_probe.py
  changelog.d/398.added.md
  changelog.d/399.added.md
  changelog.d/400.added.md
  tests/integration/test_live_dev_server_http.py
  tests/unit/server/test_buffer_manager.py
  tests/unit/server/test_dev_server_live_reload.py
  tests/unit/server/test_serve_probe.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor(server): decompose BuildTrigger._execute_build; drop inline WarmBuildResult (#413)
  bengal/server/build_trigger.py
  changelog.d/390.changed.md
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(cli): fix root --help section drift + add guard test (#414)
  bengal/cli/milo_app.py
  changelog.d/387.fixed.md
  tests/unit/cli/test_root_help_sections.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(arch): contain core->rendering.version_url edge + tighten Contract 1 (#415)
  .importlinter
  changelog.d/383.changed.md
Due: none

chore(governance): add CODEOWNERS + update ownership routing status (#416)
  .github/CODEOWNERS
  AGENTS.md
  changelog.d/394.added.md
Due: none

fix(observability): add diagnostics to silent exception swallows (#411)
  bengal/cache/paths.py
  bengal/cli/milo_commands/build.py
  bengal/config/env_overrides.py
  bengal/content/versioning/artifacts.py
  bengal/core/asset/asset_core.py
  bengal/errors/suggestions.py
  bengal/health/validators/asset_urls.py
  bengal/health/validators/autodoc.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/content.py
  bengal/orchestration/render/block_cache.py
  bengal/rendering/template_context_validation.py
  bengal/rendering/template_functions/blog.py
  bengal/server/dev_server.py
  bengal/snapshots/scheduling.py
  bengal/snapshots/templates.py
  bengal/utils/dx/hints.py
  bengal/utils/observability/cli_progress.py
  changelog.d/385.fixed.md
  prek.toml
  scripts/check_silent_suppress.py
  tests/unit/health/validators/test_assets.py
  tests/unit/health/validators/test_autodoc_validator.py
  tests/unit/orchestration/test_content_url_claim_diagnostics.py
  tests/unit/rendering/template_functions/test_blog_views.py
  tests/unit/server/test_dev_server_palette_diagnostics.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): shard generated pages in the COW-free render backend — S13.4e (#350)
  bengal/orchestration/render/isolated/shard_backend.py
  bengal/orchestration/render/isolated/shard_worker.py
  bengal/orchestration/render/isolated/transport.py
  changelog.d/shard-generated-page-rendering.added.md
  plan/epic-shard-parallel-build.md
  tests/integration/test_shard_render_parity.py
  tests/unit/orchestration/render/test_shard_generated.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): shard generated pages in the COW-free render backend — S13.4e (#350) (#417)
  bengal/orchestration/render/isolated/shard_backend.py
  bengal/orchestration/render/isolated/shard_worker.py
  bengal/orchestration/render/isolated/transport.py
  changelog.d/shard-generated-page-rendering.added.md
  plan/epic-shard-parallel-build.md
  tests/integration/test_shard_render_parity.py
  tests/unit/orchestration/render/test_shard_generated.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(render): shard backend byte-parity for sectioned per-page JSON (#418) + authored blog-list index (#419)
  bengal/core/page/navigation.py
  bengal/orchestration/build_context.py
  bengal/rendering/context/__init__.py
  changelog.d/418.fixed.md
  changelog.d/419.fixed.md
  plan/epic-shard-parallel-build.md
  tests/integration/test_shard_render_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(render): shard backend byte-parity for sectioned per-page JSON (#418) + authored blog-list index (#419) (#420)
  bengal/core/page/navigation.py
  bengal/orchestration/build_context.py
  bengal/rendering/context/__init__.py
  changelog.d/418.fixed.md
  changelog.d/419.fixed.md
  plan/epic-shard-parallel-build.md
  tests/integration/test_shard_render_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(meta): catch commented assert True forms in weak-assertion guard (#384)
  tests/meta/test_test_quality.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test(theme): add real external-theme build gate for chirp-ui (#362)
  tests/integration/test_external_theme_build.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(cli): standardize render-format vocabulary, drop duplicate --format row (#387)
  bengal/cli/format_options.py
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/cache.py
  bengal/cli/milo_commands/config.py
  bengal/cli/milo_commands/debug.py
  bengal/cli/milo_commands/inspect.py
  bengal/cli/milo_commands/theme.py
  bengal/cli/milo_commands/version.py
  changelog.d/387.changed.md
  tests/integration/test_git_versioned_builds.py
  tests/unit/cli/test_cli_format_vocabulary.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(cli): standardize render-format vocabulary, drop duplicate --format row (#387) (#421)
  bengal/cli/format_options.py
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/cache.py
  bengal/cli/milo_commands/config.py
  bengal/cli/milo_commands/debug.py
  bengal/cli/milo_commands/inspect.py
  bengal/cli/milo_commands/theme.py
  bengal/cli/milo_commands/version.py
  changelog.d/387.changed.md
  tests/integration/test_git_versioned_builds.py
  tests/unit/cli/test_cli_format_vocabulary.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(theme): add real external-theme build gate for chirp-ui (#362) (#422)
  tests/integration/test_external_theme_build.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test(meta): catch commented assert True forms in weak-assertion guard (#384) (#423)
  tests/meta/test_test_quality.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs(theme): correct EXPERIMENTAL.md to reflect opt-in/feature-detected holo CSS (#360)
  bengal/themes/default/assets/css/experimental/EXPERIMENTAL.md
  changelog.d/360.changed.md
Due: none

docs(theme): correct EXPERIMENTAL.md to reflect opt-in/feature-detected holo CSS (#360) (#424)
  bengal/themes/default/assets/css/experimental/EXPERIMENTAL.md
  changelog.d/360.changed.md
Due: none

docs(autodoc): add REST autodoc visual QA smoke checklist (#284)
  changelog.d/284.added.md
  docs/rest-autodoc-visual-qa-checklist.md
Due: none

feat(theme): governance for theme-library version contracts (#363)
  bengal/core/theme/providers.py
  changelog.d/363.added.md
  pyproject.toml
  site/content/docs/theming/themes/library-assets.md
  tests/unit/core/theme/test_providers.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(meta): convert inverted skip-guards to ratchets, de-vacuous href/manifest/track tests (#384)
  changelog.d/384.fixed.md
  tests/integration/test_href_templates.py
  tests/integration/test_incremental_output_formats.py
  tests/meta/test_test_quality.py
  tests/unit/health/validators/test_tracks.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test(render): give shard-parse reparse leg the same clean baseline as the oracle build (#376)
  changelog.d/376.fixed.md
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

ci(test): de-gate experimental shard-backend byte-parity tests to nightly known_gap lane (#376)
  .github/workflows/tests.yml
  changelog.d/shard-parity-degate.changed.md
  tests/integration/test_shard_render_parity.py
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

ci(test): de-gate experimental shard-backend byte-parity tests to nightly known_gap lane (#376) (#430)
  .github/workflows/tests.yml
  changelog.d/shard-parity-degate.changed.md
  tests/integration/test_shard_render_parity.py
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs(autodoc): add REST autodoc visual QA smoke checklist (#284) (#426)
  changelog.d/284.added.md
  docs/rest-autodoc-visual-qa-checklist.md
Due: none

test(meta): convert inverted skip-guards to ratchets, de-vacuous href/manifest/track tests (#384) (#428)
  changelog.d/384.fixed.md
  tests/integration/test_href_templates.py
  tests/integration/test_incremental_output_formats.py
  tests/meta/test_test_quality.py
  tests/unit/health/validators/test_tracks.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(theme): governance for theme-library version contracts (#363) (#427)
  bengal/core/theme/providers.py
  changelog.d/363.added.md
  pyproject.toml
  site/content/docs/theming/themes/library-assets.md
  tests/unit/core/theme/test_providers.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
