Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

layout
  bengal/autodoc/fallback/module.html
  bengal/rendering/template_functions/strings.py
  bengal/themes/default/assets/css/components/api-explorer.css
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/templates/api-reference/module.html
  bengal/themes/default/templates/api-reference/partials/attributes-table.html
  bengal/themes/default/templates/api-reference/partials/class-card.html
  bengal/themes/default/templates/api-reference/partials/function-card.html
  bengal/themes/default/templates/api-reference/partials/method-item.html
  bengal/themes/default/templates/api-reference/partials/parameters-table.html
  bengal/themes/default/templates/api-reference/partials/raises-list.html
  bengal/themes/default/templates/api-reference/partials/returns-section.html
  bengal/themes/default/templates/partials/page-hero-api.html
  bengal/themes/default/templates/partials/page-hero.html
Due: block-legacy-cli-imports

docs(plan): update autodoc incremental builds RFC with review analysis, answers, and implementation details
  bengal/autodoc/fallback/module.html
  bengal/autodoc/utils.py
  bengal/rendering/template_functions/__init__.py
  bengal/rendering/template_functions/autodoc.py
  bengal/themes/default/assets/css/components/api-docs.css
  bengal/themes/default/assets/css/components/api-explorer.css
  bengal/themes/default/templates/api-reference/partials/function-card.html
  bengal/themes/default/templates/api-reference/partials/method-item.html
  bengal/themes/default/templates/api-reference/partials/parameters-table.html
  bengal/themes/default/templates/api-reference/partials/returns-section.html
  plan/active/rfc-autodoc-incremental-builds.md
Due: block-legacy-cli-imports

autodoc: add incremental build support with selective page rebuilds; watch Python/OpenAPI source dirs
  bengal/autodoc/virtual_orchestrator.py
  bengal/cache/build_cache/autodoc_tracking.py
  bengal/cache/build_cache/core.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental.py
  bengal/server/build_handler.py
  bengal/server/dev_server.py
  changelog.md
  plan/implemented/rfc-autodoc-incremental-builds.md
Due: block-legacy-cli-imports

autodoc: add orphan cleanup for deleted source files; add autodoc tracking tests; update README with incremental docs
  bengal/autodoc/README.md
  bengal/orchestration/incremental.py
  tests/unit/cache/test_autodoc_tracking.py
Due: block-legacy-cli-imports

docs(plan): mark Phase 1 and Phase 2 items as completed in RFC
  plan/implemented/rfc-autodoc-incremental-builds.md
Due: none

rendering(strings): fix truncatewords_html to preserve HTML structure and close tags
  bengal/rendering/template_functions/strings.py
Due: block-legacy-cli-imports

tests(rendering): add truncatewords_html and filesize unit tests
  tests/unit/template_functions/test_strings.py
Due: none

core(site): add cached page path map with version-based invalidation for O(1) lookups
  bengal/core/site/core.py
  bengal/core/site/page_caches.py
Due: block-legacy-cli-imports

rendering(collections): use cached page path map in resolve_pages; add debug log for sort_by failures
  bengal/rendering/template_functions/collections.py
Due: block-legacy-cli-imports

docs(plan): move template functions robustness RFC and plan to completed
  plan/completed/plan-template-functions-robustness.md
  plan/completed/rfc-template-functions-robustness.md
Due: none

docs(changelog): add template functions robustness entry
  changelog.md
Due: none

search: fix HTML corruption in highlight matches by skipping HTML tags
  bengal/themes/default/assets/js/core/search.js
Due: none

color refinement
  bengal/rendering/template_functions/strings.py
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  bengal/themes/default/templates/api-reference/partials/parameters-table.html
  plan/active/plan-template-functions-robustness.md
Due: block-legacy-cli-imports

cli: simplify redundant None checks in wizard/presets; base: use dict.fromkeys for deduplication; cache: remove unnecessary bool() cast
  bengal/cache/build_cache/fingerprint.py
  bengal/cli/base.py
  bengal/cli/commands/new/presets.py
  bengal/cli/commands/new/wizard.py
  bengal/themes/default/assets/css/components/api-explorer.css
Due: block-string-based-click-cls, block-legacy-cli-imports

ci(pages): remove deprecated --autodoc flag; autodoc now configured via config/_default/autodoc.yaml
  .github/workflows/pages.yml
Due: none

rendering(directives): migrate DropdownDirective to BengalDirective base class - typed DropdownOptions, encapsulated render method, backward-compatible render_dropdown function
  bengal/rendering/plugins/directives/dropdown.py
Due: block-legacy-cli-imports

docs(plan): update directive-system-v2 plan - Phase 1 complete, pilot migration complete
  plan/active/plan-directive-system-v2.md
Due: none

docs(plan): update directive-system-v2 plan - Phase 2 migrations complete (tasks 2.4-2.9)
  plan/active/plan-directive-system-v2.md
Due: none

rendering(directives): migrate CardsDirective family to BengalDirective base class with typed options
  bengal/rendering/plugins/directives/cards.py
Due: block-legacy-cli-imports

rendering(directives): migrate AdmonitionDirective to BengalDirective with multi-name registration
  bengal/rendering/plugins/directives/admonitions.py
Due: block-legacy-cli-imports

docs(plan): update directive-system-v2 plan - tasks 2.10-2.11 complete
  plan/active/plan-directive-system-v2.md
Due: none

rendering(directives): migrate Checklist, Icon, CodeTabs, Navigation directives to BengalDirective base class
  bengal/rendering/plugins/directives/checklist.py
  bengal/rendering/plugins/directives/code_tabs.py
  bengal/rendering/plugins/directives/icon.py
  bengal/rendering/plugins/directives/navigation.py
Due: block-legacy-cli-imports

docs(plan): update directive-system-v2 plan - Phase 2 complete; document unmigrated directives
  plan/active/plan-directive-system-v2.md
Due: none

tests(directives): add integration tests for directive nesting validation; fix linting
  bengal/rendering/plugins/directives/admonitions.py
  bengal/rendering/plugins/directives/cards.py
  bengal/rendering/plugins/directives/code_tabs.py
  bengal/rendering/plugins/directives/navigation.py
  tests/integration/test_directive_nesting.py
Due: block-legacy-cli-imports

health(validators): fix ADMONITION_TYPES import from rendering package (single source of truth)
  bengal/health/validators/directives/constants.py
Due: block-legacy-cli-imports

docs(plan): update directive-system-v2 plan - Phase 3 validation complete
  plan/active/plan-directive-system-v2.md
Due: none

docs(directives): add README with architecture overview and migration guide; update changelog
  bengal/rendering/plugins/directives/README.md
  changelog.md
  plan/active/plan-directive-system-v2.md
Due: none

docs(plan): move directive-system-v2 RFC and plan to implemented
  plan/implemented/plan-directive-system-v2.md
  plan/implemented/rfc-directive-system-v2.md
Due: none

rendering(directives): fix line-too-long and indentation issues in directive files
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/plugins/directives/base.py
  bengal/rendering/plugins/directives/cache.py
  bengal/rendering/plugins/directives/cards.py
Due: block-legacy-cli-imports

updates
  bengal/themes/default/assets/css/layouts/header.css
Due: none

rendering(directives): add named closer syntax :::{/name} for closing directives without fence-depth counting
  bengal/rendering/plugins/directives/fenced.py
  plan/active/plan-site-directive-audit.md
  tests/unit/rendering/directives/test_named_closers.py
Due: block-legacy-cli-imports

docs(directives): add named closer syntax documentation to README and changelog
  bengal/rendering/plugins/directives/README.md
  changelog.md
Due: none

rendering(directives): add 'tab' as alias for 'tab-item'; convert site content to use named closers and shorter syntax
  bengal/rendering/plugins/directives/tabs.py
  site/content/docs/content/authoring/_index.md
  site/content/docs/tutorials/onboarding/from-docusaurus.md
  site/content/docs/tutorials/onboarding/from-hugo.md
Due: block-legacy-cli-imports

docs(site): remove all legacy redirect aliases from frontmatter; new site doesn't need them
  bengal/rendering/plugins/directives/validator.py
  site/content/docs/building/deployment/_index.md
  site/content/docs/content/collections/_index.md
  site/content/docs/content/reuse/filtering.md
  site/content/docs/content/reuse/snippets.md
  site/content/docs/content/sources/_index.md
  site/content/docs/extending/analysis/graph.md
  site/content/docs/get-started/_index.md
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-contributor.md
  site/content/docs/get-started/quickstart-themer.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/theming/recipes/_index.md
  site/content/docs/theming/themes/customize.md
  site/content/docs/tutorials/automate-with-github-actions.md
  site/content/docs/tutorials/build-a-blog.md
  site/content/docs/tutorials/migrate-from-hugo.md
  site/content/docs/tutorials/onboarding/from-hugo.md
  site/content/docs/tutorials/swizzle-default-theme.md
Due: block-legacy-cli-imports

health(validator): update fence nesting validator to recognize named closers; skip code blocks; recommend named closers for complex nesting
  bengal/rendering/plugins/directives/validator.py
Due: block-legacy-cli-imports

docs(site): convert remaining complex tab-sets to named closers in from-hugo.md
  site/content/docs/tutorials/onboarding/from-hugo.md
Due: none

tests: fix incremental build tests to use compressed cache path (.json.zst)
  site/content/cli/debug/config-inspect.md
  site/content/cli/debug/sandbox.md
  tests/integration/test_full_to_incremental_sequence.py
Due: none

rendering(directives): only warn about contract violations when source location is known; suppresses noise from example/secondary parsing
  bengal/rendering/plugins/directives/base.py
  plan/active/rfc-media-embed-directives.md
Due: block-legacy-cli-imports

health: fix output validator crash on relative_to failure; docs: fix broken /cli/ links and false positive link detection in migration guide
  bengal/health/validators/output.py
  site/content/docs/content/collections/_index.md
  site/content/docs/extending/analysis/graph.md
  site/content/docs/reference/architecture/subsystems/analysis.md
  site/content/docs/tutorials/onboarding/from-sphinx.md
Due: block-legacy-cli-imports
