Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

patitas(phase2): implement directive and role systems for extensible markup
  bengal/rendering/parsers/patitas/lexer.py
  tests/unit/rendering/parsers/patitas/test_directives.py
Due: block-legacy-cli-imports

docs(plan): draft RFC for Bengal directive migration to native Patitas
  plan/drafted/rfc-patitas-bengal-directive-migration.md
Due: none

patitas(directives): port Bengal admonition, dropdown, tabs with full options
  bengal/rendering/parsers/patitas/directives/builtins/admonition.py
  bengal/rendering/parsers/patitas/directives/builtins/dropdown.py
  bengal/rendering/parsers/patitas/directives/builtins/tabs.py
  plan/drafted/rfc-patitas-bengal-directive-migration.md
  plan/drafted/rfc-patitas-markdown-parser.md
  tests/unit/rendering/parsers/patitas/test_directives.py
Due: block-legacy-cli-imports

patitas(directives): add container and steps directives
  bengal/rendering/parsers/patitas/directives/builtins/__init__.py
  bengal/rendering/parsers/patitas/directives/builtins/container.py
  bengal/rendering/parsers/patitas/directives/builtins/steps.py
  bengal/rendering/parsers/patitas/directives/registry.py
Due: block-legacy-cli-imports

tests(migration): add Phase A.1 test infrastructure for directive parity testing
  benchmarks/test_patitas_memory.py
  benchmarks/test_patitas_performance.py
  benchmarks/test_patitas_threading.py
  bengal/rendering/parsers/patitas/__init__.py
  bengal/rendering/parsers/patitas/nodes.py
  bengal/rendering/parsers/patitas/parser.py
  bengal/rendering/parsers/patitas/plugins/__init__.py
  bengal/rendering/parsers/patitas/plugins/autolinks.py
  bengal/rendering/parsers/patitas/plugins/footnotes.py
  bengal/rendering/parsers/patitas/plugins/math.py
  bengal/rendering/parsers/patitas/plugins/strikethrough.py
  bengal/rendering/parsers/patitas/plugins/table.py
  bengal/rendering/parsers/patitas/plugins/task_lists.py
  bengal/rendering/parsers/patitas/renderers/html.py
  bengal/rendering/parsers/patitas/tokens.py
  bengal/rendering/parsers/patitas/wrapper.py
  plan/drafted/rfc-patitas-bengal-directive-migration.md
  plan/drafted/rfc-patitas-markdown-parser.md
  tests/migration/README.md
  tests/migration/__init__.py
  tests/migration/conftest.py
  tests/migration/golden_files/.gitkeep
  tests/migration/test_directive_edge_cases.py
  tests/migration/test_directive_parity.py
Due: block-legacy-cli-imports

fix(patitas): achieve 43/43 directive parity tests, 74/79 edge cases
  bengal/rendering/parsers/patitas/directives/builtins/admonition.py
  bengal/rendering/parsers/patitas/directives/builtins/container.py
  bengal/rendering/parsers/patitas/directives/builtins/dropdown.py
  bengal/rendering/parsers/patitas/directives/builtins/steps.py
  bengal/rendering/parsers/patitas/directives/builtins/tabs.py
  bengal/rendering/parsers/patitas/lexer.py
  bengal/rendering/parsers/patitas/renderers/html.py
  plan/drafted/rfc-patitas-markdown-parser.md
  tests/migration/test_directive_parity.py
Due: block-legacy-cli-imports

docs(rfc): update migration RFC with Phase A.1 completion status
  plan/drafted/rfc-patitas-bengal-directive-migration.md
Due: none

rules(patitas): add cards directive system (Phase B.1 complete); 17/17 parity tests passing
  bengal/rendering/parsers/patitas/directives/builtins/__init__.py
  bengal/rendering/parsers/patitas/directives/builtins/cards.py
  bengal/rendering/parsers/patitas/directives/contracts.py
  bengal/rendering/parsers/patitas/directives/registry.py
  plan/drafted/rfc-patitas-bengal-directive-migration.md
  tests/migration/test_directive_parity.py
Due: block-legacy-cli-imports

rules(patitas): add content directives (Phase B.2 complete); checklist, media, tables
  bengal/rendering/parsers/patitas/directives/builtins/__init__.py
  bengal/rendering/parsers/patitas/directives/builtins/checklist.py
  bengal/rendering/parsers/patitas/directives/builtins/media.py
  bengal/rendering/parsers/patitas/directives/builtins/tables.py
  bengal/rendering/parsers/patitas/directives/registry.py
  plan/drafted/rfc-patitas-bengal-directive-migration.md
Due: block-legacy-cli-imports

docs(plan): add RFC for Patitas directive ergonomics improvements
  plan/drafted/rfc-patitas-directive-ergonomics.md
Due: none

patitas(directives): complete Phase D integration — registry with 54 handlers, parser factory deprecation
  benchmarks/test_directive_performance.py
  bengal/config/types.py
  bengal/errors/__init__.py
  bengal/errors/exceptions.py
  bengal/rendering/parsers/__init__.py
  bengal/rendering/parsers/patitas/directives/builtins/__init__.py
  bengal/rendering/parsers/patitas/directives/builtins/admonition.py
  bengal/rendering/parsers/patitas/directives/builtins/button.py
  bengal/rendering/parsers/patitas/directives/builtins/cards.py
  bengal/rendering/parsers/patitas/directives/builtins/checklist.py
  bengal/rendering/parsers/patitas/directives/builtins/code_tabs.py
  bengal/rendering/parsers/patitas/directives/builtins/container.py
  bengal/rendering/parsers/patitas/directives/builtins/data_table.py
  bengal/rendering/parsers/patitas/directives/builtins/dropdown.py
  bengal/rendering/parsers/patitas/directives/builtins/embed.py
  bengal/rendering/parsers/patitas/directives/builtins/include.py
  bengal/rendering/parsers/patitas/directives/builtins/inline.py
  bengal/rendering/parsers/patitas/directives/builtins/media.py
  bengal/rendering/parsers/patitas/directives/builtins/misc.py
  bengal/rendering/parsers/patitas/directives/builtins/navigation.py
  bengal/rendering/parsers/patitas/directives/builtins/steps.py
  bengal/rendering/parsers/patitas/directives/builtins/tables.py
  bengal/rendering/parsers/patitas/directives/builtins/tabs.py
  bengal/rendering/parsers/patitas/directives/builtins/versioning.py
  bengal/rendering/parsers/patitas/directives/builtins/video.py
  bengal/rendering/parsers/patitas/directives/decorator.py
  bengal/rendering/parsers/patitas/directives/protocol.py
  bengal/rendering/parsers/patitas/directives/registry.py
  bengal/rendering/parsers/patitas/nodes.py
  bengal/rendering/parsers/patitas/parser.py
  plan/drafted/rfc-patitas-bengal-directive-migration.md
  plan/drafted/rfc-patitas-directive-ergonomics.md
  tests/unit/rendering/parsers/patitas/test_directives.py
Due: block-legacy-cli-imports

patitas(renderer): integrate directive registry and fix rosettes import
  benchmarks/test_directive_performance.py
  bengal/rendering/parsers/patitas/__init__.py
  bengal/rendering/parsers/patitas/renderers/html.py
  scripts/compare_parsers.py
Due: block-legacy-cli-imports

tests and cleanup
  bengal/autodoc/extractors/python/extractor.py
  bengal/discovery/content_discovery.py
  bengal/health/validators/config.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/taxonomy.py
  rendering/parsers/patitas/__init__.py
  site/content/docs/reference/directives/admonitions.md
Due: block-legacy-cli-imports

update
  site/content/docs/tutorials/onboarding/from-docusaurus.md
  site/content/docs/tutorials/onboarding/from-fern.md
Due: none

lexer fix
  plan/drafted/rfc-code-smell-remediation.md
  plan/drafted/rfc-patitas-structural-validation.md
  tests/unit/rendering/parsers/patitas/test_directives.py
  tests/unit/rendering/parsers/patitas/test_lexer_window.py
  tests/unit/rendering/test_parser_configuration.py
Due: none

docs(rfc): update code-smell-remediation status to Implemented; tests: add dispatch table and graph_visualizer tests
  APPLY_PATCH_SMOKE_TEST.txt
  plan/drafted/rfc-code-smell-remediation.md
  scripts/test_kida_debug.py
  test_lexer_debug.py
  test_lexer_simple.py
  test_lexer_trace.py
  tests/unit/analysis/test_graph_visualizer.py
  tests/unit/rendering/kida/test_dispatch_table.py
Due: none

updates
  bengal/cli/commands/build.py
  bengal/config/build_options_resolver.py
  bengal/core/site/core.py
  bengal/health/report.py
  bengal/health/validators/directives/__init__.py
  bengal/health/validators/directives/analysis.py
  bengal/health/validators/directives/checkers.py
  bengal/health/validators/directives/constants.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/options.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/render.py
  bengal/rendering/parsers/patitas/directives/builtins/misc.py
  bengal/rendering/pipeline/__init__.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/pipeline/write_behind.py
  bengal/server/build_executor.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/utils/build_context.py
  plan/drafted/rfc-unified-config-resolution.md
  site/config/_default/build.yaml
  site/config/environments/local.yaml
  site/config/environments/production.yaml
  site/content/docs/reference/directives/media.md
  tests/unit/cli/test_build_flags.py
  tests/unit/config/test_build_options_resolver.py
  tests/unit/health/test_directive_validator.py
  tests/unit/health/test_directive_validator_fences.py
  tests/unit/server/test_response_wrapper.py
Due: block-string-based-click-cls, block-legacy-cli-imports

fixes
  tests/_testing/fixtures.py
  tests/unit/cli/test_build_flags.py
  tests/unit/config/test_build_options_resolver.py
  tests/unit/health/test_health_report.py
  tests/unit/orchestration/test_build_options.py
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/orchestration/test_render_orchestrator.py
  tests/unit/rendering/test_action_bar_llm_urls.py
Due: none

fix
  tests/integration/test_baseurl_builds.py
Due: none

patitas(child-cards): fix placeholder bug; pass page_context through render pipeline
  bengal/rendering/parsers/patitas/__init__.py
  bengal/rendering/parsers/patitas/directives/builtins/cards.py
  bengal/rendering/parsers/patitas/renderers/html.py
  bengal/rendering/parsers/patitas/wrapper.py
  tests/rendering/parsers/patitas/test_page_context_directives.py
Due: block-legacy-cli-imports

docs(kida): revert previous change; native parser supports Jinja2 syntax (endif, endfor, | filter)
  site/content/docs/theming/templating/kida/_index.md
  site/content/docs/theming/templating/kida/performance.md
  site/content/docs/theming/templating/kida/syntax/_index.md
Due: none

plan(drafted): add RFC for cache invalidation fixes addressing incremental build bugs
  plan/drafted/rfc-cache-invalidation-fixes.md
  site/content/docs/reference/architecture/core/data-flow.md
  site/content/docs/reference/architecture/core/orchestration.md
  site/content/docs/reference/architecture/core/pipeline.md
  site/content/docs/reference/architecture/design-principles.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/docs/reference/architecture/rendering/assets-pipeline.md
  site/content/docs/reference/architecture/rendering/content-processing-api.md
  site/content/docs/reference/architecture/rendering/rendering.md
  site/content/docs/reference/architecture/subsystems/autodoc.md
  site/content/docs/reference/architecture/tooling/utils.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/errors/_index.md
  site/content/docs/reference/template-functions.md
  site/content/docs/reference/theme-variables.md
Due: none

docs(plan): draft RFC for cache lifecycle hardening
  plan/drafted/rfc-cache-lifecycle-hardening.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/kida-syntax.md
  site/content/docs/theming/templating/kida/caching/fragments.md
  site/content/docs/theming/templating/kida/create-custom-template.md
  site/content/docs/theming/templating/kida/syntax/functions.md
  site/content/docs/theming/templating/kida/syntax/operators.md
  site/content/docs/theming/templating/kida/syntax/variables.md
  site/content/docs/tutorials/getting-started-with-kida.md
Due: none

docs(plan): draft RFC for code quality improvements (non-cache)
  plan/drafted/kida-filters-comparison.md
  plan/drafted/rfc-cache-lifecycle-hardening-evaluation.md
  plan/drafted/rfc-cache-lifecycle-hardening.md
  plan/drafted/rfc-code-quality-improvements.md
Due: none

template_functions: add 13 new filters for best-in-class templating
  bengal/cache/query_index.py
  bengal/cache/taxonomy_index.py
  bengal/core/nav_tree.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/render.py
  bengal/rendering/context/__init__.py
  bengal/rendering/template_functions/advanced_strings.py
  bengal/rendering/template_functions/content.py
  bengal/rendering/template_functions/dates.py
  bengal/rendering/template_functions/strings.py
  bengal/rendering/template_functions/urls.py
  bengal/rendering/template_functions/version_url.py
  bengal/utils/build_context.py
  bengal/utils/cache_registry.py
  plan/drafted/kida-filters-comparison.md
  plan/drafted/rfc-code-quality-improvements.md
  site/content/docs/reference/kida-syntax.md
  tests/unit/cache/test_cache_registry.py
  tests/unit/template_functions/test_advanced_strings.py
  tests/unit/template_functions/test_content.py
  tests/unit/template_functions/test_dates.py
  tests/unit/template_functions/test_strings.py
  tests/unit/template_functions/test_urls.py
Due: block-legacy-cli-imports

syntax-highlighter: add Kida template syntax highlighting v1.1.0; add operators, keywords, language config
  bengal-syntax-highlighter/CHANGELOG.md
  bengal-syntax-highlighter/README.md
  bengal-syntax-highlighter/package.json
  bengal-syntax-highlighter/syntaxes/kida.tmLanguage.json
Due: none

fix
  tests/unit/cache/test_dependency_tracker.py
Due: none

docs(plan): add RFC for navigation labels (section dividers) in sidebar nav
  plan/rfc-nav-labels.md
  plan/rfc-template-object-model.md
Due: none

docs(plan): add comprehensive competitive analysis to nav labels RFC
  bengal/config/defaults.py
  bengal/rendering/parsers/patitas/renderers/html.py
  plan/rfc-nav-labels.md
  tests/integration/test_autodoc_output_prefix.py
  tests/integration/test_documentation_builds.py
  tests/integration/test_llm_txt_integration.py
  tests/integration/test_logging_integration.py
Due: block-legacy-cli-imports

core(page): implement RFC Template Object Model Phase 1 - add _source, word_count properties
  bengal/core/page/computed.py
  bengal/rendering/context/__init__.py
  bengal/themes/default/templates/archive-year.html
  bengal/themes/default/templates/author/single.html
  bengal/themes/default/templates/blog/list.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/components/article.html
  bengal/themes/default/templates/partials/docs-meta.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  plan/rfc-template-object-model.md
  tests/unit/core/test_page_cached_properties.py
Due: block-legacy-cli-imports

test fixes
  tests/unit/content_layer/test_entry.py
  tests/unit/content_layer/test_manager.py
Due: none
