Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

cli(help): sanitize docstrings and suppress Click default sections when rich is active; avoid duplicate 'Commands' blocks
  bengal/cli/base.py
Due: block-string-based-click-cls, block-legacy-cli-imports

ui(rich): make mouse style bold to match bengal cat weight
  bengal/cli/commands/project.py
  bengal/utils/rich_console.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: theme unknown-command error using CLIOutput with mouse panel and suggestions
  bengal/cli/base.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(typo): render suggestions with phase style instead of link for consistent color
  bengal/cli/base.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(tip): add CLIOutput.tip style and use it for unknown-command hint; theme adds 'tip' style
  bengal/cli/base.py
  bengal/utils/cli_output.py
  bengal/utils/rich_console.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(tip): convert guidance lines across commands to use cli.tip; keep headers as-is
  bengal/cli/commands/autodoc.py
  bengal/cli/commands/clean.py
  bengal/cli/commands/graph/bridges.py
  bengal/cli/commands/graph/pagerank.py
  bengal/cli/commands/graph/suggest.py
  bengal/cli/commands/init.py
  bengal/cli/commands/new.py
  bengal/cli/commands/project.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(typo): use 'raise SystemExit(2) from None' to remove Click footer and satisfy lint
  bengal/cli/base.py
Due: block-string-based-click-cls, block-legacy-cli-imports

server: lazy-export DevServer to avoid importing watchdog for non-serve commands; dev_server: prefer polling observer on Python 3.14t via auto-detection and BENGAL_WATCHDOG_BACKEND override
  bengal/cli/base.py
  bengal/server/__init__.py
  bengal/server/dev_server.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(help): tighten spacing between Usage and Commands; dim-style group/command help text
  bengal/cli/base.py
Due: block-string-based-click-cls, block-legacy-cli-imports

refactor(cli): address PR code review feedback - simplify redundant conditionals, remove unused options, add docstring
  bengal/cli/commands/graph/bridges.py
  bengal/cli/commands/init.py
  bengal/cli/commands/perf.py
  bengal/cli/commands/project.py
  bengal/rendering/template_functions/navigation.py
  bengal/server/__init__.py
  bengal/tests/unit/rendering/test_mistune_parser.py
  tests/unit/rendering/test_favicon.py
  tests/unit/rendering/test_mistune_parser.py
  tests/unit/rendering/test_navigation_templates_baseurl.py
Due: block-string-based-click-cls, block-legacy-cli-imports

lint
  tests/integration/stateful/test_build_workflows.py
  tests/integration/test_phase2b_cache_integration.py
Due: none

themes(default): child tiles use relative URLs; apply | absolute_url in anchors; fix pagination links to use baseurl at render time
  bengal/themes/default/templates/partials/content-components.html
  bengal/themes/default/templates/partials/navigation-components.html
Due: none

core(urls): add Page.permalink and Section.permalink (baseurl-applied); templates: expose short | url filter alias for migration ergonomics
  bengal/core/page/metadata.py
  bengal/core/section.py
  bengal/rendering/template_functions/urls.py
Due: block-legacy-cli-imports

themes(default): migrate links to identity/display pattern; use .permalink or | url for anchors; remove url_for usage in templates; fix remaining raw .url hrefs
  bengal/themes/default/templates/archive-year.html
  bengal/themes/default/templates/archive.html
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/blog/list.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/category-browser.html
  bengal/themes/default/templates/changelog/list.html
  bengal/themes/default/templates/cli-reference/list.html
  bengal/themes/default/templates/home.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/content-components.html
  bengal/themes/default/templates/partials/docs-nav-section.html
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/post.html
  bengal/themes/default/templates/tutorial/list.html
  bengal/themes/default/templates/tutorial/single.html
Due: none

tests(perf): update benchmark templates to use .permalink over url_for; maintain identity/display pattern in examples
  tests/performance/benchmark_template_complexity.py
Due: none

update
  bengal/cli/commands/clean.py
Due: block-string-based-click-cls, block-legacy-cli-imports

Update bengal/themes/default/templates/blog/list.html
  bengal/themes/default/templates/blog/list.html
Due: none

themes(default): replace url_for with .permalink in section nav and API list; child tiles store permalink and render via filter alias | url; unify anchor hrefs to display-ready URLs
  bengal/themes/default/templates/api-reference/list.html
  bengal/themes/default/templates/partials/content-components.html
  bengal/themes/default/templates/partials/navigation-components.html
Due: none

themes(api-docs): improve mobile readability of autodoc tables; renderer adds data-labels; CSS stacks rows, shows labels; normalize '-' to em dash
  bengal/rendering/plugins/directives/list_table.py
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/api-docs.css
  bengal/themes/default/assets/css/components/navigation.css
Due: block-legacy-cli-imports

theme(footer): make bengal badge minimal icon-only with tooltip; enhance cat animation for tiny size and add hover flick; remove pill styling and add accessible title/aria-label
  bengal/themes/default/assets/css/RESPONSIVE_DESIGN_SYSTEM.md
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/layouts/footer.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/templates/base.html
Due: none

dev(server): reduce spurious reloads; stronger dev no-cache; skip reload on skipped build; improve watcher ignores; increase debounce to 300ms
  bengal/server/build_handler.py
  bengal/server/live_reload.py
  bengal/server/request_handler.py
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/tokens/semantic.css
Due: block-legacy-cli-imports

docs(plan): propose robust dev reload architecture (OutputDiff, ReloadController, policy, tests)
  plan/active/dev-reload-refactor-proposal.md
Due: none

theme(xxsmall): add xxs compaction for code block toolbar and tags; adopt --breakpoint-xxs convention (399px) for small phones
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/components/tags.css
Due: none

server(dev): guard Cache-Control header check with bytes in end_headers
  bengal/server/build_handler.py
  bengal/server/request_handler.py
Due: block-legacy-cli-imports

dev(server): Phase 1 - introduce ReloadController with output-diff decisions; send structured SSE (JSON) with reasons and changed paths; wire into BuildHandler
  bengal/server/build_handler.py
  bengal/server/live_reload.py
  bengal/server/reload_controller.py
Due: block-legacy-cli-imports

dev(server): address PR feedback #29 - expose send_reload_payload API; use monotonic clock; factor max changed paths constant; update BuildHandler to use public API
  bengal/server/build_handler.py
  bengal/server/live_reload.py
  bengal/server/reload_controller.py
Due: block-legacy-cli-imports

theme(search): resolve index.json under baseurl; add meta bengal:index_url and compute indexUrl in search.js to fix GitHub Pages pathing
  bengal/themes/default/assets/js/search.js
  bengal/themes/default/templates/base.html
Due: none

fix
  bengal/themes/default/templates/base.html
Due: none

dev(server): Phase 2 - centralize dev no-cache headers helper; config/env for watcher backend and debounce; keep tests green
  bengal/server/build_handler.py
  bengal/server/dev_server.py
  bengal/server/request_handler.py
  bengal/server/utils.py
  plan/active/roadmap-90-days.md
Due: block-legacy-cli-imports

dev(server): add tests for ReloadController, dev header utility, and debounce config; address PR #30 with config helpers and safe int parsing
  bengal/server/build_handler.py
  bengal/server/dev_server.py
  bengal/server/utils.py
  tests/unit/server/test_reload_controller.py
  tests/unit/server/test_server_utils.py
Due: block-legacy-cli-imports

dev(server): Phase 3 start - dev include for live reload; add client live-reload.js; base.html includes dev snippet when dev_server active
  bengal/themes/default/assets/js/live-reload.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/dev-reload.html
Due: none

dev(server): Phase 3 - keep HTML injection during transition; dev include present; add client live-reload.js
  bengal/server/request_handler.py
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/dev-reload.html
Due: block-legacy-cli-imports

tests(plan): add Sphinx-inspired testing strategy plan; propose roots, bengal marker, shared fixtures, HTTP server utils, output normalization/snapshots, CLI runner, and cached parse fixtures
  bengal/server/request_handler.py
  plan/active/testing-strategy-enhancements.md
  tests/unit/server/test_live_reload_injection.py
  tests/unit/server/test_request_handler.py
Due: block-legacy-cli-imports

dev(client): address PR #31 feedback - avoid duplicate load listeners; DRY reload action handling in live-reload.js
  bengal/themes/default/assets/js/live-reload.js
Due: none

server(dev_server): fix line length violations in dev_server.py and cli_output.py
  bengal/server/dev_server.py
  bengal/utils/cli_output.py
Due: block-legacy-cli-imports

tests: eliminate 95% long-tail via fixture scoping and slow markers; reduce suite from 5-6min to ~1min
  tests/README.md
  tests/integration/stateful/test_build_workflows.py
  tests/integration/test_output_quality.py
Due: none

docs(plan): add testing strategy RFC v2 with Phase 0 analysis and visual guides
  plan/active/TESTING_SUMMARY.md
  plan/active/TESTING_VISUAL_SUMMARY.md
  plan/active/test-performance-analysis.md
  plan/active/testing-strategy-enhancements-v2.md
Due: none

ci: add CI env var for Hypothesis profile selection; provide fast-check option
  .github/CI_IMPROVEMENTS.md
  .github/workflows/tests-improved.yml.suggestion
  .github/workflows/tests.yml
Due: none

docs: fix Copilot PR feedback - complete code examples and correct pytest_plugins
  plan/active/testing-strategy-enhancements-v2.md
  tests/README.md
Due: none

fix: address Copilot's 5 additional PR feedback items
  .github/CI_IMPROVEMENTS.md
  tests/integration/stateful/test_build_workflows.py
Due: none

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
