Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

docs: add steward consultation workflow
  AGENTS.md
Due: none

docs: add steward consultation workflow (#248)
  AGENTS.md
Due: none

server: restore template dependency rebuild path
  bengal/orchestration/incremental/orchestrator.py
  bengal/server/build_trigger.py
  changelog.d/template-hmr-steward-slice.fixed.md
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: restore template dependency rebuild path (#249)
  bengal/orchestration/incremental/orchestrator.py
  bengal/server/build_trigger.py
  changelog.d/template-hmr-steward-slice.fixed.md
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: add page record migration substrate
  bengal/content/discovery/content_discovery.py
  bengal/core/page/__init__.py
  bengal/core/records.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  site/content/docs/reference/architecture/core/object-model.md
  tests/_testing/README.md
  tests/_testing/page_records.py
  tests/unit/core/test_page_record_migration.py
  tests/unit/core/test_source_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: trim page dual-write bridges
  bengal/content/discovery/content_discovery.py
  bengal/core/page/__init__.py
  bengal/core/records.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/server/reactive/handler.py
  site/content/docs/reference/architecture/core/object-model.md
  tests/unit/core/test_page_record_migration.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: trim page dual-write bridges (#251)
  bengal/content/discovery/content_discovery.py
  bengal/core/page/__init__.py
  bengal/core/records.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/server/reactive/handler.py
  site/content/docs/reference/architecture/core/object-model.md
  tests/unit/core/test_page_record_migration.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli; orchestration: add plugin readiness introspection
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/plugin.py
  bengal/orchestration/build/__init__.py
  bengal/plugins/inspection.py
  bengal/plugins/integration.py
  changelog.d/plugin-cli-introspection.added.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/core/orchestration.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/docs/reference/architecture/tooling/cli.md
  tests/unit/cli/test_milo_parser_construction.py
  tests/unit/cli/test_plugin_command.py
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/plugins/test_plugin_inspection.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

[codex] Add page record migration substrate (#250)
  bengal/content/discovery/content_discovery.py
  bengal/core/page/__init__.py
  bengal/core/records.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/server/reactive/handler.py
  site/content/docs/reference/architecture/core/object-model.md
  tests/_testing/README.md
  tests/_testing/page_records.py
  tests/unit/core/test_page_record_migration.py
  tests/unit/core/test_source_page.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

plugins: address inspection review comments
  bengal/plugins/inspection.py
  tests/unit/plugins/test_plugin_inspection.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli; orchestration: add plugin readiness introspection (#252)
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/plugin.py
  bengal/orchestration/build/__init__.py
  bengal/plugins/inspection.py
  bengal/plugins/integration.py
  changelog.d/plugin-cli-introspection.added.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/core/orchestration.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/docs/reference/architecture/tooling/cli.md
  tests/unit/cli/test_milo_parser_construction.py
  tests/unit/cli/test_plugin_command.py
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/plugins/test_plugin_inspection.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: advertise llms txt from generated pages
  bengal/postprocess/output_formats/md_generator.py
  bengal/themes/default/templates/base.html
  changelog.d/agent-score-directives.fixed.md
  site/content/docs/building/ai-native-output.md
  site/content/docs/building/output-formats.md
  tests/unit/postprocess/test_md_generator.py
  tests/unit/rendering/test_template_links_baseurl.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

rendering: put docs content before sidebars
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/doc/single.html
  changelog.d/agent-score-content-start.fixed.md
  tests/unit/rendering/test_docs_template_order.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

rendering: mirror generated content in markdown
  bengal/postprocess/output_formats/md_generator.py
  bengal/rendering/html_markdown.py
  changelog.d/agent-score-markdown-parity.fixed.md
  tests/unit/postprocess/test_md_generator.py
  tests/unit/rendering/test_html_markdown.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: gate view transition assets
  bengal/themes/default/assets/css/base/transitions.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/templates/base.html
  changelog.d/preview-view-transitions.fixed.md
  tests/unit/rendering/test_view_transitions.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

server: make reload-page route aware
  bengal/server/live_reload/script.py
  changelog.d/preview-route-aware-reload.fixed.md
  tests/unit/server/test_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: track only changed html outputs
  bengal/rendering/pipeline/output.py
  changelog.d/preview-byte-stable-reload.fixed.md
  tests/unit/rendering/test_write_output_rendered_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: pin preview route stability
  tests/integration/test_preview_route_stability.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

orchestration: skip cold provenance verification
  bengal/orchestration/build/provenance_filter.py
  tests/integration/test_incremental_cache_stability.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: make markdown mirrors lazy
  bengal/postprocess/output_formats/md_generator.py
  tests/unit/postprocess/test_md_generator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: time output format generators
  bengal/postprocess/output_formats/__init__.py
  tests/unit/postprocess/test_output_formats_config.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: avoid full-build output compares
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  tests/unit/rendering/test_write_output_rendered_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: note build performance fixes
  changelog.d/build-performance-diagnosis.fixed.md
Due: none

rendering: preserve lazy kida context
  bengal/rendering/engines/kida.py
  tests/unit/rendering/engines/test_engine_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: cache kida template dependencies
  bengal/rendering/engines/kida.py
  tests/unit/rendering/engines/test_engine_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: pass incremental health context
  bengal/orchestration/build/__init__.py
  tests/unit/orchestration/test_build_orchestrator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

incremental: reuse fingerprint fast paths
  bengal/orchestration/build/provenance_filter.py
  tests/unit/orchestration/build/test_provenance_filter_path_keys.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: memoize section version content
  bengal/core/section/hierarchy.py
  bengal/core/section/navigation.py
  bengal/core/section/queries.py
  tests/unit/core/test_section_versioning.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: remove nav proxy locks
  bengal/core/nav_tree.py
  tests/unit/test_nav_tree.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

incremental: repair missing postprocess artifacts
  bengal/orchestration/build/provenance_filter.py
  tests/integration/warm_build/test_dependency_gaps.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: note steward performance followups
  changelog.d/steward-performance-followups.fixed.md
Due: none

rendering: keep kida globals in lazy context
  bengal/rendering/engines/kida.py
  tests/unit/rendering/engines/test_engine_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: detect occupied localhost ports
  bengal/server/dev_server.py
  bengal/server/pid_manager.py
  changelog.d/dev-server-port-probe.fixed.md
  tests/integration/test_resource_cleanup.py
  tests/unit/server/test_dev_server_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering; server: address pr feedback
  bengal/orchestration/build/provenance_filter.py
  bengal/rendering/pipeline/output.py
  bengal/server/pid_manager.py
  tests/integration/test_resource_cleanup.py
  tests/unit/orchestration/build/test_provenance_filter_path_keys.py
  tests/unit/rendering/test_write_output_rendered_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: strengthen steward guidance
  AGENTS.md
  bengal/cache/AGENTS.md
  bengal/core/AGENTS.md
  bengal/orchestration/build/AGENTS.md
  bengal/orchestration/incremental/AGENTS.md
  bengal/protocols/AGENTS.md
  bengal/rendering/AGENTS.md
  bengal/themes/default/AGENTS.md
  plan/AGENTS.md
  site/AGENTS.md
  tests/AGENTS.md
Due: none

cache: restore ci cache input helper
  bengal/cache/ci.py
  changelog.d/cache-hash-runtime.fixed.md
  tests/integration/test_cli_smoke.py
  tests/unit/cache/test_ci_inputs.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: cover configured ci hash inputs
  bengal/cache/ci.py
  bengal/cli/milo_commands/cache.py
  tests/integration/test_cli_smoke.py
  tests/unit/cache/test_ci_inputs.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: add cli runtime smoke manifest
  .github/workflows/python-publish.yml
  bengal/cli/milo_commands/theme.py
  changelog.d/cache-hash-runtime.fixed.md
  tests/integration/test_cli_smoke.py
  tests/integration/test_wheel_install.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
