Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

core(include): add recursion guard with MAX_INCLUDE_DEPTH=10 and cycle detection; tests: add robustness test suite
  bengal/rendering/plugins/directives/include.py
  tests/unit/rendering/test_include_directive.py
Due: block-legacy-cli-imports

docs(plan): update security audit - mark recursive include as FIXED; revise threat model for SSG context
  plan/active/security-audit-findings.md
Due: none

config: add MagicMock/ to gitignore; cleanup leaked test artifacts
  .gitignore
Due: none

tests(orchestration): use tmp_path instead of MagicMock for root_path to prevent file leaks
  tests/unit/orchestration/test_build_orchestrator.py
Due: none

fix: correct directive fence regex closing pattern; update tests to use colon fences (:::)
  MagicMock/mock.root_path.__truediv__().__truediv__()/4345583456
  MagicMock/mock.root_path.__truediv__().__truediv__()/4349574560
  MagicMock/mock.root_path.__truediv__().__truediv__()/4351920176
  MagicMock/mock.root_path.__truediv__().__truediv__()/4367704064
  MagicMock/mock.root_path.__truediv__().__truediv__()/4383524672
  MagicMock/mock.root_path.__truediv__().__truediv__()/4384701616
  MagicMock/mock.root_path.__truediv__().__truediv__()/4386659776
  MagicMock/mock.root_path.__truediv__().__truediv__()/4386925808
  MagicMock/mock.root_path.__truediv__().__truediv__()/4401897472
  MagicMock/mock.root_path.__truediv__().__truediv__()/4409226592
  MagicMock/mock.root_path.__truediv__().__truediv__()/4410581424
  MagicMock/mock.root_path.__truediv__().__truediv__()/4413986032
  MagicMock/mock.root_path.__truediv__().__truediv__()/4416399472
  MagicMock/mock.root_path.__truediv__().__truediv__()/4422684496
  MagicMock/mock.root_path.__truediv__().__truediv__()/4425326592
  MagicMock/mock.root_path.__truediv__().__truediv__()/4432857856
  MagicMock/mock.root_path.__truediv__().__truediv__()/4568478736
  MagicMock/mock.root_path.__truediv__().__truediv__()/4602272160
  MagicMock/mock.root_path.__truediv__().__truediv__()/4626582848
  MagicMock/mock.root_path.__truediv__().__truediv__()/4698997968
  bengal/health/validators/directives.py
  tests/unit/health/test_directive_validator.py
Due: block-legacy-cli-imports

docs(plan): add RFC for edge case hardening with 3-phase implementation plan
  plan/active/rfc-edge-case-hardening.md
Due: none

core(security): implement Phase 1 edge case hardening - actual link validation, include file size limits (10MB), symlink rejection, discovery symlink loop protection
  bengal/discovery/content_discovery.py
  bengal/rendering/link_validator.py
  bengal/rendering/plugins/directives/include.py
  bengal/rendering/plugins/directives/literalinclude.py
  tests/unit/discovery/test_content_discovery_symlinks.py
  tests/unit/rendering/test_include_directive.py
  tests/unit/rendering/test_link_validator.py
Due: block-legacy-cli-imports

docs: update RFC and changelog for Phase 1 completion
  changelog.md
  plan/active/rfc-edge-case-hardening.md
Due: none

core(cache): add file locking for concurrent build safety; update RFC for Phase 2 completion
  bengal/cache/build_cache.py
  bengal/utils/file_lock.py
  changelog.md
  plan/active/rfc-edge-case-hardening.md
  tests/unit/utils/test_file_lock.py
Due: block-legacy-cli-imports

dx: add Phase 3 edge case hardening - i18n warnings, theme warnings, empty feed handling
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/rendering/template_engine.py
  bengal/rendering/template_functions/i18n.py
  changelog.md
  plan/active/rfc-edge-case-hardening.md
  tests/unit/postprocess/test_empty_feeds.py
  tests/unit/rendering/test_i18n_warnings.py
Due: block-legacy-cli-imports

rendering(include): add content dir fallback for global snippets; fix line range trailing newline
  bengal/rendering/plugins/directives/include.py
  tests/unit/rendering/test_include_directive.py
Due: block-legacy-cli-imports

docs(plan): move edge case hardening RFC to completed - all 3 phases done
  plan/completed/rfc-edge-case-hardening.md
Due: none

tests(collections): add comprehensive coverage for Hugo-like template functions
  autodoc/extractors/openapi.py
  bengal/autodoc/config.py
  bengal/autodoc/extractors/__init__.py
  bengal/autodoc/extractors/openapi.py
  bengal/cli/commands/autodoc.py
  plan/active/graph-analysis-enhancements.md
  plan/active/hugo-like-template-enhancements.md
  plan/active/plan-release-polish.md
  plan/active/rfc-edge-case-hardening.md
  plan/active/rfc-release-polish-v2.md
  plan/active/track-templates-improvement.md
  tests/fixtures/openapi/messy_api.yaml
  tests/integration/test_autodoc_openapi.py
  tests/unit/template_functions/test_collections.py
Due: block-string-based-click-cls, block-legacy-cli-imports

core(security): add sandbox hardening for variable substitution and theme install
  autodoc/extractors/openapi.py
  bengal/autodoc/extractors/openapi.py
  bengal/cli/commands/theme.py
  bengal/rendering/plugins/variable_substitution.py
  tests/integration/test_autodoc_openapi.py
  tests/unit/cli/test_cli_theme_commands.py
  tests/unit/rendering/test_template_escaping.py
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(theme): repair formatting bug in track_nav.html
  autodoc/extractors/openapi.py
  bengal/themes/default/templates/partials/track_nav.html
  plan/active/rfc-cli-ux-improvements.md
  tests/fixtures/openapi/messy_api.yaml
Due: none

docs(plan): update rfc-release-polish-v2 with implementation status
  autodoc/extractors/openapi.py
  bengal/autodoc/generator.py
  plan/active/rfc-release-polish-v2.md
Due: block-legacy-cli-imports

docs(reference): add comprehensive template functions reference
  site/content/docs/reference/template-functions.md
  tests/integration/test_autodoc_openapi.py
Due: none

cli: UX polish - deprecate 'site new', enforce questionary, hide advanced linkcheck options, add baseurl prompt
  bengal/cli/commands/health.py
  bengal/cli/commands/new.py
  bengal/cli/commands/site.py
  plan/active/rfc-cli-ux-improvements.md
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(theme): move nested @media queries outside :root to valid CSS structure
  bengal/themes/default/assets/css/tokens/semantic.css
  plan/active/rfc-release-polish-v2.md
  site/content/docs/about/benchmarks.md
  site/content/docs/about/glossary.md
  site/content/docs/about/limitations.md
  site/content/docs/recipes/_index.md
  site/content/docs/recipes/analytics.md
  site/content/docs/recipes/custom-404.md
  site/content/docs/recipes/search.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/security.md
Due: none

docs(plan): move CLI UX RFC to implemented
  plan/implemented/rfc-cli-ux-improvements.md
Due: none

docs(changelog): add CLI UX improvements entry
  changelog.md
Due: none

fix: handle non-string tags in taxonomy processing; fix link validator tuple handling
  bengal/health/validators/links.py
  bengal/orchestration/taxonomy.py
  bengal/rendering/template_functions/taxonomies.py
  site/content/docs/recipes/custom-404.md
Due: block-legacy-cli-imports

fix(autodoc): strip leading ../ from source paths for correct GitHub URLs
  bengal/autodoc/template_safety.py
Due: block-legacy-cli-imports

docs: fix broken links in contributor-quickstart (design-principles path, GitHub URLs for repo files)
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/templates/partials/action-bar.html
  site/content/docs/getting-started/contributor-quickstart.md
Due: none

fix(link-validator): skip template syntax in code examples (Jinja2/JS template literals)
  bengal/autodoc/generator.py
  bengal/rendering/link_validator.py
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/templates/base.html
  tests/integration/test_autodoc_openapi.py
Due: block-legacy-cli-imports

fix(link-extraction): skip fenced code blocks and inline code when extracting links
  bengal/core/page/operations.py
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/buttons.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/mermaid.css
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/navigation-components.html
Due: block-legacy-cli-imports

fix(link-extraction): handle nested code blocks by processing 4+ backtick fences first
  bengal/core/page/operations.py
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/components/navigation.css
Due: block-legacy-cli-imports

docs(installation): add Python 3.14t free-threaded build explanation with PEP 779 reference; complete dev install instructions
  site/content/docs/getting-started/installation.md
Due: none

docs(getting-started): add glossary and FAQ links for newcomers
  site/content/docs/getting-started/_index.md
Due: none

theme(layouts): add right-side padding to docs-toc and docs-layout for scrollbar breathing room
  bengal/themes/default/assets/css/composition/layouts.css
Due: none

health: fix directive validator false positives and link checker code block handling
  .python-version
  Makefile
  bengal/autodoc/config.py
  bengal/cli/__init__.py
  bengal/health/linkcheck/orchestrator.py
  bengal/health/validators/directives.py
  site/content/cli/_index.md
  site/content/cli/autodoc-cli.md
  site/content/cli/autodoc.md
Due: block-string-based-click-cls, block-legacy-cli-imports

fix: resolve template errors and improve link checker
  bengal/health/linkcheck/internal_checker.py
  bengal/postprocess/special_pages.py
  bengal/themes/default/templates/base.html
Due: block-legacy-cli-imports

postprocess: fix ValueError in output formats when output_path is invalid (PosixPath('.') has an empty name)
  bengal/postprocess/output_formats.py
Due: block-legacy-cli-imports

fix(rendering): guard against path resolution errors in logging; orchestration: improve error context; autodoc: use site.output_dir
  bengal/orchestration/autodoc.py
  bengal/orchestration/render.py
  bengal/rendering/pipeline.py
Due: block-legacy-cli-imports

fix: resolve linting issues in file_lock.py and term.py - use context managers, fix exception chaining, use contextlib.suppress
  bengal/rendering/plugins/directives/term.py
  bengal/utils/file_lock.py
  plan/deferred/js-loading-strategy.md
  plan/implemented/baseurl-template-wrapper.md
  plan/implemented/health-check-validation-commands.md
  plan/implemented/tracks-integration-tests.md
  site/content/docs/about/glossary.md
  site/content/docs/about/limitations.md
  site/content/docs/recipes/analytics.md
  site/content/docs/recipes/search.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/security.md
  site/content/docs/reference/template-functions.md
  tests/unit/discovery/test_content_discovery_symlinks.py
  tests/unit/postprocess/test_empty_feeds.py
  tests/unit/rendering/test_i18n_warnings.py
  tests/unit/rendering/test_link_validator.py
  tests/unit/utils/test_file_lock.py
Due: block-legacy-cli-imports

plan: move completed RFCs to implemented/ directory - rfc-release-polish-v2 and rfc-edge-case-hardening are complete and shipped
  plan/completed/rfc-edge-case-hardening.md
  plan/implemented/rfc-edge-case-hardening.md
  plan/implemented/rfc-release-polish-v2.md
Due: none

fix(action-bar): use page.relative_url for LLM text URLs to prevent double baseurl
  bengal/themes/default/templates/partials/action-bar.html
  tests/unit/rendering/test_action_bar_llm_urls.py
Due: none

updates
  bengal/themes/default/assets/css/composition/layouts.css
  bengal/utils/file_lock.py
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
