Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

cli: add preview command
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/preview.py
  bengal/server/preview_server.py
  site/content/docs/reference/architecture/tooling/cli.md
  tests/unit/cli/test_command_output_templates.py
  tests/unit/server/test_preview_server.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: document static preview serving
  README.md
  changelog.d/preview-static-serving.added.md
  site/content/docs/building/_index.md
  site/content/docs/reference/architecture/tooling/_index.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/architecture/tooling/server.md
Due: none

plan: outline precompression contract
  plan/pounce-static-preview-followups.md
Due: none

server: centralize pounce static fallback
  bengal/server/asgi_app.py
  bengal/server/pounce_static.py
  tests/integration/test_cli_smoke.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli: fix git versioned builds
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/version.py
  bengal/content/discovery/content_discovery.py
  bengal/content/versioning/git_adapter.py
  bengal/utils/paths/url_strategy.py
  changelog.d/git-version-builds.fixed.md
  site/content/docs/content/versioning/_index.md
  site/content/docs/content/versioning/git-mode.md
  tests/integration/test_git_versioned_builds.py
  tests/unit/content/versioning/test_git_adapter.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: parse git tag version config
  bengal/core/__init__.py
  bengal/core/version.py
  tests/unit/core/test_version_git_config.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

content: discover previous git tags
  bengal/content/versioning/git_adapter.py
  tests/unit/content/versioning/test_git_adapter.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: cover automatic git tag versions
  tests/integration/test_git_versioned_builds.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: describe automatic git tag versions
  changelog.d/git-previous-tags.added.md
  site/content/docs/content/versioning/_index.md
  site/content/docs/content/versioning/git-mode.md
Due: none

build: prune stale git version outputs
  bengal/cli/milo_commands/build.py
  tests/integration/test_git_versioned_builds.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: accept git release tag source alias
  bengal/core/version.py
  tests/unit/core/test_version_git_config.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

theme: show version selector on generic pages
  bengal/themes/default/templates/index.html
  bengal/themes/default/templates/page.html
  tests/integration/test_git_versioned_builds.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

tests: cover git versioned site subdirectories
  tests/integration/test_git_versioned_builds.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: document git tag version modes
  changelog.d/git-version-hardening.changed.md
  site/content/docs/content/versioning/_index.md
  site/content/docs/content/versioning/git-mode.md
Due: none

content: skip folder snapshots in git mode
  bengal/content/discovery/directory_walker.py
  tests/unit/content/discovery/test_directory_walker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: dogfood git tag versioning
  changelog.d/git-version-hardening.changed.md
  site/config/_default/versioning.yaml
  site/content/docs/content/versioning/git-mode.md
Due: none

build: address git version review fixes
  bengal/cli/milo_commands/build.py
  bengal/content/versioning/git_adapter.py
  bengal/themes/default/templates/partials/version-selector.html
  changelog.d/git-version-hardening.changed.md
  tests/unit/cli/test_git_versioned_build_helpers.py
  tests/unit/content/versioning/test_git_adapter.py
  tests/unit/rendering/test_version_selector_template.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ci: build all docs versions for pages
  .github/workflows/pages.yml
Due: none

ci: narrow pages build cache
  .github/workflows/pages.yml
Due: none

rendering: fix git version section links
  bengal/core/nav_tree.py
  bengal/rendering/section_urls.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/auto_nav.py
  bengal/rendering/template_functions/navigation/tree.py
  bengal/themes/default/templates/partials/components/tiles.html
  changelog.d/git-version-sidebar-links.fixed.md
  tests/integration/test_git_versioned_builds.py
  tests/unit/rendering/test_section_urls.py
  tests/unit/test_nav_tree.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

rendering: centralize render url resolution
  bengal/core/nav_tree.py
  bengal/rendering/engines/kida.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/auto_nav.py
  bengal/rendering/template_functions/navigation/tree.py
  bengal/rendering/template_functions/urls.py
  bengal/rendering/urls.py
  bengal/themes/default/templates/partials/components/tiles.html
  changelog.d/render-url-for.added.md
  scripts/generate_template_functions_reference.py
  site/content/docs/reference/template-functions/linking-functions.md
  site/content/docs/reference/template-functions/reference-generated.md
  site/content/docs/reference/theme-variables.md
  tests/unit/rendering/utils/test_rendering_url.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

server: fix watcher stop race
  bengal/server/watcher_runner.py
  changelog.d/watcher-stop-closed-loop.fixed.md
  tests/unit/server/test_watcher_runner.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: allow baseurl in git version link assertion
  tests/integration/test_git_versioned_builds.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

server: clarify watcher lifecycle
  bengal/server/watcher_runner.py
  changelog.d/watcher-stop-closed-loop.fixed.md
  tests/unit/server/test_watcher_runner.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: address version link review
  bengal/rendering/section_urls.py
  bengal/server/watcher_runner.py
  bengal/themes/default/templates/partials/components/tiles.html
  tests/unit/rendering/test_section_urls.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

server: keep static sends in asgi frames
  bengal/server/asgi_app.py
  changelog.d/server-static-sendfile.fixed.md
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: close watcher start stop race
  bengal/server/watcher_runner.py
  tests/unit/server/test_watcher_runner.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli: improve theme workflows
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/theme.py
  bengal/config/deprecation.py
  bengal/config/loader_utils.py
  bengal/config/unified_loader.py
  bengal/config/validators.py
  bengal/themes/config.py
  bengal/themes/default/README.md
  bengal/themes/utils.py
  changelog.d/theme-cli-parity.changed.md
  plan/ROADMAP.md
  site/content/docs/get-started/quickstart-themer.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/theming/_index.md
  site/content/docs/theming/templating/_index.md
  site/content/docs/theming/theme-creation.md
  site/content/docs/theming/themes/_index.md
  site/content/docs/theming/themes/customize.md
  site/content/docs/tutorials/theming/swizzle-default-theme.md
  tests/integration/test_cli_smoke.py
  tests/unit/cli/test_command_output_templates.py
  tests/unit/cli/test_theme_commands.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

themes: centralize theme resolution
  bengal/cli/milo_commands/theme.py
  bengal/themes/resolver.py
  tests/unit/themes/test_resolver.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

themes: validate theme metadata
  bengal/cli/milo_commands/theme.py
  bengal/themes/metadata.py
  bengal/themes/resolver.py
  changelog.d/theme-metadata-contract.changed.md
  site/content/docs/theming/theme-creation.md
  tests/unit/themes/test_metadata.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

themes: preflight theme preview
  bengal/cli/milo_commands/theme.py
  bengal/themes/resolver.py
  changelog.d/theme-preview-preflight.changed.md
  site/content/docs/theming/theme-creation.md
  tests/unit/cli/test_theme_commands.py
  tests/unit/themes/test_resolver.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

themes: address preview review feedback
  bengal/themes/resolver.py
  site/content/docs/get-started/quickstart-themer.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/theming/_index.md
  site/content/docs/tutorials/theming/swizzle-default-theme.md
  tests/unit/themes/test_resolver.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: fix menu hierarchy rebuild
  bengal/core/menu.py
  bengal/core/section/hierarchy.py
  changelog.d/core-menu-section-sorting.fixed.md
  tests/unit/core/test_menu_cycles.py
  tests/unit/core/test_section_sorting.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: centralize template invalidation paths
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/rendering/engines/kida.py
  bengal/rendering/template_engine/environment.py
  bengal/server/build_trigger.py
  changelog.d/template-invalidation.fixed.md
  tests/unit/orchestration/build/test_provenance_filter_path_keys.py
  tests/unit/rendering/test_template_inheritance_detection.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: epoch page lookup caches
  bengal/core/page_cache.py
  changelog.d/page-cache-epoch.fixed.md
  tests/unit/core/test_page_cache.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: record pre-discovery change census
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/inputs.py
  bengal/orchestration/stats/models.py
  changelog.d/build-change-census.added.md
  tests/unit/orchestration/build/test_completion_policy.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

build: batch provenance persistence
  bengal/build/provenance/filter.py
  bengal/orchestration/build/provenance_filter.py
  changelog.d/provenance-batch-persistence.fixed.md
  tests/unit/orchestration/build/test_provenance_batch.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: add page artifact shard manifest
  bengal/cache/page_artifact_store.py
  changelog.d/page-artifact-manifest.fixed.md
  tests/unit/cache/test_page_artifact_store.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: scope render caches by site
  bengal/icons/resolver.py
  bengal/icons/svg.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/pipeline_runner.py
  bengal/rendering/context/__init__.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/icons.py
  changelog.d/render-cache-scoping.fixed.md
  tests/unit/icons/test_resolver.py
  tests/unit/rendering/test_engine_globals.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
