Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

fix(docs): correct baseurl/version/engine/module drift + burn down CLI-lint allowlist
  changelog.d/474-470.fixed.md
  site/content/_snippets/config/minimal.md
  site/content/docs/about/glossary.md
  site/content/docs/about/philosophy.md
  site/content/docs/building/deployment/_index.md
  site/content/docs/building/troubleshooting/_index.md
  site/content/docs/content/_index.md
  site/content/docs/content/authoring/linking.md
  site/content/docs/content/collections/_index.md
  site/content/docs/content/sources/_index.md
  site/content/docs/content/validation/_index.md
  site/content/docs/content/validation/validate-and-fix.md
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-contributor.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/errors/_index.md
  site/content/docs/reference/errors/health-codes.md
  site/content/docs/reference/security.md
  site/content/docs/reference/template-functions/view-filters.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
  site/content/docs/tutorials/migration/from-docusaurus.md
  site/content/docs/tutorials/migration/from-fern.md
  site/content/docs/tutorials/migration/from-mintlify.md
  tests/unit/cli/test_cli_contract_inventory.py
  tests/unit/docs/test_doc_reality_drift.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test(io): drop resolver _fetch from approved direct-writes (now atomic)
  scripts/check_output_writes.py
Due: ty

test(rendering): respect parsed-field boundary guard in link-restore test
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(tests): de-vacuum tracks hasattr assertion + cover AssetURL/PerformanceValidator contracts (#475)
  changelog.d/473.fixed.md
  tests/integration/test_tracks_rendering.py
  tests/unit/health/test_validator_contracts.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(docs): correct baseurl/version/engine/module drift + burn down CLI-lint allowlist (#479)
  changelog.d/474-470.fixed.md
  site/content/_snippets/config/minimal.md
  site/content/docs/about/glossary.md
  site/content/docs/about/philosophy.md
  site/content/docs/building/deployment/_index.md
  site/content/docs/building/troubleshooting/_index.md
  site/content/docs/content/_index.md
  site/content/docs/content/authoring/linking.md
  site/content/docs/content/collections/_index.md
  site/content/docs/content/sources/_index.md
  site/content/docs/content/validation/_index.md
  site/content/docs/content/validation/validate-and-fix.md
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-contributor.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/errors/_index.md
  site/content/docs/reference/errors/health-codes.md
  site/content/docs/reference/security.md
  site/content/docs/reference/template-functions/view-filters.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
  site/content/docs/tutorials/migration/from-docusaurus.md
  site/content/docs/tutorials/migration/from-fern.md
  site/content/docs/tutorials/migration/from-mintlify.md
  tests/unit/cli/test_cli_contract_inventory.py
  tests/unit/docs/test_doc_reality_drift.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(postprocess): remove production unittest.mock import from index_generator (#476)
  bengal/postprocess/output_formats/index_generator.py
  changelog.d/450.fixed.md
  tests/unit/postprocess/test_output_formats_index_json.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(io): write ref-cache, latest.json, and bengal.yaml atomically (#477)
  bengal/cli/milo_commands/version.py
  bengal/rendering/external_refs/resolver.py
  bengal/utils/observability/performance_collector.py
  changelog.d/471.fixed.md
  scripts/check_output_writes.py
  tests/unit/utils/io/test_atomic_writes_471.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(rendering,server): emit diagnostics on cache_checker + build_trigger except swallows (#478)
  bengal/rendering/pipeline/cache_checker.py
  bengal/server/build_trigger.py
  changelog.d/472.fixed.md
  tests/unit/rendering/test_pipeline_cache_storage.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(release): build GitHub release title from [project] + theme, not greedy grep
  Makefile
  changelog.d/gh-release-title.fixed.md
  pyproject.toml
  scripts/publish_github_release.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_publish_github_release.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

style: ruff-format publish_github_release.py
  scripts/publish_github_release.py
Due: ty

fix(release): build GitHub release title from [project] + theme, not greedy grep (#480)
  Makefile
  changelog.d/gh-release-title.fixed.md
  pyproject.toml
  scripts/publish_github_release.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_publish_github_release.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

chore(release): v0.4.2
  CHANGELOG.md
  changelog.d/435.fixed.md
  changelog.d/436.fixed.md
  changelog.d/443.fixed.md
  changelog.d/444.fixed.md
  changelog.d/445.fixed.md
  changelog.d/449.fixed.md
  changelog.d/450.fixed.md
  changelog.d/451.removed.md
  changelog.d/471.fixed.md
  changelog.d/472.fixed.md
  changelog.d/473.fixed.md
  changelog.d/474-470.fixed.md
  changelog.d/gh-release-title.fixed.md
  pyproject.toml
  site/content/releases/0.4.2.md
  uv.lock
Due: none

test(docs): exempt releases/ pages from the base_url drift guard
  tests/unit/docs/test_doc_reality_drift.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

chore(release): v0.4.2 (#481)
  CHANGELOG.md
  changelog.d/435.fixed.md
  changelog.d/436.fixed.md
  changelog.d/443.fixed.md
  changelog.d/444.fixed.md
  changelog.d/445.fixed.md
  changelog.d/449.fixed.md
  changelog.d/450.fixed.md
  changelog.d/451.removed.md
  changelog.d/471.fixed.md
  changelog.d/472.fixed.md
  changelog.d/473.fixed.md
  changelog.d/474-470.fixed.md
  changelog.d/gh-release-title.fixed.md
  pyproject.toml
  site/content/releases/0.4.2.md
  tests/unit/docs/test_doc_reality_drift.py
  uv.lock
Due: ty, check-threadpool-without-marker, check-outdated-build-options

release: codify changelog/release-notes voice to stop internal/meta leaks
  .github/workflows/changelog.yml
  AGENTS.md
  CONTRIBUTING.md
  changelog.d/AGENTS.md
  docs/b-stack-changelog-strategy.md
  pyproject.toml
  scripts/draft_release_notes.py
  scripts/lint_changelog_voice.py
  site/AGENTS.md
Due: ty

release: codify changelog/release-notes voice to stop internal/meta leaks (#482)
  .github/workflows/changelog.yml
  AGENTS.md
  CONTRIBUTING.md
  changelog.d/AGENTS.md
  docs/b-stack-changelog-strategy.md
  pyproject.toml
  scripts/draft_release_notes.py
  scripts/lint_changelog_voice.py
  site/AGENTS.md
Due: ty

fix(errors): make ErrorSession reader methods thread-safe under free-threading (#439)
  bengal/concurrency.py
  bengal/errors/session.py
  changelog.d/439.fixed.md
  tests/unit/errors/test_session_thread_safety.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(release): ignore changelog.d steward docs in towncrier check
  pyproject.toml
Due: none

fix(errors): make ErrorSession reader methods thread-safe under free-threading (#439) (#483)
  bengal/concurrency.py
  bengal/errors/session.py
  changelog.d/439.fixed.md
  pyproject.toml
  tests/unit/errors/test_session_thread_safety.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(release): v0.4.3
  CHANGELOG.md
  changelog.d/439.fixed.md
  pyproject.toml
  site/content/releases/0.4.3.md
  uv.lock
Due: none

chore(release): v0.4.3 (#484)
  CHANGELOG.md
  changelog.d/439.fixed.md
  pyproject.toml
  site/content/releases/0.4.3.md
  uv.lock
Due: none

test(debug): restore ShortcodeSandbox coverage; drop stale skip guards
  tests/integration/debug/test_debug_tools_smoke.py
  tests/unit/debug/test_debug_tool_contract.py
  tests/unit/debug/test_shortcode_sandbox.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: document supported filter registration; correct --memory-optimized claim
  bengal/cli/milo_commands/build.py
  changelog.d/487.changed.md
  site/content/docs/building/performance/large-sites.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/content/docs/theming/templating/kida/syntax/functions.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

feat(cli): add --drafts preview to serve and build (#488)
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/serve.py
  bengal/config/defaults.py
  bengal/config/validators.py
  bengal/core/page_visibility.py
  bengal/core/section/__init__.py
  bengal/core/section/queries.py
  bengal/protocols/core.py
  changelog.d/488.added.md
  tests/unit/core/test_page_visibility.py
  tests/unit/core/test_section_sorting.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(links): validate relative internal links + stop autodoc linkifying docstring examples (#485, #489)
  bengal/autodoc/utils/text.py
  bengal/health/linkcheck/internal_checker.py
  bengal/parsing/backends/patitas/directives/__init__.py
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  changelog.d/485.fixed.md
  changelog.d/489.fixed.md
  site/content/docs/extending/shortcodes.md
  tests/unit/autodoc/test_autodoc_utils.py
  tests/unit/health/linkcheck/test_internal_checker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(links): resolve relative links against served pretty-URL directory (#489)
  bengal/health/linkcheck/internal_checker.py
  tests/unit/health/linkcheck/test_internal_checker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(server): serve hidden-buffer dev assets via fast Pounce static path (#400)
  bengal/server/asgi_app.py
  bengal/server/buffer_manager.py
  changelog.d/400.changed.md
  pyproject.toml
  tests/unit/server/test_asgi_app.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(debug): restore ShortcodeSandbox coverage; drop stale skip guards (#494)
  tests/integration/debug/test_debug_tools_smoke.py
  tests/unit/debug/test_debug_tool_contract.py
  tests/unit/debug/test_shortcode_sandbox.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: document supported filter registration; correct --memory-optimized claim (#495)
  bengal/cli/milo_commands/build.py
  changelog.d/487.changed.md
  site/content/docs/building/performance/large-sites.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/content/docs/theming/templating/kida/syntax/functions.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

feat(cli): add --drafts preview to serve and build (#488) (#496)
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/serve.py
  bengal/config/defaults.py
  bengal/config/validators.py
  bengal/core/page_visibility.py
  bengal/core/section/__init__.py
  bengal/core/section/queries.py
  bengal/protocols/core.py
  changelog.d/488.added.md
  tests/unit/core/test_page_visibility.py
  tests/unit/core/test_section_sorting.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(links): validate relative internal links + stop autodoc linkifying docstring examples (#485, #489) (#497)
  bengal/autodoc/utils/text.py
  bengal/health/linkcheck/internal_checker.py
  bengal/parsing/backends/patitas/directives/__init__.py
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  changelog.d/485.fixed.md
  changelog.d/489.fixed.md
  site/content/docs/extending/shortcodes.md
  tests/unit/autodoc/test_autodoc_utils.py
  tests/unit/health/linkcheck/test_internal_checker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(server): serve hidden-buffer dev assets via fast Pounce static path (#400) (#498)
  bengal/server/asgi_app.py
  bengal/server/buffer_manager.py
  changelog.d/400.changed.md
  pyproject.toml
  tests/unit/server/test_asgi_app.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

perf(benchmarks): commit warm/incremental scaling baseline (record-only) (#331)
  benchmarks/baselines/warm_build.json
  benchmarks/benchmark_warm_build_scaling.py
  pyproject.toml
  tests/performance/benchmark_warm_build_consistency.py
  tests/performance/test_warm_build_baseline.py
Due: ty, check-outdated-build-options

perf(server): commit end-to-end HMR save-to-reload latency baseline (#341)
  benchmarks/README.md
  benchmarks/baselines/hmr_latency.json
  benchmarks/benchmark_hmr_latency.py
  benchmarks/compare_hmr_latency.py
Due: ty

perf(server): commit end-to-end HMR save-to-reload latency baseline (#341) (#501)
  benchmarks/README.md
  benchmarks/baselines/hmr_latency.json
  benchmarks/benchmark_hmr_latency.py
  benchmarks/compare_hmr_latency.py
Due: ty

perf(benchmarks): commit warm/incremental scaling baseline (record-only) (#331) (#500)
  benchmarks/baselines/warm_build.json
  benchmarks/benchmark_warm_build_scaling.py
  pyproject.toml
  tests/performance/benchmark_warm_build_consistency.py
  tests/performance/test_warm_build_baseline.py
Due: ty, check-outdated-build-options

chore(release): v0.5.0
  CHANGELOG.md
  changelog.d/400.changed.md
  changelog.d/485.fixed.md
  changelog.d/487.changed.md
  changelog.d/488.added.md
  changelog.d/489.fixed.md
  pyproject.toml
  site/content/releases/0.5.0.md
  uv.lock
Due: none

docs: correct plugin extension-point over-claim (6 wired, not 9)
  README.md
  site/content/docs/about/_index.md
Due: none

feat(collections): add transform= hook to define_collection for pre-validation normalization
  bengal/collections/__init__.py
  bengal/content/discovery/content_parser.py
  changelog.d/492.added.md
  tests/unit/collections/test_discovery_integration.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): implement argparse CLI extraction
  bengal/autodoc/extractors/cli.py
  changelog.d/493.added.md
  tests/unit/autodoc/test_cli_extractor.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
