Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff-check
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-executables-have-shebangs
      - id: detect-private-key

  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check bengal/
        language: system
        types: [python]
        pass_filenames: false

      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

cli: add Python 3.14+ version warning on startup; plan: draft RFC for incremental build observability
  bengal/cli/__init__.py
  plan/rfc-incremental-build-observability.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

docs(rfc): align incremental build observability RFC with current state
  plan/rfc-incremental-build-observability.md
Due: none

server(dev): implement serve-first startup for instant first paint when cache exists
  bengal/server/dev_server.py
  plan/rfc-incremental-build-observability.md
  tests/integration/test_incremental_invariants.py
Due: ty, block-legacy-cli-imports

server(dev): fix serve-first not activating when baseurl is '/'
  bengal/cache/build_cache/autodoc_tracking.py
  bengal/cli/commands/build.py
  bengal/config/environment.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/incremental/filter_engine.py
  bengal/orchestration/stats/models.py
  bengal/server/dev_server.py
  plan/rfc-error-handling-consolidation.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

tests(server): add unit tests for baseurl clearing decision logic
  tests/unit/server/test_dev_server_baseurl.py
Due: ty

docs(errors): add O/V/B error code categories; tests: update autodoc serialization tests for BengalCacheError
  plan/rfc-output-cache-architecture.md
  site/content/docs/reference/errors/_index.md
  tests/unit/autodoc/test_doc_element_serialization.py
Due: ty

docs: fix outdated limitations, add image processing docs, update feature tables
  README.md
  bengal/rendering/pipeline/output.py
  plan/rfc-cli-upgrade-notifications.md
  plan/rfc-output-cache-architecture.md
  site/content/docs/about/comparison.md
  site/content/docs/about/limitations.md
  site/content/docs/theming/templating/image-processing.md
  site/content/docs/tutorials/migration/from-hugo.md
Due: ty, block-legacy-cli-imports

cli(upgrade): add self-update command with PyPI version checking and installer detection
  bengal/cache/__init__.py
  bengal/cache/content_hash_registry.py
  bengal/cache/generated_page_cache.py
  bengal/cache/paths.py
  bengal/cli/__init__.py
  bengal/cli/commands/upgrade/__init__.py
  bengal/cli/commands/upgrade/check.py
  bengal/cli/commands/upgrade/command.py
  bengal/cli/commands/upgrade/installers.py
  bengal/orchestration/build/output_types.py
  bengal/rendering/pipeline/output.py
  bengal/server/reload_controller.py
  plan/rfc-cli-upgrade-notifications.md
  pyproject.toml
  tests/unit/cache/test_content_hash_registry.py
  tests/unit/cache/test_generated_page_cache.py
  tests/unit/orchestration/test_output_types.py
  tests/unit/rendering/test_output_content_hash.py
  tests/unit/server/test_reload_controller_content_hash.py
  uv.lock
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

core(cache): implement Output Cache Architecture RFC; add content-hash embedding, output type classification, generated page cache, and ContentHashRegistry
  tests/unit/cli/test_upgrade_command.py
  tests/unit/rendering/test_output_content_hash.py
Due: ty

docs(upgrade): add tests and documentation for upgrade command
  site/content/docs/get-started/installation.md
  site/content/docs/reference/architecture/tooling/cli.md
Due: none

server: enable content-hash change detection; integrate into build_trigger and dev_server
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/reload_controller.py
  site/content/_index.md
  site/content/docs/_index.md
  site/content/docs/about/_index.md
Due: ty, block-legacy-cli-imports

core(taxonomy): fix duplicate tag page generation in incremental builds; track already-generated tags to prevent double append
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/orchestration/build/content.py
  bengal/orchestration/incremental/cascade_tracker.py
  bengal/orchestration/incremental/change_detector.py
  site/content/_index.md
Due: ty, block-legacy-cli-imports

incremental: skip cascade rebuild on body-only changes to _index.md
  tests/unit/orchestration/build/test_content.py
Due: ty

tests: add unit and integration tests for content-hash and cascade optimization
  site/content/_index.md
  tests/integration/test_content_hash_reload.py
  tests/unit/orchestration/build/test_content.py
  tests/unit/orchestration/incremental/test_cascade_tracker.py
Due: ty

cache: wire GeneratedPageCache into build pipeline (partial)
  .cursor/rules/README.md
  .cursor/rules/commands/help/RULE.mdc
  .cursor/rules/commands/implement/RULE.mdc
  .cursor/rules/commands/plan/RULE.mdc
  .cursor/rules/commands/research/RULE.mdc
  .cursor/rules/commands/rfc-eval/RULE.mdc
  .cursor/rules/commands/rfc/RULE.mdc
  .cursor/rules/commands/validate/RULE.mdc
  .cursor/rules/implementation/add-directive/RULE.mdc
  .cursor/rules/implementation/core-model/RULE.mdc
  .cursor/rules/implementation/type-first/RULE.mdc
  .cursor/rules/modules/architecture-patterns/RULE.mdc
  .cursor/rules/modules/evidence-handling/RULE.mdc
  .cursor/rules/modules/output-format/RULE.mdc
  .cursor/rules/modules/types-as-contracts/RULE.mdc
  .cursor/rules/system/bengal-os/RULE.mdc
  .cursor/rules/utils/atomic-commits/RULE.mdc
  .cursor/rules/validation/architecture-audit/RULE.mdc
  .cursor/rules/validation/type-audit/RULE.mdc
  .cursor/rules/workflows/feature/RULE.mdc
  .cursor/rules/workflows/fix/RULE.mdc
  .cursor/rules/workflows/ship/RULE.mdc
  .github/workflows/mutation.yml
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/content.py
  plan/rfc-behavioral-test-hardening.md
  tests/_testing/__init__.py
  tests/_testing/assertions.py
  tests/_testing/markers.py
  tests/golden/README.md
  tests/golden/simple_site/input/bengal.toml
  tests/golden/simple_site/input/content/_index.md
  tests/golden/simple_site/input/content/about.md
  tests/integration/test_golden_output.py
  tests/meta/__init__.py
  tests/meta/test_test_quality.py
  tests/unit/orchestration/build/test_content_behavioral.py
  tests/unit/orchestration/incremental/test_incremental_properties.py
  tests/unit/orchestration/test_build_properties.py
Due: ty, block-legacy-cli-imports

tests: implement behavioral test hardening RFC (Phase 1-4)
  plan/rfc-behavioral-test-hardening.md
Due: none

docs(plan): add RFC for autodoc incremental caching
  plan/rfc-autodoc-incremental-caching.md
Due: none

tests(performance): add incremental build efficiency tests
  tests/performance/test_incremental_efficiency.py
Due: ty

updates
  bengal/autodoc/hashing.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/autodoc/orchestration/result.py
  bengal/cache/build_cache/autodoc_tracking.py
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/orchestration/content.py
  plan/rfc-autodoc-incremental-caching.md
Due: ty, block-legacy-cli-imports

updates
  bengal/cache/__init__.py
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/cache/provenance/__init__.py
  bengal/cache/provenance/cache.py
  bengal/cache/provenance/filter.py
  bengal/cache/provenance/types.py
  bengal/cli/__init__.py
  bengal/cli/commands/provenance.py
  bengal/discovery/content_discovery.py
  bengal/experimental/__init__.py
  bengal/experimental/provenance/__init__.py
  bengal/experimental/provenance/core_types.py
  bengal/experimental/provenance/demo.py
  bengal/experimental/provenance/integration.py
  bengal/experimental/provenance/pipeline_hook.py
  bengal/experimental/provenance/store.py
  bengal/experimental/provenance/tracker.py
  bengal/experimental/provenance/types.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/incremental/change_detector.py
  bengal/orchestration/incremental/taxonomy_detector.py
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/context/data_tracking.py
  bengal/rendering/context/site_wrappers.py
  bengal/rendering/pipeline/core.py
  plan/rfc-effect-traced-incremental-builds.md
  plan/rfc-incremental-build-contracts.md
  site/content/_index.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fixes continued
  bengal/content/discovery/content_discovery.py
  bengal/core/page/content.py
  bengal/core/page/navigation.py
  bengal/core/resources/image.py
  bengal/core/resources/processor.py
  bengal/core/resources/types.py
  bengal/core/section/ergonomics.py
  bengal/core/section/navigation.py
  bengal/core/site/core.py
  bengal/debug/config_inspector.py
  bengal/debug/content_migrator.py
  bengal/debug/explainer.py
  bengal/debug/incremental_debugger.py
  bengal/debug/shortcode_sandbox.py
  site/config/_default/autodoc.yaml
  tests/unit/cli/test_dashboard_widgets.py
  tests/unit/collections/test_loader.py
  tests/unit/collections/test_schema_validator.py
  tests/unit/content_layer/test_manager_exceptions.py
  tests/unit/discovery/test_content_parser_edge_cases.py
  tests/unit/discovery/test_surgical_discovery.py
Due: ty, block-legacy-cli-imports

fix
  bengal/core/section/__init__.py
  bengal/core/section/navigation.py
  bengal/orchestration/stats/helpers.py
  bengal/rendering/errors/exceptions.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/renderer.py
  bengal/utils/observability/logger.py
  tests/unit/rendering/test_template_validator.py
Due: ty, block-legacy-cli-imports

fixes
  bengal/orchestration/render.py
  bengal/orchestration/render/orchestrator.py
  site/config/_default/autodoc.yaml
Due: ty, block-legacy-cli-imports

updates
  README.md
  bengal/assets/js_bundler.py
  bengal/autodoc/extractors/cli.py
  bengal/cli/commands/collections.py
  bengal/cli/commands/engine.py
  bengal/content/sources/notion.py
  bengal/core/asset/asset_core.py
  bengal/core/resources/processor.py
  bengal/directives/factory.py
  bengal/directives/marimo.py
  bengal/parsing/backends/mistune/toc.py
  bengal/parsing/backends/patitas/directives/builtins/tabs.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/rendering/metadata.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

updates
  bengal/analysis/graph/builder.py
  bengal/analysis/graph/community_detection.py
  bengal/analysis/graph/knowledge_graph.py
  bengal/analysis/graph/page_rank.py
  bengal/analysis/links/suggestions.py
  bengal/analysis/performance/path_analysis.py
  bengal/debug/explainer.py
  bengal/health/health_check.py
  bengal/protocols/core.py
  bengal/rendering/adapters/generic.py
  bengal/rendering/adapters/jinja.py
  bengal/rendering/adapters/kida.py
  bengal/rendering/context/__init__.py
  bengal/rendering/context/menu_context.py
  bengal/rendering/context/site_wrappers.py
  bengal/rendering/metadata.py
  bengal/rendering/template_engine/url_helpers.py
  bengal/rendering/urls.py
  plan/plan-section-protocol-migration.md
  plan/rfc-bengal-v2-architecture.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/architecture/core/orchestration.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/docs/reference/architecture/meta/protocols.md
  site/content/docs/reference/architecture/rendering/discovery.md
  site/content/docs/reference/architecture/subsystems/health.md
  site/content/docs/reference/architecture/subsystems/output.md
  site/content/docs/reference/architecture/tooling/utils.md
Due: ty, block-legacy-cli-imports

updates
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/parsing.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/build_context.py
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/context/__init__.py
  bengal/rendering/context/section_context.py
  bengal/rendering/engines/kida.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/pipeline/thread_local.py
  bengal/rendering/renderer.py
  bengal/rendering/template_context.py
  bengal/snapshots/__init__.py
  bengal/snapshots/builder.py
  bengal/snapshots/persistence.py
  bengal/snapshots/scheduler.py
  bengal/snapshots/scout.py
  bengal/snapshots/types.py
  bengal/utils/observability/cli_progress.py
  plan/plan-section-protocol-migration.md
  plan/rfc-bengal-snapshot-engine.md
  plan/rfc-snapshot-enabled-v2-opportunities.md
  site/content/_index.md
  site/content/docs/tutorials/_index.md
  tests/integration/test_snapshot_integration.py
  tests/unit/snapshots/__init__.py
  tests/unit/snapshots/test_snapshot_builder.py
  tests/unit/snapshots/test_wave_scheduler.py
Due: ty, block-legacy-cli-imports

updates
  bengal/build/detectors/__init__.py
  bengal/build/detectors/autodoc.py
  bengal/build/detectors/base.py
  bengal/build/detectors/cascade.py
  bengal/build/detectors/content.py
  bengal/build/detectors/data.py
  bengal/build/detectors/taxonomy.py
  bengal/build/detectors/template.py
  bengal/build/detectors/version.py
  bengal/build/pipeline.py
  bengal/core/site/__init__.py
  bengal/core/site/core.py
  bengal/core/site/data.py
  bengal/core/site/discovery.py
  bengal/core/site/factories.py
  bengal/core/site/page_caches.py
  bengal/core/site/properties.py
  bengal/core/site/section_registry.py
  bengal/orchestration/incremental/orchestrator.py
  plan/evaluated/rfc-aggressive-cleanup.md
  plan/rfc-aggressive-cleanup.md
  tests/unit/build/detectors/__init__.py
  tests/unit/build/detectors/test_autodoc.py
  tests/unit/build/detectors/test_base.py
  tests/unit/build/detectors/test_cascade.py
  tests/unit/build/detectors/test_content.py
  tests/unit/build/detectors/test_data.py
  tests/unit/build/detectors/test_taxonomy.py
  tests/unit/build/detectors/test_template.py
  tests/unit/build/detectors/test_version.py
  tests/unit/build/test_pipeline.py
  tests/unit/build/test_pipeline_integration.py
  tests/unit/cache/test_autodoc_content_cache.py
  tests/unit/orchestration/incremental/test_rebuild_filter.py
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/rendering/test_asset_tracking.py
  tests/unit/utils/test_workers.py
Due: ty, block-legacy-cli-imports

fixes
  bengal/build/provenance/filter.py
  bengal/orchestration/incremental/orchestrator.py
  tests/unit/config/test_config_loader.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
  tests/unit/utils/test_workers.py
Due: ty, block-legacy-cli-imports

ty
  bengal/protocols/core.py
  bengal/protocols/rendering.py
  bengal/rendering/context/menu_context.py
  bengal/rendering/context/site_wrappers.py
  bengal/rendering/engines/__init__.py
  bengal/rendering/engines/jinja.py
  bengal/snapshots/scheduler.py
  bengal/snapshots/scout.py
  bengal/utils/observability/logger.py
Due: ty, block-legacy-cli-imports

fixes
  bengal/config/directory_loader.py
  bengal/config/env_overrides.py
  bengal/config/unified_loader.py
  bengal/snapshots/builder.py
  tests/unit/icons/test_resolver.py
  tests/unit/rendering/test_output_format_html.py
  tests/unit/snapshots/test_snapshot_builder.py
  tests/unit/snapshots/test_wave_scheduler.py
Due: ty, block-legacy-cli-imports

fixes
  bengal/analysis/graph/analyzer.py
  bengal/analysis/graph/builder.py
  bengal/analysis/graph/metrics.py
  bengal/analysis/graph/reporter.py
  bengal/analysis/graph/visualizer.py
  bengal/postprocess/special_pages.py
  bengal/snapshots/builder.py
  tests/unit/rendering/test_output_format_html.py
Due: ty, block-legacy-cli-imports
