Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

Add opt-in intra-stylesheet CSS dead-code removal (#512). (#531)
  bengal/css/cascade.py
  bengal/css/dead_code.py
  bengal/css/minify.py
  changelog.d/512.added.md
  tests/unit/css/test_dead_code.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(theme): Pridelands floor-clean + opt-in diagram capabilities (#533, #550)
  bengal/capabilities/__init__.py
  bengal/capabilities/runtime.py
  bengal/capabilities/vendors.py
  bengal/config/defaults.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/rendering/metadata.py
  bengal/themes/default/DESIGN-SYSTEM.md
  bengal/themes/default/assets/css/base/fonts.css
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/js/enhancements/lazy-loaders.js
  bengal/themes/default/assets/js/mermaid-theme.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/api-reference/module.html
  bengal/themes/default/templates/api-reference/section-index.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/cli-reference/section-index.html
  bengal/themes/default/templates/openapi-reference/endpoint.html
  bengal/themes/default/templates/openapi-reference/overview.html
  bengal/themes/default/templates/openapi-reference/schema.html
  bengal/themes/default/templates/openapi-reference/section-index.html
  bengal/themes/default/templates/partials/nav-menu.html
  changelog.d/pridelands-floor-clean.changed.md
  tests/unit/capabilities/test_runtime.py
  tests/unit/themes/test_css_manifest_coverage.py
  tests/unit/themes/test_zero_external_origin.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(changelog): rename fragment to numeric issue id for Towncrier lint
  changelog.d/533.changed.md
Due: none

fix(tests): align math integration tests with opt-in katex capability
  tests/integration/test_math_feature.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(theme): Pridelands floor-clean + opt-in diagram capabilities (#533, #550) (#551)
  bengal/capabilities/__init__.py
  bengal/capabilities/runtime.py
  bengal/capabilities/vendors.py
  bengal/config/defaults.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/rendering/metadata.py
  bengal/themes/default/DESIGN-SYSTEM.md
  bengal/themes/default/assets/css/base/fonts.css
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/js/enhancements/lazy-loaders.js
  bengal/themes/default/assets/js/mermaid-theme.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/api-reference/module.html
  bengal/themes/default/templates/api-reference/section-index.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/cli-reference/section-index.html
  bengal/themes/default/templates/openapi-reference/endpoint.html
  bengal/themes/default/templates/openapi-reference/overview.html
  bengal/themes/default/templates/openapi-reference/schema.html
  bengal/themes/default/templates/openapi-reference/section-index.html
  bengal/themes/default/templates/partials/nav-menu.html
  changelog.d/533.changed.md
  tests/integration/test_math_feature.py
  tests/unit/capabilities/test_runtime.py
  tests/unit/themes/test_css_manifest_coverage.py
  tests/unit/themes/test_zero_external_origin.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(core): Pridelands sibling core issues (#546–#549)
  bengal/config/defaults.py
  bengal/content/discovery/content_discovery.py
  bengal/core/page/lastmod.py
  bengal/core/page/runtime.py
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/postprocess/output_formats/utils.py
  bengal/postprocess/sitemap.py
  bengal/rendering/highlighting/deferred.py
  bengal/rendering/template_functions/tables.py
  bengal/themes/default/assets/js/enhancements/data-table.js
  bengal/utils/primitives/code.py
  bengal/utils/scm/git_dates.py
  bengal/utils/scm/lastmod.py
  changelog.d/546.changed.md
  changelog.d/547.changed.md
  changelog.d/548.changed.md
  changelog.d/549.changed.md
  site/config/_default/content.yaml
  site/config/_default/outputs.yaml
  tests/unit/postprocess/test_heading_index_records.py
  tests/unit/rendering/test_fence_attrs.py
  tests/unit/template_functions/test_tables.py
  tests/unit/utils/scm/test_lastmod.py
  tests/unit/utils/test_code.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(core): harden lastmod resolution for mocks and string passthrough
  bengal/core/page/lastmod.py
  bengal/core/page/runtime.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/sitemap.py
  tests/unit/utils/scm/test_lastmod.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(postprocess): include heading index in incremental fingerprint
  tests/unit/postprocess/test_output_formats_config.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(core): Pridelands sibling core issues (#546–#549) (#552)
  bengal/config/defaults.py
  bengal/content/discovery/content_discovery.py
  bengal/core/page/lastmod.py
  bengal/core/page/runtime.py
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/postprocess/output_formats/utils.py
  bengal/postprocess/sitemap.py
  bengal/rendering/highlighting/deferred.py
  bengal/rendering/template_functions/tables.py
  bengal/themes/default/assets/js/enhancements/data-table.js
  bengal/utils/primitives/code.py
  bengal/utils/scm/git_dates.py
  bengal/utils/scm/lastmod.py
  changelog.d/546.changed.md
  changelog.d/547.changed.md
  changelog.d/548.changed.md
  changelog.d/549.changed.md
  site/config/_default/content.yaml
  site/config/_default/outputs.yaml
  tests/unit/postprocess/test_heading_index_records.py
  tests/unit/postprocess/test_output_formats_config.py
  tests/unit/rendering/test_fence_attrs.py
  tests/unit/template_functions/test_tables.py
  tests/unit/utils/scm/test_lastmod.py
  tests/unit/utils/test_code.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(theme): SEO structured data + docs sidebar consolidation (#536)
  bengal/rendering/template_functions/seo.py
  bengal/themes/default/templates/autodoc/cli/command-group.html
  bengal/themes/default/templates/autodoc/python/module.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/doc/single.html
  bengal/themes/default/templates/notebook/single.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/breadcrumb-jsonld.html
  bengal/themes/default/templates/partials/collection-jsonld.html
  bengal/themes/default/templates/partials/docs-toc-sidebar.html
  bengal/themes/default/templates/partials/graph-contextual.html
  bengal/themes/default/templates/partials/website-jsonld.html
  changelog.d/536.changed.md
  tests/unit/template_functions/test_seo.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): tolerate non-iterable page.ancestors in get_breadcrumbs
  bengal/rendering/template_functions/navigation/breadcrumbs.py
  tests/unit/rendering/test_breadcrumb_function.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(theme): SEO structured data + docs sidebar consolidation (#536) (#553)
  bengal/rendering/template_functions/navigation/breadcrumbs.py
  bengal/rendering/template_functions/seo.py
  bengal/themes/default/templates/autodoc/cli/command-group.html
  bengal/themes/default/templates/autodoc/python/module.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/doc/single.html
  bengal/themes/default/templates/notebook/single.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/breadcrumb-jsonld.html
  bengal/themes/default/templates/partials/collection-jsonld.html
  bengal/themes/default/templates/partials/docs-toc-sidebar.html
  bengal/themes/default/templates/partials/graph-contextual.html
  bengal/themes/default/templates/partials/website-jsonld.html
  changelog.d/536.changed.md
  tests/unit/rendering/test_breadcrumb_function.py
  tests/unit/template_functions/test_seo.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): first-party graph viz (drop D3) + JSON key-order determinism fix
  bengal/analysis/__init__.py
  bengal/analysis/graph/__init__.py
  bengal/analysis/graph/layout.py
  bengal/analysis/graph/templates/graph_visualizer.html
  bengal/analysis/graph/visualizer.py
  bengal/assets/js_bundler.py
  bengal/capabilities/__init__.py
  bengal/capabilities/runtime.py
  bengal/capabilities/vendors.py
  bengal/config/defaults.py
  bengal/orchestration/build/initialization.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/special_pages.py
  bengal/postprocess/xref_index.py
  bengal/themes/default/assets/css/components/graph-minimap.css
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/bengal-graph-explorer.js
  bengal/themes/default/assets/js/enhancements/lazy-loaders.js
  bengal/themes/default/assets/js/graph-contextual.js
  bengal/themes/default/assets/js/graph-minimap.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/base.html
  changelog.d/+firstparty-graph.changed.md
  changelog.d/+firstparty-graph.removed.md
  plan/epic-firstparty-graph.md
  tests/unit/analysis/test_graph_layout.py
  tests/unit/analysis/test_graph_visualizer.py
  tests/unit/capabilities/test_runtime.py
  tests/unit/postprocess/test_output_formats_determinism.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): first-party graph viz (drop D3) + JSON key-order determinism fix (#554)
  bengal/analysis/__init__.py
  bengal/analysis/graph/__init__.py
  bengal/analysis/graph/layout.py
  bengal/analysis/graph/templates/graph_visualizer.html
  bengal/analysis/graph/visualizer.py
  bengal/assets/js_bundler.py
  bengal/capabilities/__init__.py
  bengal/capabilities/runtime.py
  bengal/capabilities/vendors.py
  bengal/config/defaults.py
  bengal/orchestration/build/initialization.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/special_pages.py
  bengal/postprocess/xref_index.py
  bengal/themes/default/assets/css/components/graph-minimap.css
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/bengal-graph-explorer.js
  bengal/themes/default/assets/js/enhancements/lazy-loaders.js
  bengal/themes/default/assets/js/graph-contextual.js
  bengal/themes/default/assets/js/graph-minimap.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/base.html
  changelog.d/+firstparty-graph.changed.md
  changelog.d/+firstparty-graph.removed.md
  plan/epic-firstparty-graph.md
  tests/unit/analysis/test_graph_layout.py
  tests/unit/analysis/test_graph_visualizer.py
  tests/unit/capabilities/test_runtime.py
  tests/unit/postprocess/test_output_formats_determinism.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): OKLCH palette re-author + relative-color derivation (#534)
  bengal/themes/default/DESIGN-SYSTEM.md
  bengal/themes/default/assets/css/README.md
  bengal/themes/default/assets/css/base/accessibility.css
  bengal/themes/default/assets/css/base/reset.css
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/archive.css
  bengal/themes/default/assets/css/components/author-page.css
  bengal/themes/default/assets/css/components/author.css
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/buttons.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/nav-action-buttons.css
  bengal/themes/default/assets/css/components/navigation.css
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/assets/css/components/share.css
  bengal/themes/default/assets/css/components/tags.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/css/layouts/resume.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/css/tokens/foundation.css
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  bengal/themes/default/assets/css/utilities/fluid-blobs.css
  bengal/themes/default/assets/js/mermaid-theme.js
  changelog.d/534.changed.md
  changelog.d/534.removed.md
Due: check-template-css

feat(theme): OKLCH palette re-author + relative-color derivation (#534) (#555)
  bengal/themes/default/DESIGN-SYSTEM.md
  bengal/themes/default/assets/css/README.md
  bengal/themes/default/assets/css/base/accessibility.css
  bengal/themes/default/assets/css/base/reset.css
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/archive.css
  bengal/themes/default/assets/css/components/author-page.css
  bengal/themes/default/assets/css/components/author.css
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/buttons.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/nav-action-buttons.css
  bengal/themes/default/assets/css/components/navigation.css
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/assets/css/components/share.css
  bengal/themes/default/assets/css/components/tags.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/css/layouts/resume.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/css/tokens/foundation.css
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  bengal/themes/default/assets/css/utilities/fluid-blobs.css
  bengal/themes/default/assets/js/mermaid-theme.js
  changelog.d/534.changed.md
  changelog.d/534.removed.md
Due: check-template-css

feat(theme): collapse dark mode into light-dark() token engine (#535)
  bengal/themes/default/DESIGN-SYSTEM.md
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  bengal/themes/default/assets/css/tokens/semantic.css
  changelog.d/535.changed.md
Due: check-template-css

feat(theme): sweep redundant dark overrides + palette-aware focus rings (#535)
  bengal/themes/default/assets/css/components/_code-embed.css
  bengal/themes/default/assets/css/components/_figure.css
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/checklist.css
  bengal/themes/default/assets/css/components/data-table.css
  bengal/themes/default/assets/css/components/dropdowns.css
  bengal/themes/default/assets/css/components/forms.css
  bengal/themes/default/assets/css/components/gallery.css
  bengal/themes/default/assets/css/components/graph-contextual.css
  bengal/themes/default/assets/css/components/hero.css
  bengal/themes/default/assets/css/components/hub-cards.css
  bengal/themes/default/assets/css/components/icons.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/language-switcher.css
  bengal/themes/default/assets/css/components/tabs-native.css
  bengal/themes/default/assets/css/components/tabs.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/css/components/versioning.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/css/layouts/resume.css
  bengal/themes/default/assets/css/marimo.css
  bengal/themes/default/assets/css/tokens/semantic.css
Due: check-template-css

feat(theme): collapse dark mode into light-dark() + palette-aware focus (#535) (#556)
  bengal/themes/default/DESIGN-SYSTEM.md
  bengal/themes/default/assets/css/components/_code-embed.css
  bengal/themes/default/assets/css/components/_figure.css
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/checklist.css
  bengal/themes/default/assets/css/components/data-table.css
  bengal/themes/default/assets/css/components/dropdowns.css
  bengal/themes/default/assets/css/components/forms.css
  bengal/themes/default/assets/css/components/gallery.css
  bengal/themes/default/assets/css/components/graph-contextual.css
  bengal/themes/default/assets/css/components/hero.css
  bengal/themes/default/assets/css/components/hub-cards.css
  bengal/themes/default/assets/css/components/icons.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/language-switcher.css
  bengal/themes/default/assets/css/components/tabs-native.css
  bengal/themes/default/assets/css/components/tabs.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/css/components/versioning.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/css/layouts/resume.css
  bengal/themes/default/assets/css/marimo.css
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  bengal/themes/default/assets/css/tokens/semantic.css
  changelog.d/535.changed.md
Due: check-template-css

feat(theme): one JS enhancement model — custom elements (#537)
  bengal/assets/js_bundler.py
  bengal/themes/default/DESIGN-SYSTEM.md
  bengal/themes/default/assets/css/base/reset.css
  bengal/themes/default/assets/js/README.md
  bengal/themes/default/assets/js/bengal-enhance.js
  bengal/themes/default/assets/js/core/define.js
  bengal/themes/default/assets/js/core/nav-dropdown.js
  bengal/themes/default/assets/js/core/search.js
  bengal/themes/default/assets/js/core/theme.js
  bengal/themes/default/assets/js/enhancements/README.md
  bengal/themes/default/assets/js/enhancements/api-catalog.js
  bengal/themes/default/assets/js/enhancements/docs-nav.js
  bengal/themes/default/assets/js/enhancements/holo.js
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/assets/js/enhancements/lightbox.js
  bengal/themes/default/assets/js/enhancements/link-previews.js
  bengal/themes/default/assets/js/enhancements/mobile-nav.js
  bengal/themes/default/assets/js/enhancements/tabs.js
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/assets/js/enhancements/tracks.js
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/partials/track-sidebar.html
  changelog.d/537.changed.md
  site/templates/partials/navigation-components.html
  tests/integration/test_openapi_catalog_nav.py
  tests/unit/rendering/test_autodoc_layout_contract.py
  tests/unit/themes/test_one_enhancement_model.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): one JS enhancement model — custom elements (#537) (#557)
  bengal/assets/js_bundler.py
  bengal/themes/default/DESIGN-SYSTEM.md
  bengal/themes/default/assets/css/base/reset.css
  bengal/themes/default/assets/js/README.md
  bengal/themes/default/assets/js/bengal-enhance.js
  bengal/themes/default/assets/js/core/define.js
  bengal/themes/default/assets/js/core/nav-dropdown.js
  bengal/themes/default/assets/js/core/search.js
  bengal/themes/default/assets/js/core/theme.js
  bengal/themes/default/assets/js/enhancements/README.md
  bengal/themes/default/assets/js/enhancements/api-catalog.js
  bengal/themes/default/assets/js/enhancements/docs-nav.js
  bengal/themes/default/assets/js/enhancements/holo.js
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/assets/js/enhancements/lightbox.js
  bengal/themes/default/assets/js/enhancements/link-previews.js
  bengal/themes/default/assets/js/enhancements/mobile-nav.js
  bengal/themes/default/assets/js/enhancements/tabs.js
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/assets/js/enhancements/tracks.js
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/partials/track-sidebar.html
  changelog.d/537.changed.md
  site/templates/partials/navigation-components.html
  tests/integration/test_openapi_catalog_nav.py
  tests/unit/rendering/test_autodoc_layout_contract.py
  tests/unit/themes/test_one_enhancement_model.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

chore(release): v0.5.1
  CHANGELOG.md
  changelog.d/+firstparty-graph.changed.md
  changelog.d/+firstparty-graph.removed.md
  changelog.d/+reproducible-graph-index-output.fixed.md
  changelog.d/381.changed.md
  changelog.d/431.changed.md
  changelog.d/431.fixed.md
  changelog.d/438.fixed.md
  changelog.d/508.fixed.md
  changelog.d/510.fixed.md
  changelog.d/512.added.md
  changelog.d/515.changed.md
  changelog.d/516.added.md
  changelog.d/533.changed.md
  changelog.d/534.changed.md
  changelog.d/534.removed.md
  changelog.d/535.changed.md
  changelog.d/536.changed.md
  changelog.d/537.changed.md
  changelog.d/546.changed.md
  changelog.d/547.changed.md
  changelog.d/548.changed.md
  changelog.d/549.changed.md
  pyproject.toml
  site/content/releases/0.5.1.md
  uv.lock
Due: none

chore(release): v0.5.1 (#559)
  CHANGELOG.md
  changelog.d/+firstparty-graph.changed.md
  changelog.d/+firstparty-graph.removed.md
  changelog.d/+reproducible-graph-index-output.fixed.md
  changelog.d/381.changed.md
  changelog.d/431.changed.md
  changelog.d/431.fixed.md
  changelog.d/438.fixed.md
  changelog.d/508.fixed.md
  changelog.d/510.fixed.md
  changelog.d/512.added.md
  changelog.d/515.changed.md
  changelog.d/516.added.md
  changelog.d/533.changed.md
  changelog.d/534.changed.md
  changelog.d/534.removed.md
  changelog.d/535.changed.md
  changelog.d/536.changed.md
  changelog.d/537.changed.md
  changelog.d/546.changed.md
  changelog.d/547.changed.md
  changelog.d/548.changed.md
  changelog.d/549.changed.md
  pyproject.toml
  site/content/releases/0.5.1.md
  uv.lock
Due: none

fix(rendering): resolve wikilink, tab sync, and directive AST bugs
  bengal/parsing/backends/patitas/directives/builtins/code_tabs.py
  bengal/parsing/backends/patitas/directives/builtins/include.py
  bengal/parsing/backends/patitas/directives/options.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
  bengal/themes/default/assets/js/enhancements/tabs.js
  bengal/utils/serialization.py
  tests/unit/rendering/test_code_tabs.py
  tests/unit/rendering/test_directive_ast_serialization.py
  tests/unit/rendering/test_xref_bug.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(changelog): add fragments for rendering bugfixes (#558, #560, #561)
  changelog.d/558.fixed.md
  changelog.d/560.fixed.md
  changelog.d/561.fixed.md
Due: none

fix(rendering): wikilink aliases, tab sync, directive AST bugs (#562)
  bengal/parsing/backends/patitas/directives/builtins/code_tabs.py
  bengal/parsing/backends/patitas/directives/builtins/include.py
  bengal/parsing/backends/patitas/directives/options.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
  bengal/themes/default/assets/js/enhancements/tabs.js
  bengal/utils/serialization.py
  changelog.d/558.fixed.md
  changelog.d/560.fixed.md
  changelog.d/561.fixed.md
  tests/unit/rendering/test_code_tabs.py
  tests/unit/rendering/test_directive_ast_serialization.py
  tests/unit/rendering/test_xref_bug.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Enable self-hosted Mermaid for the docs site.
  site/config/_default/capabilities.yaml
Due: none

Ignore build-time capability vendors and drop unused iconify.
  site/.gitignore
  site/config/_default/capabilities.yaml
Due: none

Enable self-hosted Mermaid for the docs site (#563)
  site/.gitignore
  site/config/_default/capabilities.yaml
Due: none

feat(plan): ty floor saga #292 + issues-first planning handbook
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/saga.yml
  bengal/analysis/graph/knowledge_graph.py
  bengal/protocols/core.py
  changelog.d/292.fixed.md
  plan/AGENTS.md
  plan/README.md
  plan/ROADMAP.md
  plan/complete/README.md
  plan/complete/epic-firstparty-graph.md
  plan/complete/epic-openapi-rest-layout-upgrade.md
  plan/complete/rfc-css-minifier-tokenizer.md
  plan/superseded/rfc-frozen-render-world.md
  pyproject.toml
  tests/unit/protocols/test_protocol_stability.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(changelog): drop internal ty-floor fragment for CI lint
  changelog.d/292.fixed.md
Due: none

fix(rendering): guard i18n config probe against MagicMock on 3.14t
  bengal/rendering/renderer.py
  tests/unit/rendering/test_thread_safety.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(rendering): read i18n config from Config accessor, not dict-only
  bengal/rendering/renderer.py
Due: ty, block-legacy-cli-imports

Ty floor #292 + issues-first planning handbook (#564)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/saga.yml
  bengal/analysis/graph/knowledge_graph.py
  bengal/protocols/core.py
  bengal/rendering/renderer.py
  plan/AGENTS.md
  plan/README.md
  plan/ROADMAP.md
  plan/complete/README.md
  plan/complete/epic-firstparty-graph.md
  plan/complete/epic-openapi-rest-layout-upgrade.md
  plan/complete/rfc-css-minifier-tokenizer.md
  plan/superseded/rfc-frozen-render-world.md
  pyproject.toml
  tests/unit/protocols/test_protocol_stability.py
  tests/unit/rendering/test_thread_safety.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Trust the platform: delete bespoke JS the browser does natively (#538)
  bengal/assets/js_bundler.py
  bengal/postprocess/static_markup.py
  bengal/rendering/pipeline/output.py
  bengal/themes/default/assets/COMPONENT-PATTERNS.md
  bengal/themes/default/assets/css/base/reset.css
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/js/core/nav-dropdown.js
  bengal/themes/default/assets/js/core/search.js
  bengal/themes/default/assets/js/core/theme.js
  bengal/themes/default/assets/js/enhancements/action-bar.js
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/assets/js/utils.js
  bengal/themes/default/templates/base.html
  tests/unit/postprocess/test_static_markup.py
  tests/unit/themes/test_trust_platform.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Unify theme primitives and adopt container queries + @scope (#539, #540)
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/alerts.css
  bengal/themes/default/assets/css/components/api-hub.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/hub-cards.css
  bengal/themes/default/assets/css/components/search-modal.css
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/partials/admonition-shortcode.html
  bengal/themes/default/templates/shortcodes/danger.html
  bengal/themes/default/templates/shortcodes/tip.html
  bengal/themes/default/templates/shortcodes/warning.html
  bengal/themes/default/templates/tracks/list.html
  bengal/themes/default/templates/tracks/single.html
  tests/unit/themes/test_unified_primitives.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Add changelog fragment for default theme refresh
  changelog.d/+default-theme-primitives.changed.md
Due: none

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
