Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

types: fix remaining var-annotated errors in autodoc/docstring_parser.py
  bengal/autodoc/docstring_parser.py
Due: block-legacy-cli-imports

autodoc(dev_tools): fix type errors - use Path for source_file, Callable for callbacks, add explicit dict[str, Any] annotation
  bengal/autodoc/dev_tools.py
  bengal/cli/commands/collections.py
  bengal/cli/commands/debug.py
  bengal/cli/commands/graph/communities.py
  bengal/core/page/metadata.py
  bengal/core/page/operations.py
  bengal/debug/config_inspector.py
  bengal/debug/shortcode_sandbox.py
  bengal/rendering/template_functions/tables.py
  bengal/utils/swizzle.py
Due: block-string-based-click-cls, block-legacy-cli-imports

core(page/proxy): fix type errors - use Callable type, add list type params, remove duplicate description property, fix __eq__ return type
  bengal/core/page/navigation.py
  bengal/core/page/proxy.py
  bengal/core/page/relationships.py
  bengal/debug/config_inspector.py
  bengal/rendering/template_functions/navigation.py
Due: block-legacy-cli-imports

fix(menu): handle _dev_menu_metadata None default correctly
  bengal/assets/manifest.py
  bengal/assets/pipeline.py
  bengal/autodoc/extractors/cli.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/cache/build_cache/core.py
  bengal/cli/commands/autodoc.py
  bengal/cli/commands/config.py
  bengal/cli/commands/health.py
  bengal/cli/helpers/autodoc_build.py
  bengal/cli/helpers/progress.py
  bengal/collections/loader.py
  bengal/content_layer/sources/github.py
  bengal/content_layer/sources/notion.py
  bengal/content_layer/sources/rest.py
  bengal/core/asset.py
  bengal/core/site/core.py
  bengal/core/site/data.py
  bengal/debug/config_inspector.py
  bengal/debug/explainer.py
  bengal/debug/shortcode_sandbox.py
  bengal/orchestration/autodoc.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/full_to_incremental.py
  bengal/orchestration/menu.py
  bengal/orchestration/static.py
  bengal/rendering/errors.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/tables.py
  bengal/server/request_handler.py
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/nav-menu.html
  bengal/utils/swizzle.py
  bengal/utils/theme_registry.py
  bengal/utils/theme_resolution.py
  pyproject.toml
  uv.lock
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(menu): fix remaining _dev_menu_metadata None checks
  bengal/orchestration/menu.py
  bengal/rendering/template_functions/navigation.py
Due: block-legacy-cli-imports

fix(core): fix hasattr checks for _template_parser and _page_lookup_maps
  bengal/health/validators/tracks.py
  bengal/rendering/template_functions/get_page.py
Due: block-legacy-cli-imports

core(page): format warning paths relative to site root to avoid exposing user-specific absolute paths
  bengal/autodoc/virtual_orchestrator.py
  bengal/cli/commands/autodoc.py
  bengal/cli/commands/clean.py
  bengal/core/page/__init__.py
  bengal/core/site/core.py
  bengal/debug/config_inspector.py
  bengal/debug/shortcode_sandbox.py
  bengal/orchestration/build/rendering.py
  pyproject.toml
  uv.lock
Due: block-string-based-click-cls, block-legacy-cli-imports

utils(paths): extract format_path_for_display to centralize path formatting for logs; adopt in Page and BuildWarning
  bengal/core/page/__init__.py
  bengal/utils/build_stats.py
  bengal/utils/paths.py
Due: block-legacy-cli-imports

fix(core/site): remove register_sections stub that shadowed real implementation
  bengal/core/asset.py
  bengal/core/site/discovery.py
  bengal/server/live_reload.py
  bengal/server/request_handler.py
  tests/unit/core/test_asset_processing.py
Due: block-legacy-cli-imports

fix(server): remove stub methods in LiveReloadMixin that shadowed HTTP handler methods
  bengal/server/live_reload.py
Due: block-legacy-cli-imports

refactor(template_engine): remove stub methods from AssetURLMixin to prevent future MRO shadowing
  bengal/rendering/template_engine/asset_url.py
Due: block-legacy-cli-imports

fix(theme): use safe access for site.config.params in base.html
  bengal/themes/default/templates/base.html
Due: none

types
  content/_index.md
Due: none

autodoc: fix virtual page extraction; draft typed models RFC
  bengal/analysis/results.py
  bengal/autodoc/config.py
  bengal/autodoc/extractors/python.py
  plan/active/rfc-typed-autodoc-models.md
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/rendering/test_directive_registry.py
Due: block-legacy-cli-imports

docs(rfc): refine typed autodoc models RFC with audit findings and evidence
  bengal/debug/config_inspector.py
  bengal/debug/shortcode_sandbox.py
  plan/active/rfc-typed-autodoc-models.md
  tests/integration/test_pagerank_integration.py
  tests/unit/analysis/test_graph_analysis.py
  tests/unit/analysis/test_graph_features.py
  tests/unit/autodoc/test_python_extractor.py
  tests/unit/debug/test_config_inspector.py
  tests/unit/debug/test_shortcode_sandbox.py
  tests/unit/template_functions/test_tables.py
Due: block-legacy-cli-imports

docs(plan): add implementation plan for typed autodoc models with 16 atomic tasks across 5 phases
  plan/active/plan-typed-autodoc-models.md
Due: none

tests: fix mixin order for ThemeIntegrationMixin; add theme_config to DummySite; relax Site isinstance check in tables.py; update KnowledgeGraph error regex patterns
  bengal/core/site/core.py
  bengal/rendering/template_functions/tables.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/autodoc/test_module_name_resolution.py
  tests/unit/rendering/test_asset_url_baseurl.py
  tests/unit/rendering/test_asset_url_fingerprints.py
  tests/unit/rendering/test_theme_inheritance.py
  tests/unit/template_functions/test_tables.py
Due: block-legacy-cli-imports

autodoc(models): add typed metadata dataclasses for Python, CLI, and OpenAPI domains; fix 7 test failures
  bengal/autodoc/base.py
  bengal/autodoc/extractors/cli.py
  bengal/autodoc/extractors/openapi.py
  bengal/autodoc/extractors/python.py
  bengal/autodoc/models/__init__.py
  bengal/autodoc/models/cli.py
  bengal/autodoc/models/common.py
  bengal/autodoc/models/openapi.py
  bengal/autodoc/models/python.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/autodoc/test_config.py
  tests/unit/autodoc/test_doc_element_serialization.py
  tests/unit/autodoc/test_models_common.py
  tests/unit/autodoc/test_models_python.py
  tests/unit/autodoc/test_python_extractor_typed.py
  tests/unit/health/validators/test_tracks.py
  tests/unit/rendering/test_renderer_index_conflict.py
  tests/unit/rendering/test_template_tests.py
  tests/unit/server/test_live_reload.py
  tests/unit/utils/test_file_io.py
Due: block-legacy-cli-imports

docs: move typed-autodoc-models RFC/plan to implemented; update changelog
  changelog.md
  plan/implemented/plan-typed-autodoc-models.md
  plan/implemented/rfc-typed-autodoc-models.md
Due: none

autodoc(utils): add typed metadata access helpers with fallback; migrate orchestrator and extractors to use typed access
  bengal/autodoc/README.md
  bengal/autodoc/extractors/openapi.py
  bengal/autodoc/extractors/python.py
  bengal/autodoc/utils.py
  bengal/autodoc/virtual_orchestrator.py
  plan/active/rfc-typed-metadata-access.md
  tests/unit/autodoc/test_typed_metadata_access.py
Due: block-legacy-cli-imports

docs: move typed-metadata-access RFC to completed; update changelog with Phase 6
  changelog.md
  plan/completed/rfc-typed-metadata-access.md
Due: none

fix(autodoc/python): fix 'list has no items' error - parsed.raises is list[dict], not dict; improve error messages with file:line and tips
  bengal/autodoc/extractors/python.py
Due: block-legacy-cli-imports

refactor(autodoc): defer HTML rendering to rendering phase; ensure menus available for nav
  bengal/autodoc/virtual_orchestrator.py
  bengal/orchestration/content.py
  bengal/rendering/pipeline/core.py
  tests/unit/rendering/test_template_functions_get_page.py
Due: block-legacy-cli-imports

fix(cache): gracefully remove deleted files from tracking; docs(autodoc): document deferred rendering lifecycle
  bengal/autodoc/README.md
  bengal/cache/build_cache/file_tracking.py
Due: block-legacy-cli-imports

fix(rendering): use site's template engine for autodoc pages to ensure full nav context
  bengal/rendering/pipeline/core.py
Due: block-legacy-cli-imports

rendering: invalidate menu cache before template render to fix stale active states
  bengal/rendering/template_engine/core.py
  tests/integration/test_autodoc_nav_integration.py
  tests/unit/autodoc/test_virtual_page_rendering.py
Due: block-legacy-cli-imports

tests(autodoc): add comprehensive tests for virtual page rendering and nav integration
  bengal/autodoc/virtual_orchestrator.py
  bengal/rendering/pipeline/core.py
Due: block-legacy-cli-imports

autodoc: defer index page rendering to pipeline to ensure menu availability
  bengal/autodoc/virtual_orchestrator.py
Due: block-legacy-cli-imports

autodoc: add AutodocRunResult summary capture and resilience improvements
  bengal/autodoc/__init__.py
  bengal/autodoc/config.py
  bengal/autodoc/extractors/cli.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/orchestration/content.py
  bengal/rendering/pipeline/core.py
  plan/active/plan-autodoc-resilience.md
  plan/active/rfc-autodoc-resilience.md
  plan/active/rfc-cli-deep-nesting.md
  plan/active/rfc-typed-metadata-access.md
Due: block-legacy-cli-imports

tests(autodoc): add resilience tests for strict mode and failure handling
  tests/integration/test_autodoc_nav_integration.py
  tests/unit/autodoc/test_resilience.py
Due: none

docs(autodoc): document strict mode, run summaries, and fallback tagging
  bengal/autodoc/README.md
  changelog.md
Due: none

templates: adopt semantic CSS tokens and patterns across autodoc layouts; add missing badge and table variants to api-explorer.css
  bengal/themes/default/assets/css/components/api-explorer.css
  bengal/themes/default/templates/api-reference/partials/attributes-table.html
  bengal/themes/default/templates/api-reference/partials/badges.html
  bengal/themes/default/templates/api-reference/partials/class-card.html
  bengal/themes/default/templates/api-reference/partials/function-card.html
  bengal/themes/default/templates/api-reference/partials/method-item.html
  bengal/themes/default/templates/api-reference/partials/parameters-table.html
  bengal/themes/default/templates/api-reference/partials/raises-list.html
  bengal/themes/default/templates/api-reference/partials/returns-section.html
  bengal/themes/default/templates/api-reference/partials/signature.html
  bengal/themes/default/templates/cli-reference/command-group.html
  bengal/themes/default/templates/cli-reference/command.html
  bengal/themes/default/templates/cli-reference/section-index.html
Due: none

updates
  bengal/autodoc/virtual_orchestrator.py
  bengal/core/page/utils.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pygments_cache.py
  bengal/rendering/template_functions/__init__.py
  bengal/rendering/template_functions/strings.py
  bengal/rendering/template_tests.py
  tests/unit/autodoc/test_virtual_page_rendering.py
Due: block-legacy-cli-imports

rendering(urls): fix absolute_url adding trailing slash to file URLs like /index.json; detect file extensions to preserve correct URL format
  bengal/rendering/template_functions/urls.py
  bengal/themes/default/assets/css/components/api-explorer.css
  bengal/themes/default/templates/api-reference/module.html
Due: block-legacy-cli-imports

docs(plan): add RFC for autodoc incremental build support
  plan/active/rfc-autodoc-incremental-builds.md
Due: none
