Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

refactor: remove 159 lines of dead deprecated code; fix 4 SIM114 lint issues
  bengal/health/validators/directives/analysis.py
  bengal/orchestration/menu.py
  bengal/rendering/plugins/directives/tabs.py
  plan/active/rfc-code-hygiene-december.md
Due: block-legacy-cli-imports

docs(plan): update RFC with completion status; remove superseded work queue
  plan/active/high-priority-work-queue.md
  plan/active/rfc-code-hygiene-december.md
Due: none

tests: verify async tests pass (9/9); move RFC to implemented
  plan/implemented/rfc-code-hygiene-december.md
Due: none

update
  plan/active/rfc-code-hygiene-december.md
Due: none

docs(plan): add RFC for typography refinements with tracking, font stack, and optional heading fonts
  plan/active/rfc-typography-refinements.md
Due: none

themes(typography): add display tracking gradient; reorder code font stack for modern developer fonts
  bengal/themes/default/assets/css/TYPOGRAPHY_SYSTEM.md
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/css/tokens/typography.css
Due: none

docs(plan): mark typography RFC phase 1 as implemented
  plan/active/rfc-typography-refinements.md
Due: none

themes(typography): add optional heading font tokens; h1/h2 now use --font-heading
  bengal/themes/default/assets/css/TYPOGRAPHY_SYSTEM.md
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/css/tokens/typography.css
  plan/active/rfc-search-experience-v2.md
  plan/active/rfc-typography-refinements.md
Due: none

themes(typography): integrate heading fonts with existing bengal font system
  bengal/themes/default/assets/css/TYPOGRAPHY_SYSTEM.md
  bengal/themes/default/assets/css/tokens/typography.css
  plan/active/rfc-typography-refinements.md
Due: none

fix(fonts): correct font path prefix and copy fonts.css to output directory
  bengal/fonts/__init__.py
  bengal/fonts/generator.py
  bengal/orchestration/build/initialization.py
  site/assets/fonts.css
  site/assets/fonts/instrument-serif-400.woff2
  site/config/_default/fonts.yaml
  site/content/cli/_index.md
  site/content/cli/autodoc-cli.md
  site/content/cli/autodoc.md
  site/content/cli/new/_index.md
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/site.md
  site/content/cli/new/theme.md
  site/content/cli/utils/autodoc-cli.md
Due: block-legacy-cli-imports

updates
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/themes/default/assets/js/search.js
  bengal/themes/default/templates/base.html
  pyproject.toml
  site/config/_default/search.yaml
Due: block-legacy-cli-imports

theme: unify action button styling with compact neumorphic pattern; align theme toggle, action-bar buttons with search trigger style
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/nav-action-buttons.css
  bengal/themes/default/assets/css/components/search-modal.css
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/search-modal.js
  bengal/themes/default/assets/js/search-page.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/search-modal.html
  bengal/themes/default/templates/partials/search.html
  bengal/themes/default/templates/search.html
  site/config/_default/search.yaml
Due: none

theme: remove explicit dark mode overrides; rely on CSS variable inheritance for automatic dark mode support
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/nav-action-buttons.css
  bengal/themes/default/assets/css/layouts/header.css
Due: none

postprocess(index): fix triple baseurl in search index URLs; use get_page_relative_url for uri and construct url once
  bengal/postprocess/output_formats/index_generator.py
Due: block-legacy-cli-imports

fonts: fix production font loading with relative paths and fingerprint rewriting
  bengal/fonts/__init__.py
  bengal/fonts/generator.py
  bengal/orchestration/build/rendering.py
  site/assets/fonts.css
  site/assets/fonts/instrument-serif-400.woff2
Due: block-legacy-cli-imports

postprocess(utils): fix double baseurl in search results by stripping baseurl from page.url fallback
  bengal/postprocess/output_formats/utils.py
Due: block-legacy-cli-imports

themes(404): redesign with dynamic nav suggestions; remove redundant search button; add ⌘K hint
  bengal/themes/default/assets/css/components/empty-state.css
  bengal/themes/default/templates/404.html
  plan/active/rfc-404-page-redesign.md
Due: none

themes(404): connect all styling to design system tokens; use neumorphic button-light style
  bengal/themes/default/assets/css/components/empty-state.css
  bengal/themes/default/templates/404.html
Due: none

core(navigation): limit breadcrumbs to last 2 ancestors; drop Home
  bengal/rendering/template_functions/navigation.py
  tests/unit/rendering/test_breadcrumb_function.py
Due: block-legacy-cli-imports

perf(theme): refactor inline JS to external files; lazy-load heavy libraries
  bengal/themes/default/assets/js/graph-contextual.js
  bengal/themes/default/assets/js/graph-minimap.js
  bengal/themes/default/assets/js/lazy-loaders.js
  bengal/themes/default/assets/js/search-preload.js
  bengal/themes/default/templates/base.html
  plan/active/rfc-render-performance-optimization.md
Due: none

fix(theme): restore inline lazy-loaders for fingerprinted asset URLs
  bengal/themes/default/assets/js/lazy-loaders.js
  bengal/themes/default/templates/base.html
Due: none

refactor(theme): separate data from logic in lazy-loaders
  bengal/themes/default/assets/js/lazy-loaders.js
  bengal/themes/default/templates/base.html
Due: none

cleanup
  demo-animations.html
  demo-docs-animations.html
  demo-theme-animations.html
Due: none

cache: add global config hashing for automatic cache invalidation; config: add compute_config_hash(); orchestration: use config hash for config change detection
  bengal/cache/build_cache.py
  bengal/config/hash.py
  bengal/core/site.py
  bengal/orchestration/incremental.py
  changelog.md
  plan/active/rfc-theme-feature-flags.md
  plan/implemented/rfc-zensical-inspired-patterns.md
  tests/unit/cache/test_build_cache.py
  tests/unit/config/test_config_hash.py
Due: block-legacy-cli-imports

fonts: skip rewriting fonts.css when content unchanged; prevents file watcher loop
  bengal/fonts/__init__.py
  bengal/orchestration/build/initialization.py
  plan/active/rfc-zensical-inspired-patterns.md
  site/content/cli/_index.md
  uv.lock
Due: block-legacy-cli-imports

docs: slim README from 590 to ~100 lines; link to docs instead of duplicating content
  README.md
Due: none

core(theme): add feature flags system for declarative theme customization
  bengal/cli/commands/theme.py
  bengal/core/theme.py
  bengal/themes/default/features.py
  bengal/themes/default/templates/base.html
  plan/active/rfc-config-defaults-cleanup.md
  plan/active/rfc-content-collections.md
  plan/active/rfc-content-layer-api.md
  plan/active/rfc-islands-architecture.md
  plan/active/rfc-reactive-dataflow-pipeline.md
  plan/active/rfc-theme-feature-flags.md
  site/config/_default/build.yaml
  site/config/environments/local.yaml
  site/content/cli/utils/theme/_index.md
  site/content/cli/utils/theme/features.md
  site/content/cli/utils/theme/new.md
  tests/unit/cli/test_cli_theme_commands.py
  tests/unit/core/test_theme.py
  tests/unit/theme/test_features.py
Due: block-string-based-click-cls, block-legacy-cli-imports

config: add theme.features to site/config/_default/theme.yaml with all defaults
  plan/active/config-inventory.md
  site/config/_default/theme.yaml
Due: none

docs(plan): add complete config inventory and RFC for defaults cleanup
  bengal/cli/commands/new/config.py
  bengal/themes/default/features.py
  bengal/themes/default/templates/api-reference/list.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/cli-reference/list.html
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/content-components.html
  bengal/themes/default/templates/partials/navigation-components.html
  plan/active/config-inventory.md
  plan/active/rfc-config-defaults-cleanup.md
  site/config/_default/theme.yaml
  tests/unit/theme/test_features.py
Due: block-string-based-click-cls, block-legacy-cli-imports

config: centralize defaults in bengal/config/defaults.py; fix max_workers auto-detection
  bengal/config/defaults.py
  bengal/config/loader.py
  bengal/discovery/content_discovery.py
  bengal/health/validators/config.py
  bengal/orchestration/asset.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/render.py
  bengal/orchestration/taxonomy.py
  site/content/cli/_index.md
  site/content/cli/utils/theme/_index.md
  site/content/cli/utils/theme/features.md
  site/content/cli/utils/theme/new.md
Due: block-legacy-cli-imports

config: add deprecation warnings for flat config keys
  bengal/config/deprecation.py
  bengal/config/directory_loader.py
  bengal/config/loader.py
Due: block-legacy-cli-imports

config: standardize bool/dict handling for health_check, search, graph
  bengal/config/defaults.py
  bengal/health/base.py
  bengal/health/health_check.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/postprocess.py
  bengal/postprocess/special_pages.py
Due: block-legacy-cli-imports

cli: decouple --verbose from profile selection (breaking change)
  bengal/cli/commands/build.py
  bengal/utils/profile.py
  site/content/cli/site/build.md
Due: block-string-based-click-cls, block-legacy-cli-imports

config(site): enable health checks for local development
  site/config/_default/build.yaml
  site/config/environments/local.yaml
Due: none

health(directives): remove verbose success/info messages; only report actual problems
  bengal/health/validators/directives/checkers.py
Due: block-legacy-cli-imports

health(validators): remove verbose success/info messages across all validators; silence is golden
  bengal/health/base.py
  bengal/health/validators/assets.py
  bengal/health/validators/config.py
  bengal/health/validators/fonts.py
  bengal/health/validators/links.py
  bengal/health/validators/output.py
  bengal/health/validators/rss.py
  bengal/health/validators/sitemap.py
  bengal/rendering/link_transformer.py
  content/api/bengal/rendering/link_transformer.md
Due: block-legacy-cli-imports

health(directives): improve fence nesting and rendering error messages; show outer vs inner line numbers clearly, add directive type breakdown for heavy usage
  bengal/collections/__init__.py
  bengal/collections/errors.py
  bengal/collections/loader.py
  bengal/collections/validator.py
  bengal/discovery/content_discovery.py
  bengal/health/validators/directives/analysis.py
  bengal/health/validators/directives/checkers.py
  tests/unit/collections/__init__.py
  tests/unit/collections/test_collection_config.py
  tests/unit/collections/test_errors.py
  tests/unit/collections/test_schema_validator.py
Due: block-legacy-cli-imports

rendering(pipeline): remove per-page output spam; progress bar provides sufficient feedback
  bengal/discovery/content_discovery.py
  bengal/rendering/pipeline.py
  tests/unit/collections/test_discovery_integration.py
Due: block-legacy-cli-imports

health(directives): show relative content paths for wayfinding instead of bare filenames
  bengal/collections/__pycache__/__init__.cpython-312.pyc
  bengal/collections/__pycache__/errors.cpython-312.pyc
  bengal/collections/__pycache__/loader.cpython-312.pyc
  bengal/collections/__pycache__/validator.cpython-312.pyc
  bengal/health/validators/directives/checkers.py
  tests/unit/collections/__pycache__/__init__.cpython-312.pyc
  tests/unit/collections/__pycache__/test_collection_config.cpython-312-pytest-8.4.2.pyc
  tests/unit/collections/__pycache__/test_discovery_integration.cpython-312-pytest-8.4.2.pyc
  tests/unit/collections/__pycache__/test_errors.cpython-312-pytest-8.4.2.pyc
  tests/unit/collections/__pycache__/test_schema_validator.cpython-312-pytest-8.4.2.pyc
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
