Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

feat(health): autofix broken internal links (typo, moved-page, anchor)
  bengal/health/remediation/autofix.py
  changelog.d/491.added.md
  tests/unit/health/test_autofix_link_fixes.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(collections): add transform= hook to define_collection for pre-validation normalization (#505)
  bengal/collections/__init__.py
  bengal/content/discovery/content_parser.py
  changelog.d/492.added.md
  tests/unit/collections/test_discovery_integration.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): implement argparse CLI extraction (#506)
  bengal/autodoc/extractors/cli.py
  changelog.d/493.added.md
  tests/unit/autodoc/test_cli_extractor.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: fix extension-points doc to match wired-vs-pending reality
  site/content/docs/reference/architecture/meta/extension-points.md
Due: none

fix(health): apply confirmed CONFIRM link fixes through the real apply path (#491)
  bengal/cli/milo_commands/fix.py
  bengal/health/remediation/autofix.py
  tests/unit/health/test_autofix_link_fixes.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: correct plugin extension-point over-claim (6 wired, not 9) (#504)
  README.md
  site/content/docs/about/_index.md
  site/content/docs/reference/architecture/meta/extension-points.md
Due: none

feat(health): autofix broken internal links (typo, moved-page, anchor) (#507)
  bengal/cli/milo_commands/fix.py
  bengal/health/remediation/autofix.py
  changelog.d/491.added.md
  tests/unit/health/test_autofix_link_fixes.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(release): v0.5.0
  CHANGELOG.md
  changelog.d/400.changed.md
  changelog.d/485.fixed.md
  changelog.d/487.changed.md
  changelog.d/488.added.md
  changelog.d/489.fixed.md
  changelog.d/491.added.md
  changelog.d/492.added.md
  changelog.d/493.added.md
  pyproject.toml
  site/content/releases/0.5.0.md
  uv.lock
Due: none

chore(release): v0.5.0 (#509)
  CHANGELOG.md
  changelog.d/400.changed.md
  changelog.d/485.fixed.md
  changelog.d/487.changed.md
  changelog.d/488.added.md
  changelog.d/489.fixed.md
  changelog.d/491.added.md
  changelog.d/492.added.md
  changelog.d/493.added.md
  pyproject.toml
  site/content/releases/0.5.0.md
  uv.lock
Due: none

docs: RFC for tokenizer-based CSS minifier (bengal/css)
  plan/README.md
  plan/rfc-css-minifier-tokenizer.md
Due: none

assets: tokenizer-based CSS minifier engine (bengal/css)
  bengal/assets/css_minifier.py
  bengal/css/__init__.py
  bengal/css/_scanners.py
  bengal/css/cascade.py
  bengal/css/config.py
  bengal/css/errors.py
  bengal/css/minify.py
  bengal/css/nodes.py
  bengal/css/optimize.py
  bengal/css/parser.py
  bengal/css/py.typed
  bengal/css/serializer.py
  bengal/css/stringbuilder.py
  bengal/css/structural.py
  bengal/css/tokenizer.py
  bengal/css/tokens.py
  changelog.d/css-tokenizer-minifier.fixed.md
Due: ty, block-legacy-cli-imports

tests: CSS engine unit, property, and #510 regression tests
  tests/unit/core/test_asset_processing.py
  tests/unit/css/__init__.py
  tests/unit/css/test_minify_levels.py
  tests/unit/css/test_minify_safe.py
  tests/unit/css/test_properties.py
  tests/unit/css/test_tokenizer.py
  tests/unit/utils/test_css_minifier.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

assets: dogfood bengal.css; remove legacy minifier files
  bengal/assets/css_minifier.py
  bengal/core/asset/__init__.py
  bengal/core/asset/asset_core.py
  bengal/core/asset/css_transforms.py
  changelog.d/css-tokenizer-minifier.fixed.md
  plan/rfc-css-minifier-tokenizer.md
  scripts/analyze_css_minifier_issues.py
  scripts/compare_css_minification.py
  scripts/test_css_minification.py
  scripts/test_css_syntax_validation.py
  tests/unit/core/test_asset_processing.py
  tests/unit/utils/test_css_minifier.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: cover #510 prelude vs function-token distinction
  tests/unit/css/test_minify_safe.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: rename CSS changelog fragment to 510.fixed.md
  changelog.d/510.fixed.md
Due: none

CSS: tokenizer-based minifier engine (bengal/css), fixes #510 (#517)
  bengal/assets/css_minifier.py
  bengal/core/asset/__init__.py
  bengal/core/asset/asset_core.py
  bengal/core/asset/css_transforms.py
  bengal/css/__init__.py
  bengal/css/_scanners.py
  bengal/css/cascade.py
  bengal/css/config.py
  bengal/css/errors.py
  bengal/css/minify.py
  bengal/css/nodes.py
  bengal/css/optimize.py
  bengal/css/parser.py
  bengal/css/py.typed
  bengal/css/serializer.py
  bengal/css/stringbuilder.py
  bengal/css/structural.py
  bengal/css/tokenizer.py
  bengal/css/tokens.py
  changelog.d/510.fixed.md
  plan/README.md
  plan/rfc-css-minifier-tokenizer.md
  scripts/analyze_css_minifier_issues.py
  scripts/compare_css_minification.py
  scripts/test_css_minification.py
  scripts/test_css_syntax_validation.py
  tests/unit/core/test_asset_processing.py
  tests/unit/css/__init__.py
  tests/unit/css/test_minify_levels.py
  tests/unit/css/test_minify_safe.py
  tests/unit/css/test_properties.py
  tests/unit/css/test_tokenizer.py
  tests/unit/utils/test_css_minifier.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: fix content-type registry xdist flake (#518)
  bengal-syntax-highlighter/CHANGELOG.md
  bengal-syntax-highlighter/language-configuration.json
  bengal-syntax-highlighter/package.json
  bengal-syntax-highlighter/syntaxes/kida-html.injection.tmLanguage.json
  bengal-syntax-highlighter/syntaxes/kida.tmLanguage.json
  tests/conftest.py
  tests/unit/cli/test_new_content_type.py
  tests/unit/test_syntax_highlighter_package.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

health: expose per-source link metadata for autofix (#508)
  bengal/health/validators/links.py
  changelog.d/508.fixed.md
  tests/unit/health/test_autofix_link_fixes.py
  tests/unit/health/validators/test_links.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: fix content-type registry xdist flake (#518) (#519)
  bengal-syntax-highlighter/CHANGELOG.md
  bengal-syntax-highlighter/language-configuration.json
  bengal-syntax-highlighter/package.json
  bengal-syntax-highlighter/syntaxes/kida-html.injection.tmLanguage.json
  bengal-syntax-highlighter/syntaxes/kida.tmLanguage.json
  tests/conftest.py
  tests/unit/cli/test_new_content_type.py
  tests/unit/test_syntax_highlighter_package.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

health: expose per-source link metadata for autofix (#508) (#520)
  bengal/health/validators/links.py
  changelog.d/508.fixed.md
  tests/unit/health/test_autofix_link_fixes.py
  tests/unit/health/validators/test_links.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(incremental): persistent-site warm-rebuild foundation (#522) + reproducible graph/index output
  bengal/analysis/graph/visualizer.py
  bengal/orchestration/incremental/state_mutator.py
  bengal/postprocess/output_formats/index_generator.py
  changelog.d/+reproducible-graph-index-output.fixed.md
  plan/rfc-persistent-resident-site.md
  tests/integration/warm_build/surgical_parity.py
  tests/integration/warm_build/test_surgical_parity_phase0.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(build): harden ProvenanceCache and cascade flag for free-threading (#438)
  bengal/build/provenance/filter.py
  bengal/build/provenance/store.py
  tests/unit/build/provenance/test_store.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(css): extend optimize tier with safe value normalizations (#515)
  bengal/css/cascade.py
  bengal/css/optimize.py
  tests/unit/css/test_minify_levels.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(syntax-highlighter): lock in package integrity regressions (#448)
  tests/unit/syntax_highlighter/test_package_integrity.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

chore(changelog): add fragment for #438
  changelog.d/438.fixed.md
Due: none

chore(changelog): add fragment for #515
  changelog.d/515.changed.md
Due: none

test(syntax-highlighter): lock in package integrity regressions (#448) (#526)
  tests/unit/syntax_highlighter/test_package_integrity.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(css): extend optimize tier with safe value normalizations (#515) (#525)
  bengal/css/cascade.py
  bengal/css/optimize.py
  changelog.d/515.changed.md
  tests/unit/css/test_minify_levels.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(build): harden ProvenanceCache for free-threading (#438) (#524)
  bengal/build/provenance/filter.py
  bengal/build/provenance/store.py
  changelog.d/438.fixed.md
  tests/unit/build/provenance/test_store.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(css): add opt-in AST nesting flatten for legacy targets (#516)
  bengal/css/minify.py
  bengal/css/nesting.py
  changelog.d/516.added.md
  tests/unit/css/test_nesting_flatten.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(concurrency): guard against duplicate GIL detection helpers (#381)
  changelog.d/381.changed.md
  tests/unit/utils/test_gil_consolidation.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(incremental): persistent-site warm-rebuild foundation (#522) + reproducible graph/index output (#523)
  bengal/analysis/graph/visualizer.py
  bengal/orchestration/incremental/state_mutator.py
  bengal/postprocess/output_formats/index_generator.py
  changelog.d/+reproducible-graph-index-output.fixed.md
  plan/rfc-persistent-resident-site.md
  tests/integration/warm_build/surgical_parity.py
  tests/integration/warm_build/test_surgical_parity_phase0.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(css): add opt-in AST nesting flatten for legacy targets (#516) (#527)
  bengal/css/minify.py
  bengal/css/nesting.py
  changelog.d/516.added.md
  tests/unit/css/test_nesting_flatten.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(concurrency): guard against duplicate GIL detection helpers (#381) (#528)
  changelog.d/381.changed.md
  tests/unit/utils/test_gil_consolidation.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(postprocess): deterministic sitemap and agent.json ordering (#431)
  bengal/postprocess/output_formats/agent_manifest_generator.py
  bengal/postprocess/sitemap.py
  changelog.d/431.fixed.md
  tests/unit/postprocess/test_aggregate_output_ordering.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(postprocess): deterministic sitemap and agent.json ordering (#431) (#529)
  bengal/postprocess/output_formats/agent_manifest_generator.py
  bengal/postprocess/sitemap.py
  changelog.d/431.fixed.md
  tests/unit/postprocess/test_aggregate_output_ordering.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Re-gate shard byte-parity tests after deterministic aggregate outputs (#431).
  changelog.d/431.changed.md
  tests/integration/test_shard_render_parity.py
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Add opt-in intra-stylesheet CSS dead-code removal (#512).
  bengal/css/cascade.py
  bengal/css/dead_code.py
  bengal/css/minify.py
  changelog.d/512.added.md
  tests/unit/css/test_dead_code.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Re-gate shard byte-parity tests after deterministic aggregate outputs (#431). (#530)
  changelog.d/431.changed.md
  tests/integration/test_shard_render_parity.py
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
