Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

plan: epic for immutable page pipeline (snapshots all the way down) (#195)
  plan/epic-immutable-page-pipeline.md
Due: none

feat: introduce ParsedPage frozen record for immutable rendering pipeline
  bengal/core/records.py
  bengal/rendering/context/__init__.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/renderer.py
Due: ty, block-legacy-cli-imports

fix: use public properties for excerpt/meta_description in ParsedPage
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

feat: introduce ParsedPage frozen record for immutable rendering pipeline (#196)
  bengal/core/records.py
  bengal/rendering/context/__init__.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/renderer.py
Due: ty, block-legacy-cli-imports

feat: introduce RenderedPage frozen record for immutable rendering pipeline
  bengal/core/records.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  plan/epic-immutable-page-pipeline.md
Due: ty, block-legacy-cli-imports

fix: move time import to module level for free-threaded safety
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

fix: address PR review — notebook copy uses effective output_path, add tests
  bengal/rendering/pipeline/output.py
  tests/unit/rendering/test_write_output_rendered_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: introduce RenderedPage frozen record for immutable rendering pipeline (#197)
  bengal/core/records.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  plan/epic-immutable-page-pipeline.md
  tests/unit/rendering/test_write_output_rendered_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor: decompose SiteSnapshot into NavigationPlan, TaxonomyPlan, RenderSchedule
  bengal/effects/block_diff.py
  bengal/effects/tracer.py
  bengal/orchestration/build/__init__.py
  bengal/rendering/renderer.py
  bengal/snapshots/__init__.py
  bengal/snapshots/builder.py
  bengal/snapshots/scheduler.py
  bengal/snapshots/scout.py
  bengal/snapshots/speculative.py
  bengal/snapshots/templates.py
  bengal/snapshots/types.py
  plan/epic-immutable-page-pipeline.md
  tests/unit/effects/test_block_diff.py
  tests/unit/effects/test_tracer.py
  tests/unit/services/test_query_service.py
  tests/unit/snapshots/test_incremental_snapshot.py
  tests/unit/snapshots/test_snapshot_builder.py
  tests/unit/snapshots/test_snapshot_v2.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor: decompose SiteSnapshot into NavigationPlan, TaxonomyPlan, RenderSchedule (#198)
  bengal/effects/block_diff.py
  bengal/effects/tracer.py
  bengal/orchestration/build/__init__.py
  bengal/rendering/renderer.py
  bengal/snapshots/__init__.py
  bengal/snapshots/builder.py
  bengal/snapshots/scheduler.py
  bengal/snapshots/scout.py
  bengal/snapshots/speculative.py
  bengal/snapshots/templates.py
  bengal/snapshots/types.py
  plan/epic-immutable-page-pipeline.md
  tests/unit/effects/test_block_diff.py
  tests/unit/effects/test_tracer.py
  tests/unit/services/test_query_service.py
  tests/unit/snapshots/test_incremental_snapshot.py
  tests/unit/snapshots/test_snapshot_builder.py
  tests/unit/snapshots/test_snapshot_v2.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: introduce SourcePage frozen record for immutable discovery pipeline (#199)
  bengal/content/discovery/content_discovery.py
  bengal/core/page/__init__.py
  bengal/core/records.py
  bengal/orchestration/build/initialization.py
  bengal/server/reactive/handler.py
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_source_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: guard SourcePage reconstruction with isinstance check
  bengal/server/reactive/handler.py
Due: ty, block-legacy-cli-imports

fix: address PR review feedback for SourcePage record
  bengal/content/discovery/content_discovery.py
  bengal/core/records.py
  bengal/orchestration/build/initialization.py
  bengal/server/reactive/handler.py
  tests/unit/core/test_source_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: remove flaky test_incremental_build_after_error from CI
  tests/integration/test_error_recovery.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: prevent SIGALRM handler deadlock under free-threaded Python
  tests/integration/conftest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: replace SIGALRM with watchdog thread for CI test timeouts
  tests/integration/conftest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: use external watchdog process for CI test timeouts
  tests/integration/conftest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

chore: upgrade CI actions to latest major versions
  .github/workflows/tests.yml
Due: none

fix: downgrade setup-uv to v7 (v8 tag not yet published)
  .github/workflows/tests.yml
Due: none

fix: remove test_parallel_build_error_isolation that hangs in CI
  tests/integration/test_error_recovery.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: remove low-value tests and fix parallel build deadlocks in CI
  tests/integration/test_cli_output_integration.py
  tests/integration/test_error_handling_consolidation.py
  tests/integration/test_error_recovery.py
  tests/integration/test_phase2b_cache_integration.py
  tests/integration/test_snapshot_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: address remaining PR review comments
  bengal/core/records.py
  bengal/server/reactive/handler.py
  tests/integration/conftest.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: use sequential builds in snapshot integration tests for CI
  tests/integration/test_snapshot_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: replace thread.join() with event-based shutdown in WriteBehind for free-threaded Python
  bengal/rendering/pipeline/write_behind.py
  tests/integration/test_phase2b_cache_integration.py
  tests/integration/test_snapshot_integration.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: use single worker for snapshot HTML validity test
  tests/integration/test_snapshot_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: replace thread.join() with sleep in test cleanup for ft-Python
  tests/conftest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: remove thread.join() from WaveScheduler scout cleanup
  bengal/snapshots/scheduler.py
Due: ty, block-legacy-cli-imports

fix: increase fast-check timeout from 15 to 20 minutes
  .github/workflows/tests.yml
Due: none

fix: use 4 pytest workers and 25min timeout for fast-check
  .github/workflows/tests.yml
Due: none

fix: increase integration test per-test timeout from 120s to 180s
  .github/workflows/tests.yml
Due: none

fix: make logger phase stack thread-local for ft-Python safety
  bengal/utils/observability/logger.py
  tests/integration/test_phase2b_cache_integration.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: share built site across cache tests and use single CI worker
  .github/workflows/tests.yml
  tests/integration/test_phase2b_cache_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

perf: share module-scoped build for read-only LLM.txt tests
  tests/integration/test_llm_txt_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: replace thread.join() with Event-based sync in thread safety tests
  tests/integration/test_thread_safety.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: deterministic WriteBehind thread cleanup for free-threaded Python
  bengal/rendering/pipeline/write_behind.py
  tests/conftest.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: add --max-worker-restart=3 to integration tests for watchdog recovery
  .github/workflows/tests.yml
Due: none

feat: introduce SourcePage frozen record for immutable discovery pipeline (#199)
  .github/workflows/tests.yml
  bengal/content/discovery/content_discovery.py
  bengal/core/page/__init__.py
  bengal/core/records.py
  bengal/orchestration/build/initialization.py
  bengal/rendering/pipeline/write_behind.py
  bengal/server/reactive/handler.py
  bengal/snapshots/scheduler.py
  bengal/utils/observability/logger.py
  plan/epic-immutable-page-pipeline.md
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_cli_output_integration.py
  tests/integration/test_error_handling_consolidation.py
  tests/integration/test_error_recovery.py
  tests/integration/test_llm_txt_integration.py
  tests/integration/test_phase2b_cache_integration.py
  tests/integration/test_snapshot_integration.py
  tests/integration/test_thread_safety.py
  tests/unit/core/test_source_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: delete PageProxy, reconstruct pages from cache (#200)
  bengal/build/provenance/filter.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/cache/page_discovery_cache.py
  bengal/content/discovery/__init__.py
  bengal/content/discovery/content_discovery.py
  bengal/content/discovery/section_builder.py
  bengal/core/page/__init__.py
  bengal/core/page/page_core.py
  bengal/core/page/proxy.py
  bengal/core/page/utils.py
  bengal/core/records.py
  bengal/core/section/queries.py
  bengal/core/site/__init__.py
  bengal/health/link_registry.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/complexity.py
  bengal/orchestration/content.py
  bengal/orchestration/taxonomy.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/shortcodes.py
  bengal/themes/default/templates/SAFE_PATTERNS.md
  bengal/utils/autodoc.py
  plan/epic-immutable-page-pipeline.md
  tests/integration/test_incremental_output_formats.py
  tests/integration/test_phase2c_lazy_loading.py
  tests/unit/core/test_href_property.py
  tests/unit/core/test_page_proxy.py
  tests/unit/core/test_page_section_references.py
  tests/unit/core/test_section_page_types.py
  tests/unit/discovery/test_surgical_discovery.py
  tests/unit/orchestration/test_complexity.py
  tests/unit/postprocess/test_redirects.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: address PR review comments for cache-reconstructed pages
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/content/discovery/content_discovery.py
  bengal/core/page/utils.py
Due: ty, block-legacy-cli-imports

fix: reduce memory footprint of cache-reconstructed pages
  bengal/content/discovery/content_discovery.py
  bengal/core/page/__init__.py
Due: ty, block-legacy-cli-imports

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
