Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

Default theme refresh: platform JS, unified CSS, container queries (#538–#540) (#565)
  bengal/assets/js_bundler.py
  bengal/postprocess/static_markup.py
  bengal/rendering/pipeline/output.py
  bengal/themes/default/assets/COMPONENT-PATTERNS.md
  bengal/themes/default/assets/css/base/reset.css
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/alerts.css
  bengal/themes/default/assets/css/components/api-hub.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/hub-cards.css
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/assets/css/components/search-modal.css
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/core/nav-dropdown.js
  bengal/themes/default/assets/js/core/search.js
  bengal/themes/default/assets/js/core/theme.js
  bengal/themes/default/assets/js/enhancements/action-bar.js
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/assets/js/utils.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/admonition-shortcode.html
  bengal/themes/default/templates/shortcodes/danger.html
  bengal/themes/default/templates/shortcodes/tip.html
  bengal/themes/default/templates/shortcodes/warning.html
  bengal/themes/default/templates/tracks/list.html
  bengal/themes/default/templates/tracks/single.html
  changelog.d/+default-theme-primitives.changed.md
  tests/unit/postprocess/test_static_markup.py
  tests/unit/themes/test_trust_platform.py
  tests/unit/themes/test_unified_primitives.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Search: modular command palette with snippets and heading deep-links (#541)
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/js/core/search.js
  bengal/themes/default/assets/js/core/search/config.js
  bengal/themes/default/assets/js/core/search/index.js
  bengal/themes/default/assets/js/core/search/palette.js
  bengal/themes/default/assets/js/core/search/query.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/search-modal.html
Due: check-template-css

fix(theme): restore Mermaid palette recolorization and dropdown active state
  bengal/themes/default/assets/js/core/theme.js
  bengal/themes/default/assets/js/mermaid-theme.js
Due: none

chore(changelog): add fragment for #541 search command palette
  changelog.d/541.changed.md
Due: none

chore(changelog): add fragment for Mermaid theme and dropdown fix
  changelog.d/567.fixed.md
Due: none

fix(theme): use logical margins in search heading sub-result CSS
  bengal/themes/default/assets/css/components/search.css
Due: check-template-css

fix(theme): restore Mermaid recolorization and dropdown active state (#567)
  bengal/themes/default/assets/js/core/theme.js
  bengal/themes/default/assets/js/mermaid-theme.js
  changelog.d/567.fixed.md
Due: none

fix(theme): keep header nav submenus open across hover gap
  bengal/themes/default/assets/css/layouts/header.css
Due: check-template-css

chore(changelog): add fragment for header nav dropdown hover fix
  changelog.d/568.fixed.md
Due: none

Search: modular command palette with snippets and heading deep-links (#541) (#566)
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/js/core/search.js
  bengal/themes/default/assets/js/core/search/config.js
  bengal/themes/default/assets/js/core/search/index.js
  bengal/themes/default/assets/js/core/search/palette.js
  bengal/themes/default/assets/js/core/search/query.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/search-modal.html
  changelog.d/541.changed.md
Due: check-template-css

fix(versioning): inherit build-environment capabilities into version builds (#569)
  bengal/cli/milo_commands/build.py
  changelog.d/569.fixed.md
  plan/rfc-capability-system.md
  tests/unit/cli/test_git_versioned_build_helpers.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(theme): keep header nav submenus open across hover gap (#568)
  bengal/themes/default/assets/css/layouts/header.css
  changelog.d/568.fixed.md
Due: check-template-css

fix(versioning): inherit build-environment capabilities into version builds (#569) (#574)
  bengal/cli/milo_commands/build.py
  changelog.d/569.fixed.md
  plan/rfc-capability-system.md
  tests/unit/cli/test_git_versioned_build_helpers.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(theme): compact sidebar version switcher + base-path link fixes
  bengal/themes/default/assets/css/components/versioning.css
  bengal/themes/default/assets/js/core/version-selector.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/language-switcher.html
  bengal/themes/default/templates/partials/version-banner.html
  changelog.d/+theme-baseurl-links.fixed.md
  changelog.d/+version-switcher.changed.md
Due: check-template-css

feat(theme): compact sidebar version switcher + base-path link fixes (#575)
  bengal/themes/default/assets/css/components/versioning.css
  bengal/themes/default/assets/js/core/version-selector.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/language-switcher.html
  bengal/themes/default/templates/partials/version-banner.html
  changelog.d/+theme-baseurl-links.fixed.md
  changelog.d/+version-switcher.changed.md
Due: check-template-css

feat(graph): surface topic communities + importance, with determinism floor
  bengal/analysis/graph/builder.py
  bengal/analysis/graph/community_detection.py
  bengal/analysis/graph/knowledge_graph.py
  bengal/analysis/graph/layout.py
  bengal/analysis/graph/page_rank.py
  bengal/analysis/graph/visualizer.py
  bengal/analysis/utils/pages.py
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/js/bengal-graph-explorer.js
  changelog.d/+graph-dark-labels.fixed.md
  changelog.d/+graph-pagerank-divergence.fixed.md
  changelog.d/+graph-topic-map.added.md
  plan/epic-graph-showcase.md
  tests/integration/test_graph_determinism.py
  tests/integration/test_isolated_render_parity.py
  tests/unit/analysis/test_community_detection.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(graph): surface topic communities + importance, with determinism floor (#576)
  bengal/analysis/graph/builder.py
  bengal/analysis/graph/community_detection.py
  bengal/analysis/graph/knowledge_graph.py
  bengal/analysis/graph/layout.py
  bengal/analysis/graph/page_rank.py
  bengal/analysis/graph/visualizer.py
  bengal/analysis/utils/pages.py
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/js/bengal-graph-explorer.js
  changelog.d/+graph-dark-labels.fixed.md
  changelog.d/+graph-pagerank-divergence.fixed.md
  changelog.d/+graph-topic-map.added.md
  plan/epic-graph-showcase.md
  tests/integration/test_graph_determinism.py
  tests/integration/test_isolated_render_parity.py
  tests/unit/analysis/test_community_detection.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): stop version switcher dropping versioned section-index pages
  bengal/themes/default/templates/partials/docs-nav.html
  changelog.d/+version-switcher-section-index.fixed.md
Due: check-template-css

fix(theme): stop version switcher dropping versioned section-index pages (#577)
  bengal/themes/default/templates/partials/docs-nav.html
  changelog.d/+version-switcher-section-index.fixed.md
Due: check-template-css

fix(theme): label version pill from page.version on section landing pages
  bengal/snapshots/builder.py
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/version-selector.html
  changelog.d/+version-switcher-pill-label.fixed.md
  tests/unit/rendering/test_docs_nav_version_pill.py
  tests/unit/snapshots/test_snapshot_builder.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(graph): improve full-page explorer legibility in dark mode
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/js/bengal-graph-explorer.js
  changelog.d/+graph-legibility.fixed.md
  tests/unit/analysis/test_graph_visualizer.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(graph): improve full-page explorer legibility in dark mode (#579)
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/js/bengal-graph-explorer.js
  changelog.d/+graph-legibility.fixed.md
  tests/unit/analysis/test_graph_visualizer.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): label version pill from page.version on section landing pages (#578)
  bengal/snapshots/builder.py
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/version-selector.html
  changelog.d/+version-switcher-pill-label.fixed.md
  tests/unit/rendering/test_docs_nav_version_pill.py
  tests/unit/snapshots/test_snapshot_builder.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(capabilities): per-page gating + supply-chain controls (#571, #573)
  bengal/capabilities/__init__.py
  bengal/capabilities/detectors.py
  bengal/capabilities/runtime.py
  bengal/capabilities/supply_chain.py
  bengal/capabilities/vendors.py
  bengal/config/defaults.py
  bengal/rendering/context/__init__.py
  bengal/rendering/metadata.py
  bengal/themes/default/assets/js/enhancements/lazy-loaders.js
  bengal/themes/default/templates/base.html
  changelog.d/571.changed.md
  changelog.d/573.added.md
  tests/integration/test_capability_gating.py
  tests/unit/capabilities/test_detectors.py
  tests/unit/capabilities/test_supply_chain.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(capabilities): harden vendor integrity loading for CI mocks (#581)
  bengal/capabilities/vendors.py
  tests/unit/rendering/test_metadata_exposure.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(capabilities): per-page gating + supply-chain controls (#571, #573) (#581)
  bengal/capabilities/__init__.py
  bengal/capabilities/detectors.py
  bengal/capabilities/runtime.py
  bengal/capabilities/supply_chain.py
  bengal/capabilities/vendors.py
  bengal/config/defaults.py
  bengal/rendering/context/__init__.py
  bengal/rendering/metadata.py
  bengal/themes/default/assets/js/enhancements/lazy-loaders.js
  bengal/themes/default/templates/base.html
  changelog.d/571.changed.md
  changelog.d/573.added.md
  tests/integration/test_capability_gating.py
  tests/unit/capabilities/test_detectors.py
  tests/unit/capabilities/test_supply_chain.py
  tests/unit/rendering/test_metadata_exposure.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): Pridelands Phase 2 — platform JS, unified hub/search, @scope (#538–#540)
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  bengal/parsing/backends/patitas/directives/builtins/cards_utils.py
  bengal/parsing/backends/patitas/directives/builtins/dropdown.py
  bengal/themes/default/assets/css/base/prose-content.css
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/dropdowns.css
  bengal/themes/default/assets/css/components/hub-cards.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/css/composition/layouts.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/assets/js/utils.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/api-hub/home.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/version-banner.html
  scripts/check_template_css.py
  tests/unit/themes/test_trust_platform.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs(changelog): update default theme Phase 2 fragment for #582
  changelog.d/+default-theme-primitives.changed.md
Due: none

feat(theme): Pridelands Phase 2 — platform JS, unified hub/search, @scope (#582)
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  bengal/parsing/backends/patitas/directives/builtins/cards_utils.py
  bengal/parsing/backends/patitas/directives/builtins/dropdown.py
  bengal/themes/default/assets/css/base/prose-content.css
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/dropdowns.css
  bengal/themes/default/assets/css/components/hub-cards.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/css/composition/layouts.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/assets/js/utils.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/api-hub/home.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/version-banner.html
  changelog.d/+default-theme-primitives.changed.md
  scripts/check_template_css.py
  tests/unit/themes/test_trust_platform.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(capabilities): entry-point registry for third-party capabilities (#572)
  bengal/capabilities/__init__.py
  bengal/capabilities/builtins.py
  bengal/capabilities/detectors.py
  bengal/capabilities/registry.py
  bengal/capabilities/runtime.py
  bengal/capabilities/spec.py
  bengal/capabilities/supply_chain.py
  bengal/capabilities/vendors.py
  changelog.d/572.added.md
  plan/rfc-capability-system.md
  pyproject.toml
  site/content/docs/extending/plugins.md
  tests/unit/capabilities/test_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(site): Phase 0–2 — hygiene, persona hubs, kitchen sink, snippets
  CONTRIBUTING.md
  site/content/_snippets/deploy/production-build.md
  site/content/_snippets/migration/common-steps.md
  site/content/_snippets/scaffold/blog-site.md
  site/content/_snippets/scaffold/new-site.md
  site/content/_snippets/scaffold/serve.md
  site/content/docs/_index.md
  site/content/docs/about/_index.md
  site/content/docs/building/_index.md
  site/content/docs/building/deployment/_index.md
  site/content/docs/content/_index.md
  site/content/docs/content/i18n/_index.md
  site/content/docs/content/versioning/_index.md
  site/content/docs/content/versioning/cross-version-links.md
  site/content/docs/content/versioning/folder-mode.md
  site/content/docs/extending/_index.md
  site/content/docs/get-started/_index.md
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-contributor.md
  site/content/docs/get-started/quickstart-themer.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/reference/_index.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/directives/_index.md
  site/content/docs/reference/directives/kitchen-sink.md
  site/content/docs/reference/directives/layout.md
  site/content/docs/theming/_index.md
  site/content/docs/tutorials/_index.md
  site/content/docs/tutorials/migration/_index.md
  site/content/docs/tutorials/user-scenarios.md
  site/content/releases/0.4.0.md
  tests/unit/docs/test_doc_reality_drift.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs(site): glossary persona tags, scenario nav cards, README fix
  README.md
  site/content/docs/building/_index.md
  site/content/docs/content/_index.md
  site/content/docs/theming/_index.md
  site/content/docs/tutorials/user-scenarios.md
  site/data/glossary.yaml
  tests/unit/docs/test_doc_reality_drift.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(capabilities): entry-point registry for third-party capabilities (#572) (#590)
  bengal/capabilities/__init__.py
  bengal/capabilities/builtins.py
  bengal/capabilities/detectors.py
  bengal/capabilities/registry.py
  bengal/capabilities/runtime.py
  bengal/capabilities/spec.py
  bengal/capabilities/supply_chain.py
  bengal/capabilities/vendors.py
  changelog.d/572.added.md
  plan/rfc-capability-system.md
  pyproject.toml
  site/content/docs/extending/plugins.md
  tests/unit/capabilities/test_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(site): split component model; T2 authoring and config hubs
  site/content/docs/building/configuration/_index.md
  site/content/docs/content/authoring/_index.md
  site/content/docs/content/organization/component-model-reference.md
  site/content/docs/content/organization/component-model.md
Due: none

Phase 2: split Kida syntax, T2 deployment/validation hubs
  site/content/docs/building/deployment/_index.md
  site/content/docs/content/validation/_index.md
  site/content/docs/reference/kida-syntax-reference.md
  site/content/docs/reference/kida-syntax.md
  site/content/docs/reference/template-functions/_index.md
  site/content/docs/tutorials/sites/build-a-blog.md
Due: none

Phase 2: split user-scenarios and CLI; T2 migration/operator hubs
  site/content/docs/building/performance/_index.md
  site/content/docs/building/troubleshooting/_index.md
  site/content/docs/content/analysis/_index.md
  site/content/docs/get-started/scaffold-your-site.md
  site/content/docs/reference/architecture/tooling/cli-commands.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/tutorials/_index.md
  site/content/docs/tutorials/migration/_index.md
  site/content/docs/tutorials/migration/from-docusaurus.md
  site/content/docs/tutorials/migration/from-fern.md
  site/content/docs/tutorials/migration/from-hugo.md
  site/content/docs/tutorials/migration/from-jekyll.md
  site/content/docs/tutorials/migration/from-mintlify.md
  site/content/docs/tutorials/migration/from-mkdocs.md
  site/content/docs/tutorials/migration/from-sphinx.md
  site/content/docs/tutorials/sites/skeleton-quickstart.md
  site/content/docs/tutorials/user-scenarios-specialized.md
  site/content/docs/tutorials/user-scenarios.md
Due: none

Phase 2: T2 content hubs and tutorial routing gates
  site/content/docs/building/_index.md
  site/content/docs/content/_index.md
  site/content/docs/content/i18n/_index.md
  site/content/docs/content/organization/_index.md
  site/content/docs/content/reuse/_index.md
  site/content/docs/extending/_index.md
  site/content/docs/tutorials/sites/build-a-multi-author-blog.md
Due: none

Phase 2: split linking, code-blocks, validation guides
  site/content/docs/about/glossary.md
  site/content/docs/content/authoring/code-blocks-reference.md
  site/content/docs/content/authoring/code-blocks.md
  site/content/docs/content/authoring/linking-reference.md
  site/content/docs/content/authoring/linking.md
  site/content/docs/content/validation/_index.md
  site/content/docs/content/validation/validate-and-fix-reference.md
  site/content/docs/content/validation/validate-and-fix.md
  site/content/docs/reference/architecture/rendering/postprocess.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/errors/_index.md
  site/content/docs/reference/security.md
  site/content/docs/tutorials/migration/from-docusaurus.md
  site/content/docs/tutorials/migration/from-fern.md
  site/content/docs/tutorials/migration/from-hugo.md
  site/content/docs/tutorials/migration/from-jekyll.md
  site/content/docs/tutorials/migration/from-mintlify.md
  site/content/docs/tutorials/migration/from-mkdocs.md
  site/content/docs/tutorials/migration/from-sphinx.md
  site/content/docs/tutorials/operations/automate-with-github-actions.md
  tests/unit/docs/test_doc_reality_drift.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options
