Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

tests: migrate orchestration page fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/page_records.py
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
  tests/unit/orchestration/incremental/test_track_dependencies.py
  tests/unit/orchestration/test_content_type_detection.py
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/orchestration/test_related_posts.py
  tests/unit/orchestration/test_render_orchestrator.py
  tests/unit/orchestration/test_section_orchestrator.py
  tests/unit/orchestration/test_taxonomy_incremental.py
  tests/unit/orchestration/test_taxonomy_orchestrator.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate utility and template page fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/rendering/test_type_based_templates.py
  tests/unit/utils/test_page_initializer.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate nav tree page fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/test_nav_tree.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate discovery and redirect page fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/discovery/test_surgical_discovery.py
  tests/unit/postprocess/test_redirects.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate autodoc virtual page fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/page_records.py
  tests/integration/test_autodoc_navigation.py
  tests/unit/autodoc/test_resilience.py
  tests/unit/autodoc/test_virtual_page_rendering.py
  tests/unit/content/test_page_construction_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate section page fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/page_records.py
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/core/test_page_urls_in_sections.py
  tests/unit/core/test_section_hashability.py
  tests/unit/core/test_section_index_collision.py
  tests/unit/core/test_section_page_types.py
  tests/unit/core/test_section_sorting.py
  tests/unit/core/test_section_versioning.py
  tests/unit/core/test_site_visibility_filtering.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate core page-like behavior fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/core/test_cascade.py
  tests/unit/core/test_cascade_snapshot.py
  tests/unit/core/test_content_signals_visibility.py
  tests/unit/core/test_ergonomic_helpers.py
  tests/unit/core/test_href_property.py
  tests/unit/core/test_navigation.py
  tests/unit/core/test_page_navigation_weight_order.py
  tests/unit/core/test_page_section_references.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page behavior fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/page_records.py
  tests/integration/core/test_page_frontmatter.py
  tests/integration/test_hashable_page_deduplication.py
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/core/test_component_model.py
  tests/unit/core/test_computed_functions.py
  tests/unit/core/test_page_cached_properties.py
  tests/unit/core/test_page_hashability.py
  tests/unit/core/test_page_metadata_helpers.py
  tests/unit/core/test_page_record_migration.py
  tests/unit/core/test_page_url_cache_clearing.py
  tests/unit/core/test_page_visibility.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page bundle fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/core/test_page_bundles.py
  tests/unit/content/test_page_construction_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

content: type source page adapter as page-like
  bengal/content/discovery/page_adapter.py
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/page_records.py
  tests/unit/content/test_page_adapter.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: retire public page exports
  bengal/__init__.py
  bengal/core/__init__.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  site/content/docs/content/organization/component-model.md
  tests/core/test_mixin_contracts.py
  tests/core/test_type_safety.py
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/core/test_public_exports.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: remove page virtual constructor
  bengal/core/page/__init__.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
Due: ty, block-legacy-cli-imports

content: move i18n state into source records
  bengal/content/discovery/content_discovery.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_content_discovery_source_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: remove dummy Page constructor noise
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/themes/test_default_theme_kida.py
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/rendering/utils/test_rendering_safe_access.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

content: lazy-load page compatibility adapter
  bengal/content/discovery/page_adapter.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_page_adapter.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: remove core page package-root imports
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  plan/rfc-effect-traced-incremental-builds.md
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/core/test_component_model.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

protocols: remove page raw-source state
  bengal/analysis/graph/builder.py
  bengal/content/page_source.py
  bengal/debug/explainer.py
  bengal/orchestration/complexity.py
  bengal/orchestration/content.py
  bengal/orchestration/feature_detector.py
  bengal/protocols/core.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/get_page.py
  bengal/utils/concurrency/workers.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_page_source.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

protocols: remove page section state
  bengal/analysis/graph/builder.py
  bengal/analysis/graph/reporter.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/build/provenance/filter.py
  bengal/cache/indexes/section_index.py
  bengal/cache/query_index.py
  bengal/content/discovery/page_adapter.py
  bengal/content/discovery/page_factory.py
  bengal/core/nav_tree.py
  bengal/core/registry.py
  bengal/core/section/__init__.py
  bengal/core/section/utils.py
  bengal/debug/explainer.py
  bengal/health/validators/navigation.py
  bengal/orchestration/content.py
  bengal/orchestration/section.py
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  bengal/parsing/backends/patitas/directives/builtins/cards_utils.py
  bengal/parsing/backends/patitas/directives/builtins/navigation.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/utils/page_data.py
  bengal/protocols/core.py
  bengal/rendering/context/__init__.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/json_accumulator.py
  bengal/rendering/renderer.py
  bengal/rendering/template_context_validation.py
  bengal/rendering/template_functions/navigation/scaffold.py
  bengal/server/build_trigger.py
  bengal/server/reactive/handler.py
  bengal/snapshots/builder.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/protocols/test_protocol_stability.py
  tests/unit/utils/test_sections_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

protocols: remove page directive-link state
  bengal/protocols/core.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/protocols/test_protocol_stability.py
  tests/unit/rendering/test_page_operations.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

protocols: remove page parsed-content state
  bengal/cache/parsed_output.py
  bengal/protocols/core.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/protocols/test_protocol_stability.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

protocols: remove page archive context state
  bengal/orchestration/section.py
  bengal/protocols/core.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/orchestration/test_section_orchestrator.py
  tests/unit/protocols/test_protocol_stability.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

protocols: remove page autodoc fallback state
  bengal/protocols/core.py
  bengal/rendering/pipeline/autodoc_renderer.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/protocols/test_protocol_stability.py
  tests/unit/rendering/test_normalize_config_github.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

protocols: remove page prerendered html state
  bengal/protocols/core.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/core.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/protocols/test_protocol_stability.py
  tests/unit/rendering/test_page_operations.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

protocols: remove page site state
  bengal/content/discovery/page_adapter.py
  bengal/content/discovery/page_factory.py
  bengal/core/page_site.py
  bengal/orchestration/content.py
  bengal/protocols/core.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_page_site.py
  tests/unit/protocols/test_protocol_stability.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: migrate analysis graph page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/mocks.py
  tests/unit/analysis/test_analysis_optimization.py
  tests/unit/analysis/test_graph_analysis.py
  tests/unit/analysis/test_graph_builder_parallel.py
  tests/unit/analysis/test_graph_features.py
  tests/unit/analysis/test_knowledge_graph.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate cache query page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/cache/test_query_index.py
  tests/unit/cache/test_query_index_registry.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate orchestration taxonomy page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/mocks.py
  tests/unit/orchestration/test_content_type_detection.py
  tests/unit/orchestration/test_related_posts.py
  tests/unit/orchestration/test_taxonomy_incremental.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate redirect page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/postprocess/test_redirects.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate orchestration page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/mocks.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/orchestration/test_render_orchestrator.py
  tests/unit/orchestration/test_section_orchestrator.py
  tests/unit/orchestration/test_taxonomy_orchestrator.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate nav tree page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/test_nav_tree.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate section hierarchy page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/mocks.py
  tests/unit/core/test_section_hashability.py
  tests/unit/core/test_section_index_collision.py
  tests/unit/core/test_section_page_types.py
  tests/unit/core/test_section_sorting.py
  tests/unit/core/test_section_versioning.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate cascade page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_cascade.py
  tests/unit/core/test_cascade_snapshot.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate section ergonomic page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_ergonomic_helpers.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

core: extract page visibility helpers
  bengal/core/page/__init__.py
  bengal/core/page/metadata_helpers.py
  bengal/core/page_cache.py
  bengal/core/page_visibility.py
  bengal/core/site_content.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_content_signals_visibility.py
  tests/unit/core/test_page_cache.py
  tests/unit/core/test_page_metadata_helpers.py
  tests/unit/core/test_site_content.py
  tests/unit/core/test_site_visibility_filtering.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page visibility fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_page_visibility.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page url fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/mocks.py
  tests/unit/core/test_href_property.py
  tests/unit/core/test_page_urls_in_sections.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page url cache fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_page_url_cache_clearing.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page navigation edge fixture
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_page_navigation_weight_order.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate navigation page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_navigation.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate component model page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_component_model.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
