Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

health(report): cleaner issue format - remove tree symbols, show location first, remove redundant tips
  bengal/cli/__init__.py
  bengal/cli/commands/collections.py
  bengal/collections/__init__.py
  bengal/collections/__pycache__/__init__.cpython-312.pyc
  bengal/collections/__pycache__/errors.cpython-312.pyc
  bengal/collections/__pycache__/loader.cpython-312.pyc
  bengal/collections/__pycache__/validator.cpython-312.pyc
  bengal/collections/schemas.py
  bengal/core/site.py
  bengal/health/report.py
  bengal/orchestration/content.py
  tests/unit/collections/__pycache__/__init__.cpython-312.pyc
  tests/unit/collections/__pycache__/test_collection_config.cpython-312-pytest-8.4.2.pyc
  tests/unit/collections/__pycache__/test_discovery_integration.cpython-312-pytest-8.4.2.pyc
  tests/unit/collections/__pycache__/test_errors.cpython-312-pytest-8.4.2.pyc
  tests/unit/collections/__pycache__/test_schema_validator.cpython-312-pytest-8.4.2.pyc
Due: block-string-based-click-cls, block-legacy-cli-imports

health(report): add spacing between issues for readability
  bengal/health/report.py
Due: block-legacy-cli-imports

perf(css): optimize minifier from O(n²) to O(n) via incremental context tracking; 12x speedup on 670KB CSS
  bengal/collections/__pycache__/__init__.cpython-312.pyc
  bengal/utils/css_minifier.py
  site/content/cli/_index.md
  site/content/cli/collections/_index.md
  site/content/cli/collections/init.md
  site/content/cli/collections/list.md
  site/content/cli/collections/validate.md
  tests/unit/collections/test_schemas.py
Due: block-legacy-cli-imports

perf(postprocess): parallelize per-page JSON/TXT generation; fix lunr logger kwargs; add RFC for AST architecture
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  plan/active/rfc-content-ast-architecture.md
Due: block-legacy-cli-imports

core: implement Content AST architecture for parse-once, use-many pattern
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  bengal/rendering/parsers/base.py
  bengal/rendering/parsers/mistune.py
  plan/active/rfc-content-ast-architecture.md
  plan/implemented/rfc-content-ast-architecture.md
  site/content/docs/about/concepts/build-pipeline.md
  site/content/docs/about/concepts/content-organization.md
  site/content/docs/guides/content-collections.md
Due: block-legacy-cli-imports

cache: integrate Phase 3 AST caching into BuildCache and RenderingPipeline
  bengal/cache/build_cache.py
  bengal/core/page/content.py
  bengal/rendering/pipeline.py
  plan/implemented/rfc-content-ast-architecture.md
  tests/unit/rendering/test_pipeline_reporter_output.py
Due: block-legacy-cli-imports

postprocess: adopt page.plain_text for LLM/search outputs (AST-based extraction)
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  plan/implemented/rfc-content-ast-architecture.md
  tests/unit/postprocess/test_output_formats_index_json.py
  tests/unit/postprocess/test_output_formats_llm.py
Due: block-legacy-cli-imports

core: adopt AST-based link extraction in extract_links() with regex fallback
  bengal/core/page/content.py
  bengal/core/page/operations.py
  plan/implemented/rfc-content-ast-architecture.md
Due: block-legacy-cli-imports

fix: revert AST-based extraction to preserve directive rendering
  bengal/core/page/content.py
  bengal/core/page/operations.py
  bengal/rendering/pipeline.py
  plan/implemented/rfc-content-ast-architecture.md
Due: block-legacy-cli-imports

fix(css): preserve spaces around + and - in calc() expressions
  bengal/utils/css_minifier.py
Due: block-legacy-cli-imports

docs(plan): add RFC for template performance optimization
  plan/active/rfc-template-performance-optimization.md
Due: none

rendering: add template profiling infrastructure; themes: cache expensive lookups in base.html
  bengal/cli/commands/build.py
  bengal/core/site.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/rendering.py
  bengal/rendering/pipeline.py
  bengal/rendering/template_engine.py
  bengal/rendering/template_profiler.py
  bengal/themes/default/templates/base.html
  bengal/utils/build_context.py
  plan/active/rfc-content-ast-architecture.md
  plan/active/rfc-template-performance-optimization.md
Due: block-string-based-click-cls, block-legacy-cli-imports

themes: extract navigation to shared macros in partials/nav-menu.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/nav-menu.html
  plan/active/rfc-template-performance-optimization.md
Due: none

themes(base.html): fix macro undefined error by inlining macro definitions
  bengal/collections/__pycache__/__init__.cpython-312.pyc
  bengal/collections/__pycache__/errors.cpython-312.pyc
  bengal/collections/__pycache__/loader.cpython-312.pyc
  bengal/collections/__pycache__/validator.cpython-312.pyc
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/nav-menu.html
Due: none

themes: cache page lookups in docs-nav.html, docs-nav-section.html, index.html
  bengal/themes/default/templates/index.html
  bengal/themes/default/templates/partials/docs-nav-section.html
  bengal/themes/default/templates/partials/docs-nav.html
  tests/unit/cli/test_build_flags.py
  tests/unit/orchestration/test_incremental_orchestrator.py
Due: none

themes(content-components): add current_page_url param to child_page_tiles macro
  bengal/themes/default/templates/index.html
  bengal/themes/default/templates/partials/content-components.html
Due: none

update
  site/content/cli/site/build.md
Due: none

updates
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/index.html
  bengal/themes/default/templates/partials/content-components.html
  bengal/themes/default/templates/partials/docs-nav-section.html
  bengal/themes/default/templates/partials/docs-nav.html
Due: none

tests: align validator tests with 'silence is golden' pattern; fix health report truncation
  bengal/health/report.py
  site/content/cli/_index.md
  site/content/cli/collections/_index.md
  site/content/cli/collections/init.md
  site/content/cli/collections/list.md
  site/content/cli/collections/validate.md
  site/content/cli/site/build.md
  tests/integration/test_documentation_builds.py
  tests/unit/health/validators/test_assets.py
  tests/unit/health/validators/test_fonts.py
  tests/unit/health/validators/test_rss.py
  tests/unit/health/validators/test_sitemap.py
Due: block-legacy-cli-imports

css(layouts): center prose content in docs-main for consistent alignment with release pages
  bengal/themes/default/assets/css/composition/layouts.css
Due: none

css(action-bar): center action-bar-container in docs layout to match prose centering
  bengal/themes/default/assets/css/components/action-bar.css
  tests/unit/health/test_directive_validator.py
  tests/unit/utils/test_profile.py
Due: none

refinement
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/tokens/semantic.css
Due: none

update
  bengal/collections/__pycache__/__init__.cpython-312.pyc
  bengal/collections/__pycache__/errors.cpython-312.pyc
  bengal/collections/__pycache__/loader.cpython-312.pyc
  bengal/collections/__pycache__/validator.cpython-312.pyc
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/css/utilities/lazy-loading.css
  example.css
  tests/unit/collections/__pycache__/__init__.cpython-312.pyc
  tests/unit/collections/__pycache__/test_collection_config.cpython-312-pytest-8.4.2.pyc
  tests/unit/collections/__pycache__/test_discovery_integration.cpython-312-pytest-8.4.2.pyc
  tests/unit/collections/__pycache__/test_errors.cpython-312-pytest-8.4.2.pyc
  tests/unit/collections/__pycache__/test_schema_validator.cpython-312-pytest-8.4.2.pyc
Due: none

readme
  README.md
Due: none

back to top fix
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/templates/base.html
Due: none

footer adjustment
  bengal/themes/default/assets/css/layouts/footer.css
Due: none

plan: move 5 implemented RFCs out of active; remove empty placeholder
  plan/active/rfc-code-hygiene-december.md
  plan/active/rfc-content-ast-architecture.md
  plan/active/rfc-zensical-inspired-patterns.md
  plan/implemented/rfc-code-hygiene-december.md
  plan/implemented/rfc-render-performance-optimization.md
  plan/implemented/rfc-theme-feature-flags.md
  plan/implemented/rfc-typography-refinements.md
  plan/implemented/rfc-zensical-inspired-patterns.md
Due: none

plan: move 5 more implemented RFCs (collections, search-v2, 404, config-defaults, template-perf)
  plan/implemented/rfc-404-page-redesign.md
  plan/implemented/rfc-config-defaults-cleanup.md
  plan/implemented/rfc-content-collections.md
  plan/implemented/rfc-search-experience-v2.md
  plan/implemented/rfc-template-performance-optimization.md
Due: none

docs(rfc): add zero-cost design principle and Hugo comparison to content-layer-api RFC
  plan/active/rfc-404-page-redesign.md
  plan/active/rfc-config-defaults-cleanup.md
  plan/active/rfc-content-collections.md
  plan/active/rfc-content-layer-api.md
  plan/active/rfc-search-experience-v2.md
  plan/active/rfc-template-performance-optimization.md
Due: none

plan: remove duplicate RFCs from active (already in implemented)
  plan/active/rfc-404-page-redesign.md
  plan/active/rfc-config-defaults-cleanup.md
  plan/active/rfc-content-collections.md
  plan/active/rfc-search-experience-v2.md
  plan/active/rfc-template-performance-optimization.md
Due: none

content_layer: add unified content abstraction for local/remote sources (GitHub, REST, Notion); collections: extend with loader parameter; cli: add bengal sources commands
  bengal/cli/__init__.py
  bengal/cli/commands/sources.py
  bengal/collections/__init__.py
  bengal/content_layer/__init__.py
  bengal/content_layer/entry.py
  bengal/content_layer/loaders.py
  bengal/content_layer/manager.py
  bengal/content_layer/source.py
  bengal/content_layer/sources/__init__.py
  bengal/content_layer/sources/github.py
  bengal/content_layer/sources/local.py
  bengal/content_layer/sources/notion.py
  bengal/content_layer/sources/rest.py
  changelog.md
  plan/implemented/rfc-content-layer-api.md
  pyproject.toml
  tests/unit/content_layer/__init__.py
  tests/unit/content_layer/test_entry.py
  tests/unit/content_layer/test_loaders.py
  tests/unit/content_layer/test_local_source.py
  tests/unit/content_layer/test_manager.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(sources): fix import error (remove non-existent pass_site_context)
  bengal/cli/commands/sources.py
  plan/active/rfc-content-layer-api.md
Due: block-string-based-click-cls, block-legacy-cli-imports

plan: remove duplicate RFC from active (already in implemented)
  plan/active/rfc-content-layer-api.md
Due: none

docs(guides): add Remote Content Sources guide; update content-collections to reference loaders
  site/content/docs/guides/_index.md
  site/content/docs/guides/content-collections.md
  site/content/docs/guides/content-sources.md
Due: none

cli: add intuitive command aliases and shortcuts for common operations
  bengal/cli/__init__.py
  bengal/cli/base.py
Due: block-string-based-click-cls, block-legacy-cli-imports

content_layer: fix incorrect bengal[github] references to bengal[rest] in rest_loader; cli(sources): add rest loader to installation hints; tests: remove unused imports
  bengal/cli/commands/sources.py
  bengal/content_layer/loaders.py
  bengal/content_layer/sources/rest.py
  tests/unit/content_layer/test_entry.py
  tests/unit/content_layer/test_manager.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(changelog): add PR feedback fixes for content layer
  changelog.md
Due: none

docs(changelog): add reactive dataflow pipeline phase 1
  changelog.md
Due: none

docs(changelog): add reactive dataflow pipeline phase 2 - Bengal integration
  changelog.md
Due: none

pipeline(cache): add disk caching for streams - StreamCache for persistent storage, DiskCachedStream wrapper, version-based invalidation; extends Stream with disk_cache() method
  bengal/pipeline/__init__.py
  bengal/pipeline/cache.py
  tests/unit/pipeline/test_cache.py
Due: block-legacy-cli-imports
