Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

core: fix 6 silent errors from model restructuring + add cache invalidation guardrail
  bengal/content_types/base.py
  bengal/content_types/strategies.py
  bengal/core/page/kind.py
  bengal/core/page/proxy.py
  bengal/core/section/queries.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/xref_index.py
  bengal/protocols/core.py
  bengal/rendering/pipeline/json_accumulator.py
  tests/unit/core/test_section_cache_invalidation.py
  tests/unit/postprocess/test_robots_txt.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fixes
  bengal/core/section/__init__.py
  bengal/core/section/hierarchy.py
  bengal/core/section/queries.py
  bengal/orchestration/build/__init__.py
  tests/unit/core/test_section_freeze.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix
  tests/unit/debug/test_explainer.py
  tests/unit/debug/test_explainer_protocol.py
  tests/unit/orchestration/test_menu_orchestrator.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

update pounce
  pyproject.toml
Due: none

bump pounce
  pyproject.toml
Due: none

Optimize page navigation, line number computation, and code cleanup
  bengal/core/page/navigation.py
  bengal/health/validators/cross_ref.py
  bengal/rendering/page_operations.py
Due: ty, block-legacy-cli-imports

Bump version to 0.2.6 and add release notes
  pyproject.toml
  site/content/releases/0.2.6.md
  uv.lock
Due: none

Refactor hierarchy caching and menu page indexing
  bengal/core/section/hierarchy.py
  bengal/orchestration/menu.py
Due: ty, block-legacy-cli-imports

feat: add render pipeline profiler for per-step timing
  bengal/orchestration/build/rendering.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/profiler.py
  uv.lock
Due: ty, block-legacy-cli-imports

perf: pre-compile regex patterns and make cosmetic passes opt-in in format_html
  bengal/postprocess/html_output.py
Due: ty, block-legacy-cli-imports

refactor: remove Jinja2 — Bengal is 100% Kida
  .dori/context.json
  .dori/file_history.json
  bengal/core/theme/registry.py
  bengal/errors/display.py
  bengal/rendering/adapters/__init__.py
  bengal/rendering/adapters/jinja.py
  bengal/rendering/engines/__init__.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/errors/exceptions.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_functions/tables.py
  bengal/rendering/template_profiler.py
  bengal/rendering/utils/safe_access.py
  bengal/snapshots/templates.py
  pyproject.toml
  tests/performance/test_jinja2_bytecode_cache.py
  tests/unit/cli/test_error_display.py
  tests/unit/rendering/engines/test_engine_parity.py
  tests/unit/rendering/engines/test_jinja_cache.py
  tests/unit/rendering/test_asset_url_baseurl.py
  tests/unit/rendering/test_engine_capabilities.py
  tests/unit/rendering/test_jinja_utils.py
  tests/unit/rendering/test_template_cache_dev_mode.py
  tests/unit/rendering/test_template_engine_environment.py
  tests/unit/rendering/test_template_error_edge_cases.py
  tests/unit/rendering/test_template_errors.py
  tests/unit/rendering/test_template_functions_get_page.py
  tests/unit/rendering/test_template_inheritance_detection.py
  tests/unit/rendering/test_template_tests.py
  tests/unit/rendering/test_theme_inheritance.py
  tests/unit/rendering/utils/test_rendering_safe_access.py
  tests/unit/template_functions/test_convenience_wrappers.py
  tests/unit/template_functions/test_tables.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: update tests to reference Kida instead of removed Jinja2 engine
  tests/unit/errors/test_display.py
  tests/unit/services/test_validation.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: add Kida render performance handoff document
  docs/kida-render-performance-handoff.md
Due: none

context7
  context7.json
Due: none

fix(ci): redirect e2e job from missing tests/e2e/ to integration smoke tests
  .github/workflows/tests.yml
Due: none

fix(ci): add polib to dev deps and optional gettext extra
  pyproject.toml
  uv.lock
Due: none

perf: eliminate per-page menu cache invalidation
  bengal/core/menu.py
  bengal/rendering/engines/kida.py
  tests/unit/core/test_menu.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

perf: skip trailing whitespace stripping in minify mode
  bengal/postprocess/html_output.py
Due: ty, block-legacy-cli-imports

bench: add three-tier synthetic render benchmark
  benchmarks/bench_render_tiers.py
Due: ty

perf: cache static shell sections in base.html with Kida {% cache %}
  bengal/themes/default/templates/base.html
Due: check-template-css

fix: make t() fall back to gettext PO/MO catalogs when no YAML/JSON file exists
  bengal/rendering/template_functions/i18n.py
Due: ty, block-legacy-cli-imports

fix: normalize fingerprinted asset URLs to logical paths in HTML fallback
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

perf: cache manifest reverse map per pipeline instance in asset dep accumulation
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

chore: bump kida-templates minimum version to 0.2.8
  pyproject.toml
  uv.lock
Due: none

fix: cap record_loop iterations to prevent lock starvation in free-threaded Python
  tests/integration/test_thread_safety.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: use getattr for cached manifest attrs to survive SimpleNamespace stubs
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

Stage 0.2.6 release: comprehensive changelog, docs updates, CI optimization
  .github/workflows/tests.yml
  .github/workflows/ty.yml
  README.md
  changelog.md
  site/content/docs/reference/architecture/tooling/server.md
  site/content/docs/reference/directives/formatting.md
  site/content/releases/0.2.6.md
  uv.lock
Due: none

Stage 0.2.6 release: comprehensive changelog, docs updates, CI optimization (#175)
  .github/workflows/tests.yml
  .github/workflows/ty.yml
  README.md
  changelog.md
  site/content/docs/reference/architecture/tooling/server.md
  site/content/docs/reference/directives/formatting.md
  site/content/releases/0.2.6.md
  uv.lock
Due: none

Optimize integration test suite with class-scoped fixtures
  .github/workflows/tests.yml
  tests/_testing/markers.py
  tests/integration/test_blog_scenarios.py
  tests/integration/test_i18n.py
  tests/integration/test_mixed_content.py
  tests/integration/test_nav_tree_integration.py
  tests/integration/test_snapshot_integration.py
  uv.lock
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Address PR review: rename built_site → shared_site, deduplicate fixture logic
  tests/_testing/fixtures.py
  tests/_testing/markers.py
  tests/integration/test_blog_scenarios.py
  tests/integration/test_i18n.py
  tests/integration/test_mixed_content.py
  tests/integration/test_nav_tree_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Optimize integration test suite with class-scoped fixtures (#176)
  .github/workflows/tests.yml
  tests/_testing/fixtures.py
  tests/_testing/markers.py
  tests/integration/test_blog_scenarios.py
  tests/integration/test_i18n.py
  tests/integration/test_mixed_content.py
  tests/integration/test_nav_tree_integration.py
  tests/integration/test_snapshot_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

refactor: code simplification with verified performance and correctness
  bengal/cache/manifest.py
  bengal/errors/exceptions.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/pipeline/transforms.py
  bengal/rendering/renderer.py
  scripts/benchmark_transforms.py
Due: ty, block-legacy-cli-imports

ci: add per-test timeout to integration shards
  .github/workflows/tests.yml
Due: none

fix: correct docstring referencing wrong class variable name
  bengal/errors/exceptions.py
Due: ty, block-legacy-cli-imports

fix: add asyncio.timeout to linkcheck integration tests
  tests/integration/test_linkcheck.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

ci: use signal timeout method for integration shards
  .github/workflows/tests.yml
Due: none

tests
  .github/workflows/tests.yml
  pytest.ini
  tests/_testing/fixtures.py
  tests/integration/test_blog_scenarios.py
  tests/integration/test_link_previews.py
  tests/integration/test_snapshot_integration.py
  tests/integration/warm_build/conftest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: document CI shards and add poe test-integration-durations
  pyproject.toml
  tests/README.md
Due: none

refactor: code simplification with verified performance (#177)
  .github/workflows/tests.yml
  bengal/cache/manifest.py
  bengal/errors/exceptions.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/pipeline/transforms.py
  bengal/rendering/renderer.py
  scripts/benchmark_transforms.py
  tests/integration/test_linkcheck.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
