Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

docs(release): add 0.4.0 release page + release-notes distillation workflow
  .github/pull_request_template.md
  docs/b-stack-changelog-strategy.md
  pyproject.toml
  scripts/draft_release_notes.py
  site/content/releases/0.4.0.md
Due: ty

docs(release): 0.4.0 release page + release-notes distillation workflow (#453)
  .github/pull_request_template.md
  docs/b-stack-changelog-strategy.md
  pyproject.toml
  scripts/draft_release_notes.py
  site/content/releases/0.4.0.md
Due: ty

fix(theme): parenthesize JSON-LD @type conditional so tojson quotes it (#442)
  bengal/themes/default/templates/partials/article-jsonld.html
  changelog.d/442.fixed.md
  tests/themes/test_default_theme_kida.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(config): wire render_isolation* fields + catch up KNOWN_SECTION_KEYS (#446)
  bengal/config/defaults.py
  bengal/config/snapshot.py
  bengal/config/types.py
  bengal/config/validators.py
  changelog.d/446.fixed.md
  tests/unit/config/test_config_snapshot.py
  tests/unit/config/test_validators.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(tests): re-arm vacuous core-mixin guards against RuntimePage (#433)
  changelog.d/433.fixed.md
  tests/unit/core/test_no_core_mixins.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(assets): re-export AssetManifest + honor nested [assets] config (#447)
  bengal/assets/__init__.py
  bengal/orchestration/asset.py
  changelog.d/447.fixed.md
  tests/unit/assets/test_assets_pipeline.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(rendering): wire data_table into register_all() (#434)
  bengal/rendering/template_functions/__init__.py
  changelog.d/434.fixed.md
  site/content/docs/reference/template-functions/reference-generated.md
  tests/unit/template_functions/test_tables.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(health): write AutoFixer user content files atomically (#440)
  bengal/health/remediation/autofix.py
  changelog.d/440.fixed.md
  tests/unit/health/test_autofix_atomic_write.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(orchestration): fire build_complete hook on build failure (#437)
  bengal/orchestration/build/__init__.py
  changelog.d/437.fixed.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/core/orchestration.md
  tests/unit/orchestration/test_build_orchestrator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(autodoc): resolve "View source" links to real GitHub URLs (#441)
  bengal/themes/default/templates/autodoc/partials/header.html
  changelog.d/441.fixed.md
  tests/unit/autodoc/test_header_source_link.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): parenthesize JSON-LD @type conditional so tojson quotes it (#442) (#454)
  bengal/themes/default/templates/partials/article-jsonld.html
  changelog.d/442.fixed.md
  tests/themes/test_default_theme_kida.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(config): wire render_isolation* fields + catch up KNOWN_SECTION_KEYS (#446) (#455)
  bengal/config/defaults.py
  bengal/config/snapshot.py
  bengal/config/types.py
  bengal/config/validators.py
  changelog.d/446.fixed.md
  tests/unit/config/test_config_snapshot.py
  tests/unit/config/test_validators.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(tests): re-arm vacuous core-mixin guards against RuntimePage (#433) (#456)
  changelog.d/433.fixed.md
  tests/unit/core/test_no_core_mixins.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(rendering): wire data_table into register_all() (#434) (#457)
  bengal/rendering/template_functions/__init__.py
  changelog.d/434.fixed.md
  site/content/docs/reference/template-functions/reference-generated.md
  tests/unit/template_functions/test_tables.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(assets): re-export AssetManifest + honor nested [assets] config (#447) (#458)
  bengal/assets/__init__.py
  bengal/orchestration/asset.py
  changelog.d/447.fixed.md
  tests/unit/assets/test_assets_pipeline.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(autodoc): resolve "View source" links to real GitHub URLs (#441) (#461)
  bengal/themes/default/templates/autodoc/partials/header.html
  changelog.d/441.fixed.md
  tests/unit/autodoc/test_header_source_link.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(health): write AutoFixer user content files atomically (#440) (#459)
  bengal/health/remediation/autofix.py
  changelog.d/440.fixed.md
  tests/unit/health/test_autofix_atomic_write.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(orchestration): fire build_complete hook on build failure (#437) (#460)
  bengal/orchestration/build/__init__.py
  changelog.d/437.fixed.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/core/orchestration.md
  tests/unit/orchestration/test_build_orchestrator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(release): v0.4.1
  CHANGELOG.md
  changelog.d/433.fixed.md
  changelog.d/434.fixed.md
  changelog.d/437.fixed.md
  changelog.d/440.fixed.md
  changelog.d/441.fixed.md
  changelog.d/442.fixed.md
  changelog.d/446.fixed.md
  changelog.d/447.fixed.md
  pyproject.toml
  site/content/releases/0.4.1.md
  uv.lock
Due: none

chore(release): v0.4.1 (#462)
  CHANGELOG.md
  changelog.d/433.fixed.md
  changelog.d/434.fixed.md
  changelog.d/437.fixed.md
  changelog.d/440.fixed.md
  changelog.d/441.fixed.md
  changelog.d/442.fixed.md
  changelog.d/446.fixed.md
  changelog.d/447.fixed.md
  pyproject.toml
  site/content/releases/0.4.1.md
  uv.lock
Due: none

fix(core): honor Site.from_config(config_path=...) instead of silently ignoring it
  bengal/config/unified_loader.py
  bengal/core/site/factory.py
  changelog.d/444.fixed.md
  tests/unit/config/test_unified_loader_config_path.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(docs): correct content-types reference to the real register_strategy API + type keys
  bengal/content_types/registry.py
  changelog.d/436.fixed.md
  site/content/docs/reference/architecture/core/content-types.md
  site/content/docs/reference/architecture/design-principles.md
  tests/unit/content_types/test_registry_public_api.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(rendering): surface JsonAccumulator failures as build warnings, not silent debug
  bengal/rendering/pipeline/json_accumulator.py
  changelog.d/449.fixed.md
  tests/unit/postprocess/test_json_accumulator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(parsing): align parse_with_toc base contract to the 4-tuple production returns
  bengal/parsing/__init__.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/parsing/base.py
  bengal/parsing/python_markdown.py
  bengal/rendering/pipeline/core.py
  changelog.d/443.fixed.md
  site/content/docs/reference/architecture/meta/extension-points.md
  tests/unit/parsing/test_parser_signatures.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor(orchestration): remove dead divergent phase_cache_save
  bengal/orchestration/build/finalization.py
  changelog.d/451.removed.md
  tests/unit/orchestration/build/test_cache_save_build_context.py
  tests/unit/orchestration/build/test_finalization.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(docs): remove fabricated `bengal project` command group + add CLI-contract doc-lint
  changelog.d/435.fixed.md
  site/content/docs/about/glossary.md
  site/content/docs/content/organization/component-model.md
  site/content/docs/content/organization/frontmatter.md
  site/content/docs/extending/custom-skeletons.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/get-started/scaffold-your-site.md
  site/content/docs/reference/errors/_index.md
  site/content/docs/reference/site-templates.md
  site/content/docs/theming/templating/kida/performance.md
  site/content/docs/tutorials/sites/skeleton-quickstart.md
  tests/unit/cli/test_cli_contract_inventory.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(build): unify duplicate RebuildReason/RebuildReasonCode vocabularies
  bengal/build/contracts/results.py
  bengal/orchestration/build/results.py
  changelog.d/445.fixed.md
  tests/unit/build/contracts/test_results.py
  tests/unit/orchestration/build/test_rebuild_reason_unification.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(orchestration): drop stale phase_cache_save table reference
  site/content/docs/reference/architecture/core/orchestration.md
Due: none

fix(core): honor Site.from_config(config_path=...) instead of silently ignoring it (#463)
  bengal/config/unified_loader.py
  bengal/core/site/factory.py
  changelog.d/444.fixed.md
  tests/unit/config/test_unified_loader_config_path.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(docs): correct content-types reference to the real register_strategy API + type keys (#464)
  bengal/content_types/registry.py
  changelog.d/436.fixed.md
  site/content/docs/reference/architecture/core/content-types.md
  site/content/docs/reference/architecture/design-principles.md
  tests/unit/content_types/test_registry_public_api.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(rendering): surface JsonAccumulator failures as build warnings, not silent debug (#465)
  bengal/rendering/pipeline/json_accumulator.py
  changelog.d/449.fixed.md
  tests/unit/postprocess/test_json_accumulator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(docs): remove fabricated `bengal project` command group + add CLI-contract doc-lint (#468)
  changelog.d/435.fixed.md
  site/content/docs/about/glossary.md
  site/content/docs/content/organization/component-model.md
  site/content/docs/content/organization/frontmatter.md
  site/content/docs/extending/custom-skeletons.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/get-started/scaffold-your-site.md
  site/content/docs/reference/errors/_index.md
  site/content/docs/reference/site-templates.md
  site/content/docs/theming/templating/kida/performance.md
  site/content/docs/tutorials/sites/skeleton-quickstart.md
  tests/unit/cli/test_cli_contract_inventory.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(parsing): align parse_with_toc base contract to the 4-tuple production returns (#466)
  bengal/parsing/__init__.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/parsing/base.py
  bengal/parsing/python_markdown.py
  bengal/rendering/pipeline/core.py
  changelog.d/443.fixed.md
  site/content/docs/reference/architecture/meta/extension-points.md
  tests/unit/parsing/test_parser_signatures.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(build): unify duplicate RebuildReason/RebuildReasonCode vocabularies (#469)
  bengal/build/contracts/results.py
  bengal/orchestration/build/results.py
  changelog.d/445.fixed.md
  tests/unit/build/contracts/test_results.py
  tests/unit/orchestration/build/test_rebuild_reason_unification.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor(orchestration): remove dead divergent phase_cache_save (#467)
  bengal/orchestration/build/finalization.py
  changelog.d/451.removed.md
  site/content/docs/reference/architecture/core/orchestration.md
  tests/unit/orchestration/build/test_cache_save_build_context.py
  tests/unit/orchestration/build/test_finalization.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(postprocess): remove production unittest.mock import from index_generator
  bengal/postprocess/output_formats/index_generator.py
  changelog.d/450.fixed.md
  tests/unit/postprocess/test_output_formats_index_json.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(tests): de-vacuum tracks hasattr assertion + cover AssetURL/PerformanceValidator contracts
  changelog.d/473.fixed.md
  tests/integration/test_tracks_rendering.py
  tests/unit/health/test_validator_contracts.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(io): write ref-cache, latest.json, and bengal.yaml atomically
  bengal/cli/milo_commands/version.py
  bengal/rendering/external_refs/resolver.py
  bengal/utils/observability/performance_collector.py
  changelog.d/471.fixed.md
  tests/unit/utils/io/test_atomic_writes_471.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(rendering,server): emit diagnostics on cache_checker + build_trigger except swallows
  bengal/rendering/pipeline/cache_checker.py
  bengal/server/build_trigger.py
  changelog.d/472.fixed.md
  tests/unit/rendering/test_pipeline_cache_storage.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
