Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

ty
  bengal/analysis/graph/visualizer.py
  bengal/analysis/results.py
  bengal/assets/pipeline.py
  bengal/autodoc/extractors/cli.py
  bengal/health/validators/connectivity.py
  bengal/health/validators/rendering.py
  bengal/orchestration/render/orchestrator.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/social_cards.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/autodoc.py
  bengal/rendering/template_functions/get_page.py
  bengal/snapshots/builder.py
Due: ty, block-legacy-cli-imports

update
  bengal/health/validators/connectivity.py
  bengal/health/validators/links.py
  bengal/orchestration/render/orchestrator.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/social_cards.py
Due: ty, block-legacy-cli-imports

update
  bengal/utils/observability/logger.py
Due: ty, block-legacy-cli-imports

linkfix
  bengal/snapshots/builder.py
Due: ty, block-legacy-cli-imports

updaets
  changelog.md
  site/content/releases/0.1.9.md
Due: none

core: include graph_visualizer.html template in package distribution
  pyproject.toml
Due: none

fix: added graph templates to package data config
  pyproject.toml
Due: none

test
  pyproject.toml
  tests/unit/test_package_data.py
Due: ty

test updates
  .github/workflows/tests.yml
  tests/unit/orchestration/incremental/test_incremental_properties.py
  tests/unit/orchestration/test_build_properties.py
Due: ty

ty types
  pyproject.toml
Due: none

cleanup
  bengal/autodoc/README.md
  bengal/autodoc/fallback/README.md
  bengal/autodoc/fallback/module.html
  bengal/autodoc/fallback/section-index.html
  tests/unit/test_package_data.py
Due: ty

fix and tests
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/incremental/orchestrator.py
  tests/integration/test_css_hot_reload.py
  tests/unit/orchestration/build/test_rendering.py
Due: ty, block-legacy-cli-imports

rendering: simplify CSS safety net for incremental builds
  bengal/orchestration/build/rendering.py
  tests/integration/test_css_hot_reload.py
  tests/unit/orchestration/build/test_rendering.py
Due: ty, block-legacy-cli-imports

fix
  tests/unit/orchestration/build/test_rendering.py
Due: ty

themes: add missing CSS for doc/home.html template
  .pre-commit-config.yaml
  bengal/themes/default/assets/css/pages/docs-home.css
  bengal/themes/default/assets/css/style.css
  scripts/check_template_css.py
  tests/unit/themes/test_css_coverage.py
Due: ty

themes: remove unused template component files
  bengal/themes/default/templates/README.md
  bengal/themes/default/templates/partials/_embeds/card.html
  bengal/themes/default/templates/partials/_embeds/panel.html
  bengal/themes/default/templates/partials/_embeds/section.html
  bengal/themes/default/templates/partials/components/advanced-patterns.html
  bengal/themes/default/templates/partials/components/wrappers.html
Due: none

feedback
  scripts/check_template_css.py
Due: ty

update
  tests/roots/test-blog-paginated/bengal.toml
Due: none

updates
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build/results.py
  plan/rfc-incremental-build-dependency-gaps.md
Due: ty, block-legacy-cli-imports

fix
  bengal/core/cascade_engine.py
  site/content/docs/about/_index.md
  tests/integration/warm_build/test_dependency_gaps.py
Due: ty, block-legacy-cli-imports

more tests
  tests/integration/test_cascade_integration.py
  tests/unit/core/test_cascade.py
Due: ty

fix attempt on cascade bug
  bengal/core/cascade_engine.py
  bengal/themes/default/templates/authors/list.html
  bengal/themes/default/templates/authors/single.html
Due: ty, block-legacy-cli-imports

test for cascade
  tests/unit/core/test_cascade.py
Due: ty

ext link previews
  bengal/themes/default/assets/js/enhancements/link-previews.js
  site/config/_default/external_refs.yaml
Due: none

updates
  bengal/build/provenance/filter.py
  bengal/core/cascade_engine.py
  bengal/errors/suggestions.py
  plan/rfc-incremental-build-dependency-gaps.md
  site/content/docs/about/philosophy.md
  site/content/docs/building/performance/large-sites.md
  site/content/docs/content/organization/frontmatter.md
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/get-started/scaffold-your-site.md
  site/content/docs/reference/architecture/core/content-types.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/errors/_index.md
  site/content/docs/reference/errors/health-codes.md
  site/content/docs/reference/template-functions/collection-filters.md
  site/content/docs/reference/template-functions/linking-functions.md
  site/content/docs/reference/template-functions/navigation-functions.md
  site/content/docs/reference/template-functions/string-date-filters.md
  site/content/docs/reference/template-functions/view-filters.md
  site/content/docs/theming/assets/_index.md
  site/content/docs/theming/templating/custom-engine.md
  site/content/docs/theming/themes/customize.md
  site/content/docs/tutorials/operations/analyze-site-connectivity.md
  site/content/docs/tutorials/sites/build-a-multi-author-blog.md
  site/content/docs/tutorials/theming/getting-started-with-kida.md
  tests/integration/warm_build/test_dependency_gaps.py
  tests/unit/build/provenance/test_filter.py
Due: ty, block-legacy-cli-imports

updates
  bengal/content/discovery/content_discovery.py
  bengal/core/cascade_engine.py
  bengal/core/page/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/page_core.py
  bengal/core/page/proxy.py
  bengal/snapshots/types.py
Due: ty, block-legacy-cli-imports

updates
  site/content/docs/about/benchmarks.md
  site/content/docs/about/glossary.md
  site/content/docs/about/limitations.md
  site/content/docs/theming/templating/image-processing.md
Due: none

updates
  bengal/core/cascade_snapshot.py
  bengal/core/page/metadata.py
  bengal/core/page/proxy.py
  bengal/core/site/core.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/content.py
  site/content/docs/building/output-formats.md
  site/content/docs/content/validation/validate-and-fix.md
  tests/unit/core/test_cascade_snapshot.py
Due: ty, block-legacy-cli-imports

updates
  bengal/content/discovery/content_discovery.py
  bengal/core/cascade_engine.py
  bengal/core/page/__init__.py
  bengal/core/page/page_core.py
  bengal/core/page/proxy.py
  bengal/core/site/core.py
  bengal/orchestration/content.py
  site/content/docs/theming/templating/kida/architecture.md
Due: ty, block-legacy-cli-imports

updates
  bengal/core/site/core.py
  bengal/protocols/core.py
  plan/rfc-eager-cascade-merge.md
  pyproject.toml
  tests/_testing/guards.py
Due: ty, block-legacy-cli-imports

dev deps
  pyproject.toml
  uv.lock
Due: none

tests
  bengal/config/directory_loader.py
  bengal/config/loader.py
  bengal/config/loader_utils.py
  bengal/config/unified_loader.py
  bengal/core/cascade_snapshot.py
  bengal/core/page/metadata.py
  bengal/core/site/core.py
  bengal/orchestration/content.py
  tests/core/test_image_processing.py
  tests/unit/core/test_cascade_snapshot.py
  tests/unit/orchestration/test_content_type_detection.py
  tests/unit/rendering/test_type_based_templates.py
Due: ty, block-legacy-cli-imports

poe and other improvements
  Makefile
  benchmarks/bench_contextvar_config.py
  pyproject.toml
  tests/integration/stateful/test_build_workflows.py
  uv.lock
Due: ty

dead code
  bengal/utils/observability/logger.py
Due: ty, block-legacy-cli-imports

test roots
  bengal/parsing/__init__.py
  tests/roots/test-assets/bengal.toml
  tests/roots/test-baseurl/bengal.toml
  tests/roots/test-basic/bengal.toml
  tests/roots/test-blog-paginated/bengal.toml
  tests/roots/test-cascade/bengal.toml
  tests/roots/test-directives/bengal.toml
  tests/roots/test-i18n-content/bengal.toml
  tests/roots/test-large/bengal.toml
  tests/roots/test-mixed-content/bengal.toml
  tests/roots/test-navigation/bengal.toml
  tests/roots/test-taxonomy/bengal.toml
  tests/roots/test-templates/bengal.toml
  tests/roots/test-versioned/bengal.toml
Due: ty, block-legacy-cli-imports

rendering: remove mistune backend, migrate to patitas
  bengal/core/site/core.py
  bengal/parsing/backends/mistune/__init__.py
  bengal/parsing/backends/mistune/ast.py
  bengal/parsing/backends/mistune/patterns.py
  bengal/parsing/backends/mistune/toc.py
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/rendering/highlighting/__init__.py
  bengal/rendering/highlighting/deferred.py
  bengal/rendering/pipeline/core.py
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/templates/partials/docs-nav.html
  site/content/docs/reference/template-functions/content-filters.md
  tests/integration/test_ast_pipeline.py
  tests/integration/test_directive_nesting.py
  tests/migration/conftest.py
  tests/rendering/parsers/test_patitas/test_page_context_directives.py
  tests/unit/rendering/conftest.py
  tests/unit/rendering/directives/test_media_directives.py
  tests/unit/rendering/directives/test_named_closers.py
  tests/unit/rendering/test_code_block_highlighting.py
  tests/unit/rendering/test_crossref.py
  tests/unit/rendering/test_directive_optimizations.py
  tests/unit/rendering/test_directive_registration.py
  tests/unit/rendering/test_include_directive.py
  tests/unit/rendering/test_literalinclude_directive.py
  tests/unit/rendering/test_mistune_parser.py
  tests/unit/rendering/test_parser_configuration.py
  tests/unit/rendering/test_steps_directive.py
  tests/unit/rendering/test_syntax_highlighting.py
  tests/unit/rendering/test_target_directive.py
Due: ty, block-legacy-cli-imports

updates
  bengal/core/page/proxy.py
  bengal/postprocess/html_output.py
  bengal/server/build_trigger.py
  bengal/server/live_reload.py
  bengal/server/request_handler.py
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/templates/partials/docs-nav.html
  tests/unit/core/test_page_proxy.py
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_live_reload.py
Due: ty, block-legacy-cli-imports

updates
  bengal/build/provenance/filter.py
  bengal/orchestration/taxonomy.py
Due: ty, block-legacy-cli-imports

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
