Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

docs: document parsed page test helper
  tests/_testing/README.md
Due: none

docs: note page record test guardrails
  changelog.d/page-record-test-boundaries.changed.md
Due: none

tests: seed graph builder links through adapter
  tests/unit/analysis/test_graph_builder_parallel.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed link registry links through adapter
  tests/unit/health/test_link_registry.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed renderer menu page content through adapter
  tests/unit/rendering/test_renderer_menu_state.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed pipeline reporter content through adapter
  tests/unit/rendering/test_pipeline_reporter_output.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed get_page parsed content through adapter
  tests/unit/rendering/test_template_functions_get_page.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed rendering link validator links through adapter
  tests/unit/rendering/test_link_validator.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed page content caches through adapter
  tests/unit/rendering/test_page_content.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed page hashability toc through adapter
  tests/unit/core/test_page_hashability.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: clear pipeline cache parsed state through adapter
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: require adapter seeded parsed state
  tests/unit/cache/test_parsed_application_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: add source page adapter helper
  tests/_testing/__init__.py
  tests/_testing/page_records.py
  tests/unit/core/test_page_record_migration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build page content fixtures through source adapter
  tests/_testing/page_records.py
  tests/unit/rendering/test_page_content.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build page operation fixtures through source adapter
  tests/unit/rendering/test_page_operations.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build pipeline reporter page through source adapter
  tests/unit/rendering/test_pipeline_reporter_output.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build renderer tag pages through source adapter
  tests/unit/rendering/test_renderer_tag_context.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build i18n template pages through source adapter
  tests/unit/rendering/test_i18n_template_functions.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build section url page through source adapter
  tests/unit/rendering/test_section_urls.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build html format pages through source adapter
  tests/unit/rendering/test_output_format_html.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build crossref baseurl pages through source adapter
  tests/unit/rendering/test_crossref_baseurl.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: guard migrated rendering page construction
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/rendering/test_crossref.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: support output paths in page adapter helper
  tests/_testing/page_records.py
  tests/unit/core/test_page_record_migration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build page url fixtures through source adapter
  tests/unit/rendering/test_page_urls.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build section ergonomics pages through source adapter
  tests/unit/rendering/test_section_ergonomics.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build renderer index fixtures through source adapter
  tests/unit/rendering/test_renderer_index_conflict.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build template selection pages through source adapter
  tests/unit/rendering/test_renderer_template_selection.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build template url pages through source adapter
  tests/unit/rendering/test_template_url_access.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: build rendering url page through source adapter
  tests/unit/rendering/utils/test_rendering_url.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: guard more rendering page construction
  tests/unit/content/test_page_construction_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: document source page test helper output paths
  tests/_testing/README.md
Due: none

tests: build taxonomy baseurl pages through source adapter
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/template_functions/test_taxonomies_baseurl.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: fix source page migration ci failures
  bengal/cache/parsed_output.py
  tests/unit/snapshots/test_wave_scheduler.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

content: preserve notebook heading titles
  bengal/content/discovery/content_parser.py
  changelog.d/notebook-title-from-h1.fixed.md
  tests/integration/test_notebook_feature.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

ci: narrow performance evidence enforcement
  .github/pull_request_template.md
  scripts/check_performance_evidence.py
  tests/unit/test_performance_evidence_check.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

content: ignore fenced headings for notebook titles
  bengal/content/discovery/content_parser.py
  tests/unit/content/test_notebook_parser.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: codify saga planning workflow
  AGENTS.md
  CHANGELOG.md
  docs/live-reload-pipeline-review.md
  plan/AGENTS.md
  plan/README.md
  plan/rfc-health-diagnostics-audit.md
  plan/rfc-incremental-dependency-indexes.md
Due: none

core: isolate page compatibility boundary
  bengal/__init__.py
  bengal/core/__init__.py
  bengal/core/site_content.py
  bengal/protocols/analysis.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/page_records.py
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/core/test_public_exports.py
  tests/unit/core/test_site_caching.py
  tests/unit/core/test_site_lifecycle.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: migrate analysis page fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/page_records.py
  tests/unit/analysis/test_analysis_optimization.py
  tests/unit/analysis/test_graph_analysis.py
  tests/unit/analysis/test_graph_builder_parallel.py
  tests/unit/analysis/test_graph_features.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/content/test_page_construction_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate health and cache page fixtures
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/cache/test_query_index.py
  tests/unit/cache/test_query_index_registry.py
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/health/validators/test_connectivity.py
  tests/unit/health/validators/test_navigation_validator.py
  tests/unit/health/validators/test_taxonomy.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
