Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

site: add demo learning tracks (Essentials + Content Mastery)
  site/content/tracks/_index.md
  site/content/tracks/bengal-essentials.md
  site/content/tracks/content-mastery.md
  site/data/tracks.yaml
Due: none

updates
  bengal/rendering/parsers/mistune.py
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/plugins/directives/fenced.py
  bengal/rendering/plugins/directives/steps.py
  bengal/rendering/template_functions/get_page.py
  bengal/themes/default/assets/css/components/steps.css
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/js/toc.js
  site/content/docs/getting-started/writer-quickstart.md
  tests/unit/rendering/test_mistune_parser.py
  tests/unit/rendering/test_steps_directive.py
  tests/unit/rendering/test_template_functions_get_page.py
Due: block-legacy-cli-imports

updates
  site/content/docs/guides/curated-tracks.md
  site/content/guides/curated-tracks.md
  site/content/guides/customizing-themes.md
Due: none

rendering: fix ruff SIM108 violations by converting if-else blocks to ternary operators in include and literalinclude directives
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/plugins/directives/include.py
  bengal/rendering/plugins/directives/literalinclude.py
  site/content/docs/about/concepts/content-organization.md
  site/content/docs/about/faq.md
  site/content/docs/getting-started/_index.md
  site/content/docs/getting-started/installation.md
  site/content/docs/getting-started/writer-quickstart.md
  site/content/docs/guides/content-reuse.md
  site/content/docs/reference/_index.md
  site/content/docs/reference/directives/_index.md
  site/content/docs/reference/directives/admonitions.md
  site/content/docs/reference/directives/content-reuse.md
  site/content/docs/reference/directives/formatting.md
  site/content/docs/reference/directives/interactive.md
  site/content/docs/reference/directives/layout.md
  tests/unit/rendering/test_include_directive.py
  tests/unit/rendering/test_literalinclude_directive.py
Due: block-legacy-cli-imports

updates
  bengal/analysis/community_detection.py
  bengal/analysis/graph_visualizer.py
  bengal/analysis/knowledge_graph.py
  bengal/analysis/link_suggestions.py
  bengal/analysis/page_rank.py
  bengal/analysis/path_analysis.py
  bengal/autodoc/generator.py
  bengal/health/validators/tracks.py
  bengal/rendering/template_functions/data.py
  bengal/themes/default/assets/js/mermaid-theme.js
  plan/active/graph-analysis-enhancements.md
  plan/active/graph-analysis-investigation.md
Due: block-legacy-cli-imports

updates
  bengal/analysis/graph_visualizer.py
  bengal/analysis/knowledge_graph.py
  bengal/cli/commands/graph/bridges.py
  bengal/cli/commands/graph/communities.py
  bengal/cli/commands/graph/pagerank.py
  bengal/postprocess/special_pages.py
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/templates/search.html
  bengal/themes/default/templates/tags.html
  plan/active/graph-analysis-enhancements.md
  site/content/cli/utils/graph/_index.md
  site/content/docs/guides/_index.md
  site/content/docs/guides/graph-analysis.md
  site/content/docs/reference/architecture/subsystems/analysis.md
  tests/unit/analysis/test_graph_features.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/cli/test_cli_programmatic.py
Due: block-string-based-click-cls, block-legacy-cli-imports

updates
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/hero.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/css/utilities/fluid-blobs.css
  bengal/themes/default/templates/home.html
Due: none

test fix
  bengal/themes/default/BLOB_BACKGROUND.md
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/templates/home.html
  demo-animations.html
  demo-docs-animations.html
  demo-theme-animations.html
  tests/unit/analysis/test_community_detection.py
Due: none

updates
  bengal/themes/default/BLOB_BACKGROUND.md
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/hero.css
  bengal/themes/default/assets/css/utilities/fluid-blobs.css
Due: none

fix
  bengal/rendering/template_engine.py
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/components/graph-contextual.css
  bengal/themes/default/assets/js/graph-contextual.js
  bengal/themes/default/assets/js/graph-minimap.js
  bengal/themes/default/assets/js/session-path-tracker.js
  bengal/themes/default/templates/base.html
Due: block-legacy-cli-imports

test
  bengal/themes/default/templates/partials/navigation-components.html
Due: none

fixes
  bengal/themes/default/assets/css/components/graph-contextual.css
  bengal/themes/default/assets/js/graph-contextual.js
  site/config/environments/production.yaml
Due: none

change
  .github/workflows/pages.yml
  bengal/config/env_overrides.py
  site/config/environments/production.yaml
Due: block-legacy-cli-imports

test
  bengal/rendering/template_functions/navigation.py
Due: block-legacy-cli-imports

fixes
  bengal/analysis/graph_visualizer.py
  bengal/themes/default/assets/css/components/graph-contextual.css
  bengal/themes/default/assets/js/graph-contextual.js
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/search.html
Due: block-legacy-cli-imports

health: add incremental validation with result caching (Phase 1)
  bengal/cache/build_cache.py
  bengal/cli/__init__.py
  bengal/cli/commands/validate.py
  bengal/health/health_check.py
  bengal/health/report.py
  bengal/health/validators/directives.py
  bengal/orchestration/build.py
  bengal/rendering/plugins/directives/validator.py
  bengal/server/build_handler.py
  bengal/server/dev_server.py
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/utils/build_stats.py
  bengal/utils/profile.py
  plan/active/health-check-strategy.md
  site/config/environments/local.yaml
Due: block-string-based-click-cls, block-legacy-cli-imports

health: add progressive severity and auto-fix framework (Phase 2.1-2.2)
  bengal/cli/__init__.py
  bengal/cli/commands/fix.py
  bengal/cli/commands/validate.py
  bengal/health/autofix.py
  bengal/health/report.py
Due: block-string-based-click-cls, block-legacy-cli-imports

health: add watch mode for continuous validation (Phase 2.3)
  bengal/cli/commands/validate.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: fix redundant command groups for validate and fix commands
  bengal/cli/__init__.py
  bengal/cli/commands/fix.py
  bengal/cli/commands/validate.py
  bengal/health/autofix.py
  bengal/health/report.py
  changelog.md
  tests/unit/health/test_directive_validator_fences.py
  tests/unit/health/test_health_report.py
Due: block-string-based-click-cls, block-legacy-cli-imports

themes(graph): enforce visibility on graph minimap to fix production fade-out
  bengal/themes/default/assets/js/graph-minimap.js
Due: none

health: fix autofix file resolution by passing metadata in check results
  bengal/health/autofix.py
  bengal/health/report.py
  bengal/health/validators/directives.py
Due: block-legacy-cli-imports

health: fix IndentationError in AutoFixer.get_fixes loop
  bengal/health/autofix.py
Due: block-legacy-cli-imports

fixes
  bengal/cli/commands/fix.py
  bengal/health/autofix.py
  bengal/health/validators/directives.py
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/plugins/directives/admonitions.py
  bengal/rendering/plugins/directives/fenced.py
  bengal/themes/default/templates/blog/single.html
  site/content/docs/getting-started/contributor-quickstart.md
  site/content/docs/getting-started/installation.md
  site/content/docs/getting-started/writer-quickstart.md
  site/content/docs/guides/content-reuse.md
  site/content/docs/guides/content-workflow.md
  site/content/docs/guides/customizing-themes.md
  site/content/docs/guides/deployment.md
  site/content/docs/guides/migrating-content.md
  site/content/docs/reference/architecture/meta/testing.md
  site/content/docs/reference/directives/_index.md
  site/content/docs/reference/directives/admonitions.md
  site/content/docs/reference/directives/content-reuse.md
  site/content/docs/reference/directives/formatting.md
  site/content/docs/reference/directives/interactive.md
  site/content/docs/reference/directives/layout.md
Due: block-string-based-click-cls, block-legacy-cli-imports

templates(doc): fix graph-contextual visibility by adding missing graph-loading class and inline visibility styles to match page.html
  bengal/themes/default/templates/doc/single.html
Due: none

analysis: fix doubled baseurl in graph_visualizer by using page.url which already includes baseurl
  bengal/analysis/graph_visualizer.py
Due: block-legacy-cli-imports

rendering: add link transformer to prepend baseurl to internal markdown links; integrate into pipeline
  bengal/rendering/link_transformer.py
  bengal/rendering/pipeline.py
  tests/unit/rendering/test_link_transformer.py
Due: block-legacy-cli-imports

themes: simplify graph script loading from dynamic to static; more reliable in production builds
  bengal/themes/default/templates/base.html
Due: none

themes: use page.url instead of page.relative_url for graph-contextual data-page-url; fixes baseurl mismatch
  bengal/themes/default/templates/doc/single.html
  bengal/themes/default/templates/page.html
Due: none

tests: add regression tests for baseurl handling in templates, graph JSON, and markdown links
  tests/integration/test_baseurl_builds.py
Due: none

ci: restore --autodoc --no-incremental --environment production flags to build command
  .github/workflows/pages.yml
Due: none

orchestration: use relative_url for menu items to avoid double baseurl
  bengal/orchestration/menu.py
Due: block-legacy-cli-imports

analysis: fix graph page asset manifest lookup to check output_dir first
  bengal/analysis/graph_visualizer.py
Due: block-legacy-cli-imports

docs: update README for 0.1.4 release with configuration system overhaul and new features
  README.md
Due: none

ci: add push trigger to tests workflow so badge reflects main branch status
  .github/workflows/tests.yml
Due: none

tests: fix analysis mock patterns to use get_analysis_pages(); fix baseurl expectations and CI timing thresholds
  plan/active/health-check-strategy.md
  plan/active/rfc-baseurl-pattern-improvement.md
  plan/active/rfc-js-loading-strategy.md
  plan/active/tracks-testing-and-robustness.md
  plan/deferred/js-loading-strategy.md
  plan/implemented/baseurl-template-wrapper.md
  plan/implemented/health-check-validation-commands.md
  plan/implemented/tracks-integration-tests.md
  tests/integration/test_config_system_integration.py
  tests/integration/test_logging_integration.py
  tests/unit/analysis/test_link_suggestions.py
  tests/unit/analysis/test_page_rank.py
  tests/unit/analysis/test_path_analysis.py
Due: none

docs(plan): add adversarial security audit findings with P0/P1/P2/P3 prioritization
  plan/active/security-audit-findings.md
Due: none
