Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

core: add exception chaining to raise-in-except blocks
  .dori/local/logs/2026-02-07.jsonl
  bengal/cli/commands/upgrade/command.py
  bengal/rendering/context/data_tracking.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

tests: guard bs4 import in integration tests
  .dori/local/logs/2026-02-07.jsonl
  tests/integration/test_documentation_builds.py
  tests/integration/test_output_quality.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

core: convert TypeVar to PEP 695 type parameters (UP047)
  bengal/analysis/utils/indexing.py
  bengal/analysis/utils/scoring.py
  bengal/analysis/utils/validation.py
  bengal/parsing/backends/patitas/directives/decorator.py
  bengal/utils/concurrency/retry.py
Due: ty, block-legacy-cli-imports

core: convert to PEP 695 type parameter syntax
  .dori/local/logs/2026-02-07.jsonl
Due: none

core: add slots=True to frozen dataclasses
  .dori/local/logs/2026-02-07.jsonl
  bengal/core/author.py
  bengal/core/build_state.py
  bengal/core/diagnostics.py
  bengal/core/page/bundle.py
  bengal/core/series.py
  bengal/core/site_data.py
  bengal/core/theme/registry.py
  bengal/core/url_ownership.py
Due: ty, block-legacy-cli-imports

style: auto-fix source lint violations
  .dori/local/logs/2026-02-07.jsonl
  bengal/analysis/graph/knowledge_graph.py
  bengal/analysis/utils/scoring.py
  bengal/analysis/utils/traversal.py
  bengal/content_types/utils.py
  bengal/core/page_cache.py
  bengal/core/utils/__init__.py
  bengal/debug/__init__.py
  bengal/debug/content_migrator.py
  bengal/debug/utils.py
  bengal/errors/session.py
  bengal/health/validators/directives/__init__.py
  bengal/orchestration/content.py
  bengal/orchestration/render/orchestrator.py
  bengal/parsing/backends/patitas/directives/builtins/__init__.py
  bengal/parsing/backends/patitas/directives/builtins/marimo.py
  bengal/parsing/backends/patitas/directives/registry.py
  bengal/protocols/core.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/engines/kida.py
  bengal/rendering/highlighting/deferred.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/write_behind.py
  bengal/rendering/template_functions/icons.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/utils/contextvar.py
  bengal/server/file_watcher.py
  bengal/snapshots/__init__.py
  bengal/snapshots/templates.py
  bengal/themes/__init__.py
  bengal/utils/primitives/__init__.py
Due: ty, block-legacy-cli-imports

tests: prefix unused variables with underscore
  .dori/local/logs/2026-02-07.jsonl
  tests/unit/health/test_linkcheck_ignore_policy.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: restore imports stripped by ruff auto-fix in deprecation tests
  tests/unit/protocols/test_protocols.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

ci: add --clean-output to pages build to fix 404s on /api/ and /cli/
  .github/workflows/pages.yml
Due: none

autodoc: fix section-index pages blocked by stale URL claims from cache
  bengal/autodoc/orchestration/index_pages.py
  tests/unit/autodoc/test_index_pages.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: fix stale claims in about section
  site/content/docs/about/_index.md
  site/content/docs/about/comparison.md
  site/content/docs/about/glossary.md
Due: none

docs: add ext cross-links for Kida, Patitas, Rosettes in about section
  site/content/docs/about/benchmarks.md
  site/content/docs/about/comparison.md
  site/content/docs/about/concepts/_index.md
Due: none

docs
  .dori/local/logs/2026-02-07.jsonl
  example-sites/fan-wiki/.gitignore
  example-sites/fan-wiki/config/_default/build.yaml
  example-sites/fan-wiki/config/_default/content.yaml
  example-sites/fan-wiki/config/_default/features.yaml
  example-sites/fan-wiki/config/_default/params.yaml
  example-sites/fan-wiki/config/_default/site.yaml
  example-sites/fan-wiki/config/_default/theme.yaml
  example-sites/fan-wiki/config/environments/local.yaml
  example-sites/fan-wiki/config/environments/production.yaml
  example-sites/fan-wiki/content/_index.md
  example-sites/fan-wiki/data/resume.yaml
  example-sites/milos-blog/.gitignore
  example-sites/milos-blog/config/_default/build.yaml
  example-sites/milos-blog/config/_default/content.yaml
  example-sites/milos-blog/config/_default/features.yaml
  example-sites/milos-blog/config/_default/params.yaml
  example-sites/milos-blog/config/_default/site.yaml
  example-sites/milos-blog/config/_default/theme.yaml
  example-sites/milos-blog/config/environments/local.yaml
  example-sites/milos-blog/config/environments/production.yaml
  example-sites/milos-blog/content/about.md
  example-sites/milos-blog/content/index.md
  example-sites/milos-blog/content/posts/first-post.md
  example-sites/milos-blog/content/posts/second-post.md
Due: none

docs: fix stale claims and cross-links in building section
  site/content/docs/building/configuration/_index.md
  site/content/docs/building/configuration/profiles.md
  site/content/docs/building/performance/large-sites.md
  site/content/docs/building/troubleshooting/template-errors.md
Due: none

docs: fix stale claims and style issues in content section
  site/content/docs/content/_index.md
  site/content/docs/content/authoring/_index.md
  site/content/docs/content/authoring/code-blocks.md
  site/content/docs/content/collections/_index.md
  site/content/docs/content/reuse/filtering.md
Due: none

docs: fix stale fields and references in extending section
  site/content/docs/extending/custom-skeletons.md
  site/content/docs/extending/theme-customization.md
Due: none

docs: fix stale claims in get-started section
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-contributor.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/get-started/scaffold-your-site.md
Due: none

docs: fix stale claims in reference section
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/kida-syntax.md
Due: none

docs: align page URL properties to match codebase (page.href, page._path)
  site/content/docs/building/output-formats.md
  site/content/docs/building/troubleshooting/template-errors.md
  site/content/docs/content/authoring/linking.md
  site/content/docs/extending/theme-customization.md
  site/content/docs/reference/architecture/rendering/content-processing-api.md
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/kida-syntax.md
  site/content/docs/reference/template-functions/collection-filters.md
  site/content/docs/reference/template-functions/linking-functions.md
  site/content/docs/reference/template-functions/navigation-functions.md
  site/content/docs/reference/template-functions/string-date-filters.md
  site/content/docs/reference/theme-variables.md
  site/content/docs/theming/templating/kida/performance.md
  site/content/docs/tutorials/migration/from-hugo.md
  site/content/docs/tutorials/migration/from-jekyll.md
  site/content/docs/tutorials/migration/from-sphinx.md
Due: none

docs: audit theming section for staleness
  site/content/docs/theming/assets/_index.md
  site/content/docs/theming/templating/_index.md
  site/content/docs/theming/templating/custom-engine.md
  site/content/docs/theming/templating/kida/_index.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/content/docs/theming/templating/kida/caching/_index.md
  site/content/docs/theming/templating/kida/caching/fragments.md
  site/content/docs/theming/templating/kida/create-custom-template.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
  site/content/docs/theming/templating/kida/performance.md
  site/content/docs/theming/templating/kida/syntax/functions.md
  site/content/docs/theming/templating/kida/syntax/operators.md
  site/content/docs/theming/themes/_index.md
Due: none

docs: replace Jinja2-style block endings with {% end %} in Kida examples
  site/content/docs/content/authoring/linking.md
  site/content/docs/content/reuse/filtering.md
  site/content/docs/reference/kida-syntax.md
  site/content/docs/theming/templating/_index.md
  site/content/docs/theming/templating/image-processing.md
  site/content/docs/theming/templating/kida/caching/fragments.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
  site/content/docs/theming/templating/kida/syntax/functions.md
  site/content/docs/theming/templating/kida/syntax/operators.md
  site/content/docs/theming/templating/kida/syntax/variables.md
  site/content/docs/theming/themes/customize.md
  site/content/docs/tutorials/content/create-a-tutorial-series.md
  site/content/docs/tutorials/theming/getting-started-with-kida.md
Due: none

python publish
  .github/workflows/python-publish.yml
Due: none

core: bump version to 0.1.9, publish release notes
  changelog.md
  pyproject.toml
  site/content/releases/0.1.9.md
  uv.lock
Due: none

docs: replace mypy references with ty across codebase
  TYPE_CHECKING_GUIDE.md
  bengal/cache/cache_store.py
  bengal/collections/validator.py
  bengal/server/live_reload.py
  pyproject.toml
  site/content/docs/get-started/quickstart-contributor.md
  site/content/docs/reference/architecture/core/cache.md
  site/content/docs/reference/architecture/design-principles.md
  site/content/docs/reference/architecture/meta/testing.md
  tests/core/test_type_safety.py
  tests/unit/cache/test_cacheable.py
  tests/unit/test_no_dev_deps_in_production.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  pyproject.toml
Due: none

fix
  .cursor/plans/error_dx_epic_8bc09c2a.plan.md
  pyproject.toml
Due: none

update
  bengal/__init__.py
  pyproject.toml
Due: ty, block-legacy-cli-imports

docs: update version references to 0.1.10
  site/content/docs/about/philosophy.md
  site/content/docs/get-started/installation.md
Due: none

rendering: consume Kida structured error attributes instead of string parsing
  bengal/errors/utils.py
  bengal/rendering/engines/kida.py
Due: ty, block-legacy-cli-imports

orchestration: replace ThreadingTCPServer with Pounce + Chirp ASGI stack
  bengal/server/__init__.py
  bengal/server/asgi_app.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/live_reload.py
  bengal/server/resource_manager.py
  pyproject.toml
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: wire DevState.set_loop via on_worker_startup
  bengal/server/asgi_app.py
Due: ty, block-legacy-cli-imports

readme and server
  README.md
  bengal/server/asgi_app.py
  bengal/server/dev_server.py
Due: ty, block-legacy-cli-imports

rendering: enrich output_collector_missing warning with build context
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

core: add NullOutputCollector sentinel
  bengal/core/output/__init__.py
  bengal/core/output/collector.py
Due: ty, block-legacy-cli-imports

rendering: use NullOutputCollector to eliminate None-guards
  bengal/orchestration/asset.py
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
Due: ty, block-legacy-cli-imports

rendering: wire Kida partial evaluation with site-level static context
  bengal/rendering/engines/kida.py
  bengal/server/build_trigger.py
  bengal/themes/default/templates/partials/tag-nav.html
  site/content/docs/reference/architecture/meta/protocols.md
  site/content/docs/tutorials/content/create-a-tutorial-series.md
  site/content/docs/tutorials/user-scenarios.md
  tests/unit/core/output/test_collector.py
  tests/unit/rendering/pipeline/test_output_collector_integration.py
  tests/unit/rendering/templates/test_tag_templates.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

rendering: add Kida AST-based block recompilation to BlockCache
  bengal/rendering/block_cache.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_trigger.py
  tests/unit/rendering/parsers/test_patitas/test_directives.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
