Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

themes: remove redundant tag_list import from tag.html
  bengal/core/nav_tree/__init__.py
  bengal/core/nav_tree/cache.py
  bengal/core/nav_tree/context.py
  bengal/core/nav_tree/node.py
  bengal/core/nav_tree/proxy.py
  bengal/core/nav_tree/tree.py
  bengal/themes/default/templates/tag.html
Due: ty, block-legacy-cli-imports, check-template-css

core: remove redundant nav_tree.py, fix provenance import in finalization
  bengal/concurrency.py
  bengal/core/nav_tree.py
  bengal/orchestration/build/finalization.py
  plan/epic-architecture-audit-remediation.md
Due: ty, block-legacy-cli-imports

core: split page __init__.py into mixins (Task 4.2)
  bengal/core/page/__init__.py
  bengal/core/page/bundle.py
  bengal/core/page/computed.py
  bengal/core/page/metadata.py
  bengal/core/page/navigation.py
  bengal/core/page/page_section.py
Due: ty, block-legacy-cli-imports

a
  bengal/core/site/__init__.py
  bengal/core/site/site_query.py
  bengal/core/site/site_registry.py
  bengal/core/site/site_validation.py
  bengal/core/site/versioning.py
  bengal/i18n/catalog.py
  bengal/icons/svg.py
  bengal/themes/default/assets/icons/arrows.svg
  bengal/utils/paths/__init__.py
  site/content/docs/content/multilingual.md
Due: ty, block-legacy-cli-imports

update
  bengal/core/site/__init__.py
  tests/unit/core/test_section_sorting.py
  tests/unit/rendering/test_navigation_templates_baseurl.py
  tests/unit/rendering/test_pipeline_cache_storage.py
  tests/unit/rendering/test_shortcodes.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: split site __init__.py into mixins (Task 4.3)
  bengal/core/site/__init__.py
  tests/unit/core/test_section_sorting.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

update
  bengal/autodoc/extractors/python/signature.py
  bengal/autodoc/orchestration/index_pages.py
  bengal/core/page/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/metadata/__init__.py
  bengal/core/page/metadata/base.py
  bengal/core/page/metadata/component.py
  bengal/core/page/metadata/helpers.py
  bengal/core/page/metadata/internal.py
  bengal/core/page/metadata/titles.py
  bengal/core/page/metadata/type_check.py
  bengal/core/page/metadata/urls.py
  bengal/core/page/metadata/visibility.py
  bengal/core/page/types.py
  bengal/core/site/versioning.py
  bengal/orchestration/build/__init__.py
  bengal/postprocess/robots_txt.py
  bengal/rendering/renderer.py
  bengal/server/resource_manager.py
  bengal/snapshots/utils.py
  bengal/themes/default/assets/icons/arrows.svg
  bengal/themes/default/assets/icons/languages.svg
  bengal/themes/default/templates/partials/components/article.html
  bengal/themes/default/templates/partials/navigation-components.html
  plan/memory-leak-investigation.md
  tests/unit/debug/test_explainer_protocol.py
  tests/unit/server/test_resource_manager.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

orchestrator
  bengal/orchestration/build/__init__.py
Due: ty, block-legacy-cli-imports

fixes
  bengal/postprocess/robots_txt.py
  tests/unit/debug/test_explainer.py
  tests/unit/utils/test_theme_resolution.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: shard HighlightCache to reduce lock contention
  bengal/rendering/highlighting/cache.py
Due: ty, block-legacy-cli-imports

orchestration: propagate write-behind errors, add logging for excerpt and variable substitution
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/orchestrator.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/plugins/variable_substitution.py
Due: ty, block-legacy-cli-imports

orchestration: add logging for WaveScheduler errors, template introspection, Kida analysis, image cache
  bengal/orchestration/build/rendering.py
  bengal/rendering/engines/kida.py
  bengal/services/image_processor.py
  bengal/snapshots/scheduler.py
Due: ty, block-legacy-cli-imports

fix
  bengal/core/page/__init__.py
  bengal/core/section/hierarchy.py
  bengal/core/section/navigation.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/snapshot.py
  bengal/orchestration/render/pipeline_runner.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/engines/kida.py
  bengal/rendering/highlighting/deferred.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/write_behind.py
  bengal/rendering/template_functions/get_page.py
  bengal/rendering/template_functions/taxonomies.py
  bengal/snapshots/persistence.py
  bengal/themes/default/templates/partials/components/article.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/tag.html
  tests/unit/build/contracts/test_keys.py
  tests/unit/core/test_page_identity.py
  tests/unit/orchestration/test_build_context_section_snapshot.py
  tests/unit/rendering/test_template_escaping.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

orchestration: add PhaseParallelism for per-phase fan-out/fan-in control
  bengal/core/section/ergonomics.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/options.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/rendering/engines/kida.py
  bengal/rendering/plugins/variable_substitution.py
  tests/unit/core/test_navigation.py
  tests/unit/core/test_page_section_references.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: address PR #166 review comments
  bengal/cache/taxonomy_index.py
  bengal/core/nav_tree/cache.py
  bengal/core/page/navigation.py
  bengal/orchestration/build/snapshot.py
Due: ty, block-legacy-cli-imports

core: fix content_pages mutability and dead expression in ergonomics
  bengal/core/section/ergonomics.py
  bengal/rendering/context/site_wrappers.py
Due: ty, block-legacy-cli-imports

tests: add layout smoke tests for tag, tags, archive, blog, doc
  tests/integration/test_layout_smoke.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

orchestration: load site.data in run_discovery_phase for tracks
  bengal/orchestration/build/initialization.py
Due: ty, block-legacy-cli-imports

tests: add layout smoke tests for tracks, search, 404, graph, home, doc list
  tests/integration/test_layout_smoke.py
  tests/roots/README.md
  tests/roots/test-tracks/bengal.toml
  tests/roots/test-tracks/content/docs/_index.md
  tests/roots/test-tracks/content/docs/getting-started/_index.md
  tests/roots/test-tracks/content/docs/getting-started/page1.md
  tests/roots/test-tracks/content/docs/getting-started/page2.md
  tests/roots/test-tracks/content/tracks/_index.md
  tests/roots/test-tracks/content/tracks/getting-started.md
  tests/roots/test-tracks/data/tracks.yaml
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: add Sprint 1 coverage for content discovery and cache core
  plan/drafted/epic-test-coverage-remediation.md
  tests/unit/cache/test_build_cache_core.py
  tests/unit/cache/test_rendered_output_cache.py
  tests/unit/content/discovery/__init__.py
  tests/unit/content/discovery/test_content_discovery.py
  tests/unit/content/discovery/test_directory_walker.py
  tests/unit/content/discovery/test_page_factory.py
  tests/unit/content/discovery/test_section_builder.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: add Sprint 2 coverage for error handling and recovery
  tests/unit/errors/test_aggregation.py
  tests/unit/errors/test_recovery.py
  tests/unit/errors/test_reporter.py
  tests/unit/errors/test_session.py
  tests/unit/errors/test_traceback_renderer.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: add Sprint 3 coverage for CLI commands
  plan/drafted/epic-test-coverage-remediation.md
  tests/unit/cli/test_graph_commands.py
  tests/unit/cli/test_project_command.py
  tests/unit/cli/test_serve_command.py
  tests/unit/cli/test_sources_command.py
  tests/unit/cli/test_validate_command.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  .gitignore
  bengal/cli/commands/build.py
  bengal/content_types/registry.py
  bengal/content_types/strategies.py
  bengal/core/page/kind.py
  bengal/core/page/navigation.py
  bengal/core/section/ergonomics.py
  bengal/core/section/hierarchy.py
  bengal/core/site/discovery.py
  bengal/core/utils/__init__.py
  bengal/core/utils/page_safe.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/content.py
  bengal/rendering/context/generated_providers.py
  bengal/rendering/context/site_wrappers.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/renderer.py
  plan/drafted/rfc-generated-page-context-protocol.md
  tests/core/test_mixin_contracts.py
  tests/integration/test_layout_smoke.py
  tests/unit/orchestration/build/test_content.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: add developer tooling, audit rules, and plan documents
  .cursor/agents/architectural-audit.md
  .cursor/agents/coverage-audit.md
  .cursor/agents/developer-audit.md
  .cursor/agents/journey-audit.md
  .cursor/agents/maintainability-audit.md
  .cursor/agents/performance-audit.md
  .cursor/agents/reliability-audit.md
  .cursor/rules/commands/help/RULE.mdc
  .cursor/rules/modules/architecture-patterns/RULE.mdc
  .cursor/rules/modules/cost-annotations/RULE.mdc
  .cursor/rules/modules/free-threading/RULE.mdc
  .cursor/rules/python.mdc
  .cursor/rules/system/bengal-os/RULE.mdc
  .cursor/rules/validation/architecture-audit/RULE.mdc
  .cursor/rules/validation/flow-audit/FLOW_AUDIT_REPORT.md
  .cursor/rules/validation/flow-audit/FLOW_AUDIT_REPORT_V2.md
  .cursor/rules/validation/flow-audit/RULE.mdc
  .cursor/rules/validation/sdc-audit/IPA_AUDIT_REPORT.md
  .cursor/rules/validation/sdc-audit/RULE.mdc
  .cursor/rules/validation/sdc-audit/SDC_AUDIT_REPORT.md
  .gitignore
  plan/cache-provenance-evaluation.md
  plan/commonmark-deviations.md
  plan/drafted/epic-test-coverage-remediation.md
  plan/drafted/rfc-generated-page-context-protocol.md
  plan/epic-architecture-audit-remediation.md
  plan/epic-openapi-rest-layout-upgrade.md
  plan/maturity-assessment.md
  plan/memory-leak-investigation.md
  plan/plan-production-maturity.md
  plan/reload-controller-dual-path-proposal.md
  plan/reload-fragility-improvements.md
  plan/reload-tier-architecture.md
  plan/rfc-build-orchestrator-phase-groups.md
  plan/rfc-build-orchestrator-phases-5-6-plan.md
  plan/rfc-cache-generation-id.md
  plan/rfc-dev-server-buffer-hardening.md
  plan/rfc-kida-macro-defining-namespace.md
  plan/rfc-patitas-commonmark-compliance.md
Due: none

tests: add benchmarks, CI workflow, and doc generation scripts
  .github/workflows/tests.yml
  benchmarks/benchmark_cross_ssg.py
  benchmarks/profile_phases.py
  benchmarks/requirements.txt
  benchmarks/test_scaling.py
  scripts/check_dependencies.py
  scripts/generate_config_reference.py
  scripts/generate_template_functions_reference.py
  scripts/repro_ctx_error.py
Due: ty

docs: add extension guide, config reference, release notes, and doc fixes
  README.md
  changelog.md
  site/content/docs/building/configuration/variants.md
  site/content/docs/content/multilingual.md
  site/content/docs/extending/_index.md
  site/content/docs/extending/custom-directives.md
  site/content/docs/extending/extension-guide.md
  site/content/docs/extending/shortcodes.md
  site/content/docs/extending/theme-customization.md
  site/content/docs/reference/architecture/design-principles.md
  site/content/docs/reference/architecture/rendering/rendering.md
  site/content/docs/reference/architecture/subsystems/output.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/architecture/tooling/config-reference.md
  site/content/docs/reference/template-functions/reference-generated.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/content/docs/tutorials/user-scenarios.md
  site/content/releases/0.2.6.md
  site/content/tracks/extension-developer.md
Due: none

cli: add i18n gettext PO/MO workflow (Phase 1A)
  bengal/cli/__init__.py
  bengal/cli/commands/i18n.py
  bengal/i18n/__init__.py
  bengal/i18n/catalog.py
  site/content/docs/content/i18n/_index.md
  site/content/docs/content/i18n/quickstart.md
  site/content/docs/content/i18n/rtl.md
  site/content/docs/content/i18n/translator-guide.md
  tests/integration/test_i18n_gettext.py
  tests/roots/test-i18n-gettext/bengal.toml
  tests/roots/test-i18n-gettext/content/ar/_index.md
  tests/roots/test-i18n-gettext/content/ar/about.md
  tests/roots/test-i18n-gettext/content/en/_index.md
  tests/roots/test-i18n-gettext/content/en/about.md
  tests/roots/test-i18n-gettext/content/es/_index.md
  tests/roots/test-i18n-gettext/content/es/about.md
  tests/roots/test-i18n-gettext/i18n/ar/LC_MESSAGES/messages.mo
  tests/roots/test-i18n-gettext/i18n/ar/LC_MESSAGES/messages.po
  tests/roots/test-i18n-gettext/i18n/en/LC_MESSAGES/messages.mo
  tests/roots/test-i18n-gettext/i18n/en/LC_MESSAGES/messages.po
  tests/roots/test-i18n-gettext/i18n/es/LC_MESSAGES/messages.mo
  tests/roots/test-i18n-gettext/i18n/es/LC_MESSAGES/messages.po
  tests/roots/test-i18n-gettext/templates/nav.html
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

lint
  benchmarks/test_scaling.py
Due: ty

docs: add flow-audit, coverage to help; sdc-audit to related
  .cursor/rules/commands/help/RULE.mdc
  .cursor/rules/system/bengal-os/RULE.mdc
Due: none

cli: narrow exception handling in i18n commands and catalog
  bengal/cli/commands/i18n.py
  bengal/i18n/catalog.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

tests: address PR feedback - unicode, CapturingDict, benchmark constants
  benchmarks/benchmark_cross_ssg.py
  benchmarks/test_scaling.py
  scripts/generate_template_functions_reference.py
Due: ty

update
  site/content/docs/reference/template-functions/reference-generated.md
Due: none

docs: address PR feedback - fix reference reprs, remove duplicate, update i18n link
  site/content/docs/content/multilingual.md
  site/content/docs/reference/template-functions/reference-generated.md
  site/content/docs/tutorials/user-scenarios.md
Due: none

lint
  pyproject.toml
Due: none

fix
  benchmarks/directive_cache_benchmark.py
  benchmarks/directive_cache_real_site.py
  benchmarks/test_patitas_memory.py
Due: ty

fix
  bengal/rendering/adapters/jinja.py
  bengal/rendering/adapters/kida.py
  bengal/rendering/template_functions/i18n.py
  bengal/themes/default/templates/base.html
  tests/unit/rendering/test_i18n_template_functions.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs: address PR feedback - add directives facade, gen-docs, fix reprs
  bengal/directives.py
  pyproject.toml
  scripts/generate_template_functions_reference.py
  site/content/docs/extending/theme-customization.md
  site/content/docs/reference/template-functions/reference-generated.md
  site/content/docs/tutorials/user-scenarios.md
Due: ty, block-legacy-cli-imports

fix
  bengal/protocols/__init__.py
  bengal/protocols/rendering.py
Due: ty, block-legacy-cli-imports

pr feedback
  bengal/core/page/types.py
  bengal/core/section/navigation.py
  bengal/orchestration/build_state.py
  bengal/services/image_processor.py
  bengal/utils/paths/link_resolution.py
  bengal/utils/shortcodes.py
Due: ty, block-legacy-cli-imports

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
