Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

lint
  plan/active/rendering-optimization-status.md
Due: none

docs
  plan/active/python-3.14-advanced-features.md
  plan/active/sub-interpreter-feasibility.md
Due: none

orchestration: simplify taxonomy eligibility check by returning negated condition directly
  ARCHITECTURE_ADVANTAGES.md
  DEV_VS_PRODUCTION_ASSETS.md
  bengal/orchestration/taxonomy.py
  bengal/rendering/renderer.py
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/templates/tag.html
  check_typography.py
  demo-fluid-blob-effects.html
  demo-option-d.html
  site/content/_index.md
  site/content/cli/_index.md
  site/content/cli/project/init.md
  site/content/concepts/_index.md
  site/content/concepts/assets.md
  site/content/concepts/build-pipeline.md
  site/content/concepts/configuration.md
  site/content/concepts/content-organization.md
  site/content/concepts/output-formats.md
  site/content/concepts/templating.md
  site/content/getting-started/_index.md
  site/content/getting-started/contributor-quickstart.md
  site/content/getting-started/installation.md
  site/content/getting-started/themer-quickstart.md
  site/content/getting-started/writer-quickstart.md
  site/content/guides/_index.md
  site/content/guides/deployment.md
  site/content/releases/0.1.0.md
  site/content/releases/0.1.1.md
  site/content/releases/0.1.2.md
  site/content/releases/0.1.3.md
  site/content/releases/_index.md
  tests/unit/rendering/test_renderer_index_conflict.py
  tests/unit/rendering/test_renderer_tag_context.py
Due: block-legacy-cli-imports

core: cleanup changes from llane/cleanup branch
  bengal/cli/commands/init.py
  bengal/orchestration/build.py
  bengal/themes/default/templates/tag.html
Due: block-string-based-click-cls, block-legacy-cli-imports

tag updates
  .github/workflows/pages.yml
  bengal/config/env_overrides.py
  tests/unit/config/test_config_loader_baseurl_env.py
Due: block-legacy-cli-imports

pages fix
  .github/workflows/pages.yml
Due: none

tax fix
  bengal/rendering/template_functions/taxonomies.py
Due: block-legacy-cli-imports

test
  bengal/rendering/template_functions/taxonomies.py
  bengal/themes/default/templates/partials/content-components.html
Due: block-legacy-cli-imports

theme debug cli, file protocol
  README.md
  bengal/cli/commands/theme.py
  bengal/rendering/template_engine.py
  bengal/themes/default/templates/README.md
  bengal/utils/theme_resolution.py
  site/content/getting-started/themer-quickstart.md
Due: block-string-based-click-cls, block-legacy-cli-imports

action bar
  bengal/themes/default/templates/tag.html
  bengal/themes/default/templates/tags.html
Due: none

pr feedback
  bengal/cli/commands/theme.py
  bengal/rendering/template_engine.py
Due: block-string-based-click-cls, block-legacy-cli-imports

fix
  bengal/rendering/template_functions/navigation.py
Due: block-legacy-cli-imports

fix
  bengal/rendering/template_engine.py
Due: block-legacy-cli-imports

themes: enhance mermaid toolbar with pan/zoom and reliable initialization
  bengal/themes/default/assets/css/components/mermaid.css
  bengal/themes/default/assets/js/mermaid-toolbar.js
  bengal/themes/default/templates/base.html
Due: none

rendering(cards): add explanation variant with enhanced list/table styling
  bengal/rendering/plugins/directives/cards.py
  bengal/themes/default/assets/css/components/cards.css
  site/content/architecture/core/orchestration.md
Due: block-legacy-cli-imports

themes: preserve mermaid syntax before rendering to fix copy action
  bengal/themes/default/assets/js/mermaid-toolbar.js
  bengal/themes/default/templates/base.html
  site/content/architecture/core/data-flow.md
Due: none

remove old pages
  architecture/analysis.md
  architecture/assets-pipeline.md
  architecture/autodoc.md
  architecture/cache.md
  architecture/cli.md
  architecture/config.md
  architecture/content-processing-api.md
  architecture/content-types.md
  architecture/data-flow.md
  architecture/design-principles.md
  architecture/discovery.md
  architecture/extension-points.md
  architecture/file-organization.md
  architecture/fonts.md
  architecture/health.md
  architecture/object-model.md
  architecture/orchestration.md
  architecture/overview.md
  architecture/performance.md
  architecture/postprocess.md
  architecture/rendering.md
  architecture/server.md
  architecture/testing.md
  architecture/utils.md
Due: none

update
  .github/workflows/pages.yml
  site/content/cli/_index.md
  site/content/cli/new/_index.md
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/theme.md
  site/content/cli/project/init.md
  site/content/cli/site/_index.md
  site/content/cli/site/new.md
  site/content/cli/utils/theme/_index.md
  site/content/cli/utils/theme/debug.md
  site/content/cli/utils/theme/discover.md
  site/content/cli/utils/theme/info.md
  site/content/cli/utils/theme/install.md
  site/content/cli/utils/theme/new.md
Due: none

docs: general prep
  bengal/__init__.py
  bengal/cli/commands/build.py
  bengal/cli/helpers/autodoc_build.py
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/js/interactive.js
  bengal/themes/default/templates/changelog/list.html
  bengal/themes/default/templates/changelog/single.html
  changelog.md
  pyproject.toml
  site/content/architecture/core/cache.md
  site/content/architecture/core/object-model.md
  site/content/architecture/rendering/assets-pipeline.md
  site/content/architecture/tooling/config.md
  site/content/releases/0.1.4.md
  site/content/releases/_index.md
  tests/unit/cli/test_cli_programmatic.py
Due: block-string-based-click-cls, block-legacy-cli-imports

fix
  bengal/themes/default/assets/css/layouts/changelog.css
Due: none

cli(autodoc): replace os.chdir() with contextlib.chdir() for safer directory changes
  bengal/cli/helpers/autodoc_build.py
Due: block-string-based-click-cls, block-legacy-cli-imports

updates
  bengal/themes/default/assets/css/layouts/changelog.css
Due: none

fix
  bengal/themes/default/assets/js/interactive.js
Due: none

mermaid enhancements
  bengal/rendering/plugins/directives/cards.py
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/mermaid.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/js/interactive.js
  bengal/themes/default/assets/js/lightbox.js
  bengal/themes/default/assets/js/mermaid-theme.js
  bengal/themes/default/assets/js/mermaid-toolbar.js
  bengal/themes/default/templates/base.html
  site/content/architecture/_index.md
  site/content/architecture/core/orchestration.md
  site/content/architecture/rendering/assets-pipeline.md
  site/content/architecture/tooling/config.md
  site/content/architecture/tooling/server.md
Due: block-legacy-cli-imports

updates
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/theme-controls.html
Due: none

fix
  bengal/themes/default/assets/css/components/api-docs.css
  bengal/themes/default/assets/css/components/reference-docs.css
  bengal/themes/default/templates/api-reference/single.html
  bengal/themes/default/templates/cli-reference/single.html
Due: none

updates
  bengal/content_types/strategies.py
  bengal/themes/default/assets/css/components/api-docs.css
  bengal/themes/default/templates/api-reference/home.html
  bengal/themes/default/templates/api-reference/list.html
  bengal/themes/default/templates/api-reference/single.html
  bengal/themes/default/templates/cli-reference/home.html
  bengal/themes/default/templates/cli-reference/list.html
  bengal/themes/default/templates/cli-reference/single.html
Due: block-legacy-cli-imports

docs(autodoc): fix template syntax error in navigation macro; simplify source_link logic
  bengal/autodoc/templates/macros/navigation.md.jinja2
Due: none

docs(autodoc): update title generation to include API/CLI suffixes for root elements
  bengal/autodoc/templates/macros/safe_macros.md.jinja2
Due: none

autodoc: fix relative source links in API/CLI docs; pass context to source_link macro
  bengal/autodoc/templates/base/base.md.jinja2
Due: none

autodoc: improve project-relative path detection; handle repo/package name collision
  bengal/autodoc/generator.py
Due: block-legacy-cli-imports

autodoc: implement universal project root detection for source links
  bengal/autodoc/generator.py
Due: block-legacy-cli-imports

docs(content): move tutorial to guides; remove tutorials section
  site/content/getting-started/writer-quickstart.md
  site/content/guides/_index.md
  site/content/guides/blog-from-scratch.md
Due: none

docs(guides): add advanced content strategy guides for tracks, reuse, and filtering
  plan/implemented/docs-content-strategy-guides.md
  site/content/guides/_index.md
  site/content/guides/advanced-filtering.md
  site/content/guides/content-reuse.md
  site/content/guides/curated-tracks.md
Due: none

themes(default): add OOTB support for learning tracks with list/single layouts and nav partial
  bengal/themes/default/templates/doc/single.html
  bengal/themes/default/templates/partials/track_nav.html
  bengal/themes/default/templates/tracks/list.html
  bengal/themes/default/templates/tracks/single.html
Due: none

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
