Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

rendering: scan shortcodes with stack
  bengal/rendering/shortcodes.py
  changelog.d/shortcode-stack-scanner.fixed.md
  tests/unit/rendering/test_shortcodes.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: write sidecars and fonts atomically
  bengal/fonts/downloader.py
  bengal/orchestration/build/initialization.py
  bengal/rendering/pipeline/output.py
  changelog.d/atomic-sidecar-font-writes.fixed.md
  tests/unit/orchestration/build/test_font_outputs.py
  tests/unit/rendering/test_write_output_rendered_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

benchmarks: define canonical matrix
  benchmarks/README.md
  benchmarks/benchmark_matrix.toml
  tests/unit/benchmarks/test_benchmark_matrix.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: add bounded pr proof path
  pyproject.toml
  tests/unit/test_pr_proof_task.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: define incremental correctness contract
  tests/performance/README.md
  tests/performance/incremental_contract.toml
  tests/unit/performance/test_incremental_contract.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

orchestration: define build state ledger
  bengal/orchestration/build/state_ledger.py
  tests/unit/orchestration/build/test_state_ledger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: prove icon scopes are thread local
  tests/unit/icons/test_resolver.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

deps: burn down layer warnings
  bengal/errors/reporter.py
  bengal/errors/suggestions.py
  bengal/errors/template_callables.py
  bengal/orchestration/site_runner.py
  bengal/rendering/errors/context_extractor.py
  bengal/rendering/reference_resolution.py
  bengal/utils/paths/link_resolution.py
  bengal/utils/paths/reference_resolution.py
Due: ty, block-legacy-cli-imports

fonts: write css outputs atomically
  bengal/fonts/__init__.py
  tests/unit/fonts/test_atomic_outputs.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

benchmarks: add matrix runner
  benchmarks/README.md
  benchmarks/run_matrix.py
  pyproject.toml
  tests/unit/benchmarks/test_run_matrix.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

core: count output types in collector
  bengal/core/output/collector.py
  tests/unit/core/output/test_collector.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: budget compatibility shims
  tests/unit/core/test_surface_budget.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: require performance evidence receipts
  .github/pull_request_template.md
  docs/b-stack-changelog-strategy.md
  tests/unit/test_pr_template_contract.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

orchestration: own build request records
  bengal/orchestration/build/inputs.py
  bengal/orchestration/build/requests.py
  bengal/server/build_executor.py
  tests/unit/orchestration/build/test_build_request_boundary.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: unify build state ledger queries
  bengal/orchestration/build/state_ledger.py
  tests/unit/orchestration/build/test_state_ledger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: automate pr proof plan
  pyproject.toml
  scripts/proof_pr_plan.py
  tests/unit/test_pr_proof_task.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

benchmarks: write matrix run receipts
  benchmarks/run_matrix.py
  tests/unit/benchmarks/test_benchmark_matrix.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: audit generated output writes
  pyproject.toml
  scripts/check_output_writes.py
  tests/unit/test_output_write_audit.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

rendering: record snapshot handoff facts
  bengal/snapshots/handoff.py
  bengal/snapshots/scheduler.py
  tests/unit/snapshots/test_render_handoff.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: guard retired section surface usage
  pyproject.toml
  scripts/check_core_surface_usage.py
  tests/unit/core/test_surface_retirement.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: share incremental contract fixtures
  tests/performance/incremental_contract.py
  tests/unit/performance/test_incremental_contract.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: stress render handoff under threads
  tests/unit/snapshots/test_render_handoff.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

ci: validate performance evidence receipts
  .github/workflows/tests.yml
  pyproject.toml
  scripts/check_performance_evidence.py
  tests/unit/test_performance_evidence_check.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

orchestration: restore theme template cache helper
  bengal/orchestration/incremental/cache_manager.py
  changelog.d/incremental-theme-template-helper.fixed.md
  tests/test_thread_safety.py
  tests/unit/orchestration/test_render_orchestrator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

assets: preserve selector whitespace in CSS minifier
  bengal/assets/css_minifier.py
  changelog.d/css-minifier-selector-whitespace.fixed.md
  tests/unit/core/test_asset_processing.py
  tests/unit/utils/test_css_minifier.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: optimize provenance warm paths
  bengal/build/contracts/__init__.py
  bengal/build/contracts/dependency_index.py
  bengal/build/provenance/filter.py
  bengal/build/provenance/store.py
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/file_tracking.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/cache/generated_page_cache.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build/state_ledger.py
  bengal/orchestration/incremental/effect_detector.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/utils/primitives/lru_cache.py
  bengal/utils/primitives/text.py
  changelog.d/parsed-cache-warm-optimizations.fixed.md
  plan/README.md
  plan/bengal-patitas-parse-optimizations.md
  plan/cache-provenance-evaluation.md
  plan/foundation-leaf-hygiene.md
  plan/rfc-autodoc-incremental-caching.md
  plan/rfc-incremental-build-observability.md
  plan/rfc-incremental-dependency-indexes.md
  plan/rfc-output-cache-architecture.md
  plan/rfc-provenance-mtime-short-circuit.md
  tests/rendering/parsers/test_patitas/test_integration.py
  tests/unit/build/contracts/test_dependency_index.py
  tests/unit/build/provenance/test_filter.py
  tests/unit/build/provenance/test_mtime_short_circuit.py
  tests/unit/build/provenance/test_store.py
  tests/unit/cache/test_autodoc_self_validation.py
  tests/unit/cache/test_build_cache.py
  tests/unit/cache/test_generated_page_cache.py
  tests/unit/orchestration/build/test_provenance_dependency_index.py
  tests/unit/orchestration/build/test_provenance_filter_path_keys.py
  tests/unit/orchestration/incremental/test_effect_detector_dependency_index.py
  tests/unit/rendering/test_pipeline_cache_storage.py
  tests/unit/utils/test_text.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: harden provenance cache recovery
  bengal/build/contracts/dependency_index.py
  bengal/build/provenance/store.py
  bengal/rendering/pipeline/cache_checker.py
  tests/unit/build/contracts/test_dependency_index.py
  tests/unit/build/provenance/test_store.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

ci: skip performance evidence for docs-only prs
  scripts/check_performance_evidence.py
  tests/unit/test_performance_evidence_check.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

ci: support runner python in evidence check
  scripts/check_performance_evidence.py
Due: ty

rendering: stop dual-writing rendered page html
  bengal/health/validators/anchors.py
  bengal/postprocess/output_formats/md_generator.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/rendered_output.py
  bengal/rendering/section_ergonomics.py
  bengal/server/reactive/handler.py
  tests/unit/rendering/test_pipeline_cache_storage.py
  tests/unit/rendering/test_rendered_output.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

content: isolate source page adapter
  bengal/content/discovery/page_adapter.py
  tests/unit/content/test_page_adapter.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

content: adapt discovered pages from source records
  bengal/content/discovery/content_discovery.py
Due: ty, block-legacy-cli-imports

orchestration: adapt virtual pages from source records
  bengal/orchestration/utils/virtual_pages.py
  tests/unit/orchestration/test_virtual_pages.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: route section archives through source records
  bengal/orchestration/section.py
Due: ty, block-legacy-cli-imports

autodoc: adapt element pages from source records
  bengal/autodoc/orchestration/page_builders.py
Due: ty, block-legacy-cli-imports

autodoc: adapt index pages from source records
  bengal/autodoc/orchestration/index_pages.py
Due: ty, block-legacy-cli-imports

orchestration: type generated pages by protocol
  bengal/autodoc/orchestration/index_pages.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/orchestration/section.py
Due: ty, block-legacy-cli-imports

content: initialize pages by protocol
  bengal/content/discovery/page_factory.py
Due: ty, block-legacy-cli-imports

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
