Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

polish: consolidate health check output, remove redundant headers
  bengal/health/report.py
Due: block-legacy-cli-imports

health(directives): demote heavy directive usage from warning to info; remove dubious perf claim
  bengal/health/report.py
  bengal/health/validators/directives/checkers.py
  bengal/orchestration/stats/display.py
Due: block-legacy-cli-imports

polish: prevent consecutive blank lines in CLI output
  bengal/output/core.py
Due: block-legacy-cli-imports

polish: standardize blank line handling to max 1 consecutive
  bengal/cli/commands/assets.py
  bengal/cli/commands/build.py
  bengal/cli/commands/clean.py
  bengal/cli/commands/collections.py
  bengal/cli/commands/config.py
  bengal/cli/commands/engine.py
  bengal/cli/commands/explain.py
  bengal/cli/commands/fix.py
  bengal/cli/commands/graph/__main__.py
  bengal/cli/commands/graph/communities.py
  bengal/cli/commands/graph/orphans.py
  bengal/cli/commands/graph/report.py
  bengal/cli/commands/new/__init__.py
  bengal/cli/commands/project.py
  bengal/cli/commands/serve.py
  bengal/cli/commands/theme.py
  bengal/cli/commands/validate.py
  bengal/cli/commands/version.py
  bengal/fonts/__init__.py
  bengal/orchestration/asset.py
  bengal/orchestration/postprocess.py
  bengal/output/core.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: remove emojis from command descriptions; simplify help formatting
  bengal/cli/__init__.py
  bengal/cli/base.py
  bengal/cli/commands/collections.py
  bengal/cli/commands/config.py
  bengal/cli/commands/graph/suggest.py
  bengal/cli/commands/init.py
  bengal/cli/commands/new/scaffolds.py
  bengal/cli/commands/project.py
  bengal/cli/commands/site.py
  bengal/cli/commands/skeleton.py
  bengal/cli/commands/theme.py
  bengal/config/env_overrides.py
  bengal/health/validators/directives/checkers.py
  bengal/output/core.py
  plan/drafted/rfc-terminal-ux-style-guide.md
  tests/integration/test_nav_tree_integration.py
  tests/integration/test_phase2c_lazy_loading.py
  tests/unit/health/test_health_check.py
  tests/unit/health/test_health_report.py
  tests/unit/utils/test_logger.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(base): extract Quick Start and Shortcuts into configurable constants
  bengal/cli/base.py
Due: block-string-based-click-cls, block-legacy-cli-imports

tests(nav_tree): fix attribute name mismatches - use _path instead of relative_url/url
  tests/integration/test_nav_tree_integration.py
Due: none

docs(plan): add RFC for Textual-based terminal UX with shared token system and dashboard features
  plan/drafted/rfc-terminal-ux-textual.md
Due: none

docs(plan): expand RFC with widget gallery, API integration, TCSS stylesheet, and file structure
  bengal/themes/default/assets/js/graph-contextual.js
  bengal/themes/default/assets/js/graph-minimap.js
  plan/drafted/rfc-terminal-ux-textual.md
Due: none

docs(rfc): cross-reference Terminal UX Style Guide and Textual implementation RFCs
  plan/drafted/rfc-terminal-ux-style-guide.md
  plan/drafted/rfc-terminal-ux-textual.md
Due: none

rfc
  plan/drafted/plan-terminal-ux-textual.md
  plan/evaluated/rfc-terminal-ux-textual.md
Due: none

cli(dashboard): add Textual-based build dashboard MVP (Phases 1-4)
  bengal/cli/commands/build.py
  bengal/cli/dashboard/__init__.py
  bengal/cli/dashboard/base.py
  bengal/cli/dashboard/bengal.tcss
  bengal/cli/dashboard/build.py
  bengal/cli/dashboard/messages.py
  bengal/cli/dashboard/notifications.py
  bengal/cli/dashboard/widgets.py
  bengal/themes/generate.py
  bengal/themes/tokens.py
  plan/evaluated/rfc-user-scenario-coverage.md
  pyproject.toml
  tests/dashboard/__init__.py
  tests/dashboard/conftest.py
  uv.lock
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(plan): improve RFC-user-scenario-coverage with verified evidence; promote to evaluated
  bengal/cli/commands/health.py
  bengal/cli/commands/serve.py
  bengal/cli/dashboard/__init__.py
  bengal/cli/dashboard/health.py
  bengal/cli/dashboard/serve.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(dashboard): add serve and health dashboards (Phases 5-6)
  plan/drafted/rfc-user-scenario-coverage.md
Due: none

cli(dashboard): fix minor type annotations for mypy
  bengal/cli/dashboard/__main__.py
  bengal/cli/dashboard/app.py
  site/content/docs/tutorials/user-scenarios.md
  tests/integration/test_blog_scenarios.py
  tests/integration/test_i18n_content.py
  tests/integration/test_template_scaffolding.py
  tests/roots/test-i18n-content/bengal.toml
  tests/roots/test-i18n-content/skeleton.yaml
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(dashboard): fix TCSS easing functions (use Textual syntax)
  bengal/cli/dashboard/bengal.tcss
Due: none

tests: implement RFC user-scenario-coverage with test roots, integration tests, and docs; move to ready
  plan/ready/rfc-user-scenario-coverage.md
Due: none

cli(dashboard): fix health dashboard to use correct health API
  bengal/cli/dashboard/health.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(plan): draft RFC for dashboard content enrichment
  plan/drafted/rfc-dashboard-content-enrichment.md
Due: none

docs(rfc): draft Phase 2 user scenario coverage for resume/changelog, full i18n, galleries, products, and 10k perf
  plan/drafted/rfc-user-scenario-coverage-phase2.md
Due: none

docs(plan): improve dashboard content enrichment RFC with verified data sources and testing strategy
  plan/drafted/rfc-dashboard-content-enrichment.md
Due: none

docs(plan): add implementation plan for dashboard content enrichment RFC; promote RFC to ready
  plan/drafted/rfc-user-scenario-coverage-phase2.md
  plan/ready/plan-dashboard-content-enrichment.md
  plan/ready/rfc-dashboard-content-enrichment.md
Due: none

plan: add Phase 2 implementation plan with 18 atomic tasks across 3 tiers (6 days)
  bengal/cli/dashboard/build.py
  plan/drafted/plan-dashboard-content-enrichment.md
  plan/drafted/plan-user-scenario-coverage-phase2.md
  plan/drafted/rfc-dashboard-content-enrichment.md
Due: block-string-based-click-cls, block-legacy-cli-imports

directives(gallery): add GalleryDirective to factory; tests: fix test fixtures and add parser cache reset
  bengal/directives/factory.py
  bengal/rendering/pipeline/thread_local.py
  bengal/themes/default/templates/partials/product-jsonld.html
  plan/drafted/plan-user-scenario-coverage-phase2.md
  plan/drafted/rfc-user-scenario-coverage-phase2.md
  tests/conftest.py
  tests/integration/test_product.py
  tests/roots/test-gallery/skeleton.yaml
  tests/roots/test-product/bengal.toml
  tests/roots/test-product/content/_index.md
  tests/roots/test-product/content/products/_index.md
  tests/roots/test-product/content/products/product-1.md
  tests/roots/test-product/data/products.yaml
  tests/roots/test-product/skeleton.yaml
Due: block-legacy-cli-imports

cli(dashboard): fix phase timing extraction and LinkCheckResult.ok attribute error
  bengal/cli/dashboard/build.py
  bengal/cli/dashboard/health.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli(dashboard/health): fix HealthReport extraction to use validator_reports structure
  bengal/cli/dashboard/health.py
Due: block-string-based-click-cls, block-legacy-cli-imports

tests: add GalleryDirective to directive registry test expected classes
  bengal/cli/dashboard/serve.py
  tests/unit/rendering/test_directive_registry.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(rfc): add Toad-inspired dashboard enhancements RFC with deep pattern analysis
  bengal/cli/dashboard/bengal.tcss
  bengal/cli/dashboard/health.py
  bengal/cli/dashboard/serve.py
  plan/drafted/rfc-toad-inspired-enhancements.md
  tests/conftest.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(rfc): add Dolphie patterns analysis to dashboard enhancements RFC
  plan/drafted/rfc-toad-inspired-enhancements.md
Due: none

docs(plan): add plan-toad-inspired-enhancements with 6 phases, atomic tasks, and pre-drafted commits
  plan/drafted/plan-toad-inspired-enhancements.md
Due: none

docs(plan): add Phase 7 for dashboard theme token sync with 5 palette variants
  bengal/cli/__init__.py
  bengal/cli/dashboard/app.py
  bengal/cli/dashboard/bengal.tcss
  bengal/cli/dashboard/commands.py
  bengal/cli/dashboard/screens.py
  bengal/cli/dashboard/widgets.py
  bengal/cli/dashboard/widgets/__init__.py
  bengal/cli/dashboard/widgets/flash.py
  bengal/cli/dashboard/widgets/phase_plan.py
  bengal/cli/dashboard/widgets/quick_action.py
  bengal/cli/dashboard/widgets/throbber.py
  plan/drafted/plan-toad-inspired-enhancements.md
  pyproject.toml
  tests/dashboard/test_dashboards.py
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(dashboard): remove SCREENS class var to avoid double-installation; install screens manually in on_mount
  bengal/cli/dashboard/app.py
  plan/drafted/rfc-wizard-directive.md
  uv.lock
Due: block-string-based-click-cls, block-legacy-cli-imports

deps: make textual-serve a required dependency; remove optional 'serve' extras group
  bengal/cli/__init__.py
  pyproject.toml
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(dashboard): use push_screen instead of switch_screen in on_mount to avoid screen stack error
  bengal/cli/dashboard/app.py
  uv.lock
Due: block-string-based-click-cls, block-legacy-cli-imports

feat(dashboard): implement actual rebuild action with BuildOrchestrator worker in BuildScreen
  bengal/cli/dashboard/app.py
  bengal/cli/dashboard/screens.py
  plan/drafted/rfc-content-enhancement-directives.md
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(cli): load site from current directory before starting dashboard
  bengal/cli/__init__.py
Due: block-string-based-click-cls, block-legacy-cli-imports

feat(dashboard): enhance all screens with richer Bengal data display - BuildScreen shows site context, ServeScreen shows page list and stats
  bengal/cli/__init__.py
  bengal/cli/dashboard/app.py
  bengal/cli/dashboard/bengal.tcss
  bengal/cli/dashboard/screens.py
  tests/dashboard/conftest.py
  tests/dashboard/test_navigation.py
Due: block-string-based-click-cls, block-legacy-cli-imports

test
  tests/dashboard/test_navigation.py
  tests/dashboard/test_snapshots.py
Due: none

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
