Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

bench(render): attribution findings — strings ruled out, containers are the tax (#346/#347)
  benchmarks/render-scaling-attribution-findings.md
Due: none

bench(render): ceiling probe sizes the prize — fixable tax, ~4.6x ceiling (#345)
  benchmarks/render-scaling-attribution-findings.md
Due: none

bench(render): pinpoint — render reads live Site/Page, not the snapshot (#347/T13)
  benchmarks/render-scaling-attribution-findings.md
Due: none

bench(render): decisive pivot — tax is not in-thread-recoverable, not refcount (#345/#347)
  benchmarks/render-scaling-attribution-findings.md
Due: none

docs(plan): RFC resolved — in-thread frames refuted, lever is heap isolation (#343/#345/#347)
  plan/rfc-frozen-render-world.md
Due: none

bench(render): clean-room render-scaling attribution + findings + nav guard test (#351)
  .github/workflows/perf-gate.yml
  benchmarks/348-chrome-memoization-findings.md
  benchmarks/clean_box_results/README.md
  benchmarks/clean_box_results/ci-2core-directional.json
  benchmarks/probe_render_ceiling.py
  benchmarks/render-scaling-attribution-findings.md
  benchmarks/run_clean_box.sh
  changelog.d/nav-chrome-not-hoisted-guard.added.md
  changelog.d/render-ceiling-probe.added.md
  changelog.d/render-clean-box-runbook.added.md
  plan/ROADMAP.md
  plan/epic-performance.md
  plan/rfc-frozen-render-world.md
  tests/integration/test_nav_chrome_not_hoisted.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

perf(render): S1 render-scaling ceiling probe + attribution gate (#350)
  benchmarks/probe_render_ceiling.py
  benchmarks/render-scaling-attribution-findings.md
Due: ty

feat(snapshots): S2 transportable frozen render world (#350)
  bengal/snapshots/transport.py
  tests/unit/snapshots/test_transport.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): S3 doc-tree partitioner + isolated chunk-render driver (#350)
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/isolated/__init__.py
  bengal/orchestration/render/isolated/backend.py
  bengal/orchestration/render/isolated/merge.py
  bengal/orchestration/render/isolated/partition.py
  bengal/orchestration/render/isolated/transport.py
  bengal/orchestration/render/isolated/worker.py
  tests/unit/orchestration/render/test_partition.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): S4 serial merge phase for global artifacts (#350)
  bengal/orchestration/render/isolated/backend.py
  bengal/orchestration/render/isolated/merge.py
  bengal/orchestration/render/isolated/worker.py
  tests/unit/orchestration/render/test_merge.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): S5 crossover gate + config selector for isolated render (#350)
  benchmarks/calibrate_render_isolation.py
  bengal/config/snapshot.py
  bengal/config/validators.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/isolated/__init__.py
  bengal/orchestration/render/isolated/gate.py
  changelog.d/render-heap-isolation.added.md
  tests/unit/orchestration/render/test_gate.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(render): S6 byte-parity + determinism guard for isolated render (#350)
  tests/integration/test_isolated_render_parity.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs(perf): S7 free-threading render-scaling case study (#350, #349)
  benchmarks/render-isolation-case-study.md
Due: none

docs(plan): Phase 2 shard-parallel build redesign (#350)
  plan/epic-shard-parallel-build.md
Due: none

bench(build): S8 deterministic fixture + end-to-end A/B harness (#350)
  benchmarks/bench_build_ab.py
  benchmarks/generate_bench_site.py
Due: ty

perf(build): S9 related-posts candidate index — ~8x on large sites (#350)
  bengal/orchestration/related_posts.py
  changelog.d/related-posts-cooccurrence-index.changed.md
Due: ty, block-legacy-cli-imports

docs(plan): S10 corrected phase attribution — build is ~66% render (#350)
  plan/epic-shard-parallel-build.md
Due: none

test(render): fix isolated-render parity test on Linux CI (#350)
  bengal/orchestration/render/isolated/backend.py
  bengal/orchestration/stats/models.py
  tests/integration/test_isolated_render_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(render): address PR #352 review comments (#350)
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/isolated/merge.py
  bengal/orchestration/render/isolated/worker.py
  bengal/snapshots/transport.py
  changelog.d/render-heap-isolation.added.md
  tests/unit/orchestration/test_related_posts.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

perf(build): related-posts candidate index (~8x) + render heap-isolation foundation (#350) (#352)
  benchmarks/bench_build_ab.py
  benchmarks/calibrate_render_isolation.py
  benchmarks/generate_bench_site.py
  benchmarks/render-isolation-case-study.md
  bengal/config/snapshot.py
  bengal/config/validators.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/render/isolated/__init__.py
  bengal/orchestration/render/isolated/backend.py
  bengal/orchestration/render/isolated/gate.py
  bengal/orchestration/render/isolated/merge.py
  bengal/orchestration/render/isolated/partition.py
  bengal/orchestration/render/isolated/transport.py
  bengal/orchestration/render/isolated/worker.py
  bengal/orchestration/stats/models.py
  bengal/snapshots/transport.py
  changelog.d/related-posts-cooccurrence-index.changed.md
  changelog.d/render-heap-isolation.added.md
  plan/epic-shard-parallel-build.md
  tests/integration/test_isolated_render_parity.py
  tests/unit/orchestration/render/test_gate.py
  tests/unit/orchestration/render/test_merge.py
  tests/unit/orchestration/render/test_partition.py
  tests/unit/orchestration/test_related_posts.py
  tests/unit/snapshots/test_transport.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(snapshots): S11 RenderPlan — serializable global render world for shard builds (#350)
  bengal/snapshots/__init__.py
  bengal/snapshots/render_plan.py
  bengal/snapshots/transport.py
  changelog.d/render-plan-shard-contract.added.md
  plan/epic-shard-parallel-build.md
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(snapshots): S11 RenderPlan — serializable global render world for shard builds (#350) (#353)
  bengal/snapshots/__init__.py
  bengal/snapshots/render_plan.py
  bengal/snapshots/transport.py
  changelog.d/render-plan-shard-contract.added.md
  plan/epic-shard-parallel-build.md
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): S12 pre-parse content-file sharder (#350)
  bengal/orchestration/render/isolated/__init__.py
  bengal/orchestration/render/isolated/partition.py
  tests/unit/orchestration/render/test_partition.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(snapshots): S13.1 from-live-page map step for shard workers (#350)
  bengal/snapshots/render_plan.py
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): S13.2/S13.3a shard worker parse + render legs (#350)
  bengal/orchestration/render/isolated/shard_worker.py
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(plan): record #350 Phase-2 S12–S13.3a progress + WorkerSite design
  plan/epic-shard-parallel-build.md
Due: none

docs(changelog): fragment for #350 Phase-2 shard-build foundation
  changelog.d/shard-parallel-build-foundation.added.md
Due: none

test(render): make render_shard parity test deterministic (#350)
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test(render): scope render_shard test to deterministic plumbing (#350)
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(render): shard-parallel build foundation — S12–S13.3a (#350) (#355)
  bengal/orchestration/render/isolated/__init__.py
  bengal/orchestration/render/isolated/partition.py
  bengal/orchestration/render/isolated/shard_worker.py
  bengal/snapshots/render_plan.py
  changelog.d/shard-parallel-build-foundation.added.md
  plan/epic-shard-parallel-build.md
  tests/unit/orchestration/render/test_partition.py
  tests/unit/orchestration/render/test_shard_worker.py
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): WorkerSite renders a shard from a RenderPlan — S13.3b (#350)
  bengal/orchestration/render/isolated/worker_site.py
  bengal/snapshots/render_plan.py
  changelog.d/worker-site-from-render-plan.added.md
  plan/epic-shard-parallel-build.md
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): WorkerSite renders a shard from a RenderPlan — S13.3b (#350) (#356)
  bengal/orchestration/render/isolated/worker_site.py
  bengal/snapshots/render_plan.py
  changelog.d/worker-site-from-render-plan.added.md
  plan/epic-shard-parallel-build.md
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(snapshots): populate SiteSnapshot.taxonomy + keep tag render byte-identical (#354)
  bengal/rendering/renderer.py
  bengal/snapshots/render_plan.py
  bengal/snapshots/scheduling.py
  changelog.d/taxonomy-snapshot-populated.fixed.md
  tests/roots/test-i18n-taxonomy/bengal.toml
  tests/roots/test-i18n-taxonomy/content/en/blog/post-en.md
  tests/roots/test-i18n-taxonomy/content/fr/blog/post-fr.md
  tests/unit/snapshots/test_snapshot_taxonomy.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(snapshots): populate SiteSnapshot.taxonomy + keep tag render byte-identical (#354) (#357)
  bengal/rendering/renderer.py
  bengal/snapshots/render_plan.py
  bengal/snapshots/scheduling.py
  changelog.d/taxonomy-snapshot-populated.fixed.md
  tests/roots/test-i18n-taxonomy/bengal.toml
  tests/roots/test-i18n-taxonomy/content/en/blog/post-en.md
  tests/roots/test-i18n-taxonomy/content/fr/blog/post-fr.md
  tests/unit/snapshots/test_snapshot_taxonomy.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): WorkerSite menus + NavTree precompute + section reconstruction — S13.3c/d (#350)
  bengal/orchestration/render/isolated/worker_site.py
  bengal/snapshots/render_plan.py
  bengal/snapshots/scheduling.py
  bengal/snapshots/types.py
  plan/epic-shard-parallel-build.md
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(changelog): news fragment for WorkerSite render-world reconstruction (#350 S13.3c/d)
  changelog.d/worker-site-render-world-reconstruction.added.md
Due: none

feat(render): WorkerSite menus + NavTree precompute (#350 S13.3c/d) (#358)
  bengal/orchestration/render/isolated/worker_site.py
  bengal/snapshots/render_plan.py
  bengal/snapshots/scheduling.py
  bengal/snapshots/types.py
  changelog.d/worker-site-render-world-reconstruction.added.md
  plan/epic-shard-parallel-build.md
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(snapshots): barrier taxonomy + related meta-reduce — S13.4a (#350)
  bengal/snapshots/render_plan.py
  changelog.d/render-plan-barrier-taxonomy-reduce.added.md
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(snapshots): barrier taxonomy + related meta-reduce — S13.4a (#350) (#359)
  bengal/snapshots/render_plan.py
  changelog.d/render-plan-barrier-taxonomy-reduce.added.md
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
