Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

docs(architecture): document Cacheable protocol in cache.md
  architecture/cache.md
Due: none

docs(architecture): update PageCore docs to mention Cacheable protocol
  architecture/object-model.md
Due: none

plan: move Cacheable protocol plan and RFC to implemented/
  plan/implemented/plan-cacheable-protocol.md
  plan/implemented/rfc-cacheable-protocol.md
Due: none

tests: simplify Self import for Python 3.14t+ (remove broken 3.10 fallback)
  tests/unit/test_cacheable_properties.py
Due: none

fix(search): repair broken search index generation from PageProxy and feature mapping
  bengal/config/feature_mappings.py
  bengal/core/page/proxy.py
Due: block-legacy-cli-imports

theme(typography): fix h2-h6 heading sizes to create proper visual hierarchy
  bengal/themes/default/assets/css/tokens/semantic.css
Due: none

theme(typography): replace text-scale tokens with heading tokens in component CSS
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/components/author-page.css
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/reference-docs.css
  bengal/themes/default/assets/css/components/related-posts.css
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/css/components/tutorial.css
  bengal/themes/default/assets/css/components/widgets.css
  bengal/themes/default/assets/js/main.js
Due: none

theme: standardize page headers with centralized .page-header component
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/components/archive.css
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/reference-docs.css
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/css/components/tutorial.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/css/layouts/page-header.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/templates/api-reference/list.html
  bengal/themes/default/templates/api-reference/single.html
  bengal/themes/default/templates/archive-year.html
  bengal/themes/default/templates/archive.html
  bengal/themes/default/templates/blog/list.html
  bengal/themes/default/templates/changelog/list.html
  bengal/themes/default/templates/cli-reference/list.html
  bengal/themes/default/templates/cli-reference/single.html
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/doc/single.html
  bengal/themes/default/templates/search.html
  bengal/themes/default/templates/tutorial/list.html
  bengal/themes/default/templates/tutorial/single.html
Due: none

themes(default): fix querySelector error for heading IDs starting with numbers
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/layouts/page-header.css
  bengal/themes/default/assets/css/tokens/semantic.css
  site/content/cli/config/diff.md
  site/content/cli/config/doctor.md
  site/content/cli/config/show.md
  site/content/cli/health/linkcheck.md
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/site.md
  site/content/cli/new/theme.md
  site/content/cli/project/config.md
  site/content/cli/project/profile.md
  site/content/cli/site/build.md
  site/content/cli/site/clean.md
  site/content/cli/site/serve.md
  site/content/cli/utils/autodoc-cli.md
  site/content/cli/utils/autodoc.md
  site/content/cli/utils/graph/analyze.md
  site/content/cli/utils/graph/bridges.md
  site/content/cli/utils/graph/communities.md
  site/content/cli/utils/graph/pagerank.md
  site/content/cli/utils/graph/suggest.md
  site/content/cli/utils/theme/info.md
  site/content/cli/utils/theme/install.md
  site/content/cli/utils/theme/new.md
  site/content/cli/utils/theme/swizzle.md
Due: none

theme(toc): normalize spacing and indentation across all heading levels
  bengal/themes/default/assets/css/components/toc.css
Due: none

general improvements
  bengal/autodoc/templates/python/module.md.jinja2
  bengal/postprocess/output_formats.py
  bengal/server/dev_server.py
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/js/main.js
Due: block-legacy-cli-imports

server: fix spurious dev server reloads and enable proper live reload injection
  bengal/server/build_handler.py
  bengal/server/request_handler.py
  bengal/themes/default/assets/js/live-reload.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/dev-reload.html
  tests/unit/server/test_request_handler.py
Due: block-legacy-cli-imports

bengal_reload
  bengal/postprocess/output_formats.py
  bengal/postprocess/special_pages.py
  bengal/server/build_handler.py
  bengal/server/dev_server.py
  bengal/server/live_reload.py
  bengal/server/reload_controller.py
  bengal/server/request_handler.py
  bengal/themes/default/templates/partials/docs-nav-section.html
  bengal/themes/default/templates/partials/meta-generator.html
  bengal/utils/build_stats.py
  config.example/_default/dev.yaml
  plan/active/rfc-dev-server-live-reload-refactor.md
  site/content/_index.md
  tests/unit/server/test_build_handler_reload.py
  tests/unit/server/test_reload_controller.py
  tests/unit/server/test_request_handler.py
Due: block-legacy-cli-imports

fix: address Copilot PR review feedback on PR #54
  bengal/autodoc/templates/python/module.md.jinja2
  bengal/server/build_handler.py
  bengal/server/reload_controller.py
  bengal/themes/default/templates/partials/docs-nav-section.html
  site/content/cli/utils/graph/communities.md
Due: block-legacy-cli-imports

fix
  bengal/cache/asset_dependency_map.py
  bengal/cache/taxonomy_index.py
  bengal/postprocess/output_formats.py
  bengal/server/live_reload.py
  bengal/server/request_handler.py
  tests/unit/server/test_build_handler_reload.py
Due: block-legacy-cli-imports

fix: address PR #54 feedback - remove empty CSS aliases, use public dev_mode attr, remove test content
  bengal/server/dev_server.py
  bengal/themes/default/assets/css/layouts/page-header.css
  site/content/_index.md
Due: block-legacy-cli-imports

docs(changelog): document dev server stability fixes
  CHANGELOG.md
Due: none

docs(plan): move stable section references plan to implemented
  plan/active/PHASE2_COMPLETE.md
  plan/active/autodoc-enhancements.md
  plan/active/bengal-rule-system.md
  plan/active/competitive-analysis-python-ssg.md
  plan/active/comprehensive-test-coverage-gaps-plan.md
  plan/active/i18n-strategy-2025.md
  plan/active/plan-config-system-v2-implementation.md
  plan/active/plan-pagecore-refactoring.md
  plan/active/rfc-autodoc-alias-inherited-viability-analysis.md
  plan/active/rfc-autodoc-analysis-summary.md
  plan/implemented/plan-stable-section-references.md
Due: none

cleanup
  .cursor/rules/architecture-patterns.mdc
  .cursor/rules/cache-contract.mdc
  .cursor/rules/commit-messages.mdc
  .cursor/rules/dataclass-conventions.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/error-handling.mdc
  .cursor/rules/file-organization.mdc
  .cursor/rules/import-organization.mdc
  .cursor/rules/no-globals.mdc
  .cursor/rules/performance.mdc
  .cursor/rules/python-style.mdc
  .cursor/rules/testing-patterns.mdc
  plan/active/rfc-autodoc-url-grouping.md
  plan/active/rfc-cache-proxy-contract.md
  plan/active/rfc-config-ergonomics-v2-clean.md
  plan/active/rfc-dev-server-live-reload-refactor.md
  plan/active/rfc-stable-incremental-state-management.md
  plan/active/roadmap-90-days.md
  plan/active/testing-hardening-and-coverage-plan.md
  plan/active/todo-config-system-v2.md
Due: none

autodoc(config): add grouping config schema with mode and prefix_map support
  bengal/autodoc/config.py
  tests/unit/test_autodoc_config.py
Due: block-legacy-cli-imports

autodoc(utils): add auto-detection and grouping algorithm
  bengal/autodoc/utils.py
  tests/unit/test_autodoc_grouping.py
Due: block-legacy-cli-imports

autodoc(extractor): integrate URL grouping in PythonExtractor
  bengal/autodoc/extractors/python.py
  plan/active/plan-autodoc-url-grouping.md
  tests/unit/autodoc/test_python_extractor.py
Due: block-legacy-cli-imports

tests(autodoc): add integration test structure for URL grouping
  plan/active/rfc-ai-assistant-output.md
  tests/integration/test_autodoc_url_grouping.py
  tests/roots/autodoc-grouping/source/mypackage/__init__.py
  tests/roots/autodoc-grouping/source/mypackage/cli/__init__.py
  tests/roots/autodoc-grouping/source/mypackage/cli/templates/__init__.py
  tests/roots/autodoc-grouping/source/mypackage/cli/templates/base.py
  tests/roots/autodoc-grouping/source/mypackage/cli/templates/blog.py
  tests/roots/autodoc-grouping/source/mypackage/core/__init__.py
  tests/roots/autodoc-grouping/source/mypackage/core/site.py
  tests/roots/autodoc-grouping/source/mypackage/utils/__init__.py
Due: none

docs(autodoc): add URL grouping documentation and config examples
  architecture/autodoc.md
  config.example/_default/autodoc.yaml
  plan/active/rfc-ai-assistant-output.md
  plan/active/validation-rfc-ai-assistant-output.md
Due: none

dogfood(autodoc): enable auto-grouping on Bengal's own site
  site/config/_default/autodoc.yaml
  site/content/cli/config/diff.md
  site/content/cli/config/doctor.md
  site/content/cli/config/show.md
  site/content/cli/health/linkcheck.md
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/site.md
  site/content/cli/new/theme.md
  site/content/cli/project/config.md
  site/content/cli/project/profile.md
  site/content/cli/site/build.md
  site/content/cli/site/clean.md
  site/content/cli/site/serve.md
  site/content/cli/utils/autodoc-cli.md
  site/content/cli/utils/autodoc.md
  site/content/cli/utils/graph/analyze.md
  site/content/cli/utils/graph/bridges.md
  site/content/cli/utils/graph/communities.md
  site/content/cli/utils/graph/pagerank.md
  site/content/cli/utils/graph/suggest.md
  site/content/cli/utils/theme/info.md
  site/content/cli/utils/theme/install.md
  site/content/cli/utils/theme/new.md
  site/content/cli/utils/theme/swizzle.md
Due: none

fix(autodoc): correct module name resolution and grouping bugs; add comprehensive tests
  bengal/autodoc/extractors/python.py
  bengal/autodoc/generator.py
  bengal/autodoc/utils.py
  bengal/cli/commands/autodoc.py
  plan/active/plan-autodoc-url-grouping.md
  site/config/_default/autodoc.yaml
  tests/integration/test_autodoc_url_grouping.py
  tests/unit/test_autodoc_module_name_resolution.py
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(autodoc): prevent empty section headers and capture full docstring examples
  bengal/autodoc/docstring_parser.py
  bengal/autodoc/templates/python/module.md.jinja2
  site/content/cli/utils/autodoc-cli.md
  site/content/cli/utils/autodoc.md
Due: block-legacy-cli-imports

feat(autodoc): use relative names for module titles to enable progressive nesting
  bengal/autodoc/extractors/python.py
Due: block-legacy-cli-imports

autodoc: address PR#55 feedback - fix grouping logic and skip sentinel
  bengal/autodoc/base.py
  bengal/autodoc/extractors/python.py
  bengal/autodoc/generator.py
  bengal/autodoc/utils.py
Due: block-legacy-cli-imports

rfc
  plan/active/rfc-markdown-notebooks.md
Due: none

autodoc: fix self/cls showing in method parameters
  bengal/autodoc/extractors/python.py
Due: block-legacy-cli-imports

docs(site): add concepts section with configuration, assets, and output formats documentation
  site/content/concepts/_index.md
  site/content/concepts/assets.md
  site/content/concepts/configuration.md
  site/content/concepts/output-formats.md
Due: none

docs(site): improve documentation based on swarm feedback (security, rationale, examples)
  site/content/concepts/assets.md
  site/content/concepts/configuration.md
  site/content/concepts/output-formats.md
Due: none

drafts
  QUICKSTART.md
  site/content/concepts/_index.md
  site/content/concepts/build-pipeline.md
  site/content/concepts/content-organization.md
  site/content/concepts/templating.md
  site/content/guides/_index.md
  site/content/guides/deployment.md
Due: none

theme: improve responsive design for very small viewports and edge cases
  RESPONSIVE_DESIGN_AUDIT.md
  RESPONSIVE_IMPROVEMENTS_SUMMARY.md
  bengal/themes/default/assets/css/base/prose-content.css
  bengal/themes/default/assets/css/base/reset.css
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/base/utilities.css
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/composition/layouts.css
  bengal/themes/default/assets/css/layouts/footer.css
Due: none
