Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

autodoc: make virtual_pages default to true (virtual pages are now the only option)
  bengal/autodoc/virtual_orchestrator.py
  plan/active/rfc-shareable-site-skeletons.md
  site/config/_default/autodoc.yaml
  site/content/docs/content/component-model.md
  site/content/docs/reference/site-templates.md
  tests/unit/cli/test_template_registry.py
Due: block-legacy-cli-imports

autodoc: implement missing extraction methods (_extract_python, _extract_cli, _extract_openapi)
  bengal/autodoc/virtual_orchestrator.py
Due: block-legacy-cli-imports

docs: update template documentation for skeleton manifests; add tests for skeleton manifest support; update RFC
  bengal/autodoc/config.py
  site/config/_default/autodoc.yaml
Due: block-legacy-cli-imports

autodoc: fix template rendering errors
  bengal/autodoc/virtual_orchestrator.py
  bengal/themes/default/templates/cli-reference/command-group.html
  site/content/cli/debug/config-inspect.md
  site/content/cli/debug/sandbox.md
Due: block-legacy-cli-imports

autodoc: filter out empty subsections in API section index template
  bengal/orchestration/build/results.py
  bengal/orchestration/incremental.py
  bengal/themes/default/templates/api-reference/section-index.html
Due: block-legacy-cli-imports

autodoc: complete empty subsection filter in API section index template
  bengal/themes/default/templates/api-reference/section-index.html
Due: none

core: implement systemic URL normalization solution
  bengal/analysis/graph_analysis.py
  bengal/analysis/knowledge_graph.py
  bengal/analysis/results.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/config/defaults.py
  bengal/core/asset.py
  bengal/core/page/metadata.py
  bengal/core/section.py
  bengal/discovery/content_discovery.py
  bengal/orchestration/render.py
  bengal/orchestration/streaming.py
  bengal/py.typed
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/urls.py
  bengal/utils/dotdict.py
  bengal/utils/file_io.py
  bengal/utils/performance_report.py
  bengal/utils/profile.py
  bengal/utils/url_normalization.py
  plan/active/dataclass-improvements-implementation-summary.md
  plan/active/rfc-dataclass-improvements.md
  plan/active/rfc-type-safety-improvements.md
  pyproject.toml
  tests/unit/analysis/test_graph_analysis.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/analysis/test_results.py
Due: block-legacy-cli-imports

core: implement Phase 1 type safety improvements from RFC
  bengal/autodoc/templates/base/python_base.md.jinja2
Due: none

core: implement Phase 2 type safety improvements - strict_optional and union-attr fixes
  bengal/autodoc/extractors/python.py
  bengal/autodoc/generator.py
  bengal/autodoc/template_safety.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/cli/commands/theme.py
  bengal/cli/helpers/traceback.py
  bengal/cli/templates/registry.py
  bengal/collections/validator.py
  bengal/content_types/strategies.py
  bengal/core/section.py
  bengal/core/site/theme.py
  bengal/health/autofix.py
  bengal/health/validators/directives/analysis.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/streaming.py
  bengal/postprocess/special_pages.py
  bengal/rendering/asset_extractor.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/renderer.py
  bengal/rendering/template_engine/asset_url.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_functions/icons.py
  bengal/server/dev_server.py
  bengal/server/live_reload.py
  bengal/server/reload_controller.py
  bengal/server/request_handler.py
  bengal/utils/file_io.py
  bengal/utils/metadata.py
  bengal/utils/theme_registry.py
  bengal/utils/theme_resolution.py
  pyproject.toml
Due: block-string-based-click-cls, block-legacy-cli-imports

core: continue Phase 2 type safety - fix remaining union-attr errors
  bengal/analysis/graph_reporting.py
  bengal/analysis/knowledge_graph.py
  bengal/assets/pipeline.py
  bengal/content_layer/manager.py
  bengal/health/autofix.py
  bengal/health/validators/directives/analysis.py
  bengal/health/validators/directives/checkers.py
  bengal/health/validators/rendering.py
  bengal/health/validators/taxonomy.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/postprocess.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/utils.py
  bengal/postprocess/sitemap.py
  bengal/rendering/parsers/mistune.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/toc.py
  bengal/rendering/pipeline/transforms.py
  bengal/rendering/plugins/directives/glossary.py
  bengal/rendering/plugins/directives/list_table.py
  bengal/rendering/plugins/directives/steps.py
  bengal/rendering/plugins/variable_substitution.py
  bengal/rendering/template_engine/url_helpers.py
  bengal/rendering/template_functions/get_page.py
  bengal/rendering/template_functions/strings.py
  bengal/server/reload_controller.py
  bengal/utils/theme_registry.py
Due: block-legacy-cli-imports

core: continue Phase 2 type safety - enable disallow_incomplete_defs and fix critical annotations
  bengal/analysis/graph_visualizer.py
  bengal/autodoc/dev_tools.py
  bengal/autodoc/docstring_parser.py
  bengal/autodoc/extractors/cli.py
  bengal/config/env_overrides.py
  bengal/content_types/base.py
  bengal/core/page/page_core.py
  bengal/fonts/downloader.py
  bengal/health/validators/directives/checkers.py
  bengal/health/validators/rendering.py
  bengal/rendering/asset_extractor.py
  bengal/rendering/parsers/native_html.py
  bengal/rendering/pygments_cache.py
  bengal/rendering/template_functions/debug.py
  bengal/rendering/template_functions/i18n.py
  bengal/rendering/validator.py
  bengal/server/build_handler.py
  bengal/server/component_preview.py
  bengal/server/resource_manager.py
  bengal/server/utils.py
  bengal/utils/cli_output.py
  bengal/utils/error_handlers.py
  bengal/utils/live_progress.py
  bengal/utils/page_initializer.py
  bengal/utils/rich_console.py
  bengal/utils/sections.py
  bengal/utils/swizzle.py
  bengal/utils/traceback_config.py
  bengal/utils/traceback_renderer.py
  plan/active/rfc-silent-error-elimination.md
  pyproject.toml
Due: block-legacy-cli-imports

core: fix PageComputedMixin attr-defined errors using Protocol
  bengal/core/page/computed.py
  bengal/health/validators/directives/checkers.py
  bengal/rendering/pipeline/core.py
Due: block-legacy-cli-imports

core: fix override errors for Phase 2 type safety completion
  bengal/autodoc/extractors/cli.py
  bengal/health/validators/cross_ref.py
  bengal/rendering/asset_extractor.py
  bengal/rendering/parsers/native_html.py
  plan/active/rfc-silent-error-elimination.md
Due: block-legacy-cli-imports

core: Phase 3 type safety - reduce Any usage and introduce TypedDict
  bengal/cli/commands/theme.py
  bengal/config/env_overrides.py
  bengal/core/page/computed.py
  bengal/health/validators/rendering.py
  bengal/rendering/template_functions/i18n.py
  bengal/themes/config.py
  bengal/utils/file_io.py
  bengal/utils/theme_registry.py
  plan/active/rfc-silent-error-elimination.md
Due: block-string-based-click-cls, block-legacy-cli-imports

core: Phase 3 type safety - add type narrowing for union-attr errors
  bengal/analysis/knowledge_graph.py
  bengal/cli/commands/theme.py
  bengal/debug/config_inspector.py
  bengal/debug/content_migrator.py
  bengal/health/validators/rendering.py
  tests/unit/config/test_env_overrides.py
Due: block-string-based-click-cls, block-legacy-cli-imports

refactor: eliminate silent error handlers with structured logging; move RFC to implemented
  changelog.md
  plan/implemented/rfc-silent-error-elimination.md
Due: none

refactor: add structured logging to 12 more silent error handlers; complete Phase 2 of RFC
  bengal/cli/commands/theme.py
  bengal/health/validators/assets.py
  bengal/health/validators/cache.py
  bengal/health/validators/connectivity.py
  bengal/health/validators/navigation.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/output_formats/utils.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(changelog): update silent error elimination entry with Phase 2 changes
  changelog.md
Due: none

autodoc: register all template functions in virtual orchestrator; fix 'current_lang' undefined error
  bengal/autodoc/virtual_orchestrator.py
  bengal/cache/build_cache/fingerprint.py
  bengal/cache/compression.py
  bengal/core/section.py
  bengal/rendering/link_transformer.py
  bengal/rendering/renderer.py
  bengal/rendering/template_engine/url_helpers.py
  bengal/utils/retry.py
  bengal/utils/theme_resolution.py
  bengal/utils/thread_local.py
Due: block-legacy-cli-imports

refactor: add logging to 3 tuple exception handlers; complete Phase 3 of RFC
  bengal/analysis/graph_visualizer.py
  bengal/core/page/content.py
  bengal/rendering/jinja_utils.py
Due: block-legacy-cli-imports

docs(changelog): update with Phase 3 tuple exception handler changes
  changelog.md
Due: none

core(types): add type annotations to high-impact files across utils, rendering, cli, cache, server modules
  bengal/autodoc/virtual_orchestrator.py
  bengal/cache/utils.py
  bengal/cli/helpers/metadata.py
  bengal/health/validators/links.py
  bengal/rendering/link_validator.py
  bengal/rendering/plugins/badges.py
  bengal/rendering/plugins/inline_icon.py
  bengal/rendering/plugins/term.py
  bengal/rendering/pygments_cache.py
  bengal/rendering/template_context.py
  bengal/rendering/template_tests.py
  bengal/server/resource_manager.py
  bengal/utils/atomic_write.py
  bengal/utils/file_lock.py
  bengal/utils/live_progress.py
  bengal/utils/logger.py
  bengal/utils/performance_collector.py
  bengal/utils/rich_console.py
  uv.lock
Due: block-string-based-click-cls, block-legacy-cli-imports

core(types): add type annotations to directive plugins and core modules
  bengal/autodoc/error_reporter.py
  bengal/autodoc/extractors/cli.py
  bengal/cache/build_cache/fingerprint.py
  bengal/cli/templates/registry.py
  bengal/core/menu.py
  bengal/debug/reporter.py
  bengal/rendering/api_doc_enhancer.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/toc.py
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/plugins/directives/checklist.py
  bengal/rendering/plugins/directives/code_tabs.py
  bengal/rendering/plugins/directives/container.py
  bengal/rendering/plugins/directives/dropdown.py
  bengal/rendering/plugins/directives/fenced.py
  bengal/rendering/plugins/directives/include.py
  bengal/rendering/plugins/directives/literalinclude.py
  bengal/rendering/plugins/directives/marimo.py
  bengal/rendering/plugins/directives/rubric.py
  bengal/rendering/plugins/directives/steps.py
  bengal/rendering/plugins/directives/tabs.py
  bengal/rendering/plugins/directives/term.py
  bengal/rendering/plugins/variable_substitution.py
  bengal/themes/config.py
Due: block-string-based-click-cls, block-legacy-cli-imports

core(types): add type annotations to navigation directive plugin
  bengal/autodoc/virtual_orchestrator.py
  bengal/rendering/plugins/directives/navigation.py
Due: block-legacy-cli-imports

core(types): add type annotations to admonitions, badge, button directives
  bengal/rendering/plugins/directives/admonitions.py
  bengal/rendering/plugins/directives/badge.py
  bengal/rendering/plugins/directives/button.py
  bengal/themes/default/templates/api-reference/module.html
  bengal/themes/default/templates/api-reference/partials/class-card.html
  plan/active/rfc-directive-system-v2.md
Due: block-legacy-cli-imports

core(types): add type annotations to cards, checklist directives, asset CSS helpers, CLI base, live_progress
  bengal/cli/base.py
  bengal/core/asset.py
  bengal/rendering/plugins/directives/cards.py
  bengal/rendering/plugins/directives/checklist.py
  bengal/utils/live_progress.py
  plan/active/rfc-directive-system-v2.md
Due: block-string-based-click-cls, block-legacy-cli-imports

core(types): fix no-any-return errors in resource_manager, variable_substitution, steps, marimo, literalinclude, cards, glossary, site/data, cache_store, cross_references directives
  bengal/autodoc/extractors/python.py
  bengal/cache/cache_store.py
  bengal/core/site/data.py
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/plugins/directives/cards.py
  bengal/rendering/plugins/directives/glossary.py
  bengal/rendering/plugins/directives/literalinclude.py
  bengal/rendering/plugins/directives/marimo.py
  bengal/rendering/plugins/directives/steps.py
  bengal/rendering/plugins/variable_substitution.py
  bengal/server/resource_manager.py
Due: block-legacy-cli-imports

core(types): add type annotations to theme, build_stats, error_handling, directives/__init__, factories, dev_tools
  bengal/autodoc/dev_tools.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/cli/helpers/error_handling.py
  bengal/core/site/factories.py
  bengal/core/theme.py
  bengal/rendering/plugins/directives/__init__.py
  bengal/utils/build_stats.py
Due: block-string-based-click-cls, block-legacy-cli-imports

core(types): add type annotations to CLI commands (utils, site, main), mistune parser plugin
  bengal/autodoc/virtual_orchestrator.py
  bengal/cli/__init__.py
  bengal/cli/commands/site.py
  bengal/cli/commands/utils.py
  bengal/rendering/parsers/mistune.py
  plan/active/rfc-directive-system-v2.md
  site/content/docs/experimental/enhanced-neumorphic.md
Due: block-string-based-click-cls, block-legacy-cli-imports

types: add type annotations for no-untyped-def errors in orchestration/, health/validators/, and rendering/template_functions/
  bengal/autodoc/virtual_orchestrator.py
  bengal/health/validators/navigation.py
  bengal/health/validators/performance.py
  bengal/health/validators/rss.py
  bengal/health/validators/sitemap.py
  bengal/health/validators/taxonomy.py
  bengal/health/validators/tracks.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/results.py
  bengal/rendering/template_functions/collections.py
  bengal/rendering/template_functions/i18n.py
  bengal/rendering/template_functions/images.py
  bengal/rendering/template_functions/taxonomies.py
  plan/active/rfc-directive-system-v2.md
Due: block-legacy-cli-imports

types: fix missing imports in navigation.py and sitemap.py validators
  bengal/health/validators/navigation.py
  bengal/health/validators/sitemap.py
  plan/active/rfc-directive-system-v2.md
Due: block-legacy-cli-imports

types: fix attr-defined and arg-type errors in validator.py, cascade_engine.py, and template_profiler.py
  bengal/collections/validator.py
  bengal/core/cascade_engine.py
  bengal/rendering/plugins/directives/validator.py
  bengal/rendering/template_profiler.py
  plan/active/rfc-directive-system-v2.md
Due: block-legacy-cli-imports

types: fix remaining no-untyped-def errors in orchestration/ and health/validators/
  bengal/health/validators/assets.py
  bengal/health/validators/cache.py
  bengal/health/validators/config.py
  bengal/health/validators/fonts.py
  bengal/health/validators/menu.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/results.py
  bengal/orchestration/render.py
  bengal/rendering/template_functions/i18n.py
  bengal/rendering/template_functions/strings.py
  bengal/themes/default/templates/api-reference/module.html
  bengal/themes/default/templates/api-reference/partials/class-card.html
Due: block-legacy-cli-imports

types: add LiveProgressManager import to render.py TYPE_CHECKING block
  bengal/orchestration/render.py
Due: block-legacy-cli-imports

types: fix more no-untyped-def errors in cache/, rendering/, analysis/, core/, and health/validators/
  bengal/analysis/results.py
  bengal/cache/dependency_tracker.py
  bengal/cache/query_index.py
  bengal/core/page/proxy.py
  bengal/core/site/properties.py
  bengal/health/validators/connectivity.py
  bengal/rendering/plugins/__init__.py
Due: block-legacy-cli-imports

types: fix no-untyped-def errors in cache/indexes/ and orchestration/
  bengal/cache/indexes/author_index.py
  bengal/cache/indexes/category_index.py
  bengal/cache/indexes/date_range_index.py
  bengal/cache/indexes/section_index.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/incremental.py
Due: block-legacy-cli-imports

types: fix remaining type annotations in orchestration/build/rendering.py and orchestration/taxonomy.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/taxonomy.py
Due: block-legacy-cli-imports

types: fix no-untyped-def errors in autodoc/cli_dev_tools.py
  Makefile
  TYPE_CHECKING_GUIDE.md
  bengal/autodoc/cli_dev_tools.py
Due: block-legacy-cli-imports

types: fix var-annotated errors in autodoc/docstring_parser.py
  bengal/autodoc/docstring_parser.py
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
