Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

docs(build-hooks): fix config keys, remove unimplemented hook_timeout, correct failure behavior
  example-sites/fan-wiki/.gitignore
  example-sites/fan-wiki/config/_default/build.yaml
  example-sites/fan-wiki/config/_default/content.yaml
  example-sites/fan-wiki/config/_default/features.yaml
  example-sites/fan-wiki/config/_default/params.yaml
  example-sites/fan-wiki/config/_default/site.yaml
  example-sites/fan-wiki/config/_default/theme.yaml
  example-sites/fan-wiki/config/environments/local.yaml
  example-sites/fan-wiki/config/environments/production.yaml
  example-sites/fan-wiki/content/_index.md
  example-sites/fan-wiki/data/resume.yaml
  plan/rfc-patitas-commonmark-compliance.md
  site/assets/fonts.css
  site/templates/partials/navigation-components.html
Due: none

docs(architecture): fix Section module path from section.py to section/
  site/content/docs/reference/architecture/core/_index.md
Due: none

docs(custom-sources): fix ContentEntry fields, REST loader params, and dependency requirement
  bengal/cli/commands/collections.py
  bengal/collections/__init__.py
  bengal/discovery/content_parser.py
  site/content/docs/extending/build-hooks.md
  site/content/docs/extending/collections.md
  site/content/docs/extending/custom-directives.md
  site/content/docs/extending/custom-sources.md
  tests/unit/collections/test_collection_config.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(installation): fix version number (0.1.5→0.1.6) and align performance claim to 1.5-2x per source code
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-contributor.md
  site/content/docs/get-started/quickstart-themer.md
  site/content/docs/get-started/quickstart-writer.md
Due: none

docs(get-started): add skeleton YAML documentation showcasing easy site scaffolding
  site/content/docs/extending/custom-skeletons.md
  site/content/docs/get-started/_index.md
  site/content/docs/get-started/quickstart-themer.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/get-started/skeleton-quickstart.md
  tests/rendering/parsers/patitas/commonmark_spec_0_31_2.json
Due: none

docs(architecture): rewrite content-types.md to match actual implementation
  site/content/docs/reference/architecture/core/content-types.md
Due: none

docs(architecture): improve core docs with navigation, fix tab-set syntax, update extension-points
  site/content/docs/content/analysis/graph.md
  site/content/docs/extending/custom-skeletons.md
  site/content/docs/get-started/_index.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/get-started/scaffold-your-site.md
  site/content/docs/reference/architecture/core/_index.md
  site/content/docs/reference/architecture/core/cache.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/docs/reference/directives/media.md
  site/content/docs/reference/kida-syntax.md
  site/content/docs/reference/security.md
  site/content/docs/reference/site-templates.md
  site/content/docs/theming/recipes/author-byline.md
  site/content/docs/theming/recipes/series-navigation.md
  site/content/docs/theming/templating/_index.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
  site/content/docs/tutorials/_index.md
  site/content/docs/tutorials/content/_index.md
  site/content/docs/tutorials/content/create-a-tutorial-series.md
  site/content/docs/tutorials/migration/_index.md
  site/content/docs/tutorials/migration/from-docusaurus.md
  site/content/docs/tutorials/migration/from-fern.md
  site/content/docs/tutorials/migration/from-hugo.md
  site/content/docs/tutorials/migration/from-jekyll.md
  site/content/docs/tutorials/migration/from-mintlify.md
  site/content/docs/tutorials/migration/from-mkdocs.md
  site/content/docs/tutorials/migration/from-sphinx.md
  site/content/docs/tutorials/onboarding/_index.md
  site/content/docs/tutorials/operations/_index.md
  site/content/docs/tutorials/operations/analyze-site-connectivity.md
  site/content/docs/tutorials/operations/automate-with-github-actions.md
  site/content/docs/tutorials/sites/_index.md
  site/content/docs/tutorials/sites/build-a-blog.md
  site/content/docs/tutorials/sites/build-a-multi-author-blog.md
  site/content/docs/tutorials/sites/skeleton-quickstart.md
  site/content/docs/tutorials/theming/_index.md
  site/content/docs/tutorials/theming/getting-started-with-kida.md
  site/content/docs/tutorials/theming/swizzle-default-theme.md
  tests/rendering/parsers/patitas/test_commonmark_spec.py
Due: none

docs(object-model): fix ContentRegistry pattern, priority levels; core: update url_ownership docstring
  bengal/core/url_ownership.py
  scripts/run_commonmark_baseline.py
  site/content/docs/reference/architecture/core/data-flow.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/architecture/core/orchestration.md
  site/content/docs/reference/architecture/core/pipeline.md
Due: block-legacy-cli-imports

orchestration(assets): enable parallel processing for Phase 13; docs: update data-flow to reflect parallel support
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/rendering.py
  bengal/rendering/parsers/patitas/parser.py
  site/content/docs/get-started/skeleton-quickstart.md
  site/content/docs/reference/architecture/core/data-flow.md
  tests/rendering/parsers/patitas/test_commonmark_spec.py
Due: block-legacy-cli-imports

docs(architecture): fix seealso links in meta index; use .md extension instead of directory syntax
  site/assets/fonts.css
  site/content/docs/reference/architecture/meta/_index.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/docs/reference/architecture/meta/file-organization.md
  site/content/docs/reference/architecture/meta/performance.md
  site/content/docs/reference/architecture/meta/testing.md
  tests/rendering/parsers/patitas/test_commonmark.py
Due: none

docs(architecture): consolidate performance.md into testing.md; remove redundant pointer page
  site/content/docs/reference/architecture/meta/extension-points.md
  tests/rendering/parsers/patitas/test_commonmark.py
Due: none

update
  site/content/docs/reference/architecture/meta/extension-points.md
  tests/rendering/parsers/patitas/test_commonmark.py
Due: none

docs(architecture): fix extension-points.md import paths and method signatures
  bengal/fonts/downloader.py
  site/assets/fonts.css
Due: block-legacy-cli-imports

fonts(downloader): check local cache before making network requests
  bengal/fonts/downloader.py
  tests/unit/collections/test_discovery_integration.py
Due: block-legacy-cli-imports

tests(fonts): add unit tests for cache-checking methods in GoogleFontsDownloader
  bengal/rendering/parsers/patitas/parser.py
  tests/rendering/parsers/patitas/test_commonmark.py
  tests/unit/fonts/test_downloader.py
Due: block-legacy-cli-imports

patitas: implement CommonMark RFC foundation
  bengal/rendering/parsers/patitas/parser.py
  changelog.md
Due: block-legacy-cli-imports

patitas: improve CommonMark compliance
  bengal/rendering/parsers/patitas/parser.py
  bengal/rendering/parsers/patitas/renderers/html.py
  changelog.md
  site/content/docs/reference/architecture/rendering/_index.md
  site/content/docs/reference/architecture/rendering/assets-pipeline.md
  site/content/releases/0.1.6.md
  site/content/releases/0.1.7.md
  tests/rendering/parsers/patitas/test_commonmark.py
Due: block-legacy-cli-imports

docs(server): fix inaccurate CLI options, config section, and API examples
  bengal/rendering/parsers/patitas/lexer.py
  bengal/rendering/parsers/patitas/parser.py
  site/content/docs/reference/architecture/rendering/assets-pipeline.md
  site/content/docs/reference/architecture/rendering/content-processing-api.md
  site/content/docs/reference/architecture/rendering/postprocess.md
  site/content/docs/reference/architecture/tooling/server.md
Due: block-legacy-cli-imports

patitas: implement reference links (CommonMark compliance)
  site/content/docs/reference/architecture/rendering/postprocess.md
Due: none

docs(rendering): fix inaccurate claims per deep audit; correct default parser, stage count, theme chain, marimo scope
  site/content/docs/reference/architecture/rendering/rendering.md
Due: none

docs(subsystems): expand autodoc to cover CLI/OpenAPI support; clarify on-demand import pattern
  site/assets/fonts.css
  site/content/docs/reference/architecture/subsystems/_index.md
  site/content/docs/reference/architecture/subsystems/analysis.md
  site/content/docs/reference/architecture/subsystems/autodoc.md
Due: none

docs(collections): fix schema references and API examples to match source code
  plan/rfc-patitas-commonmark-compliance.md
  site/assets/fonts.css
  site/content/docs/reference/architecture/subsystems/analysis.md
  site/content/docs/reference/architecture/subsystems/autodoc.md
  site/content/docs/reference/architecture/subsystems/collections.md
  site/content/docs/reference/architecture/subsystems/content-layer.md
Due: none

docs(tooling): fix inaccurate WebSocket claim; uses SSE for live reload
  plan/rfc-patitas-commonmark-compliance.md
  site/assets/fonts.css
  site/content/docs/reference/architecture/_index.md
  site/content/docs/reference/architecture/subsystems/debug.md
  site/content/docs/reference/architecture/subsystems/fonts.md
  site/content/docs/reference/architecture/subsystems/health.md
  site/content/docs/reference/architecture/subsystems/output.md
  site/content/docs/reference/architecture/tooling/_index.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/architecture/tooling/config.md
Due: none

docs(directives): fix duplicate gallery entry, broken wikilink, and redundant child-cards listing
  site/assets/fonts.css
  site/content/docs/reference/directives/_index.md
Due: none

docs(directives): fix admonitions reference - remove unsupported :id: option, correct HTML output structure
  site/content/docs/reference/directives/admonitions.md
Due: none

docs(directives): fix layout.md audit issues; correct :pull: fields, clarify grid deprecation, expand child-cards options
  bengal/rendering/parsers/patitas/renderers/html.py
  site/content/docs/reference/directives/admonitions.md
  site/content/docs/reference/directives/formatting.md
  site/content/docs/reference/directives/interactive.md
  site/content/docs/reference/directives/layout.md
  site/content/docs/reference/directives/versioning.md
Due: block-legacy-cli-imports

docs(navigation): fix child-cards defaults and remove undocumented features
  site/content/docs/reference/directives/navigation.md
  site/content/docs/reference/directives/versioning.md
Due: none

docs(reference): improve kida-syntax accuracy; soften performance claim with evidence qualifier; tests: remove unused variables in directive caching test
  site/content/docs/reference/directives/interactive.md
  site/content/docs/reference/directives/navigation.md
  site/content/docs/reference/directives/versioning.md
  site/content/docs/reference/icons.md
  site/content/docs/reference/kida-syntax.md
  tests/unit/rendering/test_page_dependent_directive_caching.py
Due: none

docs(recipes): standardize pipe operator syntax to |> in Quick Reference table
  site/content/docs/reference/kida-syntax.md
  site/content/docs/theming/recipes/_index.md
  site/content/docs/theming/recipes/template-views.md
Due: none

core(collections): fix group_by to handle None values safely; add test
  bengal/rendering/template_functions/collections.py
  site/content/docs/theming/recipes/archive-page.md
  site/content/docs/theming/recipes/author-byline.md
  site/content/docs/theming/recipes/content-freshness.md
  site/content/docs/theming/recipes/featured-posts.md
  site/content/docs/theming/recipes/list-recent-posts.md
  site/content/docs/theming/recipes/section-statistics.md
  site/content/docs/theming/recipes/series-navigation.md
  site/content/docs/theming/recipes/social-sharing-buttons.md
  site/content/docs/theming/recipes/table-of-contents.md
  site/content/docs/theming/recipes/template-views.md
  tests/unit/template_functions/test_collections.py
Due: block-legacy-cli-imports

core(kida): implement block-scoped set and export scoping for variables
  bengal/rendering/kida/analysis/analyzer.py
  bengal/rendering/kida/analysis/purity.py
  bengal/rendering/kida/compiler/core.py
  bengal/rendering/kida/compiler/expressions.py
  bengal/rendering/kida/compiler/statements/control_flow.py
  bengal/rendering/kida/compiler/statements/variables.py
  bengal/rendering/kida/environment/core.py
  bengal/rendering/kida/template.py
  site/content/docs/reference/kida-syntax.md
  site/content/docs/theming/templating/kida/_index.md
  site/content/docs/theming/templating/kida/caching/_index.md
  site/content/docs/theming/templating/kida/caching/automatic.md
  site/content/docs/theming/templating/kida/caching/fragments.md
  site/content/docs/theming/templating/kida/migration/_index.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
  site/content/docs/theming/templating/kida/syntax/blocks.md
  site/content/docs/theming/templating/kida/syntax/functions.md
  site/content/docs/theming/templating/kida/syntax/operators.md
  site/content/docs/theming/templating/kida/syntax/variables.md
  tests/rendering/kida/analysis/test_block_analyzer.py
  tests/rendering/kida/test_kida_basic.py
Due: block-legacy-cli-imports

docs(themes): clarify CSS inclusion and command syntax; fix custom_css documentation to show manual template inclusion required
  bengal/rendering/kida/template.py
  site/content/docs/theming/templating/custom-engine.md
  site/content/docs/theming/templating/functions.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/content/docs/theming/templating/kida/architecture.md
  site/content/docs/theming/templating/kida/create-custom-template.md
  site/content/docs/theming/templating/kida/performance.md
  site/content/docs/theming/themes/_index.md
  site/content/docs/theming/themes/customize.md
Due: block-legacy-cli-imports

test fix
  bengal/rendering/engines/kida.py
  bengal/rendering/kida/environment/core.py
  site/content/docs/reference/kida-syntax.md
  site/content/docs/tutorials/theming/getting-started-with-kida.md
Due: block-legacy-cli-imports

fixes
  bengal/rendering/engines/jinja.py
  bengal/rendering/engines/kida.py
  site/content/docs/reference/kida-syntax.md
  site/content/docs/theming/templating/kida/_index.md
  site/content/docs/theming/templating/kida/migration/_index.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
  tests/unit/rendering/kida/test_dispatch_table.py
Due: block-legacy-cli-imports

test fix
  bengal/rendering/pipeline/core.py
  tests/rendering/kida/test_kida_bytecode_cache.py
  tests/rendering/kida/test_kida_conditionals.py
  tests/rendering/kida/test_resilient_none_handling.py
Due: block-legacy-cli-imports

parser(patitas): fix list continuation and blank line handling
  bengal/rendering/parsers/patitas/parser.py
  plan/rfc-documentation-completeness.md
Due: block-legacy-cli-imports

lexer(patitas): fix deeply nested lists - check list markers before indented code
  bengal/rendering/parsers/patitas/lexer.py
  plan/rfc-documentation-completeness.md
Due: block-legacy-cli-imports

plan(rfc): adopt ext: prefix for external references syntax; resolves collision with cross-version links
  bengal/rendering/parsers/patitas/parser.py
  plan/rfc-external-references.md
  site/content/docs/reference/template-functions.md
Due: block-legacy-cli-imports
