Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

fix
  bengal/rendering/template_functions/blog.py
Due: ty, block-legacy-cli-imports

test fix
  .github/workflows/tests.yml
  tests/rendering/parsers/test_patitas/test_fuzz.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix tests
  .github/workflows/tests.yml
  pytest.ini
  tests/integration/test_full_build_performance.py
  tests/integration/test_incremental_invariants.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test fixes
  bengal/rendering/template_functions/content.py
  tests/integration/test_cli_smoke.py
  tests/integration/test_tracks_rendering.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

race conditions
  bengal/effects/tracer.py
  bengal/snapshots/persistence.py
Due: ty, block-legacy-cli-imports

test cleanup
  .github/workflows/tests.yml
  tests/integration/test_concurrent_builds.py
  tests/integration/test_full_site_url_consistency.py
  tests/integration/test_template_scaffolding.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

bump
  .github/workflows/tests.yml
  bengal/content/discovery/content_parser.py
  pyproject.toml
  tests/unit/content/test_notebook_parser.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix
  site-docs/.gitignore
  site-docs/config/_default/build.yaml
  site-docs/config/_default/content.yaml
  site-docs/config/_default/features.yaml
  site-docs/config/_default/fonts.yaml
  site-docs/config/_default/menu.yaml
  site-docs/config/_default/params.yaml
  site-docs/config/_default/search.yaml
  site-docs/config/_default/site.yaml
  site-docs/config/_default/theme.yaml
  site-docs/config/environments/local.yaml
  site-docs/config/environments/production.yaml
  site-docs/content/_index.md
  site-docs/content/api/_index.md
  site-docs/content/getting-started/_index.md
  site-docs/content/getting-started/installation.md
  site-docs/content/getting-started/quickstart.md
  site-docs/content/guides/_index.md
Due: none

fix
  bengal/themes/default/templates/doc/home.html
  site-docs/assets/fonts.css
  site-docs/assets/fonts/outfit-400.woff2
  site-docs/assets/fonts/outfit-600.woff2
  site-docs/assets/fonts/outfit-700.woff2
Due: check-template-css

changes
  .github/workflows/tests.yml
  pyproject.toml
Due: none

tests: speed up integration CI - mark stress tests slow, reduce scaffolding
  tests/integration/test_template_scaffolding.py
  tests/integration/warm_build/test_edge_cases.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test cleanup
  .github/workflows/tests.yml
  pytest.ini
  tests/integration/debug/test_debug_tools_smoke.py
  tests/integration/test_ast_pipeline.py
  tests/integration/test_autodoc_html_generation.py
  tests/integration/test_autodoc_nav_integration.py
  tests/integration/test_link_previews_integration.py
  tests/integration/warm_build/test_dependency_gaps.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

troubleshooting
  bengal/orchestration/render/orchestrator.py
  pyproject.toml
  tests/integration/test_parallel_complexity_ordering.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

release prep
  bengal/__init__.py
  changelog.md
  pyproject.toml
  site/content/releases/0.2.3.md
Due: ty, block-legacy-cli-imports

css
  bengal/themes/default/assets/css/components/blog.css
Due: check-template-css

cli: skip content-hash filter when fallback-source-change triggers reload
  bengal/server/build_trigger.py
Due: ty, block-legacy-cli-imports

server: fix live reload by replacing thread bridge with pure async SSE
  .cursor/rules/modules/template-href-path/RULE.mdc
  .cursor/rules/system/bengal-os/RULE.mdc
  bengal/orchestration/build/__init__.py
  bengal/orchestration/stats/__init__.py
  bengal/orchestration/stats/models.py
  bengal/rendering/template_functions/math_functions.py
  bengal/rendering/utils/__init__.py
  bengal/rendering/utils/template_safe.py
  bengal/server/asgi_app.py
  bengal/server/backend.py
  bengal/server/build_executor.py
  bengal/server/build_trigger.py
  bengal/server/live_reload.py
  bengal/server/live_reload/__init__.py
  bengal/server/live_reload/injection.py
  bengal/server/live_reload/mixin.py
  bengal/server/live_reload/notification.py
  bengal/server/live_reload/script.py
  bengal/server/live_reload/sse.py
  bengal/server/reload_controller.py
  bengal/server/reload_protocols.py
  bengal/server/reload_types.py
  bengal/themes/default/templates/authors/single.html
  bengal/themes/default/templates/blog/home.html
  bengal/themes/default/templates/blog/list.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/doc/home.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/components/article.html
  bengal/themes/default/templates/partials/components/post-card.html
  bengal/themes/default/templates/partials/components/related-post-card.html
  bengal/themes/default/templates/partials/components/tiles.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/tutorial/list.html
  docs/live-reload-pipeline-review.md
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_live_reload.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

build: move provenance store I/O outside locks
  bengal/build/provenance/store.py
  bengal/cache/directive_cache.py
  bengal/orchestration/build_context.py
  bengal/rendering/api_doc_enhancer.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/get_page.py
  bengal/server/live_reload/mixin.py
  bengal/server/reload_controller.py
  tests/unit/server/test_reload_controller.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cleanup
  bengal/server/build_trigger.py
  bengal/server/live_reload/__init__.py
  bengal/server/live_reload/sse.py
Due: ty, block-legacy-cli-imports

more cleanup
  bengal/output/utils.py
  bengal/rendering/context/__init__.py
  bengal/rendering/errors/deduplication.py
  bengal/scaffolds/__init__.py
  bengal/scaffolds/registry.py
  bengal/server/build_trigger.py
  tests/unit/output/test_output_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  bengal/core/site/__init__.py
  bengal/core/site/accessors.py
  bengal/core/site/cascade.py
  bengal/core/site/lifecycle.py
  bengal/orchestration/render/block_cache.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/ordering.py
  bengal/orchestration/render/sequential.py
  bengal/server/build_trigger.py
Due: ty, block-legacy-cli-imports

orchestration: fix warm rebuild template fallback visibility
  bengal/orchestration/build/__init__.py
  bengal/rendering/renderer.py
Due: ty, block-legacy-cli-imports

server: add reactive dev sequel (Phase 3 + 5)
  bengal/server/build_trigger.py
  bengal/server/reactive/__init__.py
  bengal/server/reactive/handler.py
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_reactive_handler.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: add reactive path tests (seed + integration)
  bengal/server/reactive/handler.py
  tests/integration/warm_build/test_build_trigger_reactive.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  .cursor/rules/modules/filter-type-coercion/RULE.mdc
  bengal/orchestration/build/rendering.py
  bengal/rendering/pipeline/core.py
  bengal/snapshots/scheduler.py
  pyproject.toml
  site-docs/.gitignore
  site-docs/assets/fonts.css
  site-docs/assets/fonts/outfit-400.woff2
  site-docs/assets/fonts/outfit-600.woff2
  site-docs/assets/fonts/outfit-700.woff2
  site-docs/config/_default/build.yaml
  site-docs/config/_default/content.yaml
  site-docs/config/_default/features.yaml
  site-docs/config/_default/fonts.yaml
  site-docs/config/_default/menu.yaml
  site-docs/config/_default/params.yaml
  site-docs/config/_default/search.yaml
  site-docs/config/_default/site.yaml
  site-docs/config/_default/theme.yaml
  site-docs/config/environments/local.yaml
  site-docs/config/environments/production.yaml
  site-docs/content/_index.md
  site-docs/content/api/_index.md
  site-docs/content/getting-started/_index.md
  site-docs/content/getting-started/installation.md
  site-docs/content/getting-started/quickstart.md
  site-docs/content/guides/_index.md
  tests/performance/benchmark_warm_build_consistency.py
Due: ty, block-legacy-cli-imports, check-outdated-build-options

tests: add reactive dev sequel phases 6 and 7 (reload-page, RFC, edge case)
  bengal/server/reload_controller.py
  plan/rfc-reactive-dev-sequel.md
  tests/integration/warm_build/test_build_trigger_reactive.py
  tests/unit/server/test_reload_controller.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: fix except syntax for ValueError, TypeError
  bengal/server/build_trigger.py
Due: ty, block-legacy-cli-imports

orchestration: add instant DOM fragment reload for content edits
  bengal/server/build_trigger.py
  bengal/server/live_reload/fragment.py
  bengal/server/live_reload/notification.py
  bengal/server/live_reload/script.py
  tests/unit/server/test_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: implement S-Tier shortcode DX (Ref/RelRef, HasShortcode, nesting, strict, CLI)
  bengal/cli/__init__.py
  bengal/cli/commands/shortcodes.py
  bengal/core/page/__init__.py
  bengal/core/page/proxy.py
  bengal/protocols/core.py
  bengal/rendering/shortcodes.py
  bengal/themes/default/templates/shortcodes/audio.html
  bengal/themes/default/templates/shortcodes/blockquote.html
  bengal/themes/default/templates/shortcodes/danger.html
  bengal/themes/default/templates/shortcodes/details.html
  bengal/themes/default/templates/shortcodes/figure.html
  bengal/themes/default/templates/shortcodes/gallery.html
  bengal/themes/default/templates/shortcodes/highlight.html
  bengal/themes/default/templates/shortcodes/img.html
  bengal/themes/default/templates/shortcodes/param.html
  bengal/themes/default/templates/shortcodes/ref.html
  bengal/themes/default/templates/shortcodes/relref.html
  bengal/themes/default/templates/shortcodes/tip.html
  bengal/themes/default/templates/shortcodes/warning.html
  site/content/docs/extending/shortcodes.md
  tests/unit/rendering/test_shortcodes.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/cli/commands/shortcodes.py
  bengal/content/discovery/content_parser.py
  bengal/content/sources/local.py
  bengal/content/utils/__init__.py
  bengal/content/utils/frontmatter.py
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  bengal/server/reactive/handler.py
  bengal/themes/default/templates/shortcodes/audio.html
  bengal/themes/default/templates/shortcodes/blockquote.html
  bengal/utils/observability/profile.py
  changelog.md
  plan/output-collector-propagation-plan.md
  pyproject.toml
  site/content/docs/about/glossary.md
  site/content/docs/building/configuration/variants.md
  site/content/docs/extending/_index.md
  site/content/docs/extending/custom-directives.md
  site/content/docs/extending/shortcodes.md
  site/content/docs/reference/architecture/meta/protocols.md
  site/content/docs/tutorials/user-scenarios.md
  site/data/tracks.yaml
  tests/integration/warm_build/test_build_trigger_reactive.py
  tests/unit/content/test_content_utils.py
  tests/unit/discovery/test_content_parser_edge_cases.py
  tests/unit/server/test_live_reload.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/health/validators/tracks.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/output_collector_diagnostics.py
  bengal/orchestration/streaming.py
  bengal/parsing/backends/patitas/directives/contracts.py
  bengal/rendering/external_refs/resolver.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
  bengal/server/dev_server.py
  bengal/utils/observability/logger.py
  changelog.md
  plan/output-collector-long-term-solution.md
  plan/output-collector-tech-debt-remediation.md
  site/content/_versions/v0.1.4/docs/_index.md
  site/content/_versions/v0.1.4/docs/about/benchmarks.md
  site/content/_versions/v0.1.4/docs/get-started/quickstart-themer.md
  site/content/_versions/v0.1.4/docs/get-started/quickstart-writer.md
  site/content/docs/about/_index.md
  site/content/docs/about/philosophy.md
  site/content/docs/content/authoring/linking.md
  site/content/docs/content/authoring/notebooks/_index.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/data/tracks.yaml
  tests/integration/warm_build/test_build_trigger_reactive.py
  tests/unit/orchestration/render/test_output_collector_diagnostics.py
  tests/unit/server/test_dev_server_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: implement live reload pipeline improvements
  bengal/orchestration/build/__init__.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/output_collector_diagnostics.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_trigger.py
  bengal/server/live_reload/fragment.py
  bengal/server/live_reload/sse.py
  bengal/server/reactive/handler.py
  bengal/snapshots/scheduler.py
  tests/unit/server/test_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  tests/unit/rendering/plugins/test_crossref_edge_cases.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix
  bengal/core/page/proxy.py
  bengal/health/validators/links.py
  tests/unit/rendering/test_link_validator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: resolve content hash cache keys to absolute paths
  bengal/server/build_trigger.py
Due: ty, block-legacy-cli-imports

health: refactor links validator with link_resolution and link_skip_rules
  bengal/health/validators/link_skip_rules.py
  bengal/health/validators/links.py
  bengal/utils/paths/__init__.py
  bengal/utils/paths/link_resolution.py
Due: ty, block-legacy-cli-imports

cache: align path keys across watcher, discovery, BuildCache
  bengal/build/contracts/keys.py
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/file_tracking.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/cache/build_cache/taxonomy_index_mixin.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/taxonomy.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/server/build_trigger.py
  tests/unit/cache/test_build_cache.py
  tests/unit/cache/test_cache_key_normalization.py
  tests/unit/orchestration/test_cache_migration.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: normalize validation cache keys via _cache_key
  bengal/cache/build_cache/validation_cache.py
  tests/unit/cache/test_file_tracking_path_resolution.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

normalization and boundary alignment
  bengal/build/provenance/filter.py
  bengal/health/validators/links.py
  tests/unit/rendering/test_link_validator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: fix taxonomy page_tags lookup, add prevention audits and tests
  .cursor/rules/modules/filter-type-coercion/RULE.mdc
  .cursor/rules/modules/template-href-path/RULE.mdc
  bengal/orchestration/build/provenance_filter.py
  tests/unit/core/test_page_cache.py
  tests/unit/orchestration/build/test_provenance_filter_path_keys.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
