Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

orchestration: use Kida introspection for fine-grained template invalidation
  bengal/orchestration/incremental/effect_detector.py
  bengal/rendering/engines/kida.py
  tests/unit/rendering/parsers/test_patitas/test_directives.py
  tests/unit/rendering/pipeline/test_output_collector_integration.py
  tests/unit/rendering/templates/test_tag_templates.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: add context validation and fragment rendering to Kida engine
  bengal/protocols/rendering.py
  bengal/rendering/engines/kida.py
  bengal/rendering/renderer.py
  site/content/docs/reference/architecture/meta/protocols.md
  tests/unit/rendering/pipeline/test_output_collector_integration.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: add fragment-based SSE updates for partial page reload
  bengal/server/live_reload.py
  bengal/themes/default/templates/base.html
Due: ty, block-legacy-cli-imports, check-template-css

themes: refactor card components to use embed, add composition docs
  bengal/themes/default/templates/home.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/components/cards.html
  bengal/themes/default/templates/post.html
  site/content/docs/theming/templating/kida/syntax/_index.md
  site/content/docs/theming/templating/kida/syntax/composition.md
Due: check-template-css

rendering: add fragment fast path for content-only hot reload
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
Due: ty, block-legacy-cli-imports

rendering: add AST-aware fragment updates (Phase 2)
  bengal/server/build_trigger.py
  bengal/server/fragment_update.py
Due: ty, block-legacy-cli-imports

rendering: add cascade safety check for fragment fast path
  bengal/rendering/engines/kida.py
  bengal/server/build_trigger.py
  bengal/server/fragment_update.py
  bengal/themes/default/templates/partials/components/cards.html
  bengal/themes/default/templates/partials/tag-nav.html
  bengal/themes/default/templates/tag.html
  bengal/themes/default/templates/tags.html
  pyproject.toml
  site/content/docs/_index.md
  uv.lock
Due: ty, block-legacy-cli-imports, check-template-css

rendering: add template fragment fast path for site-scoped blocks
  bengal/server/build_trigger.py
Due: ty, block-legacy-cli-imports

orchestration: implement reactive rebuild architecture
  bengal/build/provenance/filter.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/parsing.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/content.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/server/build_trigger.py
  bengal/server/fragment_update.py
Due: ty, block-legacy-cli-imports

orchestration: wire up dead code from reactive rebuild
  bengal/parsing/backends/patitas/wrapper.py
  bengal/server/build_trigger.py
  bengal/server/fragment_update.py
Due: ty, block-legacy-cli-imports

core: implement AST-first page model
  bengal/build/provenance/filter.py
  bengal/build/provenance/types.py
  bengal/cache/ast_cache.py
  bengal/cache/build_cache/core.py
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  bengal/core/page/metadata.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/parsing.py
  bengal/parsing/ast/patitas_extract.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_trigger.py
  bengal/server/fragment_update.py
Due: ty, block-legacy-cli-imports

core: remove dead BuildCache.ast_cache path
  bengal/cache/ast_cache.py
  bengal/cache/build_cache/core.py
  bengal/orchestration/pipeline/__init__.py
  bengal/orchestration/pipeline/executor.py
  bengal/orchestration/pipeline/scheduler.py
  bengal/orchestration/pipeline/task.py
  bengal/orchestration/tasks/__init__.py
  bengal/orchestration/tasks/assets.py
  bengal/orchestration/tasks/cache.py
  bengal/orchestration/tasks/config.py
  bengal/orchestration/tasks/discovery.py
  bengal/orchestration/tasks/filtering.py
  bengal/orchestration/tasks/fonts.py
  bengal/orchestration/tasks/health.py
  bengal/orchestration/tasks/indexes.py
  bengal/orchestration/tasks/menus.py
  bengal/orchestration/tasks/parsing.py
  bengal/orchestration/tasks/postprocess.py
  bengal/orchestration/tasks/related.py
  bengal/orchestration/tasks/rendering.py
  bengal/orchestration/tasks/sections.py
  bengal/orchestration/tasks/taxonomy.py
  bengal/orchestration/tasks/validation.py
Due: ty, block-legacy-cli-imports

tests: add AST-First Page Model test coverage
  tests/core/test_type_safety.py
  tests/unit/build/provenance/test_types.py
  tests/unit/orchestration/test_streaming_memory_release.py
  tests/unit/parsing/ast/__init__.py
  tests/unit/parsing/ast/test_patitas_extract.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

orchestration: fix postprocess asset manifest context
  bengal/orchestration/build/finalization.py
  bengal/orchestration/postprocess.py
Due: ty, block-legacy-cli-imports

updates
  benchmarks/build_matrix_results.csv
  benchmarks/build_matrix_results.json
  bengal/cli/dashboard/serve.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/feature_flags.py
  bengal/orchestration/build/options.py
  bengal/orchestration/build_context.py
  bengal/orchestration/pipeline/__init__.py
  bengal/orchestration/stats/display.py
  bengal/protocols/server.py
  bengal/rendering/block_cache.py
  bengal/rendering/engines/kida.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/fragment_update.py
  bengal/server/wiring.py
  bengal/services/site_runtime.py
  scripts/benchmark_build_matrix.py
  tests/integration/test_versioned_builds.py
  tests/unit/cache/test_file_tracking_path_resolution.py
  tests/unit/cli/test_build_flags.py
  tests/unit/orchestration/test_feature_flags.py
  tests/unit/orchestration/test_pipeline_timings.py
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_css_only_reload.py
  tests/unit/server/test_request_handler_rebuild_page.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

ci
  .github/workflows/mutation.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
  .github/workflows/ty.yml
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/feature_flags.py
  bengal/orchestration/build/merkle_graph.py
  bengal/orchestration/build/options.py
  bengal/orchestration/stats/models.py
  bengal/orchestration/tasks/filtering.py
  bengal/server/build_trigger.py
  tests/unit/cli/test_build_flags.py
  tests/unit/orchestration/test_feature_flags.py
  tests/unit/orchestration/test_merkle_graph.py
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_css_only_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: address PR review comments
  bengal/cli/commands/build.py
  bengal/orchestration/fragment/fast_path.py
  bengal/orchestration/tasks/rendering.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_trigger.py
  tests/unit/build/provenance/test_ast_provenance.py
  tests/unit/core/test_ast_first_page.py
  tests/unit/rendering/pipeline/test_output_collector_integration.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

update
  .github/actions/checkout-editable-deps/action.yml
  .github/workflows/mutation.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
  .github/workflows/ty.yml
  tests/unit/cli/test_build_flags.py
  tests/unit/orchestration/test_feature_flags.py
  tests/unit/orchestration/test_merkle_graph.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

cli: implement lazy command loading for 6x faster startup
  bengal/cli/__init__.py
  bengal/cli/base.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

docs: add performance improvements documentation and test script
  PERFORMANCE_IMPROVEMENTS.md
  test_lazy_loading.sh
Due: none

updates to kida
  README.md
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/changelog/list.html
  bengal/themes/default/templates/home.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/tag-nav.html
  bengal/themes/default/templates/post.html
  bengal/themes/default/templates/tag.html
  pyproject.toml
  site/content/_index.md
  site/content/docs/about/ecosystem.md
  uv.lock
Due: check-template-css

server prep
  bengal/server/asgi_app.py
  bengal/server/backend.py
  bengal/server/build_state.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/live_reload.py
  bengal/server/request_handler.py
  bengal/server/resource_manager.py
  bengal/server/responses.py
  pyproject.toml
  tests/unit/server/test_request_handler_rebuild_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/rendering/template_engine/environment.py
  pyproject.toml
  uv.lock
Due: ty, block-legacy-cli-imports

tests: add unit tests for ASGI app and server backend
  tests/unit/server/test_asgi_app.py
  tests/unit/server/test_backend.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

server: wire SSE live reload in create_bengal_dev_app
  bengal/server/asgi_app.py
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: add static serving and HTML injection to ASGI app
  bengal/server/asgi_app.py
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: switch dev server to Pounce ASGI backend
  bengal/server/asgi_app.py
  bengal/server/backend.py
  bengal/server/dev_server.py
  pyproject.toml
  tests/unit/server/test_backend.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: remove ThreadingTCPServer and RequestLogger
  bengal/cli/dashboard/widgets/request_log.py
  bengal/server/__init__.py
  bengal/server/backend.py
  bengal/server/build_state.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/live_reload.py
  bengal/server/request_handler.py
  bengal/server/request_logger.py
  bengal/server/utils.py
  scripts/check_file_sizes.py
  tests/unit/server/test_backend.py
  tests/unit/server/test_live_reload_injection.py
  tests/unit/server/test_request_handler.py
  tests/unit/server/test_request_handler_rebuild_page.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: add delightful dev server request logging
  bengal/server/asgi_app.py
  bengal/server/backend.py
  bengal/server/dev_server.py
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fixes
  .cursor/plans/pounce-migration.plan.md
  bengal/themes/default/templates/partials/tag-nav.html
  uv.lock
Due: check-template-css

fixes
  bengal/themes/default/assets/css/components/archive.css
  bengal/themes/default/assets/css/components/author-page.css
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/data-table.css
  bengal/themes/default/assets/css/components/empty-state.css
  bengal/themes/default/assets/css/components/navigation.css
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/assets/css/components/pagination.css
  bengal/themes/default/assets/css/components/tags.css
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/css/components/tutorial.css
  bengal/themes/default/assets/css/components/versioning.css
  bengal/themes/default/assets/css/composition/layouts.css
  bengal/themes/default/assets/css/layouts/page-header.css
  bengal/themes/default/assets/css/pages/landing.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/templates/partials/version-banner.html
  scripts/check_template_css.py
  tests/unit/rendering/test_preprocess_strictness.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix
  .github/workflows/python-publish.yml
  .github/workflows/ty.yml
Due: none

server: address PR 146 feedback - security, correctness, perf
  bengal/cli/dashboard/widgets/request_log.py
  bengal/rendering/template_engine/environment.py
  bengal/server/asgi_app.py
  bengal/server/resource_manager.py
  bengal/server/responses.py
  tests/unit/server/test_backend.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/cli/__init__.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  pyproject.toml
  tests/rendering/parsers/test_patitas/test_integration.py
  tests/rendering/parsers/test_patitas/test_page_context_directives.py
  tests/unit/rendering/test_parser_configuration.py
  uv.lock
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

update
  pyproject.toml
  uv.lock
Due: none

rendering: add block-level highlight cache for cross-page reuse
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/highlighting/__init__.py
  bengal/rendering/highlighting/cache.py
  bengal/rendering/highlighting/deferred.py
  bengal/rendering/pipeline/core.py
  tests/unit/rendering/highlighting/test_deferred.py
  tests/unit/rendering/highlighting/test_highlight_cache.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

math stuff
  .cursor/plans/follower-audience-analysis.md
  bengal/cli/commands/new/config.py
  bengal/rendering/template_functions/content.py
  bengal/themes/default/assets/js/enhancements/math.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/tag-nav.html
  bengal/themes/default/theme.yaml
  changelog.md
  pyproject.toml
  site/config/_default/theme.yaml
  site/content/docs/content/authoring/_index.md
  site/content/docs/content/authoring/math.md
  site/content/docs/extending/theme-customization.md
  tests/integration/test_math_feature.py
  tests/unit/core/test_theme.py
  tests/unit/template_functions/test_content.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

content: add native Jupyter notebook support
  bengal/content/discovery/content_parser.py
  bengal/content/notebook/__init__.py
  bengal/content/notebook/converter.py
  bengal/content/utils/constants.py
  bengal/content_types/registry.py
  bengal/content_types/strategies.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/template_functions/urls.py
  bengal/themes/default/assets/css/layouts/notebook.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/templates/notebook/single.html
  pyproject.toml
  tests/unit/content/notebook/test_converter.py
  tests/unit/content/test_content_utils.py
  tests/unit/content/test_notebook_parser.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options
