Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

updates
  .github/workflows/tests.yml
  tests/integration/test_link_previews.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

ci: integration 6 shards and 25m job timeout
  .github/workflows/tests.yml
  tests/README.md
Due: none

updates
  pyproject.toml
Due: none

tests: fix integration hang (thread timeout, drop no-op test)
  .github/workflows/tests.yml
  .test_durations
  tests/integration/test_resource_cleanup.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Tests redo (#178)
  .github/workflows/tests.yml
  .test_durations
  pyproject.toml
  pytest.ini
  tests/README.md
  tests/_testing/fixtures.py
  tests/integration/test_blog_scenarios.py
  tests/integration/test_link_previews.py
  tests/integration/test_resource_cleanup.py
  tests/integration/test_snapshot_integration.py
  tests/integration/warm_build/conftest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Competitive strategy: plugin system, template deps, threading, page walks
  .dori/context.json
  .dori/file_history.json
  bengal/cache/build_cache/core.py
  bengal/effects/tracer.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/menu.py
  bengal/orchestration/related_posts.py
  bengal/plugins/__init__.py
  bengal/plugins/integration.py
  bengal/plugins/loader.py
  bengal/plugins/protocol.py
  bengal/plugins/registry.py
  bengal/rendering/engines/kida.py
  bengal/rendering/template_functions/__init__.py
  bengal/services/utils.py
  pyproject.toml
Due: ty, block-legacy-cli-imports

fix: resolve macOS symlink mismatch in fingerprint property test
  tests/unit/orchestration/incremental/test_incremental_properties.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: address PR review feedback from Copilot
  bengal/cache/build_cache/core.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/plugins/integration.py
  bengal/plugins/loader.py
Due: ty, block-legacy-cli-imports

Competitive strategy: plugin system, template deps, threading, page walks (#179)
  .dori/context.json
  .dori/file_history.json
  bengal/cache/build_cache/core.py
  bengal/effects/tracer.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/menu.py
  bengal/orchestration/related_posts.py
  bengal/plugins/__init__.py
  bengal/plugins/integration.py
  bengal/plugins/loader.py
  bengal/plugins/protocol.py
  bengal/plugins/registry.py
  bengal/rendering/engines/kida.py
  bengal/rendering/template_functions/__init__.py
  bengal/services/utils.py
  pyproject.toml
  tests/unit/orchestration/incremental/test_incremental_properties.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

kida bump
  pyproject.toml
Due: none

uv lock
  uv.lock
Due: none

Bump deps (#180)
  pyproject.toml
  uv.lock
Due: none

feat: unified link registry, anchor validation, and directive link capture
  bengal/core/site/__init__.py
  bengal/health/link_registry.py
  bengal/health/linkcheck/async_checker.py
  bengal/health/linkcheck/internal_checker.py
  bengal/health/linkcheck/orchestrator.py
  bengal/health/validators/links.py
  bengal/orchestration/build/finalization.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
  changelog.md
  pyproject.toml
  site/config/_default/build.yaml
  site/config/_default/menu.yaml
  site/content/docs/about/free-threading.md
  site/content/docs/building/configuration/reference.md
  site/content/docs/building/performance/_index.md
  site/content/docs/building/performance/template-deps.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/releases/0.2.7.md
  tests/unit/health/linkcheck/test_internal_checker.py
  tests/unit/health/test_link_registry.py
  tests/unit/health/test_linkcheck_async_checker.py
  tests/unit/health/validators/test_links.py
  tests/unit/rendering/test_link_validator.py
  tests/unit/rendering/test_xref_bug.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: avoid lazy-loading PageProxy in build_link_registry
  bengal/health/link_registry.py
Due: ty, block-legacy-cli-imports

chore: bump GitHub Actions to v5 (Node.js 24 compatible)
  .github/workflows/mutation.yml
  .github/workflows/pages.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  .github/workflows/ty.yml
Due: none

fix: address PR review feedback
  bengal/health/link_registry.py
  bengal/health/linkcheck/orchestrator.py
  bengal/health/validators/links.py
  changelog.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/releases/0.2.7.md
Due: ty, block-legacy-cli-imports

fix: address PR review feedback
  .github/workflows/mutation.yml
  .github/workflows/pages.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  .github/workflows/ty.yml
  site/content/docs/reference/architecture/meta/extension-points.md
Due: none

Release 0.2.7: unified link registry, anchor validation, and new docs (#181)
  .github/workflows/mutation.yml
  .github/workflows/pages.yml
  .github/workflows/python-publish.yml
  .github/workflows/tests.yml
  .github/workflows/ty.yml
  bengal/core/site/__init__.py
  bengal/health/link_registry.py
  bengal/health/linkcheck/async_checker.py
  bengal/health/linkcheck/internal_checker.py
  bengal/health/linkcheck/orchestrator.py
  bengal/health/validators/links.py
  bengal/orchestration/build/finalization.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
  changelog.md
  pyproject.toml
  site/config/_default/build.yaml
  site/config/_default/menu.yaml
  site/content/docs/about/free-threading.md
  site/content/docs/building/configuration/reference.md
  site/content/docs/building/performance/_index.md
  site/content/docs/building/performance/template-deps.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/releases/0.2.7.md
  tests/unit/health/linkcheck/test_internal_checker.py
  tests/unit/health/test_link_registry.py
  tests/unit/health/test_linkcheck_async_checker.py
  tests/unit/health/validators/test_links.py
  tests/unit/rendering/test_link_validator.py
  tests/unit/rendering/test_xref_bug.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: use \x02 delimiter for xref pipe placeholder to survive Patitas escape_html
  bengal/rendering/plugins/cross_references.py
  tests/unit/rendering/test_xref_bug.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor: compile regex patterns + fix thread resolver race
  bengal/health/validators/external_refs.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
Due: ty, block-legacy-cli-imports

fix: prevent flaky cascade snapshot id reuse in test
  tests/unit/core/test_site_lifecycle.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: address PR review — decouple test from internals, add placeholder cleanup
  bengal/parsing/backends/patitas/wrapper.py
  tests/unit/rendering/test_xref_bug.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: LinksCollector for directive link registration during rendering
  bengal/orchestration/render/orchestrator.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/parsing/backends/patitas/renderers/html.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  tests/unit/rendering/test_xref_bug.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: xref pipe placeholder surviving Patitas escape_html (#182)
  bengal/health/validators/external_refs.py
  bengal/orchestration/render/orchestrator.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/parsing/backends/patitas/renderers/html.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
  tests/unit/core/test_site_lifecycle.py
  tests/unit/rendering/test_xref_bug.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Bump kida-templates to 0.3.0 and bengal-pounce to 0.4.0
  pyproject.toml
  uv.lock
Due: none

fix: resolve ty type errors in retry, thread_local, and lru_cache
  bengal/utils/concurrency/retry.py
  bengal/utils/concurrency/thread_local.py
  bengal/utils/primitives/lru_cache.py
Due: ty, block-legacy-cli-imports

fix: resolve remaining ty errors for ty 0.0.26 compatibility
  bengal/content/sources/source.py
  bengal/orchestration/menu.py
  bengal/orchestration/section.py
  bengal/parsing/ast/types.py
Due: ty, block-legacy-cli-imports

Add Renovate config for automated dependency updates
  renovate.json
Due: none

fix: address PR review feedback
  bengal/content/sources/source.py
  bengal/orchestration/menu.py
  bengal/parsing/ast/types.py
  bengal/utils/concurrency/retry.py
  bengal/utils/primitives/lru_cache.py
Due: ty, block-legacy-cli-imports

fix: accurate render metrics, per-page timing, regression detection, scale-aware grading
  bengal/analysis/performance/advisor.py
  bengal/cli/commands/build.py
  bengal/core/page/__init__.py
  bengal/health/validators/performance.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/pipeline_runner.py
  bengal/orchestration/stats/display.py
  bengal/orchestration/stats/models.py
  bengal/orchestration/summary.py
  bengal/utils/observability/performance_collector.py
  bengal/utils/observability/performance_report.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: add missing fields to MinimalStats, handle mock pages in quantiles
  bengal/orchestration/stats/models.py
  bengal/utils/stats_minimal.py
Due: ty, block-legacy-cli-imports

ci: flatten test pipeline and deduplicate coverage
  .github/workflows/tests.yml
  .github/workflows/ty.yml
Due: none

Bump deps, fix ty 0.0.26 errors, add Renovate config (#183)
  bengal/content/sources/source.py
  bengal/orchestration/menu.py
  bengal/orchestration/section.py
  bengal/parsing/ast/types.py
  bengal/utils/concurrency/retry.py
  bengal/utils/concurrency/thread_local.py
  bengal/utils/primitives/lru_cache.py
  pyproject.toml
  renovate.json
  uv.lock
Due: ty, block-legacy-cli-imports

fix: accurate render metrics, per-page timing, and regression detection (#184)
  bengal/analysis/performance/advisor.py
  bengal/cli/commands/build.py
  bengal/core/page/__init__.py
  bengal/health/validators/performance.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/pipeline_runner.py
  bengal/orchestration/stats/display.py
  bengal/orchestration/stats/models.py
  bengal/orchestration/summary.py
  bengal/utils/observability/performance_collector.py
  bengal/utils/observability/performance_report.py
  bengal/utils/stats_minimal.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: prevent WaveScheduler hang when pytest-timeout fires
  bengal/orchestration/build/rendering.py
  bengal/snapshots/scheduler.py
Due: ty, block-legacy-cli-imports

ci: flatten test pipeline and deduplicate coverage (#185)
  .github/workflows/tests.yml
  .github/workflows/ty.yml
Due: none

ci: flatten test pipeline and deduplicate coverage (#186)
  bengal/orchestration/build/rendering.py
  bengal/snapshots/scheduler.py
Due: ty, block-legacy-cli-imports

feat: CLI feature maturity audit — fix bugs, add missing commands, wire sources
  bengal/cli/commands/assets.py
  bengal/cli/commands/collections.py
  bengal/cli/commands/i18n.py
  bengal/cli/commands/shortcodes.py
  bengal/debug/shortcode_sandbox.py
  bengal/orchestration/content.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: pass metadata to PatitasParser.parse and collapse render step
  bengal/debug/shortcode_sandbox.py
Due: ty, block-legacy-cli-imports

fix: add subprocess timeouts and bump integration CI timeout to 120s
  .github/workflows/tests.yml
  bengal/assets/pipeline.py
  bengal/cli/commands/theme.py
  bengal/cli/commands/upgrade/command.py
  bengal/content/discovery/version_diff.py
  bengal/content/versioning/git_adapter.py
  bengal/utils/io/file_io.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports
