Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

postprocess(social_cards): default to disabled
  bengal/postprocess/social_cards.py
Due: block-legacy-cli-imports

docs(plan): add RFC for blog layout quality parity with detailed design decisions and implementation phases
  bengal/utils/logger.py
  example-sites/milos-blog/.gitignore
  example-sites/milos-blog/config/_default/build.yaml
  example-sites/milos-blog/config/_default/content.yaml
  example-sites/milos-blog/config/_default/features.yaml
  example-sites/milos-blog/config/_default/params.yaml
  example-sites/milos-blog/config/_default/site.yaml
  example-sites/milos-blog/config/_default/theme.yaml
  example-sites/milos-blog/config/environments/local.yaml
  example-sites/milos-blog/config/environments/production.yaml
  example-sites/milos-blog/content/about.md
  example-sites/milos-blog/content/index.md
  example-sites/milos-blog/content/posts/first-post.md
  example-sites/milos-blog/content/posts/second-post.md
  plan/drafted/rfc-blog-layout-parity.md
  tests/dashboard/conftest.py
  tests/dashboard/test_dashboards.py
  tests/dashboard/test_widgets.py
  tests/unit/postprocess/test_empty_feeds.py
  tests/unit/postprocess/test_social_cards.py
Due: block-legacy-cli-imports

docs(plan): add new Bengal capabilities section to blog RFC with revised effort estimate
  plan/drafted/rfc-blog-layout-parity.md
Due: none

docs(plan): add RFC for template conveniences - author, series, share, archive helpers
  plan/drafted/rfc-template-conveniences.md
Due: none

docs(plan): clarify nested frontmatter preference and auto-calculated fields in template conveniences RFC
  plan/drafted/rfc-template-conveniences.md
Due: none

docs(plan): remove legacy/backward compatibility shims from template conveniences RFC; clean design only
  plan/drafted/rfc-template-conveniences.md
Due: none

core(author): add Author dataclass with social links and avatar support; core(page): add author/authors computed properties; cache(indexes): enhance AuthorIndex with full metadata extraction
  bengal/cache/indexes/author_index.py
  bengal/core/author.py
  bengal/core/page/computed.py
Due: block-legacy-cli-imports

rendering(sharing): add social share URL template functions for Twitter, LinkedIn, Facebook, Reddit, HN, email, Mastodon
  bengal/rendering/template_functions/__init__.py
  bengal/rendering/template_functions/sharing.py
  plan/drafted/rfc-specialized-site-types.md
Due: block-legacy-cli-imports

core(series): add Series dataclass for multi-part content; core(page): add series computed property; cache(indexes): add SeriesIndex for O(1) series lookup
  bengal/cache/indexes/__init__.py
  bengal/cache/indexes/series_index.py
  bengal/core/page/computed.py
  bengal/core/series.py
  plan/drafted/rfc-specialized-site-types.md
Due: block-legacy-cli-imports

core(section): add featured_posts method and stats properties (post_count, word_count, total_reading_time)
  bengal/core/section.py
Due: block-legacy-cli-imports

tests: add unit tests for Author, Series, sharing URLs, date filters, and collection grouping filters
  tests/unit/core/test_author.py
  tests/unit/core/test_series.py
  tests/unit/rendering/template_functions/test_collection_filters.py
  tests/unit/rendering/template_functions/test_date_filters.py
  tests/unit/rendering/template_functions/test_sharing.py
Due: none

docs(plan): move template conveniences RFC and plan to ready (implementation complete)
  plan/ready/plan-template-conveniences.md
  plan/ready/rfc-template-conveniences.md
Due: none

rendering: add PrefixLoader for cross-theme template extends; update docs syntax from default::base.html to default/base.html
  bengal/core/page/computed.py
  bengal/rendering/template_engine/environment.py
  site/content/docs/theming/themes/customize.md
  site/content/docs/tutorials/build-a-blog.md
  site/content/docs/tutorials/swizzle-default-theme.md
  tests/unit/rendering/test_theme_inheritance.py
Due: block-legacy-cli-imports

core(theme): extract resolve_theme_templates_path to shared module; support BYO renderer
  bengal/core/theme/__init__.py
  bengal/core/theme/resolution.py
  bengal/rendering/template_engine/environment.py
  plan/drafted/rfc-css-tree-shaking.md
  plan/drafted/rfc-specialized-site-types.md
Due: block-legacy-cli-imports

tests: add resolve_theme_templates_path tests; docs: add cross-theme extends section
  new-rules/README.md
  new-rules/modules/types-as-contracts/RULE.md
  plan/drafted/rfc-css-tree-shaking.md
  site/content/docs/extending/theme-customization.md
  tests/unit/utils/test_theme_resolution.py
Due: none

core(page): add prev_in_series and next_in_series computed properties for series navigation
  bengal/core/page/computed.py
  new-rules/modules/architecture-patterns/RULE.md
  new-rules/modules/evidence-handling/RULE.md
  new-rules/modules/output-format/RULE.md
  plan/drafted/plan-css-tree-shaking.md
  plan/drafted/rfc-css-tree-shaking.md
Due: block-legacy-cli-imports

docs: add new date/collection/sharing filters and page/section properties to template-functions reference
  new-rules/system/bengal-os/RULE.md
  new-rules/validation/type-audit/RULE.md
  new-rules/validation/type-audit/scripts/audit_types.py
  site/content/docs/reference/template-functions.md
Due: none

docs: clarify default theme features in recipes and tutorials
  bengal/themes/default/assets/css/components/code.css
  site/content/docs/theming/recipes/archive-page.md
  site/content/docs/theming/recipes/author-byline.md
  site/content/docs/theming/recipes/content-freshness.md
  site/content/docs/theming/recipes/featured-posts.md
  site/content/docs/theming/recipes/section-statistics.md
  site/content/docs/theming/recipes/series-navigation.md
  site/content/docs/theming/recipes/social-sharing-buttons.md
  site/content/docs/tutorials/build-a-multi-author-blog.md
  site/content/docs/tutorials/create-a-tutorial-series.md
Due: none

docs(recipes): convert variations from headers to tab-sets for better UX
  bengal/themes/default/assets/css/base/reset.css
  bengal/themes/default/assets/css/components/tracks.css
  site/content/docs/theming/recipes/archive-page.md
  site/content/docs/theming/recipes/author-byline.md
  site/content/docs/theming/recipes/content-freshness.md
  site/content/docs/theming/recipes/featured-posts.md
  site/content/docs/theming/recipes/section-statistics.md
  site/content/docs/theming/recipes/series-navigation.md
  site/content/docs/theming/recipes/social-sharing-buttons.md
Due: none

docs(recipes): convert existing recipes to tab-sets
  site/content/docs/theming/recipes/filter-by-tags.md
  site/content/docs/theming/recipes/group-by-category.md
  site/content/docs/theming/recipes/list-recent-posts.md
  site/content/docs/theming/recipes/reading-time.md
  site/content/docs/theming/recipes/table-of-contents.md
Due: none

docs(recipes): use explicit closure tags for tab-sets
  plan/drafted/rfc-document-applications.md
  site/content/docs/theming/recipes/archive-page.md
  site/content/docs/theming/recipes/author-byline.md
  site/content/docs/theming/recipes/content-freshness.md
  site/content/docs/theming/recipes/featured-posts.md
  site/content/docs/theming/recipes/filter-by-tags.md
  site/content/docs/theming/recipes/group-by-category.md
  site/content/docs/theming/recipes/list-recent-posts.md
  site/content/docs/theming/recipes/reading-time.md
  site/content/docs/theming/recipes/section-statistics.md
  site/content/docs/theming/recipes/series-navigation.md
  site/content/docs/theming/recipes/social-sharing-buttons.md
  site/content/docs/theming/recipes/table-of-contents.md
Due: none

sidebar spacing
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/composition/layouts.css
  plan/drafted/rfc-document-applications-PLAN.md
  plan/drafted/rfc-document-applications.md
  site/content/docs/tutorials/onboarding/_index.md
  site/content/docs/tutorials/onboarding/from-fern.md
  site/content/docs/tutorials/onboarding/from-mintlify.md
Due: none

updates
  bengal/autodoc/orchestration/template_env.py
  bengal/core/nav_tree.py
  bengal/core/site/properties.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/rendering/context.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_functions/get_page.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/scaffold.py
  bengal/themes/default/assets/js/enhancements/docs-nav-scaffold.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/docs-nav-node.html
  bengal/themes/default/templates/partials/docs-nav-scaffold-node.html
  bengal/themes/default/templates/partials/docs-nav-scaffold.html
  bengal/themes/default/templates/partials/docs-nav-tree-only.html
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/utils/__init__.py
  bengal/utils/concurrent_locks.py
  plan/drafted/rfc-concurrent-compilation-locks.md
  plan/drafted/rfc-docs-nav-rendering-optimization.md
  plan/drafted/rfc-ergonomic-overhead-diagnostics.md
  plan/drafted/rfc-modularize-large-files.md
  plan/drafted/rfc-track-layout-performance.md
  scripts/analyze_file_sizes.py
  site/config/_default/theme.yaml
  tests/unit/rendering/test_context_caching.py
  tests/unit/utils/test_concurrent_locks.py
Due: block-legacy-cli-imports

improvements
  UV_QUICK_REFERENCE.md
  bengal/analysis/graph_builder.py
  bengal/autodoc/extractors/python/extractor.py
  bengal/config/defaults.py
  bengal/themes/default/assets/js/core/theme.js
  bengal/themes/default/assets/js/enhancements/lazy-loaders.js
  bengal/themes/default/assets/js/graph-contextual.js
  bengal/themes/default/assets/js/graph-minimap.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/theme-controls.html
  plan/drafted/rfc-directive-template-optimization.md
  plan/drafted/rfc-free-threading-expansion.md
  plan/drafted/rfc-mistune-pattern-adoption.md
  tests/unit/analysis/test_graph_builder_parallel.py
  tests/unit/autodoc/test_python_extractor_parallel.py
Due: block-legacy-cli-imports

updates
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/cache/compression.py
  bengal/cache/version.py
  bengal/config/defaults.py
  bengal/core/site/properties.py
  bengal/directives/base.py
  bengal/directives/factory.py
  bengal/directives/include.py
  bengal/directives/navigation.py
  bengal/orchestration/render.py
  bengal/orchestration/render_hooks.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/themes/default/assets/css/components/link-preview.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/enhancements/link-previews.js
  bengal/themes/default/templates/base.html
  bengal/utils/__init__.py
  bengal/utils/sentinel.py
  plan/drafted/rfc-jinja-pattern-adoption.md
  plan/drafted/rfc-kida-template-engine.md
  plan/drafted/rfc-link-previews.md
  site/content/docs/about/concepts/templating.md
  tests/integration/test_link_previews.py
  tests/integration/test_link_previews_integration.py
  tests/integration/test_pagerank_integration.py
  tests/integration/test_path_analysis_integration.py
  tests/unit/analysis/test_page_rank.py
  tests/unit/cache/test_version.py
  tests/unit/directives/test_priority.py
  tests/unit/postprocess/test_link_previews.py
  tests/unit/utils/test_sentinel.py
Due: block-legacy-cli-imports

link preview, jinja stuff
  bengal/cache/cache_store.py
  bengal/cache/compression.py
  bengal/cache/utils.py
  bengal/config/defaults.py
  bengal/core/site/properties.py
  bengal/themes/default/assets/css/components/link-preview.css
  bengal/themes/default/assets/js/enhancements/link-previews.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/link-previews.html
  bengal/themes/default/theme.yaml
  changelog.md
  plan/drafted/rfc-kida-template-engine.md
  plan/drafted/rfc-link-previews.md
  plan/ready/rfc-jinja-pattern-adoption.md
  tests/integration/test_full_to_incremental_sequence.py
Due: block-legacy-cli-imports

fixes
  bengal/cache/indexes/series_index.py
  bengal/cli/dashboard/widgets/file_watcher_log.py
  bengal/cli/dashboard/widgets/phase_progress.py
  bengal/cli/dashboard/widgets/request_log.py
  bengal/cli/dashboard/widgets/taxonomy_explorer.py
  bengal/cli/dashboard/widgets/throbber.py
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/tags.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/css/utilities/micro-interactions.css
  plan/drafted/plan-css-tree-shaking.md
  plan/drafted/rfc-css-tree-shaking.md
  plan/drafted/rfc-free-threading-expansion.md
  plan/drafted/rfc-jinja-pattern-adoption.md
  plan/ready/rfc-jinja-pattern-adoption.md
  plan/ready/rfc-kida-template-engine.md
  tests/integration/test_community_detection_integration.py
  tests/unit/cache/test_build_cache.py
  tests/unit/core/output/test_collector.py
  tests/unit/postprocess/test_link_previews_unit.py
  tests/unit/themes/test_theme_controls.py
Due: block-string-based-click-cls, block-legacy-cli-imports

updates
  bengal/rendering/template_functions/taxonomies.py
  bengal/server/live_reload.py
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/buttons.css
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/components/tags.css
Due: block-legacy-cli-imports

updates
  bengal/orchestration/postprocess.py
  bengal/orchestration/render.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/themes/default/assets/css/base/transitions.css
  bengal/themes/default/assets/css/layouts/footer.css
  bengal/themes/default/assets/js/core/build-badge.js
Due: block-legacy-cli-imports

updates
  bengal/config/defaults.py
  bengal/themes/default/assets/css/MOTION_DESIGN_SYSTEM.md
  bengal/themes/default/assets/css/base/reset.css
  bengal/themes/default/assets/css/base/transitions.css
  bengal/themes/default/assets/css/components/dropdowns.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/js/bengal-enhance.js
  bengal/themes/default/assets/js/core/build-badge.js
  bengal/themes/default/assets/js/enhancements/link-previews.js
  bengal/themes/default/templates/base.html
Due: block-legacy-cli-imports

graph stuff
  bengal/analysis/graph_visualizer.py
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/js/graph-contextual.js
Due: block-legacy-cli-imports

eso
  bengal/analysis/graph_visualizer.py
  bengal/themes/default/assets/css/components/graph.css
Due: block-legacy-cli-imports

graph and rfc
  bengal/analysis/graph_visualizer.py
  plan/drafted/rfc-build-profiler.md
Due: block-legacy-cli-imports
