Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

core(page): preserve parsed_ast as Any for backward compatibility
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  plan/drafted/rfc-document-applications.md
Due: block-legacy-cli-imports

docs
  site/content/docs/about/_index.md
  site/content/docs/about/benchmarks.md
  site/content/docs/about/comparison.md
  site/content/docs/building/commands/_index.md
  site/content/docs/building/troubleshooting/_index.md
  site/content/docs/building/troubleshooting/template-errors.md
  site/content/docs/content/sources/autodoc.md
  site/content/docs/extending/collections.md
  site/content/docs/extending/custom-sources.md
  site/content/docs/extending/theme-customization.md
  site/content/docs/reference/security.md
  site/content/docs/tutorials/onboarding/from-docusaurus.md
  site/content/docs/tutorials/onboarding/from-hugo.md
  site/content/docs/tutorials/onboarding/from-jekyll.md
  site/content/docs/tutorials/onboarding/from-mkdocs.md
  site/content/docs/tutorials/onboarding/from-sphinx.md
Due: none

home pg cleanup
  site/content/docs/_index.md
Due: none

update
  site/content/docs/content/versioning/git-mode.md
  site/content/docs/tutorials/onboarding/from-jekyll.md
  site/content/releases/0.1.5.md
Due: none

alpha note
  README.md
Due: none

version bump
  pyproject.toml
Due: none

hotfix nav
  pyproject.toml
  site/content/docs/_index.md
Due: none

fixes
  bengal/themes/default/templates/partials/docs-nav.html
  site/content/docs/_index.md
  tests/unit/core/test_navigation.py
Due: none

href
  bengal/themes/default/templates/partials/docs-nav.html
Due: none

longer term fix attempt
  bengal/core/section.py
  bengal/rendering/template_functions/navigation/tree.py
  tests/unit/core/test_navigation.py
Due: block-legacy-cli-imports

update
  tests/unit/assets/test_assets_pipeline.py
Due: none

server
  bengal/server/dev_server.py
  bengal/server/live_reload.py
  bengal/server/resource_manager.py
Due: block-legacy-cli-imports

blah
  tests/roots/test-i18n-content/bengal.toml
  tests/roots/test-i18n-content/skeleton.yaml
Due: none

tests(logging): fix orphaned logger instances in integration tests; preserve registry references
  tests/integration/test_logging_integration.py
Due: none

tests(logging): fix orphaned logger instances in integration tests; preserve registry references across test teardown
  tests/integration/test_logging_integration.py
Due: none

feedback
  bengal/utils/paths.py
Due: block-legacy-cli-imports

tests(logging): fix test isolation for logger state across pytest-xdist workers
  bengal/utils/logger.py
  pytest.ini
  tests/conftest.py
  tests/integration/test_logging_integration.py
Due: block-legacy-cli-imports

autodoc: add _path and href to DocElement; compute during page building for consistent themer API
  bengal/autodoc/base.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/themes/default/templates/autodoc/cli/command-group.html
  bengal/themes/default/templates/autodoc/partials/_macros/element-card.html
Due: block-legacy-cli-imports

fix(urls): apply baseurl to hardcoded paths in directives and templates
  bengal/directives/cards/utils.py
  bengal/directives/navigation.py
  bengal/themes/default/templates/tags.html
Due: block-legacy-cli-imports

tests(logging): fix orphaned logger references in xdist workers by reloading orchestration modules
  plan/drafted/rfc-enhanced-tag-pages.md
  tests/integration/test_logging_integration.py
Due: none

docs(rfc): add LazyLogger pattern RFC to fix recurring orphaned logger test failures
  plan/drafted/rfc-lazy-logger-pattern.md
  plan/evaluated/rfc-enhanced-tag-pages.md
Due: none

rfcs
  plan/drafted/rfc-enhanced-tag-pages.md
  plan/ready/rfc-lazy-logger-pattern.md
Due: none

docs(plan): remove completed plan-site-runtime-state-formalization (all fields formalized in Site dataclass)
  bengal/utils/logger.py
  plan/ready/plan-lazy-logger-pattern.md
  plan/ready/plan-site-runtime-state-formalization.md
Due: block-legacy-cli-imports

docs(plan): remove completed rfc-ast-content-pipeline; implemented 2024-12-22
  bengal/utils/logger.py
  plan/ready/rfc-ast-content-pipeline.md
  tests/conftest.py
  tests/integration/test_logging_integration.py
Due: block-legacy-cli-imports

utils(logger): implement LazyLogger transparent proxy to eliminate orphaned logger references in pytest-xdist
  plan/ready/plan-type-system-hardening.md
Due: none

cleanup
  changelog.md
  plan/drafted/rfc-ast-content-pipeline.md
  plan/drafted/rfc-enhanced-tag-pages.md
  plan/drafted/rfc-lazy-logger-pattern.md
  plan/drafted/rfc-test-coverage-gaps.md
  plan/evaluated/rfc-architecture-refactoring.md
  plan/evaluated/rfc-build-output-tracking.md
  plan/evaluated/rfc-type-system-hardening.md
  plan/ready/plan-cli-analysis-improvements.md
  plan/ready/plan-dashboard-content-enrichment.md
  plan/ready/plan-lazy-logger-pattern.md
  plan/ready/rfc-cli-analysis-improvements.md
  plan/ready/rfc-cli-output-experience.md
  plan/ready/rfc-dashboard-content-enrichment.md
  plan/ready/rfc-lazy-logger-pattern.md
  plan/ready/rfc-type-system-hardening.md
  plan/ready/rfc-user-scenario-coverage.md
  pytest.ini
  tests/performance/test_memory_profiling.py
Due: none

docs(plan): add dashboard API integration plan with 4-phase implementation; move RFC to evaluated
  bengal/orchestration/build/__init__.py
  bengal/orchestration/stats/models.py
  changelog.md
  plan/evaluated/rfc-code-smell-remediation.md
  plan/evaluated/rfc-dashboard-api-integration.md
  plan/evaluated/rfc-parallelize-asset-tracking.md
  plan/ready/plan-dashboard-api-integration.md
  tests/unit/orchestration/build/test_finalization.py
Due: block-legacy-cli-imports

postprocess: add SocialCardGenerator for auto-generated OG images
  bengal/cli/dashboard/screens.py
  bengal/cli/dashboard/widgets/__init__.py
  bengal/cli/dashboard/widgets/asset_explorer.py
  bengal/cli/dashboard/widgets/content_browser.py
  bengal/cli/dashboard/widgets/file_watcher_log.py
  bengal/cli/dashboard/widgets/phase_progress.py
  bengal/cli/dashboard/widgets/request_log.py
  bengal/cli/dashboard/widgets/taxonomy_explorer.py
  bengal/fonts/social/Inter-Bold.ttf
  bengal/fonts/social/Inter-Regular.ttf
  bengal/fonts/social/LICENSE
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/options.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/stats/models.py
  bengal/postprocess/__init__.py
  bengal/postprocess/social_cards.py
  bengal/rendering/template_functions/seo.py
  bengal/server/request_handler.py
  bengal/server/watcher_runner.py
  bengal/themes/default/templates/base.html
  plan/drafted/plan-social-cards.md
  plan/drafted/rfc-dashboard-api-integration.md
  plan/drafted/rfc-social-cards.md
  tests/unit/postprocess/test_social_cards.py
Due: block-string-based-click-cls, block-legacy-cli-imports

config(site): enable social cards with snow-lynx palette colors; fix: dashboard lint errors
  bengal/cli/dashboard/screens.py
  site/config/_default/features.yaml
Due: block-string-based-click-cls, block-legacy-cli-imports

orchestration(build): complete output tracking wiring for typed hot reload
  bengal/core/page/__init__.py
  bengal/core/page/proxy.py
  bengal/core/page/utils.py
  tests/unit/orchestration/build/test_rendering.py
Due: block-legacy-cli-imports

core(page): add section_path property to Page/PageProxy; add slug/section_path to synthetic pages
  changelog.md
  plan/ready/plan-build-output-tracking.md
Due: none

docs(changelog): add build output tracking; remove completed RFC and plan
  plan/ready/rfc-build-output-tracking.md
Due: none

update
  bengal/fonts/social/Inter-Bold.ttf
  bengal/fonts/social/Inter-Regular.ttf
  bengal/fonts/social/LICENSE
  bengal/postprocess/social_cards.py
  site/config/_default/features.yaml
Due: block-legacy-cli-imports

cli(dashboard): fix Visual API signatures for Textual 6.x compatibility; update minimum version to >=0.96
  bengal/cli/dashboard/build.py
  bengal/cli/dashboard/health.py
  bengal/cli/dashboard/screens.py
  bengal/cli/dashboard/serve.py
  bengal/cli/dashboard/widgets/content_browser.py
  bengal/cli/dashboard/widgets/throbber.py
  bengal/fonts/downloader.py
  bengal/postprocess/social_cards.py
  pyproject.toml
  site/assets/fonts/outfit-400.ttf
  site/assets/fonts/outfit-700.ttf
  site/config/_default/features.yaml
Due: block-string-based-click-cls, block-legacy-cli-imports

postprocess(social_cards): fix segfault in free-threading Python by using sequential generation
  bengal/postprocess/social_cards.py
Due: block-legacy-cli-imports

server(dev): disable social cards in dev mode for faster builds
  bengal/orchestration/postprocess.py
  bengal/server/dev_server.py
Due: block-legacy-cli-imports

postprocess(social_cards): use Pillow with sequential mode for thread-safety
  bengal/postprocess/social_cards.py
  pyproject.toml
  uv.lock
Due: block-legacy-cli-imports

config: disable social cards by default (free-threading compatibility)
  pyproject.toml
  site/config/_default/features.yaml
Due: none

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
