Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

ux(graph): increase node sizes for easier selection (current: 8, previous: 6, others: 5)
  bengal/themes/default/assets/js/graph-contextual.js
Due: none

fix(js): debounce holo.js MutationObserver to prevent DevTools crashes in production
  bengal/themes/default/assets/js/enhancements/holo.js
Due: none

fix(theme): add mobile-nav.js to explicitly loaded scripts; restore mobile menu slideout
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/search.html
Due: none

themes(search): refactor dedicated search page with modal design language; unify result rendering across modal, page, and inline components
  bengal/themes/default/templates/partials/search.html
  bengal/themes/default/templates/search.html
Due: none

refactor(search): move search page JS into consolidated search.js; remove inline scripts from template
  bengal/themes/default/assets/js/core/search.js
  bengal/themes/default/templates/search.html
Due: none

fix(search): add prefix matching and fuzzy search for more forgiving results; 'direct' now finds 'directive'
  README.md
  bengal/themes/default/assets/js/core/search.js
  bengal/themes/default/templates/search.html
  site/content/_index.md
  site/content/docs/about/_index.md
  site/content/docs/about/comparison.md
Due: none

docs: implement marketing positioning RFC; update about/limitations/get-started with value-first messaging and brand voice
  changelog.md
  plan/implemented/marketing-positioning-strategy.md
  site/content/docs/_index.md
  site/content/docs/about/limitations.md
  site/content/docs/get-started/_index.md
Due: none

theme: add landing page CSS with premium feature cards, stats, quick links; enhance home.html template
  README.md
  bengal/themes/default/assets/css/pages/landing.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/templates/home.html
  site/content/_index.md
  site/content/cli/project/_index.md
  site/content/cli/project/init.md
  site/content/docs/about/_index.md
  site/content/docs/get-started/_index.md
Due: none

theme: align landing page and tracks components with neumorphic design system; use token system properly for shadows, gradients, borders
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/css/pages/landing.css
  changelog.md
  site/content/_index.md
  site/content/docs/_index.md
  site/content/docs/about/comparison.md
  site/content/docs/about/limitations.md
Due: none

theme(landing): add proper containment for home page body content; constrain prose, code blocks, and card grids appropriately
  bengal/themes/default/assets/css/pages/landing.css
  site/content/_index.md
Due: none

docs: update Python baseline to 3.14+ across installation docs
  site/content/_snippets/prerequisites/python.md
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-contributor.md
Due: none

fix(templates): apply absolute_url filter to home page CTA, feature, and quick link URLs
  bengal/themes/default/templates/home.html
Due: none

docs(rfc): add autodoc Python layout refinement RFC with comprehensive element inventory and design proposals
  plan/active/rfc-autodoc-python-layout-refinement.md
Due: none

docs(plan): accept autodoc layout RFC; rendering(autodoc): adopt DL for attributes, fix property filtering; themes: add API spacing/DL styles
  bengal/autodoc/templates/python/partials/class_attributes.md.jinja2
  bengal/autodoc/templates/python/partials/class_methods.md.jinja2
  bengal/themes/default/assets/css/components/api-docs.css
  plan/active/rfc-autodoc-python-layout-refinement.md
  tests/roots/test-autodoc-layouts/bengal.toml
  tests/roots/test-autodoc-layouts/src/minimal_module.py
Due: none

rendering(autodoc): implement parameter thresholds, badge groups, and standardized rubrics
  bengal/autodoc/templates/macros/parameter_table.md.jinja2
  bengal/autodoc/templates/python/function.md.jinja2
  bengal/autodoc/templates/python/partials/class_methods.md.jinja2
  bengal/themes/default/assets/css/components/api-docs.css
Due: none

fix(autodoc): ensure newline before closing div in badge groups
  bengal/autodoc/templates/python/function.md.jinja2
  bengal/autodoc/templates/python/partials/class_methods.md.jinja2
Due: none

rendering(autodoc): fix attribute definition list indentation
  bengal/autodoc/templates/python/partials/class_attributes.md.jinja2
Due: none

rendering(autodoc): trim attribute description to prevent code block rendering
  bengal/autodoc/templates/python/partials/class_attributes.md.jinja2
Due: none

autodoc: add css_class: api-content to base template frontmatter
  bengal/autodoc/templates/base/base.md.jinja2
Due: none

autodoc: add API Explorer CSS and prototype template
  bengal/autodoc/templates/python/partials/class_explorer.md.jinja2
  bengal/themes/default/assets/css/components/api-explorer.css
Due: none

docs(plan): add RFC for API Explorer layout system
  plan/active/rfc-api-explorer-layout.md
Due: none

docs(plan): complete RFC for API Explorer with virtual pages architecture
  plan/active/rfc-api-explorer-layout.md
Due: none

autodoc: implement virtual page architecture for API Explorer
  bengal/autodoc/html_templates/module.html
  bengal/autodoc/html_templates/section-index.html
  bengal/autodoc/virtual_orchestrator.py
  bengal/core/page/__init__.py
  bengal/core/section.py
  bengal/orchestration/content.py
  bengal/rendering/pipeline.py
Due: block-legacy-cli-imports

docs(plan): mark RFC-api-explorer-layout as implemented
  plan/active/rfc-api-explorer-layout.md
Due: none

autodoc: fix virtual page path resolution and template compatibility
  bengal/autodoc/extractors/python.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/core/section.py
  bengal/core/site.py
  bengal/rendering/pipeline.py
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/nav-menu.html
  site/config/_default/autodoc.yaml
Due: block-legacy-cli-imports

autodoc: fix path resolution in orchestrator; add RFC for centralized path handling
  bengal/autodoc/virtual_orchestrator.py
  plan/active/rfc-path-resolution-architecture.md
Due: block-legacy-cli-imports

core: centralize path resolution; eliminate CWD-dependent behavior
  bengal/core/site.py
  bengal/rendering/plugins/directives/data_table.py
  bengal/rendering/plugins/directives/glossary.py
  bengal/rendering/plugins/directives/include.py
  bengal/rendering/plugins/directives/literalinclude.py
  bengal/utils/__init__.py
  bengal/utils/path_resolver.py
  plan/active/rfc-path-resolution-architecture.md
  site/api/Users/llane/Documents/github/python/bengal/site/bengal/rendering/template_functions/index.txt
  site/api/rendering/template_functions/index.txt
  tests/unit/test_path_resolver.py
Due: block-legacy-cli-imports

docs(changelog): add path resolution architecture entry; move RFC to implemented
  changelog.md
  plan/implemented/rfc-path-resolution-architecture.md
Due: none

core: extend path resolution fixes to remaining subsystems
  bengal/autodoc/virtual_orchestrator.py
  bengal/cli/commands/sources.py
  bengal/fonts/downloader.py
  bengal/health/autofix.py
  plan/active/rfc-path-resolution-architecture.md
Due: block-string-based-click-cls, block-legacy-cli-imports

cleanup: remove duplicate RFC from active/
  bengal/autodoc/virtual_orchestrator.py
  plan/active/rfc-path-resolution-architecture.md
  plan/implemented/marketing-positioning-strategy.md
Due: block-legacy-cli-imports

autodoc: fix section index pages not being rendered
  bengal/autodoc/virtual_orchestrator.py
Due: block-legacy-cli-imports

cleanup: improve exception handling and JSON determinism
  bengal/analysis/graph_visualizer.py
  bengal/cache/build_cache.py
  bengal/postprocess/special_pages.py
  bengal/rendering/pipeline.py
  bengal/rendering/template_functions/icons.py
Due: block-legacy-cli-imports

autodoc: fix virtual pages to skip markdown generation
  bengal/autodoc/extractors/python.py
  bengal/cli/helpers/autodoc_build.py
  bengal/orchestration/incremental.py
  bengal/server/dev_server.py
  bengal/server/request_handler.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cache: split build_cache.py (1281 lines) into package with focused mixins per architecture-patterns rule
  bengal/cache/build_cache.py
  bengal/cache/build_cache/__init__.py
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/file_tracking.py
  bengal/cache/build_cache/fingerprint.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/cache/build_cache/taxonomy_index_mixin.py
  bengal/cache/build_cache/validation_cache.py
Due: block-legacy-cli-imports

core(page): fix virtual section _section reference bug; add URL-based lookup
  bengal/core/page/__init__.py
  bengal/core/site.py
  bengal/core/site/data.py
  bengal/core/site/discovery.py
  bengal/core/site/factories.py
  bengal/core/site/page_caches.py
  bengal/core/site/properties.py
  bengal/core/site/theme.py
  bengal/orchestration/content.py
  plan/active/rfc-page-section-reference-contract.md
  tests/unit/core/test_page_section_references.py
Due: block-legacy-cli-imports

docs(plan): move rfc-page-section-reference-contract to implemented
  plan/implemented/rfc-page-section-reference-contract.md
Due: none

docs(changelog): add virtual section page reference fix entry
  changelog.md
Due: none
