Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

health(linkcheck): fix source file link detection to ignore autodoc-generated Python file references; move check before URL parsing for comprehensive coverage
  bengal/health/linkcheck/internal_checker.py
  plan/active/health-check-issues-analysis.md
  site/content/docs/guides/migrating-content.md
Due: block-legacy-cli-imports

health(validators): fix false positive for sequential code blocks in directive validator
  bengal/health/validators/directives.py
  site/content/docs/recipes/analytics.md
  tests/unit/health/test_directive_validator_fences.py
Due: block-legacy-cli-imports

test fixes
  bengal/postprocess/output_formats.py
  tests/unit/autodoc/test_template_safety_comprehensive.py
Due: block-legacy-cli-imports

docs(architecture): update build pipeline documentation to match actual implementation
  site/content/docs/reference/architecture/core/data-flow.md
  site/content/docs/reference/architecture/core/orchestration.md
Due: none

docs(rfc): add RFC for BuildOrchestrator refactoring
  plan/active/rfc-build-orchestrator-refactoring.md
Due: none

tests: fix 36 failing unit tests across mock configs, directive syntax, and assertions
  plan/active/plan-build-orchestrator-refactoring.md
  plan/active/rfc-build-orchestrator-refactoring.md
  tests/unit/config/test_config_loader_baseurl_env.py
  tests/unit/core/test_menu.py
  tests/unit/core/test_page_url_cache_clearing.py
  tests/unit/orchestration/test_menu_orchestrator.py
  tests/unit/rendering/test_breadcrumb_function.py
  tests/unit/rendering/test_directive_registration.py
  tests/unit/rendering/test_parser_configuration.py
  tests/unit/rendering/test_steps_directive.py
  tests/unit/rendering/test_template_url_access.py
  tests/unit/utils/test_file_lock.py
Due: none

fix: address PR review comments - errno constants, logging fix, accessibility docs
  bengal/themes/default/assets/css/components/buttons.css
  bengal/utils/file_lock.py
Due: block-legacy-cli-imports

tests: fix 22 failing tests - update directive syntax to colon-fenced, fix literalinclude path resolution, fix mock configurations
  tests/unit/rendering/test_breadcrumb_function.py
  tests/unit/rendering/test_literalinclude_directive.py
  tests/unit/rendering/test_mistune_parser.py
  tests/unit/rendering/test_myst_syntax.py
  tests/unit/rendering/test_myst_tabs.py
Due: none

fix: address PR review comments - document CSS :root pattern, extract page URL macro
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/templates/partials/action-bar.html
Due: none

tests: fix 3 remaining failures - update directive syntax and admonition types
  tests/unit/rendering/test_directive_registration.py
  tests/unit/rendering/test_myst_syntax.py
Due: none

orchestration: extract _phase_fonts from build() as proof of concept; extend BuildContext
  bengal/orchestration/build.py
  bengal/utils/build_context.py
  tests/_testing/__init__.py
  tests/_testing/progress.py
  tests/conftest.py
  tests/integration/stateful/test_build_workflows.py
  tests/integration/test_full_build_performance.py
Due: block-legacy-cli-imports

orchestration: extract discovery phases (_phase_discovery, _phase_cache_metadata, _phase_config_check, _phase_incremental_filter)
  bengal/orchestration/build.py
Due: block-legacy-cli-imports

orchestration: extract content phases (_phase_sections, _phase_taxonomies, _phase_taxonomy_index, _phase_menus, _phase_related_posts, _phase_query_indexes, _phase_update_pages_list)
  bengal/orchestration/build.py
Due: block-legacy-cli-imports

docs: update changelog and move build orchestrator RFC/plan to implemented
  changelog.md
  plan/implemented/plan-build-orchestrator-refactoring.md
  plan/implemented/rfc-build-orchestrator-refactoring.md
Due: none

fix(orchestration): import set_console_quiet in _phase_finalize
  bengal/orchestration/build.py
Due: block-legacy-cli-imports

docs(architecture): update orchestration.md with 21-phase structure and phase method pattern
  site/content/docs/reference/architecture/core/orchestration.md
Due: none

updates
  bengal/core/page/proxy.py
  bengal/orchestration/build.py
  content/api/bengal/orchestration/build.md
  plan/active/plan-build-orchestrator-refactoring.md
  site/content/docs/reference/architecture/core/orchestration.md
  tests/integration/test_hashable_page_deduplication.py
Due: block-legacy-cli-imports

fixes
  bengal/orchestration/__init__.py
  tests/_testing/__init__.py
  tests/_testing/progress.py
  tests/integration/test_full_build_performance.py
Due: block-legacy-cli-imports

update
  bengal/orchestration/__init__.py
Due: block-legacy-cli-imports

updates
  .gitignore
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/rendering.py
  orchestration/build/__init__.py
  orchestration/build/content.py
  orchestration/build/finalization.py
  orchestration/build/initialization.py
  orchestration/build/rendering.py
Due: block-legacy-cli-imports

fix(pr): address review comments on build orchestrator refactoring; utils: use set[Path] in BuildContext; tests: fix phase method reference; docs: clarify delegation
  bengal/utils/build_context.py
  site/content/docs/reference/architecture/core/orchestration.md
  tests/integration/test_hashable_page_deduplication.py
Due: block-legacy-cli-imports

analysis: extract GraphAnalyzer from KnowledgeGraph; basic connectivity methods now delegate to graph_analysis.py
  bengal/analysis/__init__.py
  bengal/analysis/graph_analysis.py
  bengal/analysis/knowledge_graph.py
  plan/active/plan-large-file-refactoring.md
  plan/active/rfc-large-file-refactoring.md
  tests/unit/analysis/test_graph_analysis.py
Due: block-legacy-cli-imports

analysis: extract GraphReporter from KnowledgeGraph; reporting methods now delegate to graph_reporting.py; knowledge_graph.py reduced from 1331 to 937 lines (-30%)
  bengal/analysis/__init__.py
  bengal/analysis/graph_reporting.py
  bengal/analysis/knowledge_graph.py
Due: block-legacy-cli-imports

postprocess: convert output_formats.py (1147 lines) to package with focused modules; no file >400 lines; all 38 tests pass
  bengal/postprocess/__init__.py
  bengal/postprocess/output_formats.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/postprocess/output_formats/utils.py
Due: block-legacy-cli-imports

refactor: address Copilot PR review comments - simplify lambdas and add explanatory comments to except clauses
  bengal/analysis/graph_analysis.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/output_formats/utils.py
Due: block-legacy-cli-imports

docs(plan): add RFC for code quality improvements - consolidate duplicates, reduce large files
  plan/active/rfc-code-quality-improvements.md
Due: none

refactor: consolidate duplicate code and improve exception handling (RFC Phase 1)
  bengal/analysis/graph_reporting.py
  bengal/analysis/knowledge_graph.py
  bengal/health/validators/directives.py
  bengal/postprocess/output_formats/utils.py
  bengal/utils/autodoc.py
Due: block-legacy-cli-imports

refactor(health): convert directives.py to package with focused modules (RFC Phase 2)
  bengal/health/validators/directives.py
  bengal/health/validators/directives/__init__.py
  bengal/health/validators/directives/analysis.py
  bengal/health/validators/directives/checkers.py
  bengal/health/validators/directives/constants.py
  plan/active/rfc-code-quality-improvements.md
  tests/unit/health/test_directive_validator.py
Due: block-legacy-cli-imports

refactor(cli): convert new.py to package; remove backward compat shims (RFC Phase 3)
  bengal/analysis/knowledge_graph.py
  bengal/cli/commands/new.py
  bengal/cli/commands/new/__init__.py
  bengal/cli/commands/new/config.py
  bengal/cli/commands/new/presets.py
  bengal/cli/commands/new/scaffolds.py
  bengal/cli/commands/new/site.py
  bengal/cli/commands/new/wizard.py
  bengal/cli/commands/site.py
  plan/active/rfc-code-quality-improvements.md
  tests/unit/analysis/test_graph_features.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/cli/test_slugify.py
  tests/unit/cli/test_slugify_properties.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(plan): move rfc-code-quality-improvements.md to implemented; all phases complete
  plan/implemented/rfc-code-quality-improvements.md
Due: none

docs: update changelog and plan docs for code quality improvements
  changelog.md
  plan/active/health-check-issues-analysis.md
  plan/active/rfc-code-quality-improvements.md
Due: none

docs(site): update cli architecture to reflect new/ package structure
  site/content/docs/reference/architecture/tooling/cli.md
Due: none

fix: address PR #76 Copilot review feedback
  bengal/health/validators/directives/checkers.py
  tests/unit/cli/test_slugify_properties.py
Due: block-legacy-cli-imports

rendering: fix breadcrumb double baseurl by using relative_url instead of url
  bengal/rendering/template_functions/navigation.py
  tests/unit/rendering/test_breadcrumb_function.py
  tests/unit/rendering/test_navigation_templates_baseurl.py
Due: block-legacy-cli-imports

themes(doc/list): add contextual graph to right sidebar; match single.html layout
  bengal/themes/default/templates/doc/list.html
Due: none

docs(plan): cleanup active plans - remove duplicates, move completed to implemented
  plan/active/docs-content-strategy-guides.md
  plan/active/plan-build-orchestrator-refactoring.md
  plan/active/rfc-code-quality-improvements.md
  plan/implemented/graph-analysis-investigation.md
Due: none

docs(plan): mark security audit P1 items complete; move finished plans to implemented
  plan/implemented/health-check-issues-analysis.md
  plan/implemented/security-audit-findings.md
Due: none

docs(plan): move all remaining plans to implemented - active folder now empty
  plan/implemented/plan-large-file-refactoring.md
  plan/implemented/plan-release-polish.md
  plan/implemented/rfc-large-file-refactoring.md
Due: none

fix(orchestration): fix undefined 'page' variable in parallel render error handling
  bengal/orchestration/render.py
Due: block-legacy-cli-imports

tests: add asyncio_mode=auto to pytest.ini; fix 34 whitespace lint issues; add work queue
  bengal/autodoc/extractors/openapi.py
  bengal/orchestration/asset.py
  bengal/orchestration/autodoc.py
  bengal/rendering/plugins/directives/badge.py
  plan/active/high-priority-work-queue.md
  pytest.ini
Due: block-legacy-cli-imports
