Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

tests: fix Python 3.14 compatibility and hypothesis timing issues
  .bengal-metrics/history.jsonl
  .bengal-metrics/latest.json
  bengal/cache/build_cache.py
  bengal/health/health_check.py
  bengal/health/report.py
  bengal/health/validators/directives/__init__.py
  bengal/health/validators/directives/analysis.py
  bengal/orchestration/build/finalization.py
  content/api/bengal/health/health_check.md
  content/api/bengal/health/validators/directives/_index.md
  content/api/bengal/health/validators/directives/analysis.md
  content/api/bengal/orchestration/build/initialization.md
  content/api/bengal/orchestration/build/rendering.md
  content/api/bengal/orchestration/content.md
  site/content/cli/_index.md
  site/content/cli/collections/_index.md
  site/content/cli/sources/clear.md
  site/content/cli/sources/fetch.md
  site/content/cli/sources/list.md
  site/content/cli/sources/status.md
  tests/integration/test_resource_cleanup.py
  tests/unit/analysis/test_graph_features.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/cache/test_build_cache.py
  tests/unit/cache/test_cache_store.py
  tests/unit/discovery/test_frontmatter_bom_and_fuzz.py
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/utils/test_file_lock.py
  tests/unit/utils/test_paths_properties.py
  tests/unit/utils/test_url_strategy_properties.py
Due: block-legacy-cli-imports

docs(plan): add RFC for systematic observability improvements across build pipeline
  plan/active/rfc-observability-improvements.md
Due: none

css fix
  bengal/themes/default/assets/css/components/docs-nav.css
  plan/active/rfc-build-integrated-validation.md
Due: none

docs: add changelog entry and move RFC to implemented
  changelog.md
  plan/implemented/rfc-test-suite-scaling.md
Due: none

tests: migrate rendering tests to use scoped parser and shared mocks (Phase 3)
  tests/unit/core/test_menu.py
  tests/unit/rendering/test_badges.py
  tests/unit/rendering/test_button_directive.py
  tests/unit/rendering/test_cards_directive.py
  tests/unit/rendering/test_mistune_parser.py
  tests/unit/rendering/test_myst_syntax.py
  tests/unit/rendering/test_myst_tabs.py
  tests/unit/rendering/test_navigation_directives.py
  tests/unit/rendering/test_template_links_baseurl.py
  tests/unit/template_functions/test_taxonomies.py
Due: none

tests: add MockAnalysisPage to shared mocks; eliminates fragile del page.categories pattern
  tests/_testing/README.md
  tests/_testing/mocks.py
Due: none

docs: update testing documentation with new infrastructure
  site/content/docs/get-started/quickstart-contributor.md
  site/content/docs/reference/architecture/meta/testing.md
  tests/TEST_COVERAGE.md
Due: none

docs(plan): add RFC for test coverage gap analysis with phased remediation approach
  plan/rfc-test-coverage-gaps.md
  tests/_testing/mocks.py
Due: none

udpates
  plan/rfc-test-coverage-gaps.md
Due: none

tests: implement RFC Phase 1 test coverage for high-risk modules
  tests/unit/orchestration/build/__init__.py
  tests/unit/orchestration/build/test_content.py
  tests/unit/orchestration/build/test_finalization.py
  tests/unit/orchestration/build/test_initialization.py
  tests/unit/orchestration/build/test_rendering.py
  tests/unit/services/__init__.py
  tests/unit/services/test_validation.py
  tests/unit/utils/test_build_context.py
  tests/unit/utils/test_metadata.py
  tests/unit/utils/test_sections_utils.py
  tests/unit/utils/test_theme_resolution.py
Due: none

docs(tutorials): add persona-targeted onboarding guides for Sphinx, Hugo, and Docusaurus users; plan: draft RFC for migration guides
  plan/rfc-persona-onboarding-guides.md
  site/content/docs/tutorials/onboarding/_index.md
  site/content/docs/tutorials/onboarding/from-docusaurus.md
  site/content/docs/tutorials/onboarding/from-hugo.md
  site/content/docs/tutorials/onboarding/from-sphinx.md
  tests/unit/config/test_defaults.py
  tests/unit/config/test_deprecation.py
  tests/unit/config/test_validators.py
Due: none

tests: implement RFC Phase 2 test coverage for config and health validators
  bengal/health/validators/tracks.py
  tests/unit/config/test_env_overrides.py
  tests/unit/config/test_validators.py
  tests/unit/health/validators/test_cache.py
  tests/unit/health/validators/test_config.py
  tests/unit/health/validators/test_links.py
  tests/unit/health/validators/test_menu.py
  tests/unit/health/validators/test_output.py
  tests/unit/health/validators/test_performance.py
  tests/unit/health/validators/test_rendering.py
  tests/unit/health/validators/test_tracks.py
Due: block-legacy-cli-imports

tests: add Phase 3 test coverage for postprocess and utils modules
  .compeitor/supabase.css
  .compeitor/supabase.html
  plan/active/plan-typography-adoption.md
  plan/completed/rfc-search-autodoc-demotion.md
  plan/rfc-premium-tactile-theme.md
  tests/unit/postprocess/test_html_output.py
  tests/unit/postprocess/test_rss_generator.py
  tests/unit/postprocess/test_sitemap_generator.py
  tests/unit/utils/test_build_stats.py
  tests/unit/utils/test_css_minifier.py
  tests/unit/utils/test_file_utils.py
  tests/unit/utils/test_js_bundler.py
Due: none

theme(typography): adopt premium typography system from Supabase analysis
  bengal/themes/default/assets/css/base/fonts.css
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/css/tokens/typography.css
  plan/completed/plan-typography-adoption.md
Due: none

rfcs
  plan/active/plan-typography-adoption.md
  plan/rfc-premium-tactile-theme.md
Due: none

remove
  .compeitor/supabase.css
  .compeitor/supabase.html
Due: none

tests: fix CI failures; rename test_menu_validator.py to avoid module collision; clear CI env vars in env_overrides tests
  tests/unit/config/test_env_overrides.py
  tests/unit/health/validators/test_menu_validator.py
Due: none

rendering: fix directive closing fence being consumed inside code blocks
  bengal/rendering/plugins/directives/fenced.py
  tests/unit/rendering/test_myst_syntax.py
Due: block-legacy-cli-imports

cleanup: consolidate Bengal state into .bengal/ directory
  .bengal-metrics/history.jsonl
  .bengal-metrics/latest.json
  .gitignore
  bengal/cli/commands/build.py
  bengal/cli/commands/perf.py
  bengal/cli/commands/serve.py
  bengal/server/build_handler.py
  bengal/utils/paths.py
  bengal/utils/performance_collector.py
  bengal/utils/performance_report.py
  bengal/utils/profile.py
  orchestration/build/__init__.py
  orchestration/build/content.py
  orchestration/build/finalization.py
  orchestration/build/initialization.py
  orchestration/build/rendering.py
  site/content/docs/tutorials/onboarding/from-sphinx.md
Due: block-string-based-click-cls, block-legacy-cli-imports

postprocess: accumulate JSON data during rendering to eliminate double iteration; Phase 2 of post-processing optimization RFC
  bengal/orchestration/postprocess.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/rendering/pipeline.py
  bengal/utils/build_context.py
Due: block-legacy-cli-imports

postprocess: default include_html_content to False; HTML file already exists, no need to duplicate in JSON
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/rendering/pipeline.py
Due: block-legacy-cli-imports

updates
  plan/completed/rfc-postprocess-optimization.md
Due: none

orchestration: complete lazy artifacts RFC - use build_context.knowledge_graph in StreamingRenderOrchestrator and PostprocessOrchestrator
  bengal/orchestration/postprocess.py
  bengal/orchestration/streaming.py
  plan/active/plan-lazy-artifacts.md
  plan/completed/config-inventory.md
  plan/completed/docstring-cleanup-summary.md
  plan/completed/docstring-standards.md
  plan/completed/index-page-content-standard.md
  plan/completed/index-page-examples.md
  plan/completed/plan-lazy-artifacts.md
  site/content/docs/about/concepts/configuration.md
Due: block-legacy-cli-imports

orchestration: implement section-level incremental builds (RFC 2.3); update RFC status to Phase 1 & 2 complete
  bengal/orchestration/incremental.py
  plan/active/config-inventory.md
  plan/active/rfc-orchestrator-performance-improvements.md
Due: block-legacy-cli-imports

tests: update build log path tests to match new .bengal/logs/build.log structure
  plan/completed/rfc-orchestrator-performance-improvements.md
  tests/unit/utils/test_paths.py
  tests/unit/utils/test_paths_properties.py
Due: none

themes(js): implement Progressive Enhancements Architecture with bengal-enhance.js loader and modular enhancements
  bengal/themes/default/assets/js/bengal-enhance.js
  bengal/themes/default/assets/js/enhancements/README.md
  bengal/themes/default/assets/js/enhancements/mobile-nav.js
  bengal/themes/default/assets/js/enhancements/tabs.js
  bengal/themes/default/assets/js/enhancements/theme-toggle.js
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/assets/js/mobile-nav.js
  bengal/themes/default/assets/js/tabs.js
  bengal/themes/default/assets/js/theme-toggle.js
  bengal/themes/default/assets/js/toc.js
  bengal/themes/default/templates/base.html
  changelog.md
  plan/completed/rfc-progressive-enhancements.md
  tests/unit/orchestration/test_incremental_orchestrator.py
Due: none

docs(themes/js): update README with Progressive Enhancement System documentation
  bengal/themes/default/assets/js/README.md
Due: none

themes: migrate templates and scripts to data-bengal pattern
  bengal/themes/default/assets/js/interactive.js
  bengal/themes/default/assets/js/lightbox.js
  bengal/themes/default/assets/js/search-modal.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/partials/search-modal.html
  changelog.md
Due: none

refactor(themes/js): remove unnecessary backward compatibility code
  bengal/themes/default/assets/js/README.md
  bengal/themes/default/assets/js/enhancements/README.md
  bengal/themes/default/assets/js/interactive.js
  bengal/themes/default/assets/js/lightbox.js
  bengal/themes/default/assets/js/search-modal.js
  bengal/themes/default/assets/js/toc.js
  changelog.md
Due: none

rendering(code): add Pygments line numbers with clean CSS architecture; refactor copy button to use classes instead of inline styles
  bengal/rendering/parsers/mistune.py
  bengal/themes/default/assets/css/base/accessibility.css
  bengal/themes/default/assets/css/components/buttons.css
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/nav-action-buttons.css
  bengal/themes/default/assets/css/components/search-modal.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/js/interactive.js
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/assets/js/nav-dropdown.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/search-modal.html
  plan/active/plan-dropdown-refactor.md
  plan/active/plan-typography-adoption.md
  plan/completed/plan-typography-adoption.md
  plan/completed/rfc-islands-architecture.md
  plan/rfc-premium-tactile-theme.md
Due: block-legacy-cli-imports

theme(nav): remove background highlight from active directory links; retain accent bar indicator
  bengal/themes/default/assets/css/components/docs-nav.css
Due: none

theme(nav): add peaceful glow animation to active accent bars; matches footer breathing effect
  bengal/themes/default/assets/css/components/docs-nav.css
Due: none

theme(search-modal): integrate neumorphic design system; add gradient accent bar with glow animation
  bengal/themes/default/assets/css/components/search-modal.css
Due: none

theme(search-modal): add frosted glass effect with backdrop-filter blur; translucent header/footer
  bengal/themes/default/assets/css/components/search-modal.css
Due: none

theme(search-modal): replace hard accent bar with soft glowing top edge; enhance 8s breathing animation visibility
  bengal/themes/default/assets/css/components/search-modal.css
Due: none

theme: add 'casting light' throughline - breathing glows on header, TOC, tabs, pagination, cards, form inputs
  bengal/themes/default/assets/css/base/accessibility.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/forms.css
  bengal/themes/default/assets/css/components/pagination.css
  bengal/themes/default/assets/css/components/tabs.css
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/css/layouts/header.css
Due: none

theme(toc): soften active accent - thinner line, more gradient fade, larger diffuse glow
  bengal/themes/default/assets/css/base/accessibility.css
  bengal/themes/default/assets/css/components/toc.css
Due: none

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
