Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

core: split site.py (1264 lines) into site/ package with focused mixins per architecture-patterns
  bengal/core/site.py
  bengal/core/site/__init__.py
  bengal/core/site/core.py
  bengal/core/site/discovery.py
  bengal/core/site/section_registry.py
Due: block-legacy-cli-imports

rendering: split pipeline.py (1078 lines) into pipeline/ package with focused modules
  bengal/rendering/pipeline.py
  bengal/rendering/pipeline/__init__.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/pipeline/thread_local.py
  bengal/rendering/pipeline/toc.py
  bengal/rendering/pipeline/transforms.py
Due: block-legacy-cli-imports

docs(site): correct config precedence logic and remove outdated i18n limitation
  site/content/docs/about/limitations.md
  site/content/docs/building/configuration/_index.md
Due: none

themes(default): align docs prose width with page hero via var(--prose-width)
  bengal/themes/default/assets/css/composition/layouts.css
Due: none

utils: add hashing, retry, and thread_local utility modules for consolidated patterns
  bengal/utils/__init__.py
  bengal/utils/hashing.py
  bengal/utils/retry.py
  bengal/utils/thread_local.py
Due: block-legacy-cli-imports

tests: add comprehensive unit tests for hashing, retry, and thread_local utilities
  tests/unit/utils/test_hashing.py
  tests/unit/utils/test_retry.py
  tests/unit/utils/test_thread_local.py
Due: none

refactor: migrate cache, rendering, health modules to use centralized utils (hashing, retry, thread_local)
  bengal/cache/build_cache/file_tracking.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/health/linkcheck/async_checker.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/pipeline/thread_local.py
Due: block-legacy-cli-imports

docs(plan): move utility extraction RFC to completed
  plan/completed/rfc-utility-extraction.md
Due: none

docs(assets): update minification details to reflect removal of lightningcss
  site/content/docs/about/concepts/assets.md
  site/content/docs/reference/architecture/rendering/assets-pipeline.md
Due: none

docs(search): add note about pre-built Lunr index dependency
  site/content/docs/about/concepts/output-formats.md
Due: none

utils: migrate 12 modules to use centralized hashing utilities; remove dead thread-local code
  bengal/autodoc/generator.py
  bengal/cache/build_cache/fingerprint.py
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/cache/query_index.py
  bengal/config/hash.py
  bengal/content_layer/source.py
  bengal/content_layer/sources/local.py
  bengal/core/asset.py
  bengal/core/site/core.py
  bengal/orchestration/menu.py
  bengal/rendering/plugins/directives/cache.py
  bengal/rendering/plugins/directives/data_table.py
  bengal/rendering/template_engine/__init__.py
  bengal/rendering/template_engine/asset_url.py
  bengal/rendering/template_engine/core.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_engine/manifest.py
  bengal/rendering/template_engine/menu.py
  bengal/rendering/template_engine/url_helpers.py
  bengal/server/reload_controller.py
  site/content/docs/about/concepts/configuration.md
Due: block-legacy-cli-imports

cli(new): replace duplicate slugify with utils/text.slugify; remove re import
  bengal/cli/commands/new/__init__.py
  bengal/cli/commands/new/site.py
Due: block-string-based-click-cls, block-legacy-cli-imports

utils(text): add humanize_slug for title generation from slugs/filenames; add tests
  bengal/utils/__init__.py
  bengal/utils/text.py
  plan/active/rfc-utility-consolidation.md
  site/content/docs/theming/themes/_index.md
  tests/unit/utils/test_text.py
Due: block-legacy-cli-imports

docs(site): fix layout vs template terminology and clarify frontmatter fields
  site/content/docs/about/concepts/build-pipeline.md
  site/content/docs/about/concepts/templating.md
  site/content/docs/content/organization/frontmatter.md
  site/content/docs/get-started/quickstart-themer.md
  site/content/docs/theming/templating/_index.md
  site/content/docs/tutorials/onboarding/from-hugo.md
Due: none

utils: remove file_utils.py; migrate hash_file to hashing.py; update swizzle.py to use hashing
  bengal/cache/dependency_tracker.py
  bengal/utils/file_utils.py
  bengal/utils/swizzle.py
  content/api/bengal/utils/file_utils.md
  plan/active/rfc-approximate-graph-analysis.md
  plan/active/rfc-granular-config-dependencies.md
  tests/unit/utils/test_hashing_hash_file.py
Due: block-legacy-cli-imports

rendering(template_engine): delegate _url_for and _with_baseurl to url_helpers module
  bengal/rendering/template_engine.py
  plan/active/rfc-approximate-graph-analysis.md
  plan/active/rfc-granular-config-dependencies.md
Due: block-legacy-cli-imports

rendering(template_functions): have data.py merge() delegate to config/merge.deep_merge
  bengal/rendering/template_functions/data.py
Due: block-legacy-cli-imports

discovery: use humanize_slug for fallback title generation in content parsing
  bengal/discovery/content_discovery.py
  plan/active/rfc-approximate-graph-analysis.md
  tests/unit/utils/test_file_utils.py
Due: block-legacy-cli-imports

tests: remove duplicate test_file_utils.py (tests in test_hashing_hash_file.py)
  bengal/analysis/path_analysis.py
  tests/unit/utils/test_file_utils.py
Due: block-legacy-cli-imports

analysis(path): add pivot-based approximation for O(k*N) scalability; add progress callback and timeout safety
  bengal/analysis/knowledge_graph.py
  plan/active/rfc-content-refactoring.md
  plan/active/rfc-instant-dev-rebuilds.md
  tests/unit/analysis/test_path_analysis.py
Due: block-legacy-cli-imports

docs: update architecture docs with path analysis scalability features; mark RFC complete
  plan/active/rfc-approximate-graph-analysis.md
  plan/active/rfc-build-profiler.md
  plan/active/rfc-semantic-search.md
  site/content/docs/reference/architecture/subsystems/analysis.md
Due: none

docs(plan): move rfc-approximate-graph-analysis to implemented
  plan/implemented/rfc-approximate-graph-analysis.md
Due: none

docs(rfc): add 9 wishlist RFCs for future Bengal capabilities
  plan/active/rfc-approximate-graph-analysis.md
  plan/active/rfc-explain-page.md
  plan/active/rfc-i18n.md
  plan/active/rfc-live-api-docs.md
  plan/active/rfc-live-preview-sharing.md
  plan/active/rfc-smart-content-linting.md
Due: none

autodoc: add card-based layouts for API section pages; extract descriptions to cards
  bengal/autodoc/html_templates/section-index.html
  bengal/autodoc/virtual_orchestrator.py
  bengal/cli/__init__.py
  bengal/cli/commands/explain.py
  bengal/debug/__init__.py
  bengal/debug/base.py
  bengal/debug/explainer.py
  bengal/debug/models.py
  bengal/debug/reporter.py
  bengal/themes/default/assets/css/components/api-explorer.css
  plan/active/rfc-autodoc-card-layouts.md
Due: block-string-based-click-cls, block-legacy-cli-imports

debug: add 'bengal explain' command for page introspection; shows source info, template chain, dependencies, cache status
  bengal/cli/commands/explain.py
  bengal/debug/incremental_debugger.py
Due: block-string-based-click-cls, block-legacy-cli-imports

tests(debug): add unit tests for PageExplainer; docs(cli): add explain command reference
  bengal/debug/__init__.py
  bengal/debug/delta_analyzer.py
  bengal/debug/dependency_visualizer.py
  bengal/health/validators/cross_ref.py
  bengal/themes/default/assets/css/components/api-explorer.css
  site/content/cli/explain.md
  tests/unit/debug/__init__.py
  tests/unit/debug/test_explainer.py
Due: block-legacy-cli-imports

autodoc: refactor API index cards with full design system integration
  bengal/debug/__init__.py
  bengal/debug/content_migrator.py
Due: block-legacy-cli-imports

debug: add comprehensive internal debugging tools
  bengal/cli/commands/debug.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: register debug commands; health: export CrossReferenceValidator
  bengal/autodoc/virtual_orchestrator.py
  bengal/cli/__init__.py
  bengal/health/validators/__init__.py
Due: block-string-based-click-cls, block-legacy-cli-imports

autodoc: replace emojis with SVG icons from Bengal icon system
  bengal/autodoc/html_templates/section-index.html
  bengal/autodoc/virtual_orchestrator.py
  bengal/debug/shortcode_sandbox.py
Due: block-legacy-cli-imports

debug: add ShortcodeSandbox for isolated directive testing; add ConfigInspector for advanced config comparison with origin tracking
  bengal/cli/commands/debug.py
  bengal/debug/__init__.py
  bengal/debug/config_inspector.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs: update docstring references from template_engine.py to template_engine/core.py
  bengal/rendering/template_functions.py
  bengal/rendering/template_profiler.py
Due: block-legacy-cli-imports

docs: mark TemplateEngine decoupling RFC as implemented; add changelog entry
  changelog.md
  plan/implemented/rfc-template-engine-decoupling.md
Due: none

docs(plan): add implementation plan for theme architecture RFC series; 48 tasks across 4 phases
  plan/active/plan-theme-architecture-series.md
Due: none

plan(theme): update Phase 2 to reflect modular CSS approach instead of consolidation; mark Phase 2 complete
  plan/active/plan-theme-architecture-series.md
Due: none

autodoc: extend virtual pages to support Python, CLI, and OpenAPI
  bengal/autodoc/virtual_orchestrator.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/results.py
  bengal/orchestration/incremental.py
  bengal/themes/default/templates/cli-reference/command.html
  bengal/themes/default/templates/cli-reference/section-index.html
  bengal/themes/default/templates/openapi-reference/endpoint.html
  bengal/themes/default/templates/openapi-reference/schema.html
  bengal/themes/default/templates/openapi-reference/section-index.html
  plan/active/rfc-dataclass-improvements-evaluation.md
  plan/active/rfc-dataclass-improvements.md
  tests/_testing/fixtures.py
  tests/roots/README.md
  tests/roots/test-baseurl/skeleton.yaml
  tests/roots/test-basic/skeleton.yaml
  tests/roots/test-taxonomy/skeleton.yaml
  tests/unit/orchestration/build/test_initialization.py
  tests/unit/orchestration/build/test_results.py
Due: block-legacy-cli-imports

templates: add skeleton.yaml manifest for blog template; update registry to prefer skeleton manifests with Python fallback
  bengal/autodoc/virtual_orchestrator.py
  bengal/cli/templates/blog/skeleton.yaml
  bengal/cli/templates/registry.py
  bengal/orchestration/build/results.py
  tests/unit/orchestration/test_build_orchestrator.py
Due: block-string-based-click-cls, block-legacy-cli-imports

templates: add skeleton manifests for docs and portfolio templates; complete Component Model demonstration
  bengal/cli/templates/docs/skeleton.yaml
  bengal/cli/templates/portfolio/skeleton.yaml
Due: none

templates: update docs and portfolio skeletons to match actual content; improve menu section extraction
  bengal/cli/templates/docs/skeleton.yaml
  bengal/cli/templates/portfolio/skeleton.yaml
  bengal/cli/templates/registry.py
Due: block-string-based-click-cls, block-legacy-cli-imports
