Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

perf(provenance): incremental dependency reverse-map on warm save
  bengal/build/provenance/store.py
  changelog.d/incremental-dependency-index.changed.md
  tests/unit/build/provenance/test_delta_dependency_index.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(server): opt out of Pounce sendfile in dev to avoid EAGAIN crash
  bengal/server/asgi_app.py
  changelog.d/dev-server-sendfile-eagain.fixed.md
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(bench): native render-profiling harness (Step 0 gate of frozen-render-world RFC)
  benchmarks/PROFILE_RENDER_NATIVE.md
  benchmarks/profile_render_native.py
  changelog.d/render-native-profiling-harness.added.md
Due: ty

refactor(provenance): iterate the dependency index via public items()
  bengal/build/contracts/dependency_index.py
  bengal/build/provenance/store.py
Due: ty, block-legacy-cli-imports

test(bench): make profile_render_native worker-pinning deterministic
  benchmarks/profile_render_native.py
Due: ty

perf(provenance): incremental warm-save dependency reverse-map (~180x) + dev-server sendfile crash fix (#304)
  bengal/build/contracts/dependency_index.py
  bengal/build/provenance/store.py
  bengal/server/asgi_app.py
  changelog.d/dev-server-sendfile-eagain.fixed.md
  changelog.d/incremental-dependency-index.changed.md
  tests/unit/build/provenance/test_delta_dependency_index.py
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(bench): native render-profiling harness (Step 0 gate of frozen-render-world RFC) (#305)
  benchmarks/PROFILE_RENDER_NATIVE.md
  benchmarks/profile_render_native.py
  changelog.d/render-native-profiling-harness.added.md
Due: ty

docs(plan): document saga lifecycle — proof workflow, worktree hygiene, roadmap pruning (#290, #293, #294)
  plan/AGENTS.md
  plan/README.md
  plan/ROADMAP.md
  plan/complete/epic-immutable-page-pipeline.md
Due: none

perf(render): memoize RuntimePage section path to cut per-page render ~27% (#307)
  bengal/core/page/runtime.py
  changelog.d/render-metadata-section-path-memo.changed.md
  tests/unit/core/page/test_runtime_metadata_memo.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(incremental): cover theme-provided CSS in hot-reload regression suite (#130)
  tests/integration/test_css_hot_reload.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(incremental): preserve asset manifest when no assets are reprocessed (#130)
  bengal/orchestration/asset.py
  changelog.d/incremental-asset-manifest-preserved.fixed.md
  tests/integration/test_css_hot_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(plan): address PR review nits (terminology, grammar, dated correction)
  plan/AGENTS.md
  plan/README.md
  plan/ROADMAP.md
Due: none

perf(render): keep section-path memo site-id in sync on invalidation (#307)
  bengal/core/page/runtime.py
Due: ty, block-legacy-cli-imports

docs(plan): document saga lifecycle — proof workflow, worktree hygiene, roadmap pruning (#290, #293, #294) (#311)
  plan/AGENTS.md
  plan/README.md
  plan/ROADMAP.md
  plan/complete/epic-immutable-page-pipeline.md
Due: none

perf(render): memoize RuntimePage section path — single-thread render -27% (#307) (#312)
  bengal/core/page/runtime.py
  changelog.d/render-metadata-section-path-memo.changed.md
  tests/unit/core/page/test_runtime_metadata_memo.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(incremental): preserve asset manifest on content-only rebuilds (#130) (#313)
  bengal/orchestration/asset.py
  changelog.d/incremental-asset-manifest-preserved.fixed.md
  tests/integration/test_css_hot_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

ci(perf): land the perf-gate workflow + Linux coherency-profiling runbook
  .github/workflows/perf-gate.yml
  benchmarks/COHERENCY_PROFILING.md
Due: none

ci(perf): canonical gate cell + baseline-cell guard; generic runbook env (PR #318 review)
  .github/workflows/perf-gate.yml
  benchmarks/COHERENCY_PROFILING.md
  benchmarks/benchmark_gil_speedup.py
Due: ty

fix(incremental): merge asset manifest on partial asset rebuilds (#314)
  bengal/assets/manifest.py
  bengal/orchestration/asset.py
  changelog.d/incremental-asset-manifest-partial-merge.fixed.md
  tests/integration/test_asset_manifest_incremental_merge.py
  tests/unit/orchestration/test_asset_manifest_merge.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(dev-server): sync asset manifest across output buffers (#315)
  bengal/server/buffer_manager.py
  bengal/server/build_trigger.py
  changelog.d/dev-server-manifest-buffer-sync.fixed.md
  tests/integration/test_dev_server_buffer_manifest.py
  tests/unit/server/test_buffer_manager.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

ci(perf): perf-gate workflow + Linux coherency-profiling runbook (#318)
  .github/workflows/perf-gate.yml
  benchmarks/COHERENCY_PROFILING.md
  benchmarks/benchmark_gil_speedup.py
Due: ty

fix(incremental): merge asset manifest on partial asset rebuilds (#314) (#319)
  bengal/assets/manifest.py
  bengal/orchestration/asset.py
  changelog.d/incremental-asset-manifest-partial-merge.fixed.md
  tests/integration/test_asset_manifest_incremental_merge.py
  tests/unit/orchestration/test_asset_manifest_merge.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(dev-server): sync asset manifest across output buffers (#315) (#321)
  bengal/server/buffer_manager.py
  bengal/server/build_trigger.py
  changelog.d/dev-server-manifest-buffer-sync.fixed.md
  tests/integration/test_dev_server_buffer_manifest.py
  tests/unit/server/test_buffer_manager.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor(theme): remove legacy OpenAPI layout CSS residue (#286)
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/autodoc/openapi/partials/endpoint-header.html
  bengal/themes/default/templates/autodoc/openapi/partials/playground-bar.html
  changelog.d/openapi-css-legacy-residue-removed.changed.md
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(docs): clear dogfood site-health blockers (#288)
  bengal/icons/svg.py
  bengal/parsing/backends/patitas/directives/builtins/admonition.py
  bengal/themes/default/theme.yaml
  changelog.d/dogfood-health-blockers.fixed.md
  site/assets/experimental/holo-demo.html
  site/content/docs/about/for-python-teams.md
  site/content/docs/building/ai-native-output.md
  site/content/docs/building/connect-to-ide.md
  site/content/docs/building/seo.md
  site/content/docs/content/multilingual.md
  site/content/docs/content/versioning/cross-version-links.md
  site/content/docs/content/versioning/directives.md
  site/content/docs/content/versioning/git-mode.md
  site/content/docs/reference/architecture/design-principles.md
  site/content/docs/reference/architecture/meta/protocols.md
  site/content/docs/reference/architecture/subsystems/analysis.md
  site/content/docs/reference/architecture/subsystems/debug.md
  site/content/docs/reference/architecture/subsystems/output.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/architecture/tooling/utils.md
  site/content/docs/theming/themes/chirpui.md
  site/static/demos/holo-cards.html
  tests/unit/icons/test_dogfood_icon_aliases.py
  tests/unit/rendering/directives/test_admonition_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(icons): make external-icon guard assert resolution, not file absence (#288)
  tests/unit/icons/test_dogfood_icon_aliases.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

refactor(theme): remove legacy OpenAPI layout CSS residue (#286) (#322)
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/autodoc/openapi/partials/endpoint-header.html
  bengal/themes/default/templates/autodoc/openapi/partials/playground-bar.html
  changelog.d/openapi-css-legacy-residue-removed.changed.md
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(docs): clear dogfood site-health blockers (#288) (#323)
  bengal/icons/svg.py
  bengal/parsing/backends/patitas/directives/builtins/admonition.py
  bengal/themes/default/theme.yaml
  changelog.d/dogfood-health-blockers.fixed.md
  site/assets/experimental/holo-demo.html
  site/content/docs/about/for-python-teams.md
  site/content/docs/building/ai-native-output.md
  site/content/docs/building/connect-to-ide.md
  site/content/docs/building/seo.md
  site/content/docs/content/multilingual.md
  site/content/docs/content/versioning/cross-version-links.md
  site/content/docs/content/versioning/directives.md
  site/content/docs/content/versioning/git-mode.md
  site/content/docs/reference/architecture/design-principles.md
  site/content/docs/reference/architecture/meta/protocols.md
  site/content/docs/reference/architecture/subsystems/analysis.md
  site/content/docs/reference/architecture/subsystems/debug.md
  site/content/docs/reference/architecture/subsystems/output.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/architecture/tooling/utils.md
  site/content/docs/theming/themes/chirpui.md
  site/static/demos/holo-cards.html
  tests/unit/icons/test_dogfood_icon_aliases.py
  tests/unit/rendering/directives/test_admonition_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): render advanced OpenAPI schema constructs (#285)
  bengal/rendering/template_functions/openapi.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/autodoc/openapi/_schema.html
  bengal/themes/default/templates/autodoc/openapi/schema.html
  bengal/themes/default/templates/autodoc/openapi/section-index.html
  changelog.d/openapi-advanced-schema-rendering.added.md
  site/api/openapi.yaml
  tests/integration/test_openapi_advanced_schema.py
  tests/roots/test-openapi-advanced/api/openapi.yaml
  tests/roots/test-openapi-advanced/bengal.toml
  tests/roots/test-openapi-advanced/content/index.md
  tests/unit/rendering/template_functions/test_openapi_filters.py
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): render advanced OpenAPI schema constructs (#285) (#324)
  bengal/rendering/template_functions/openapi.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/autodoc/openapi/_schema.html
  bengal/themes/default/templates/autodoc/openapi/schema.html
  bengal/themes/default/templates/autodoc/openapi/section-index.html
  changelog.d/openapi-advanced-schema-rendering.added.md
  site/api/openapi.yaml
  tests/integration/test_openapi_advanced_schema.py
  tests/roots/test-openapi-advanced/api/openapi.yaml
  tests/roots/test-openapi-advanced/bengal.toml
  tests/roots/test-openapi-advanced/content/index.md
  tests/unit/rendering/template_functions/test_openapi_filters.py
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): catalog navigation interactions for REST docs (#287)
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/assets/js/enhancements/api-catalog.js
  bengal/themes/default/templates/autodoc/openapi/endpoint.html
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/autodoc/openapi/list.html
  bengal/themes/default/templates/autodoc/openapi/schema.html
  bengal/themes/default/templates/autodoc/openapi/section-index.html
  bengal/themes/default/templates/base.html
  changelog.d/openapi-catalog-navigation.added.md
  tests/integration/test_openapi_catalog_nav.py
  tests/roots/test-openapi-catalog/api/openapi.yaml
  tests/roots/test-openapi-catalog/bengal.toml
  tests/roots/test-openapi-catalog/content/index.md
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): catalog navigation interactions for REST docs (#287) (#325)
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/assets/js/enhancements/api-catalog.js
  bengal/themes/default/templates/autodoc/openapi/endpoint.html
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/autodoc/openapi/list.html
  bengal/themes/default/templates/autodoc/openapi/schema.html
  bengal/themes/default/templates/autodoc/openapi/section-index.html
  bengal/themes/default/templates/base.html
  changelog.d/openapi-catalog-navigation.added.md
  tests/integration/test_openapi_catalog_nav.py
  tests/roots/test-openapi-catalog/api/openapi.yaml
  tests/roots/test-openapi-catalog/bengal.toml
  tests/roots/test-openapi-catalog/content/index.md
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

bench(render): add process-isolation render ceiling probe (#345)
  benchmarks/probe_render_ceiling.py
  changelog.d/render-ceiling-probe.added.md
Due: ty

ci(perf): add manual render-ceiling-probe job to perf-gate (#344)
  .github/workflows/perf-gate.yml
Due: none

bench(render): add turnkey clean-box measurement driver (#344)
  benchmarks/run_clean_box.sh
  changelog.d/render-clean-box-runbook.added.md
Due: none

docs(plan): sync render-scaling plans with epic #343 reframe
  plan/ROADMAP.md
  plan/epic-performance.md
  plan/rfc-frozen-render-world.md
Due: none

bench(render): record CI directional probe result + why it's insufficient (#344/#345)
  benchmarks/clean_box_results/README.md
  benchmarks/clean_box_results/ci-2core-directional.json
Due: none

test(render): guard nav active-state against #348 stale-chrome hoist
  benchmarks/348-chrome-memoization-findings.md
  changelog.d/nav-chrome-not-hoisted-guard.added.md
  tests/integration/test_nav_chrome_not_hoisted.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs(plan): correct the "shared Kida Environment floor" myth (verified)
  plan/rfc-frozen-render-world.md
Due: none
