Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

tests: fix linting in test_nav_tree.py
  tests/unit/test_nav_tree.py
Due: none

content_types: add TrackStrategy; use cascade type: track for tracks section; remove explicit template fields
  bengal/content_types/registry.py
  bengal/content_types/strategies.py
  site/content/tracks/_index.md
  site/content/tracks/api-docs-specialist.md
  site/content/tracks/content-mastery.md
  site/content/tracks/migration-express.md
  site/content/tracks/team-lead.md
  site/content/tracks/theme-developer.md
  site/content/tracks/zero-to-deployed.md
  tests/unit/rendering/test_renderer_template_selection.py
Due: block-legacy-cli-imports

tests(mocks): prevent MockSite from creating top-level public folder
  bengal/core/nav_tree.py
  bengal/discovery/content_discovery.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/themes/default/templates/partials/version-selector.html
  tests/_testing/mocks.py
  tests/integration/test_nav_tree_integration.py
  tests/unit/cli/test_output.py
  tests/unit/health/validators/test_output_validator.py
  tests/unit/test_nav_tree.py
Due: block-legacy-cli-imports

autodoc(cli): fix section builder to create hierarchical subsections for proper NavTree navigation
  bengal/autodoc/orchestration/section_builders.py
  site/content/_versions/v1/docs/get-started/_index.md
  site/content/docs/content/authoring/interactive.md
  site/content/docs/get-started/_index.md
  site/content/docs/reference/directives/_index.md
  site/content/docs/reference/directives/layout.md
Due: block-legacy-cli-imports

site(v1): convert absolute links to [[]] cross-references for version-awareness
  site/content/_versions/v1/docs/_index.md
  site/content/_versions/v1/docs/about/benchmarks.md
  site/content/_versions/v1/docs/about/concepts/assets.md
  site/content/_versions/v1/docs/about/concepts/build-pipeline.md
  site/content/_versions/v1/docs/about/concepts/content-organization.md
  site/content/_versions/v1/docs/about/limitations.md
  site/content/_versions/v1/docs/get-started/quickstart-contributor.md
  site/content/_versions/v1/docs/get-started/quickstart-themer.md
Due: none

core(nav_tree): show CLI command pages in nav; keep Python API pages excluded
  bengal/core/nav_tree.py
Due: block-legacy-cli-imports

tests: fix nav tree tests for read-only Section properties; fix site.content_dir usage
  bengal/autodoc/orchestration/page_builders.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/themes/default/assets/css/components/versioning.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/core/version-selector.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/version-selector.html
  tests/integration/test_nav_tree_integration.py
  tests/unit/test_nav_tree.py
Due: block-legacy-cli-imports

autodoc(cli): skip root command-group to prevent URL collision; add RFC
  plan/drafted/rfc-url-collision-detection.md
Due: none

orchestration: auto-resolve relative content_dir; add autodoc navigation tests
  bengal/orchestration/content.py
  plan/evaluated/rfc-url-collision-detection.md
  tests/integration/test_autodoc_navigation.py
Due: block-legacy-cli-imports

docs(plan): replace URL collision RFC with comprehensive URL ownership architecture RFC
  bengal/core/nav_tree.py
  bengal/core/site/core.py
  bengal/health/health_check.py
  bengal/health/validators/__init__.py
  bengal/health/validators/url_collisions.py
  bengal/orchestration/build/__init__.py
  plan/drafted/rfc-url-ownership-architecture.md
  site/content/docs/reference/architecture/_index.md
  site/content/docs/reference/architecture/subsystems/_index.md
Due: block-legacy-cli-imports

docs(architecture): update architecture documentation with missing modules and subsystems
  site/content/docs/reference/architecture/_index.md
  site/content/docs/reference/architecture/core/orchestration.md
  site/content/docs/reference/architecture/subsystems/_index.md
  site/content/docs/reference/architecture/subsystems/collections.md
  site/content/docs/reference/architecture/subsystems/content-layer.md
  site/content/docs/reference/architecture/subsystems/debug.md
  site/content/docs/reference/architecture/subsystems/output.md
  tests/integration/test_autodoc_navigation.py
Due: none

docs(architecture): fix inaccuracies in rendering and postprocess docs
  plan/evaluated/rfc-url-collision-detection.md
  site/content/docs/reference/architecture/rendering/postprocess.md
  site/content/docs/reference/architecture/rendering/rendering.md
Due: none

docs(architecture): fix CLI framework reference and add alias details
  site/content/docs/reference/architecture/tooling/_index.md
Due: none

docs(plan): evaluate URL ownership RFC; align with existing collision detection; add policy options and confidence score
  plan/drafted/rfc-url-ownership-architecture.md
  plan/evaluated/rfc-url-ownership-architecture.md
Due: none

docs(architecture): tighten pages for progressive disclosure; remove version-chatter and low-signal metrics
  site/content/docs/reference/architecture/_index.md
  site/content/docs/reference/architecture/core/_index.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/architecture/design-principles.md
  site/content/docs/reference/architecture/meta/_index.md
  site/content/docs/reference/architecture/meta/performance.md
  site/content/docs/reference/architecture/rendering/assets-pipeline.md
  site/content/docs/reference/architecture/rendering/rendering.md
  site/content/docs/reference/architecture/subsystems/health.md
  site/content/docs/reference/architecture/tooling/utils.md
Due: none

docs(plan): make URL ownership decision explicit; extend registry to cover direct output writers
  plan/evaluated/rfc-url-ownership-architecture.md
Due: none

tests: add comprehensive URLRegistry unit tests and integration tests; docs: document URL ownership architecture in object-model.md
  site/content/docs/reference/architecture/core/object-model.md
  tests/integration/test_url_ownership.py
  tests/unit/core/test_url_ownership.py
Due: none

tests: rename integration test file to avoid pytest cache conflict
  tests/integration/test_url_ownership_integration.py
Due: none

tests: add unit and integration tests for version-scoped search indexes; test version field in summaries, version grouping, and per-version index generation
  tests/integration/test_versioned_search.py
  tests/unit/postprocess/test_output_formats_index_json.py
Due: none

core: implement Phase 0-1 of error handling improvements - centralized exception hierarchy
  bengal/autodoc/orchestration/index_pages.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/collections/errors.py
  bengal/config/directory_loader.py
  bengal/config/validators.py
  bengal/core/nav_tree.py
  bengal/core/page/metadata.py
  bengal/core/url_ownership.py
  bengal/directives/errors.py
  bengal/orchestration/stats/models.py
  bengal/orchestration/taxonomy.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/rendering/engines/__init__.py
  bengal/rendering/engines/errors.py
  bengal/rendering/errors.py
  bengal/rendering/renderer.py
  bengal/utils/exceptions.py
  plan/evaluated/plan-error-handling-improvements.md
  tests/unit/core/test_url_registry.py
  tests/unit/postprocess/test_special_pages.py
Due: block-legacy-cli-imports

core: implement Phase 2 of error handling improvements - standardized error context propagation
  bengal/config/directory_loader.py
  bengal/discovery/content_discovery.py
  bengal/utils/error_context.py
Due: block-legacy-cli-imports

core: implement Phase 3 of error handling improvements - improved error recovery patterns
  bengal/autodoc/orchestration/page_builders.py
  bengal/discovery/content_discovery.py
  bengal/utils/error_recovery.py
Due: block-legacy-cli-imports

core: implement Phase 4 of error handling improvements - enhanced error aggregation and reporting
  bengal/core/page/metadata.py
  bengal/discovery/content_discovery.py
  bengal/orchestration/stats/display.py
  bengal/orchestration/stats/models.py
  bengal/orchestration/summary.py
  bengal/utils/error_reporter.py
  tests/unit/test_nav_tree.py
Due: block-legacy-cli-imports

core: implement Phase 5 of error handling improvements - subsystem-specific improvements
  bengal/cache/build_cache/core.py
  bengal/cache/page_discovery_cache.py
  bengal/config/directory_loader.py
  bengal/orchestration/asset.py
  tests/unit/core/test_page_url_cache_clearing.py
Due: block-legacy-cli-imports

tests: update tests and documentation for new error handling system
  tests/integration/test_config_system_integration.py
  tests/unit/collections/test_errors.py
  tests/unit/config/test_directory_loader.py
  tests/unit/rendering/test_template_errors.py
  tests/unit/utils/test_error_handling.py
Due: none

core: remove incomplete error_context_manager and migrate LockAcquisitionError to BengalError hierarchy
  bengal/utils/error_context.py
  bengal/utils/file_lock.py
Due: block-legacy-cli-imports

core: migrate generic exceptions to BengalError hierarchy
  bengal/config/loader.py
  bengal/core/site/core.py
  bengal/discovery/git_version_adapter.py
  bengal/discovery/page_factory.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/rendering/engines/__init__.py
Due: block-legacy-cli-imports

core: fix remaining RuntimeError instances in incremental orchestrator
  bengal/orchestration/incremental/orchestrator.py
Due: block-legacy-cli-imports

core: migrate core, rendering, and utility exceptions to BengalError
  bengal/core/menu.py
  bengal/core/section.py
  bengal/core/theme/config.py
  bengal/rendering/parsers/__init__.py
  bengal/rendering/plugins/variable_substitution.py
  bengal/rendering/template_functions/navigation/tree.py
  bengal/utils/dates.py
  bengal/utils/file_io.py
  bengal/utils/pagination.py
  bengal/utils/path_resolver.py
  bengal/utils/url_strategy.py
Due: block-legacy-cli-imports

core: migrate autodoc and directives exceptions to BengalError
  bengal/autodoc/extractors/cli.py
  bengal/autodoc/extractors/python/extractor.py
  bengal/autodoc/models/common.py
  bengal/autodoc/orchestration/orchestrator.py
  bengal/directives/contracts.py
  bengal/directives/factory.py
  bengal/orchestration/build/content.py
Due: block-legacy-cli-imports

fix: update to PEP 695 type parameters and resolve ruff lints
  bengal/assets/pipeline.py
  bengal/collections/__init__.py
  bengal/content_layer/manager.py
  bengal/content_layer/sources/github.py
  bengal/content_layer/sources/local.py
  bengal/content_layer/sources/notion.py
  bengal/content_layer/sources/rest.py
  bengal/debug/explainer.py
  bengal/fonts/downloader.py
  bengal/health/autofix.py
  bengal/themes/config.py
  plan/drafted/rfc-version-aware-taxonomies.md
  site/content/docs/building/commands/_index.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/architecture/core/pipeline.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/docs/reference/architecture/tooling/_index.md
  tests/unit/postprocess/test_output_formats_index_json.py
  tests/unit/rendering/test_renderer_template_selection.py
Due: block-legacy-cli-imports

docs: convert broken relative links to wiki-style [[]] links for reliable resolution
  site/content/docs/reference/architecture/meta/performance.md
  site/content/docs/reference/architecture/subsystems/collections.md
  site/content/docs/reference/architecture/subsystems/content-layer.md
  site/content/docs/reference/architecture/subsystems/debug.md
  site/content/docs/reference/cheatsheet.md
  tests/integration/test_autodoc_output_prefix.py
Due: none

themes(docs-nav): remove redundant version selector caret; make root nav non-collapsible
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/components/versioning.css
  bengal/themes/default/templates/partials/docs-nav-node.html
  bengal/themes/default/templates/partials/version-selector.html
  tests/integration/test_autodoc_output_prefix.py
  tests/unit/postprocess/test_output_formats_index_json.py
Due: none

themes(docs-nav): include root section header for scoped navigation (autodoc)
  bengal/autodoc/orchestration/page_builders.py
  bengal/themes/default/templates/partials/docs-nav.html
Due: block-legacy-cli-imports

utils(stats_minimal): add has_errors property and get_error_summary method for DisplayableStats compliance
  bengal/utils/stats_minimal.py
  bengal/utils/stats_protocol.py
  tests/unit/rendering/test_navigation_functions.py
Due: block-legacy-cli-imports

docs(plan): add RFC for autodoc package handling
  plan/drafted/rfc-autodoc-package-handling.md
Due: none

health(autodoc): add AutodocValidator for HTML page generation integrity; tests: add comprehensive integration tests for autodoc HTML output and page types
  bengal/autodoc/orchestration/result.py
  bengal/autodoc/orchestration/utils.py
  bengal/cli/helpers/site_loader.py
  bengal/config/loader.py
  bengal/core/nav_tree.py
  bengal/core/site/core.py
  bengal/health/validators/__init__.py
  bengal/health/validators/autodoc.py
  bengal/orchestration/build/initialization.py
  plan/evaluated/rfc-autodoc-package-handling.md
  tests/integration/test_autodoc_html_generation.py
  tests/integration/test_autodoc_navigation.py
  tests/integration/test_template_error_collection.py
  tests/unit/autodoc/test_models_common.py
  tests/unit/autodoc/test_resilience.py
  tests/unit/content_layer/test_local_source.py
  tests/unit/content_layer/test_manager.py
  tests/unit/core/test_menu_cycles.py
  tests/unit/core/test_theme.py
  tests/unit/debug/test_explainer.py
  tests/unit/health/validators/test_autodoc_validator.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/rendering/directives/test_contracts.py
  tests/unit/rendering/test_mistune_parser.py
  tests/unit/rendering/test_navigation_functions.py
  tests/unit/rendering/test_template_escaping.py
  tests/unit/utils/test_dates.py
  tests/unit/utils/test_dates_properties.py
  tests/unit/utils/test_file_io.py
  tests/unit/utils/test_page_initializer.py
  tests/unit/utils/test_pagination.py
  tests/unit/utils/test_pagination_properties.py
  tests/unit/utils/test_url_strategy.py
Due: block-string-based-click-cls, block-legacy-cli-imports

core(nav_tree): include Python autodoc pages in sidebar navigation
  bengal/core/nav_tree.py
  plan/drafted/rfc-path-display-guidelines.md
Due: block-legacy-cli-imports

fix(autodoc): use 'type' key instead of 'annotation' for parameter types; fixes missing types in templates
  bengal/autodoc/extractors/python/signature.py
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
