Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

perf(theme): fix mobile performance - IntersectionObserver for Mermaid/D3, batch DOM reads, add preconnects
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/js/action-bar.js
  bengal/themes/default/assets/js/interactive.js
  bengal/themes/default/assets/js/lazy-loaders.js
  bengal/themes/default/assets/js/toc.js
  bengal/themes/default/templates/base.html
Due: none

feat(assets): add pure Python JS bundler - reduces mobile HTTP requests from 20+ to 3
  bengal/core/asset.py
  bengal/orchestration/asset.py
  bengal/themes/default/templates/base.html
  bengal/utils/js_bundler.py
Due: block-legacy-cli-imports

fix(theme): import debounce in interactive.js - fixes sidebar expansion
  bengal/themes/default/assets/js/interactive.js
Due: none

fix(themes): fix LLM share buttons - avoid minifier URL truncation; fix action-bar on changelog pages
  bengal/themes/default/assets/js/action-bar.js
  bengal/themes/default/templates/changelog/list.html
  content/api/bengal/core/asset.md
  content/api/bengal/utils/js_bundler.md
Due: none

fix(themes): use absolute URLs for LLM share - add window.location.origin to copied URLs
  bengal/themes/default/assets/js/action-bar.js
  plan/active/rfc-frontend-memory-optimization.md
  plan/active/rfc-page-redirects-aliases.md
Due: none

fix(themes): guard against null URL in toAbsoluteUrl and handleCopyAction
  bengal/themes/default/assets/js/action-bar.js
Due: none

theme: add page-hero component with classic/magazine variants; magazine provides editorial-style consolidated header with eyebrow breadcrumbs, tight title, and inline metadata
  bengal/postprocess/output_formats/index_generator.py
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/assets/css/components/search-modal.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/action-bar.js
  bengal/themes/default/assets/js/search-modal.js
  bengal/themes/default/templates/doc/single.html
  bengal/themes/default/templates/partials/page-hero-classic.html
  bengal/themes/default/templates/partials/page-hero-magazine.html
  bengal/themes/default/templates/partials/page-hero.html
Due: block-legacy-cli-imports

theme(page-hero): add editorial variant - clean magazine layout without container/border/background
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/templates/partials/page-hero-editorial.html
  bengal/themes/default/templates/partials/page-hero.html
  site/content/docs/_index.md
  site/content/docs/get-started/quickstart-writer.md
Due: none

theme(page-hero): remove divider, use magazine-style metadata (small caps, letter-spacing, no icons)
  bengal/themes/default/assets/css/components/page-hero.css
Due: none

theme(page-hero): make editorial the default; tighten breadcrumb-title gap; increase hero-content spacing
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/templates/partials/page-hero.html
Due: none

theme(doc/list): use page-hero component for consistent header across single and list templates
  bengal/themes/default/templates/doc/list.html
  site/content/docs/_index.md
Due: none

theme(page-hero): add overview variant for section index pages; shows page count instead of read time
  bengal/themes/default/assets/css/components/page-hero.css
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/partials/page-hero-overview.html
  bengal/themes/default/templates/partials/page-hero.html
Due: none

theme(typography): editorial style headings - remove h2 underline, lighter weights, tighter margins; hr is the only horizontal divider
  bengal/themes/default/assets/css/base/typography.css
Due: none

theme(toc): editorial style - remove title, direct expand/collapse toggle with chevron icon
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/js/toc.js
  bengal/themes/default/templates/partials/navigation-components.html
Due: none

theme(toc): remove toggle button for cleaner editorial style - just TOC items
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/templates/partials/navigation-components.html
Due: none

theme(toc): editorial typography - smaller, lighter text; H2 as uppercase eyebrow categories
  bengal/themes/default/assets/css/components/toc.css
Due: none

theme(toc): remove H2 uppercase - count badge already signals hierarchy
  bengal/themes/default/assets/css/components/toc.css
Due: none

theme(cards): editorial style - smaller titles/text, icon on top, tighter padding, remove header border
  bengal/themes/default/assets/css/components/cards.css
Due: none

theme(tags): add editorial article footer with proper visual separation and eyebrow label
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/components/tags.css
  bengal/themes/default/assets/js/graph-contextual.js
  bengal/themes/default/templates/doc/single.html
Due: none

theme(checklist): use text-inverse for checkmark to ensure contrast across themes
  bengal/themes/default/assets/css/components/checklist.css
Due: none

theme(search-modal): prevent blob leakage via isolation and explicit pseudo-element blocking
  bengal/themes/default/assets/css/components/search-modal.css
Due: none

theme(search-modal): aggressive blob prevention - isolation, stronger backdrop blur, nuclear pseudo-element blocking
  bengal/themes/default/assets/css/components/search-modal.css
Due: none

theme(search-modal): targeted pseudo-element blocking for all result section elements
  bengal.toml.example
  bengal/config/defaults.py
  bengal/themes/default/assets/css/components/search-modal.css
  bengal/themes/default/assets/js/theme-init.js
  bengal/themes/default/assets/js/theme-toggle.js
  bengal/themes/default/templates/partials/theme-controls.html
Due: block-legacy-cli-imports

theme(search-modal): remove overflow:hidden that was clipping content
  bengal/themes/default/assets/css/components/search-modal.css
  bengal/themes/default/assets/js/theme-init.js
  bengal/themes/default/assets/js/theme-toggle.js
Due: none

theme(search-modal): nuclear blob removal - kill all background-image on pseudo-elements
  bengal/themes/default/assets/css/components/search-modal.css
Due: none

fix(search): rename results-group class to avoid collision with result-section; remove blob hack CSS
  bengal/themes/default/assets/css/components/search-modal.css
  bengal/themes/default/assets/js/search-modal.js
Due: none

updates
  bengal/themes/default/assets/js/action-bar.js
Due: none

update
  bengal/themes/default/assets/js/action-bar.js
Due: none

docs: add AI-friendly docstring standards and improve module docstrings/comments
  bengal/cache/build_cache.py
  bengal/cli/commands/build.py
  bengal/config/feature_mappings.py
  bengal/core/asset.py
  bengal/core/section.py
  bengal/core/site.py
  bengal/rendering/plugins/directives/tabs.py
  bengal/rendering/template_engine.py
  plan/active/docstring-cleanup-summary.md
  plan/active/docstring-standards.md
  plan/active/rfc-content-layer-api.md
  plan/implemented/rfc-pristine-html-output.md
  plan/implemented/rfc-test-gaps-and-resilience.md
Due: block-string-based-click-cls, block-legacy-cli-imports

docs: improve module docstrings across core, orchestration, rendering, and utils
  bengal/cache/dependency_tracker.py
  bengal/config/defaults.py
  bengal/core/menu.py
  bengal/core/page/__init__.py
  bengal/core/site.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/incremental.py
  bengal/orchestration/menu.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/render.py
  bengal/orchestration/static.py
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/rendering/pipeline.py
  bengal/rendering/renderer.py
  bengal/rendering/template_context.py
  bengal/utils/theme_registry.py
  bengal/utils/theme_resolution.py
Due: block-legacy-cli-imports

docs: add missing module docstrings to utils, rendering, postprocess, and services
  bengal/postprocess/html_output.py
  bengal/rendering/template_functions.py
  bengal/services/validation.py
  bengal/utils/build_context.py
  bengal/utils/file_utils.py
  bengal/utils/metadata.py
  bengal/utils/progress.py
Due: block-legacy-cli-imports

docs: improve class docstrings across orchestration, rendering, and postprocess
  bengal/core/menu.py
  bengal/orchestration/asset.py
  bengal/orchestration/incremental.py
  bengal/orchestration/menu.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/render.py
  bengal/orchestration/static.py
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/rendering/pipeline.py
  bengal/rendering/renderer.py
  bengal/rendering/template_engine.py
Due: block-legacy-cli-imports

docs: improve class docstrings for cache, utils, and template context
  bengal/cache/dependency_tracker.py
  bengal/rendering/template_context.py
  bengal/utils/progress.py
Due: block-legacy-cli-imports

docs: improve TemplateSectionWrapper class docstring
  bengal/rendering/template_context.py
Due: block-legacy-cli-imports

docs: improve function docstrings in core menu and site modules
  bengal/core/menu.py
  bengal/core/site.py
Due: block-legacy-cli-imports

docs: improve function docstrings in orchestration and rendering modules
  bengal/orchestration/incremental.py
  bengal/rendering/pipeline.py
Due: block-legacy-cli-imports

docs: clean up redundant inline comments across core modules
  bengal/core/menu.py
  bengal/core/site.py
  bengal/rendering/pipeline.py
Due: block-legacy-cli-imports

docs: clean up redundant comments in orchestration modules
  bengal/orchestration/asset.py
  bengal/orchestration/incremental.py
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
