Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

cli: address cache and theme smoke feedback
  bengal/cli/milo_commands/cache.py
  bengal/cli/milo_commands/theme.py
  changelog.d/cache-hash-runtime.fixed.md
  tests/integration/test_cli_smoke.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli: route output through milo bridge
  bengal/cli/helpers/progress.py
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/fix.py
  bengal/cli/milo_commands/inspect.py
  bengal/cli/utils/output.py
  bengal/health/health_check.py
  bengal/health/linkcheck/orchestrator.py
  bengal/health/report/formatting.py
  bengal/health/report/health_report.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/streaming.py
  bengal/output/README.md
  bengal/output/__init__.py
  bengal/output/core.py
  bengal/output/globals.py
  bengal/server/dev_server.py
  bengal/server/live_reload/notification.py
  bengal/server/pid_manager.py
  bengal/server/reload_controller.py
  bengal/utils/observability/progress.py
  changelog.d/changed/cli-output-bridge.md
  tests/unit/cli/test_output.py
  tests/unit/health/linkcheck/test_orchestrator_reporting.py
  tests/unit/health/test_health_check.py
  tests/unit/health/test_health_report.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli: render observability output through kida
  bengal/utils/observability/cli_progress.py
  bengal/utils/observability/performance_report.py
  changelog.d/changed/cli-observability-output.md
  tests/unit/utils/test_performance_report.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli: render debug summaries with kida
  bengal/cli/milo_commands/debug.py
  bengal/cli/milo_commands/inspect.py
  changelog.d/changed/cli-debug-report-output.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

tests: guard cli output boundaries
  changelog.d/changed/cli-output-boundary-guard.md
  tests/unit/cli/test_terminal_output_boundaries.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

changelog: fix cli output fragments
  changelog.d/cli-debug-report-output.changed.md
  changelog.d/cli-observability-output.changed.md
  changelog.d/cli-output-boundary-guard.changed.md
  changelog.d/cli-output-bridge.changed.md
  pyproject.toml
Due: none

cli: address output review comments
  bengal/cli/helpers/debug_reports.py
  bengal/cli/milo_commands/debug.py
  bengal/cli/milo_commands/inspect.py
  bengal/health/health_check.py
  bengal/orchestration/postprocess.py
  bengal/server/dev_server.py
  bengal/utils/observability/progress.py
  tests/unit/cli/test_terminal_output_boundaries.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli: refine kida output templates
  bengal/output/templates/_bengal.kida
  bengal/output/templates/build_report.kida
  bengal/output/templates/build_summary.kida
  bengal/output/templates/item_list.kida
  bengal/output/templates/kv_detail.kida
  bengal/output/templates/server_dashboard.kida
  bengal/output/templates/validation_report.kida
  changelog.d/cli-output-beautiful.changed.md
Due: none

cli: extend kida output polish
  bengal/output/templates/build_progress.kida
  bengal/output/templates/diff_view.kida
  bengal/output/templates/error_panel.kida
  bengal/output/templates/graph_view.kida
  bengal/output/templates/i18n_coverage.kida
  bengal/output/templates/page_explanation.kida
  bengal/output/templates/scaffold_result.kida
  bengal/output/templates/upgrade_status.kida
  changelog.d/cli-output-beautiful.changed.md
Due: none

docs: plan health diagnostics audit
  plan/README.md
  plan/rfc-health-diagnostics-audit.md
Due: none

health: add report envelope
  bengal/health/report/__init__.py
  bengal/health/report/envelope.py
  bengal/health/report/health_report.py
  changelog.d/health-report-envelope.changed.md
  tests/unit/health/test_report_envelope.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: own reference registry
  bengal/health/link_registry.py
  bengal/health/linkcheck/internal_checker.py
  bengal/orchestration/build/finalization.py
  bengal/rendering/reference_registry.py
  changelog.d/rendering-reference-registry.changed.md
  tests/unit/rendering/test_reference_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: validate links through rendering resolver
  bengal/health/validators/links.py
  bengal/rendering/reference_registry.py
  bengal/rendering/reference_resolution.py
  bengal/utils/paths/link_resolution.py
  changelog.d/link-validator-rendering-resolver.fixed.md
  tests/unit/rendering/test_link_validator.py
  tests/unit/rendering/test_reference_resolution.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli: add artifact audit command
  bengal/audit/__init__.py
  bengal/audit/artifacts.py
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/audit.py
  changelog.d/artifact-audit-command.added.md
  tests/unit/audit/test_artifacts.py
  tests/unit/cli/test_milo_parser_construction.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli: keep health compatibility alias
  bengal/cli/milo_app.py
  changelog.d/health-command-alias.changed.md
  site/content/docs/reference/architecture/tooling/cli.md
  tests/unit/cli/test_milo_parser_construction.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: document check audit split
  site/content/docs/reference/architecture/subsystems/health.md
Due: none

ci: fix health audit checks
  .github/workflows/ty.yml
  bengal/audit/__init__.py
  bengal/cli/milo_commands/audit.py
  bengal/health/link_registry.py
  bengal/rendering/reference_resolution.py
  bengal/utils/paths/link_resolution.py
  tests/unit/audit/test_audit_artifacts.py
  tests/unit/rendering/test_reference_registry.py
  tests/unit/rendering/test_reference_resolution.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: cover health audit cli smoke
  tests/integration/test_cli_smoke.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

audit: address pr review concerns
  bengal/audit/artifacts.py
  bengal/health/validators/links.py
  bengal/rendering/reference_registry.py
  bengal/utils/paths/link_resolution.py
  tests/unit/audit/test_audit_artifacts.py
  tests/unit/health/validators/test_links.py
  tests/unit/rendering/test_reference_registry.py
  tests/unit/utils/test_link_resolution.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: cache repeated link validation
  bengal/health/validators/links.py
  changelog.d/health-link-result-cache.changed.md
  tests/unit/health/validators/test_links.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: skip unchanged output format writes
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/md_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/postprocess/output_formats/utils.py
  changelog.d/output-formats-skip-unchanged.changed.md
  tests/unit/postprocess/test_output_formats_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: add scoped validation context
  bengal/health/health_check.py
  bengal/health/scope.py
  changelog.d/health-validation-scope.changed.md
  tests/unit/health/test_health_check.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: scope incremental link checks
  bengal/health/validators/links.py
  changelog.d/health-links-incremental-scope.changed.md
  tests/unit/health/validators/test_links.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: fingerprint link validation cache
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/validation_cache.py
  bengal/health/health_check.py
  bengal/rendering/reference_registry.py
  changelog.d/health-link-cache-registry-fingerprint.changed.md
  tests/unit/cache/test_build_cache.py
  tests/unit/health/test_health_check.py
  tests/unit/rendering/test_reference_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: expose output format timings
  bengal/orchestration/stats/models.py
  bengal/postprocess/output_formats/__init__.py
  tests/unit/postprocess/test_output_formats_config.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: persist page artifact records
  bengal/cache/build_cache/core.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/incremental/orchestrator.py
  tests/unit/cache/test_build_cache.py
  tests/unit/orchestration/incremental/test_page_artifact_cache.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: merge cached page artifacts
  bengal/postprocess/output_formats/__init__.py
  tests/unit/postprocess/test_output_formats_config.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: skip unchanged site outputs
  bengal/cache/build_cache/core.py
  bengal/postprocess/output_formats/__init__.py
  tests/unit/cache/test_build_cache.py
  tests/unit/postprocess/test_output_formats_config.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: reuse artifact link registry
  bengal/health/link_registry.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/rendering/reference_registry.py
  changelog.d/postrender-artifact-cache.changed.md
  tests/unit/orchestration/incremental/test_page_artifact_cache.py
  tests/unit/rendering/test_reference_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: sanitize page artifact records
  bengal/orchestration/incremental/cache_manager.py
  bengal/postprocess/output_formats/__init__.py
  changelog.d/page-artifact-json-safety.fixed.md
  tests/unit/orchestration/incremental/test_page_artifact_cache.py
  tests/unit/postprocess/test_output_formats_config.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: accept site-wide output links
  bengal/rendering/reference_registry.py
  changelog.d/site-wide-output-link-targets.fixed.md
  tests/unit/rendering/test_reference_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: use artifact inventory for link targets
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/artifact_inventory.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build_context.py
  bengal/rendering/reference_registry.py
  changelog.d/artifact-inventory-link-registry.changed.md
  tests/unit/orchestration/build/test_artifact_inventory.py
  tests/unit/rendering/test_reference_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: preserve unconfigured auxiliary link registry
  bengal/rendering/reference_registry.py
Due: ty, block-legacy-cli-imports

postprocess: address artifact reuse feedback
  bengal/orchestration/build/artifact_inventory.py
  bengal/postprocess/output_formats/__init__.py
  tests/unit/orchestration/build/test_artifact_inventory.py
  tests/unit/postprocess/test_output_formats_config.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: upgrade agent steward system
  AGENTS.md
  benchmarks/AGENTS.md
  bengal/assets/AGENTS.md
  bengal/autodoc/AGENTS.md
  bengal/build/AGENTS.md
  bengal/cache/AGENTS.md
  bengal/cli/AGENTS.md
  bengal/config/AGENTS.md
  bengal/content_types/AGENTS.md
  bengal/core/AGENTS.md
  bengal/core/page/AGENTS.md
  bengal/core/section/AGENTS.md
  bengal/core/site/AGENTS.md
  bengal/errors/AGENTS.md
  bengal/health/AGENTS.md
  bengal/orchestration/AGENTS.md
  bengal/orchestration/build/AGENTS.md
  bengal/orchestration/incremental/AGENTS.md
  bengal/plugins/AGENTS.md
  bengal/postprocess/AGENTS.md
  bengal/protocols/AGENTS.md
  bengal/rendering/AGENTS.md
  bengal/rendering/pipeline/AGENTS.md
  bengal/rendering/template_functions/AGENTS.md
  bengal/scaffolds/AGENTS.md
  bengal/server/AGENTS.md
  bengal/snapshots/AGENTS.md
  bengal/themes/default/AGENTS.md
  plan/AGENTS.md
  site/AGENTS.md
  tests/AGENTS.md
  tests/integration/AGENTS.md
  tests/performance/AGENTS.md
  tests/unit/AGENTS.md
Due: none

deps: upgrade milo-cli to 0.3.0
  README.md
  changelog.d/milo-cli-0-3.changed.md
  pyproject.toml
  uv.lock
Due: none

tests: align page initializer output assertion
  tests/unit/utils/test_page_initializer.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

cli: address milo output review feedback
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/check.py
  bengal/health/report/models.py
  bengal/health/results.py
  bengal/output/core.py
  bengal/output/templates/_bengal.kida
  tests/unit/cli/test_audit_command_output.py
  tests/unit/cli/test_command_output_templates.py
  tests/unit/cli/test_output.py
  tests/unit/health/test_result_compaction.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cli: close milo migration language
  bengal/cli/__init__.py
  bengal/cli/milo_app.py
  changelog.d/milo-cli-closure.changed.md
  pyproject.toml
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
