Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

feat(snapshots): barrier-owns config/params/data/schedule — S13.4b (#350)
  bengal/snapshots/render_plan.py
  plan/epic-shard-parallel-build.md
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(snapshots): SectionMeta map edge — S13.4c part 1 (#350)
  bengal/snapshots/render_plan.py
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(shard): clear caches in parse-parity oracle to fix flaky content_hash (#350)
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(render): COW-free shard render backend behind render_isolation=shard — S13.4g/S16 (#350)
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/isolated/__init__.py
  bengal/orchestration/render/isolated/gate.py
  bengal/orchestration/render/isolated/shard_backend.py
  tests/integration/test_shard_render_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(render): resolve cross-shard rendered-content — the one true blocker — S14 (#350)
  bengal/orchestration/render/isolated/shard_backend.py
  bengal/snapshots/render_plan.py
  tests/integration/test_shard_render_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(plan): record S13.4g/S14/S16/S17 landed state — shard build materialized (#350)
  plan/epic-shard-parallel-build.md
Due: none

docs(changelog): fragment for the COW-free shard render backend (#350)
  changelog.d/shard-render-backend.added.md
Due: none

feat(render): COW-free shard-parallel render backend — S13.4/S14 (#350) (#368)
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/isolated/__init__.py
  bengal/orchestration/render/isolated/gate.py
  bengal/orchestration/render/isolated/shard_backend.py
  bengal/snapshots/render_plan.py
  changelog.d/shard-render-backend.added.md
  plan/epic-shard-parallel-build.md
  tests/integration/test_shard_render_parity.py
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

ci(architecture): wire lint-imports into CI + clean stale ignore_imports (#340)
  .github/workflows/ty.yml
  .importlinter
  bengal/core/page/runtime.py
  changelog.d/lint-imports-ci-gate.added.md
Due: ty, block-legacy-cli-imports

docs(theming): document capability-vs-theme-presentation boundary (#364)
  changelog.d/capability-theme-boundary-docs.added.md
  site/content/docs/theming/capabilities-vs-theme.md
  site/content/docs/theming/theme-creation.md
Due: none

perf(theme): cache theme-library provider resolution (#365)
  benchmarks/theme_provider_cache_benchmark.py
  bengal/core/theme/__init__.py
  bengal/core/theme/providers.py
  changelog.d/cache-theme-provider-resolution.changed.md
  tests/unit/core/theme/test_providers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): symbol xref + overload grouping + inherited badges (#327, #328, #329)
  README.md
  bengal/autodoc/README.md
  bengal/autodoc/extractors/python/extractor.py
  bengal/autodoc/extractors/python/overloads.py
  bengal/autodoc/orchestration/orchestrator.py
  bengal/autodoc/symbol_resolver.py
  bengal/rendering/template_functions/autodoc.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/autodoc/partials/_macros/class-member.html
  bengal/themes/default/templates/autodoc/partials/_macros/function-member.html
  bengal/themes/default/templates/autodoc/partials/members.html
  bengal/themes/default/templates/autodoc/python/module.html
  changelog.d/autodoc-inherited-member-badges.added.md
  changelog.d/autodoc-overload-grouping.added.md
  changelog.d/autodoc-symbol-xref.added.md
  tests/performance/autodoc_regression_fixtures.py
  tests/performance/fixtures/autodoc_render_baseline.json
  tests/unit/autodoc/test_inherited_rendering.py
  tests/unit/autodoc/test_overload_grouping.py
  tests/unit/autodoc/test_symbol_resolver.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(postprocess): repair rss.xml/search-index.json on warm builds + feed freshness (#334)
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/postprocess.py
  changelog.d/warm-artifact-repair-rss-searchindex.fixed.md
  tests/integration/test_incremental_output_formats.py
  tests/integration/warm_build/test_artifact_repair.py
  tests/integration/warm_build/test_cross_features.py
  tests/unit/orchestration/build/test_provenance_artifact_repair.py
  tests/unit/postprocess/test_postprocess_timings.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(theming): document capability-vs-theme-presentation boundary (#364) (#371)
  changelog.d/capability-theme-boundary-docs.added.md
  site/content/docs/theming/capabilities-vs-theme.md
  site/content/docs/theming/theme-creation.md
Due: none

fix(postprocess): repair rss.xml/search-index.json on warm builds + feed freshness (#334) (#373)
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/postprocess.py
  changelog.d/warm-artifact-repair-rss-searchindex.fixed.md
  tests/integration/test_incremental_output_formats.py
  tests/integration/warm_build/test_artifact_repair.py
  tests/integration/warm_build/test_cross_features.py
  tests/unit/orchestration/build/test_provenance_artifact_repair.py
  tests/unit/postprocess/test_postprocess_timings.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(autodoc): use logical CSS properties in new badge/see-also styles
  bengal/themes/default/assets/css/components/autodoc.css
Due: check-template-css

fix(tests): reset active plugin registry contextvar between tests
  changelog.d/test-isolation-active-plugin-registry.fixed.md
  tests/conftest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): symbol xref + overload grouping + inherited badges (#327, #328, #329) (#369)
  README.md
  bengal/autodoc/README.md
  bengal/autodoc/extractors/python/extractor.py
  bengal/autodoc/extractors/python/overloads.py
  bengal/autodoc/orchestration/orchestrator.py
  bengal/autodoc/symbol_resolver.py
  bengal/rendering/template_functions/autodoc.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/autodoc/partials/_macros/class-member.html
  bengal/themes/default/templates/autodoc/partials/_macros/function-member.html
  bengal/themes/default/templates/autodoc/partials/members.html
  bengal/themes/default/templates/autodoc/python/module.html
  changelog.d/autodoc-inherited-member-badges.added.md
  changelog.d/autodoc-overload-grouping.added.md
  changelog.d/autodoc-symbol-xref.added.md
  tests/performance/autodoc_regression_fixtures.py
  tests/performance/fixtures/autodoc_render_baseline.json
  tests/unit/autodoc/test_inherited_rendering.py
  tests/unit/autodoc/test_overload_grouping.py
  tests/unit/autodoc/test_symbol_resolver.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ci(architecture): wire lint-imports into CI + clean stale ignore_imports (#340) (#370)
  .github/workflows/ty.yml
  .importlinter
  bengal/core/page/runtime.py
  changelog.d/lint-imports-ci-gate.added.md
Due: ty, block-legacy-cli-imports

perf(theme): cache theme-library provider resolution (#365) (#372)
  benchmarks/theme_provider_cache_benchmark.py
  bengal/core/theme/__init__.py
  bengal/core/theme/providers.py
  changelog.d/cache-theme-provider-resolution.changed.md
  tests/unit/core/theme/test_providers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(tests): scope the fix to the plugin-registry leak only
  changelog.d/test-isolation-active-plugin-registry.fixed.md
  tests/conftest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(tests): reset active plugin registry contextvar between tests (#375)
  changelog.d/test-isolation-active-plugin-registry.fixed.md
  tests/conftest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(server): serve dev assets from hidden buffer dirs (theme drops to unstyled)
  bengal/server/asgi_app.py
  changelog.d/dev-server-hidden-buffer-asset-404.fixed.md
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(server): diagnose dev-server asset 404s (loud existing-file-404 + buffer visibility)
  bengal/server/asgi_app.py
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(server): serve dev assets from hidden buffer dirs (theme drops to unstyled while editing) (#392)
  bengal/server/asgi_app.py
  changelog.d/dev-server-hidden-buffer-asset-404.fixed.md
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(concurrency): consolidate duplicated GIL-detection helpers
  bengal/orchestration/render/parallel.py
  bengal/postprocess/social_cards.py
  bengal/server/build_executor.py
  changelog.d/381.changed.md
  tests/unit/utils/test_workers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(rendering): route Kida render_template errors through ErrorClassifier
  bengal/rendering/engines/kida.py
  bengal/rendering/errors/classifier.py
  changelog.d/391.fixed.md
  tests/unit/rendering/test_error_classifier.py
  tests/unit/rendering/test_kida_error_classification.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(autodoc): anchor hrefs for non-page member elements (no more dangling /api links)
  bengal/autodoc/orchestration/page_builders.py
  changelog.d/401.fixed.md
  tests/unit/autodoc/test_member_anchor_hrefs.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore: remove dead code + fix stale import that breaks pytest collection
  bengal/build/__init__.py
  bengal/cache/build_cache/autodoc_tracking.py
  bengal/experimental/__init__.py
  bengal/orchestration/build/provenance_filter.py
  changelog.d/382.removed.md
  changelog.d/386.removed.md
  tests/unit/cache/test_autodoc_tracking.py
  tests/unit/orchestration/build/test_initialization.py
  tests/unit/themes/test_mobile_nav.py
  tests/unit/themes/test_theme_controls.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(orchestration): guard warm autodoc OSError + dedup deps; decompose _build_xref_index
  bengal/orchestration/content.py
  changelog.d/378.fixed.md
  changelog.d/380.changed.md
  tests/unit/autodoc/test_resilience.py
  tests/unit/orchestration/test_xref_index_builder.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: correct custom-directives API + README parser table, benchmarks, shims claim
  README.md
  changelog.d/388.fixed.md
  changelog.d/389.fixed.md
  site/content/docs/about/benchmarks.md
  site/content/docs/extending/_index.md
  site/content/docs/extending/custom-directives.md
  tests/unit/docs/__init__.py
  tests/unit/docs/test_doc_python_snippets.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(nav): include shared content in every versioned NavTree
  bengal/core/nav_tree.py
  bengal/core/section/navigation.py
  bengal/core/version.py
  changelog.d/395.fixed.md
  tests/integration/test_nav_tree_integration.py
  tests/unit/core/test_section_versioning.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(cache): invalidate stale parsed/rendered output on parser, config, and dep changes
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/parsing.py
  bengal/snapshots/persistence.py
  changelog.d/377.fixed.md
  changelog.d/379.fixed.md
  tests/unit/cache/test_build_cache.py
  tests/unit/snapshots/test_snapshot_persistence.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(governance): add CODEOWNERS + update ownership routing status
  .github/CODEOWNERS
  AGENTS.md
  changelog.d/394.added.md
Due: none

chore(cli): fix root --help section drift + add guard test
  bengal/cli/milo_app.py
  changelog.d/387.fixed.md
  tests/unit/cli/test_root_help_sections.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(arch): contain core->rendering.version_url edge + tighten Contract 1
  .importlinter
  changelog.d/383.changed.md
Due: none

fix(parsing): make PatitasParser AST round-trip honor supports_ast=True
  bengal/parsing/backends/patitas/wrapper.py
  changelog.d/393.fixed.md
  tests/integration/test_ast_pipeline.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
