Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

cache: narrow index protocols from PageLike to Summarizable
  bengal/cache/indexes/author_index.py
  bengal/cache/indexes/category_index.py
Due: ty, block-legacy-cli-imports

core: narrow SiteLike to SiteConfig/SiteContent in consumers
  bengal/analysis/graph/visualizer.py
  bengal/cache/path_registry.py
  bengal/cache/query_index_registry.py
  bengal/core/page/navigation.py
  bengal/icons/resolver.py
  bengal/orchestration/feature_detector.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/template_functions/icons.py
  bengal/rendering/template_functions/tables.py
  bengal/rendering/template_functions/taxonomies.py
Due: ty, block-legacy-cli-imports

core: remove SiteLike from Site inheritance chain
  bengal/core/site/__init__.py
Due: ty, block-legacy-cli-imports

core: convert PageNavigationMixin to free functions + property wrappers
  bengal/core/page/__init__.py
  bengal/core/page/navigation.py
  tests/core/test_mixin_contracts.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: fix protocol Self-type annotations in renderers and mixins
  .dori/local/logs/2026-02-06.jsonl
  bengal/core/site/__init__.py
  bengal/core/site/versioning.py
  bengal/rendering/page_operations.py
  uv.lock
Due: ty, block-legacy-cli-imports

core: extract SiteVersioningMixin to composed VersionService
  bengal/core/site/__init__.py
  bengal/core/site/versioning.py
Due: ty, block-legacy-cli-imports

cache: extract TaxonomyIndex and AutodocTracker to composed classes
  .dori/local/logs/2026-02-06.jsonl
  bengal/build/tracking/tracker.py
  bengal/cache/build_cache/__init__.py
  bengal/cache/build_cache/autodoc_content_cache.py
  bengal/cache/build_cache/autodoc_tracking.py
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/taxonomy_index_mixin.py
  bengal/debug/incremental_debugger.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/incremental/cleanup.py
  bengal/orchestration/taxonomy.py
  tests/integration/debug/test_debug_tools_smoke.py
  tests/integration/test_incremental_cache_stability.py
  tests/unit/build/tracking/test_tracker.py
  tests/unit/cache/test_autodoc_self_validation.py
  tests/unit/cache/test_autodoc_tracking.py
  tests/unit/cache/test_build_cache.py
  tests/unit/cache/test_cache_load_robustness.py
  tests/unit/cache/test_dependency_tracker.py
  tests/unit/debug/test_debug_tool_contract.py
  tests/unit/debug/test_incremental_debugger_taxonomy.py
  tests/unit/orchestration/build/test_initialization.py
  tests/unit/orchestration/incremental/test_cleanup.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
  tests/unit/orchestration/test_cache_migration.py
  tests/unit/orchestration/test_taxonomy_incremental.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: add persistence and file fingerprinting to EffectTracer
  bengal/effects/effect.py
  bengal/effects/tracer.py
Due: ty, block-legacy-cli-imports

orchestration: wire EffectTracer into incremental build pipeline
  bengal/effects/render_integration.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/incremental/orchestrator.py
Due: ty, block-legacy-cli-imports

tests: add threading integration tests for EffectTracer and BuildTaxonomyIndex
  tests/integration/test_thread_safety.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

core: add lock ordering convention and concurrency documentation
  bengal/concurrency.py
Due: ty, block-legacy-cli-imports

rendering: separate BuildCache from DependencyTracker in pipeline
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: add immutable snapshot evaluation to concurrency docs
  bengal/concurrency.py
Due: ty, block-legacy-cli-imports

core: remove write-only _affected_tags field from Site
  bengal/core/site/__init__.py
  bengal/orchestration/build/content.py
  plan/rfc-bengal-v2-architecture.md
Due: ty, block-legacy-cli-imports

tests: add EffectTracer parity tests for DependencyTracker cutover
  .dori/local/logs/2026-02-06.jsonl
  bengal/core/page/navigation.py
  bengal/debug/__init__.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/rendering/template_functions/authors.py
  tests/unit/core/test_site_caching.py
  tests/unit/core/test_site_lifecycle.py
  tests/unit/debug/test_debug_tool_contract.py
  tests/unit/debug/test_shortcode_sandbox.py
  tests/unit/effects/test_effect_tracer_parity.py
  tests/unit/rendering/template_functions/test_author_views.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: remove DependencyTracker, fully replace with EffectTracer
  .dori/local/logs/2026-02-06.jsonl
  bengal/build/contracts/protocol.py
  bengal/build/tracking/__init__.py
  bengal/build/tracking/tracker.py
  bengal/cache/__init__.py
  bengal/concurrency.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/coordinator.py
  bengal/orchestration/build/parsing.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/build_context.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/streaming.py
  bengal/rendering/__init__.py
  bengal/rendering/context/data_tracking.py
  bengal/rendering/context/site_wrappers.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/engines/kida.py
  bengal/rendering/pipeline/__init__.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/utils/contextvar.py
  bengal/snapshots/scheduler.py
  tests/integration/test_incremental_cache_stability.py
  tests/unit/build/tracking/test_tracker.py
  tests/unit/cache/test_cache_invalidation_fixes.py
  tests/unit/cache/test_dependency_tracker.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

config: create ConfigService frozen dataclass
  .dori/local/logs/2026-02-07.jsonl
  bengal/services/config.py
Due: ty, block-legacy-cli-imports

config: wire ConfigService into Site, delegate mixin properties
  .dori/local/logs/2026-02-07.jsonl
  bengal/core/site/__init__.py
  bengal/core/site/properties.py
Due: ty, block-legacy-cli-imports

tests: add ConfigService unit tests (31 tests)
  .dori/local/logs/2026-02-07.jsonl
  tests/unit/services/test_config_service.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

core: pre-compute NavTrees at snapshot time for lock-free lookups
  .dori/local/logs/2026-02-07.jsonl
  bengal/concurrency.py
  bengal/core/nav_tree.py
  bengal/orchestration/build/__init__.py
  bengal/snapshots/builder.py
  bengal/snapshots/types.py
  tests/unit/snapshots/test_snapshot_builder.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: pre-compute renderer caches and context wrappers at snapshot time
  .dori/local/logs/2026-02-07.jsonl
  bengal/concurrency.py
  bengal/orchestration/build/__init__.py
  bengal/rendering/renderer.py
  bengal/snapshots/builder.py
  bengal/snapshots/types.py
Due: ty, block-legacy-cli-imports

orchestration: move configure_for_site before parallel rendering, fix stale tracker tests
  .dori/local/logs/2026-02-07.jsonl
  bengal/concurrency.py
  bengal/orchestration/build/__init__.py
  tests/unit/snapshots/test_wave_scheduler.py
  tests/unit/utils/test_build_context.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: align test mocks with tracker removal from CacheCoordinator and RenderOrchestrator
  tests/unit/cache/test_coordinator.py
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/orchestration/test_render_orchestrator.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

core: extract PageBundleMixin to free functions
  .dori/local/logs/2026-02-07.jsonl
  bengal/core/page/__init__.py
  bengal/core/page/bundle.py
Due: ty, block-legacy-cli-imports

core: extract PageComputedMixin to free functions with tests
  bengal/core/page/__init__.py
  bengal/core/page/computed.py
  tests/unit/core/test_computed_functions.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: add lock protection to shared mutable state in rendering hot path
  bengal/core/page/__init__.py
  bengal/rendering/template_functions/i18n.py
  bengal/rendering/template_functions/version_url.py
Due: ty, block-legacy-cli-imports

core: remove SitePropertiesMixin, inline properties on Site
  .dori/local/logs/2026-02-07.jsonl
  bengal/core/site/__init__.py
  bengal/core/site/properties.py
Due: ty, block-legacy-cli-imports

core: split snapshots/builder.py (1762 lines) into 5 focused modules
  .dori/local/logs/2026-02-07.jsonl
  bengal/snapshots/__init__.py
  bengal/snapshots/builder.py
  bengal/snapshots/content.py
  bengal/snapshots/scheduling.py
  bengal/snapshots/speculative.py
  bengal/snapshots/templates.py
Due: ty, block-legacy-cli-imports

config: remove deprecated config/loader.py, update test imports
  .dori/local/logs/2026-02-07.jsonl
  bengal/config/__init__.py
  bengal/config/loader.py
  tests/manual/test_rich_features.py
  tests/unit/rendering/test_favicon.py
  tests/unit/rendering/test_parser_configuration.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: narrow except Exception blocks in kida.py and authors.py
  bengal/rendering/engines/kida.py
  bengal/rendering/template_functions/authors.py
Due: ty, block-legacy-cli-imports

fixes
  .dori/local/logs/2026-02-07.jsonl
  .gitignore
  bengal/build/contracts/protocol.py
  bengal/orchestration/build/__init__.py
  bengal/themes/default/templates/partials/tag-nav.html
  tests/integration/test_snapshot_integration.py
  tests/integration/test_versioned_builds.py
  tests/unit/build/contracts/test_protocol.py
  tests/unit/effects/test_effect_tracer_parity.py
  tests/unit/orchestration/build/test_rendering.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
  tests/unit/orchestration/test_cache_migration.py
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/orchestration/test_streaming_memory_release.py
  tests/unit/rendering/engines/test_engine_parity.py
  tests/unit/rendering/test_pipeline_injection.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

tests
  .dori/local/logs/2026-02-07.jsonl
  bengal/parsing/ast/types.py
  bengal/parsing/ast/utils.py
  tests/conftest.py
  tests/integration/test_ast_pipeline.py
  tests/integration/test_autodoc_cache_self_healing.py
  tests/integration/test_config_system_integration.py
  tests/integration/test_error_handling_consolidation.py
  tests/integration/test_full_to_incremental_sequence.py
  tests/integration/test_hashable_page_deduplication.py
  tests/integration/test_incremental_cache_stability.py
  tests/integration/test_incremental_observability.py
  tests/integration/test_incremental_output_formats.py
  tests/integration/test_llm_txt_integration.py
  tests/integration/test_logging_integration.py
  tests/integration/test_phase2b_cache_integration.py
  tests/integration/test_phase2c2_incremental_tags.py
  tests/integration/test_product.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: fix env leak in test_env_sets_full_style
  .dori/local/logs/2026-02-07.jsonl
  tests/unit/utils/test_traceback_config.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

orchestration: promote PageProxy to full Page in phase_update_site_pages
  bengal/orchestration/build/rendering.py
  tests/integration/test_incremental_output_formats.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: fix incremental tag term page generation
  bengal/orchestration/taxonomy.py
  tests/integration/test_phase2c2_incremental_tags.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: detect template changes and trigger incremental rebuilds
  bengal/orchestration/build/provenance_filter.py
  tests/integration/test_full_to_incremental_sequence.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: fix CI failures from missing module, wrong kwarg, and unimplemented gaps
  bengal/debug/__init__.py
  tests/integration/core/test_page_frontmatter.py
  tests/integration/debug/test_debug_tools_smoke.py
  tests/integration/warm_build/test_dependency_gaps.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix
  .dori/events/20acd174.json
  .dori/events/93860e40.json
  .dori/events/a1bd4226.json
  .dori/events/b10d9837.json
  .dori/local/logs/2026-02-06.jsonl
  .dori/local/logs/2026-02-07.jsonl
Due: none

core: fix undefined name references in site and sitemap
  bengal/core/site/__init__.py
  bengal/postprocess/sitemap.py
Due: ty, block-legacy-cli-imports

core: annotate mutable class defaults with ClassVar
  .dori/local/logs/2026-02-07.jsonl
  bengal/cli/dashboard/widgets/phase_plan.py
  bengal/cli/dashboard/widgets/phase_progress.py
  bengal/cli/dashboard/widgets/quick_action.py
  bengal/config/validators.py
  bengal/core/nav_tree.py
  bengal/debug/base.py
  bengal/debug/config_inspector.py
  bengal/health/validators/accessibility.py
  bengal/health/validators/autodoc.py
  bengal/orchestration/feature_detector.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/rendering/api_doc_enhancer.py
  bengal/rendering/plugins/badges.py
  bengal/server/build_trigger.py
  bengal/server/live_reload.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
