Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

docs(templates): update README to reflect .prose-only typography system
  bengal/themes/default/templates/README.md
Due: none

fix
  .github/workflows/pages.yml
Due: none

ok
  bengal/core/asset.py
Due: block-legacy-cli-imports

fix
  bengal/core/asset.py
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/components/author-page.css
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/assets/css/components/dropdowns.css
  bengal/themes/default/assets/css/components/meta.css
  bengal/themes/default/assets/css/components/pagination.css
  bengal/themes/default/assets/css/components/tags.css
  bengal/themes/default/assets/css/layouts/resume.css
  bengal/themes/default/assets/css/style.css
  scripts/fix-css-nesting-simple.py
  scripts/fix-css-nesting.py
Due: block-legacy-cli-imports

updates
  .github/workflows/pages-preview.yml
  .github/workflows/pages.yml
  bengal/orchestration/build.py
  bengal/themes/default/templates/tags.html
Due: block-legacy-cli-imports

cli
  .github/workflows/pages-preview.yml
  .github/workflows/pages.yml
Due: none

js
  bengal/themes/default/assets/js/IMPROVEMENTS.md
  bengal/themes/default/assets/js/action-bar.js
  bengal/themes/default/assets/js/copy-link.js
  bengal/themes/default/assets/js/data-table.js
  bengal/themes/default/assets/js/interactive.js
  bengal/themes/default/assets/js/lightbox.js
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/assets/js/search-page.js
  bengal/themes/default/assets/js/search.js
  bengal/themes/default/assets/js/toc.js
  bengal/themes/default/assets/js/utils.js
  bengal/themes/default/templates/base.html
Due: none

test
  bengal/core/asset.py
  tests/unit/core/test_asset_css_bundling.py
Due: block-legacy-cli-imports

updates
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/assets/js/utils.js
  tests/unit/core/test_asset_processing.py
Due: none

remove lightning
  DEV_VS_PRODUCTION_ASSETS.md
  bengal/core/asset.py
  bengal/themes/default/assets/js/search.js
  check_typography.py
  production.css
  pyproject.toml
Due: block-legacy-cli-imports

assets
  bengal/core/asset.py
Due: block-legacy-cli-imports

fixes
  bengal/core/asset.py
  bengal/themes/default/assets/js/action-bar.js
  bengal/themes/default/assets/js/search.js
  bengal/themes/default/assets/js/toc.js
  bengal/themes/default/assets/js/utils.js
Due: block-legacy-cli-imports

fix(css): correct @supports syntax to use property-value pairs for W3C validation
  bengal/themes/default/assets/css/components/archive.css
  bengal/themes/default/assets/css/components/author-page.css
  bengal/themes/default/assets/css/components/author.css
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/assets/css/components/buttons.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/empty-state.css
  bengal/themes/default/assets/css/components/navigation.css
  bengal/themes/default/assets/css/components/share.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/css/layouts/resume.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/css/utilities/fluid-blobs.css
Due: none

progress
  .github/workflows/pages.yml
  DEV_VS_PRODUCTION_ASSETS.md
  bengal/assets/manifest.py
  bengal/cli/__init__.py
  bengal/cli/commands/assets.py
  bengal/cli/commands/build.py
  bengal/core/asset.py
  bengal/orchestration/asset.py
  bengal/rendering/template_engine.py
  changelog.md
  plan/active/plan-css-pipeline-sync.md
  plan/implemented/plan-css-pipeline-sync.md
  site/content/cli/_index.md
  site/content/cli/assets/_index.md
  site/content/cli/assets/build.md
  site/content/cli/assets/status.md
  site/content/cli/site/build.md
  site/content/cli/utils/assets/status.md
  tests/integration/test_assets_manifest.py
  tests/integration/test_cli_output_integration.py
  tests/unit/assets/test_manifest.py
  tests/unit/core/test_asset_processing.py
  tests/unit/rendering/test_asset_url_baseurl.py
Due: block-string-based-click-cls, block-legacy-cli-imports

update
  bengal/core/asset.py
Due: block-legacy-cli-imports

remove
  .github/workflows/pages-preview.yml
Due: none

update
  plan/active/css-rewrite-analysis.md
  site/config/environments/production.yaml
Due: none

test
  .github/workflows/pages.yml
Due: none

updates
  .github/workflows/pages.yml
  bengal/config/directory_loader.py
  tests/unit/config/test_directory_loader.py
Due: block-legacy-cli-imports

css minifier redo
  bengal/core/asset.py
  bengal/utils/css_minifier.py
  site/config/environments/production.yaml
  tests/unit/core/test_asset_processing.py
Due: block-legacy-cli-imports

fingerprint off
  site/config/environments/production.yaml
Due: none

fingerprint
  bengal/core/asset.py
  bengal/rendering/template_engine.py
  site/config/environments/production.yaml
Due: block-legacy-cli-imports

css fixes
  bengal/utils/css_minifier.py
  plan/active/css-minification-triage.md
  scripts/analyze_css_minifier_issues.py
  scripts/compare_css_minification.py
  scripts/test_css_minification.py
  scripts/test_css_syntax_validation.py
  site/config/environments/local.yaml
  site/config/environments/production.yaml
  tests/unit/core/test_asset_processing.py
Due: block-legacy-cli-imports

fixes
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/js/interactive.js
  bengal/themes/default/assets/js/lightbox.js
  hosted-css.css
  production.css
Due: none

fixes
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/js/interactive.js
  bengal/themes/default/assets/js/lightbox.js
  bengal/themes/default/assets/js/main.js
Due: none

updates
  bengal/themes/default/assets/css/components/action-bar.css
Due: none

cli: add unified helpers for error handling, site loading, and traceback config; refactor serve and health commands
  bengal/cli/base.py
  bengal/cli/commands/health.py
  bengal/cli/commands/serve.py
  bengal/cli/helpers/__init__.py
  bengal/cli/helpers/error_handling.py
  bengal/cli/helpers/site_loader.py
  bengal/cli/helpers/traceback.py
  plan/active/cli-refinement-analysis.md
  tests/_testing/cli_helpers.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: fix traceback configuration order - configure before site loading
  bengal/cli/commands/build.py
  bengal/cli/commands/serve.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: standardize CLIOutput usage across all commands
  bengal/cli/commands/autodoc.py
  bengal/cli/commands/build.py
  bengal/cli/commands/config.py
  bengal/cli/commands/health.py
  bengal/cli/commands/new.py
  bengal/cli/helpers/__init__.py
  bengal/cli/helpers/cli_output.py
  plan/active/cli-refinement-analysis.md
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: extract duplicate code patterns into reusable helpers
  bengal/cli/commands/autodoc.py
  bengal/cli/commands/build.py
  bengal/cli/helpers/__init__.py
  bengal/cli/helpers/cli_app_loader.py
  bengal/cli/helpers/validation.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: add command metadata system for discovery and documentation
  bengal/cli/commands/build.py
  bengal/cli/commands/serve.py
  bengal/cli/helpers/__init__.py
  bengal/cli/helpers/metadata.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: add progress feedback to long-running operations
  bengal/cli/commands/autodoc.py
  bengal/cli/commands/config.py
  bengal/cli/commands/health.py
  bengal/cli/helpers/__init__.py
  bengal/cli/helpers/progress.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cache: refactor IndexEntry to implement Cacheable protocol
  bengal/cache/query_index.py
Due: block-legacy-cli-imports

cli: improve help text and add metadata to commands
  bengal/cli/commands/autodoc.py
  bengal/cli/commands/config.py
  bengal/cli/commands/health.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(plan): clean up low-priority and resolved plans
  plan/active/plan-css-pipeline-sync.md
  plan/active/viability-analysis-link-checker-async.md
  plan/completed/ARCHITECTURE-monolithic-2025-10-19.md
  plan/completed/bug-bash-2025-10-19.md
  plan/completed/fix-search-result-links.md
  plan/completed/timing-test-flakiness-analysis.md
  plan/completed/watchdog-made-core-2025-10-23.md
  plan/deferred/logger-health-progress-unification.md
  plan/deferred/output-system-alignment.md
  plan/deferred/rfc-config-ergonomics-v1-backward-compat.md
  plan/implemented/plan-autodoc-url-grouping.md
Due: none

cli: add metadata to new commands
  bengal/cli/commands/new.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: complete metadata for new commands (partial, theme)
  bengal/cli/commands/new.py
Due: block-string-based-click-cls, block-legacy-cli-imports

test fixes
  bengal/cli/helpers/validation.py
  bengal/core/asset.py
  bengal/rendering/template_engine.py
  tests/unit/cli/test_cli_programmatic.py
  tests/unit/health/validators/test_navigation_validator.py
Due: block-string-based-click-cls, block-legacy-cli-imports
