Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

docs(research): align TTS integration research with Bengal patterns; add AudioDirective comparison, fix config/module structure, resolve key open questions
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/plugins/directives/target.py
  bengal/themes/default/assets/css/components/code.css
  plan/active/research-elevenlabs-tts-integration.md
  site/content/docs/about/concepts/templating.md
  site/content/docs/content/organization/frontmatter.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/architecture/tooling/config.md
  site/content/docs/reference/directives/content-reuse.md
  site/content/docs/reference/directives/media.md
  site/content/docs/reference/theme-variables.md
  site/content/docs/theming/variables.md
  site/content/docs/tutorials/onboarding/from-sphinx.md
Due: block-legacy-cli-imports

docs: convert **Example** patterns to example-label directive
  bengal/themes/default/assets/css/components/target-anchor.css
  bengal/themes/default/assets/css/style.css
  tests/unit/rendering/test_target_directive.py
Due: none

fix(theme): code blocks - remove button vertical space, fix linenos border clipping, preserve copy button visibility
  bengal/themes/default/assets/css/components/code.css
  tests/unit/rendering/test_directive_registry.py
Due: none

rendering(checklist): enable interactive checkboxes; add dynamic progress bar updates
  bengal/rendering/plugins/directives/checklist.py
  bengal/themes/default/assets/css/components/checklist.css
  tests/unit/rendering/test_directive_registry.py
Due: block-legacy-cli-imports

health(validators): add AnchorValidator for explicit anchor targets and [[#anchor]] cross-references; validate duplicate IDs and broken references
  bengal/health/health_check.py
  bengal/health/validators/__init__.py
  bengal/health/validators/anchors.py
  tests/unit/health/test_anchor_validator.py
Due: block-legacy-cli-imports

docs(plan): move rfc-explicit-anchor-targets to implemented; Phases 1-3 complete
  plan/implemented/rfc-explicit-anchor-targets.md
Due: none

rendering(checklist): fix progress bar showing full at 0%; add track element
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/plugins/directives/README.md
  bengal/rendering/plugins/directives/checklist.py
  bengal/themes/default/assets/css/components/checklist.css
  bengal/themes/default/assets/css/composition/layouts.css
  site/content/docs/content/component-model.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/tutorials/migrate-from-hugo.md
Due: block-legacy-cli-imports

rendering(css): shrink tab labels with tighter padding, smaller font, and compact badges
  bengal/themes/default/assets/css/components/tabs.css
Due: none

docs(frontmatter): document nested author patterns and data registry; add authors.yaml with lbliii profile
  bengal/content_layer/__init__.py
  bengal/health/validators/anchors.py
  bengal/rendering/plugins/directives/embed.py
  bengal/rendering/plugins/directives/target.py
  bengal/rendering/plugins/directives/terminal.py
  bengal/rendering/plugins/directives/video.py
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/components/_code-embed.css
  bengal/themes/default/assets/css/components/_figure.css
  bengal/themes/default/assets/css/components/_terminal-embed.css
  bengal/themes/default/assets/css/components/_video-embed.css
  bengal/themes/default/assets/css/components/labels.css
  bengal/themes/default/assets/css/components/target-anchor.css
  plan/active/rfc-pdf-epub-export.md
  site/content/docs/content/analysis/_index.md
  site/content/docs/content/analysis/graph.md
  site/content/docs/content/organization/frontmatter.md
  site/content/docs/content/sources/autodoc.md
  site/content/docs/content/validation/_index.md
  site/data/authors.yaml
  tests/unit/health/test_anchor_validator.py
  tests/unit/rendering/test_card_options.py
  tests/unit/rendering/test_checklist_directive.py
  tests/unit/rendering/test_tab_item_options.py
  tests/unit/rendering/test_target_directive.py
Due: block-legacy-cli-imports

site: cascade author: lbliii from root index to all pages
  site/content/_index.md
Due: none

site: add authors section with lbliii author page using author.html template
  site/content/authors/_index.md
  site/content/authors/lbliii.md
Due: none

themes: add author/ type templates (list.html, single.html); site: use type: author with cascade and menu: false
  bengal/themes/default/templates/author/list.html
  bengal/themes/default/templates/author/single.html
  site/content/authors/_index.md
  site/content/authors/lbliii.md
Due: none

fix(menu): handle menu: false boolean in MenuOrchestrator; site: use hidden: true for authors section
  bengal/orchestration/menu.py
  site/content/authors/_index.md
Due: block-legacy-cli-imports

docs: retire experimental section; add official icon reference with cross-links
  bengal/themes/default/assets/css/components/widgets.css
  bengal/themes/default/templates/api-reference/list.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/cli-reference/list.html
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/index.html
  bengal/themes/default/templates/partials/content-components.html
  site/content/docs/content/authoring/_index.md
  site/content/docs/experimental/_index.md
  site/content/docs/experimental/enhanced-neumorphic.md
  site/content/docs/experimental/holo-cards.md
  site/content/docs/reference/directives/_index.md
  site/content/docs/reference/directives/formatting.md
  site/content/docs/reference/icons.md
  site/content/docs/theming/assets/_index.md
  site/content/docs/theming/themes/customize.md
Due: none

docs(plan): add RFC for template function improvements with gap analysis
  bengal/core/site/core.py
  bengal/themes/default/templates/partials/content-components.html
  bengal/utils/file_io.py
  plan/active/rfc-template-function-improvements.md
Due: block-legacy-cli-imports

docs(rfc): revise template-function-improvements with verified research; remove invalid gaps, add existing functionality references
  bengal/themes/default/templates/api-reference/list.html
  bengal/themes/default/templates/cli-reference/list.html
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/index.html
  bengal/themes/default/templates/partials/content-components.html
  plan/active/rfc-template-function-improvements.md
Due: none

themes(css): fix code block overflow for long lines in Pygments table layout; enable horizontal scrolling
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/index.html
  bengal/themes/default/templates/partials/content-components.html
Due: none

rendering: add convenience wrappers for template functions; get_section, section_pages, page_exists, word_count
  bengal/rendering/template_functions/get_page.py
  bengal/rendering/template_functions/navigation.py
  bengal/rendering/template_functions/strings.py
  bengal/themes/default/templates/changelog/list.html
  plan/active/rfc-cli-analysis-improvements.md
  plan/implemented/rfc-template-function-improvements.md
  tests/unit/template_functions/test_convenience_wrappers.py
Due: block-legacy-cli-imports

docs(templates): showcase word_count filter; add wordcount alias for Jinja compat; update docs-meta to display word counts
  bengal/rendering/template_functions/strings.py
  bengal/themes/default/templates/partials/docs-meta.html
  plan/active/rfc-cli-analysis-improvements.md
  site/content/docs/reference/template-functions.md
  site/content/docs/theming/recipes/reading-time.md
Due: block-legacy-cli-imports

analysis: add semantic link model with weighted connectivity scoring for nuanced orphan detection
  bengal/analysis/knowledge_graph.py
  bengal/analysis/link_types.py
  bengal/cli/__init__.py
  bengal/cli/commands/graph/__init__.py
  bengal/cli/commands/graph/__main__.py
  bengal/cli/commands/graph/orphans.py
  bengal/cli/commands/graph/report.py
  bengal/config/defaults.py
  bengal/health/validators/connectivity.py
  plan/active/plan-cli-analysis-improvements.md
  plan/active/rfc-cli-analysis-improvements.md
  site/content/docs/content/analysis/graph.md
  site/content/docs/reference/architecture/subsystems/health.md
  site/content/docs/reference/architecture/tooling/cli.md
Due: block-string-based-click-cls, block-legacy-cli-imports

docs: add connectivity analysis tutorial with example outputs
  site/content/docs/content/analysis/graph.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/tutorials/analyze-site-connectivity.md
Due: none

rendering(mistune): fix Pygments .hll line highlight spacing by moving newlines outside all closing spans
  bengal/rendering/parsers/mistune.py
Due: block-legacy-cli-imports

site(snippets): fix broken :::{admonition} directives; use typed directives instead
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  site/content/_snippets/prerequisites/python.md
  site/content/_snippets/warnings/breaking-change.md
  site/content/_snippets/warnings/experimental.md
Due: none

rendering(plugins): remove deprecated plugin_documentation_directives(); update README to reflect current API
  bengal/rendering/plugins/README.md
  bengal/rendering/plugins/__init__.py
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  tests/unit/rendering/test_code_block_highlighting.py
Due: block-legacy-cli-imports

tests(rendering): add comprehensive code block and line highlighting tests covering .hll newline fix, syntax variations, and edge cases
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
Due: none

refactor: remove deprecated features.py, theme features CLI, and legacy TabsDirective
  bengal/cli/commands/theme.py
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/plugins/directives/contracts.py
  bengal/rendering/plugins/directives/tabs.py
  bengal/themes/default/assets/css/components/checklist.css
  bengal/themes/default/features.py
  site/content/docs/reference/directives/layout.md
  tests/unit/rendering/directives/test_contracts.py
  tests/unit/rendering/test_directive_registration.py
  tests/unit/rendering/test_directive_registry.py
  tests/unit/theme/test_features.py
Due: block-string-based-click-cls, block-legacy-cli-imports

rendering(dropdown): add icon, badge, color options to dropdown directive; CSS support for new features
  bengal/rendering/plugins/directives/checklist.py
  bengal/rendering/plugins/directives/dropdown.py
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/checklist.css
  bengal/themes/default/assets/css/components/dropdowns.css
  site/content/docs/get-started/quickstart-themer.md
Due: block-legacy-cli-imports

rendering(dropdown): add warnings for invalid icon names and color variants
  bengal/rendering/plugins/directives/dropdown.py
Due: block-legacy-cli-imports

site(docs): add icons to all dropdown directives; update layout.md with new dropdown options
  bengal/rendering/plugins/directives/_icons.py
  bengal/rendering/plugins/directives/button.py
  bengal/rendering/plugins/directives/cards.py
  bengal/rendering/plugins/directives/dropdown.py
  site/content/docs/about/faq.md
  site/content/docs/content/authoring/_index.md
  site/content/docs/content/organization/_index.md
  site/content/docs/reference/architecture/rendering/rendering.md
  site/content/docs/reference/directives/layout.md
  site/content/docs/tutorials/_index.md
  site/content/docs/tutorials/build-a-blog.md
  site/content/docs/tutorials/onboarding/from-docusaurus.md
  site/content/docs/tutorials/onboarding/from-sphinx.md
  site/content/docs/tutorials/swizzle-default-theme.md
  site/content/releases/0.1.4.md
Due: block-legacy-cli-imports

site(docs): fix invalid icon names in card and tab directives
  site/content/docs/content/component-model.md
  site/content/docs/reference/architecture/core/content-types.md
  site/content/docs/reference/architecture/meta/testing.md
  site/content/docs/reference/architecture/rendering/rendering.md
  site/content/docs/reference/architecture/subsystems/autodoc.md
  site/content/docs/tutorials/onboarding/_index.md
Due: none

docs(tutorials): add troubleshooting dropdowns for command not found, Python version, and permission errors
  site/content/docs/tutorials/_index.md
Due: none

themes(admonitions): add seealso directive styling with arrow list markers
  bengal/rendering/parsers/mistune.py
  bengal/themes/default/assets/css/components/admonitions.css
  site/content/docs/tutorials/_index.md
Due: block-legacy-cli-imports

docs(installation): convert troubleshooting sections to collapsible dropdowns
  site/content/docs/get-started/installation.md
  tests/unit/rendering/test_code_block_highlighting.py
Due: none

themes(admonitions): align seealso arrows with icon position
  bengal/themes/default/assets/css/components/admonitions.css
Due: none

rendering(dropdown): add description attribute for secondary summary text; update CSS with .dropdown-header and .dropdown-description styles
  bengal/rendering/plugins/directives/dropdown.py
  bengal/themes/default/assets/css/components/dropdowns.css
  tests/unit/rendering/test_code_block_highlighting.py
Due: block-legacy-cli-imports

css(steps): replace quote-style description with editorial deck/standfirst typography
  bengal/themes/default/assets/css/components/steps.css
  tests/unit/rendering/test_code_block_highlighting.py
Due: none

steps: make step numbers anchor links instead of pseudo-elements; hide clipped heading anchors
  bengal/rendering/plugins/directives/steps.py
  bengal/themes/default/assets/css/components/steps.css
Due: block-legacy-cli-imports

css(steps): fix selector to hide .copy-link anchor inside step titles
  bengal/themes/default/assets/css/components/steps.css
Due: none

rendering(icons): add alert and question icon mappings; add question.svg from Phosphor
  bengal/rendering/plugins/directives/_icons.py
  bengal/themes/default/assets/icons/question.svg
  site/content/docs/content/reuse/snippets.md
  site/content/docs/reference/directives/content-reuse.md
  site/content/docs/theming/themes/customize.md
  site/content/docs/tutorials/automate-with-github-actions.md
  site/content/docs/tutorials/migrate-from-hugo.md
  site/content/docs/tutorials/scaffold-your-site.md
  site/content/docs/tutorials/swizzle-default-theme.md
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
