Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

tests: migrate computed page fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_computed_functions.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

core: extract page metadata helpers
  bengal/core/page/__init__.py
  bengal/core/page/metadata_helpers.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_page_metadata_helpers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page record fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/core/test_page_record_migration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page hashability fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/integration/test_hashable_page_deduplication.py
  tests/unit/core/test_page_hashability.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: remove legacy page cached-property fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/core/test_page_cached_properties.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: remove legacy page section-reference fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_page_construction_boundary.py
  tests/unit/core/test_page_section_references.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page initializer fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/utils/test_page_initializer.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: migrate page frontmatter fixtures
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/integration/core/test_page_frontmatter.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: remove mutable page test factory
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/_testing/page_records.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

content: introduce source page runtime adapter
  bengal/content/discovery/page_adapter.py
  bengal/core/page/__init__.py
  bengal/core/page/legacy.py
  bengal/core/page/runtime.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/unit/content/test_page_adapter.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: delete legacy page class
  bengal/core/page/legacy.py
  changelog.d/page-import-coupling.changed.md
  plan/ROADMAP.md
  plan/epic-immutable-page-pipeline.md
  tests/rendering/parsers/test_patitas/test_page_context_directives.py
  tests/unit/content/test_page_adapter.py
  tests/unit/core/test_no_core_mixins.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: stabilize path property deadlines
  tests/unit/utils/test_paths_properties.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: archive mutable page saga
  plan/README.md
  plan/ROADMAP.md
  plan/complete/README.md
  plan/complete/epic-immutable-page-pipeline.md
Due: none

docs: archive mutable page saga
  bengal/autodoc/orchestration/index_pages.py
  bengal/autodoc/orchestration/section_builders.py
  bengal/cli/milo_app.py
  bengal/rendering/assets.py
  bengal/rendering/template_functions/openapi.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/assets/js/enhancements/tabs.js
  bengal/themes/default/templates/autodoc/openapi/endpoint.html
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/autodoc/openapi/layouts/reference.html
  bengal/themes/default/templates/autodoc/openapi/list.html
  bengal/themes/default/templates/autodoc/openapi/partials/code-samples.html
  bengal/themes/default/templates/autodoc/openapi/partials/param-row.html
  bengal/themes/default/templates/autodoc/openapi/partials/request-body.html
  bengal/themes/default/templates/autodoc/openapi/partials/responses.html
  bengal/themes/default/templates/autodoc/openapi/partials/schema-viewer.html
  bengal/themes/default/templates/autodoc/openapi/partials/sidebar-nav.html
  bengal/themes/default/templates/autodoc/openapi/schema.html
  bengal/themes/default/templates/autodoc/openapi/section-index.html
  changelog.d/cli-help-startup.fixed.md
  changelog.d/openapi-autodoc-reference.changed.md
  plan/epic-ux-sharp-edges.md
  site/content/docs/content/sources/autodoc.md
  site/content/docs/theming/recipes/template-views.md
  tests/unit/autodoc/test_index_pages.py
  tests/unit/cli/test_milo_parser_construction.py
  tests/unit/rendering/template_functions/test_openapi_filters.py
  tests/unit/rendering/test_autodoc_layout_contract.py
  tests/unit/rendering/test_kida_asset_url.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ci: fix fast-check failures
  bengal/cli/milo_app.py
  tests/unit/core/test_site_caching.py
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor(core): delete vestigial rendering forwarders from page.computed
  bengal/core/page/computed.py
  tests/unit/core/test_computed_functions.py
  tests/unit/rendering/test_page_content.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): generate individual OpenAPI endpoint pages (epic Phase 1)
  bengal/autodoc/orchestration/orchestrator.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/rendering/template_functions/openapi.py
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/partials/endpoint-header.html
  bengal/themes/default/templates/autodoc/openapi/partials/param-row.html
  bengal/themes/default/templates/autodoc/openapi/partials/request-body.html
  bengal/themes/default/templates/autodoc/openapi/partials/responses.html
  tests/unit/autodoc/test_openapi_virtual_pages.py
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(patitas): complete directive render-cache key to stop collisions
  bengal/parsing/backends/patitas/renderers/directives.py
  tests/migration/test_directive_cache_key.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

perf(bench): free-threading A/B + cross-SSG harness with committed baselines
  benchmarks/baselines/.gitignore
  benchmarks/baselines/SPEEDUP.md
  benchmarks/baselines/cross_ssg.json
  benchmarks/baselines/gil_speedup.json
  benchmarks/benchmark_cross_ssg.py
  benchmarks/benchmark_gil_speedup.py
  benchmarks/benchmark_peak_rss.py
  benchmarks/generate_speedup_report.py
Due: ty

chore: add changelog fragment + memoize slot lookup (PR review)
  bengal/parsing/backends/patitas/renderers/directives.py
  changelog.d/directive-cache-key-collision.fixed.md
Due: ty, block-legacy-cli-imports

chore(bench): address PR review comments
  benchmarks/benchmark_cross_ssg.py
  benchmarks/benchmark_gil_speedup.py
  benchmarks/benchmark_peak_rss.py
Due: ty

fix(autodoc): nest untagged OpenAPI endpoints under tags/default + changelog
  bengal/autodoc/orchestration/page_builders.py
  changelog.d/openapi-endpoint-pages.changed.md
  tests/unit/autodoc/test_openapi_virtual_pages.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(patitas): complete directive render-cache key to stop collisions (P1) (#298)
  bengal/parsing/backends/patitas/renderers/directives.py
  changelog.d/directive-cache-key-collision.fixed.md
  tests/migration/test_directive_cache_key.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

perf(bench): free-threading A/B + cross-SSG harness with committed baselines (#299)
  benchmarks/baselines/.gitignore
  benchmarks/baselines/SPEEDUP.md
  benchmarks/baselines/cross_ssg.json
  benchmarks/baselines/gil_speedup.json
  benchmarks/benchmark_cross_ssg.py
  benchmarks/benchmark_gil_speedup.py
  benchmarks/benchmark_peak_rss.py
  benchmarks/generate_speedup_report.py
Due: ty

feat(autodoc): individual OpenAPI endpoint pages (epic Phase 1) (#297)
  bengal/autodoc/orchestration/orchestrator.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/rendering/template_functions/openapi.py
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/partials/endpoint-header.html
  bengal/themes/default/templates/autodoc/openapi/partials/param-row.html
  bengal/themes/default/templates/autodoc/openapi/partials/request-body.html
  bengal/themes/default/templates/autodoc/openapi/partials/responses.html
  changelog.d/openapi-endpoint-pages.changed.md
  tests/unit/autodoc/test_openapi_virtual_pages.py
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): finish OpenAPI Phase 2 — sidebar active-state, Kida components, multi-tag
  bengal/autodoc/orchestration/page_builders.py
  bengal/autodoc/orchestration/section_builders.py
  bengal/rendering/template_functions/openapi.py
  bengal/themes/default/templates/autodoc/openapi/_components.html
  bengal/themes/default/templates/autodoc/openapi/_schema.html
  bengal/themes/default/templates/autodoc/openapi/endpoint.html
  bengal/themes/default/templates/autodoc/openapi/partials/sidebar-nav.html
  bengal/themes/default/templates/autodoc/openapi/schema.html
  changelog.d/openapi-autodoc-phase2.changed.md
  tests/unit/autodoc/test_openapi_virtual_pages.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(autodoc): finish OpenAPI Phase 2 — sidebar active-state, Kida components, multi-tag (#300)
  bengal/autodoc/orchestration/page_builders.py
  bengal/autodoc/orchestration/section_builders.py
  bengal/rendering/template_functions/openapi.py
  bengal/themes/default/templates/autodoc/openapi/_components.html
  bengal/themes/default/templates/autodoc/openapi/_schema.html
  bengal/themes/default/templates/autodoc/openapi/endpoint.html
  bengal/themes/default/templates/autodoc/openapi/partials/sidebar-nav.html
  bengal/themes/default/templates/autodoc/openapi/schema.html
  changelog.d/openapi-autodoc-phase2.changed.md
  tests/unit/autodoc/test_openapi_virtual_pages.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

perf(bench): honest baselines, full phase ledger, CI speed-gate mode
  benchmarks/README.md
  benchmarks/baselines/PHASE_ATTRIBUTION.md
  benchmarks/baselines/phase_attribution.json
  benchmarks/benchmark_gil_speedup.py
  benchmarks/test_build.py
  benchmarks/test_import_overhead.py
  bengal/utils/observability/performance_collector.py
  site/content/docs/about/benchmarks.md
Due: ty, block-legacy-cli-imports

fix(render): byte-reproducible builds + fast asset extraction
  bengal/orchestration/related_posts.py
  bengal/rendering/asset_audit.py
  bengal/rendering/asset_extractor.py
  bengal/rendering/template_functions/taxonomies.py
  tests/unit/rendering/test_asset_extractor_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(plan): performance epic — prioritized goal, findings, honest corrections
  plan/README.md
  plan/ROADMAP.md
  plan/epic-performance.md
Due: none

docs(changelog): news fragments for reproducible builds + fast asset extraction
  changelog.d/fast-asset-extraction.changed.md
  changelog.d/reproducible-builds.fixed.md
Due: none

perf: honest baselines, byte-reproducible builds, fast asset extraction + the free-threading scaling diagnosis (#301)
  benchmarks/README.md
  benchmarks/baselines/PHASE_ATTRIBUTION.md
  benchmarks/baselines/phase_attribution.json
  benchmarks/benchmark_gil_speedup.py
  benchmarks/test_build.py
  benchmarks/test_import_overhead.py
  bengal/orchestration/related_posts.py
  bengal/rendering/asset_audit.py
  bengal/rendering/asset_extractor.py
  bengal/rendering/template_functions/taxonomies.py
  bengal/utils/observability/performance_collector.py
  changelog.d/fast-asset-extraction.changed.md
  changelog.d/reproducible-builds.fixed.md
  plan/README.md
  plan/ROADMAP.md
  plan/epic-performance.md
  site/content/docs/about/benchmarks.md
  tests/unit/rendering/test_asset_extractor_parity.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(plan): RFC for free-threading render scaling — investigation, held pending validation
  plan/rfc-frozen-render-world.md
Due: none

docs(plan): RFC for free-threading render scaling — investigation, held pending validation (#302)
  plan/rfc-frozen-render-world.md
Due: none

perf(render): parallelize the post-render asset audit (big win for content-heavy sites)
  bengal/rendering/asset_audit.py
  changelog.d/parallel-asset-audit.changed.md
Due: ty, block-legacy-cli-imports

perf(render): parallelize the post-render asset audit (big win for content-heavy sites) (#303)
  bengal/rendering/asset_audit.py
  changelog.d/parallel-asset-audit.changed.md
Due: ty, block-legacy-cli-imports
