Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

docs(architecture): add comprehensive content processing API reference
  architecture/content-processing-api.md
Due: none

config(theme): document actually implemented settings only
  bengal.toml.example
  config.example/_default/theme.yaml
  site/config/_default/theme.yaml
Due: none

feat(cli): generate content.yaml, theme.yaml, params.yaml in bengal new
  bengal/cli/commands/new.py
Due: block-string-based-click-cls, block-legacy-cli-imports

config(site): expand content and theme config with all available options
  site/config/_default/content.yaml
  site/config/_default/theme.yaml
Due: none

refactor(config): clarify features.yaml scope and remove misleading settings
  bengal/cli/commands/new.py
  config.example/_default/features.yaml
  config.example/_default/theme.yaml
  site/config/_default/content.yaml
  site/config/_default/features.yaml
Due: block-string-based-click-cls, block-legacy-cli-imports

config(features): add syntax_highlighting to feature mappings
  config.example/_default/features.yaml
  site/config/_default/features.yaml
Due: none

config(features): add syntax_highlighting to FEATURE_MAPPINGS
  bengal/config/feature_mappings.py
Due: block-legacy-cli-imports

docs(pr-48): add comprehensive PR description, update changelog, document syntax_highlighting limitation
  CHANGELOG.md
  bengal/config/feature_mappings.py
  plan/PR-48-description.md
Due: block-legacy-cli-imports

Update bengal/rendering/renderer.py
  bengal/rendering/renderer.py
Due: block-legacy-cli-imports

pages update
  .github/workflows/pages.yml
Due: none

fix
  bengal/config/directory_loader.py
  bengal/config/env_overrides.py
  bengal/config/loader.py
  tests/integration/test_config_system_integration.py
Due: block-legacy-cli-imports

config updates
  bengal/autodoc/config.py
  site/config/_default/autodoc.yaml
  site/content/cli/config/_index.md
  site/content/cli/config/diff.md
  site/content/cli/config/doctor.md
  site/content/cli/config/init.md
  site/content/cli/config/show.md
  site/content/cli/health/linkcheck.md
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/site.md
  site/content/cli/new/theme.md
  site/content/cli/site/build.md
  site/content/cli/site/serve.md
  tests/unit/autodoc/test_config.py
Due: block-legacy-cli-imports

update
  tests/unit/autodoc/test_config.py
Due: none

fix
  tests/unit/config/test_directory_loader.py
Due: none

config: enable llm_txt output by default for modern AI-native sites
  bengal/cli/commands/config.py
  bengal/cli/commands/new.py
  config.example/_default/features.yaml
  site/config/_default/features.yaml
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(getting-started): add persona-based quickstarts and enhance list-table with markdown support
  bengal/rendering/plugins/directives/list_table.py
  bengal/server/build_handler.py
  bengal/themes/default/assets/css/base/prose-content.css
  site/content/getting-started/_index.md
  site/content/getting-started/contributor-quickstart.md
  site/content/getting-started/quickstart.md
  site/content/getting-started/themer-quickstart.md
  site/content/getting-started/writer-quickstart.md
  tests/unit/rendering/test_list_table.py
  tests/unit/server/test_build_handler_reload.py
Due: block-legacy-cli-imports

server: force full rebuild on file create/delete/move events to preserve section relationships
  bengal/server/build_handler.py
Due: block-legacy-cli-imports

update
  plan/active/rfc-stable-incremental-state-management.md
  site/content/cli/config/diff.md
  site/content/cli/config/init.md
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/site.md
  site/content/cli/new/theme.md
  site/content/getting-started/_index.md
  site/content/getting-started/writer-quickstart.md
Due: none

Update bengal/server/build_handler.py
  bengal/server/build_handler.py
Due: block-legacy-cli-imports

Update plan/active/rfc-stable-incremental-state-management.md
  plan/active/rfc-stable-incremental-state-management.md
Due: none

plan
  plan/active/plan-stable-section-references.md
Due: none

core(site): add path-based section registry with O(1) lookup
  bengal/core/site.py
Due: block-legacy-cli-imports

core(page): convert _section to path-based property with lazy lookup
  bengal/core/page/__init__.py
Due: block-legacy-cli-imports

core(proxy): convert PageProxy._section to path-based property
  bengal/core/page/proxy.py
Due: block-legacy-cli-imports

fix(rendering): preserve blank lines in list-table cells for proper paragraph breaks
  bengal/orchestration/content.py
  bengal/rendering/plugins/directives/list_table.py
Due: block-legacy-cli-imports

discovery: compare section paths in cache validation, not object identity
  bengal/discovery/content_discovery.py
Due: block-legacy-cli-imports

tests(core): add unit tests for section registry infrastructure
  tests/unit/test_site_section_registry.py
Due: none

tests(core): add unit tests for path-based page section references
  bengal/core/page/__init__.py
  tests/unit/test_page_section_references.py
Due: block-legacy-cli-imports

tests(integration): add dev server section stability tests
  bengal/core/site.py
  tests/integration/test_incremental_section_stability.py
Due: block-legacy-cli-imports

tests: fix unit tests for path-based section references
  tests/unit/cache/test_query_index.py
  tests/unit/core/test_section_hashability.py
Due: none

core(config): add stable_section_references feature flag
  bengal/config/loader.py
  bengal/config/validators.py
Due: block-legacy-cli-imports

tests(integration): add section rename/move fallback tests
  tests/integration/test_incremental_section_stability.py
Due: none

tests(performance): add section registry benchmarks
  tests/performance/benchmark_section_lookup.py
Due: none

tests(integration): add full build performance regression tests
  tests/integration/test_full_build_performance.py
Due: none

docs(plan): mark Phase 2 complete with comprehensive summary
  plan/active/PHASE2_COMPLETE.md
  plan/active/plan-stable-section-references.md
Due: none

fix: address PR feedback - improve memory management and clarify comments
  bengal/core/page/__init__.py
  tests/integration/test_incremental_section_stability.py
Due: block-legacy-cli-imports

fix: update tests for path-based section references
  bengal/discovery/content_discovery.py
  tests/integration/test_hashable_page_deduplication.py
  tests/integration/test_phase2c_lazy_loading.py
  tests/unit/cache/test_query_index.py
  tests/unit/cache/test_query_index_registry.py
  tests/unit/utils/test_page_initializer.py
Due: block-legacy-cli-imports

fix: address remaining PR feedback - bound warning dict and optimize lookups
  bengal/core/page/__init__.py
  site/content/getting-started/_index.md
Due: block-legacy-cli-imports

fix: avoid premature section lookup during proxy creation
  bengal/discovery/content_discovery.py
Due: block-legacy-cli-imports
