Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

update
  bengal/config/__init__.py
  bengal/config/deprecation.py
  bengal/core/page/metadata.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/template_engine/url_helpers.py
  tests/unit/health/validators/test_links.py
  tests/unit/rendering/test_cards_directive.py
  tests/unit/rendering/test_directive_registration.py
  tests/unit/rendering/test_directive_registry.py
  tests/unit/rendering/test_page_hero_templates.py
Due: block-legacy-cli-imports

fix
  bengal/config/env_overrides.py
  tests/unit/config/test_env_overrides.py
Due: block-legacy-cli-imports

mas fixes
  bengal/config/env_overrides.py
  tests/integration/test_config_system_integration.py
  tests/unit/config/test_config_loader_baseurl_env.py
  tests/unit/config/test_env_overrides.py
Due: block-legacy-cli-imports

final
  bengal/core/section.py
  plan/drafted/rfc-inline-version-directories.md
Due: block-legacy-cli-imports

rfc cleanup
  changelog.md
  plan/evaluated/plan-autodoc-output-prefix.md
  plan/evaluated/rfc-autodoc-output-prefix.md
  plan/evaluated/rfc-autodoc-rendering-consolidation.md
  plan/evaluated/rfc-dev-server-modernization.md
  plan/evaluated/rfc-remove-compatibility-shims.md
  plan/evaluated/rfc-theme-developer-ergonomics.md
  plan/evaluated/rfc-url-collision-detection.md
  plan/evaluated/rfc-url-ownership-architecture.md
  plan/evaluated/rfc-versioned-docs-pipeline-integration.md
  plan/ready/plan-template-error-collection.md
  plan/ready/rfc-template-error-collection.md
  plan/ready/rfc-template-functions-robustness.md
  plan/ready/rfc-version-aware-section-methods.md
Due: none

plan: remove completed RFCs (version-aware-section-methods, stats-architecture) - work documented in changelog
  plan/drafted/rfc-spaghetti-reduction.md
  plan/drafted/rfc-stats-architecture.md
  plan/drafted/rfc-version-aware-section-methods.md
  plan/ready/rfc-islands-architecture.md
Due: none

plan: remove completed RFC (remove-compatibility-shims) - all 3 shims verified removed from codebase
  bengal/core/section.py
  plan/drafted/rfc-remove-compatibility-shims.md
Due: block-legacy-cli-imports

plan: remove completed RFCs (explain-page, versioned-documentation) - both fully implemented and working
  plan/drafted/rfc-explain-page.md
  plan/drafted/rfc-versioned-documentation.md
Due: none

orchestration: parallelize phase_track_assets for 3-4x speedup on multi-core systems; tests: add unit tests for parallel asset tracking
  bengal/core/page/proxy.py
  bengal/orchestration/build/rendering.py
  bengal/server/utils.py
  changelog.md
  plan/drafted/plan-code-smell-remediation.md
  plan/drafted/plan-unified-url-model.md
  plan/drafted/plan-url-ownership-architecture.md
  plan/drafted/plan-version-scoped-search.md
  plan/drafted/rfc-pageproxy-transparency-contract.md
  plan/drafted/rfc-version-scoped-search.md
  plan/drafted/rfc-versioning-ux-improvements.md
  plan/evaluated/plan-dev-server-modernization.md
  plan/ready/plan-pageproxy-transparency-contract.md
  plan/ready/plan-parallelize-asset-tracking.md
  plan/ready/rfc-pageproxy-transparency-contract.md
  plan/ready/rfc-search-autodoc-demotion.md
  tests/integration/test_incremental_output_formats.py
  tests/unit/core/test_page_proxy.py
  tests/unit/orchestration/build/test_rendering.py
Due: block-legacy-cli-imports

server: remove unused BENGAL_DEV_SERVER_V2 feature flag; plan: delete completed dev server modernization plan; docs: add dev server modernization to changelog
  bengal/rendering/template_functions/version_url.py
  tests/integration/test_incremental_output_formats.py
  tests/unit/rendering/template_functions/test_version_url.py
Due: block-legacy-cli-imports

core(page): add PageProxy.plain_text delegate; tests: add unit and integration coverage for transparency contract
  plan/ready/plan-pageproxy-transparency-contract.md
Due: none

cache: fix PageProxy creation by using computed slug; add is_virtual delegate; fix cache path lookup
  bengal/core/page/__init__.py
  bengal/core/page/proxy.py
  bengal/discovery/content_discovery.py
Due: block-legacy-cli-imports

docs(plan): draft RFC for sitemap hreflang O(n²) to O(n) optimization via translation index
  bengal/core/page/proxy.py
  plan/drafted/rfc-sitemap-hreflang-optimization.md
  plan/ready/rfc-pageproxy-transparency-contract.md
  plan/ready/rfc-parallelize-asset-tracking.md
  plan/ready/rfc-postprocess-optimization.md
  tests/integration/test_incremental_output_formats.py
Due: block-legacy-cli-imports

tests: add PageProxy contract tests for incremental builds; add normalize_core_paths delegate to proxy
  plan/ready/plan-versioned-docs-pipeline-integration.md
  tests/integration/test_incremental_output_formats.py
Due: none

docs(plan): add sitemap hreflang optimization plan from RFC; move RFC to evaluated
  bengal/cache/dependency_tracker.py
  bengal/rendering/plugins/cross_references.py
  plan/drafted/plan-sitemap-hreflang-optimization.md
  plan/evaluated/rfc-sitemap-hreflang-optimization.md
Due: block-legacy-cli-imports

postprocess(sitemap): optimize hreflang processing from O(n²) to O(n) via translation index
  bengal/orchestration/incremental/change_detector.py
  bengal/postprocess/sitemap.py
  bengal/rendering/parsers/mistune/__init__.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
  tests/unit/postprocess/test_sitemap_generator.py
Due: block-legacy-cli-imports

plan: remove completed sitemap-hreflang-optimization plan
  plan/drafted/plan-sitemap-hreflang-optimization.md
Due: none

tests(postprocess): add edge case tests for sitemap translation index
  bengal/cli/commands/serve.py
  tests/unit/cache/test_dependency_tracker.py
  tests/unit/postprocess/test_sitemap_generator.py
Due: block-string-based-click-cls, block-legacy-cli-imports

orchestration: implement versioned docs pipeline integration phases 2-3
  bengal/core/site/core.py
  bengal/orchestration/incremental/change_detector.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/server/build_executor.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  tests/unit/orchestration/incremental/test_change_detector.py
  tests/unit/server/test_build_trigger.py
Due: block-legacy-cli-imports

postprocess(json): optimize graph connection lookup from O(n²) to O(n)
  bengal/postprocess/output_formats/json_generator.py
Due: block-legacy-cli-imports

docs: adopt AI-friendly docstring standards; remove completed RFC
  changelog.md
  plan/ready/docstring-standards.md
  plan/ready/index-page-content-standard.md
  plan/ready/index-page-examples.md
  plan/ready/plan-architecture-refactoring.md
  plan/ready/plan-autodoc-html-reset.md
  plan/ready/plan-parallelize-asset-tracking.md
  plan/ready/plan-versioned-docs-pipeline-integration.md
Due: none

docs(plan): update config-inventory RFC to reflect completed work; mark ready for deletion
  plan/ready/config-inventory.md
Due: none

output: add IconSet dataclass with ASCII-first defaults; introduce icons.py module
  bengal/output/icons.py
Due: block-legacy-cli-imports

utils(rich_console): default emoji=False; add BENGAL_EMOJI env var support
  bengal/utils/rich_console.py
Due: block-legacy-cli-imports

output(core): adopt IconSet for CLIOutput defaults; add section() helper; remove hardcoded emoji
  bengal/output/core.py
Due: block-legacy-cli-imports

orchestration(postprocess): route section header through CLIOutput; remove raw print
  bengal/orchestration/postprocess.py
Due: block-legacy-cli-imports

orchestration(stats/display): replace emoji headers with sentence case; use IconSet for performance grades
  bengal/orchestration/stats/display.py
Due: block-legacy-cli-imports

orchestration(summary): remove emoji from status messages; use sentence case; keep cat branding
  bengal/orchestration/summary.py
Due: block-legacy-cli-imports

docs(output): add CLI output conventions documentation
  bengal/output/README.md
Due: none

retro: complete CLI output experience RFC; delete planning docs
  changelog.md
  plan/ready/config-inventory.md
  plan/ready/plan-pageproxy-transparency-contract.md
  plan/ready/plan-typography-adoption.md
  plan/ready/rfc-cli-output-experience.md
Due: none

fix: eliminate remaining emoji, fix Rich markup in plain-text mode, normalize dividers and spacing
  bengal/cli/commands/build.py
  bengal/cli/output/core.py
  bengal/errors/reporter.py
  bengal/fonts/__init__.py
  bengal/health/health_check.py
  bengal/health/report.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/stats/display.py
  bengal/output/core.py
  bengal/output/dev_server.py
  bengal/server/dev_server.py
  bengal/server/pid_manager.py
  bengal/server/reload_controller.py
  bengal/server/resource_manager.py
Due: block-string-based-click-cls, block-legacy-cli-imports

polish: improve vertical spacing around section headers and prompts
  bengal/cli/commands/clean.py
  bengal/fonts/__init__.py
  bengal/orchestration/asset.py
  bengal/orchestration/postprocess.py
Due: block-string-based-click-cls, block-legacy-cli-imports

polish: add vertical spacing before warning/error log messages
  bengal/utils/logger.py
Due: block-legacy-cli-imports

polish: add level labels to log messages (Warning:, Error:)
  bengal/utils/logger.py
Due: block-legacy-cli-imports

polish: simplify clean command output
  bengal/cli/commands/clean.py
Due: block-string-based-click-cls, block-legacy-cli-imports

polish: simplify CLI output in validate and build commands
  bengal/cli/commands/build.py
  bengal/cli/commands/validate.py
Due: block-string-based-click-cls, block-legacy-cli-imports

polish: compact build stats to 4 lines instead of 21
  bengal/orchestration/stats/display.py
Due: block-legacy-cli-imports

polish: fix output alignment across build phases
  bengal/fonts/__init__.py
  bengal/fonts/downloader.py
  bengal/orchestration/build/__init__.py
Due: block-legacy-cli-imports

polish: add blank line after warning/error log messages
  bengal/utils/logger.py
  site/content/docs/reference/architecture/design-principles.md
  site/content/docs/reference/architecture/rendering/rendering.md
  site/content/docs/reference/architecture/subsystems/analysis.md
  site/content/docs/reference/architecture/subsystems/output.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/architecture/tooling/utils.md
Due: block-legacy-cli-imports
