Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

updates
  bengal/orchestration/section.py
  bengal/orchestration/taxonomy.py
Due: ty, block-legacy-cli-imports

updates
  bengal/core/cascade_snapshot.py
  bengal/core/page/metadata.py
  bengal/core/page/proxy.py
  bengal/core/site/__init__.py
  bengal/core/site/caches.py
  bengal/core/site/cascade.py
  bengal/core/site/config_normalized.py
  bengal/core/site/core.py
  bengal/core/site/data_loading.py
  bengal/core/site/discovery.py
  bengal/core/site/factory.py
  bengal/core/site/helpers.py
  bengal/core/site/operations.py
  bengal/core/site/properties.py
  bengal/core/site/section_registry.py
  bengal/core/site/validation.py
  bengal/core/site/versioning.py
  bengal/orchestration/taxonomy.py
  tests/integration/test_cascade_integration.py
  tests/unit/core/test_cascade_snapshot.py
  tests/unit/core/test_ergonomic_helpers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test updates
  bengal/parsing/backends/patitas/directives/builtins/button.py
  tests/unit/core/test_page_proxy.py
  tests/unit/rendering/test_button_directive.py
  tests/unit/rendering/test_list_table.py
  tests/unit/rendering/test_myst_tabs.py
  tests/unit/rendering/test_navigation_directives.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test
  tests/unit/rendering/test_navigation_directives.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

update
  bengal/analysis/performance/path_analysis.py
  bengal/analysis/utils/traversal.py
  bengal/build/contracts/keys.py
  bengal/content/sources/github.py
  bengal/content/sources/local.py
  bengal/directives/glossary.py
  bengal/directives/include.py
  bengal/directives/literalinclude.py
  bengal/directives/utils.py
  bengal/parsing/backends/patitas/directives/builtins/code_tabs.py
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/rendering/highlighting/deferred.py
  bengal/utils/paths/normalize.py
  bengal/utils/primitives/__init__.py
  bengal/utils/primitives/code.py
  tests/unit/analysis/test_analysis_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  bengal/analysis/graph/builder.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/build/contracts/keys.py
  bengal/build/provenance/filter.py
  bengal/build/provenance/store.py
  bengal/build/provenance/types.py
  bengal/cache/asset_dependency_map.py
  bengal/cache/generated_page_cache.py
  bengal/cache/page_discovery_cache.py
  bengal/cache/taxonomy_index.py
  bengal/cache/utils/__init__.py
  bengal/cache/utils/bidirectional.py
  bengal/cache/utils/persistence.py
  bengal/cache/utils/stats.py
  bengal/cache/utils/thread_safety.py
  bengal/cache/utils/validity.py
  bengal/directives/badge.py
  bengal/directives/cards/utils.py
  bengal/directives/embed.py
  bengal/directives/steps.py
  bengal/directives/tabs.py
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  bengal/parsing/backends/patitas/directives/builtins/embed.py
  bengal/parsing/backends/patitas/directives/builtins/inline.py
  bengal/parsing/backends/patitas/directives/builtins/steps.py
  bengal/parsing/backends/patitas/directives/builtins/tabs.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/postprocess/output_formats/utils.py
  bengal/postprocess/social_cards.py
  bengal/postprocess/xref_index.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/plugins/cross_references.py
  bengal/utils/paths/__init__.py
  bengal/utils/paths/normalize.py
  bengal/utils/paths/url_normalization.py
  bengal/utils/primitives/__init__.py
  bengal/utils/primitives/text.py
Due: ty, block-legacy-cli-imports

checkpoint
  .cursor/rules/python-compliance.mdc
  .cursor/rules/python-efficiency.mdc
  .cursor/rules/python-style.mdc
  .cursor/rules/python.mdc
  .cursor/rules/utils/atomic-commits/RULE.mdc
  bengal/analysis/content_intelligence.py
  bengal/analysis/links/patterns.py
  bengal/build/provenance/filter.py
  bengal/build/provenance/store.py
  bengal/cache/asset_dependency_map.py
  bengal/cache/content_hash_registry.py
  bengal/cache/generated_page_cache.py
  bengal/cache/page_discovery_cache.py
  bengal/cache/query_index.py
  bengal/cache/taxonomy_index.py
  bengal/cache/utils.py
  bengal/cache/utils/__init__.py
  bengal/cache/utils/bidirectional.py
  bengal/cache/utils/stats.py
  bengal/cache/utils/thread_safety.py
  bengal/cache/utils/validity.py
  bengal/core/section/navigation.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/speculation.py
  bengal/postprocess/xref_index.py
  bengal/rendering/pipeline/json_accumulator.py
  bengal/rendering/template_functions/navigation/breadcrumbs.py
  tests/unit/cache/test_asset_dependency_map.py
  tests/unit/cache/test_page_discovery_cache.py
  tests/unit/directives/test_utils.py
  tests/unit/rendering/conftest.py
  tests/unit/rendering/test_icon_directive.py
  tests/unit/utils/test_code.py
  tests/unit/utils/test_text.py
  tests/unit/utils/test_url_normalization.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  tests/unit/rendering/test_directive_optimizations.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

utils: add type introspection utilities to primitives
  bengal/utils/primitives/__init__.py
  bengal/utils/primitives/types.py
Due: ty, block-legacy-cli-imports

collections: refactor validator to use shared type and date utilities
  bengal/collections/validator.py
Due: ty, block-legacy-cli-imports

checkpoint
  bengal/cache/__init__.py
  bengal/cache/asset_dependency_map.py
  bengal/cache/cacheable.py
  bengal/cache/generated_page_cache.py
  bengal/cache/page_discovery_cache.py
  bengal/cache/taxonomy_index.py
  bengal/cli/click_extensions.py
  bengal/cli/commands/build.py
  bengal/cli/helpers/__init__.py
  bengal/cli/helpers/cli_output.py
  bengal/cli/helpers/error_display.py
  bengal/cli/helpers/error_handling.py
  bengal/cli/helpers/site_loader.py
  bengal/cli/helpers/traceback.py
  bengal/cli/helpers/validation.py
  bengal/cli/output/globals.py
  bengal/cli/utils/__init__.py
  bengal/cli/utils/errors.py
  bengal/cli/utils/logging.py
  bengal/cli/utils/output.py
  bengal/cli/utils/paths.py
  bengal/cli/utils/site.py
  bengal/cli/utils/traceback.py
  bengal/cli/utils/validation.py
  bengal/config/build_options_resolver.py
  bengal/config/utils.py
  tests/unit/cache/test_asset_dependency_map.py
  tests/unit/cache/test_generated_page_cache.py
  tests/unit/cache/test_page_discovery_cache.py
  tests/unit/cache/test_taxonomy_index.py
  tests/unit/protocols/test_canonical_imports.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

directives: use shared type utilities for Optional unwrapping
  bengal/directives/options.py
Due: ty, block-legacy-cli-imports

utils: cleanup lint issues from refactoring
  bengal/collections/validator.py
  bengal/config/directory_loader.py
  bengal/config/hash.py
  bengal/config/loader.py
  bengal/config/loader_utils.py
  bengal/config/snapshot.py
  bengal/config/unified_loader.py
  bengal/config/validation.py
  bengal/config/validators.py
  bengal/utils/primitives/types.py
Due: ty, block-legacy-cli-imports

checkpoit
  bengal/cli/click_extensions.py
  bengal/cli/commands/build.py
  bengal/cli/commands/clean.py
  bengal/cli/commands/health.py
  bengal/cli/commands/serve.py
  bengal/cli/commands/validate.py
  bengal/cli/dashboard/__main__.py
  bengal/cli/helpers/__init__.py
  bengal/cli/helpers/cli_app_loader.py
  bengal/cli/helpers/cli_output.py
  bengal/cli/helpers/error_display.py
  bengal/cli/helpers/progress.py
  bengal/cli/helpers/site_loader.py
  bengal/cli/helpers/traceback.py
  bengal/cli/helpers/validation.py
  bengal/cli/output/core.py
  bengal/cli/output/globals.py
  bengal/cli/utils/__init__.py
  bengal/cli/utils/errors.py
  bengal/cli/utils/site.py
  bengal/cli/utils/validation.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

config: remove dead _normalize_sections method and unused code
  bengal/config/loader.py
Due: ty, block-legacy-cli-imports

content_types: extract redundant code into shared utilities
  bengal/content_types/base.py
  bengal/content_types/strategies.py
  bengal/content_types/templates.py
  bengal/content_types/utils.py
Due: ty, block-legacy-cli-imports

content: extract shared utils for frontmatter, slugify, http errors
  bengal/content/discovery/content_parser.py
  bengal/content/discovery/directory_walker.py
  bengal/content/sources/github.py
  bengal/content/sources/local.py
  bengal/content/sources/notion.py
  bengal/content/sources/rest.py
  bengal/content/utils/__init__.py
  bengal/content/utils/async_parallel.py
  bengal/content/utils/constants.py
  bengal/content/utils/frontmatter.py
  bengal/content/utils/http_errors.py
  bengal/content/utils/slugify.py
Due: ty, block-legacy-cli-imports

tests: add unit tests for content_types utilities
  tests/unit/content_types/test_templates.py
  tests/unit/content_types/test_utils.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: add utils tests, fix local_source tests, remove unused shims
  bengal/content/discovery/content_discovery.py
  bengal/core/nav_tree.py
  bengal/core/page/computed.py
  bengal/core/page/content.py
  bengal/core/section/ergonomics.py
  bengal/core/section/hierarchy.py
  bengal/core/section/queries.py
  bengal/core/utils/__init__.py
  bengal/core/utils/config.py
  bengal/core/utils/sorting.py
  bengal/core/utils/text.py
  bengal/core/utils/url.py
  tests/unit/content/__init__.py
  tests/unit/content/test_content_utils.py
  tests/unit/content_layer/test_local_source.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  bengal/core/page/metadata.py
  bengal/core/section/navigation.py
  bengal/core/site/properties.py
  bengal/core/site_data.py
  bengal/debug/config_inspector.py
  bengal/debug/content_migrator.py
  bengal/debug/dependency_visualizer.py
  bengal/debug/models.py
  bengal/debug/shortcode_sandbox.py
  bengal/debug/utils.py
  bengal/directives/cards/utils.py
  bengal/directives/dropdown.py
  bengal/directives/embed.py
  bengal/directives/glossary.py
  bengal/directives/steps.py
  bengal/directives/tabs.py
  bengal/directives/utils.py
  bengal/effects/__init__.py
  bengal/effects/block_diff.py
  bengal/effects/effect.py
  bengal/effects/render_integration.py
  bengal/effects/tracer.py
  bengal/effects/utils.py
  bengal/parsing/backends/patitas/directives/builtins/steps.py
  bengal/parsing/backends/patitas/directives/builtins/tabs.py
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/parsing/backends/patitas/renderers/html.py
  bengal/parsing/backends/patitas/renderers/protocols.py
  tests/integration/debug/test_debug_tools_smoke.py
  tests/unit/debug/test_config_inspector.py
  tests/unit/debug/test_shortcode_sandbox.py
  tests/unit/debug/test_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  bengal/core/utils/__init__.py
  bengal/debug/utils.py
  bengal/directives/admonitions.py
  bengal/directives/badge.py
  bengal/directives/dropdown.py
  bengal/directives/steps.py
  bengal/effects/block_diff.py
  bengal/errors/__init__.py
  bengal/errors/aggregation.py
  bengal/errors/context.py
  bengal/errors/dev_server.py
  bengal/errors/handlers.py
  bengal/errors/reporter.py
  bengal/errors/session.py
  bengal/errors/utils.py
  bengal/fonts/__init__.py
  bengal/fonts/downloader.py
  bengal/fonts/utils.py
  bengal/health/utils.py
  bengal/health/validators/links.py
  bengal/health/validators/navigation.py
  bengal/health/validators/rendering.py
  tests/integration/debug/test_debug_tools_smoke.py
  tests/unit/core/utils/__init__.py
  tests/unit/core/utils/test_config.py
  tests/unit/core/utils/test_sorting.py
  tests/unit/core/utils/test_text.py
  tests/unit/core/utils/test_url.py
  tests/unit/debug/test_utils.py
  tests/unit/directives/test_tabs_native.py
  tests/unit/directives/test_utils.py
  tests/unit/effects/test_block_diff.py
  tests/unit/effects/test_effect.py
  tests/unit/effects/test_render_integration.py
  tests/unit/effects/test_tracer.py
  tests/unit/effects/test_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fonts: extract utils module and consolidate duplicate code
  bengal/fonts/generator.py
  bengal/health/__init__.py
  bengal/health/utils.py
  bengal/health/validators/connectivity.py
  bengal/health/validators/navigation.py
  bengal/health/validators/taxonomy.py
  bengal/orchestration/utils/__init__.py
  bengal/orchestration/utils/i18n.py
  bengal/orchestration/utils/parallel.py
  tests/unit/fonts/test_downloader.py
  tests/unit/fonts/test_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fonts: remove shims and add generator tests
  bengal/errors/context.py
  bengal/errors/handlers.py
  bengal/errors/reporter.py
  bengal/fonts/__init__.py
  bengal/fonts/downloader.py
  bengal/fonts/generator.py
  bengal/fonts/utils.py
  bengal/orchestration/asset.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/taxonomy.py
  bengal/orchestration/utils/errors.py
  bengal/orchestration/utils/virtual_pages.py
  tests/unit/fonts/test_generator.py
  tests/unit/fonts/test_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

errors: cleanup and add tests for utils module
  bengal/orchestration/asset.py
  bengal/orchestration/menu.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/section.py
  bengal/orchestration/taxonomy.py
  bengal/orchestration/utils/__init__.py
  bengal/orchestration/utils/errors.py
  bengal/orchestration/utils/parallel.py
  bengal/output/colors.py
  bengal/output/dev_server.py
  bengal/output/utils.py
  tests/unit/errors/test_utils.py
  tests/unit/health/test_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: add unit tests for health utils module
  tests/unit/health/test_utils.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

health: fix PERF401 lint in navigation validator
  bengal/health/validators/navigation.py
Due: ty, block-legacy-cli-imports

orchestration: cleanup shims and add utils tests
  bengal/orchestration/render/__init__.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/taxonomy.py
  bengal/orchestration/utils/virtual_pages.py
  tests/unit/orchestration/test_render_orchestrator_thread_cache.py
  tests/unit/orchestration/test_utils_errors.py
  tests/unit/orchestration/test_utils_i18n.py
  tests/unit/orchestration/test_utils_parallel.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  bengal/output/README.md
  bengal/output/colors.py
  bengal/output/core.py
  bengal/output/dev_server.py
  bengal/parsing/ast/utils.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/parsing/backends/patitas/accumulator.py
  bengal/parsing/backends/patitas/config.py
  bengal/parsing/backends/patitas/pool.py
  bengal/parsing/backends/patitas/render_config.py
  bengal/parsing/backends/patitas/request_context.py
  bengal/parsing/backends/patitas/utils/__init__.py
  bengal/parsing/backends/patitas/utils/contextvar.py
  bengal/parsing/backends/patitas/utils/pool.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/postprocess/output_formats/utils.py
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/postprocess/utils/__init__.py
  bengal/postprocess/utils/page_data.py
  bengal/postprocess/utils/xml.py
  bengal/rendering/assets.py
  bengal/rendering/utils/__init__.py
  bengal/rendering/utils/contextvar.py
  bengal/rendering/utils/safe_access.py
  bengal/rendering/utils/url.py
  tests/unit/output/test_utils.py
  tests/unit/postprocess/test_rss_generator.py
  tests/unit/postprocess/test_sitemap_generator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: add unit tests and fix type annotations
  bengal/postprocess/output_formats/utils.py
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/postprocess/speculation.py
  tests/unit/postprocess/test_output_formats_utils.py
  tests/unit/postprocess/test_utils_page_data.py
  tests/unit/postprocess/test_utils_xml.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  bengal/autodoc/orchestration/page_builders.py
  bengal/core/asset/asset_core.py
  bengal/directives/cards/utils.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/engines/kida.py
  bengal/rendering/jinja_utils.py
  bengal/rendering/template_engine/asset_url.py
  bengal/rendering/template_engine/url_helpers.py
  bengal/rendering/template_functions/urls.py
  bengal/rendering/template_functions/version_url.py
  bengal/rendering/template_tests.py
  bengal/rendering/utils/url.py
  bengal/server/build_trigger.py
  bengal/server/reload_controller.py
  bengal/server/request_logger.py
  bengal/services/data.py
  bengal/services/query.py
  bengal/services/theme.py
  bengal/services/utils.py
  bengal/snapshots/builder.py
  bengal/snapshots/persistence.py
  bengal/snapshots/utils.py
  tests/unit/rendering/test_jinja_utils.py
  tests/unit/rendering/utils/__init__.py
  tests/unit/rendering/utils/test_contextvar.py
  tests/unit/rendering/utils/test_safe_access.py
  tests/unit/rendering/utils/test_url.py
  tests/unit/scaffolds/test_utils.py
  tests/unit/server/test_live_reload.py
  tests/unit/server/test_server_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

themes: extract utils module for shared validation and path constants
  bengal/core/theme/config.py
  bengal/snapshots/builder.py
  bengal/snapshots/scheduler.py
  bengal/snapshots/utils.py
  bengal/themes/__init__.py
  bengal/themes/config.py
  bengal/themes/generate.py
  bengal/themes/utils.py
  tests/unit/services/test_theme_service.py
  tests/unit/services/test_utils.py
  tests/unit/themes/test_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

themes: remove shim and deduplicate palette validation
  bengal/core/theme/config.py
  bengal/themes/config.py
  bengal/themes/swizzle.py
  tests/unit/snapshots/test_utils.py
  tests/unit/utils/test_swizzle.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering,core: use THEMES_ROOT constant for bundled theme paths
  bengal/core/theme/resolution.py
  bengal/rendering/engines/kida.py
  bengal/rendering/template_engine/environment.py
  bengal/utils/paths/url_normalization.py
  tests/unit/autodoc/test_autodoc_utils.py
  tests/unit/content_types/test_content_types_utils.py
  tests/unit/debug/test_debug_utils.py
  tests/unit/directives/test_directives_utils.py
  tests/unit/effects/test_effects_utils.py
  tests/unit/errors/test_errors_utils.py
  tests/unit/fonts/test_fonts_utils.py
  tests/unit/health/test_health_utils.py
  tests/unit/orchestration/test_render_orchestrator_thread_cache.py
  tests/unit/orchestration/test_streaming_render_thread_cache.py
  tests/unit/output/test_output_utils.py
  tests/unit/parsing/patitas/test_patitas_utils.py
  tests/unit/scaffolds/test_scaffolds_utils.py
  tests/unit/services/test_services_utils.py
  tests/unit/snapshots/test_snapshots_utils.py
  tests/unit/themes/test_themes_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fixes
  bengal/cli/commands/version.py
  bengal/core/utils/text.py
  bengal/parsing/ast/utils.py
  bengal/snapshots/builder.py
  bengal/snapshots/scheduler.py
  bengal/utils/primitives/text.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

rendering: fix undefined analysis_pages in graph visualizer
  bengal/analysis/graph/visualizer.py
Due: ty, block-legacy-cli-imports

fix
  bengal/server/file_watcher.py
  bengal/server/watcher_runner.py
Due: ty, block-legacy-cli-imports

tests: fix CI failures and module naming conflicts
  bengal/orchestration/utils/parallel.py
  bengal/snapshots/utils.py
  bengal/utils/paths/url_normalization.py
  bengal/utils/primitives/code.py
  tests/unit/core/utils/test_text.py
  tests/unit/rendering/utils/test_rendering_contextvar.py
  tests/unit/rendering/utils/test_rendering_safe_access.py
  tests/unit/rendering/utils/test_rendering_url.py
  tests/unit/utils/test_text.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: fix favicon links missing in Kida templates
  bengal/core/page/proxy.py
  bengal/themes/default/templates/base.html
  tests/unit/rendering/test_favicon.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
