Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

feat: delete PageProxy, reconstruct pages from cache (#200)
  bengal/build/provenance/filter.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/cache/page_discovery_cache.py
  bengal/content/discovery/__init__.py
  bengal/content/discovery/content_discovery.py
  bengal/content/discovery/section_builder.py
  bengal/core/page/__init__.py
  bengal/core/page/page_core.py
  bengal/core/page/proxy.py
  bengal/core/page/utils.py
  bengal/core/records.py
  bengal/core/section/queries.py
  bengal/core/site/__init__.py
  bengal/health/link_registry.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/complexity.py
  bengal/orchestration/content.py
  bengal/orchestration/taxonomy.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/shortcodes.py
  bengal/themes/default/templates/SAFE_PATTERNS.md
  bengal/utils/autodoc.py
  plan/epic-immutable-page-pipeline.md
  tests/integration/test_incremental_output_formats.py
  tests/integration/test_phase2c_lazy_loading.py
  tests/unit/core/test_href_property.py
  tests/unit/core/test_page_proxy.py
  tests/unit/core/test_page_section_references.py
  tests/unit/core/test_section_page_types.py
  tests/unit/discovery/test_surgical_discovery.py
  tests/unit/orchestration/test_complexity.py
  tests/unit/postprocess/test_redirects.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: remove stale PageProxy refs, document frozen records
  bengal/orchestration/build/__init__.py
  site/content/docs/about/free-threading.md
  site/content/docs/reference/architecture/core/data-flow.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/architecture/core/orchestration.md
Due: ty, block-legacy-cli-imports

fix: exclude e2e-covered tests from integration shards
  .github/workflows/tests.yml
Due: none

fix: scale down concurrent build test in CI
  tests/integration/test_concurrent_builds.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: only spawn WriteBehindCollector for parallel builds
  .github/workflows/tests.yml
  bengal/orchestration/render/orchestrator.py
  tests/integration/test_concurrent_builds.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: resolve stale thread-local pipeline and double flush in WaveScheduler
  bengal/snapshots/scheduler.py
  tests/_testing/markers.py
  tests/conftest.py
  tests/integration/test_concurrent_builds.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: address PR review — soften immutability claim, move flush to finally
  bengal/orchestration/build/rendering.py
  site/content/docs/about/free-threading.md
Due: ty, block-legacy-cli-imports

docs: remove stale PageProxy refs, document frozen records (#201)
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/orchestrator.py
  bengal/snapshots/scheduler.py
  site/content/docs/about/free-threading.md
  site/content/docs/reference/architecture/core/data-flow.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/architecture/core/orchestration.md
  tests/_testing/markers.py
  tests/conftest.py
  tests/integration/test_concurrent_builds.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: add excerpt-break directive for author-controlled excerpt boundaries
  bengal/parsing/backends/patitas/directives/builtins/__init__.py
  bengal/parsing/backends/patitas/directives/builtins/excerpt_break.py
  bengal/parsing/backends/patitas/directives/registry.py
  bengal/parsing/backends/patitas/wrapper.py
  tests/rendering/parsers/test_patitas/test_excerpt_break.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: address PR review — remove magic number, align StringBuilder import
  bengal/parsing/backends/patitas/directives/builtins/excerpt_break.py
  bengal/parsing/backends/patitas/wrapper.py
Due: ty, block-legacy-cli-imports

feat: add excerpt-break directive for author-controlled excerpts (#202)
  bengal/parsing/backends/patitas/directives/builtins/__init__.py
  bengal/parsing/backends/patitas/directives/builtins/excerpt_break.py
  bengal/parsing/backends/patitas/directives/registry.py
  bengal/parsing/backends/patitas/wrapper.py
  tests/rendering/parsers/test_patitas/test_excerpt_break.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor: stale code refresh + reduce ty diagnostics (837 → 715)
  bengal/cli/commands/debug.py
  bengal/cli/commands/graph/__main__.py
  bengal/cli/commands/graph/bridges.py
  bengal/cli/commands/graph/common.py
  bengal/cli/commands/graph/communities.py
  bengal/cli/commands/graph/orphans.py
  bengal/cli/commands/graph/pagerank.py
  bengal/cli/commands/graph/report.py
  bengal/cli/commands/graph/suggest.py
  bengal/cli/commands/new/scaffolds.py
  bengal/cli/commands/project.py
  bengal/config/deprecation.py
  bengal/config/url_policy.py
  bengal/core/site/__init__.py
  bengal/core/version.py
  bengal/health/validators/directives/analysis.py
  bengal/protocols/core.py
  bengal/utils/observability/logger.py
  plan/epic-stale-code-refresh.md
  pyproject.toml
  uv.lock
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: resolve ty error-level diagnostics blocking CI
  bengal/cli/commands/new/scaffolds.py
  bengal/postprocess/sitemap.py
  bengal/utils/observability/logger.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: move Callable import to TYPE_CHECKING block (ruff TC003)
  bengal/cli/commands/new/scaffolds.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: address PR review comments
  bengal/cli/commands/graph/common.py
  bengal/cli/commands/graph/pagerank.py
  bengal/core/version.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: guard theme_path access in provenance filter
  bengal/orchestration/build/provenance_filter.py
Due: ty, block-legacy-cli-imports

refactor: stale code refresh + reduce ty diagnostics (837 → 715) (#203)
  bengal/cli/commands/debug.py
  bengal/cli/commands/graph/__main__.py
  bengal/cli/commands/graph/bridges.py
  bengal/cli/commands/graph/common.py
  bengal/cli/commands/graph/communities.py
  bengal/cli/commands/graph/orphans.py
  bengal/cli/commands/graph/pagerank.py
  bengal/cli/commands/graph/report.py
  bengal/cli/commands/graph/suggest.py
  bengal/cli/commands/new/scaffolds.py
  bengal/cli/commands/project.py
  bengal/config/deprecation.py
  bengal/config/url_policy.py
  bengal/core/site/__init__.py
  bengal/core/version.py
  bengal/health/validators/directives/analysis.py
  bengal/orchestration/build/provenance_filter.py
  bengal/postprocess/sitemap.py
  bengal/protocols/core.py
  plan/epic-stale-code-refresh.md
  pyproject.toml
  uv.lock
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

Release 0.2.8: immutable page pipeline, structured concurrency, excerpt-break directive
  bengal/rendering/engines/kida.py
  pyproject.toml
  tests/rendering/parsers/test_patitas/test_contextvar_downstream.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Release 0.3.0: immutable page pipeline, structured concurrency, excerpt-break directive
  pyproject.toml
  uv.lock
Due: none

docs: add 0.3.0 site release notes and changelog entry
  changelog.md
  site/content/releases/0.3.0.md
Due: none

docs: fold unshipped 0.2.7 into 0.3.0 release notes and changelog
  changelog.md
  site/content/releases/0.2.7.md
  site/content/releases/0.3.0.md
Due: none

fix: use per-item `as` binding in parenthesized with statement
  tests/rendering/parsers/test_patitas/test_contextvar_downstream.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Release 0.3.0 (#204)
  bengal/rendering/engines/kida.py
  changelog.md
  pyproject.toml
  site/content/releases/0.2.7.md
  site/content/releases/0.3.0.md
  tests/rendering/parsers/test_patitas/test_contextvar_downstream.py
  uv.lock
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

plan: draft i18n production readiness epic (Sprint 0 complete)
  plan/epic-i18n-production-readiness.md
Due: none

i18n: add nt() plural translation + complete I18nConfig schema
  bengal/config/types.py
  bengal/rendering/adapters/generic.py
  bengal/rendering/adapters/kida.py
  bengal/rendering/template_functions/i18n.py
  tests/unit/rendering/test_i18n_template_functions.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

i18n: add RTL navigation support + bidi text isolation
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/navigation.css
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/navigation-components.html
  tests/integration/test_i18n_rtl.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

i18n: add test hardening for plurals, RTL, and config validation (Sprint 4)
  plan/epic-i18n-production-readiness.md
  tests/integration/test_i18n_rtl.py
  tests/unit/config/test_i18n_config.py
  tests/unit/rendering/test_i18n_template_functions.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: update i18n guides with nt(), RTL bidi, and config reference (Sprint 5)
  plan/epic-i18n-production-readiness.md
  site/content/docs/content/i18n.md
  site/content/docs/content/i18n/_index.md
  site/content/docs/content/i18n/quickstart.md
  site/content/docs/content/i18n/rtl.md
  site/content/docs/content/i18n/translator-guide.md
Due: none

fix: address PR review — nt() fallback, CSS truncation hack, test & plan accuracy
  bengal/rendering/template_functions/i18n.py
  bengal/themes/default/assets/css/components/reference-docs.css
  plan/epic-i18n-production-readiness.md
  tests/unit/rendering/test_i18n_template_functions.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat: improve agent score — fix llms.txt, add .md output, reorder DOM
  bengal/config/feature_mappings.py
  bengal/config/snapshot.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/output_formats/llms_txt_generator.py
  bengal/postprocess/output_formats/md_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/postprocess/output_formats/utils.py
  bengal/themes/default/templates/base.html
  site/config/_default/outputs.yaml
Due: ty, block-legacy-cli-imports, check-template-css

fix: update integration tests to expect full URLs with baseurl
  tests/integration/test_llm_txt_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: address PR review — smarter H1 strip, O(1) truncation, add tests
  bengal/config/feature_mappings.py
  bengal/postprocess/output_formats/llms_txt_generator.py
  bengal/postprocess/output_formats/md_generator.py
  tests/unit/postprocess/test_llms_txt.py
  tests/unit/postprocess/test_md_generator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: enable per-page markdown output by default
  bengal/config/defaults.py
  bengal/config/snapshot.py
  bengal/postprocess/output_formats/__init__.py
Due: ty, block-legacy-cli-imports

fix: guard markdown alternate link against undefined page.href
  bengal/themes/default/templates/base.html
Due: check-template-css

feat: improve agent score — fix llms.txt, add .md output, reorder DOM (#206)
  bengal/config/defaults.py
  bengal/config/feature_mappings.py
  bengal/config/snapshot.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/output_formats/llms_txt_generator.py
  bengal/postprocess/output_formats/md_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/postprocess/output_formats/utils.py
  bengal/themes/default/templates/base.html
  site/config/_default/outputs.yaml
  tests/integration/test_llm_txt_integration.py
  tests/unit/postprocess/test_llms_txt.py
  tests/unit/postprocess/test_md_generator.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat: improve agent score — content negotiation, DOM reorder, md parity
  bengal/postprocess/output_formats/md_generator.py
  bengal/server/asgi_app.py
  bengal/themes/default/templates/base.html
  site/config/_default/features.yaml
Due: ty, block-legacy-cli-imports, check-template-css

fix: parse Accept q-values and add tests for review feedback
  bengal/server/asgi_app.py
  tests/unit/postprocess/test_md_generator.py
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: improve agent score — content negotiation, DOM reorder, md parity (#207)
  bengal/postprocess/output_formats/md_generator.py
  bengal/server/asgi_app.py
  bengal/themes/default/templates/base.html
  site/config/_default/features.yaml
  tests/unit/postprocess/test_md_generator.py
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
