Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

docs: document search link fix in changelog and planning docs
  CHANGELOG.md
  plan/completed/fix-search-result-links.md
Due: none

style: apply pre-commit formatting fixes (function spacing, trailing newlines)
  bengal/themes/default/assets/js/search.js
Due: none

themes(css): add responsive overflow handling for autodoc reference metadata paths
  bengal/themes/default/assets/css/components/reference-docs.css
Due: none

themes(css): fix autodoc reference metadata to use proper theme-aware color tokens
  bengal/themes/default/assets/css/components/reference-docs.css
Due: none

themes(palettes): add variant-specific code color tokens for autodocs
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
Due: none

themes(palettes+dropdowns): add variant-specific accent colors and fix hardcoded dropdown colors
  bengal/themes/default/assets/css/components/dropdowns.css
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
Due: none

updates
  bengal/autodoc/extractors/python.py
  bengal/themes/default/assets/css/components/dropdowns.css
Due: block-legacy-cli-imports

autodoc: escape quotes in YAML descriptions to fix frontmatter parsing and template selection
  bengal/autodoc/templates/cli/command.md.jinja2
  bengal/autodoc/templates/python/module.md.jinja2
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/theme.md
Due: none

docs(rfc): pristine HTML outputs — formatter design, integration points, config, safety, tests
  plan/active/rfc-pristine-html-output.md
Due: none

rendering: add safe HTML formatter (raw/pretty/minify) + integrate before write; config: add [html_output] defaults; tests: add formatter coverage
  bengal.toml.example
  bengal/config/loader.py
  bengal/postprocess/html_output.py
  bengal/rendering/pipeline.py
  tests/unit/test_html_output_formatter.py
Due: block-legacy-cli-imports

postprocess(html): avoid stripping trailing spaces in protected regions; keep only terminal newline normalization
  bengal/postprocess/html_output.py
Due: block-legacy-cli-imports

docs: document HTML formatter config and per-page no_format; changelog entry
  CHANGELOG.md
  README.md
Due: none

docs(cli): normalize EOL and whitespace in CLI docs pages via pre-commit hooks
  bengal/autodoc/templates/cli/command-group.md.jinja2
  bengal/autodoc/templates/cli/command.md.jinja2
  bengal/autodoc/templates/python/module.md.jinja2
  bengal/postprocess/html_output.py
  tests/unit/test_html_output_formatter.py
Due: block-legacy-cli-imports

update
  site/bengal.toml
Due: none

theme(default): a11y + UX improvements — dropdown semantics; mobile nav focus trap; inert background; dynamic footer year; remove circular shadow aliases
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/js/mobile-nav.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/theme-controls.html
Due: none

theme(tokens): downshift fluid typography scale by one step; reduce --text-base to 14–16px clamp
  bengal/themes/default/assets/css/tokens/semantic.css
Due: none

theme(content): omit current section index from child items list in child_page_tiles macro
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/base/utilities.css
  bengal/themes/default/assets/css/components/action-bar.css
  bengal/themes/default/assets/css/components/buttons.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/share.css
  bengal/themes/default/assets/css/components/tags.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/js/theme-toggle.js
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/changelog/list.html
  bengal/themes/default/templates/changelog/single.html
  bengal/themes/default/templates/partials/content-components.html
  bengal/themes/default/templates/partials/theme-controls.html
  site/content/guides/_index.md
  site/content/releases/_index.md
Due: none

theme(templates): add reusable for_each_item_excluding_current macro; use in API and CLI lists for consistent current-page omission
  bengal/themes/default/templates/api-reference/list.html
  bengal/themes/default/templates/cli-reference/list.html
  bengal/themes/default/templates/partials/content-components.html
Due: none

theme(api): make stats counts exclude current page for modules/packages to match listings
  bengal/themes/default/templates/api-reference/list.html
  bengal/themes/default/templates/partials/content-components.html
Due: none

theme(api): hide Modules section when no modules after filtering; use filtered lists for both sections
  bengal/themes/default/templates/api-reference/list.html
Due: none

updates
  bengal/autodoc/templates/python/module.md.jinja2
  bengal/themes/default/templates/cli-reference/list.html
  bengal/themes/default/templates/partials/content-components.html
  plan/active/rfc-autodoc-url-grouping.md
Due: none

stuff
  bengal.toml.example
  bengal/cli/__init__.py
  bengal/cli/commands/build.py
  bengal/cli/commands/health.py
  bengal/cli/commands/serve.py
  bengal/rendering/renderer.py
  bengal/utils/error_handlers.py
  bengal/utils/traceback_config.py
  bengal/utils/traceback_renderer.py
  tests/integration/test_traceback_cli.py
  tests/unit/utils/test_error_handlers.py
  tests/unit/utils/test_traceback_config.py
  tests/unit/utils/test_traceback_renderer_output.py
Due: block-string-based-click-cls, block-legacy-cli-imports

z
  bengal/cli/commands/build.py
  bengal/cli/commands/health.py
  bengal/cli/commands/serve.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(plan): move rfc-link-checker-async to implemented; ship health linkcheck CLI and async checker
  plan/deferred/output-system-alignment.md
  plan/implemented/SUMMARY-test-worker-crashes.md
  plan/implemented/autodoc-section-index-bug.md
  plan/implemented/baseurl-dev-server-fix.md
  plan/implemented/bengal-vs-sphinx-codebase-analysis.md
  plan/implemented/bug-incremental-non-determinism-2025-10-19.md
  plan/implemented/dead-code-audit-2025-10-23.md
  plan/implemented/dead-code-fixes-summary.md
  plan/implemented/incremental-observability-improvements.md
  plan/implemented/plan-fix-test-worker-crashes.md
  plan/implemented/rfc-cli-heading-hierarchy.md
  plan/implemented/rfc-link-checker-async.md
  plan/implemented/rfc-pristine-html-output.md
  plan/implemented/rfc-test-gaps-and-resilience.md
  plan/implemented/test-failures-investigation.md
  plan/implemented/test-fixes-summary.md
  plan/implemented/timing-test-flakiness-analysis.md
  plan/implemented/unreachable-code-research.md
  plan/implemented/xdist-node-down-fix.md
Due: none

docs(plan): move rfc-configurable-tracebacks to implemented; --traceback flag + centralized config shipped
  plan/implemented/rfc-configurable-tracebacks.md
Due: none

docs(plan): move rfc-autodoc-alias-inherited to implemented; alias detection + inherited members shipped in PythonExtractor
  ARCHITECTURE.md
  IMPROVEMENTS_SUMMARY.md
  plan/implemented/rfc-autodoc-alias-inherited.md
Due: none

update
  bengal.toml.example
Due: none

config: implement directory-based loader with environment/profile support
  architecture/assets-pipeline.md
  architecture/cache.md
  architecture/content-types.md
  architecture/design-principles.md
  architecture/extension-points.md
  architecture/orchestration.md
  architecture/overview.md
  architecture/rendering.md
  architecture/utils.md
  bengal/config/directory_loader.py
  bengal/config/environment.py
  bengal/config/feature_mappings.py
  bengal/config/merge.py
  bengal/config/origin_tracker.py
  plan/active/plan-config-system-v2-implementation.md
  plan/active/rfc-config-ergonomics-v2-clean.md
  plan/active/todo-config-system-v2.md
  plan/deferred/rfc-config-ergonomics-v1-backward-compat.md
  site/content/getting-started/_index.md
  site/content/getting-started/installation.md
  tests/unit/config/__init__.py
  tests/unit/config/test_directory_loader.py
  tests/unit/config/test_environment.py
  tests/unit/config/test_feature_mappings.py
  tests/unit/config/test_merge.py
  tests/unit/config/test_origin_tracker.py
Due: block-legacy-cli-imports

config: add introspection CLI commands (show/doctor/diff/init)
  bengal/cli/__init__.py
  bengal/cli/commands/config.py
  bengal/rendering/plugins/directives/tabs.py
  site/content/getting-started/installation.md
  test_tab_bug.py
Due: block-string-based-click-cls, block-legacy-cli-imports

config: integrate directory loader with Site and CLI commands
  bengal/cli/commands/build.py
  bengal/cli/commands/serve.py
  bengal/config/directory_loader.py
  bengal/core/site.py
  examples/kiki/.gitignore
  examples/kiki/bengal.toml
  examples/kiki/content/_index.md
  examples/kiki/content/api/_index.md
  examples/kiki/content/getting-started/_index.md
  examples/kiki/content/getting-started/installation.md
  examples/kiki/content/getting-started/quickstart.md
  examples/kiki/content/guides/_index.md
  examples/milo/.gitignore
  examples/milo/bengal.toml
  examples/milo/content/index.md
  examples/miloo/.gitignore
  examples/miloo/bengal.toml
  examples/miloo/content/index.md
  site/content/getting-started/installation.md
  site/content/getting-started/quickstart.md
  test_tab_bug.py
  tests/integration/test_config_system_integration.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs: add comprehensive config.example/ directory with annotated configs
  config.example/README.md
  config.example/_default/build.yaml
  config.example/_default/features.yaml
  config.example/_default/site.yaml
  config.example/environments/local.yaml
  config.example/environments/preview.yaml
  config.example/environments/production.yaml
  config.example/profiles/dev.yaml
  config.example/profiles/theme-dev.yaml
  config.example/profiles/writer.yaml
Due: none

docs: migrate main site/ to config directory structure
  site/bengal.toml.backup
  site/config/_default/build.yaml
  site/config/_default/features.yaml
  site/config/_default/site.yaml
  site/config/environments/local.yaml
  site/config/environments/production.yaml
Due: none

docs: add working blog example with config directory structure
  examples/blog/.gitignore
  examples/blog/README.md
  examples/blog/config/_default/build.yaml
  examples/blog/config/_default/features.yaml
  examples/blog/config/_default/site.yaml
  examples/blog/config/environments/local.yaml
  examples/blog/config/environments/production.yaml
  examples/blog/content/_index.md
  examples/blog/content/posts/hello-world.md
Due: none

docs: update bengal.toml.example with config directory notice
  bengal.toml.example
Due: none

fix: add missing frontmatter to blog example content
  examples/blog/content/_index.md
  examples/blog/content/about.md
  examples/blog/content/posts/_index.md
  examples/blog/content/posts/hello-world.md
Due: none

content-types: add config-based default_content_type; fix root index context for all types
  CHANGELOG.md
  bengal.toml.example
  bengal/cli/commands/new.py
  bengal/content_types/registry.py
  bengal/orchestration/section.py
  bengal/rendering/renderer.py
  config.example/_default/site.yaml
  examples/blog/.gitignore
  examples/blog/README.md
  examples/blog/config/_default/build.yaml
  examples/blog/config/_default/features.yaml
  examples/blog/config/_default/site.yaml
  examples/blog/config/environments/local.yaml
  examples/blog/config/environments/production.yaml
  examples/blog/content/_index.md
  examples/blog/content/about.md
  examples/blog/content/posts/_index.md
  examples/blog/content/posts/hello-world.md
  examples/kiki/.gitignore
  examples/kiki/bengal.toml
  examples/kiki/content/_index.md
  examples/kiki/content/api/_index.md
  examples/kiki/content/getting-started/_index.md
  examples/kiki/content/getting-started/installation.md
  examples/kiki/content/getting-started/quickstart.md
  examples/kiki/content/guides/_index.md
  examples/milo/.gitignore
  examples/milo/bengal.toml
  examples/milo/content/index.md
  examples/miloo/.gitignore
  examples/miloo/bengal.toml
  examples/miloo/content/index.md
  site/bengal.toml
  site/config/_default/site.yaml
  site/config/environments/local.yaml
  site/config/environments/production.yaml
  site/content/getting-started/quickstart.md
  site/linkcheck-report-new.json
  site/linkcheck-report.json
Due: block-string-based-click-cls, block-legacy-cli-imports

config: improve content/params organization; add comprehensive content display options
  bengal.toml.example
  bengal/content_types/registry.py
  config.example/_default/params.example.yaml
  config.example/_default/site.yaml
  site/config/_default/site.yaml
  tests/unit/assets/test_assets_pipeline.py
Due: block-legacy-cli-imports

config: split into content/params/site files + architecture documentation
  architecture/config.md
  config.example/_default/content.yaml
  config.example/_default/params.example.yaml
  config.example/_default/params.yaml
  config.example/_default/site.yaml
  site/config/_default/content.yaml
  site/config/_default/params.yaml
  site/config/_default/site.yaml
Due: none

config: split display controls into theme.yaml
  bengal.toml.example
  config.example/_default/content.yaml
  config.example/_default/site.yaml
  config.example/_default/theme.yaml
  site/config/_default/site.yaml
  site/config/_default/theme.yaml
Due: none
