Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

tests(errors): add unit tests for error display and error codes
  bengal/cli/helpers/__init__.py
  tests/unit/cli/test_error_display.py
  tests/unit/utils/test_error_handling.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(errors): add navigation metadata to error codes section
  scripts/generate_error_docs.py
  site/content/docs/reference/errors/_index.md
Due: none

fix(theme): prevent horizontal scroll on long sidebar nav item names
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/composition/layouts.css
Due: none

refactor(theme): migrate sidebar nav to native <details>/<summary>
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/templates/partials/docs-nav-node.html
Due: none

refactor(theme): migrate TOC to native <details>/<summary>
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/templates/partials/navigation-components.html
Due: none

cleanup(css): remove orphaned collapsible admonition styles
  bengal/themes/default/assets/css/components/admonitions.css
Due: none

core: remove module/package shadowing; delete unused backward-compat shims
  bengal/cli/dashboard/widgets.py
  bengal/health/validators/directives/analysis.py
  bengal/icons/__init__.py
  bengal/icons/resolver.py
  bengal/orchestration/menu.py
  bengal/rendering/context.py
  bengal/rendering/parsers/mistune/__init__.py
  bengal/rendering/template_functions.py
  bengal/rendering/template_functions/content.py
  bengal/rendering/template_functions/urls.py
  bengal/server/__init__.py
  bengal/server/build_trigger.py
  bengal/server/component_preview.py
  bengal/server/request_handler.py
  bengal/themes/default/assets/icons/bug.svg
  bengal/themes/default/assets/js/enhancements/tracks.js
  bengal/themes/default/dev/components/README.md
  bengal/themes/default/dev/components/content-components.yaml
  bengal/themes/default/dev/components/docs-meta.yaml
  bengal/themes/default/dev/components/docs-nav-section.yaml
  bengal/themes/default/dev/components/docs-nav.yaml
  bengal/themes/default/dev/components/navigation-components.yaml
  bengal/themes/default/dev/components/reference-components.yaml
  bengal/themes/default/dev/components/search.yaml
  plan/drafted/rfc-enhanced-code-tabs.md
  plan/drafted/rfc-theme-aware-icons.md
  site/content/docs/reference/errors/t010.md
  tests/_testing/fixtures.py
  tests/integration/test_theme_icons.py
  tests/unit/cli/test_error_display.py
  tests/unit/icons/__init__.py
  tests/unit/icons/test_resolver.py
  tests/unit/rendering/test_icon_directive.py
  tests/unit/server/test_component_preview.py
Due: block-string-based-click-cls, block-legacy-cli-imports

server: remove component preview feature; delete dev/components manifests and tests
  bengal/server/__init__.py
  bengal/themes/default/README.md
Due: block-legacy-cli-imports

updates
  site/content/docs/extending/theme-customization.md
  site/content/docs/reference/errors/_index.md
  site/content/docs/reference/errors/t010.md
  site/content/docs/reference/icons.md
Due: none

plan(health): add RFC for health check error codes with H0xx-H9xx schema
  bengal/autodoc/config.py
  bengal/autodoc/orchestration/section_builders.py
  bengal/directives/_icons.py
  bengal/directives/code_tabs.py
  bengal/themes/default/assets/css/components/tabs.css
  bengal/themes/default/assets/js/enhancements/tabs.js
  plan/drafted/rfc-enhanced-code-tabs.md
  plan/drafted/rfc-health-check-codes.md
  site/config/_default/autodoc.yaml
  site/content/docs/reference/directives/interactive.md
  site/content/docs/reference/directives/media.md
  tests/unit/directives/test_code_tabs.py
Due: block-legacy-cli-imports

updates
  bengal/directives/embed.py
  bengal/directives/factory.py
  bengal/rendering/parsers/mistune/highlighting.py
  bengal/rendering/pygments_cache.py
  plan/drafted/rfc-code-tabs-v2-simplified-syntax.md
  site/content/docs/reference/directives/media.md
  site/content/docs/tutorials/onboarding/from-mintlify.md
Due: block-legacy-cli-imports

directives(code_tabs): implement v2 simplified syntax; derive tabs from code fences
  bengal/assets/pipeline.py
  bengal/directives/code_tabs.py
  plan/drafted/rfc-analysis-algorithm-optimization.md
  plan/drafted/rfc-autodoc-algorithm-optimization.md
  plan/drafted/rfc-code-tabs-v2-simplified-syntax.md
  site/content/docs/content/authoring/code-blocks.md
  site/content/docs/content/authoring/interactive.md
  site/content/docs/reference/directives/interactive.md
  tests/unit/directives/test_code_tabs.py
Due: block-legacy-cli-imports

analysis: optimize PageRank O(I×E) and Link Suggestions O(N×overlap) via incoming_edges and inverted indices
  benchmarks/test_analysis_performance.py
  bengal/analysis/graph_builder.py
  bengal/analysis/knowledge_graph.py
  bengal/analysis/link_suggestions.py
  bengal/analysis/page_rank.py
  bengal/autodoc/base.py
  bengal/autodoc/extractors/python/extractor.py
  bengal/autodoc/extractors/python/inheritance.py
  plan/drafted/rfc-analysis-algorithm-optimization.md
  plan/drafted/rfc-autodoc-algorithm-optimization.md
  plan/drafted/rfc-cache-algorithm-optimization.md
  tests/unit/analysis/test_analysis_optimization.py
Due: block-legacy-cli-imports

autodoc: implement inheritance O(1) lookup, hardware-aware parallel threshold, ParameterInfo cache
  bengal/analysis/page_rank.py
  bengal/autodoc/__init__.py
  plan/drafted/rfc-autodoc-algorithm-optimization.md
  tests/unit/analysis/test_analysis_optimization.py
  tests/unit/analysis/test_page_rank.py
  tests/unit/autodoc/test_python_extractor.py
Due: block-legacy-cli-imports

autodoc: remove legacy backwards compatibility code
  bengal/autodoc/extractors/python/extractor.py
  bengal/autodoc/extractors/python/inheritance.py
  plan/drafted/rfc-cache-algorithm-optimization.md
  tests/unit/autodoc/test_python_extractor_parallel.py
Due: block-legacy-cli-imports

benchmarks(cache): add baseline benchmarks for cache algorithm optimization RFC
  benchmarks/test_cache_performance.py
  plan/drafted/rfc-cache-algorithm-optimization.md
  plan/drafted/rfc-collections-algorithm-optimization.md
Due: none

cache(taxonomy): add reverse index for O(1) page-to-tags lookup
  benchmarks/test_cache_performance.py
  bengal/cache/taxonomy_index.py
  plan/drafted/rfc-collections-algorithm-optimization.md
  plan/drafted/rfc-config-algorithm-optimization.md
Due: block-legacy-cli-imports

cache(query_index): use set-based storage for O(1) page operations
  benchmarks/test_collections_performance.py
  bengal/cache/query_index.py
  bengal/collections/validator.py
  bengal/config/merge.py
  plan/drafted/rfc-config-algorithm-optimization.md
Due: block-legacy-cli-imports

cache(build_cache): add reverse dependency graph for O(1) affected pages lookup
  benchmarks/test_config_performance.py
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/file_tracking.py
  bengal/collections/__init__.py
  bengal/collections/loader.py
  bengal/collections/validator.py
  bengal/config/directory_loader.py
  tests/unit/collections/test_loader.py
  tests/unit/collections/test_schema_validator.py
  tests/unit/config/test_merge.py
Due: block-legacy-cli-imports

config: implement batch deep merge optimization for O(K×D) directory loading; add benchmarks and tests
  benchmarks/test_collections_performance.py
  bengal/cache/build_cache/core.py
  bengal/cache/query_index.py
  bengal/cache/taxonomy_index.py
  bengal/config/merge.py
  plan/drafted/rfc-config-algorithm-optimization.md
  pyproject.toml
  tests/unit/cache/test_query_index.py
  tests/unit/collections/test_schema_validator.py
  uv.lock
Due: block-legacy-cli-imports

config(merge): simplify batch merge helpers; rename _deep_copy_dict to _copy_dict
  benchmarks/test_cache_performance.py
  bengal/config/merge.py
Due: block-legacy-cli-imports

core: implement RFC core algorithm optimization; nav_tree: deprecate NavNode.find(), add LRU cache eviction; menu: optimize add_child() with deferred sorting, refactor _has_cycle() to backtracking
  benchmarks/test_core_performance.py
  bengal/core/menu.py
  bengal/core/nav_tree.py
  plan/drafted/rfc-core-algorithm-optimization.md
  tests/unit/core/test_menu.py
  tests/unit/core/test_menu_cycles.py
  tests/unit/test_nav_tree.py
Due: block-legacy-cli-imports

content_layer: implement algorithm optimizations from RFC
  bengal/content_layer/source.py
  bengal/content_layer/sources/github.py
  bengal/content_layer/sources/local.py
  bengal/content_layer/sources/notion.py
  changelog.md
  plan/drafted/rfc-content-layer-algorithm-optimization.md
  plan/drafted/rfc-directives-algorithm-optimization.md
  pyproject.toml
  uv.lock
Due: block-legacy-cli-imports

core(nav_tree): remove deprecated NavNode.find() entirely; tests: remove associated tests
  bengal/core/nav_tree.py
  plan/drafted/rfc-core-algorithm-optimization.md
  tests/unit/test_nav_tree.py
Due: block-legacy-cli-imports

content_layer(local): remove unnecessary property wrapper for exclude_patterns
  bengal/content_layer/sources/local.py
Due: block-legacy-cli-imports

tests: add Bengal error code summary to pytest output; filter benchmark warnings; reduce CI verbosity
  .github/workflows/tests.yml
  plan/drafted/rfc-directives-algorithm-optimization.md
  pytest.ini
  tests/conftest.py
  tests/integration/test_pagerank_integration.py
Due: none

tests(conftest): add future annotations import for Python 3.14 compatibility
  tests/conftest.py
Due: none

retest
  pytest.ini
Due: none

ci(tests): simplify pytest flags; use --tb=short -r f for cleaner failure output
  .github/workflows/tests.yml
Due: none

udpates
  bengal/health/validators/directives/analysis.py
  bengal/orchestration/build_state.py
  tests/unit/health/test_directive_validator.py
  tests/unit/orchestration/test_menu_dev_dropdown_autodoc.py
  tests/unit/orchestration/test_menu_orchestrator.py
  tests/unit/rendering/test_directive_registry.py
Due: block-legacy-cli-imports

lint: add missing error codes to all BengalError raises
  bengal/autodoc/extractors/cli.py
  bengal/autodoc/extractors/python/extractor.py
  bengal/autodoc/orchestration/orchestrator.py
  bengal/collections/__init__.py
  bengal/content_layer/manager.py
  bengal/content_layer/sources/github.py
  bengal/content_layer/sources/local.py
  bengal/content_layer/sources/notion.py
  bengal/content_layer/sources/rest.py
  bengal/debug/explainer.py
  bengal/discovery/git_version_adapter.py
  bengal/rendering/parsers/__init__.py
  bengal/rendering/plugins/variable_substitution.py
  bengal/rendering/template_functions/navigation/scaffold.py
  bengal/rendering/template_functions/navigation/tree.py
  bengal/utils/url_strategy.py
  tests/unit/rendering/test_directive_registration.py
  tests/unit/rendering/test_renderer_index_conflict.py
  tests/unit/rendering/test_renderer_tag_context.py
Due: block-legacy-cli-imports

ci(tests): restore -q for progress dots; keep --tb=short for compact failures
  .github/workflows/tests.yml
Due: none

health: optimize O(L²) to O(L) in DirectiveAnalyzer, O(D²) to O(D) in AutoFixer, add count caching to ValidatorReport
  BIG_O_ANALYSIS.md
  BIG_O_COMPLEXITY_SUMMARY.md
  bengal/core/site/core.py
  bengal/core/site/page_caches.py
  bengal/directives/__init__.py
  bengal/directives/base.py
  bengal/directives/factory.py
  bengal/directives/options.py
  bengal/health/autofix.py
  bengal/health/report.py
  bengal/health/validators/directives/analysis.py
  bengal/orchestration/incremental/cascade_tracker.py
  bengal/orchestration/incremental/rebuild_filter.py
  bengal/orchestration/incremental/version_detector.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/taxonomy.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/template_engine/manifest.py
  plan/drafted/rfc-analysis-algorithm-optimization.md
  plan/drafted/rfc-autodoc-algorithm-optimization.md
  plan/drafted/rfc-big-o-complexity-optimizations.md
  plan/drafted/rfc-code-tabs-v2-simplified-syntax.md
  plan/drafted/rfc-config-algorithm-optimization.md
  plan/drafted/rfc-content-layer-algorithm-optimization.md
  plan/drafted/rfc-core-algorithm-optimization.md
  plan/drafted/rfc-enhanced-code-tabs.md
  plan/drafted/rfc-error-beautification.md
  plan/drafted/rfc-health-package-optimizations.md
  plan/drafted/rfc-icons-package-optimization.md
  plan/drafted/rfc-link-previews.md
  plan/drafted/rfc-orchestration-package-optimizations.md
  plan/drafted/rfc-performance-optimizations.md
  plan/drafted/rfc-theme-aware-icons.md
  tests/unit/orchestration/incremental/test_cascade_tracker.py
  tests/unit/orchestration/incremental/test_change_detector.py
  tests/unit/orchestration/incremental/test_rebuild_filter.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/rendering/test_directive_optimizations.py
Due: block-legacy-cli-imports

health(autofix): add O(1) dict lookup to _create_fence_fix(); update RFC status to implemented
  bengal/health/autofix.py
  plan/drafted/rfc-health-package-optimizations.md
Due: block-legacy-cli-imports

health(analysis): remove legacy O(L) position-check methods; replaced by O(1) index lookups
  bengal/health/validators/directives/analysis.py
  plan/drafted/rfc-output-package-optimizations.md
Due: block-legacy-cli-imports

docs(plan): add server package Big O optimization RFC
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/rss.py
  plan/drafted/rfc-postprocess-package-optimizations.md
  plan/drafted/rfc-rendering-package-optimizations.md
  plan/drafted/rfc-server-package-optimizations.md
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
