Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

orchestration: adopt ParallelProcessor in asset, taxonomy, postprocess
  bengal/orchestration/asset.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/taxonomy.py
Due: ty, block-legacy-cli-imports

checkpoint
  bengal/build/contracts/keys.py
  bengal/build/provenance/store.py
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/file_tracking.py
  bengal/orchestration/build/provenance_filter.py
  bengal/rendering/pipeline/cache_checker.py
  plan/cache-provenance-evaluation.md
  tests/integration/warm_build/test_build_trigger_reactive.py
  tests/unit/cache/test_file_tracking_path_resolution.py
  tests/unit/server/test_dev_server_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: merge _create_tag_pages and _create_tag_pages_for_lang
  bengal/orchestration/taxonomy.py
Due: ty, block-legacy-cli-imports

cli: add shared option decorators for verbose, traceback, source
  bengal/cli/commands/build.py
  bengal/cli/commands/cache.py
  bengal/cli/commands/engine.py
  bengal/cli/commands/provenance.py
  bengal/cli/commands/validate.py
  bengal/cli/shared_options.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

checkpoint
  bengal/build/provenance/store.py
  bengal/cache/build_cache/core.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/provenance_filter.py
  plan/rfc-cache-generation-id.md
  tests/integration/test_incremental_cache_stability.py
  tests/unit/build/provenance/test_mtime_short_circuit.py
  tests/unit/cache/test_build_cache.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: extract build phases per rfc-build-orchestrator-phase-groups
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/build/snapshot.py
Due: ty, block-legacy-cli-imports

updates
  benchmarks/benchmark_cross_ssg.py
  benchmarks/requirements.txt
  bengal/cli/commands/version.py
  bengal/content/discovery/version_diff.py
  bengal/core/section/ergonomics.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/rendering/template_functions/advanced_strings.py
  bengal/rendering/template_functions/i18n.py
  bengal/rendering/template_functions/tables.py
  bengal/server/reload_controller.py
  plan/rfc-build-orchestrator-phase-groups.md
  plan/rfc-build-orchestrator-phases-5-6-plan.md
  tests/_testing/assertions.py
  tests/unit/orchestration/build/test_provenance_filter_path_keys.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

speed changes
  .cursor/rules/commands/help/RULE.mdc
  .cursor/rules/system/bengal-os/RULE.mdc
  .cursor/rules/validation/sdc-audit/IPA_AUDIT_REPORT.md
  .cursor/rules/validation/sdc-audit/RULE.mdc
  .cursor/rules/validation/sdc-audit/SDC_AUDIT_REPORT.md
  .gitignore
  benchmarks/benchmark_cross_ssg.py
  bengal/autodoc/config.py
  bengal/cache/taxonomy_index.py
  bengal/config/build_options_resolver.py
  bengal/core/page/navigation.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/options.py
  bengal/orchestration/render/ordering.py
  bengal/parsing/backends/patitas/directives/builtins/inline.py
  bengal/rendering/engines/kida.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/template_functions/urls.py
  bengal/server/reload_controller.py
  bengal/utils/paths/url_normalization.py
  scripts/check_dependencies.py
  tests/unit/cache/test_taxonomy_index.py
  tests/unit/parsing/test_inline_badge_helper.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: IPA audit Tasks 1-6 + reload test fixes
  bengal/core/page/operations.py
  bengal/health/validators/links.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/menu.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/engines/kida.py
  bengal/rendering/renderer.py
  bengal/rendering/template_engine/menu.py
  bengal/server/build_trigger.py
  tests/unit/rendering/engines/test_jinja_cache.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  benchmarks/profile_phases.py
  bengal/cache/build_cache/taxonomy_index_mixin.py
  bengal/cache/taxonomy_index.py
  bengal/core/page/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/navigation.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/inputs.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/taxonomy.py
  bengal/rendering/adapters/kida.py
  bengal/rendering/engines/kida.py
  bengal/rendering/template_functions/collections.py
  tests/unit/server/test_css_only_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: add is_generated property for O(1) generated page checks
  bengal/core/page/metadata.py
Due: ty, block-legacy-cli-imports

core,cache,orchestration: IPA audit performance fixes
  bengal/cache/build_cache/file_tracking.py
  bengal/core/page/metadata.py
  bengal/core/section/ergonomics.py
  bengal/orchestration/taxonomy.py
Due: ty, block-legacy-cli-imports

checkpoint
  .cursor/rules/modules/architecture-patterns/RULE.mdc
  .cursor/rules/modules/cost-annotations/RULE.mdc
  benchmarks/test_scaling.py
  bengal/build/provenance/filter.py
  bengal/cli/commands/build.py
  bengal/config/build_options_resolver.py
  bengal/core/page/__init__.py
  bengal/core/page/page_identity.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/options.py
  bengal/orchestration/build/profiler/__init__.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/render/ordering.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/renderer.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

orchestration,parsing: IPA audit follow-up optimizations
  bengal/orchestration/build/output_types.py
  bengal/orchestration/build/provenance_filter.py
  bengal/parsing/backends/patitas/directives/builtins/glossary.py
Due: ty, block-legacy-cli-imports

rendering: use get_template_path for lightweight existence check (IPA Finding 2)
  bengal/rendering/renderer.py
  tests/unit/rendering/test_renderer_template_selection.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  bengal/build/provenance/filter.py
  bengal/core/author.py
  bengal/core/menu.py
  bengal/core/nav_tree.py
  bengal/core/page/__init__.py
  bengal/core/page/bundle.py
  bengal/core/page/content.py
  bengal/core/page/metadata.py
  bengal/core/page/proxy.py
  bengal/core/page_cache.py
  bengal/core/registry.py
  bengal/core/resources/image.py
  bengal/core/section/__init__.py
  bengal/core/section/ergonomics.py
  bengal/core/section/hierarchy.py
  bengal/core/section/navigation.py
  bengal/core/section/queries.py
  bengal/core/series.py
  bengal/core/site/__init__.py
  bengal/core/site/accessors.py
  bengal/core/site/cascade.py
  bengal/core/site/config_normalized.py
  bengal/core/site/lifecycle.py
  bengal/core/site/versioning.py
  bengal/core/site_content.py
  bengal/core/site_data.py
  bengal/core/version.py
  bengal/debug/explainer.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/parsing.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/build/snapshot.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/snapshots/utils.py
Due: ty, block-legacy-cli-imports

server: avoid redundant _get_template_change_info when template_info=None (IPA Finding 4)
  bengal/server/build_trigger.py
Due: ty, block-legacy-cli-imports

orchestration,server: IPA medium fixes - locale_tags single pass, Path display
  bengal/orchestration/taxonomy.py
  bengal/server/build_trigger.py
Due: ty, block-legacy-cli-imports

core: thread-safety and perf fixes for parallel render
  bengal/core/page/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/navigation.py
  bengal/core/page/types.py
  bengal/core/section/ergonomics.py
  bengal/core/section/hierarchy.py
  bengal/core/section/navigation.py
  bengal/core/section/queries.py
  bengal/orchestration/menu.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/template_functions/navigation/breadcrumbs.py
  bengal/snapshots/content.py
  tests/core/test_mixin_contracts.py
  tests/unit/core/test_page_visibility.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: build changed_paths once, reuse for Options and Input (IPA Finding 18)
  .cursor/rules/modules/architecture-patterns/RULE.mdc
  .cursor/rules/modules/free-threading/RULE.mdc
  .cursor/rules/python.mdc
  bengal/orchestration/build/inputs.py
  bengal/orchestration/build/options.py
Due: ty, block-legacy-cli-imports

docs: add resolution status to SDC and IPA audit reports
  .cursor/rules/validation/sdc-audit/IPA_AUDIT_REPORT.md
  .cursor/rules/validation/sdc-audit/SDC_AUDIT_REPORT.md
Due: none

orchestration: fix VisibilitySettings.get in menus phase
  bengal/rendering/template_functions/navigation/auto_nav.py
  tests/unit/postprocess/test_visibility_filtering.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: add is_generated property to PageProxy
  bengal/core/page/proxy.py
Due: ty, block-legacy-cli-imports

snapshots: serialize TOCItem dataclasses to dicts before JSON dump
  bengal/snapshots/persistence.py
Due: ty, block-legacy-cli-imports

core: eliminate redundant tuple copy and parent chain walk
  bengal/core/section/hierarchy.py
  bengal/core/section/queries.py
Due: ty, block-legacy-cli-imports

snapshots: merge navigation dict loops; breadcrumbs: single-pass reversal
  bengal/rendering/template_functions/navigation/breadcrumbs.py
  bengal/snapshots/content.py
Due: ty, block-legacy-cli-imports

orchestration: track tag/pagination counts, extract locale_tags, cache path keys
  bengal/orchestration/taxonomy.py
Due: ty, block-legacy-cli-imports

postprocess: extract shared index builder; render: pass precomputed track paths
  bengal/orchestration/render/ordering.py
  bengal/postprocess/output_formats/index_generator.py
Due: ty, block-legacy-cli-imports

core: add @cached_property for ancestors on Page and PageProxy
  bengal/core/page/__init__.py
  bengal/core/page/proxy.py
  tests/unit/core/test_navigation.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: add @cached_property for keywords and edition on PageMetadataMixin
  bengal/core/page/metadata.py
  tests/unit/core/test_page_metadata_helpers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: merge two site.sections loops in renderer
  bengal/rendering/renderer.py
Due: ty, block-legacy-cli-imports

orchestration: build reverse section index in incremental cascade detection
  bengal/orchestration/incremental/orchestrator.py
Due: ty, block-legacy-cli-imports

orchestration: single-pass _print_rendering_summary in build
  bengal/orchestration/build/__init__.py
Due: ty, block-legacy-cli-imports

postprocess: single-pass content signal filtering in output_formats
  bengal/postprocess/output_formats/__init__.py
Due: ty, block-legacy-cli-imports

orchestration: merge related_posts, menu three-pass, remove duplicate cascaded tags
  bengal/orchestration/build/content.py
  bengal/orchestration/menu.py
  bengal/orchestration/related_posts.py
Due: ty, block-legacy-cli-imports

updates
  .cursor/rules/system/bengal-os/RULE.mdc
  .cursor/rules/validation/flow-audit/FLOW_AUDIT_REPORT.md
  .cursor/rules/validation/flow-audit/FLOW_AUDIT_REPORT_V2.md
  .cursor/rules/validation/flow-audit/RULE.mdc
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/partials/navigation-components.html
Due: check-template-css

core: Sprint 1 model purity + Sprint 2 boundary fixes (epic-arch-audit)
  bengal/concurrency.py
  bengal/core/output/collector.py
  bengal/core/page/page_core.py
  bengal/core/resources/image.py
  bengal/core/resources/processor.py
  bengal/core/resources/types.py
  bengal/core/section/ergonomics.py
  bengal/core/site/cascade.py
  bengal/core/theme/resolution.py
  bengal/protocols/__init__.py
  bengal/protocols/build.py
  bengal/services/asset_io.py
  bengal/services/image_processor.py
  bengal/services/theme_io.py
  plan/epic-architecture-audit-remediation.md
Due: ty, block-legacy-cli-imports

core: remove core/page → rendering imports (Task 2.4)
  bengal/core/page/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/proxy.py
  bengal/rendering/pipeline/toc.py
  bengal/rendering/shortcodes.py
  bengal/utils/shortcodes.py
  bengal/utils/toc.py
  tests/unit/rendering/test_shortcodes.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  .cursor/rules/validation/architecture-audit/RULE.mdc
  bengal/core/asset/asset_core.py
  bengal/core/page/operations.py
  bengal/core/site/__init__.py
  bengal/core/site/accessors.py
  bengal/core/site/discovery.py
  bengal/core/version_url.py
  bengal/orchestration/feature_detector.py
  bengal/protocols/__init__.py
  bengal/protocols/infrastructure.py
  bengal/protocols/rendering.py
  bengal/rendering/template_functions/version_url.py
  bengal/themes/default/templates/tag.html
  bengal/utils/feature_detection.py
  plan/epic-architecture-audit-remediation.md
  plan/rfc-kida-macro-defining-namespace.md
  scripts/check_dependencies.py
  tests/unit/rendering/template_functions/test_version_url.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

orchestration: rename provenance_filter to provenance_orchestration, add build READMEs
  .cursor/rules/validation/sdc-audit/IPA_AUDIT_REPORT.md
  .cursor/rules/validation/sdc-audit/SDC_AUDIT_REPORT.md
  bengal/build/README.md
  bengal/orchestration/build/README.md
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/provenance_orchestration.py
  plan/epic-architecture-audit-remediation.md
  tests/integration/test_incremental_cache_stability.py
  tests/unit/orchestration/build/test_provenance_filter_path_keys.py
  tests/unit/orchestration/test_build_orchestrator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
