Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

feat: add CancellationToken and managed_executor for bounded parallel work
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build_context.py
  bengal/orchestration/render/orchestrator.py
  bengal/snapshots/scheduler.py
  bengal/utils/concurrency/__init__.py
  bengal/utils/concurrency/executor.py
Due: ty, block-legacy-cli-imports

fix: address PR feedback — TimeoutExpired handling, path safety, CLI fixes
  bengal/assets/pipeline.py
  bengal/cli/commands/i18n.py
  bengal/cli/commands/theme.py
  bengal/cli/commands/upgrade/command.py
  bengal/content/discovery/version_diff.py
  bengal/content/versioning/git_adapter.py
  bengal/debug/shortcode_sandbox.py
  bengal/orchestration/content.py
  bengal/utils/io/file_io.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: SIGALRM hard timeout and sequential render cancellation for shard 3
  bengal/orchestration/render/sequential.py
  tests/integration/conftest.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: kill leaked WriteBehind threads between tests (root cause of shard 3 hangs)
  bengal/rendering/pipeline/write_behind.py
  tests/conftest.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: add 90s timeout to all unbounded future.result() calls in build pipeline
  bengal/orchestration/asset.py
  bengal/orchestration/build/parsing.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/taxonomy.py
  bengal/orchestration/utils/parallel.py
  bengal/snapshots/scheduler.py
Due: ty, block-legacy-cli-imports

fix: replace bare ThreadPoolExecutor with managed_executor across build pipeline
  bengal/orchestration/asset.py
  bengal/orchestration/build/parsing.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/taxonomy.py
  bengal/orchestration/utils/parallel.py
  bengal/utils/concurrency/executor.py
Due: ty, block-legacy-cli-imports

feat: CLI feature maturity audit — fix bugs, add missing commands, wire sources (#187)
  .github/workflows/tests.yml
  bengal/assets/pipeline.py
  bengal/cli/commands/assets.py
  bengal/cli/commands/collections.py
  bengal/cli/commands/i18n.py
  bengal/cli/commands/shortcodes.py
  bengal/cli/commands/theme.py
  bengal/cli/commands/upgrade/command.py
  bengal/content/discovery/version_diff.py
  bengal/content/versioning/git_adapter.py
  bengal/debug/shortcode_sandbox.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/parsing.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build_context.py
  bengal/orchestration/content.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/sequential.py
  bengal/orchestration/taxonomy.py
  bengal/orchestration/utils/parallel.py
  bengal/rendering/pipeline/write_behind.py
  bengal/snapshots/scheduler.py
  bengal/utils/concurrency/__init__.py
  bengal/utils/concurrency/executor.py
  bengal/utils/io/file_io.py
  tests/conftest.py
  tests/integration/conftest.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: concurrency maturity sweep — managed_executor, timeouts, thread safety
  bengal/analysis/graph/builder.py
  bengal/autodoc/extractors/python/extractor.py
  bengal/build/provenance/filter.py
  bengal/content/discovery/content_discovery.py
  bengal/health/health_check.py
  bengal/health/linkcheck/orchestrator.py
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/pipeline/core.py
  tests/integration/conftest.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: handle Mock site objects in RenderingPipeline lock check
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

fix: replace bare ThreadPoolExecutor with managed_executor in scheduler and parser
  bengal/parsing/backends/patitas/__init__.py
  bengal/snapshots/scheduler.py
Due: ty, block-legacy-cli-imports

feat: add WorkScope structured concurrency primitive
  bengal/utils/concurrency/__init__.py
  bengal/utils/concurrency/work_scope.py
  tests/unit/utils/test_work_scope.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: migrate all executor sites to WorkScope structured concurrency
  bengal/analysis/graph/builder.py
  bengal/autodoc/extractors/python/extractor.py
  bengal/build/provenance/filter.py
  bengal/health/health_check.py
  bengal/health/linkcheck/orchestrator.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/parsing.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/taxonomy.py
  bengal/orchestration/utils/parallel.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/postprocess/output_formats/utils.py
  bengal/snapshots/scheduler.py
  prek.toml
  scripts/check_bare_threadpool.py
Due: ty, block-legacy-cli-imports

fix: replace bare ThreadPoolExecutor with managed_executor in content discovery
  bengal/content/discovery/content_discovery.py
Due: ty, block-legacy-cli-imports

feat: add thread-safety locks for free-threaded Python 3.14t
  bengal/content/sources/__init__.py
  bengal/core/asset/asset_core.py
  bengal/core/page/__init__.py
  bengal/core/page/proxy.py
  bengal/core/page_cache.py
  bengal/core/site/__init__.py
  bengal/core/site_content.py
  bengal/orchestration/build_context.py
  bengal/orchestration/stats/models.py
  bengal/output/globals.py
  bengal/rendering/api_doc_enhancer.py
  bengal/rendering/content_cache.py
  bengal/rendering/context/site_wrappers.py
  bengal/rendering/errors/deduplication.py
  bengal/rendering/metadata.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/json_accumulator.py
  bengal/rendering/renderer.py
  bengal/rendering/template_functions/get_page.py
  bengal/rendering/template_profiler.py
  bengal/server/build_executor.py
  bengal/utils/observability/logger.py
  bengal/utils/observability/performance_collector.py
  bengal/utils/observability/rich_console.py
Due: ty, block-legacy-cli-imports

fix: address PR review — error context, WorkScope timeout, linkcheck pipelining
  bengal/analysis/graph/builder.py
  bengal/health/linkcheck/orchestrator.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/parsing.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/taxonomy.py
  bengal/orchestration/utils/parallel.py
  bengal/rendering/pipeline/core.py
  bengal/utils/concurrency/work_scope.py
  scripts/check_bare_threadpool.py
Due: ty, block-legacy-cli-imports

fix: address PR review round 2 — WorkScope syntax fix, isinstance checks, type annotations
  bengal/health/linkcheck/orchestrator.py
  bengal/orchestration/stats/models.py
  bengal/rendering/metadata.py
  bengal/snapshots/scheduler.py
  bengal/utils/concurrency/work_scope.py
Due: ty, block-legacy-cli-imports

fix: render progress bar stuck at 0% during WaveScheduler rendering
  bengal/orchestration/render/orchestrator.py
  bengal/snapshots/scheduler.py
  bengal/utils/observability/cli_progress.py
Due: ty, block-legacy-cli-imports

fix: add threading lock to LiveProgressManager for worker-thread safety
  bengal/utils/observability/cli_progress.py
Due: ty, block-legacy-cli-imports

fix: use shutdown(wait=False) to prevent CI hang on free-threaded Python
  bengal/utils/concurrency/executor.py
  bengal/utils/concurrency/work_scope.py
Due: ty, block-legacy-cli-imports

fix: render progress bar stuck at 0% during WaveScheduler rendering (#190)
  bengal/orchestration/render/orchestrator.py
  bengal/snapshots/scheduler.py
  bengal/utils/concurrency/executor.py
  bengal/utils/concurrency/work_scope.py
  bengal/utils/observability/cli_progress.py
Due: ty, block-legacy-cli-imports

fix: guard against typing.Any in isinstance() and restore datetime runtime import
  bengal/collections/schemas.py
  bengal/collections/validator.py
Due: ty, block-legacy-cli-imports

fix: restore BuildOptions as runtime re-export in orchestration.build
  .dori/context.json
  .dori/file_history.json
  bengal/orchestration/build/__init__.py
Due: ty, block-legacy-cli-imports

perf: eliminate O(n²) hotspots, consolidate taxonomy slug normalization
  bengal/analysis/links/suggestions.py
  bengal/analysis/utils/indexing.py
  bengal/cache/build_cache/taxonomy_index_mixin.py
  bengal/content/discovery/version_diff.py
  bengal/core/section/ergonomics.py
  bengal/orchestration/build/content.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/taxonomy.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/snapshots/builder.py
  bengal/snapshots/content.py
  bengal/snapshots/scheduler.py
  bengal/snapshots/scheduling.py
  bengal/utils/primitives/text.py
Due: ty, block-legacy-cli-imports

chore: remove stale dori context files
  .dori/context.json
  .dori/file_history.json
Due: none

fix: add full-path fallback for subdirectory template invalidation
  bengal/snapshots/builder.py
Due: ty, block-legacy-cli-imports

perf: eliminate O(n²) hotspots, consolidate taxonomy slug normalization (#192)
  .dori/context.json
  .dori/file_history.json
  bengal/analysis/links/suggestions.py
  bengal/analysis/utils/indexing.py
  bengal/cache/build_cache/taxonomy_index_mixin.py
  bengal/content/discovery/version_diff.py
  bengal/core/section/ergonomics.py
  bengal/orchestration/build/content.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/taxonomy.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/snapshots/builder.py
  bengal/snapshots/content.py
  bengal/snapshots/scheduler.py
  bengal/snapshots/scheduling.py
  bengal/utils/primitives/text.py
Due: ty, block-legacy-cli-imports

docs: add b-stack Towncrier changelog strategy
  CONTRIBUTING.md
  docs/b-stack-changelog-strategy.md
  site/content/docs/about/ecosystem.md
Due: none

town crier
  CHANGELOG.md
  changelog.d/+towncrier-bootstrap.added.md
  pyproject.toml
Due: none

config: add towncrier changelog CI and contributor docs
  .github/workflows/changelog.yml
  CONTRIBUTING.md
  bengal/orchestration/build_context.py
  docs/b-stack-changelog-strategy.md
  pyproject.toml
  scripts/benchmark_transforms.py
Due: ty, block-legacy-cli-imports

fix: suppress console output in DEBUG logging tests to prevent CI hang
  tests/integration/test_logging_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: use sequential builds in LLM txt integration tests to prevent hang
  tests/integration/test_llm_txt_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: add double-checked locking to all lazy caches for free-threading safety
  bengal/core/nav_tree.py
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  bengal/core/page/metadata.py
  bengal/core/page/proxy.py
  bengal/core/page_cache.py
  tests/integration/test_llm_txt_integration.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: use RLock for Page _init_lock to prevent reentrant deadlock
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  bengal/core/page/metadata.py
Due: ty, block-legacy-cli-imports

plan: add epic for immutable page pipeline ("snapshots all the way down")
  plan/epic-immutable-page-pipeline.md
Due: none

fix: address PR review feedback on epic plan
  plan/epic-immutable-page-pipeline.md
Due: none

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
