Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

perf(workers): FT CPU_BOUND caps + palette RTL dots (#381, #544) (#643)
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  bengal/utils/concurrency/workers.py
  changelog.d/381.changed.md
  tests/unit/utils/test_workers.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): premium code blocks for Pridelands (#542)
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/postprocess/static_markup.py
  bengal/rendering/highlighting/deferred.py
  bengal/themes/default/assets/css/components/code.css
  bengal/utils/primitives/code.py
  changelog.d/+pridelands-premium-code-blocks.changed.md
  tests/unit/postprocess/test_static_markup.py
  tests/unit/utils/test_code.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(site): restore GitHub Pages by unifying auto-nav through main menu
  bengal/orchestration/menu.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/auto_nav.py
  bengal/rendering/template_functions/navigation/models.py
  bengal/themes/default/templates/404.html
  bengal/themes/default/templates/TEMPLATE-CONTEXT.md
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/home.html
  tests/integration/test_auto_menu_renders_index.py
  tests/unit/rendering/test_navigation_models.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

chore(changelog): add fragment for auto-nav menu fix
  changelog.d/+auto-nav-menu.fixed.md
Due: none

feat(theme): premium code blocks for Pridelands (#542) (#644)
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/postprocess/static_markup.py
  bengal/rendering/highlighting/deferred.py
  bengal/themes/default/assets/css/components/code.css
  bengal/utils/primitives/code.py
  changelog.d/+pridelands-premium-code-blocks.changed.md
  tests/unit/postprocess/test_static_markup.py
  tests/unit/utils/test_code.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs(reference): regenerate template functions after get_auto_nav removal
  site/content/docs/reference/template-functions/reference-generated.md
Due: none

fix(site): restore GitHub Pages via unified auto-nav menu pipeline (#645)
  bengal/orchestration/menu.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/auto_nav.py
  bengal/rendering/template_functions/navigation/models.py
  bengal/themes/default/templates/404.html
  bengal/themes/default/templates/TEMPLATE-CONTEXT.md
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/home.html
  changelog.d/+auto-nav-menu.fixed.md
  site/content/docs/reference/template-functions/reference-generated.md
  tests/integration/test_auto_menu_renders_index.py
  tests/unit/rendering/test_navigation_models.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): flatten premium code block chrome and stop double-wrap
  bengal/postprocess/static_markup.py
  bengal/themes/default/assets/css/components/code.css
  changelog.d/+premium-code-block-chrome-fix.fixed.md
  tests/unit/postprocess/test_static_markup.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): use logical margin on code block toolbar for RTL
  bengal/themes/default/assets/css/components/code.css
Due: check-template-css

test(shard): disable directive cache in parse parity check
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(theme): flatten premium code block chrome and stop double-wrap (#646)
  bengal/postprocess/static_markup.py
  bengal/themes/default/assets/css/components/code.css
  changelog.d/+premium-code-block-chrome-fix.fixed.md
  tests/unit/orchestration/render/test_shard_worker.py
  tests/unit/postprocess/test_static_markup.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): finish Pridelands Phase 3 hero unification + docs chrome (#542, #543)
  bengal/themes/default/assets/js/enhancements/track-nav.js
  bengal/themes/default/assets/js/enhancements/tracks.js
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/authors/list.html
  bengal/themes/default/templates/autodoc/openapi/section-index.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/page-hero.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/themes/default/templates/partials/track_nav.html
  bengal/themes/default/templates/tracks/list.html
  bengal/themes/default/templates/tracks/single.html
  bengal/themes/default/templates/tutorial/list.html
  bengal/themes/default/templates/tutorial/single.html
  bengal/themes/default/theme.yaml
  changelog.d/542-543.changed.md
  tests/unit/rendering/test_view_transitions.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(changelog): rename fragment to numeric issue id for towncrier lint
  changelog.d/542.changed.md
Due: none

fix(theme): bundle view-transition CSS to fix asset reference CI
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/base.html
  tests/unit/rendering/test_view_transitions.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): finish Pridelands Phase 3 (#542, #543) (#647)
  bengal/themes/default/assets/js/enhancements/track-nav.js
  bengal/themes/default/assets/js/enhancements/tracks.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/authors/list.html
  bengal/themes/default/templates/autodoc/openapi/section-index.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/page-hero.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/themes/default/templates/partials/track_nav.html
  bengal/themes/default/templates/tracks/list.html
  bengal/themes/default/templates/tracks/single.html
  bengal/themes/default/templates/tutorial/list.html
  bengal/themes/default/templates/tutorial/single.html
  bengal/themes/default/theme.yaml
  changelog.d/542.changed.md
  tests/unit/rendering/test_view_transitions.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): give editor code blocks IDE-style tab bar chrome
  bengal/postprocess/static_markup.py
  bengal/rendering/highlighting/deferred.py
  bengal/themes/default/assets/css/components/code.css
  changelog.d/+editor-code-block-tab-bar.changed.md
  tests/unit/postprocess/test_static_markup.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(graph): topic atlas layout with semantic zoom for large graphs
  bengal/analysis/graph/layout.py
  bengal/analysis/graph/visualizer.py
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/js/bengal-graph-explorer.js
  tests/unit/analysis/test_graph_layout.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

chore(changelog): add fragment for graph atlas semantic zoom
  changelog.d/+graph-atlas-semantic-zoom.added.md
Due: none

feat(graph): topic atlas layout with semantic zoom for large graphs (#649)
  bengal/analysis/graph/layout.py
  bengal/analysis/graph/visualizer.py
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/js/bengal-graph-explorer.js
  changelog.d/+graph-atlas-semantic-zoom.added.md
  tests/unit/analysis/test_graph_layout.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): give editor code blocks IDE-style tab bar chrome (#648)
  bengal/postprocess/static_markup.py
  bengal/rendering/highlighting/deferred.py
  bengal/themes/default/assets/css/components/code.css
  changelog.d/+editor-code-block-tab-bar.changed.md
  tests/unit/postprocess/test_static_markup.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): Pridelands Phase 4 showcase gallery + quality gate (#545)
  bengal/parsing/backends/patitas/directives/builtins/media.py
  bengal/themes/default/assets/design-tokens.json
  bengal/themes/default/assets/js/enhancements/action-bar.js
  bengal/themes/default/assets/site.webmanifest
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/themes/default/templates/shortcodes/img.html
  bengal/themes/generate.py
  changelog.d/545.changed.md
  examples/showcase/README.md
  examples/showcase/assets/images/kida-avatar.png
  examples/showcase/bengal.toml
  examples/showcase/content/index.md
  examples/showcase/content/showcase/_index.md
  tests/integration/test_showcase_example.py
  tests/unit/rendering/directives/test_media_directives.py
  tests/unit/themes/test_design_tokens_manifest.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(changelog): drop Phase 4 coinage from #545 fragment
  changelog.d/545.changed.md
Due: none

fix(theme): apply implicit editor frame to non-shell code blocks
  bengal/postprocess/static_markup.py
  bengal/utils/primitives/code.py
  changelog.d/+implicit-editor-code-block-frame.fixed.md
  tests/unit/postprocess/test_static_markup.py
  tests/unit/utils/test_code.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(theme): expect figure pixel dims as HTML attributes
  tests/unit/rendering/directives/test_media_directives.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test: fix CI failures after implicit editor frame default
  tests/unit/orchestration/test_complexity.py
  tests/unit/rendering/test_code_block_highlighting.py
  tests/unit/rendering/test_syntax_highlighting.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(theme): Pridelands Phase 4 showcase gallery + quality gate (#545) (#650)
  bengal/parsing/backends/patitas/directives/builtins/media.py
  bengal/themes/default/assets/design-tokens.json
  bengal/themes/default/assets/js/enhancements/action-bar.js
  bengal/themes/default/assets/site.webmanifest
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/themes/default/templates/shortcodes/img.html
  bengal/themes/generate.py
  changelog.d/545.changed.md
  examples/showcase/README.md
  examples/showcase/assets/images/kida-avatar.png
  examples/showcase/bengal.toml
  examples/showcase/content/index.md
  examples/showcase/content/showcase/_index.md
  tests/integration/test_showcase_example.py
  tests/unit/rendering/directives/test_media_directives.py
  tests/unit/themes/test_design_tokens_manifest.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): apply implicit editor frame to non-shell code blocks (#651)
  bengal/postprocess/static_markup.py
  bengal/utils/primitives/code.py
  changelog.d/+implicit-editor-code-block-frame.fixed.md
  tests/unit/orchestration/test_complexity.py
  tests/unit/postprocess/test_static_markup.py
  tests/unit/rendering/test_code_block_highlighting.py
  tests/unit/rendering/test_syntax_highlighting.py
  tests/unit/utils/test_code.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

perf(warm-build): wire build_cache + cache discovery facts (#332)
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/content/discovery/content_discovery.py
  bengal/content/discovery_facts.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/content.py
  bengal/orchestration/feature_detector.py
  bengal/orchestration/render/pipeline_runner.py
  bengal/orchestration/render/sequential.py
  bengal/rendering/pipeline/cache_checker.py
  tests/unit/cache/test_build_cache.py
  tests/unit/orchestration/test_feature_detector.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(feature-detector): avoid parsed-field allowlist violation in CI
  tests/unit/orchestration/test_feature_detector.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test(shard-worker): run parse parity in subprocess to fix CI flake
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(incremental): resolve output_sources paths and skip stale parsed cache
  bengal/content/discovery/content_discovery.py
  bengal/orchestration/incremental/cleanup.py
  tests/unit/orchestration/incremental/test_cleanup.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Add free-threading confirmation gate for build and serve commands.
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/preview.py
  bengal/cli/milo_commands/serve.py
  bengal/cli/utils/free_threading.py
  bengal/utils/concurrency/__init__.py
  bengal/utils/concurrency/gil.py
  bengal/utils/dx/hints.py
  changelog.d/+free-threading-cli-gate.added.md
  tests/unit/cli/test_free_threading_gate.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

test(discovery): stub is_changed on mock build cache for surgical tests
  tests/unit/discovery/test_surgical_discovery.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Accept prose not applicable in Performance Evidence PR checks.
  scripts/check_performance_evidence.py
  tests/unit/test_performance_evidence_check.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Gate build and serve on free-threading with explicit confirm (#692)
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/preview.py
  bengal/cli/milo_commands/serve.py
  bengal/cli/utils/free_threading.py
  bengal/utils/concurrency/__init__.py
  bengal/utils/concurrency/gil.py
  bengal/utils/dx/hints.py
  changelog.d/+free-threading-cli-gate.added.md
  scripts/check_performance_evidence.py
  tests/unit/cli/test_free_threading_gate.py
  tests/unit/test_performance_evidence_check.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(incremental): rebuild pages with data deps and restore cached templates
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/content/discovery/content_discovery.py
  bengal/orchestration/build/rendering.py
Due: ty, block-legacy-cli-imports

perf(warm-build): wire build_cache + cache discovery facts (#332) (#652)
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/content/discovery/content_discovery.py
  bengal/content/discovery_facts.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/content.py
  bengal/orchestration/feature_detector.py
  bengal/orchestration/incremental/cleanup.py
  bengal/orchestration/render/pipeline_runner.py
  bengal/orchestration/render/sequential.py
  bengal/rendering/pipeline/cache_checker.py
  tests/unit/cache/test_build_cache.py
  tests/unit/discovery/test_surgical_discovery.py
  tests/unit/orchestration/incremental/test_cleanup.py
  tests/unit/orchestration/render/test_shard_worker.py
  tests/unit/orchestration/test_feature_detector.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: add agent-parallelization magnet harness
  plan/README.md
  plan/agent-parallelization.md
Due: none

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
