Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

server: add BufferManager for double-buffered output
  bengal/server/buffer_manager.py
  tests/unit/server/test_buffer_manager.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/themes/default/assets/css/composition/layouts.css
  tests/unit/core/page/test_frontmatter.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ai tuff
  README.md
  bengal/config/defaults.py
  bengal/core/page/metadata.py
  bengal/orchestration/build/output_types.py
  bengal/orchestration/postprocess.py
  bengal/postprocess/__init__.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/robots_txt.py
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/templates/base.html
  site/content/docs/building/seo.md
  tests/unit/core/test_content_signals_visibility.py
  tests/unit/core/test_page_visibility.py
  tests/unit/orchestration/test_output_types.py
  tests/unit/postprocess/test_content_signals_enforcement.py
  tests/unit/postprocess/test_robots_txt.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ai stuff
  README.md
  bengal/config/defaults.py
  bengal/orchestration/build/output_types.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/agent_manifest_generator.py
  bengal/postprocess/output_formats/changelog_generator.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/llms_txt_generator.py
  bengal/postprocess/output_formats/utils.py
  bengal/postprocess/robots_txt.py
  bengal/rendering/template_functions/urls.py
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/article-jsonld.html
  bengal/themes/default/templates/partials/connect-to-ide.html
  site/content/docs/building/_index.md
  site/content/docs/building/connect-to-ide.md
  site/content/docs/building/output-formats.md
  site/content/docs/building/seo.md
  tests/unit/postprocess/test_agent_manifest.py
  tests/unit/postprocess/test_changelog_generator.py
  tests/unit/postprocess/test_heading_chunks.py
  tests/unit/postprocess/test_llms_txt.py
  tests/unit/postprocess/test_page_json_fields.py
  tests/unit/rendering/test_cursor_mcp_install_url.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

pounce upgrade
  pyproject.toml
Due: none

kida version
  pyproject.toml
Due: none

tests: enable content_signals.ai_train in LLM txt integration fixture
  tests/integration/test_llm_txt_integration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

cascade fix
  bengal/core/site/cascade.py
Due: ty, block-legacy-cli-imports

lint
  bengal/config/utils.py
  bengal/rendering/template_functions/sharing.py
  bengal/rendering/template_functions/tables.py
  bengal/server/asgi_app.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/watcher_runner.py
  bengal/services/config.py
Due: ty, block-legacy-cli-imports

server: address PR #165 review concerns
  bengal/postprocess/output_formats/llms_txt_generator.py
  bengal/postprocess/output_formats/utils.py
  bengal/postprocess/robots_txt.py
  bengal/rendering/template_functions/urls.py
  bengal/server/buffer_manager.py
  bengal/server/build_trigger.py
  bengal/server/live_reload/notification.py
  bengal/themes/default/templates/partials/connect-to-ide.html
  tests/unit/postprocess/test_heading_chunks.py
  tests/unit/rendering/test_cursor_mcp_install_url.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

pr concerns
  bengal/postprocess/output_formats/utils.py
  bengal/postprocess/robots_txt.py
  tests/unit/postprocess/test_heading_chunks.py
  tests/unit/postprocess/test_robots_txt.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

release
  README.md
  changelog.md
  pyproject.toml
  site/content/releases/0.2.6.md
Due: none

toc fix
  bengal/analysis/links/types.py
  bengal/health/validators/link_skip_rules.py
  bengal/health/validators/links.py
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  bengal/parsing/backends/patitas/roles/builtins/reference.py
  bengal/rendering/pipeline/transforms.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/toc.py
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/js/enhancements/toc.js
  bengal/themes/default/assets/js/enhancements/tracks.js
  bengal/themes/default/templates/autodoc/cli/list.html
  bengal/themes/default/templates/autodoc/cli/single.html
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/doc/single.html
  bengal/themes/default/templates/notebook/single.html
  bengal/themes/default/templates/partials/docs-toc-sidebar.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/tracks/single.html
  bengal/utils/paths/link_resolution.py
  site/content/docs/building/configuration/variants.md
  site/content/docs/extending/custom-directives.md
  site/content/docs/extending/shortcodes.md
  site/content/docs/reference/architecture/design-principles.md
  site/content/docs/reference/architecture/rendering/rendering.md
  site/content/docs/reference/architecture/subsystems/output.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/templates/partials/navigation-components.html
  tests/unit/rendering/parsers/test_patitas/test_roles.py
  tests/unit/rendering/test_link_validator.py
  tests/unit/rendering/test_navigation_functions.py
  tests/unit/rendering/test_navigation_templates_baseurl.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

orchestration: enable individual OpenAPI endpoint pages, fix links
  bengal/autodoc/orchestration/orchestrator.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/rendering/template_functions/openapi.py
  bengal/themes/default/templates/autodoc/openapi/partials/endpoint-header.html
  bengal/themes/default/templates/autodoc/openapi/partials/request-body.html
  bengal/themes/default/templates/autodoc/openapi/partials/responses.html
  plan/epic-openapi-rest-layout-upgrade.md
Due: ty, block-legacy-cli-imports, check-template-css

dev server edge cases, openai layout work phase 1
  bengal/autodoc/extractors/openapi.py
  bengal/orchestration/build/inputs.py
  bengal/rendering/template_functions/collections.py
  bengal/server/build_executor.py
  bengal/server/dev_server.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/assets/css/tokens/foundation.css
  bengal/themes/default/templates/autodoc/openapi/_components.html
  bengal/themes/default/templates/autodoc/openapi/_schema.html
  bengal/themes/default/templates/autodoc/openapi/endpoint.html
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/autodoc/openapi/list.html
  bengal/themes/default/templates/autodoc/openapi/partials/code-samples.html
  bengal/themes/default/templates/autodoc/openapi/partials/param-row.html
  bengal/themes/default/templates/autodoc/openapi/partials/playground-bar.html
  bengal/themes/default/templates/autodoc/openapi/partials/request-body.html
  bengal/themes/default/templates/autodoc/openapi/partials/responses.html
  bengal/themes/default/templates/autodoc/openapi/partials/schema-viewer.html
  bengal/themes/default/templates/autodoc/openapi/schema.html
  plan/rfc-dev-server-buffer-hardening.md
  tests/unit/server/test_build_executor.py
  tests/unit/server/test_dev_server_live_reload.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

config: enable per-endpoint openapi pages; rendering: handle typed metadata in template functions
  bengal/rendering/template_functions/openapi.py
  site/config/_default/autodoc.yaml
Due: ty, block-legacy-cli-imports

rendering: fix explorer layout regions suppressing content
  bengal/themes/default/templates/autodoc/openapi/endpoint.html
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/autodoc/openapi/layouts/reference.html
  bengal/themes/default/templates/autodoc/openapi/schema.html
Due: check-template-css

rendering: add sidebar navigation to API home page
  .github/workflows/tests.yml
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/partials/sidebar-nav.html
  plan/maturity-assessment.md
  plan/plan-production-maturity.md
  pyproject.toml
  scripts/repro_ctx_error.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/test_smoke_build_validate.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

tests: add E2E tests for versioned, baseurl, taxonomy journeys
  tests/e2e/test_baseurl_build.py
  tests/e2e/test_taxonomy_directives.py
  tests/e2e/test_versioned_build.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: align custom-directives doc with DirectiveHandler API
  site/content/docs/extending/custom-directives.md
Due: none

docs: add gen-docs scripts for config and template function reference
  pyproject.toml
  scripts/generate_config_reference.py
  scripts/generate_template_functions_reference.py
  site/content/docs/reference/architecture/tooling/config-reference.md
  site/content/docs/reference/template-functions/reference-generated.md
Due: ty

docs: add extension guide with shortcodes, filters, directives walkthrough
  site/content/docs/extending/_index.md
  site/content/docs/extending/extension-guide.md
  site/content/docs/extending/shortcodes.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/content/tracks/extension-developer.md
Due: none

i18n: add gettext PO/MO workflow (Phase 1A)
  bengal/cli/__init__.py
  bengal/cli/commands/i18n.py
  bengal/i18n/__init__.py
  bengal/i18n/catalog.py
  bengal/rendering/template_functions/i18n.py
  pyproject.toml
  tests/integration/test_i18n_gettext.py
  tests/roots/test-i18n-gettext/bengal.toml
  tests/roots/test-i18n-gettext/content/ar/_index.md
  tests/roots/test-i18n-gettext/content/ar/about.md
  tests/roots/test-i18n-gettext/content/en/_index.md
  tests/roots/test-i18n-gettext/content/en/about.md
  tests/roots/test-i18n-gettext/content/es/_index.md
  tests/roots/test-i18n-gettext/content/es/about.md
  tests/roots/test-i18n-gettext/i18n/ar/LC_MESSAGES/messages.mo
  tests/roots/test-i18n-gettext/i18n/ar/LC_MESSAGES/messages.po
  tests/roots/test-i18n-gettext/i18n/en/LC_MESSAGES/messages.mo
  tests/roots/test-i18n-gettext/i18n/en/LC_MESSAGES/messages.po
  tests/roots/test-i18n-gettext/i18n/es/LC_MESSAGES/messages.mo
  tests/roots/test-i18n-gettext/i18n/es/LC_MESSAGES/messages.po
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  bengal/cli/commands/i18n.py
  bengal/directives/__init__.py
  bengal/i18n/__init__.py
  bengal/i18n/catalog.py
  bengal/rendering/adapters/generic.py
  bengal/rendering/adapters/jinja.py
  bengal/rendering/adapters/kida.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/template_functions/i18n.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/templates/autodoc/openapi/home.html
  bengal/themes/default/templates/autodoc/openapi/partials/sidebar-nav.html
  bengal/themes/default/templates/base.html
  bengal/utils/paths/__init__.py
  bengal/utils/paths/url_normalization.py
  tests/integration/test_i18n_gettext.py
  tests/roots/test-i18n-gettext/templates/nav.html
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

check in
  bengal/autodoc/orchestration/page_builders.py
  bengal/autodoc/orchestration/section_builders.py
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/templates/autodoc/openapi/schema.html
  bengal/utils/paths/__init__.py
  bengal/utils/paths/url_normalization.py
  plan/commonmark-deviations.md
  plan/maturity-assessment.md
  plan/plan-production-maturity.md
  plan/rfc-patitas-commonmark-compliance.md
  tests/integration/test_i18n_gettext.py
  tests/unit/utils/test_url_normalization.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

tests: add OpenAPI extractor test suite, fix virtual pages consolidate
  tests/unit/autodoc/test_openapi_extractor.py
  tests/unit/autodoc/test_openapi_virtual_pages.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

autodoc: add external $ref resolution (file-relative, URL, circular)
  bengal/autodoc/extractors/openapi.py
  tests/unit/autodoc/test_openapi_extractor.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  bengal/autodoc/config.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/assets/js/enhancements/api-explorer.js
  bengal/themes/default/templates/autodoc/openapi/endpoint.html
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/autodoc/openapi/partials/try-it-panel.html
  plan/plan-production-maturity.md
  site/config/_default/autodoc.yaml
  site/content/docs/content/i18n/_index.md
  site/content/docs/content/i18n/quickstart.md
  site/content/docs/content/i18n/rtl.md
  site/content/docs/content/i18n/translator-guide.md
  site/content/docs/extending/extension-guide.md
  site/content/docs/tutorials/user-scenarios.md
  tests/e2e/test_dev_server_reload.py
  tests/e2e/test_i18n_build.py
  tests/unit/rendering/test_i18n_template_functions.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

core: extract sortable_weight, resolve_nav_title; coerce_int; autodoc helpers
  bengal/autodoc/config.py
  bengal/core/page/metadata.py
  bengal/core/page/proxy.py
  bengal/core/section/__init__.py
  bengal/core/utils/__init__.py
  bengal/core/utils/shared.py
  bengal/core/utils/sorting.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/renderer.py
  bengal/rendering/shortcodes.py
  bengal/rendering/template_functions/blog.py
  bengal/rendering/template_functions/tables.py
Due: ty, block-legacy-cli-imports

refactoring
  bengal/orchestration/constants.py
  bengal/server/build_trigger.py
  bengal/themes/default/assets/css/components/api-hub.css
  bengal/themes/default/assets/css/components/hub-cards.css
  bengal/themes/default/templates/autodoc/openapi/endpoint.html
  bengal/themes/default/templates/autodoc/openapi/layouts/explorer.html
  bengal/themes/default/templates/autodoc/openapi/partials/try-it-panel.html
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

core: unify MetadataView; SiteContent delegates to PageCacheManager; get_max_workers
  bengal/autodoc/models/common.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/core/site_content.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/taxonomy.py
  bengal/orchestration/utils/__init__.py
  bengal/orchestration/utils/config.py
  bengal/rendering/pipeline/autodoc_renderer.py
  tests/unit/core/test_site_content.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

checkpoint
  .cursor/agents/architecture-maturity-audit.md
  .cursor/agents/developer-experience-audit.md
  .cursor/agents/journey-maturity-pm.md
  .cursor/agents/maintainability-audit.md
  .cursor/agents/performance-maturity-audit.md
  .cursor/agents/reliability-maturity-audit.md
  .cursor/agents/test-coverage-audit.md
  bengal/server/build_trigger.py
  bengal/server/reactive/__init__.py
  bengal/server/reactive/template_handler.py
  plan/reload-tier-architecture.md
Due: ty, block-legacy-cli-imports

checkpoint
  .cursor/agents/architectural-audit.md
  .cursor/agents/coverage-audit.md
  .cursor/agents/developer-audit.md
  .cursor/agents/journey-audit.md
  .cursor/agents/maintainability-audit.md
  .cursor/agents/performance-audit.md
  .cursor/agents/reliability-audit.md
  bengal/cache/build_cache/file_tracking.py
  bengal/cache/build_cache/fingerprint.py
  bengal/core/page/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/types.py
  bengal/orchestration/build/provenance_filter.py
  bengal/rendering/pipeline/toc.py
  bengal/rendering/template_functions/navigation/toc.py
  bengal/server/build_trigger.py
  bengal/server/live_reload/notification.py
  bengal/server/live_reload/script.py
  plan/reload-tier-architecture.md
  tests/unit/cache/test_path_variant_fixtures.py
  tests/unit/rendering/test_navigation_functions.py
  tests/unit/rendering/test_toc_extraction.py
  tests/unit/server/test_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: fix provenance_filter mocks for FileFingerprint API
  tests/unit/orchestration/build/test_provenance_filter_path_keys.py
  tests/unit/rendering/test_navigation_functions.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

cache: add public BuildCache.cache_key(), is_root_level_page, theme_templates_dir
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/taxonomy_index_mixin.py
  bengal/core/page/navigation.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/menu.py
  bengal/orchestration/taxonomy.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/template_functions/navigation/auto_nav.py
Due: ty, block-legacy-cli-imports

orchestration: add reload fragility improvements (phases 1-5)
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/taxonomy_index_mixin.py
  bengal/config/defaults.py
  bengal/core/page/__init__.py
  bengal/core/page/operations.py
  bengal/core/site/lifecycle.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build_state.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/cleanup.py
  bengal/orchestration/menu.py
  bengal/rendering/page_operations.py
  bengal/server/build_trigger.py
  bengal/server/live_reload/fragment.py
  bengal/server/reactive/handler.py
  bengal/server/reload_controller.py
  plan/reload-controller-dual-path-proposal.md
  plan/reload-fragility-improvements.md
  site/content/docs/extending/theme-customization.md
Due: ty, block-legacy-cli-imports

bsoup
  bengal/core/site/__init__.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/live_reload/fragment.py
  bengal/server/reload_controller.py
  pyproject.toml
  site/content/docs/extending/theme-customization.md
  tests/unit/orchestration/incremental/test_cleanup.py
  tests/unit/orchestration/test_menu_dev_dropdown_autodoc.py
  tests/unit/orchestration/test_menu_orchestrator.py
  tests/unit/server/test_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: add content selector fallback chain and content-hash startup validation
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/live_reload/fragment.py
  tests/unit/server/test_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: move Site._load_data_directory to ContentOrchestrator
  bengal/core/site/__init__.py
  bengal/orchestration/content.py
Due: ty, block-legacy-cli-imports

services: add asset_io; core: delegate Asset I/O to service
  bengal/core/asset/asset_core.py
  bengal/services/asset_io.py
Due: ty, block-legacy-cli-imports
