Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

updates
  bengal/autodoc/extractors/cli.py
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  bengal/parsing/backends/patitas/directives/builtins/cards_utils.py
  bengal/rendering/template_functions/content.py
  bengal/rendering/template_functions/get_page.py
  bengal/themes/default/templates/autodoc/cli/command-group.html
  bengal/themes/default/templates/autodoc/partials/usage.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/themes/default/templates/tracks/single.html
  tests/unit/autodoc/test_cli_extractor.py
  tests/unit/template_functions/test_content.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

incremental: add transitive track item deps for rebuild set
  bengal/orchestration/incremental/orchestrator.py
  tests/unit/orchestration/incremental/test_track_dependencies.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: fix priority sort to pull track items when track page changed
  bengal/orchestration/render/orchestrator.py
  tests/unit/orchestration/test_render_orchestrator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

formatting
  bengal/analysis/graph/visualizer.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/render/orchestrator.py
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/rendering/template_functions/content.py
  bengal/utils/dx/detection.py
  bengal/utils/dx/hints.py
  bengal/utils/xref.py
  tests/unit/autodoc/test_cli_extractor.py
  tests/unit/orchestration/test_render_orchestrator.py
  tests/unit/rendering/test_cards_directive.py
  tests/unit/rendering/test_page_dependent_directive_caching.py
  tests/unit/utils/dx/test_detection.py
  tests/unit/utils/dx/test_hints.py
  tests/unit/utils/test_xref.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feedback
  bengal/autodoc/extractors/cli.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/rendering/template_functions/content.py
  bengal/server/asgi_app.py
  bengal/themes/default/assets/css/base/utilities.css
  tests/unit/utils/test_xref.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/__init__.py
  bengal/postprocess/xref_index.py
  pyproject.toml
  site/content/releases/0.2.1.md
Due: ty, block-legacy-cli-imports

docs
  site/content/docs/content/reuse/filtering.md
  site/content/docs/content/versioning/folder-mode.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/content/docs/theming/templating/kida/create-custom-template.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
Due: none

initial pass
  bengal/cli/commands/new/config.py
  bengal/cli/commands/new/site.py
  bengal/core/page/__init__.py
  bengal/orchestration/menu.py
  bengal/rendering/template_functions/blog.py
  bengal/rendering/template_functions/navigation/auto_nav.py
  bengal/scaffolds/blog/pages/index.md
  bengal/scaffolds/blog/skeleton.yaml
  bengal/scaffolds/default/pages/index.md
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/file_watcher.py
  bengal/server/watcher_runner.py
  bengal/themes/default/assets/css/components/author-page.css
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/assets/js/utils.js
  bengal/themes/default/templates/authors/single.html
  bengal/themes/default/templates/blog/home.html
  bengal/themes/default/templates/blog/list.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/doc/home.html
  bengal/themes/default/templates/partials/components/article.html
  bengal/themes/default/templates/partials/components/post-card.html
  bengal/themes/default/templates/partials/components/tiles.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/tutorial/list.html
  bengal/utils/dx/hints.py
  plan/blog-template-vision.md
  site/content/docs/get-started/quickstart-writer.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css

updates
  bengal/themes/default/assets/icons/envelope-simple.svg
  bengal/themes/default/assets/icons/reddit-logo.svg
Due: none

updates
  bengal/cli/commands/new/config.py
  bengal/core/page/metadata.py
  bengal/core/section/navigation.py
  bengal/core/utils/url.py
  bengal/orchestration/related_posts.py
  bengal/rendering/context/__init__.py
  bengal/scaffolds/blog/pages/about.md
  bengal/scaffolds/blog/pages/index.md
  bengal/scaffolds/landing/pages/index.md
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/authors/list.html
  bengal/themes/default/templates/authors/single.html
  bengal/themes/default/templates/blog/about.html
  bengal/themes/default/templates/blog/contact.html
  bengal/themes/default/templates/blog/home.html
  bengal/themes/default/templates/blog/list.html
  bengal/themes/default/templates/blog/shell.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/category-browser.html
  bengal/themes/default/templates/changelog/list.html
  bengal/themes/default/templates/changelog/single.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/components/article.html
  bengal/themes/default/templates/partials/components/post-card.html
  bengal/themes/default/templates/post.html
  bengal/themes/default/templates/tutorial/list.html
  bengal/themes/default/templates/tutorial/single.html
  site/content/docs/theming/recipes/_index.md
  site/content/docs/theming/recipes/blog-comments.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css

checkpoint
  bengal/rendering/template_functions/blog.py
  bengal/scaffolds/blog/data/authors.yml
  bengal/scaffolds/blog/pages/posts/first-post.md
  bengal/scaffolds/blog/pages/posts/second-post.md
  bengal/scaffolds/blog/skeleton.yaml
  bengal/scaffolds/blog/template.py
  bengal/scaffolds/registry.py
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/authors/single.html
  bengal/themes/default/templates/category-browser.html
  bengal/themes/default/templates/partials/components/article.html
Due: ty, block-legacy-cli-imports, check-template-css

layouts
  bengal/cli/commands/new/config.py
  bengal/rendering/template_functions/authors.py
  bengal/scaffolds/blog/data/authors.yml
  bengal/scaffolds/blog/skeleton.yaml
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/share.css
  bengal/themes/default/assets/images/kida-avatar.png
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/blog/about.html
  bengal/themes/default/templates/blog/list.html
  bengal/themes/default/templates/blog/shell.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/page.html
  bengal/themes/default/templates/partials/components/author-bio.html
  bengal/themes/default/templates/partials/components/blog-post-meta.html
  bengal/themes/default/templates/partials/components/blog-share-dropdown.html
  bengal/themes/default/templates/partials/components/comments-section.html
  bengal/themes/default/templates/partials/components/newsletter-cta.html
  bengal/themes/default/templates/partials/components/post-card.html
  bengal/themes/default/templates/partials/components/related-post-card.html
  bengal/themes/default/templates/partials/components/related-posts-simple.html
  bengal/themes/default/templates/partials/components/related-posts.html
  bengal/themes/default/templates/partials/components/social-share.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/post.html
  site/content/docs/theming/recipes/blog-comments.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css

rendering: add excerpt_for_card and card_excerpt filters for preview deduplication
  bengal/rendering/template_functions/strings.py
  bengal/themes/default/templates/partials/components/post-card.html
  bengal/themes/default/templates/partials/components/related-post-card.html
  bengal/themes/default/templates/partials/components/tiles.html
  tests/unit/template_functions/test_strings.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs: add excerpt_for_card and card_excerpt to reference and cheatsheet
  bengal/themes/default/templates/autodoc/partials/_macros/element-card.html
  bengal/themes/default/templates/changelog/list.html
  bengal/themes/default/templates/tutorial/list.html
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/template-functions/string-date-filters.md
  site/content/docs/theming/templating/custom-engine.md
  tests/unit/template_functions/test_card_excerpt_template.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs: expand excerpt_for_card and card_excerpt docs and tests
  site/content/docs/reference/cheatsheet.md
  site/content/docs/reference/template-functions/string-date-filters.md
  site/content/docs/theming/templating/custom-engine.md
  tests/unit/template_functions/test_card_excerpt_template.py
  tests/unit/template_functions/test_strings.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

more power
  bengal/core/page/__init__.py
  bengal/core/page/computed.py
  bengal/core/section/queries.py
  bengal/core/utils/text.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/postprocess/rss.py
  bengal/postprocess/xref_index.py
  bengal/rendering/context/__init__.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/blog.py
  bengal/rendering/template_functions/get_page.py
  bengal/rendering/template_functions/strings.py
  bengal/scaffolds/blog/data/authors.yml
  bengal/scaffolds/blog/skeleton.yaml
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/templates/blog/home.html
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/partials/components/blog-post-meta.html
  bengal/themes/default/templates/partials/components/blog-share-dropdown.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/utils/primitives/text.py
  tests/rendering/parsers/test_patitas/test_integration.py
  tests/unit/core/test_computed_functions.py
  tests/unit/core/test_page_cached_properties.py
  tests/unit/core/utils/test_text.py
  tests/unit/postprocess/test_rss_generator.py
  tests/unit/rendering/test_target_directive.py
  tests/unit/rendering/test_xref_bug.py
  tests/unit/template_functions/test_card_excerpt_template.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

styling
  bengal/config/defaults.py
  bengal/config/snapshot.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/get_page.py
  bengal/rendering/template_functions/strings.py
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/related-posts.css
  bengal/themes/default/templates/partials/components/post-card.html
  bengal/themes/default/templates/partials/components/related-post-card.html
  site/config/_default/content.yaml
Due: ty, block-legacy-cli-imports, check-template-css

updates
  bengal/cli/commands/new/config.py
  bengal/config/defaults.py
  bengal/config/snapshot.py
  bengal/config/utils.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/blog.py
  bengal/rendering/template_functions/get_page.py
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/templates/partials/components/article.html
  bengal/themes/default/templates/partials/components/post-card.html
  bengal/themes/default/templates/partials/components/related-post-card.html
  site/config/_default/content.yaml
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css

update
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/content/utils/frontmatter.py
  bengal/core/section/queries.py
  bengal/rendering/engines/kida.py
  bengal/rendering/errors/exceptions.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/renderer.py
  bengal/snapshots/content.py
  bengal/snapshots/persistence.py
  bengal/snapshots/types.py
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/templates/blog/home.html
  bengal/themes/default/templates/blog/list.html
  tests/unit/services/test_query_service.py
  tests/unit/snapshots/test_incremental_snapshot.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fixes
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/get_page.py
  bengal/scaffolds/blog/pages/about.md
  bengal/scaffolds/blog/pages/index.md
  tests/unit/config/test_defaults.py
  tests/unit/core/test_page_urls_in_sections.py
  tests/unit/rendering/test_output_format_html.py
  tests/unit/rendering/test_page_hero_templates.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix
  bengal/rendering/pipeline/core.py
  bengal/rendering/renderer.py
  bengal/rendering/template_functions/navigation/pagination.py
  bengal/rendering/template_functions/strings.py
  bengal/utils/pagination/paginator.py
Due: ty, block-legacy-cli-imports

updates
  .cursor/rules/modules/filter-type-coercion/RULE.mdc
  bengal/config/snapshot.py
  bengal/config/utils.py
  bengal/rendering/template_functions/navigation/pagination.py
  bengal/rendering/template_functions/strings.py
  bengal/utils/pagination/paginator.py
  tests/unit/config/test_config_snapshot.py
  tests/unit/rendering/test_navigation_functions.py
  tests/unit/template_functions/test_card_excerpt_template.py
  tests/unit/template_functions/test_strings.py
  tests/unit/utils/test_pagination_properties.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests
  bengal/snapshots/content.py
  bengal/snapshots/persistence.py
  bengal/snapshots/scheduling.py
  tests/unit/snapshots/test_snapshot_persistence.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Update bengal/scaffolds/blog/data/authors.yml
  bengal/scaffolds/blog/data/authors.yml
Due: none

test fix
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/assets/css/components/blog.css
  pyproject.toml
  tests/unit/rendering/test_action_bar_llm_urls.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

lint
  bengal/config/snapshot.py
  bengal/content/utils/frontmatter.py
  bengal/core/utils/text.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/get_page.py
  bengal/rendering/template_functions/navigation/auto_nav.py
  bengal/server/file_watcher.py
  tests/unit/config/test_config_snapshot.py
  tests/unit/postprocess/test_rss_generator.py
  tests/unit/snapshots/test_snapshot_persistence.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

pr feedback
  bengal/rendering/engines/kida.py
  bengal/scaffolds/blog/data/authors.yml
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/partials/components/related-post-card.html
  tests/unit/template_functions/test_card_excerpt_template.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix: resolve all ty type checker errors
  bengal/config/env_overrides.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/get_page.py
  bengal/server/dev_server.py
  bengal/server/utils.py
  bengal/utils/concurrency/gil.py
  bengal/utils/dx/hints.py
Due: ty, block-legacy-cli-imports

tooling: fix ty errors to unblock prek migration
  bengal/config/env_overrides.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/template_functions/get_page.py
Due: ty, block-legacy-cli-imports

fix
  bengal/scaffolds/blog/data/authors.yml
Due: none

tests: add parallel_unsafe marker to ThreadPoolExecutor tests
  tests/unit/core/output/test_collector.py
  tests/unit/core/test_cascade_snapshot.py
  tests/unit/discovery/test_surgical_discovery.py
  tests/unit/orchestration/test_render_orchestrator_thread_cache.py
  tests/unit/postprocess/test_output_formats_errors.py
  tests/unit/rendering/parsers/test_patitas/test_contextvar_config.py
  tests/unit/rendering/test_engine_globals.py
  tests/unit/rendering/test_kida_thread_safety.py
  tests/unit/rendering/test_thread_safety.py
  tests/unit/test_nav_tree.py
  tests/unit/utils/test_build_context.py
  tests/unit/utils/test_build_context_assets.py
  tests/unit/utils/test_concurrent_locks.py
  tests/unit/utils/test_lru_cache.py
  tests/unit/utils/test_thread_local.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

config: upgrade ruff to 0.15.1, apply format
  pyproject.toml
  uv.lock
Due: none

lock
  uv.lock
Due: none

fix
  uv.lock
Due: none

cache: remove unused TypeVar after PEP 695 migration
  benchmarks/calibrate_worker_thresholds.py
  bengal/analysis/utils/indexing.py
  bengal/analysis/utils/traversal.py
  bengal/cache/utils/stats.py
  bengal/content/utils/async_parallel.py
  bengal/errors/recovery.py
Due: ty, block-legacy-cli-imports
