Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

rendering: relocate template bytecode cache to .bengal/templates; add migration helper for legacy location
  bengal/rendering/template_engine/environment.py
  bengal/themes/default/templates/api-reference/module.html
  bengal/themes/default/templates/api-reference/section-index.html
  bengal/themes/default/templates/cli-reference/command-group.html
  bengal/themes/default/templates/cli-reference/command.html
  bengal/themes/default/templates/cli-reference/section-index.html
  bengal/themes/default/templates/partials/page-hero-api.html
  bengal/themes/default/templates/partials/page-hero.html
  site/content/docs/theming/themes/customize.md
Due: block-legacy-cli-imports

docs: document .bengal directory in QUICKSTART.md
  QUICKSTART.md
  bengal/themes/default/templates/partials/page-hero-api.html
  bengal/themes/default/templates/partials/page-hero/_share-dropdown.html
Due: none

docs(retro): close out bengal-cache-directory RFC; update changelog with implementation summary
  bengal/themes/default/templates/api-reference/partials/badges.html
  changelog.md
  plan/drafted/plan-bengal-cache-directory.md
  plan/drafted/rfc-bengal-cache-directory.md
Due: none

docs: finalize page-hero template separation; update changelog; cleanup plan files
  plan/drafted/plan-page-hero-template-separation.md
  plan/drafted/rfc-page-hero-template-separation.md
Due: none

fix(health): resolve undefined cache_dir in CacheValidator; tests: mock site.paths properties for swizzle, url_strategy, and cache tests
  bengal/autodoc/virtual_orchestrator.py
  bengal/health/validators/cache.py
  tests/unit/health/validators/test_cache.py
  tests/unit/utils/test_swizzle.py
  tests/unit/utils/test_url_strategy.py
  tests/unit/utils/test_url_strategy_properties.py
Due: block-legacy-cli-imports

fix(autodoc): resolve OpenAPI spec_file relative to site root; add cwd regression test
  bengal/autodoc/virtual_orchestrator.py
  tests/integration/test_autodoc_output_prefix.py
  tests/unit/autodoc/test_openapi_virtual_pages.py
Due: block-legacy-cli-imports

utils(paths): store Jinja2 template bytecode cache under output_dir/.bengal-cache/templates
  bengal/utils/paths.py
Due: block-legacy-cli-imports

docs(plan): draft RFC to enforce PageProxy transparency contract for postprocess/incremental builds
  plan/drafted/rfc-pageproxy-transparency-contract.md
Due: none

fix(theme): un-constrain api/cli reference docs layout; avoid data-variant=None
  bengal/themes/default/assets/css/composition/layouts.css
  bengal/themes/default/templates/base.html
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: none

docs(plan): delete duplicate active autodoc output-prefix RFC
  plan/active/rfc-autodoc-output-prefix.md
Due: none

tools: add scripts/dep_graph_report for import SCCs; core(api): lazily re-export models from bengal/__init__
  bengal/__init__.py
  scripts/dep_graph_report.py
Due: block-legacy-cli-imports

orchestration(incremental): extract find_work_early helpers; build: defer IncrementalOrchestrator import to break cycles
  bengal/orchestration/__init__.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/incremental.py
Due: block-legacy-cli-imports

fix(theme): prevent page-hero wrapper doc comment from leaking </div>/#} into output; autodoc: resolve python source_dirs relative to site root; tests: cover
  bengal/autodoc/virtual_orchestrator.py
  bengal/themes/default/templates/partials/page-hero/_wrapper.html
  tests/integration/test_autodoc_layouts_no_comment_leak.py
  tests/roots/test-autodoc-layouts/bengal.toml
Due: block-legacy-cli-imports

rendering: extract generated page context handlers from Renderer; tests(rendering): add tag pagination coverage
  bengal/rendering/renderer.py
  tests/unit/rendering/test_renderer_tag_context.py
Due: block-legacy-cli-imports

core(section): remove logging side effects; emit diagnostics for orchestrators to log
  bengal/core/diagnostics.py
  bengal/core/section.py
  bengal/discovery/content_discovery.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalization.py
  tests/unit/core/test_section_index_collision.py
Due: block-legacy-cli-imports

tests(integration): unskip and stabilize full→incremental change-detection coverage
  bengal/orchestration/incremental.py
  bengal/rendering/template_engine/core.py
  tests/integration/test_full_to_incremental_sequence.py
Due: block-legacy-cli-imports

orchestration(build): lazily expose IncrementalOrchestrator; incremental: dedupe modified template list
  bengal/orchestration/build/__init__.py
  bengal/orchestration/incremental.py
Due: block-legacy-cli-imports

core: remove remaining logger side effects via diagnostics events; orchestration(menu): plumb sink
  bengal/core/asset/asset_core.py
  bengal/core/cascade_engine.py
  bengal/core/diagnostics.py
  bengal/core/menu.py
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  bengal/core/page/metadata.py
  bengal/core/page/proxy.py
  bengal/core/site/core.py
  bengal/core/site/data.py
  bengal/core/site/discovery.py
  bengal/core/site/properties.py
  bengal/core/site/section_registry.py
  bengal/core/site/theme.py
  bengal/core/theme.py
  bengal/orchestration/menu.py
Due: block-legacy-cli-imports

rendering(template_engine): memoize asset manifest + fingerprint fallbacks; cache referenced-template dependency paths
  bengal/rendering/template_engine/asset_url.py
  bengal/rendering/template_engine/core.py
  bengal/rendering/template_engine/manifest.py
Due: block-legacy-cli-imports

perf: lazy-init autodoc template env; make dependency tracking idempotent; skip redundant mkdir in atomic writes
  bengal/autodoc/virtual_orchestrator.py
  bengal/cache/dependency_tracker.py
  bengal/rendering/pipeline/output.py
  bengal/utils/atomic_write.py
Due: block-legacy-cli-imports

perf(assets): skip fingerprint cleanup on clean builds; use prior manifest for O(1) stale deletion; stream hashing
  bengal/cli/commands/build.py
  bengal/core/asset/asset_core.py
  bengal/orchestration/asset.py
  tests/unit/core/test_asset_processing.py
Due: block-string-based-click-cls, block-legacy-cli-imports

perf(discovery): report content vs assets breakdown; skip autodoc unless configured; avoid asset stat when debug off
  bengal/autodoc/virtual_orchestrator.py
  bengal/discovery/asset_discovery.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/content.py
Due: block-legacy-cli-imports

perf(autodoc): memoize output prefix + OpenAPI prefix derivation to remove per-page overhead
  bengal/autodoc/virtual_orchestrator.py
Due: block-legacy-cli-imports

postprocess: add optional build badge+JSON artifacts written at phase_collect_stats; docs: document build_badge config
  QUICKSTART.md
  bengal/orchestration/build/finalization.py
  bengal/utils/build_badge.py
  tests/unit/orchestration/build/test_finalization.py
Due: block-legacy-cli-imports

rendering(directives): add {build} directive for build badge; tests: extend directive registry; docs: show usage
  CONTRIBUTING.md
  QUICKSTART.md
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/plugins/directives/build.py
  tests/unit/rendering/test_directive_registration.py
  tests/unit/rendering/test_directive_registry.py
Due: block-legacy-cli-imports

perf(autodoc): cache extracted elements via BuildCache.synthetic_pages; harden zstd cache serialization
  bengal/autodoc/base.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/cache/build_cache/core.py
  bengal/cache/compression.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental.py
Due: block-legacy-cli-imports

docs(contributing): align dev setup on uv dependency groups; add CONTRIBUTING.md
  Makefile
  UV_QUICK_REFERENCE.md
  scripts/run-tests.sh
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-contributor.md
Due: none

chore: add extracted stash patch for build directive (reference only)
  patches/build-directive-from-stash-0.patch
Due: none

docs(site): enable build_badge for docs site; add {build} badge to get-started and directives reference
  site/config/_default/build.yaml
  site/content/docs/get-started/_index.md
  site/content/docs/reference/directives/_index.md
Due: none

docs(site): rename get-started Themer card label to avoid spellcheck lint
  site/content/docs/get-started/_index.md
Due: none

rendering(directives): emit relative URLs for {build} badge when page output_path is known
  bengal/rendering/plugins/directives/build.py
Due: block-legacy-cli-imports

rendering(directives): avoid loading=lazy on {build} badge to prevent theme lazy-image opacity hiding
  bengal/rendering/plugins/directives/build.py
Due: block-legacy-cli-imports

rendering(directives): add inline/align options to {build} badge; docs: document layout controls
  bengal/rendering/plugins/directives/build.py
  site/content/docs/reference/directives/_index.md
Due: block-legacy-cli-imports

rendering(theme): add footer build-time badge using palette tokens; utils: bundle core/build-badge.js
  bengal/themes/default/assets/css/layouts/footer.css
  bengal/themes/default/assets/js/core/build-badge.js
  bengal/themes/default/templates/base.html
  bengal/utils/js_bundler.py
Due: block-legacy-cli-imports

themes(openapi): fix REST API autodoc layout, terminology, and 3-panel design
  bengal/autodoc/base.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/config/defaults.py
  bengal/orchestration/content.py
  bengal/rendering/parsers/mistune.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/directives/code_tabs.py
  bengal/rendering/plugins/directives/tabs.py
  bengal/rendering/template_engine/environment.py
  bengal/themes/default/assets/css/components/api-explorer.css
  bengal/themes/default/assets/css/utilities/fluid-blobs.css
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/home.html
  bengal/themes/default/templates/openapi-reference/endpoint.html
  bengal/themes/default/templates/openapi-reference/section-index.html
  bengal/utils/metadata.py
  plan/drafted/rfc-single-pass-ast-html.md
  scripts/benchmark_single_pass_tokens_directives.py
  scripts/spike_mistune_single_pass_compare_site_content.py
  tests/unit/autodoc/test_doc_element_serialization.py
  tests/unit/rendering/test_mistune_single_pass_tokens_spike.py
  tests/unit/rendering/test_pipeline_single_pass_ast_spike.py
Due: block-legacy-cli-imports

autodoc: separate page types for Python (python-reference) vs OpenAPI (openapi-reference); Python keeps prose width constraints
  bengal/autodoc/virtual_orchestrator.py
  bengal/content_types/strategies.py
  bengal/rendering/parsers/mistune.py
  bengal/themes/default/assets/css/composition/layouts.css
  bengal/themes/default/assets/css/utilities/fluid-blobs.css
  bengal/themes/default/templates/home.html
  bengal/themes/default/templates/openapi-reference/endpoint.html
  bengal/themes/default/templates/openapi-reference/section-index.html
  bengal/utils/autodoc.py
  plan/drafted/plan-single-pass-validation.md
  plan/drafted/rfc-single-pass-ast-html.md
  tests/integration/test_single_pass_output_equivalence.py
  tests/unit/autodoc/test_virtual_page_rendering.py
  tests/unit/rendering/test_autodoc_layout_contract.py
Due: block-legacy-cli-imports

tests: add output equivalence tests for single_pass_tokens; rfc: document benchmark results (0-3% savings, no default change needed)
  tests/integration/test_single_pass_output_equivalence.py
Due: none

css(layouts): constrain CLI/OpenAPI prose text to page gutters; keep structural elements full-width
  bengal/themes/default/assets/css/composition/layouts.css
  site/config/_default/autodoc.yaml
Due: none

css(layouts): constrain CLI/OpenAPI .docs-content to container-lg; limit usage sections to prose-width
  bengal/autodoc/virtual_orchestrator.py
  bengal/themes/default/assets/css/composition/layouts.css
  site/config/_default/build.yaml
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
