Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

chore: add towncrier changelog fragment for CLI sharp-edges fix
  changelog.d/cli-sharp-edges.fixed.md
Due: none

fix: address PR review — use caller's cli instance, avoid duplicate CLIOutput
  bengal/cli/milo_commands/build.py
  bengal/cli/utils/site.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: harden CLI user-facing edges across error handling, flags, and validation (#223)
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/codemod.py
  bengal/cli/milo_commands/config.py
  bengal/cli/milo_commands/i18n.py
  bengal/cli/milo_commands/inspect.py
  bengal/cli/milo_commands/serve.py
  bengal/cli/milo_commands/theme.py
  bengal/cli/milo_commands/version.py
  bengal/cli/utils/errors.py
  bengal/cli/utils/site.py
  changelog.d/cli-sharp-edges.fixed.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: surface silent failures and sharpen UX edges across CLI, directives, and incremental builds
  QUICKSTART.md
  bengal/build/provenance/filter.py
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/clean.py
  bengal/cli/milo_commands/fix.py
  bengal/cli/milo_commands/new.py
  bengal/orchestration/build/provenance_filter.py
  bengal/parsing/backends/patitas/directives/options.py
  bengal/parsing/backends/patitas/renderers/directives.py
  plan/epic-ux-sharp-edges.md
  tests/unit/cli/test_build_flag_conflicts.py
  tests/unit/rendering/test_directive_warnings.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore: add towncrier fragment for UX sharp edges fix
  changelog.d/ux-sharp-edges.fixed.md
Due: none

fix: address PR review comments — standardize returns, dedupe warnings, tighten tests
  bengal/build/provenance/filter.py
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/clean.py
  bengal/cli/milo_commands/fix.py
  bengal/parsing/backends/patitas/renderers/directives.py
  tests/unit/cli/test_build_flag_conflicts.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: surface silent failures and sharpen UX edges across CLI and directives (#224)
  QUICKSTART.md
  bengal/build/provenance/filter.py
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/clean.py
  bengal/cli/milo_commands/fix.py
  bengal/cli/milo_commands/new.py
  bengal/orchestration/build/provenance_filter.py
  bengal/parsing/backends/patitas/directives/options.py
  bengal/parsing/backends/patitas/renderers/directives.py
  changelog.d/ux-sharp-edges.fixed.md
  plan/epic-ux-sharp-edges.md
  tests/unit/cli/test_build_flag_conflicts.py
  tests/unit/rendering/test_directive_warnings.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: remediate sharp edges across effects, CLI, and error handling
  bengal/cache/build_cache/core.py
  bengal/cli/helpers/upgrade_check.py
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/codemod.py
  bengal/cli/milo_commands/content.py
  bengal/cli/milo_commands/debug.py
  bengal/cli/milo_commands/i18n.py
  bengal/cli/milo_commands/serve.py
  bengal/cli/milo_commands/theme.py
  bengal/cli/milo_commands/upgrade.py
  bengal/cli/milo_commands/version.py
  bengal/effects/effect.py
  bengal/effects/render_integration.py
  bengal/effects/tracer.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/server/dev_server.py
  bengal/server/reload_controller.py
  plan/drafted/epic-sharp-edges-remediation.md
  plan/drafted/sprint-0-sharp-edges-design.md
  tests/unit/orchestration/test_incremental_orchestrator.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore: add towncrier changelog fragment for sharp edges remediation
  changelog.d/sharp-edges-remediation.fixed.md
Due: none

fix: address PR review feedback on defensive deserialization and validation order
  bengal/cli/milo_commands/build.py
  bengal/effects/effect.py
  bengal/effects/tracer.py
  bengal/server/reload_controller.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: remediate 12 sharp edges across effects, CLI, and error handling (#225)
  bengal/cache/build_cache/core.py
  bengal/cli/helpers/upgrade_check.py
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/codemod.py
  bengal/cli/milo_commands/content.py
  bengal/cli/milo_commands/debug.py
  bengal/cli/milo_commands/i18n.py
  bengal/cli/milo_commands/serve.py
  bengal/cli/milo_commands/theme.py
  bengal/cli/milo_commands/upgrade.py
  bengal/cli/milo_commands/version.py
  bengal/effects/effect.py
  bengal/effects/render_integration.py
  bengal/effects/tracer.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/server/dev_server.py
  bengal/server/reload_controller.py
  changelog.d/sharp-edges-remediation.fixed.md
  plan/drafted/epic-sharp-edges-remediation.md
  plan/drafted/sprint-0-sharp-edges-design.md
  tests/unit/orchestration/test_incremental_orchestrator.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: repair live progress bar, sharpen warnings, and add milo CLI autodoc
  bengal/autodoc/extractors/cli.py
  bengal/build/provenance/filter.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/utils/observability/cli_progress.py
  bengal/utils/observability/logger.py
  site/config/_default/autodoc.yaml
  tests/unit/autodoc/test_cli_extractor.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore: add changelog fragments for progress bar fix and milo autodoc
  changelog.d/milo-cli-autodoc.added.md
  changelog.d/progress-bar-and-warnings.fixed.md
Due: none

fix: address PR review comments on thread safety and type contracts
  bengal/autodoc/extractors/cli.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/utils/observability/cli_progress.py
  bengal/utils/observability/logger.py
  tests/unit/autodoc/test_cli_extractor.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: repair live progress bar, sharpen warnings, add milo CLI autodoc (#226)
  bengal/autodoc/extractors/cli.py
  bengal/build/provenance/filter.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/utils/observability/cli_progress.py
  bengal/utils/observability/logger.py
  changelog.d/milo-cli-autodoc.added.md
  changelog.d/progress-bar-and-warnings.fixed.md
  site/config/_default/autodoc.yaml
  tests/unit/autodoc/test_cli_extractor.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: harden 17 UX sharp edges across CLI, config, build, and themes
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/codemod.py
  bengal/cli/milo_commands/content.py
  bengal/cli/milo_commands/i18n.py
  bengal/cli/milo_commands/version.py
  bengal/config/env_overrides.py
  bengal/config/feature_mappings.py
  bengal/config/validators.py
  bengal/content/sources/manager.py
  bengal/core/site/__init__.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/parsing/backends/patitas/directives/builtins/include.py
  bengal/rendering/pipeline/output.py
  bengal/server/file_watcher.py
  bengal/themes/swizzle.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

chore: add towncrier fragment for UX sharp edges PR
  changelog.d/ux-edge-finder.fixed.md
Due: none

fix: update test for dev -> dev_profile parameter rename
  tests/unit/cli/test_build_flag_conflicts.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: remove premature template context validation from build pipeline
  bengal/orchestration/build/initialization.py
Due: ty, block-legacy-cli-imports

fix: address PR review comments across 7 files
  bengal/cli/milo_commands/build.py
  bengal/config/validators.py
  bengal/core/site/__init__.py
  bengal/orchestration/build/__init__.py
  bengal/server/file_watcher.py
  bengal/themes/swizzle.py
  tests/unit/cli/test_build_flag_conflicts.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: harden 17 UX sharp edges across CLI, config, build, and themes (#227)
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/codemod.py
  bengal/cli/milo_commands/content.py
  bengal/cli/milo_commands/i18n.py
  bengal/cli/milo_commands/version.py
  bengal/config/env_overrides.py
  bengal/config/feature_mappings.py
  bengal/config/validators.py
  bengal/content/sources/manager.py
  bengal/core/site/__init__.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/parsing/backends/patitas/directives/builtins/include.py
  bengal/rendering/pipeline/output.py
  bengal/server/file_watcher.py
  bengal/themes/swizzle.py
  changelog.d/ux-edge-finder.fixed.md
  tests/unit/cli/test_build_flag_conflicts.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: bump kida-templates to v0.6.0 and fix silent coercion in tag list
  bengal/themes/default/templates/partials/components/tags.html
  pyproject.toml
  uv.lock
Due: check-template-css

chore: add towncrier fragment for kida v0.6.0 bump
  changelog.d/bump-kida-v0.6.0.fixed.md
Due: none

fix: bump kida-templates to v0.6.0, fix silent coercion in tag list (#228)
  bengal/themes/default/templates/partials/components/tags.html
  changelog.d/bump-kida-v0.6.0.fixed.md
  pyproject.toml
  uv.lock
Due: check-template-css

chore: prep v0.3.1 patch release
  CHANGELOG.md
  changelog.d/+towncrier-bootstrap.added.md
  changelog.d/.gitkeep
  changelog.d/bump-kida-v0.6.0.fixed.md
  changelog.d/cli-sharp-edges.fixed.md
  changelog.d/fix-stale-cli-refs.fixed.md
  changelog.d/milo-cli-autodoc.added.md
  changelog.d/progress-bar-and-warnings.fixed.md
  changelog.d/sharp-edges-remediation.fixed.md
  changelog.d/ux-edge-finder.fixed.md
  changelog.d/ux-sharp-edges.fixed.md
  pyproject.toml
  site/content/releases/0.3.1.md
  uv.lock
Due: none

chore: prep v0.3.1 patch release (#229)
  CHANGELOG.md
  changelog.d/+towncrier-bootstrap.added.md
  changelog.d/.gitkeep
  changelog.d/bump-kida-v0.6.0.fixed.md
  changelog.d/cli-sharp-edges.fixed.md
  changelog.d/fix-stale-cli-refs.fixed.md
  changelog.d/milo-cli-autodoc.added.md
  changelog.d/progress-bar-and-warnings.fixed.md
  changelog.d/sharp-edges-remediation.fixed.md
  changelog.d/ux-edge-finder.fixed.md
  changelog.d/ux-sharp-edges.fixed.md
  pyproject.toml
  site/content/releases/0.3.1.md
  uv.lock
Due: none

fix: bump milo-cli to v0.2.2, fix --no-include-version conflict
  bengal/cli/milo_commands/cache.py
  pyproject.toml
  uv.lock
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

chore: add towncrier fragment for milo-cli bump
  changelog.d/bump-milo-cli-0.2.2.changed.md
Due: none

fix: bump milo-cli to v0.2.2, fix argparse conflict (#230)
  bengal/cli/milo_commands/cache.py
  changelog.d/bump-milo-cli-0.2.2.changed.md
  pyproject.toml
  uv.lock
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: bump pounce to v0.6.0, fix CoercionWarning in tags template
  bengal/themes/default/templates/partials/components/tags.html
  pyproject.toml
  uv.lock
Due: check-template-css

chore: add towncrier fragment for pounce v0.6.0 upgrade
  changelog.d/bump-pounce-0.6.0.changed.md
Due: none

fix: race in logger registry fast path during concurrent reset
  bengal/utils/observability/logger.py
Due: ty, block-legacy-cli-imports

fix: allow S110/S112 in test files via per-file-ignores
  pyproject.toml
Due: none

fix: add S110/S112 per-file-ignores for benchmarks and .cursor
  pyproject.toml
Due: none

refactor: adopt Python 3.14+ patterns across 39 files
  bengal/assets/manifest.py
  bengal/build/provenance/filter.py
  bengal/build/provenance/types.py
  bengal/cache/build_cache/autodoc_content_cache.py
  bengal/cache/build_cache/fingerprint.py
  bengal/cache/utils/stats.py
  bengal/cli/dashboard/widgets/phase_plan.py
  bengal/config/build_options_resolver.py
  bengal/content/sources/notion.py
  bengal/content_types/templates.py
  bengal/core/author.py
  bengal/core/version.py
  bengal/effects/tracer.py
  bengal/errors/context.py
  bengal/errors/dev_server.py
  bengal/errors/exceptions.py
  bengal/errors/handlers.py
  bengal/errors/session.py
  bengal/errors/suggestions.py
  bengal/errors/traceback/config.py
  bengal/errors/traceback/renderer.py
  bengal/health/link_registry.py
  bengal/health/types.py
  bengal/orchestration/build/inputs.py
  bengal/orchestration/render/output_collector_diagnostics.py
  bengal/output/icons.py
  bengal/parsing/backends/patitas/directives/builtins/misc.py
  bengal/parsing/backends/patitas/directives/builtins/navigation.py
  bengal/parsing/backends/patitas/renderers/html.py
  bengal/parsing/backends/patitas/renderers/inline.py
  bengal/rendering/highlighting/theme_resolver.py
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/template_functions/navigation/models.py
  bengal/server/asgi_app.py
  bengal/server/reload_controller.py
  bengal/themes/config.py
  bengal/themes/swizzle.py
  bengal/themes/tokens.py
  bengal/utils/concurrency/workers.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

chore: add towncrier changelog fragment for py314 modernization
  changelog.d/py314-pattern-modernization.changed.md
Due: none

fix: use NotRequired for optional TypedDict keys, not total=False
  bengal/cache/utils/stats.py
  bengal/errors/exceptions.py
Due: ty, block-legacy-cli-imports

refactor: adopt Python 3.14+ patterns across 39 files (#232)
  bengal/assets/manifest.py
  bengal/build/provenance/filter.py
  bengal/build/provenance/types.py
  bengal/cache/build_cache/autodoc_content_cache.py
  bengal/cache/build_cache/fingerprint.py
  bengal/cache/utils/stats.py
  bengal/cli/dashboard/widgets/phase_plan.py
  bengal/config/build_options_resolver.py
  bengal/content/sources/notion.py
  bengal/content_types/templates.py
  bengal/core/author.py
  bengal/core/version.py
  bengal/effects/tracer.py
  bengal/errors/context.py
  bengal/errors/dev_server.py
  bengal/errors/exceptions.py
  bengal/errors/handlers.py
  bengal/errors/session.py
  bengal/errors/suggestions.py
  bengal/errors/traceback/config.py
  bengal/errors/traceback/renderer.py
  bengal/health/link_registry.py
  bengal/health/types.py
  bengal/orchestration/build/inputs.py
  bengal/orchestration/render/output_collector_diagnostics.py
  bengal/output/icons.py
  bengal/parsing/backends/patitas/directives/builtins/misc.py
  bengal/parsing/backends/patitas/directives/builtins/navigation.py
  bengal/parsing/backends/patitas/renderers/html.py
  bengal/parsing/backends/patitas/renderers/inline.py
  bengal/rendering/highlighting/theme_resolver.py
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/template_functions/navigation/models.py
  bengal/server/asgi_app.py
  bengal/server/reload_controller.py
  bengal/themes/config.py
  bengal/themes/swizzle.py
  bengal/themes/tokens.py
  bengal/utils/concurrency/workers.py
  changelog.d/py314-pattern-modernization.changed.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports
