Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

fix: kida handling
  bengal/rendering/template_functions/blog.py
  bengal/server/asgi_app.py
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/partials/components/post-card.html
Due: ty, block-legacy-cli-imports, check-template-css

orchestration: add automatic stale output purge (RFC)
  bengal/config/defaults.py
  bengal/core/output/collector.py
  bengal/core/output/types.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/incremental/purge.py
  bengal/orchestration/postprocess.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/rendering/pipeline/output.py
  tests/unit/orchestration/incremental/test_purge.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: add surgical warm rebuild changelog, tier docs, dev.surgical_rebuild
  bengal/config/snapshot.py
  bengal/server/build_trigger.py
  changelog.md
  plan/rfc-config-architecture-v2.md
  plan/rfc-reactive-dev-sequel.md
Due: ty, block-legacy-cli-imports

server: patch _index.md before cascade snapshot in surgical handler
  bengal/server/surgical_handler.py
Due: ty, block-legacy-cli-imports

tests: add surgical rebuild integration and unit tests
  tests/integration/test_surgical_rebuild.py
  tests/unit/server/test_change_classifier.py
  tests/unit/server/test_surgical_handler.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: add data and content adapter contracts
  .cursor/rules/modules/content-adapter-contract/RULE.mdc
  .cursor/rules/modules/data-contract/RULE.mdc
  .cursor/rules/modules/filter-type-coercion/RULE.mdc
  .cursor/rules/modules/shortcode-contract/RULE.mdc
  .gitignore
  Makefile
  bengal/content/sources/rest.py
  bengal/core/page/__init__.py
  bengal/core/page/proxy.py
  bengal/core/site/lifecycle.py
  bengal/rendering/template_functions/strings.py
  bengal/server/change_classifier.py
  bengal/server/dev_server.py
  bengal/server/ignore_filter.py
  bengal/server/output_swap.py
  plan/rfc-output-directory-isolation.md
  plan/rfc-stale-output-purge.md
  site/content/docs/content/data-files.md
  site/content/docs/content/sources/rest.md
  tests/integration/test_cascade_warm_rebuild_template.py
  tests/unit/core/test_page_patch.py
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_output_swap.py
  tests/unit/template_functions/test_card_excerpt_template.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: add data and shortcode contract tests
  tests/unit/rendering/test_shortcodes.py
  tests/unit/template_functions/test_data.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/cache/query_index_registry.py
  bengal/orchestration/section.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_trigger.py
  bengal/server/change_classifier.py
  bengal/server/surgical_handler.py
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/partials/series-nav.html
  plan/plan-deferred-kida-blog.md
  site/content/docs/extending/shortcodes.md
  site/content/docs/reference/template-functions/string-date-filters.md
  site/content/docs/theming/content/excerpt-pipeline.md
  tests/integration/test_blog_build.py
  tests/integration/test_cascade_warm_rebuild_template.py
  tests/unit/cache/test_query_index_registry.py
  tests/unit/orchestration/test_section_orchestrator.py
  tests/unit/parsing/test_patitas_excerpt_logging.py
  tests/unit/rendering/template_functions/test_blog_views.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

kida bump
  .cursor/plans/fifth-round-deferred-impact.plan.md
  .cursor/plans/fourth-round-unexplored-boundaries.plan.md
  bengal/rendering/engines/kida.py
  pyproject.toml
Due: ty, block-legacy-cli-imports

config: bump to 0.2.5, add changelog for kida 0.2.3
  changelog.md
  pyproject.toml
Due: none

config: address PR feedback - remove unrelated plans, update uv.lock for kida 0.2.3
  .cursor/plans/fifth-round-deferred-impact.plan.md
  .cursor/plans/fourth-round-unexplored-boundaries.plan.md
  changelog.md
  site/content/releases/0.2.5.md
  uv.lock
Due: none

config: remove .plan.md files, add to gitignore
  .cursor/plans/docs-versioning-s-tier.plan.md
  .cursor/plans/error_dx_epic_8bc09c2a.plan.md
  .cursor/plans/pounce-migration.plan.md
  .gitignore
Due: none

dev server improvements
  bengal/server/dev_server.py
  bengal/server/pid_manager.py
  tests/integration/test_resource_cleanup.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

update
  bengal/server/pid_manager.py
Due: ty, block-legacy-cli-imports

directives: fix list-table options mapping, unskip tests
  bengal/parsing/backends/patitas/directives/builtins/tables.py
  tests/unit/rendering/test_list_table.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

update kida
  bengal/rendering/engines/kida.py
  pyproject.toml
Due: ty, block-legacy-cli-imports

cache: add excerpt index for PageProxy without full page load
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/core/page/proxy.py
  tests/unit/cache/test_build_cache.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/cli/utils/site.py
  bengal/rendering/template_functions/blog.py
  bengal/rendering/template_functions/strings.py
  tests/unit/template_functions/test_card_excerpt_template.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

pounce vbump
  pyproject.toml
Due: none

fix
  tests/unit/rendering/test_preprocess_strictness.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tag page fixes
  bengal/cli/utils/site.py
  bengal/server/dev_server.py
  bengal/server/pid_manager.py
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/assets/css/components/tags.css
  tests/integration/test_resource_cleanup.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

orchestration: add parsed/rendered cache hit metrics to build summary
  bengal/core/page/__init__.py
  bengal/core/page/proxy.py
  bengal/core/page/utils.py
  bengal/orchestration/stats/display.py
  bengal/orchestration/stats/models.py
  bengal/orchestration/summary.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  plan/bengal-patitas-parse-optimizations.md
  tests/integration/core/test_page_frontmatter.py
  tests/unit/core/test_page_utils.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: propagate asset manifest context to WaveScheduler and postprocess
  bengal/orchestration/build/rendering.py
  bengal/orchestration/build_context.py
  bengal/orchestration/postprocess.py
  bengal/snapshots/scheduler.py
  bengal/utils/concurrency/__init__.py
  bengal/utils/concurrency/context_propagation.py
  tests/integration/test_asset_resolution_observability_integration.py
  tests/unit/snapshots/test_wave_scheduler.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: run dev server builds in process for clean Ctrl+C shutdown
  bengal/server/dev_server.py
  bengal/server/resource_manager.py
  plan/rfc-graceful-shutdown-cancellation.md
  tests/unit/server/test_resource_manager.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: Phase 2/3 explicit manifest context and summarized fallback diagnostics
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build_context.py
  bengal/orchestration/stats/models.py
  bengal/rendering/assets.py
  tests/unit/rendering/test_asset_resolution_observability.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

misc
  .github/workflows/tests.yml
  benchmarks/README.md
  benchmarks/profile_render.py
  bengal/autodoc/extractors/python/extractor.py
  bengal/autodoc/extractors/python/inheritance.py
  bengal/build/provenance/filter.py
  bengal/build/provenance/store.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/core/page/proxy.py
  bengal/orchestration/build/provenance_filter.py
  bengal/themes/default/templates/README.md
  bengal/themes/default/templates/SAFE_PATTERNS.md
  bengal/themes/default/templates/autodoc/cli/home.html
  bengal/themes/default/templates/autodoc/partials/members.html
  bengal/themes/default/templates/autodoc/python/home.html
  bengal/themes/default/templates/partials/components/author-bio.html
  bengal/themes/default/templates/partials/components/tags.html
  plan/rfc-provenance-mtime-short-circuit.md
  plan/short-circuit-solution-patterns.md
  tests/performance/README.md
  tests/performance/autodoc_regression_fixtures.py
  tests/performance/fixtures/autodoc_render_baseline.json
  tests/performance/test_asset_fallback_cost.py
  tests/performance/test_autodoc_render_regression.py
  tests/performance/update_autodoc_baseline.py
  tests/unit/build/provenance/test_mtime_short_circuit.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

orchestration: wire block cache into WaveScheduler, add validate_context
  bengal/cli/commands/validate.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/block_cache.py
  bengal/rendering/engines/kida.py
  bengal/rendering/template_context_validation.py
  bengal/snapshots/scheduler.py
  bengal/themes/default/templates/SAFE_PATTERNS.md
  tests/unit/rendering/test_template_context_validation.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

agent skills
  site/content/docs/about/free-threading.md
  site/content/docs/building/performance/large-sites.md
  skills/README.md
  skills/bengal-add-directive/SKILL.md
  skills/bengal-add-directive/references/add-directive-guide.md
  skills/bengal-add-filter/SKILL.md
  skills/bengal-add-filter/references/add-filter-guide.md
  skills/bengal-content-migration/SKILL.md
  skills/bengal-content-migration/references/frontmatter-schema.md
  skills/bengal-debug-build/SKILL.md
  skills/bengal-debug-build/references/error-codes.md
  skills/bengal-site-scaffold/SKILL.md
  skills/bengal-site-scaffold/references/site-structure.md
  skills/bengal-taxonomy/SKILL.md
  skills/bengal-taxonomy/references/taxonomy-index.md
  skills/bengal-template-fix/SKILL.md
  skills/bengal-template-fix/references/SAFE_PATTERNS.md
  skills/bengal-theme-customize/SKILL.md
  skills/bengal-theme-customize/references/theme-structure.md
Due: none

kida bump
  pyproject.toml
Due: none

core: normalize tags in Frontmatter.from_dict for malformed input
  bengal/core/page/frontmatter.py
Due: ty, block-legacy-cli-imports

cli: use CLIOutput for stale process and port-in-use messaging
  bengal/server/dev_server.py
  bengal/server/resource_manager.py
  plan/rfc-dx-graceful-error-communication.md
Due: ty, block-legacy-cli-imports

bump kida, patitas
  pyproject.toml
Due: none

fix
  tests/unit/server/test_resource_manager.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

seo
  README.md
  pyproject.toml
  site/content/docs/_index.md
  site/content/docs/about/_index.md
  site/content/docs/building/_index.md
  site/content/docs/building/seo.md
Due: none

server: zero-disk reactive path for content-only edits
  bengal/server/build_trigger.py
  bengal/server/reactive/__init__.py
  bengal/server/reactive/handler.py
  tests/integration/warm_build/test_build_trigger_reactive.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: wire double-buffered output into dev server
  bengal/server/buffer_manager.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  tests/unit/server/test_buffer_manager.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: ASGI app accepts callable output_dir for double-buffer
  bengal/server/asgi_app.py
  bengal/server/backend.py
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: remove stopgap FOUC mitigations now redundant with double-buffer
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/live_reload/script.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: fix FOUC during rapid rebuilds via atomic writes + debounce
  .github/workflows/tests.yml
  .test_durations
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/live_reload/notification.py
  bengal/server/live_reload/script.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
