Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

release: bump version to 0.1.3; finalize changelog with performance improvements, critical incremental build fixes, and CLI theming
  CHANGELOG.md
  bengal/__init__.py
  pyproject.toml
  site/content/releases/0.1.3.md
Due: block-legacy-cli-imports

fix(core): add missing navigation properties to PageProxy
  bengal/core/page/proxy.py
Due: block-legacy-cli-imports

fix(postprocess): handle invalid output paths gracefully in output formats generator
  bengal/postprocess/output_formats.py
Due: block-legacy-cli-imports

feat(core): use directory name for index pages without titles
  bengal/core/page/metadata.py
  plan/active/autodoc-enhancements.md
Due: block-legacy-cli-imports

rules(bengal): add v2 rule system with context analyzer, reflexion, workflows, NL support, and confidence scoring; plan: document enhanced features
  plan/active/bengal-rule-system.md
  rules/bengal/index.md
Due: none

rules(bengal): add proper Cursor frontmatter with description, globs, and alwaysApply flags
  rules/bengal/communication-style.md
  rules/bengal/confidence-scoring.md
  rules/bengal/context-analyzer.md
  rules/bengal/help.md
  rules/bengal/implement.md
  rules/bengal/improve.md
  rules/bengal/index.md
  rules/bengal/orchestrator.md
  rules/bengal/plan.md
  rules/bengal/research.md
  rules/bengal/retro.md
  rules/bengal/rfc.md
  rules/bengal/validate.md
  rules/bengal/workflows.md
Due: none

rules(bengal): restructure as OS pattern - consolidate routing, shortcuts, and NL support into index.md; set orchestrator/help to alwaysApply: false
  rules/bengal/help.md
  rules/bengal/index.md
  rules/bengal/orchestrator.md
Due: none

refactor(rendering,utils): remove dead code and simplify redundant condition
  bengal/rendering/errors.py
  bengal/rendering/jinja_utils.py
  plan/active/unreachable-code-research.md
Due: block-legacy-cli-imports

refactor: remove dead code from content_discovery and renderer
  bengal/cli/commands/assets.py
  bengal/cli/commands/build.py
  bengal/cli/commands/graph/communities.py
  bengal/cli/commands/graph/pagerank.py
  bengal/cli/commands/graph/suggest.py
  bengal/cli/commands/project.py
  bengal/cli/commands/site.py
  bengal/cli/commands/theme.py
  bengal/config/loader.py
  bengal/discovery/content_discovery.py
  bengal/health/validators/connectivity.py
  bengal/health/validators/navigation.py
  bengal/health/validators/taxonomy.py
  bengal/rendering/renderer.py
  bengal/server/live_reload.py
  plan/active/dead-code-audit-2025-10-23.md
  plan/active/dead-code-fixes-summary.md
  plan/active/testing-hardening-and-coverage-plan.md
  rules/bengal/communication-style.md
  rules/bengal/confidence-scoring.md
  rules/bengal/context-analyzer.md
  rules/bengal/help.md
  rules/bengal/implement.md
  rules/bengal/improve.md
  rules/bengal/index.md
  rules/bengal/orchestrator.md
  rules/bengal/plan.md
  rules/bengal/research.md
  rules/bengal/retro.md
  rules/bengal/rfc.md
  rules/bengal/validate.md
  rules/bengal/workflows.md
  tests/unit/rendering/test_template_error_edge_cases.py
Due: block-string-based-click-cls, block-legacy-cli-imports

deps: move watchdog to core, remove python-markdown; mistune is default, hot reload standard for writers
  INSTALL_FREE_THREADED.md
  README.md
  bengal/health/validators/connectivity.py
  bengal/rendering/parsers/__init__.py
  bengal/server/dev_server.py
  plan/active/watchdog-optional-dependency.md
  plan/completed/watchdog-made-core-2025-10-23.md
  pyproject.toml
Due: block-legacy-cli-imports

tests: address PR feedback - test public APIs, remove compatibility exports, improve docs
  bengal/cli/commands/theme.py
  bengal/rendering/errors.py
  tests/unit/cli/test_cli_programmatic.py
  tests/unit/rendering/test_template_error_edge_cases.py
Due: block-string-based-click-cls, block-legacy-cli-imports

fix
  bengal/server/dev_server.py
  bengal/server/utils.py
Due: block-legacy-cli-imports

tests: mark parallel-unsafe tests that use ThreadPoolExecutor
  tests/unit/core/test_parallel_processing.py
  tests/unit/discovery/test_asset_discovery.py
  tests/unit/utils/test_atomic_write.py
Due: none

ci: add xdist robustness flags to fast test suite
  .github/workflows/tests.yml
Due: none

docs(tests): add parallel test safety guidelines and clarify markers
  pytest.ini
  tests/README.md
Due: none

changelog: add entry for CI test stability fixes
  CHANGELOG.md
Due: none

fix
  plan/active/plan-fix-test-worker-crashes.md
  plan/implemented/SUMMARY-test-worker-crashes.md
  plan/implemented/plan-fix-test-worker-crashes.md
Due: none

docs(plan): update RFC with implementation summary and results; mark as completed
  plan/active/rfc-cli-heading-hierarchy.md
Due: none

cli: use subheaders for help screen sections (Quick Start, Options, Commands, Arguments) to reduce visual noise and improve hierarchy
  bengal/cli/base.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cli: add spacing between Usage and sections in help; use tip() for help hint
  bengal/cli/base.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(plan): move completed plans to implemented directory
  plan/implemented/baseurl-dev-server-fix.md
  plan/implemented/rfc-cli-heading-hierarchy.md
  plan/implemented/xdist-node-down-fix.md
Due: none

docs(plan): remove duplicate test worker crashes plan (already in implemented)
  plan/active/plan-fix-test-worker-crashes.md
Due: none

ci: fix worker crashes by excluding slow tests from fast-check + add weekly schedule
  .github/workflows/tests.yml
  plan/active/plan-fix-test-worker-crashes.md
Due: none

plan updates
  plan/deferred/dependency-optimization.md
  plan/implemented/autodoc-section-index-bug.md
  plan/implemented/bengal-vs-sphinx-codebase-analysis.md
  plan/implemented/dead-code-audit-2025-10-23.md
  plan/implemented/dead-code-fixes-summary.md
  plan/implemented/test-failures-investigation.md
  plan/implemented/test-fixes-summary.md
  plan/implemented/timing-test-flakiness-analysis.md
  plan/implemented/unreachable-code-research.md
Due: none

autodoc: add alias detection and inherited member synthesis with configurable display
  bengal/autodoc/README.md
  bengal/autodoc/config.py
  bengal/autodoc/extractors/python.py
  bengal/autodoc/templates/python/module.md.jinja2
  plan/active/rfc-hub-mode-federated-docs.md
  tests/unit/autodoc/test_config.py
  tests/unit/autodoc/test_python_extractor.py
Due: block-legacy-cli-imports

commit
  plan/active/rfc-hub-mode-federated-docs.md
Due: none

autodoc: address PR feedback - safer Jinja2 filters and consistent qualified names for inherited members
  bengal/autodoc/extractors/python.py
  bengal/autodoc/templates/python/module.md.jinja2
Due: block-legacy-cli-imports

autodoc: document alias/inherited features in example config, remove from site config
  bengal.toml.example
Due: none

update
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/site.md
  site/content/cli/new/theme.md
  site/content/cli/project/config.md
  site/content/cli/project/profile.md
  site/content/cli/site/build.md
  site/content/cli/site/clean.md
  site/content/cli/site/serve.md
  site/content/cli/utils/autodoc-cli.md
  site/content/cli/utils/autodoc.md
  site/content/cli/utils/graph/analyze.md
  site/content/cli/utils/graph/bridges.md
  site/content/cli/utils/graph/communities.md
  site/content/cli/utils/graph/pagerank.md
  site/content/cli/utils/graph/suggest.md
  site/content/cli/utils/theme/info.md
  site/content/cli/utils/theme/install.md
  site/content/cli/utils/theme/new.md
  site/content/cli/utils/theme/swizzle.md
Due: none

fix
  bengal/core/page/__init__.py
  bengal/core/page/relationships.py
  bengal/core/section.py
  bengal/core/theme.py
  bengal/rendering/pygments_cache.py
  tests/_testing/http.py
  tests/integration/test_error_recovery.py
  tests/unit/health/validators/test_connectivity.py
  tests/unit/health/validators/test_navigation.py
  tests/unit/health/validators/test_taxonomy.py
  tests/unit/rendering/test_mistune_parser.py
  tests/unit/rendering/test_parser_configuration.py
  tests/unit/rendering/test_pygments_patch.py
  tests/unit/rendering/test_syntax_highlighting.py
  tests/unit/server/test_dev_server_baseurl.py
Due: block-legacy-cli-imports

feat(health): add async link checker with comprehensive validation
  .cursor/rules/communication-style.mdc
  .cursor/rules/confidence-scoring.mdc
  .cursor/rules/context-analyzer.md
  .cursor/rules/help.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/improve.mdc
  .cursor/rules/index.mdc
  .cursor/rules/orchestrator.md
  .cursor/rules/plan.mdc
  .cursor/rules/research.mdc
  .cursor/rules/retro.mdc
  .cursor/rules/rfc.mdc
  .cursor/rules/validate.mdc
  .cursor/rules/workflows.mdc
  .gitignore
  CHANGELOG.md
  bengal.toml.example
  bengal/cli/__init__.py
  bengal/cli/commands/health.py
  bengal/health/linkcheck/__init__.py
  bengal/health/linkcheck/async_checker.py
  bengal/health/linkcheck/ignore_policy.py
  bengal/health/linkcheck/internal_checker.py
  bengal/health/linkcheck/models.py
  bengal/health/linkcheck/orchestrator.py
  pyproject.toml
  tests/integration/test_linkcheck.py
  tests/unit/health/test_linkcheck_async_checker.py
  tests/unit/health/test_linkcheck_ignore_policy.py
Due: block-string-based-click-cls, block-legacy-cli-imports

update
  bengal/cli/commands/health.py
Due: block-string-based-click-cls, block-legacy-cli-imports

health(linkcheck): auto-build site and purge cache before checking links to eliminate false positives
  bengal/cli/commands/health.py
  bengal/health/linkcheck/internal_checker.py
  bengal/health/linkcheck/orchestrator.py
  plan/active/rfc-configurable-tracebacks.md
  site/content/cli/health/_index.md
  site/content/cli/health/linkcheck.md
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/site.md
  site/content/cli/new/theme.md
  site/content/cli/project/config.md
  site/content/cli/project/profile.md
  site/content/cli/site/build.md
  site/content/cli/site/clean.md
  site/content/cli/site/serve.md
  site/content/cli/utils/autodoc-cli.md
  site/content/cli/utils/autodoc.md
  site/content/cli/utils/graph/analyze.md
  site/content/cli/utils/graph/bridges.md
  site/content/cli/utils/graph/communities.md
  site/content/cli/utils/graph/pagerank.md
  site/content/cli/utils/graph/suggest.md
  site/content/cli/utils/theme/info.md
  site/content/cli/utils/theme/install.md
  site/content/cli/utils/theme/new.md
  site/content/cli/utils/theme/swizzle.md
  site/linkcheck-report-new.json
  site/linkcheck-report.json
Due: block-string-based-click-cls, block-legacy-cli-imports

tests: fix 4 CI failures - add markdown to dev deps, fix URL property test, update async error assertion
  plan/active/rfc-dev-linkcheck-overlay.md
  pyproject.toml
  tests/unit/health/test_linkcheck_async_checker.py
  tests/unit/utils/test_url_strategy_properties.py
Due: none

refactor: move cache utils from server to cache module; fix PR #45 review comments
  bengal/cache/__init__.py
  bengal/cache/utils.py
  bengal/cli/commands/health.py
  bengal/server/dev_server.py
  bengal/server/utils.py
  site/content/cli/health/linkcheck.md
Due: block-string-based-click-cls, block-legacy-cli-imports

test(llm.txt): comprehensive test suite for LLM.txt output formats
  bengal/orchestration/postprocess.py
  site/content/cli/health/linkcheck.md
  site/content/cli/new/layout.md
  site/content/cli/new/page.md
  site/content/cli/new/partial.md
  site/content/cli/new/site.md
  site/content/cli/new/theme.md
  site/content/cli/project/config.md
  site/content/cli/project/profile.md
  site/content/cli/site/build.md
  site/content/cli/site/clean.md
  site/content/cli/site/serve.md
  site/content/cli/utils/autodoc-cli.md
  site/content/cli/utils/autodoc.md
  site/content/cli/utils/graph/analyze.md
  site/content/cli/utils/graph/bridges.md
  site/content/cli/utils/graph/communities.md
  site/content/cli/utils/graph/pagerank.md
  site/content/cli/utils/graph/suggest.md
  site/content/cli/utils/theme/info.md
  site/content/cli/utils/theme/install.md
  site/content/cli/utils/theme/new.md
  site/content/cli/utils/theme/swizzle.md
  tests/integration/test_incremental_output_formats.py
  tests/integration/test_llm_txt_integration.py
  tests/unit/postprocess/test_output_formats_index_json.py
  tests/unit/postprocess/test_output_formats_llm.py
  tests/unit/rendering/test_action_bar_llm_urls.py
Due: block-legacy-cli-imports

theme(search): fix broken result links by prioritizing url over uri for baseurl support
  bengal/themes/default/assets/js/search.js
Due: none
