Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

cli: audit milo command contract
  README.md
  site/content/docs/reference/architecture/tooling/cli.md
  tests/unit/cli/test_cli_contract_inventory.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

cli: expand milo output parity
  tests/unit/cli/test_command_output_templates.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

cli: tighten terminal output boundary
  pyproject.toml
  tests/unit/cli/test_terminal_output_boundaries.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

cli: strengthen installed wheel smoke
  tests/integration/test_wheel_install.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

release: ship cache hash wheel fix
  .github/workflows/pages.yml
  pyproject.toml
  uv.lock
Due: none

docs: plan chirpui theme contracts
  plan/README.md
  plan/rfc-template-view-model-contracts.md
  plan/rfc-theme-library-assets.md
Due: none

tests: fix chirpui asset check failures
  tests/unit/rendering/test_kida_asset_url.py
  tests/unit/rendering/test_page_dependent_directive_caching.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

rendering: add theme library asset contracts
  bengal/core/theme/__init__.py
  bengal/core/theme/providers.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/content.py
  bengal/rendering/asset_audit.py
  bengal/rendering/engines/kida.py
  bengal/rendering/library_assets.py
  bengal/themes/chirpui/templates/base.html
  changelog.d/theme-library-assets.added.md
  site/content/docs/theming/themes/chirpui.md
  tests/integration/test_chirpui_theme_build.py
  tests/unit/core/theme/test_providers.py
  tests/unit/rendering/test_asset_audit.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

rendering: prove missing asset diagnostics
  bengal/orchestration/build/finalization.py
  bengal/utils/observability/logger.py
  tests/integration/test_asset_reference_diagnostics.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: harden theme library contracts
  bengal/core/theme/providers.py
  tests/unit/core/theme/test_providers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: support library asset tag attributes
  bengal/core/theme/providers.py
  bengal/rendering/library_assets.py
  tests/unit/core/theme/test_providers.py
  tests/unit/rendering/test_library_assets.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: deepen library asset parity coverage
  tests/integration/test_chirpui_theme_build.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: lock chirpui library asset cleanup
  tests/integration/test_chirpui_theme_build.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: document theme library asset contracts
  changelog.d/theme-library-assets.added.md
  site/content/docs/theming/themes/_index.md
  site/content/docs/theming/themes/chirpui.md
  site/content/docs/theming/themes/library-assets.md
Due: none

assets: record theme library manifest provenance
  bengal/assets/manifest.py
  bengal/core/asset/asset_core.py
  bengal/core/theme/providers.py
  bengal/orchestration/asset.py
  bengal/orchestration/content.py
  changelog.d/theme-library-assets.added.md
  site/content/docs/theming/themes/library-assets.md
  tests/integration/test_chirpui_theme_build.py
  tests/unit/assets/test_manifest.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

assets: address library asset review feedback
  bengal/core/asset/asset_core.py
  bengal/core/theme/providers.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/content.py
  bengal/rendering/asset_audit.py
  tests/integration/test_asset_reference_diagnostics.py
  tests/integration/test_chirpui_theme_build.py
  tests/unit/core/theme/test_providers.py
  tests/unit/orchestration/test_library_asset_bundles.py
  tests/unit/rendering/test_asset_audit.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: tolerate non-string audit baseurls
  bengal/rendering/asset_audit.py
  tests/unit/rendering/test_asset_audit.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: avoid menu active-state mutation
  bengal/rendering/engines/kida.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/renderer.py
  tests/unit/rendering/test_renderer_menu_state.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: explain template rebuild decisions
  bengal/server/build_trigger.py
  changelog.d/server-template-rebuild-diagnostics.changed.md
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

plugins: wire directive and role registries
  bengal/parsing/backends/patitas/__init__.py
  bengal/parsing/backends/patitas/directives/registry.py
  bengal/parsing/backends/patitas/roles/registry.py
  bengal/plugins/inspection.py
  changelog.d/plugin-directive-role-wiring.changed.md
  tests/unit/cli/test_plugin_command.py
  tests/unit/plugins/test_plugin_inspection.py
  tests/unit/plugins/test_plugin_parser_wiring.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

config: add version lifecycle status
  bengal/config/types.py
  bengal/core/__init__.py
  bengal/core/version.py
  bengal/themes/default/templates/TEMPLATE-CONTEXT.md
  bengal/themes/default/templates/partials/version-selector.html
  changelog.d/version-status-config.changed.md
  site/content/docs/content/versioning/_index.md
  site/content/docs/content/versioning/folder-mode.md
  tests/unit/core/test_version_status.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

autodoc: resolve local openapi refs
  bengal/autodoc/README.md
  bengal/autodoc/extractors/openapi.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/server/build_trigger.py
  changelog.d/openapi-local-ref-dependencies.changed.md
  site/content/docs/content/sources/autodoc.md
  site/content/docs/reference/architecture/subsystems/autodoc.md
  tests/unit/autodoc/test_openapi_external_refs.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: add search backend contract
  bengal/config/types.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/search_backends.py
  changelog.d/search-backend-contract.changed.md
  site/config/_default/search.yaml
  site/content/docs/building/output-formats.md
  tests/unit/postprocess/test_search_backends.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: add atom feed output
  bengal/config/feature_mappings.py
  bengal/config/types.py
  bengal/orchestration/build/artifact_inventory.py
  bengal/orchestration/postprocess.py
  bengal/postprocess/__init__.py
  bengal/postprocess/rss.py
  changelog.d/atom-feed.changed.md
  site/config/_default/features.yaml
  site/config/_default/outputs.yaml
  site/content/docs/building/seo.md
  site/content/docs/reference/architecture/rendering/postprocess.md
  tests/unit/config/test_feature_mappings.py
  tests/unit/postprocess/test_atom_generator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: persist social card fingerprints
  bengal/orchestration/postprocess.py
  bengal/postprocess/social_cards.py
  changelog.d/social-card-persistent-fingerprints.changed.md
  site/content/docs/building/seo.md
  site/content/docs/reference/architecture/rendering/postprocess.md
  site/content/docs/reference/template-functions/seo-image-functions.md
  tests/unit/postprocess/test_social_cards.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

health: validate social metadata jsonld
  bengal/health/validators/rendering.py
  changelog.d/rendering-social-jsonld-validation.changed.md
  site/content/docs/content/validation/validate-and-fix.md
  site/content/docs/reference/architecture/subsystems/health.md
  tests/unit/health/validators/test_rendering.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

postprocess: address priority batch review
  bengal/orchestration/postprocess.py
  bengal/postprocess/rss.py
  changelog.d/atom-feed.changed.md
  changelog.d/social-card-persistent-fingerprints.changed.md
  tests/unit/postprocess/test_atom_generator.py
  tests/unit/postprocess/test_social_cards.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

build: scope active build state
  bengal/core/diagnostics.py
  bengal/core/registry.py
  bengal/effects/render_integration.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/plugins/__init__.py
  changelog.d/build-scoped-state.changed.md
  tests/unit/core/test_diagnostics_collector.py
  tests/unit/core/test_site_context_protocol.py
  tests/unit/effects/test_render_integration.py
  tests/unit/plugins/test_plugin_parser_wiring.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

build: prevent stale incremental output
  bengal/build/provenance/filter.py
  bengal/build/provenance/store.py
  bengal/cache/build_cache/file_tracking.py
  bengal/core/section/cache.py
  bengal/core/section/hierarchy.py
  bengal/core/section/queries.py
  bengal/server/build_trigger.py
  bengal/server/reactive/handler.py
  changelog.d/stale-output-prevention.changed.md
  tests/integration/warm_build/test_build_trigger_reactive.py
  tests/unit/build/provenance/test_mtime_short_circuit.py
  tests/unit/cache/test_build_cache.py
  tests/unit/core/test_section_sorting.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

build: make output writes atomic
  bengal/config/snapshot.py
  bengal/orchestration/build/rendering.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/special_pages.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/pipeline/write_behind.py
  changelog.d/atomic-output-writes.changed.md
Due: ty, block-legacy-cli-imports

core: deep-freeze pipeline records
  bengal/core/page/page_core.py
  bengal/core/records.py
  changelog.d/pipeline-record-freeze.changed.md
  tests/unit/core/test_page_record_migration.py
  tests/unit/core/test_source_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

plugins: harden registry contracts
  bengal/plugins/registry.py
  changelog.d/plugin-registry-contract.changed.md
  tests/unit/plugins/test_plugin_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: write uncompressed stores atomically
  bengal/cache/cache_store.py
  tests/unit/cache/test_cache_store.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

build: share write-if-changed output helper
  bengal/orchestration/build/artifacts.py
  bengal/utils/io/atomic_write.py
  tests/unit/orchestration/build/test_finalization.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

plan: design incremental dependency indexes
  plan/README.md
  plan/rfc-incremental-dependency-indexes.md
Due: none

plan: define snapshot build plan handoff
  plan/README.md
  plan/rfc-snapshot-build-plan-handoff.md
Due: none

docs: capture hardening proof
  plan/bengal-hardening-proof-2026-05.md
  site/content/docs/building/performance/template-deps.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/core/cache.md
  site/content/docs/reference/architecture/core/pipeline.md
Due: none

tests: model standalone reactive page
  tests/unit/server/test_reactive_handler.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

plugins: treat empty active registry as unset
  bengal/plugins/__init__.py
  tests/unit/plugins/test_plugin_parser_wiring.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
