Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

discovery: relocate page_initializer as page_factory from utils
  bengal/discovery/page_factory.py
  bengal/utils/page_initializer.py
Due: block-legacy-cli-imports

core(section): merge utils/sections.py into section module
  bengal/core/section.py
  bengal/utils/sections.py
Due: block-legacy-cli-imports

refactor: update imports for relocated utils modules
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/cli/commands/theme.py
  bengal/core/site/theme.py
  bengal/core/theme/__init__.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/incremental.py
  bengal/orchestration/section.py
  bengal/rendering/template_engine/environment.py
  bengal/server/build_trigger.py
  bengal/server/component_preview.py
  bengal/utils/__init__.py
  bengal/utils/metadata.py
  tests/conftest.py
  tests/unit/cli/test_cli_theme_commands.py
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/utils/test_page_initializer.py
  tests/unit/utils/test_sections_utils.py
  tests/unit/utils/test_theme_resolution.py
Due: block-string-based-click-cls, block-legacy-cli-imports

directives(cards): convert 1,027-line module to package with focused modules
  bengal/directives/cards.py
  bengal/directives/cards/__init__.py
  bengal/directives/cards/card.py
  bengal/directives/cards/cards_grid.py
  bengal/directives/cards/child_cards.py
  bengal/directives/cards/legacy.py
  bengal/directives/cards/utils.py
  bengal/rendering/plugins/directives/cards.py
Due: block-legacy-cli-imports

rendering: update plugins to import from bengal.directives; add factory module
  bengal/directives/__init__.py
  bengal/directives/factory.py
  bengal/rendering/plugins/__init__.py
Due: block-legacy-cli-imports

utils: remove deprecated re-export stubs; update tests to use new import paths
  bengal/utils/build_badge.py
  bengal/utils/incremental_constants.py
  bengal/utils/page_initializer.py
  bengal/utils/sections.py
  bengal/utils/theme_registry.py
  bengal/utils/theme_resolution.py
  plan/evaluated/rfc-architecture-refactoring.md
  tests/unit/utils/test_theme_registry.py
  tests/unit/utils/test_theme_resolution.py
Due: block-legacy-cli-imports

output: extract cli_output from utils to bengal/output/ package (838→6 modules); fix nested if lint
  bengal/cli/__init__.py
  bengal/cli/base.py
  bengal/cli/commands/clean.py
  bengal/cli/commands/config.py
  bengal/cli/commands/health.py
  bengal/cli/commands/init.py
  bengal/cli/commands/new/config.py
  bengal/cli/commands/new/site.py
  bengal/cli/commands/skeleton.py
  bengal/cli/commands/validate.py
  bengal/cli/helpers/cli_app_loader.py
  bengal/cli/helpers/cli_output.py
  bengal/cli/helpers/progress.py
  bengal/cli/helpers/site_loader.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/rendering.py
  bengal/output/__init__.py
  bengal/output/colors.py
  bengal/output/core.py
  bengal/output/dev_server.py
  bengal/output/enums.py
  bengal/output/globals.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/request_logger.py
  bengal/utils/build_context.py
  bengal/utils/build_stats.py
  bengal/utils/cli_output.py
  bengal/utils/traceback_renderer.py
  tests/integration/test_cli_output_integration.py
  tests/unit/utils/test_cli_output.py
Due: block-string-based-click-cls, block-legacy-cli-imports

refactor: relocate live_progress to cli/progress and build_summary to orchestration/summary
  bengal/cli/commands/build.py
  bengal/cli/progress.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/summary.py
  bengal/utils/build_context.py
  bengal/utils/build_summary.py
  bengal/utils/live_progress.py
Due: block-string-based-click-cls, block-legacy-cli-imports

orchestration(stats): extract build_stats.py (613 lines) to orchestration/stats/ package with models, display, warnings, helpers modules; update 20+ imports
  bengal/analysis/performance_advisor.py
  bengal/cli/__init__.py
  bengal/cli/commands/build.py
  bengal/cli/commands/init.py
  bengal/cli/helpers/error_handling.py
  bengal/cli/output/core.py
  bengal/cli/output/globals.py
  bengal/core/site/core.py
  bengal/debug/delta_analyzer.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/render.py
  bengal/orchestration/stats/__init__.py
  bengal/orchestration/stats/display.py
  bengal/orchestration/stats/helpers.py
  bengal/orchestration/stats/models.py
  bengal/orchestration/stats/warnings.py
  bengal/orchestration/streaming.py
  bengal/orchestration/summary.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/utils/build_context.py
  bengal/utils/build_stats.py
  bengal/utils/performance_collector.py
  tests/unit/analysis/test_performance_advisor.py
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/server/test_build_stats_access.py
  tests/unit/utils/test_build_stats.py
  tests/unit/utils/test_stats_protocol.py
Due: block-string-based-click-cls, block-legacy-cli-imports

utils: remove 3 deprecated re-export stubs (cli_output, build_summary, live_progress) - all imports updated to new locations
  bengal/utils/build_summary.py
  bengal/utils/cli_output.py
  bengal/utils/live_progress.py
Due: block-legacy-cli-imports

orchestration(build): add BuildOptions dataclass to consolidate 11-parameter signature; rendering: add navigation dataclasses with dict compatibility; tests: fix theme_registry import paths
  bengal/core/site/core.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/options.py
  bengal/rendering/template_functions/navigation_models.py
  tests/unit/core/test_site_theme_assets_installed.py
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/orchestration/test_content_orchestrator_url_fix.py
  tests/unit/rendering/test_template_engine_installed_theme.py
Due: block-legacy-cli-imports

tests: add unit tests for cli/output, BuildOptions, and navigation dataclasses
  tests/unit/cli/test_output.py
  tests/unit/orchestration/test_build_options.py
  tests/unit/rendering/test_navigation_models.py
Due: none

refactor(output): make console always Console (never None); fixes 120 mypy union-attr errors
  bengal/cli/output/core.py
  bengal/output/core.py
  bengal/output/dev_server.py
Due: block-string-based-click-cls, block-legacy-cli-imports

health(validators): consolidate link and template validation from rendering/
  bengal/core/page/operations.py
  bengal/health/validators/__init__.py
  bengal/health/validators/links.py
  bengal/health/validators/templates.py
  bengal/rendering/link_validator.py
  bengal/services/validation.py
  tests/unit/health/validators/test_links.py
  tests/unit/rendering/test_link_validator.py
  tests/unit/rendering/test_template_validator.py
  tests/unit/services/test_validation.py
Due: block-legacy-cli-imports

services(validation): inject engine_factory and validator for patch-free testing
  bengal/services/validation.py
  tests/unit/services/test_validation.py
Due: block-legacy-cli-imports

tests(incremental): add comprehensive unit tests for new incremental package components
  bengal/cache/build_cache/core.py
  bengal/orchestration/build/options.py
  bengal/orchestration/incremental/__init__.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/incremental/cascade_tracker.py
  bengal/orchestration/incremental/change_detector.py
  bengal/orchestration/incremental/cleanup.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/incremental/rebuild_filter.py
  bengal/rendering/link_validator.py
  tests/unit/orchestration/incremental/__init__.py
  tests/unit/orchestration/incremental/test_cascade_tracker.py
  tests/unit/orchestration/incremental/test_change_detector.py
  tests/unit/orchestration/incremental/test_cleanup.py
  tests/unit/orchestration/incremental/test_rebuild_filter.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
Due: block-legacy-cli-imports

refactor(incremental): remove legacy/shadow mode code; embrace unified ChangeDetector
  bengal/orchestration/build/options.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/incremental/change_detector.py
  bengal/orchestration/incremental/orchestrator.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
Due: block-legacy-cli-imports

cleanup: remove deprecation stubs for navigation, mistune, and directives; packages take precedence
  bengal/rendering/parsers/mistune.py
  bengal/rendering/plugins/directives/README.md
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/template_functions/navigation.py
  bengal/rendering/template_functions/navigation_models.py
Due: block-legacy-cli-imports

docs: update stale import paths in docstrings and READMEs (directives moved to bengal.directives)
  bengal/health/validators/anchors.py
  bengal/rendering/plugins/README.md
  bengal/themes/default/assets/icons/README.md
  bengal/utils/path_resolver.py
Due: block-legacy-cli-imports

autodoc: refactor python extractor into package; remove virtual_orchestrator shim; add file size gate
  bengal/autodoc/__init__.py
  bengal/autodoc/extractors/python/__init__.py
  bengal/autodoc/extractors/python/aliases.py
  bengal/autodoc/extractors/python/extractor.py
  bengal/autodoc/extractors/python/inheritance.py
  bengal/autodoc/extractors/python/module_info.py
  bengal/autodoc/extractors/python/signature.py
  bengal/autodoc/extractors/python/skip_logic.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/cache/build_cache/autodoc_tracking.py
  bengal/orchestration/content.py
  plan/ready/plan-architecture-refactoring.md
  scripts/check_file_sizes.py
  site/content/docs/reference/architecture/subsystems/autodoc.md
  tests/integration/test_autodoc_output_prefix.py
  tests/unit/autodoc/test_openapi_virtual_pages.py
  tests/unit/autodoc/test_output_prefix.py
  tests/unit/autodoc/test_resilience.py
Due: block-legacy-cli-imports

refactor: remove dead code identified by vulture (100% confidence)
  bengal/autodoc/extractors/python.py
  bengal/autodoc/orchestration/section_builders.py
  bengal/cli/commands/debug.py
  bengal/config/directory_loader.py
  bengal/debug/content_migrator.py
  bengal/orchestration/incremental.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/rendering/link_validator.py
Due: block-string-based-click-cls, block-legacy-cli-imports

core(section): fix has_content_for_version to recursively check subsections; enables proper versioned docs nesting
  bengal/config/directory_loader.py
  bengal/core/section.py
  tests/unit/core/test_section_versioning.py
Due: block-legacy-cli-imports

docs(rfc): draft NavTree architecture for version-aware navigation
  plan/drafted/rfc-navigation-tree-architecture.md
Due: none

plan(rfc): update navigation-tree-architecture with prior art, thread safety, design options
  plan/drafted/rfc-navigation-tree-architecture.md
Due: none

core: introduce NavNode and NavTree with thread-safe caching and version-aware fallback cascade
  bengal/bengal/core/nav_tree.py
Due: block-legacy-cli-imports

core: introduce NavNode and NavTree with thread-safe caching and version-aware fallback cascade
  bengal/core/nav_tree.py
  bengal/core/site/core.py
  bengal/server/build_trigger.py
  bengal/server/request_handler.py
  plan/drafted/plan-navigation-tree-architecture.md
  plan/evaluated/plan-navigation-tree-architecture.md
  plan/evaluated/rfc-navigation-tree-architecture.md
  tests/roots/test-versioned/bengal.toml
  tests/roots/test-versioned/config/_default/versioning.yaml
  tests/roots/test-versioned/content/_shared/changelog.md
  tests/roots/test-versioned/content/_versions/v1/docs/_index.md
  tests/roots/test-versioned/content/_versions/v1/docs/guide.md
  tests/roots/test-versioned/content/_versions/v2/docs/_index.md
  tests/roots/test-versioned/content/_versions/v2/docs/guide.md
  tests/roots/test-versioned/content/docs/_index.md
  tests/roots/test-versioned/content/docs/guide.md
  tests/roots/test-versioned/content/index.md
Due: block-legacy-cli-imports

core: fix NavTree.build() to work with site.sections and version dicts; expose NavTree/NavNode/NavTreeCache/NavTreeContext from bengal.core
  bengal/core/__init__.py
  bengal/core/nav_tree.py
Due: block-legacy-cli-imports

rendering(nav): refactor get_nav_tree to delegate to NavTreeCache; add get_nav_context; deprecate NavTreeItem; integrate cache invalidation with IncrementalOrchestrator
  bengal/core/nav_tree.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/models.py
  bengal/rendering/template_functions/navigation/tree.py
Due: block-legacy-cli-imports

themes(nav): replace manual nav templates with NavTree-powered docs-nav-node.html; core: remove backward-compat aliases; delete NavTreeItem; clean up tree.py API
  bengal/core/nav_tree.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/models.py
  bengal/rendering/template_functions/navigation/tree.py
  bengal/themes/default/templates/partials/docs-nav-node.html
  bengal/themes/default/templates/partials/docs-nav-section.html
  bengal/themes/default/templates/partials/docs-nav.html
  tests/unit/rendering/test_navigation_functions.py
  tests/unit/rendering/test_navigation_models.py
Due: block-legacy-cli-imports

tests(nav): add comprehensive unit tests for NavNode, NavTree, NavTreeContext, NavTreeCache
  tests/unit/test_nav_tree.py
Due: none

tests(nav): add integration tests for versioned site navigation
  tests/integration/test_nav_tree_integration.py
Due: none

perf(nav): add NavTree benchmarks; verify O(1) cache lookup and <1ms render overhead
  benchmarks/test_nav_tree_performance.py
Due: none

docs(architecture): add NavTree to object model documentation; docs(themes): add NavTree migration guide; docs: add NavTree feature to changelog
  changelog.md
  site/content/docs/reference/architecture/_index.md
  site/content/docs/theming/themes/customize.md
Due: none

chore: remove completed NavTree RFC and plan files
  plan/drafted/plan-navigation-tree-architecture.md
  plan/drafted/rfc-navigation-tree-architecture.md
  plan/evaluated/plan-navigation-tree-architecture.md
  plan/evaluated/rfc-navigation-tree-architecture.md
Due: none

core(nav): add root_section scoping to get_nav_tree(); move autodoc exclusion to nav build layer; remove core → rendering coupling; unify cache invalidation
  bengal/core/nav_tree.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/rendering/template_functions/navigation/tree.py
  tests/integration/test_nav_tree_integration.py
  tests/unit/test_nav_tree.py
Due: block-legacy-cli-imports

docs(plan): evaluate RFC for removing compatibility shims; fix path errors, update confidence to 90%
  bengal/core/nav_tree.py
  bengal/orchestration/content.py
  bengal/rendering/parsers/mistune/__init__.py
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/template_functions/navigation/tree.py
  plan/evaluated/rfc-remove-compatibility-shims.md
  tests/unit/test_nav_tree.py
Due: block-legacy-cli-imports

core: remove unused BuildContext compatibility shim; autodoc: remove unused PythonExtractor file shim; server: remove discover_components() wrapper and refactor test to use class method directly
  bengal/autodoc/extractors/python.py
  bengal/core/build_context.py
  bengal/orchestration/content.py
  bengal/server/component_preview.py
  plan/drafted/rfc-remove-compatibility-shims.md
  tests/unit/server/test_component_preview.py
Due: block-legacy-cli-imports

rendering: add layout field as template fallback for tracks pages; support layout paths like tracks/list as template selector
  bengal/core/nav_tree.py
  bengal/rendering/renderer.py
  bengal/rendering/template_functions/version_url.py
  tests/unit/rendering/test_renderer_template_selection.py
Due: block-legacy-cli-imports

rendering: remove layout fallback; update track pages to use template field; clean code only, no backwards compatibility
  bengal/rendering/renderer.py
  bengal/rendering/template_functions/autodoc.py
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/version-selector.html
  site/content/tracks/_index.md
  site/content/tracks/api-docs-specialist.md
  site/content/tracks/content-mastery.md
  site/content/tracks/migration-express.md
  site/content/tracks/team-lead.md
  site/content/tracks/theme-developer.md
  site/content/tracks/zero-to-deployed.md
  tests/unit/rendering/template_functions/test_version_url.py
  tests/unit/rendering/test_renderer_template_selection.py
  tests/unit/test_nav_tree.py
Due: block-legacy-cli-imports
