Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

rendering(icons): apply ICON_MAP in render_svg_icon for semantic icon names; fixes alert/question icon warnings
  bengal/rendering/plugins/directives/_icons.py
  site/content/docs/tutorials/analyze-site-connectivity.md
  site/content/docs/tutorials/automate-with-github-actions.md
  site/content/docs/tutorials/build-a-blog.md
  site/content/docs/tutorials/migrate-from-hugo.md
Due: block-legacy-cli-imports

updates
  bengal/analysis/link_types.py
  bengal/rendering/plugins/directives/dropdown.py
  bengal/themes/default/templates/author/list.html
  bengal/themes/default/templates/author/single.html
  site/content/docs/reference/icons.md
  site/content/docs/tutorials/onboarding/from-docusaurus.md
  site/data/authors.yaml
Due: block-legacy-cli-imports

tests: fix 34 test failures in CI
  bengal/rendering/plugins/directives/checklist.py
  bengal/rendering/plugins/directives/tabs.py
  tests/integration/test_template_error_collection.py
  tests/unit/cli/test_cli_theme_commands.py
  tests/unit/health/test_directive_validator.py
  tests/unit/health/validators/test_connectivity.py
  tests/unit/rendering/test_directive_registry.py
  tests/unit/rendering/test_mistune_parser.py
  tests/unit/rendering/test_myst_syntax.py
  tests/unit/rendering/test_parser_configuration.py
  tests/unit/rendering/test_tab_item_options.py
Due: block-legacy-cli-imports

docs(plan): add RFC for robust template error collection during builds
  plan/active/rfc-template-error-collection.md
Due: none

docs(plan): add implementation plan for template error collection (12 tasks)
  plan/active/plan-template-error-collection.md
  tests/unit/health/test_directive_validator.py
  tests/unit/health/validators/test_connectivity.py
  tests/unit/rendering/test_directive_registry.py
Due: none

rendering(template_engine): add validate_templates() for proactive syntax checking
  bengal/rendering/template_engine/core.py
  bengal/utils/build_stats.py
  tests/unit/health/test_directive_validator.py
Due: block-legacy-cli-imports

tests(rendering): add unit tests for TemplateEngine.validate_templates()
  bengal/rendering/template_engine/environment.py
  tests/unit/rendering/test_template_validation.py
  tests/unit/utils/test_build_stats.py
Due: block-legacy-cli-imports

tests: fix 6 failing tests in CI
  bengal/config/defaults.py
  bengal/config/loader.py
  bengal/config/validators.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
Due: block-legacy-cli-imports

tests(integration): re-enable template error collection tests
  tests/integration/test_template_error_collection.py
Due: none

docs(changelog): add proactive template validation to changelog
  changelog.md
  plan/active/rfc-social-cards.md
  plan/completed/plan-template-error-collection.md
  plan/completed/rfc-template-error-collection.md
Due: none

updates
  bengal/rendering/errors.py
  plan/active/plan-template-error-collection.md
  plan/active/rfc-image-lightbox.md
  plan/active/rfc-versioned-documentation.md
  site/content/docs/building/configuration/_index.md
  site/content/docs/building/troubleshooting/_index.md
  site/content/docs/building/troubleshooting/template-errors.md
Due: block-legacy-cli-imports

tests: fix template error collection tests; pass strict=True to build() and add validate_templates config
  tests/integration/test_template_error_collection.py
Due: none

release: prepare 0.1.5-rc1 - version bump, changelog finalization, move implemented RFCs
  changelog.md
  plan/active/rfc-build-integrated-validation.md
  plan/active/rfc-directive-system-v2.md
  plan/active/rfc-media-embed-directives.md
  plan/implemented/dataclass-improvements-implementation-summary.md
  plan/implemented/plan-autodoc-resilience.md
  plan/implemented/plan-site-directive-audit.md
  plan/implemented/plan-template-functions-robustness.md
  plan/implemented/rfc-api-explorer-layout.md
  plan/implemented/rfc-autodoc-resilience.md
  plan/implemented/rfc-dataclass-improvements-evaluation.md
  plan/implemented/rfc-typed-metadata-access.md
  pyproject.toml
  uv.lock
Due: none

rc1 for 0.1.5
  bengal/content_types/strategies.py
  bengal/orchestration/section.py
  pyproject.toml
  site/content/releases/0.1.0.md
  site/content/releases/0.1.1.md
  site/content/releases/0.1.2.md
  site/content/releases/0.1.3.md
  site/content/releases/0.1.4.md
  site/content/releases/0.1.5.md
Due: block-legacy-cli-imports

fix: sync __version__ in __init__.py with pyproject.toml (0.1.5-rc1)
  bengal/__init__.py
Due: block-legacy-cli-imports

fix(rendering): resolve "View source" 404 by extracting github_repo from autodoc config
  bengal/rendering/parsers/mistune.py
  bengal/rendering/pipeline/core.py
  bengal/themes/default/assets/css/components/code.css
  site/content/docs/tutorials/onboarding/from-docusaurus.md
Due: block-legacy-cli-imports

tests(rendering): add regression tests for _normalize_config github_repo handling
  tests/unit/rendering/test_normalize_config_github.py
Due: none

health: fix inconsistent messaging in health check report
  bengal/health/report.py
Due: block-legacy-cli-imports

update
  bengal/cache/dependency_tracker.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/content.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_handler.py
  bengal/themes/default/assets/css/components/code.css
  plan/active/rfc-hot-reload-incremental.md
  plan/rfc-health-report-clarity.md
  site/content/docs/_index.md
Due: block-legacy-cli-imports

bug bash for reload
  bengal/core/site/core.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/incremental.py
  bengal/orchestration/render.py
  bengal/orchestration/streaming.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_handler.py
  bengal/server/live_reload.py
  bengal/themes/default/assets/css/components/tabs.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/css/tokens/typography.css
  plan/active/rfc-incremental-hot-reload-invariants.md
  site/content/docs/about/limitations.md
  tests/unit/orchestration/test_incremental_orchestrator.py
Due: block-legacy-cli-imports

core(asset): refactor asset.py into asset/ package for better separation of concerns
  bengal/core/asset/__init__.py
  bengal/core/asset/asset_core.py
  bengal/core/asset/css_transforms.py
Due: block-legacy-cli-imports

docs: update asset.py references to asset/ package path
  .cursor/rules/research.mdc
  bengal/orchestration/asset.py
  bengal/utils/hashing.py
  site/content/docs/reference/architecture/_index.md
  site/content/docs/reference/architecture/core/_index.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/architecture/rendering/assets-pipeline.md
Due: block-legacy-cli-imports

updates
  bengal/cache/build_cache/file_tracking.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/core/site/core.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/incremental.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_handler.py
  bengal/utils/build_stats.py
  bengal/utils/incremental_constants.py
  plan/active/rfc-incremental-hot-reload-invariants.md
  plan/active/rfc-stubbed-links.md
  tests/unit/orchestration/test_incremental_orchestrator.py
Due: block-legacy-cli-imports

tests: fix 6 failing tests to match updated incremental build behavior
  tests/unit/cache/test_dependency_tracker.py
  tests/unit/health/test_health_report.py
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/server/test_build_handler_reload.py
Due: none

fix source link
  bengal/autodoc/virtual_orchestrator.py
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/templates/cli-reference/command-group.html
  bengal/themes/default/templates/cli-reference/command.html
  bengal/themes/default/templates/partials/page-hero-api.html
  plan/rfc-modularize-incremental-orchestrator.md
  plan/rfc-modularize-virtual-orchestrator.md
  tests/unit/autodoc/test_source_links.py
Due: block-legacy-cli-imports

themes: unify autodoc templates with page-hero-api; fix redundant headers in CLI pages
  bengal/autodoc/extractors/openapi.py
  bengal/autodoc/extractors/python.py
  bengal/autodoc/virtual_orchestrator.py
  bengal/themes/default/assets/css/components/api-explorer.css
  bengal/themes/default/templates/api-reference/partials/badges.html
  bengal/themes/default/templates/api-reference/section-index.html
  bengal/themes/default/templates/cli-reference/command-group.html
  bengal/themes/default/templates/cli-reference/command.html
  bengal/themes/default/templates/cli-reference/list.html
  bengal/themes/default/templates/cli-reference/section-index.html
  bengal/themes/default/templates/cli-reference/single.html
  bengal/themes/default/templates/openapi-reference/endpoint.html
  bengal/themes/default/templates/openapi-reference/overview.html
  bengal/themes/default/templates/openapi-reference/schema.html
  bengal/themes/default/templates/partials/page-hero-api.html
  site/api/openapi.yaml
  site/config/_default/autodoc.yaml
  tests/unit/autodoc/test_openapi_virtual_pages.py
  tests/unit/autodoc/test_source_links.py
  themes/default/templates/partials/page-hero-cli.html
Due: block-legacy-cli-imports

autodoc: fix OpenAPI template rendering; resolve $ref parameters; add safe attribute access
  bengal/themes/default/templates/api-reference/section-index.html
  bengal/themes/default/templates/cli-reference/command.html
  bengal/themes/default/templates/cli-reference/section-index.html
  bengal/themes/default/templates/openapi-reference/overview.html
  bengal/themes/default/templates/partials/page-hero-api.html
Due: none

docs(README): rewrite with high signal-to-noise ratio; add progressive disclosure structure with accurate feature coverage
  README.md
Due: none

docs(README): restore PyPI, build, and license badges
  README.md
  plan/active/rfc-autodoc-output-prefix.md
Due: none

docs(plan): clean up and reorganize plan/ directory structure
  plan/active/plan-template-error-collection.md
  plan/active/rfc-approximate-graph-analysis.md
  plan/active/rfc-autodoc-output-prefix.md
  plan/active/rfc-autodoc-theme-integration.md
  plan/active/rfc-flat-dimensional-aesthetic.md
  plan/active/rfc-health-report-clarity.md
  plan/active/rfc-modularize-incremental-orchestrator.md
  plan/active/rfc-modularize-virtual-orchestrator.md
  plan/active/rfc-persona-onboarding-guides.md
  plan/active/rfc-test-coverage-gaps.md
  plan/active/rfc-theme-003-inheritance.md
  plan/active/rfc-theme-005-css.md
  plan/active/rfc-theme-006-icons.md
  plan/completed/plan-template-functions-robustness.md
  plan/completed/rfc-typed-metadata-access.md
  plan/implemented/rfc-dataclass-improvements.md
  plan/implemented/rfc-premium-tactile-theme.md
Due: none

docs(plan): clean up 7 implemented RFCs; add changelog entries for theme config, lazy artifacts, progressive enhancements, orchestrator perf, utility extraction
  bengal/autodoc/config.py
  bengal/autodoc/virtual_orchestrator.py
  changelog.md
  plan/active/rfc-autodoc-output-prefix.md
  plan/drafted/plan-autodoc-output-prefix.md
  plan/drafted/rfc-theme-001-configuration.md
  plan/ready/docstring-cleanup-summary.md
  plan/ready/plan-lazy-artifacts.md
  plan/ready/rfc-lazy-build-artifacts.md
  plan/ready/rfc-orchestrator-performance-improvements.md
  plan/ready/rfc-progressive-enhancements.md
  plan/ready/rfc-utility-extraction.md
  site/config/_default/autodoc.yaml
  tests/integration/test_autodoc_output_prefix.py
  tests/unit/autodoc/test_openapi_virtual_pages.py
  tests/unit/autodoc/test_output_prefix.py
Due: block-legacy-cli-imports

fix(autodoc): remove hardcoded 'bengal' from source link path normalization
  bengal/autodoc/virtual_orchestrator.py
  tests/unit/autodoc/test_source_links.py
Due: block-legacy-cli-imports

docs(plan): add RFC for centralizing and cleaning up .bengal/ cache directory structure
  bengal/autodoc/virtual_orchestrator.py
  bengal/rendering/pipeline/core.py
  plan/drafted/rfc-bengal-cache-directory.md
  site/config/_default/autodoc.yaml
Due: block-legacy-cli-imports

docs(rfc): improve bengal-cache-directory RFC with verified evidence and test migration strategy
  bengal/autodoc/virtual_orchestrator.py
  bengal/themes/default/templates/api-reference/partials/badges.html
  bengal/themes/default/templates/partials/page-hero-api.html
  plan/drafted/rfc-bengal-cache-directory.md
Due: block-legacy-cli-imports

docs(plan): add implementation plan for bengal-cache-directory RFC with 27 atomic tasks
  bengal/themes/default/templates/partials/page-hero-api.html
  plan/drafted/plan-bengal-cache-directory.md
Due: none

cache: add BengalPaths class as single source of truth for .bengal directory paths
  bengal/cache/paths.py
  plan/drafted/rfc-page-hero-template-separation.md
  tests/unit/cache/test_bengal_paths.py
Due: block-legacy-cli-imports

cache: export BengalPaths and STATE_DIR_NAME from cache module; core(site): add paths property for centralized .bengal access
  bengal/cache/__init__.py
  bengal/core/site/core.py
  bengal/core/site/properties.py
  plan/drafted/rfc-page-hero-template-separation.md
Due: block-legacy-cli-imports

tests(rendering): add regression tests for page-hero-api template
  bengal/analysis/graph_visualizer.py
  bengal/assets/pipeline.py
  bengal/cache/utils.py
  bengal/cli/commands/clean.py
  bengal/cli/commands/debug.py
  bengal/cli/commands/explain.py
  bengal/cli/commands/perf.py
  bengal/cli/commands/sources.py
  bengal/cli/commands/validate.py
  bengal/cli/helpers/site_loader.py
  bengal/debug/delta_analyzer.py
  bengal/health/validators/cache.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/content.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/incremental.py
  bengal/orchestration/taxonomy.py
  bengal/server/build_handler.py
  bengal/server/pid_manager.py
  bengal/utils/paths.py
  bengal/utils/swizzle.py
  bengal/utils/url_strategy.py
  plan/drafted/plan-page-hero-template-separation.md
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/orchestration/test_section_orchestrator.py
  tests/unit/orchestration/test_taxonomy_orchestrator.py
  tests/unit/rendering/test_page_hero_templates.py
Due: block-string-based-click-cls, block-legacy-cli-imports

templates(page-hero): create separated page-hero/ templates for element and section pages
  bengal/cache/paths.py
  bengal/rendering/template_engine/environment.py
  bengal/themes/default/templates/partials/page-hero/_element-stats.html
  bengal/themes/default/templates/partials/page-hero/_share-dropdown.html
  bengal/themes/default/templates/partials/page-hero/_wrapper.html
  bengal/themes/default/templates/partials/page-hero/element.html
  bengal/themes/default/templates/partials/page-hero/section.html
  bengal/utils/paths.py
  tests/unit/rendering/test_page_hero_templates.py
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
