Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

fix(themes): silence K-WARN-001 filter-precedence in ?? ... | length
  bengal/themes/default/templates/archive.html
  bengal/themes/default/templates/partials/language-switcher.html
  bengal/themes/default/templates/tag.html
  bengal/themes/default/templates/tags.html
Due: check-template-css

chore: gitignore Claude Code agent runtime state (.claude/)
  .gitignore
Due: none

chore(changelog): add news fragments for PR #236
  changelog.d/error-ux-overhaul.added.md
  changelog.d/site-decomposition-mixin-removal.changed.md
Due: none

docs: add AGENTS.md with Bengal-specific agent guardrails
  AGENTS.md
Due: none

docs: add AGENTS.md with Bengal-specific agent guardrails (#237)
  AGENTS.md
Due: none

docs(plan): add foundation leaf hygiene plan
  plan/foundation-leaf-hygiene.md
Due: none

refactor(utils): leaf hygiene Sprint 1 — four quick wins
  bengal/utils/concurrency/retry.py
  bengal/utils/primitives/dates.py
  bengal/utils/primitives/text.py
  changelog.d/foundation-leaf-hygiene-s1.changed.md
Due: ty, block-legacy-cli-imports

docs(plan): resolve Sprint 0 design questions for foundation-leaf-hygiene
  plan/foundation-leaf-hygiene.md
Due: none

refactor: foundation leaf hygiene Sprint 2 — DotDict consolidation + latent menu bug fix
  bengal/health/validators/tracks.py
  bengal/orchestration/menu.py
  bengal/utils/primitives/dotdict.py
  bengal/utils/primitives/lru_cache.py
  bengal/utils/primitives/text.py
  changelog.d/foundation-leaf-hygiene-s2.changed.md
  tests/unit/health/validators/test_tracks.py
  tests/unit/orchestration/test_menu_dev_dropdown_autodoc.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

refactor: foundation leaf hygiene Sprint 4 — free-threading polish + bundled micro-opts
  bengal/utils/concurrency/async_compat.py
  bengal/utils/concurrency/thread_local.py
  bengal/utils/primitives/text.py
  changelog.d/foundation-leaf-hygiene-s4.changed.md
Due: ty, block-legacy-cli-imports

refactor: foundation leaf hygiene Sprint 4 — free-threading polish (#240)
  bengal/health/validators/tracks.py
  bengal/orchestration/menu.py
  bengal/utils/concurrency/async_compat.py
  bengal/utils/concurrency/retry.py
  bengal/utils/concurrency/thread_local.py
  bengal/utils/primitives/dates.py
  bengal/utils/primitives/dotdict.py
  bengal/utils/primitives/lru_cache.py
  bengal/utils/primitives/text.py
  changelog.d/foundation-leaf-hygiene-s1.changed.md
  changelog.d/foundation-leaf-hygiene-s2.changed.md
  changelog.d/foundation-leaf-hygiene-s4.changed.md
  plan/foundation-leaf-hygiene.md
  tests/unit/health/validators/test_tracks.py
  tests/unit/orchestration/test_menu_dev_dropdown_autodoc.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: epic agent DX polish — docstrings, CLI tips, scaffold, RFC archive
  AGENTS.md
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/cache.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/codemod.py
  bengal/cli/milo_commands/content.py
  bengal/cli/milo_commands/debug.py
  bengal/cli/milo_commands/i18n.py
  bengal/cli/milo_commands/inspect.py
  bengal/cli/milo_commands/new.py
  bengal/cli/milo_commands/serve.py
  bengal/cli/milo_commands/theme.py
  bengal/cli/milo_commands/version.py
  bengal/cli/utils/site.py
  bengal/core/page/__init__.py
  bengal/core/section/__init__.py
  bengal/core/site/__init__.py
  plan/README.md
  plan/complete/rfc-contextvar-config-implementation.md
  plan/complete/rfc-kida-reserved-keyword-subscript.md
  plan/complete/sprint-0-ty-triage.md
  plan/epic-agent-dx-polish.md
  plan/evaluated/rfc-contextvar-config-analysis.md
  plan/evaluated/rfc-free-threading-hardening.md
  plan/rfc-snapshot-enabled-v2-opportunities.md
  tests/unit/cli/test_cli_error_gates.py
  tests/unit/cli/test_new_content_type.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: add towncrier fragment for agent DX polish epic
  changelog.d/epic-agent-dx-polish.added.md
Due: none

docs: epic agent DX polish — docstrings, CLI tips, scaffold, RFC archive (#241)
  AGENTS.md
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/cache.py
  bengal/cli/milo_commands/check.py
  bengal/cli/milo_commands/codemod.py
  bengal/cli/milo_commands/content.py
  bengal/cli/milo_commands/debug.py
  bengal/cli/milo_commands/i18n.py
  bengal/cli/milo_commands/inspect.py
  bengal/cli/milo_commands/new.py
  bengal/cli/milo_commands/serve.py
  bengal/cli/milo_commands/theme.py
  bengal/cli/milo_commands/version.py
  bengal/cli/utils/site.py
  bengal/core/page/__init__.py
  bengal/core/section/__init__.py
  bengal/core/site/__init__.py
  changelog.d/epic-agent-dx-polish.added.md
  plan/README.md
  plan/complete/rfc-contextvar-config-implementation.md
  plan/complete/rfc-kida-reserved-keyword-subscript.md
  plan/complete/sprint-0-ty-triage.md
  plan/epic-agent-dx-polish.md
  plan/evaluated/rfc-contextvar-config-analysis.md
  plan/evaluated/rfc-free-threading-hardening.md
  plan/rfc-snapshot-enabled-v2-opportunities.md
  tests/unit/cli/test_cli_error_gates.py
  tests/unit/cli/test_new_content_type.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

chore(deps): upgrade kida-templates 0.6.0 → 0.7.0 + adapt templates to strict_undefined
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/index.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/article-jsonld.html
  bengal/themes/default/templates/partials/components/helpers.html
  bengal/themes/default/templates/partials/components/tiles.html
  bengal/themes/default/templates/partials/meta-generator.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/themes/default/templates/partials/product-jsonld.html
  pyproject.toml
  tests/themes/test_default_theme_kida.py
  tests/unit/rendering/test_autodoc_layout_contract.py
  uv.lock
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

chore(changelog): add fragment for kida 0.7.0 upgrade
  changelog.d/kida-0.7.0-upgrade.changed.md
Due: none

fix(theme): guard child menu item access in base.html submenu loop
  bengal/themes/default/templates/base.html
Due: check-template-css

chore(deps): upgrade kida-templates 0.6.0 → 0.7.0 + adapt to strict_undefined (#242)
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/index.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/article-jsonld.html
  bengal/themes/default/templates/partials/components/helpers.html
  bengal/themes/default/templates/partials/components/tiles.html
  bengal/themes/default/templates/partials/meta-generator.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/themes/default/templates/partials/product-jsonld.html
  changelog.d/kida-0.7.0-upgrade.changed.md
  pyproject.toml
  tests/themes/test_default_theme_kida.py
  tests/unit/rendering/test_autodoc_layout_contract.py
  uv.lock
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(themes): resolve Kida 0.7.0 strict_undefined render errors
  bengal/themes/default/templates/authors/single.html
  bengal/themes/default/templates/autodoc/openapi/partials/schema-viewer.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
Due: check-template-css

fix(ci): align RTL bidi test with refactored render_menu_item + add changelog
  changelog.d/fix-kida-strict-undefined-theme-templates.fixed.md
  tests/integration/test_i18n_rtl.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(themes): resolve Kida 0.7.0 strict_undefined render errors (#243)
  bengal/themes/default/templates/authors/single.html
  bengal/themes/default/templates/autodoc/openapi/partials/schema-viewer.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  changelog.d/fix-kida-strict-undefined-theme-templates.fixed.md
  tests/integration/test_i18n_rtl.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix: bump to 0.3.2 and add regression guards against CLI dep-drift
  .github/workflows/python-publish.yml
  pyproject.toml
  tests/integration/test_cli_help.py
  tests/integration/test_wheel_install.py
  tests/unit/cli/test_milo_parser_construction.py
  uv.lock
Due: ty, check-threadpool-without-marker, check-outdated-build-options

chore: add towncrier fragment for 0.3.2 release and drift guards
  changelog.d/release-0.3.2-and-cli-drift-guards.fixed.md
Due: none

fix: bump to 0.3.2 and add regression guards against CLI dep-drift (#244)
  .github/workflows/python-publish.yml
  changelog.d/release-0.3.2-and-cli-drift-guards.fixed.md
  pyproject.toml
  tests/integration/test_cli_help.py
  tests/integration/test_wheel_install.py
  tests/unit/cli/test_milo_parser_construction.py
  uv.lock
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Refactor site content orchestration
  bengal/core/site/__init__.py
  bengal/orchestration/content.py
  changelog.d/site-content-orchestrator.changed.md
  tests/unit/orchestration/test_content_orchestrator_missing_content.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: stabilize remote loader dependency checks
  tests/unit/content_layer/test_loaders.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Move page operations into rendering helpers
  bengal/analysis/graph/builder.py
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  bengal/parsing/ast/utils.py
  bengal/rendering/page_content.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  changelog.d/page-content-service.changed.md
  changelog.d/page-operations-service.changed.md
  tests/core/test_type_safety.py
  tests/unit/core/test_no_core_mixins.py
  tests/unit/rendering/test_page_content.py
  tests/unit/rendering/test_page_operations.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Move Page operations behind rendering helpers
  .importlinter
  bengal/collections/__init__.py
  bengal/content/discovery/content_discovery.py
  bengal/core/page/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/metadata_helpers.py
  bengal/core/page/relationships.py
  bengal/errors/suggestions.py
  bengal/postprocess/robots_txt.py
  bengal/rendering/page_content.py
  bengal/utils/primitives/text.py
  changelog.d/page-metadata-helpers.changed.md
  tests/core/test_mixin_contracts.py
  tests/core/test_type_safety.py
  tests/unit/core/test_no_core_mixins.py
  tests/unit/core/test_page_metadata_helpers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Move Page content fallbacks into rendering helpers
  bengal/core/page/__init__.py
  bengal/core/page/computed.py
  bengal/rendering/page_content.py
  changelog.d/page-content-service.changed.md
  tests/unit/core/test_computed_functions.py
  tests/unit/core/test_no_core_mixins.py
  tests/unit/rendering/test_page_content.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Move page URL helpers out of core Page
  bengal/core/page/__init__.py
  bengal/rendering/page_urls.py
  changelog.d/page-url-service.changed.md
  tests/unit/core/test_no_core_mixins.py
  tests/unit/rendering/test_page_urls.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Refresh architecture guidance for Page rendering boundaries
  AGENTS.md
  CLAUDE.md
  site/content/docs/reference/architecture/design-principles.md
  tests/unit/core/test_no_core_mixins.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Move Section helpers behind rendering shims
  AGENTS.md
  CLAUDE.md
  bengal/core/section/__init__.py
  bengal/core/section/ergonomics.py
  bengal/core/section/hierarchy.py
  bengal/core/section/navigation.py
  bengal/core/section/queries.py
  bengal/rendering/section_ergonomics.py
  bengal/rendering/section_urls.py
  changelog.d/section-ergonomics-helpers.changed.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/architecture/rendering/content-processing-api.md
  tests/core/test_mixin_contracts.py
  tests/unit/core/test_no_core_mixins.py
  tests/unit/rendering/test_section_ergonomics.py
  tests/unit/rendering/test_section_urls.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: move resource helpers behind services
  AGENTS.md
  CLAUDE.md
  bengal/core/page/bundle.py
  bengal/core/section/__init__.py
  bengal/core/section/hierarchy.py
  bengal/core/section/navigation.py
  bengal/rendering/page_resources.py
  bengal/rendering/section_ergonomics.py
  changelog.d/page-resources-service.changed.md
  changelog.d/section-ergonomics-helpers.changed.md
  site/content/docs/reference/architecture/core/object-model.md
  site/content/docs/reference/architecture/rendering/content-processing-api.md
  tests/unit/core/test_no_core_mixins.py
  tests/unit/rendering/test_page_resources.py
  tests/unit/rendering/test_section_ergonomics.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: add scoped steward agents
  AGENTS.md
  bengal/cache/AGENTS.md
  bengal/cli/AGENTS.md
  bengal/core/AGENTS.md
  bengal/core/page/AGENTS.md
  bengal/core/section/AGENTS.md
  bengal/core/site/AGENTS.md
  bengal/errors/AGENTS.md
  bengal/orchestration/AGENTS.md
  bengal/orchestration/build/AGENTS.md
  bengal/orchestration/incremental/AGENTS.md
  bengal/protocols/AGENTS.md
  bengal/rendering/AGENTS.md
  bengal/rendering/pipeline/AGENTS.md
  bengal/rendering/template_functions/AGENTS.md
  bengal/snapshots/AGENTS.md
  changelog.d/contributor-stewards.changed.md
  tests/AGENTS.md
  tests/integration/AGENTS.md
  tests/performance/AGENTS.md
  tests/unit/AGENTS.md
Due: none

docs: add scoped steward agents (#247)
  AGENTS.md
  bengal/cache/AGENTS.md
  bengal/cli/AGENTS.md
  bengal/core/AGENTS.md
  bengal/core/page/AGENTS.md
  bengal/core/section/AGENTS.md
  bengal/core/site/AGENTS.md
  bengal/errors/AGENTS.md
  bengal/orchestration/AGENTS.md
  bengal/orchestration/build/AGENTS.md
  bengal/orchestration/incremental/AGENTS.md
  bengal/protocols/AGENTS.md
  bengal/rendering/AGENTS.md
  bengal/rendering/pipeline/AGENTS.md
  bengal/rendering/template_functions/AGENTS.md
  bengal/snapshots/AGENTS.md
  changelog.d/contributor-stewards.changed.md
  tests/AGENTS.md
  tests/integration/AGENTS.md
  tests/performance/AGENTS.md
  tests/unit/AGENTS.md
Due: none

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
