Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

postprocess: implement Big O optimizations; streaming LLM write O(n×c)→O(c) memory, heapq.nlargest for RSS O(n log n)→O(n log 20), hash-based change detection for index/llm generators
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/rss.py
  plan/drafted/rfc-postprocess-package-optimizations.md
  plan/drafted/rfc-rendering-package-optimizations.md
  plan/drafted/rfc-server-package-optimizations.md
Due: block-legacy-cli-imports

server: add caching optimizations for ignore filter, frontmatter, and template dirs; add debug logging for reload decision tracking
  bengal/rendering/renderer.py
  bengal/server/build_trigger.py
  bengal/server/ignore_filter.py
  plan/drafted/rfc-rendering-package-optimizations.md
  plan/drafted/rfc-server-package-optimizations.md
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_ignore_filter.py
Due: block-legacy-cli-imports

server: clean up legacy/redundant code in ignore filter and build trigger
  bengal/server/build_trigger.py
  bengal/server/ignore_filter.py
Due: block-legacy-cli-imports

rendering: add tag pages cache and unified HTML transformer (~27% faster builds)
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/unified_transform.py
  scripts/benchmark_transforms.py
  tests/unit/rendering/pipeline/test_unified_transform.py
Due: block-legacy-cli-imports

plan(rfc): add thread safety sweep RFC for Python 3.14 free-threading support
  plan/drafted/rfc-thread-safety-sweep.md
Due: none

rendering(transforms): add deprecation notices to legacy transform functions
  bengal/rendering/pipeline/transforms.py
Due: block-legacy-cli-imports

plan(rfc): add type refinement sweep RFC for improved type safety
  plan/drafted/rfc-type-refinement-sweep.md
Due: none

types(phase1): add TypedDict and Protocol definitions for type refinement sweep
  bengal/config/types.py
  bengal/core/page/computed.py
  bengal/core/section/protocols.py
  bengal/directives/base.py
  bengal/directives/types.py
  bengal/health/types.py
  bengal/orchestration/types.py
  plan/drafted/rfc-thread-safety-sweep.md
  plan/drafted/rfc-type-refinement-sweep.md
  pyproject.toml
  reports/type-baseline.md
  tests/unit/orchestration/test_incremental_orchestrator.py
  uv.lock
Due: block-legacy-cli-imports

types(phase2): replace Any with typed protocols in critical paths
  bengal/directives/base.py
  bengal/orchestration/render.py
  bengal/rendering/template_engine/manifest.py
Due: block-legacy-cli-imports

types(phase2-cont): replace Any in streaming and postprocess orchestrators
  bengal/orchestration/postprocess.py
  bengal/orchestration/streaming.py
  tests/unit/orchestration/test_incremental_orchestrator.py
Due: block-legacy-cli-imports

types(phase3): replace Any in directive files using shadow protocols
  bengal/directives/embed.py
  bengal/directives/navigation.py
  bengal/directives/video.py
  tests/unit/orchestration/test_incremental_orchestrator.py
Due: block-legacy-cli-imports

types(phase4): replace Any in template function modules
  bengal/rendering/template_functions/navigation/scaffold.py
  bengal/rendering/template_functions/seo.py
  tests/unit/orchestration/test_incremental_orchestrator.py
Due: block-legacy-cli-imports

types(phase4): replace Any in i18n template functions
  bengal/rendering/template_functions/i18n.py
Due: block-legacy-cli-imports

docs(plan): add RFC for directive package test maturity; identifies 11% test ratio, TODO comments, type gaps
  plan/drafted/rfc-directive-test-maturity.md
Due: none

types(tier1-3): replace Any in template context, tests, and pipeline modules
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/template_context.py
  bengal/rendering/template_tests.py
Due: block-legacy-cli-imports

types(tier4): replace Any in core domain modules
  bengal/core/cascade_engine.py
  bengal/core/diagnostics.py
  bengal/core/menu.py
  bengal/core/page/operations.py
  bengal/core/section/ergonomics.py
  plan/drafted/rfc-directive-test-maturity.md
Due: block-legacy-cli-imports

types(tier4-cont): replace Any in orchestration/content.py
  bengal/orchestration/content.py
  plan/drafted/rfc-directive-test-maturity.md
Due: block-legacy-cli-imports

directives(options): fix cache inheritance bug in DirectiveOptions.from_raw()
  bengal/analysis/content_intelligence.py
  bengal/analysis/link_patterns.py
  bengal/cli/commands/sources.py
  bengal/cli/dashboard/__main__.py
  bengal/directives/options.py
  bengal/health/validators/accessibility.py
  bengal/orchestration/content.py
  bengal/orchestration/render.py
  bengal/postprocess/speculation.py
  bengal/rendering/pipeline/autodoc_renderer.py
  plan/drafted/rfc-directive-test-maturity.md
  reports/type-baseline.md
Due: block-string-based-click-cls, block-legacy-cli-imports

types: fix 8 incorrect internal imports; update type baseline
  bengal/autodoc/extractors/python/extractor.py
  bengal/themes/default/templates/autodoc/partials/_macros/class-member.html
Due: block-legacy-cli-imports

server(build_trigger): queue changes during builds instead of discarding; prevents lost autodoc pages during rapid edits
  bengal/server/build_trigger.py
Due: block-legacy-cli-imports

tests(build_trigger): add tests for change queuing during builds
  tests/unit/server/test_build_trigger.py
Due: none

assets: adopt BengalAssetError with ErrorCode.X003; add error_code to 7 logger calls; add test file mapping
  bengal/assets/manifest.py
  bengal/assets/pipeline.py
  bengal/errors/exceptions.py
  plan/drafted/rfc-analysis-error-adoption.md
  plan/drafted/rfc-assets-error-adoption.md
  plan/drafted/rfc-autodoc-error-handling.md
  plan/evaluated/rfc-analysis-error-adoption.md
Due: block-legacy-cli-imports

errors(analysis): add BengalGraphError exception class with ANALYSIS build phase; migrate 5 analysis files from BengalError; add record_error() calls for silent failures in graph_builder.py
  bengal/analysis/graph_analysis.py
  bengal/analysis/graph_builder.py
  bengal/analysis/graph_reporting.py
  bengal/analysis/graph_visualizer.py
  bengal/analysis/knowledge_graph.py
  bengal/analysis/page_rank.py
  bengal/autodoc/extractors/cli.py
  bengal/autodoc/extractors/openapi.py
  bengal/autodoc/models/common.py
  bengal/autodoc/orchestration/orchestrator.py
  bengal/errors/__init__.py
  bengal/errors/codes.py
  bengal/errors/context.py
  bengal/errors/exceptions.py
  plan/drafted/rfc-autodoc-error-handling.md
Due: block-legacy-cli-imports

autodoc(errors): add O001-O006 error codes; replace D001 semantic mismatches; convert logging to structured errors
  plan/drafted/rfc-cache-error-adoption.md
Due: none

docs(plan): move rfc-autodoc-error-handling to evaluated; mark as implemented
  plan/evaluated/rfc-autodoc-error-handling.md
Due: none

cache: adopt error system with ErrorCode A001-A005 across 7 files; structured logging for all error sites
  bengal/cache/build_cache/core.py
  bengal/cache/cache_store.py
  bengal/cache/compression.py
  bengal/cache/page_discovery_cache.py
  bengal/cache/query_index.py
  bengal/cache/taxonomy_index.py
  bengal/cache/utils.py
  plan/drafted/rfc-cli-error-adoption.md
  plan/ready/rfc-cache-error-adoption.md
Due: block-legacy-cli-imports

plan(collections): evaluate and improve RFC for error system adoption; fix silent failure count; move to ready
  plan/drafted/rfc-cache-error-adoption.md
  plan/drafted/rfc-config-error-adoption.md
  plan/ready/rfc-collections-error-adoption.md
Due: none

collections: integrate error system with N011-N015 codes; add record_error() for session tracking
  bengal/collections/errors.py
  bengal/collections/loader.py
  bengal/discovery/content_parser.py
  bengal/errors/codes.py
  bengal/errors/exceptions.py
  plan/drafted/rfc-collections-error-adoption.md
  plan/drafted/rfc-content-layer-error-adoption.md
  plan/evaluated/rfc-config-error-adoption.md
Due: block-legacy-cli-imports

plan: move rfc-collections-error-adoption to evaluated after implementation
  plan/evaluated/rfc-collections-error-adoption.md
Due: none

config: add error codes + session tracking per RFC-config-error-adoption
  bengal/config/deprecation.py
  bengal/config/directory_loader.py
  bengal/config/validators.py
  tests/unit/config/test_directory_loader.py
  tests/unit/config/test_session_tracking.py
  tests/unit/config/test_validators.py
Due: block-legacy-cli-imports

content_layer: adopt Bengal error system with new codes D008-D011, N016; wrap fetch/parse errors in BengalDiscoveryError/BengalContentError; add record_error() calls for session tracking
  bengal/content_layer/loaders.py
  bengal/content_layer/manager.py
  bengal/content_layer/sources/github.py
  bengal/content_layer/sources/local.py
  bengal/content_layer/sources/notion.py
  bengal/content_layer/sources/rest.py
  bengal/errors/codes.py
  bengal/errors/exceptions.py
  plan/drafted/rfc-content-layer-error-adoption.md
  plan/drafted/rfc-content-types-error-adoption.md
Due: block-legacy-cli-imports

docs(plan): draft RFC for cache package error system adoption
  plan/drafted/rfc-cache-error-adoption.md
  plan/drafted/rfc-core-error-adoption.md
  tests/unit/cli/test_error_display.py
Due: none

core(registry): migrate RuntimeError to BengalError with actionable suggestions; update tests
  bengal/cache/asset_dependency_map.py
  bengal/cache/build_cache/core.py
  bengal/cache/compression.py
  bengal/cache/page_discovery_cache.py
  bengal/cache/query_index.py
  bengal/cache/taxonomy_index.py
  bengal/core/registry.py
  plan/evaluated/rfc-core-error-adoption.md
  tests/unit/core/test_content_registry.py
Due: block-legacy-cli-imports

cache: adopt error system with codes, suggestions, and session tracking
  plan/drafted/rfc-cache-error-adoption.md
  plan/drafted/rfc-core-error-adoption.md
  plan/drafted/rfc-discovery-error-adoption.md
  tests/unit/cache/test_asset_dependency_map.py
  tests/unit/cache/test_session_tracking.py
Due: none

fonts(errors): adopt BengalAssetError with X007-X009 error codes; add record_error() for session tracking
  bengal/discovery/asset_discovery.py
  bengal/discovery/content_discovery.py
  bengal/discovery/directory_walker.py
  bengal/discovery/git_version_adapter.py
  bengal/errors/codes.py
  bengal/errors/exceptions.py
  bengal/fonts/downloader.py
  plan/drafted/rfc-fonts-error-adoption.md
Due: block-legacy-cli-imports

health: adopt Bengal error system with V-series codes; add session tracking for validator crashes and connectivity failures
  bengal/errors/codes.py
  bengal/health/autofix.py
  bengal/health/health_check.py
  bengal/health/linkcheck/async_checker.py
  bengal/health/linkcheck/orchestrator.py
  bengal/health/validators/connectivity.py
  plan/drafted/rfc-icons-error-adoption.md
  plan/drafted/rfc-orchestration-error-adoption.md
  plan/evaluated/rfc-health-error-adoption.md
Due: block-legacy-cli-imports

plan(orchestration-rfc): fix file counts, improve session tracking code, clarify menu.py gap; add line references
  bengal/icons/resolver.py
  plan/drafted/rfc-health-error-adoption.md
  plan/drafted/rfc-orchestration-error-adoption.md
Due: block-legacy-cli-imports

orchestration: adopt Bengal error system with B-series codes (B001-B010)
  bengal/errors/codes.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/menu.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/taxonomy.py
  plan/drafted/rfc-output-error-adoption.md
Due: block-legacy-cli-imports

docs(plan): add RFC for rendering package error system adoption with 6→9 adoption score target
  plan/drafted/rfc-postprocess-error-adoption.md
  plan/drafted/rfc-rendering-error-adoption.md
Due: none

postprocess: adopt Bengal error system with B008 codes, suggestions, and session tracking
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/output_formats/lunr_index_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/postprocess/redirects.py
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/postprocess/social_cards.py
  bengal/postprocess/special_pages.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/parsers/mistune/__init__.py
  bengal/rendering/parsers/pygments_patch.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/inline_icon.py
  bengal/rendering/pygments_cache.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_engine/manifest.py
  bengal/rendering/template_functions/files.py
  bengal/rendering/template_functions/icons.py
  bengal/rendering/template_functions/images.py
  bengal/rendering/template_functions/strings.py
  bengal/rendering/template_functions/tables.py
  plan/drafted/rfc-postprocess-error-adoption.md
  plan/evaluated/rfc-rendering-error-adoption.md
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
