Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

updates
  .cursor/plans/docs-versioning-s-tier.plan.md
  bengal/content/notebook/__init__.py
  bengal/content/notebook/converter.py
  bengal/content/versioning/__init__.py
  bengal/content/versioning/artifacts.py
  bengal/orchestration/build/finalization.py
  changelog.md
  pyproject.toml
  site/content/docs/content/authoring/code-blocks.md
  site/content/docs/content/versioning/_index.md
  site/content/docs/tutorials/migration/from-mkdocs.md
  site/content/docs/tutorials/migration/from-sphinx.md
  tests/integration/test_notebook_feature.py
  tests/integration/test_versioned_builds.py
  tests/unit/content/notebook/test_converter.py
  tests/unit/content/test_notebook_parser.py
  tests/unit/content/versioning/test_artifacts.py
  tests/unit/content_types/test_strategies.py
  tests/unit/rendering/test_type_based_templates.py
  tests/unit/template_functions/test_urls.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

make release helper
  Makefile
Due: none

fixes
  .cursor/plans/follower-audience-analysis.md
  bengal/content/versioning/artifacts.py
  bengal/rendering/highlighting/cache.py
  bengal/rendering/pipeline/output.py
  tests/unit/content/versioning/test_artifacts.py
  tests/unit/template_functions/test_content.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/themes/default/templates/notebook/single.html
Due: check-template-css

updates
  README.md
  bengal/content/discovery/content_parser.py
  bengal/content/notebook/__init__.py
  bengal/content/notebook/converter.py
  bengal/rendering/template_functions/urls.py
  bengal/themes/default/assets/css/layouts/notebook.css
  bengal/themes/default/templates/notebook/single.html
  changelog.md
  pyproject.toml
  site/config/_default/params.yaml
  site/content/docs/content/authoring/_index.md
  site/content/docs/content/authoring/notebooks/_index.md
  site/content/docs/content/authoring/notebooks/content-features.ipynb
  site/content/docs/content/authoring/notebooks/hello-notebook.ipynb
  site/content/docs/content/authoring/notebooks/setup.md
  tests/unit/content/notebook/test_converter.py
  tests/unit/content/test_notebook_parser.py
  tests/unit/template_functions/test_urls.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

styling
  bengal/config/directory_loader.py
  bengal/config/env_config.py
  bengal/config/env_overrides.py
  bengal/config/unified_loader.py
  bengal/themes/default/assets/css/layouts/notebook.css
  site/content/docs/content/authoring/notebooks/_index.md
  site/content/docs/content/authoring/notebooks/setup.md
  tests/unit/config/test_env_config.py
  tests/unit/config/test_env_overrides.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/core/page/metadata.py
  bengal/core/page/proxy.py
  bengal/orchestration/build/__init__.py
  site/content/docs/building/_index.md
  site/content/docs/building/configuration/_index.md
  site/content/docs/building/configuration/variants.md
  site/content/docs/building/deployment/_index.md
  site/content/docs/tutorials/operations/automate-with-github-actions.md
  site/content/docs/tutorials/user-scenarios.md
  tests/unit/core/test_page_metadata_helpers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

update
  bengal/build/provenance/filter.py
Due: ty, block-legacy-cli-imports

readme
  README.md
Due: none

orchestration: defer BuildCache save, add chunked render submission
  bengal/orchestration/build/initialization.py
  bengal/orchestration/render/orchestrator.py
Due: ty, block-legacy-cli-imports

autodoc
  benchmarks/README.md
  benchmarks/test_directive_heavy_build.py
  benchmarks/test_notebook_build.py
  benchmarks/test_patitas_performance.py
  bengal/autodoc/config.py
  bengal/autodoc/extractors/python/extractor.py
  bengal/autodoc/extractors/python/inheritance.py
  bengal/autodoc/utils/__init__.py
  bengal/autodoc/utils/metadata.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/autodoc/python/module.html
  site/content/docs/content/sources/autodoc.md
  site/content/docs/reference/architecture/subsystems/autodoc.md
  tests/unit/autodoc/test_python_extractor.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs
  README.md
  site/content/docs/content/authoring/code-blocks.md
  site/content/docs/reference/architecture/subsystems/autodoc.md
Due: none

reload status
  bengal/server/asgi_app.py
  bengal/server/responses.py
  tests/unit/server/test_asgi_app.py
  tests/unit/server/test_request_handler_rebuild_page.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/__init__.py
  bengal/rendering/template_functions/urls.py
  site/config/_default/params.yaml
  site/content/docs/content/authoring/notebooks/setup.md
  site/content/releases/0.2.0.md
  tests/unit/template_functions/test_urls.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tabs
  bengal/parsing/backends/patitas/directives/builtins/tabs.py
Due: ty, block-legacy-cli-imports

rendering: fix notebook download and colab buttons not displaying
  bengal/rendering/template_functions/urls.py
  bengal/themes/default/templates/notebook/single.html
  tests/integration/test_notebook_feature.py
  tests/unit/template_functions/test_urls.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

updates
  site/content/docs/content/reuse/filtering.md
  site/content/docs/content/versioning/folder-mode.md
  site/content/docs/extending/custom-skeletons.md
  site/content/docs/theming/templating/custom-engine.md
  site/content/docs/theming/templating/kida/add-custom-filter.md
  site/content/docs/theming/templating/kida/create-custom-template.md
  site/content/docs/theming/templating/kida/migration/from-jinja.md
  site/content/docs/tutorials/operations/automate-with-github-actions.md
  site/content/docs/tutorials/theming/getting-started-with-kida.md
  tests/integration/test_math_feature.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix
  bengal/rendering/context/data_wrappers.py
  bengal/themes/default/templates/notebook/single.html
  tests/unit/rendering/context/test_cascading_params_context.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

release note
  site/content/releases/0.2.0.md
Due: none

cleanup
  .pre-commit-guide.md
  PERFORMANCE_IMPROVEMENTS.md
  TYPE_CHECKING_GUIDE.md
  commonmark_baseline.txt
  test_lazy_loading.sh
Due: none

dx hints
  bengal/cli/commands/build.py
  bengal/config/env_overrides.py
  bengal/server/dev_server.py
  bengal/utils/dx/__init__.py
  bengal/utils/dx/detection.py
  bengal/utils/dx/hints.py
  site/content/docs/building/_index.md
  site/content/docs/building/dx-hints.md
  tests/unit/utils/dx/__init__.py
  tests/unit/utils/dx/test_detection.py
  tests/unit/utils/dx/test_hints.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

pipeline inputs
  bengal/core/site/__init__.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/inputs.py
  bengal/orchestration/build/results.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/stats/models.py
  bengal/postprocess/redirects.py
  bengal/postprocess/social_cards.py
  bengal/postprocess/special_pages.py
  bengal/postprocess/xref_index.py
  bengal/server/build_executor.py
  bengal/server/build_trigger.py
  bengal/server/reload_controller.py
  plan/analysis-pipeline-inputs-and-vertical-stacks.md
  plan/rfc-pipeline-input-output-contracts.md
Due: ty, block-legacy-cli-imports

plan for cli
  plan/pdd-cli-framework.md
Due: none

pr feedback
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/inputs.py
  bengal/orchestration/build/results.py
  bengal/protocols/core.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_trigger.py
  bengal/themes/default/templates/notebook/single.html
  tests/unit/server/test_reload_controller.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

updates
  benchmarks/test_block_level_incremental.py
  bengal/cli/commands/engine.py
  bengal/parsing/backends/patitas/render_config.py
  bengal/rendering/metadata.py
  bengal/snapshots/templates.py
  pyproject.toml
  scripts/analyze_file_sizes.py
  scripts/benchmark_parallel.py
  scripts/fix_docstring_indentation.py
  tests/conftest.py
  tests/integration/stateful/test_build_workflows.py
  tests/integration/test_baseurl_builds.py
  tests/unit/autodoc/test_cli_extractor.py
  tests/unit/config/test_deprecation.py
  tests/unit/core/test_page_navigation_weight_order.py
  tests/unit/debug/test_debug_tool_contract.py
  tests/unit/protocols/test_protocols.py
  tests/unit/rendering/test_parser_configuration.py
  tests/unit/rendering/test_syntax_highlighting.py
  tests/unit/utils/test_text_properties.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

update
  benchmarks/test_block_level_incremental.py
  bengal/cli/commands/engine.py
  bengal/parsing/backends/patitas/render_config.py
  bengal/rendering/metadata.py
  bengal/snapshots/templates.py
  pyproject.toml
  scripts/benchmark_parallel.py
  tests/core/test_resource_contracts.py
  tests/core/test_type_safety.py
  tests/unit/debug/test_debug_tool_contract.py
  tests/unit/protocols/test_protocols.py
  tests/unit/rendering/test_parser_configuration.py
  tests/unit/rendering/test_syntax_highlighting.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

ruff and ty
  benchmarks/benchmark_history.py
  benchmarks/directive_cache_benchmark.py
  benchmarks/test_block_level_incremental.py
  benchmarks/test_complexity_ordering.py
  benchmarks/test_core_performance.py
  benchmarks/test_import_overhead.py
  scripts/check_cycles.py
  scripts/check_dependencies.py
  scripts/clean_frontmatter.py
  scripts/detect_code_smells.py
  scripts/fix_docstring_indentation.py
  scripts/generate_error_docs.py
  scripts/run_commonmark_baseline.py
  scripts/test_css_minification.py
  tests/_testing/assertions.py
  tests/_testing/progress.py
  tests/core/test_type_safety.py
  tests/integration/test_autodoc_html_generation.py
  tests/integration/test_blog_scenarios.py
  tests/integration/test_documentation_builds.py
  tests/integration/test_error_recovery.py
  tests/integration/test_full_site_url_consistency.py
  tests/integration/test_golden_output.py
  tests/integration/test_i18n.py
  tests/integration/test_incremental_cache_stability.py
  tests/integration/test_output_quality.py
  tests/integration/test_product.py
  tests/meta/test_test_quality.py
  tests/rendering/parsers/test_patitas/test_inline.py
  tests/unit/collections/test_loader.py
  tests/unit/collections/test_schema_validator.py
  tests/unit/config/test_directory_loader.py
  tests/unit/content_layer/test_loaders.py
  tests/unit/core/test_page_metadata_helpers.py
  tests/unit/core/utils/test_config.py
  tests/unit/errors/test_exceptions.py
  tests/unit/protocols/test_no_duplicates.py
  tests/unit/protocols/test_protocol_stability.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

continued
  tests/core/test_type_safety.py
  tests/performance/benchmark_build_stability.py
  tests/rendering/parsers/test_patitas/test_contextvar_downstream.py
  tests/unit/autodoc/test_high_concurrency_stress.py
  tests/unit/content_layer/test_loaders.py
  tests/unit/core/test_menu_cycles.py
  tests/unit/core/test_navigation.py
  tests/unit/health/test_health_code_uniqueness.py
  tests/unit/health/test_validator_contracts.py
  tests/unit/orchestration/incremental/test_incremental_properties.py
  tests/unit/orchestration/test_content_orchestrator_url_fix.py
  tests/unit/protocols/test_no_duplicates.py
  tests/unit/protocols/test_protocol_consistency.py
  tests/unit/rendering/parsers/test_patitas/test_contextvar_config.py
  tests/unit/rendering/test_asset_manifest_contextvar.py
  tests/unit/rendering/test_asset_tracking_properties.py
  tests/unit/rendering/test_jinja_utils.py
  tests/unit/rendering/test_preprocess_strictness.py
  tests/unit/rendering/test_template_cycles.py
  tests/unit/rendering/test_template_url_access.py
  tests/unit/rendering/utils/test_rendering_contextvar.py
  tests/unit/server/test_dev_server_baseurl.py
  tests/unit/test_path_resolver.py
  tests/unit/utils/test_atomic_write.py
  tests/unit/utils/test_dates_properties.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

final
  benchmarks/test_complexity_ordering.py
  pyproject.toml
  scripts/detect_code_smells.py
  scripts/test_css_minification.py
  tests/integration/test_incremental_cache_stability.py
  tests/rendering/parsers/test_patitas/test_contextvar_downstream.py
  tests/unit/autodoc/test_high_concurrency_stress.py
  tests/unit/core/test_navigation.py
  tests/unit/health/test_health_code_uniqueness.py
  tests/unit/health/test_validator_contracts.py
  tests/unit/orchestration/incremental/test_incremental_properties.py
  tests/unit/orchestration/test_content_orchestrator_url_fix.py
  tests/unit/protocols/test_no_duplicates.py
  tests/unit/protocols/test_protocol_stability.py
  tests/unit/rendering/test_asset_tracking_properties.py
  tests/unit/rendering/test_template_url_access.py
  tests/unit/test_path_resolver.py
  tests/unit/utils/test_dates_properties.py
  tests/unit/utils/test_error_handling.py
  tests/unit/utils/test_logger.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test
  tests/unit/test_path_resolver.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

theme polish
  bengal/themes/default/assets/css/base/utilities.css
  bengal/themes/default/assets/css/components/archive.css
  bengal/themes/default/assets/css/components/author-page.css
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/assets/css/components/cards.css
  bengal/themes/default/assets/css/components/data-table.css
  bengal/themes/default/assets/css/components/navigation.css
  bengal/themes/default/assets/css/components/pagination.css
  bengal/themes/default/assets/css/components/search.css
  bengal/themes/default/assets/css/components/steps.css
  bengal/themes/default/assets/css/components/tabs.css
  bengal/themes/default/assets/css/components/tags.css
  bengal/themes/default/assets/css/components/toc.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/css/components/tutorial.css
  bengal/themes/default/assets/css/experimental/EXPERIMENTAL.md
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/css/layouts/resume.css
  bengal/themes/default/assets/css/pages/landing.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/css/tokens/foundation.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/css/utilities/micro-interactions.css
  bengal/themes/default/assets/css/utilities/skeleton.css
  bengal/themes/default/assets/js/core/search.js
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/templates/404.html
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/authors/list.html
  bengal/themes/default/templates/authors/single.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/components/tags.html
  bengal/themes/default/templates/partials/docs-nav-node.html
  bengal/themes/default/templates/partials/empty-state.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/partials/search-modal.html
  bengal/themes/default/templates/partials/search.html
  bengal/themes/default/templates/resume/list.html
  bengal/themes/default/templates/search.html
  bengal/themes/default/templates/tags.html
Due: check-template-css

rendering: resolve relative card links (./ and ../) with current_page_dir
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  bengal/parsing/backends/patitas/renderers/directives.py
  tests/unit/rendering/test_cards_directive.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: centralize link resolution in bengal.utils.xref
  bengal/parsing/backends/patitas/directives/builtins/cards.py
  bengal/parsing/backends/patitas/directives/builtins/cards_utils.py
  bengal/utils/xref.py
  tests/unit/rendering/test_cards_directive.py
  tests/unit/utils/test_xref.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

updates
  bengal/analysis/graph/templates/graph_visualizer.html
  bengal/analysis/graph/visualizer.py
  bengal/config/defaults.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/rendering/renderer.py
  bengal/rendering/template_functions/taxonomies.py
  bengal/server/asgi_app.py
  bengal/themes/default/assets/css/components/graph-contextual.css
  bengal/themes/default/assets/css/components/graph.css
  bengal/themes/default/assets/css/components/tags.css
  bengal/themes/default/assets/css/layouts/footer.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/tag-nav.html
  bengal/themes/default/templates/tag.html
  bengal/themes/default/templates/tags.html
  tests/integration/test_tracks_rendering.py
  tests/unit/analysis/test_graph_visualizer.py
  tests/unit/orchestration/test_menu_dev_dropdown_autodoc.py
  tests/unit/rendering/test_navigation_templates_baseurl.py
  tests/unit/rendering/test_view_transitions.py
  tests/unit/server/test_asgi_app.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

orchestration: add track dependency ordering for faster track page builds
  bengal/config/defaults.py
  bengal/orchestration/render/orchestrator.py
  tests/unit/orchestration/test_render_orchestrator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: merge track sort into complexity sort to fix performance
  bengal/orchestration/render/orchestrator.py
  tests/unit/orchestration/test_render_orchestrator.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
