Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

Phase 2: tutorial and theming hub persona gates
  site/content/docs/theming/_index.md
  site/content/docs/theming/assets/_index.md
  site/content/docs/theming/recipes/_index.md
  site/content/docs/theming/templating/_index.md
  site/content/docs/theming/templating/kida/_index.md
  site/content/docs/theming/templating/kida/caching/_index.md
  site/content/docs/theming/templating/kida/migration/_index.md
  site/content/docs/theming/templating/kida/syntax/_index.md
  site/content/docs/theming/themes/_index.md
  site/content/docs/tutorials/_index.md
  site/content/docs/tutorials/content/_index.md
  site/content/docs/tutorials/content/create-a-tutorial-series.md
  site/content/docs/tutorials/migration/from-docusaurus.md
  site/content/docs/tutorials/migration/from-fern.md
  site/content/docs/tutorials/migration/from-hugo.md
  site/content/docs/tutorials/migration/from-jekyll.md
  site/content/docs/tutorials/migration/from-mintlify.md
  site/content/docs/tutorials/migration/from-mkdocs.md
  site/content/docs/tutorials/migration/from-sphinx.md
  site/content/docs/tutorials/operations/_index.md
  site/content/docs/tutorials/operations/analyze-site-connectivity.md
  site/content/docs/tutorials/operations/automate-with-github-actions.md
  site/content/docs/tutorials/sites/_index.md
  site/content/docs/tutorials/theming/_index.md
  site/content/docs/tutorials/theming/getting-started-with-kida.md
  site/content/docs/tutorials/theming/swizzle-default-theme.md
Due: none

feat(capabilities): complete ecosystem sagas #584–#589 (#583)
  bengal/capabilities/builtins.py
  bengal/capabilities/inspection.py
  bengal/capabilities/registry.py
  bengal/capabilities/render.py
  bengal/capabilities/spec.py
  bengal/capabilities/supply_chain.py
  bengal/capabilities/template_wiring.py
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/capability.py
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/rendering/context/__init__.py
  bengal/themes/default/assets/js/enhancements/lazy-loaders.js
  bengal/themes/default/templates/base.html
  changelog.d/583.added.md
  examples/capability-demo/README.md
  examples/capability-demo/demo_viz/__init__.py
  examples/capability-demo/pyproject.toml
  examples/capability-demo/sample-site/bengal.toml
  examples/capability-demo/sample-site/content/demo.md
  examples/capability-demo/sample-site/vendor/demo.min.js
  plan/rfc-capability-system.md
  site/content/docs/building/configuration/capabilities.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/meta/extension-points.md
  tests/integration/test_capability_demo.py
  tests/unit/capabilities/test_inspection.py
  tests/unit/capabilities/test_render.py
  tests/unit/capabilities/test_supply_chain.py
  tests/unit/capabilities/test_template_wiring.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs(site): fix blank snippet includes with colon-fence syntax
  site/content/docs/building/deployment/_index.md
  site/content/docs/content/reuse/_index.md
  site/content/docs/content/reuse/snippets.md
  site/content/docs/get-started/_index.md
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/tutorials/migration/_index.md
  site/content/docs/tutorials/user-scenarios.md
Due: none

fix(capabilities): resolve CI failures for capability CLI and base.html
  bengal/capabilities/template_wiring.py
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/capability.py
  bengal/themes/default/templates/base.html
  site/content/docs/reference/architecture/tooling/cli.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css

docs(site): fix blank snippet includes with colon-fence syntax (#634)
  site/content/docs/building/deployment/_index.md
  site/content/docs/content/reuse/_index.md
  site/content/docs/content/reuse/snippets.md
  site/content/docs/get-started/_index.md
  site/content/docs/get-started/installation.md
  site/content/docs/get-started/quickstart-writer.md
  site/content/docs/tutorials/migration/_index.md
  site/content/docs/tutorials/user-scenarios.md
Due: none

test(cli): add capability commands to CLI smoke manifest
  tests/integration/test_cli_smoke.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(capabilities): complete ecosystem sagas #584–#589 (#583) (#633)
  bengal/capabilities/builtins.py
  bengal/capabilities/inspection.py
  bengal/capabilities/registry.py
  bengal/capabilities/render.py
  bengal/capabilities/spec.py
  bengal/capabilities/supply_chain.py
  bengal/capabilities/template_wiring.py
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/capability.py
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/rendering/context/__init__.py
  bengal/themes/default/assets/js/enhancements/lazy-loaders.js
  bengal/themes/default/templates/base.html
  changelog.d/583.added.md
  examples/capability-demo/README.md
  examples/capability-demo/demo_viz/__init__.py
  examples/capability-demo/pyproject.toml
  examples/capability-demo/sample-site/bengal.toml
  examples/capability-demo/sample-site/content/demo.md
  examples/capability-demo/sample-site/vendor/demo.min.js
  plan/rfc-capability-system.md
  site/content/docs/building/configuration/capabilities.md
  site/content/docs/extending/plugins.md
  site/content/docs/reference/architecture/meta/extension-points.md
  site/content/docs/reference/architecture/tooling/cli.md
  tests/integration/test_capability_demo.py
  tests/integration/test_cli_smoke.py
  tests/unit/capabilities/test_inspection.py
  tests/unit/capabilities/test_render.py
  tests/unit/capabilities/test_supply_chain.py
  tests/unit/capabilities/test_template_wiring.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(includes): parse and render snippet includes at build time
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/debug.py
  bengal/debug/include_inspector.py
  bengal/debug/utils.py
  bengal/effects/render_integration.py
  bengal/effects/tracer.py
  bengal/health/validators/directives/__init__.py
  bengal/health/validators/directives/checkers.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/parsing/backends/patitas/content_deps_context.py
  bengal/parsing/backends/patitas/directives/builtins/include.py
  bengal/parsing/backends/patitas/include_cache.py
  bengal/parsing/backends/patitas/markdown_engine_context.py
  bengal/parsing/backends/patitas/render_session.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/parsing/backends/patitas/renderers/html.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  changelog.d/+include-render.fixed.md
  site/content/docs/reference/directives/content-reuse.md
  tests/integration/test_include_incremental.py
  tests/unit/debug/test_include_inspector.py
  tests/unit/directives/test_include.py
  tests/unit/effects/test_render_integration.py
  tests/unit/effects/test_tracer.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs(site): finish Phase 2 splits and add CLI help drift guards
  scripts/update_cli_help_snapshot.py
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/kida-syntax.md
  site/content/docs/tutorials/user-scenarios.md
  tests/_testing/cli_help_snapshot.py
  tests/unit/docs/fixtures/cli_root_help_commands.txt
  tests/unit/docs/test_doc_reality_drift.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs(site): autodoc CLI reference and registry directive options
  scripts/update_directive_options_snapshot.py
  site/content/docs/reference/architecture/tooling/_index.md
  site/content/docs/reference/architecture/tooling/cli-commands.md
  site/content/docs/reference/directives/_index.md
  site/content/docs/reference/directives/_registry-options.md
  tests/_testing/directive_options_snapshot.py
  tests/integration/test_autodoc_cli_extraction.py
  tests/unit/autodoc/test_bengal_cli_extraction.py
  tests/unit/docs/fixtures/directive_options_snapshot.yaml
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(cli): restore capability module and register debug.includes in docs inventory
  bengal/cli/milo_commands/capability.py
  site/content/docs/reference/architecture/subsystems/debug.md
  site/content/docs/reference/architecture/tooling/cli-commands.md
  site/content/docs/reference/architecture/tooling/cli.md
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix(docs): comment VERSION placeholder to satisfy CLI contract lint
  site/content/docs/reference/architecture/tooling/cli.md
  tests/_testing/cli_help_snapshot.py
  tests/unit/docs/test_doc_reality_drift.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs(site): Phase 2 splits, CLI drift guards, autodoc & directive tables (#636)
  scripts/update_cli_help_snapshot.py
  scripts/update_directive_options_snapshot.py
  site/content/docs/reference/architecture/tooling/_index.md
  site/content/docs/reference/architecture/tooling/cli-commands.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/directives/_index.md
  site/content/docs/reference/directives/_registry-options.md
  site/content/docs/reference/kida-syntax.md
  site/content/docs/tutorials/user-scenarios.md
  tests/_testing/cli_help_snapshot.py
  tests/_testing/directive_options_snapshot.py
  tests/integration/test_autodoc_cli_extraction.py
  tests/unit/autodoc/test_bengal_cli_extraction.py
  tests/unit/docs/fixtures/cli_root_help_commands.txt
  tests/unit/docs/fixtures/directive_options_snapshot.yaml
  tests/unit/docs/test_doc_reality_drift.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

test(cli): add debug.includes and capability commands to smoke manifest
  tests/integration/test_cli_smoke.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix(docs): sort debug.includes before debug.incremental in CLI inventory
  site/content/docs/reference/architecture/tooling/cli.md
Due: none

fix(includes): parse and render snippet includes at build time (#635)
  bengal/cli/milo_app.py
  bengal/cli/milo_commands/debug.py
  bengal/debug/include_inspector.py
  bengal/debug/utils.py
  bengal/effects/render_integration.py
  bengal/effects/tracer.py
  bengal/health/validators/directives/__init__.py
  bengal/health/validators/directives/checkers.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/parsing/backends/patitas/content_deps_context.py
  bengal/parsing/backends/patitas/directives/builtins/include.py
  bengal/parsing/backends/patitas/include_cache.py
  bengal/parsing/backends/patitas/markdown_engine_context.py
  bengal/parsing/backends/patitas/render_session.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/parsing/backends/patitas/renderers/html.py
  bengal/rendering/page_operations.py
  bengal/rendering/pipeline/core.py
  changelog.d/+include-render.fixed.md
  site/content/docs/reference/architecture/subsystems/debug.md
  site/content/docs/reference/architecture/tooling/cli-commands.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/directives/content-reuse.md
  tests/integration/test_cli_smoke.py
  tests/integration/test_include_incremental.py
  tests/unit/debug/test_include_inspector.py
  tests/unit/directives/test_include.py
  tests/unit/effects/test_render_integration.py
  tests/unit/effects/test_tracer.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(tests): update doc paths after Phase 3 IA migration
  tests/unit/cli/test_cli_contract_inventory.py
  tests/unit/content_types/test_registry_public_api.py
  tests/unit/docs/test_doc_python_snippets.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

feat(theme): Pridelands Phase 3 — docs chrome, track de-Bootstrap, motion (#542–#543)
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/components/meta.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/css/utilities/scroll-animations.css
  bengal/themes/default/assets/js/enhancements/author-view.js
  bengal/themes/default/assets/js/enhancements/page-feedback.js
  bengal/themes/default/assets/js/enhancements/tracks.js
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/themes/default/templates/partials/page-meta-actions.html
  bengal/themes/default/templates/partials/theme-controls.html
  bengal/themes/default/templates/partials/track_nav.html
  bengal/themes/default/templates/tracks/list.html
  bengal/themes/default/templates/tracks/single.html
  bengal/themes/default/theme.yaml
  changelog.d/+pridelands-phase3.changed.md
Due: check-template-css

fix(ci): harden shard parse parity test and theme CSS coverage
  bengal/themes/default/assets/css/components/meta.css
  scripts/check_template_css.py
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): Pridelands Phase 3 docs chrome + track de-Bootstrap (#542–#543) (#638)
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/components/docs-nav.css
  bengal/themes/default/assets/css/components/meta.css
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/css/layouts/header.css
  bengal/themes/default/assets/css/tokens/semantic.css
  bengal/themes/default/assets/css/utilities/scroll-animations.css
  bengal/themes/default/assets/js/enhancements/author-view.js
  bengal/themes/default/assets/js/enhancements/page-feedback.js
  bengal/themes/default/assets/js/enhancements/tracks.js
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/partials/action-bar.html
  bengal/themes/default/templates/partials/docs-nav.html
  bengal/themes/default/templates/partials/page-hero/_macros.html
  bengal/themes/default/templates/partials/page-meta-actions.html
  bengal/themes/default/templates/partials/theme-controls.html
  bengal/themes/default/templates/partials/track_nav.html
  bengal/themes/default/templates/tracks/list.html
  bengal/themes/default/templates/tracks/single.html
  bengal/themes/default/theme.yaml
  changelog.d/+pridelands-phase3.changed.md
  scripts/check_template_css.py
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): restore prose link styling after invalid @scope syntax
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  changelog.d/+prose-link-styling.fixed.md
  tests/unit/themes/test_unified_primitives.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): resolve edit-this-page links to GitHub instead of None
  bengal/rendering/template_functions/urls.py
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/partials/page-meta-actions.html
  bengal/themes/default/templates/partials/stale-content-banner.html
  site/templates/partials/navigation-components.html
  tests/unit/template_functions/test_urls.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

chore(changelog): add fragment for edit-this-page URL fix
  changelog.d/+fix-edit-page-none-url.fixed.md
Due: none

fix(theme): restore prose link styling after invalid @scope syntax (#639)
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  changelog.d/+prose-link-styling.fixed.md
  tests/unit/themes/test_unified_primitives.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs: regenerate template functions reference for page_github_edit_url
  site/content/docs/reference/template-functions/reference-generated.md
Due: none

fix(render): reuse site sections in parse_shard for child-cards parity
  bengal/orchestration/render/isolated/shard_worker.py
  changelog.d/+fix-edit-page-none-url.fixed.md
  tests/unit/orchestration/render/test_shard_worker.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix(theme): resolve edit-this-page links to GitHub instead of None (#640)
  bengal/orchestration/render/isolated/shard_worker.py
  bengal/rendering/template_functions/urls.py
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/partials/page-meta-actions.html
  bengal/themes/default/templates/partials/stale-content-banner.html
  changelog.d/+fix-edit-page-none-url.fixed.md
  site/content/docs/reference/template-functions/reference-generated.md
  site/templates/partials/navigation-components.html
  tests/unit/orchestration/render/test_shard_worker.py
  tests/unit/template_functions/test_urls.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): restore header theme dropdown popover positioning
  bengal/themes/default/assets/css/layouts/header.css
  changelog.d/+theme-dropdown-anchor.fixed.md
  tests/unit/themes/test_unified_primitives.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(theme): restore header theme dropdown popover positioning (#641)
  bengal/themes/default/assets/css/layouts/header.css
  changelog.d/+theme-dropdown-anchor.fixed.md
  tests/unit/themes/test_unified_primitives.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

feat(theme): finish Pridelands Phase 3–4 showcase polish (#542–#544)
  bengal/postprocess/static_markup.py
  bengal/themes/default/assets/css/components/announcement.css
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/components/forms.css
  bengal/themes/default/assets/css/components/gallery.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/language-switcher.css
  bengal/themes/default/assets/css/components/tutorial.css
  bengal/themes/default/assets/css/components/widgets.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/css/layouts/resume.css
  bengal/themes/default/assets/css/pages/landing.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/enhancements/announcement.js
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/assets/js/enhancements/tutorials.js
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/changelog/list.html
  bengal/themes/default/templates/changelog/single.html
  bengal/themes/default/templates/home.html
  bengal/themes/default/templates/partials/changelog/_macros.html
  bengal/themes/default/templates/partials/site-announcement.html
  bengal/themes/default/templates/post.html
  bengal/themes/default/templates/resume/list.html
  bengal/themes/default/templates/tutorial/single.html
  bengal/themes/default/theme.yaml
  changelog.d/+pridelands-phase3-remainder.changed.md
  changelog.d/+pridelands-phase4-first-impression.changed.md
  tests/integration/test_i18n_rtl.py
  tests/roots/test-i18n-rtl/content/ar/gallery/_index.md
  tests/roots/test-i18n-rtl/content/ar/gallery/alpha.md
  tests/roots/test-i18n-rtl/content/ar/gallery/beta.md
  tests/roots/test-i18n-rtl/content/en/gallery/_index.md
  tests/roots/test-i18n-rtl/content/en/gallery/alpha.md
  tests/roots/test-i18n-rtl/content/en/gallery/beta.md
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix(changelog): drop internal phase label from fragment voice lint
  changelog.d/+pridelands-phase3-remainder.changed.md
Due: none

feat(theme): Pridelands Phase 3–4 showcase polish (#542–#544) (#642)
  bengal/postprocess/static_markup.py
  bengal/themes/default/assets/css/components/announcement.css
  bengal/themes/default/assets/css/components/code.css
  bengal/themes/default/assets/css/components/forms.css
  bengal/themes/default/assets/css/components/gallery.css
  bengal/themes/default/assets/css/components/interactive.css
  bengal/themes/default/assets/css/components/language-switcher.css
  bengal/themes/default/assets/css/components/tutorial.css
  bengal/themes/default/assets/css/components/widgets.css
  bengal/themes/default/assets/css/layouts/changelog.css
  bengal/themes/default/assets/css/layouts/resume.css
  bengal/themes/default/assets/css/pages/landing.css
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/enhancements/announcement.js
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/assets/js/enhancements/tutorials.js
  bengal/themes/default/assets/js/main.js
  bengal/themes/default/css_manifest.py
  bengal/themes/default/templates/author.html
  bengal/themes/default/templates/base.html
  bengal/themes/default/templates/changelog/list.html
  bengal/themes/default/templates/changelog/single.html
  bengal/themes/default/templates/home.html
  bengal/themes/default/templates/partials/changelog/_macros.html
  bengal/themes/default/templates/partials/site-announcement.html
  bengal/themes/default/templates/post.html
  bengal/themes/default/templates/resume/list.html
  bengal/themes/default/templates/tutorial/single.html
  bengal/themes/default/theme.yaml
  changelog.d/+pridelands-phase3-remainder.changed.md
  changelog.d/+pridelands-phase4-first-impression.changed.md
  tests/integration/test_i18n_rtl.py
  tests/roots/test-i18n-rtl/content/ar/gallery/_index.md
  tests/roots/test-i18n-rtl/content/ar/gallery/alpha.md
  tests/roots/test-i18n-rtl/content/ar/gallery/beta.md
  tests/roots/test-i18n-rtl/content/en/gallery/_index.md
  tests/roots/test-i18n-rtl/content/en/gallery/alpha.md
  tests/roots/test-i18n-rtl/content/en/gallery/beta.md
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

perf(workers): lift CPU_BOUND caps on free-threaded Python (#381)
  bengal/themes/default/assets/css/tokens/palettes/blue-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/brown-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/charcoal-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/silver-bengal.css
  bengal/themes/default/assets/css/tokens/palettes/snow-lynx.css
  bengal/utils/concurrency/workers.py
  tests/unit/utils/test_workers.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

chore(changelog): add fragment for FT CPU_BOUND workers (#381)
  changelog.d/381.changed.md
Due: none

test(workers): pin GIL state in CPU_BOUND profile tests (#381)
  tests/unit/utils/test_workers.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options
