Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

tests(integration): add config bridging tests; scripts: add doc import validator; deps: bump kida-templates to 0.1.2
  pyproject.toml
  scripts/check_doc_imports.py
  tests/integration/test_patitas_config_bridge.py
Due: none

deps: bump kida-templates to >=0.1.2
  uv.lock
Due: none

deps: bump patitas to 0.1.1 (adds _reinit for pooling)
  pyproject.toml
  uv.lock
Due: none

core(pool): re-enable ParserPool with patitas 0.1.1 _reinit() support; ~78% faster instantiation for high-volume parsing
  bengal/rendering/parsers/patitas/pool.py
  tests/rendering/parsers/test_patitas/test_contextvar_downstream.py
Due: block-legacy-cli-imports

fix
  site/config/_default/theme.yaml
Due: none

cleanup: post-extraction housekeeping for patitas/kida/rosettes split
  benchmarks/test_build.py
  benchmarks/test_collections_performance.py
  benchmarks/test_core_performance.py
  benchmarks/test_highlighting_performance.py
  benchmarks/test_patitas_performance.py
  bengal/themes/default/assets/css/components/tracks.css
  bengal/themes/default/assets/js/enhancements/tracks.js
  bengal/themes/default/templates/partials/navigation-components.html
  plan/rfc-patitas-commonmark-compliance.md
  plan/rfc-patitas-extraction.md
  scripts/identify_failures.py
  scripts/run_commonmark_baseline.py
  tests/rendering/parsers/test_patitas/test_commonmark_spec.py
  tests/unit/rendering/parsers/test_patitas/test_inline_tokens.py
  tests/unit/rendering/parsers/test_patitas/test_match_registry.py
Due: none

toc fix
  bengal/themes/default/assets/js/enhancements/toc.js
Due: none

fixes
  benchmarks/README.md
  benchmarks/test_highlighting_performance.py
  benchmarks/test_import_overhead.py
  bengal/directives/code_tabs.py
  bengal/protocols/rendering.py
  bengal/rendering/highlighting/__init__.py
  bengal/rendering/highlighting/tree_sitter.py
  bengal/rendering/parsers/mistune/highlighting.py
  pyproject.toml
  tests/unit/rendering/highlighting/test_registry.py
  tests/unit/rendering/highlighting/test_tree_sitter_backend.py
Due: block-legacy-cli-imports

core(assets): implement ContextVar pattern for thread-safe asset manifest access (Phase 2)
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/rendering.py
  bengal/rendering/assets.py
  bengal/rendering/pipeline/cache_checker.py
  plan/rfc-global-build-state-dependencies.md
  tests/integration/test_asset_manifest_cache_invalidation.py
  tests/integration/test_warm_build_virtual_page_assets.py
  tests/unit/rendering/test_asset_manifest_contextvar.py
  tests/unit/rendering/test_kida_asset_url.py
  uv.lock
Due: block-legacy-cli-imports

docs(changelog): add Phase 2 ContextVar implementation entry; core(site): clear manifest context on reset
  bengal/core/page/proxy.py
  bengal/core/site/core.py
  bengal/orchestration/build/initialization.py
  changelog.md
  tests/integration/test_warm_build_virtual_page_assets.py
Due: block-legacy-cli-imports

docs(plan): update RFC with accurate root cause analysis and Phase 1 fix details
  plan/rfc-global-build-state-dependencies.md
Due: none

core(assets): add asset resolution observability with structured logging and stats tracking
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/results.py
  bengal/rendering/assets.py
  plan/rfc-asset-resolution-observability.md
  plan/rfc-incremental-build-observability.md
  tests/integration/test_asset_resolution_observability_integration.py
  tests/unit/orchestration/build/test_results.py
  tests/unit/rendering/test_asset_resolution_observability.py
Due: block-legacy-cli-imports

orchestration(build): implement Phase 1 of incremental build observability RFC
  plan/rfc-global-build-state-dependencies.md
  plan/rfc-incremental-build-observability.md
Due: none

cli(build): implement Phase 2 of incremental build observability RFC
  bengal/cli/commands/build.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/options.py
  plan/rfc-incremental-build-observability.md
  tests/integration/test_incremental_observability.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(cli): document --explain, --dry-run, --explain-json build flags
  plan/rfc-warm-build-test-expansion.md
  site/content/docs/building/troubleshooting/_index.md
  site/content/docs/reference/architecture/tooling/cli.md
  site/content/docs/reference/cheatsheet.md
Due: none

tests(warm-build): implement RFC warm build integration test expansion
  plan/rfc-warm-build-test-expansion.md
  tests/integration/test_incremental_output_formats.py
  tests/integration/test_phase2c2_incremental_tags.py
  tests/integration/warm_build/__init__.py
  tests/integration/warm_build/conftest.py
  tests/integration/warm_build/test_cross_features.py
  tests/integration/warm_build/test_data_files.py
  tests/integration/warm_build/test_edge_cases.py
  tests/integration/warm_build/test_navigation.py
  tests/integration/warm_build/test_template_chain.py
Due: none

docs(plan): add RFC for incremental build dependency gaps
  plan/rfc-incremental-build-dependency-gaps.md
Due: none

updates
  bengal/cache/dependency_tracker.py
  bengal/orchestration/incremental/change_detector.py
  bengal/orchestration/incremental/data_detector.py
  bengal/orchestration/incremental/taxonomy_detector.py
  bengal/orchestration/postprocess.py
  bengal/rendering/context/data_tracking.py
  plan/rfc-incremental-build-dependency-gaps.md
  tests/integration/warm_build/test_dependency_gaps.py
Due: block-legacy-cli-imports

docs(releases): publish 0.1.8 release notes; remove draft status
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/content.py
  bengal/orchestration/taxonomy.py
  site/content/releases/0.1.8.md
Due: block-legacy-cli-imports

docs(plan): mark rfc-incremental-build-dependency-gaps as implemented
  plan/rfc-incremental-build-dependency-gaps.md
Due: none

docs(plan): add RFC for cache invalidation architecture
  plan/rfc-cache-invalidation-architecture.md
Due: none

cache: implement unified CacheCoordinator for cache invalidation architecture RFC
  bengal/cache/__init__.py
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/file_tracking.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/cache/coordinator.py
  bengal/cache/manifest.py
  bengal/cache/path_registry.py
  bengal/orchestration/build/content.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/orchestration/incremental/data_detector.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/incremental/taxonomy_detector.py
  plan/rfc-cache-invalidation-architecture.md
  tests/unit/cache/test_coordinator.py
  tests/unit/cache/test_manifest.py
  tests/unit/cache/test_path_registry.py
Due: block-legacy-cli-imports

docs(cache): document CacheCoordinator, PathRegistry, RebuildManifest in architecture docs
  plan/rfc-incremental-build-observability.md
  site/content/docs/reference/architecture/core/cache.md
  site/content/docs/reference/architecture/core/orchestration.md
  tests/unit/cache/test_build_cache.py
Due: none

docs(readme): replace business with product template; sync presets and CLI help
  README.md
  bengal/cli/commands/new/presets.py
  bengal/cli/commands/new/site.py
Due: block-string-based-click-cls, block-legacy-cli-imports

core: implement RFC code health improvements - Phase 1-2
  bengal/core/page/proxy.py
  bengal/health/report.py
  bengal/health/report/__init__.py
  bengal/health/report/formatting.py
  bengal/health/report/health_report.py
  bengal/health/report/models.py
  bengal/health/report/scoring.py
  bengal/health/report/serialization.py
  bengal/orchestration/render/__init__.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/parallel.py
  bengal/orchestration/render/tracking.py
  bengal/rendering/errors.py
  bengal/rendering/errors/__init__.py
  bengal/rendering/errors/context.py
  bengal/rendering/errors/deduplication.py
  bengal/rendering/errors/display.py
  bengal/rendering/errors/exceptions.py
  plan/rfc-code-health-improvements.md
  plan/rfc-mistune-deprecation.md
  pyproject.toml
  reports/complexity-baseline.json
  uv.lock
Due: block-legacy-cli-imports

refactor(rendering): decompose HtmlRenderer into block/inline/directive modules (Phase 3)
  benchmarks/benchmark_render.py
  bengal/orchestration/render.py
  bengal/rendering/parsers/patitas/renderers/__init__.py
  bengal/rendering/parsers/patitas/renderers/blocks.py
  bengal/rendering/parsers/patitas/renderers/directives.py
  bengal/rendering/parsers/patitas/renderers/html.py
  bengal/rendering/parsers/patitas/renderers/inline.py
  bengal/rendering/parsers/patitas/renderers/utils.py
  plan/rfc-code-health-improvements.md
  reports/render-baseline.json
  reports/render-post-decomposition.json
Due: block-legacy-cli-imports

code cleanup
  bengal/utils/__init__.py
  bengal/utils/concurrency/__init__.py
  bengal/utils/concurrency/async_compat.py
  bengal/utils/concurrency/concurrent_locks.py
  bengal/utils/concurrency/gil.py
  bengal/utils/concurrency/retry.py
  bengal/utils/concurrency/thread_local.py
  bengal/utils/concurrency/workers.py
  bengal/utils/io/__init__.py
  bengal/utils/io/atomic_write.py
  bengal/utils/io/file_io.py
  bengal/utils/io/file_lock.py
  bengal/utils/io/json_compat.py
  bengal/utils/observability/__init__.py
  bengal/utils/observability/logger.py
  bengal/utils/observability/observability.py
  bengal/utils/observability/performance_collector.py
  bengal/utils/observability/performance_report.py
  bengal/utils/observability/profile.py
  bengal/utils/observability/progress.py
  bengal/utils/observability/rich_console.py
  bengal/utils/paths/__init__.py
  bengal/utils/paths/path_resolver.py
  bengal/utils/paths/paths.py
  bengal/utils/paths/url_normalization.py
  bengal/utils/paths/url_strategy.py
  bengal/utils/primitives/__init__.py
  bengal/utils/primitives/dates.py
  bengal/utils/primitives/dotdict.py
  bengal/utils/primitives/hashing.py
  bengal/utils/primitives/sentinel.py
  bengal/utils/primitives/text.py
  plan/rfc-module-coupling-reduction.md
Due: block-legacy-cli-imports

fix email
  CONTRIBUTING.md
  bengal/assets/css_minifier.py
  bengal/assets/js_bundler.py
  bengal/core/asset/__init__.py
  bengal/discovery/version_diff.py
  bengal/orchestration/build_context.py
  bengal/rendering/metadata.py
  bengal/rendering/pipeline/output.py
  bengal/themes/swizzle.py
  plan/rfc-supply-chain-security.md
  pyproject.toml
  site/content/docs/reference/security.md
  tests/unit/postprocess/test_rss_generator.py
  tests/unit/postprocess/test_sitemap_generator.py
  tests/unit/utils/test_dates.py
  tests/unit/utils/test_dates_properties.py
Due: block-legacy-cli-imports

refactor(utils): split into domain-aligned sub-packages; extract shared protocols
  .github/workflows/ty.yml
  .pre-commit-config.yaml
  Makefile
  bengal/errors/context.py
  bengal/orchestration/types.py
  bengal/protocols/__init__.py
  bengal/protocols/build.py
  bengal/rendering/context/__init__.py
  bengal/rendering/template_functions/crossref.py
  bengal/rendering/template_functions/external_refs.py
  bengal/rendering/template_functions/icons.py
  bengal/rendering/template_functions/tables.py
  plan/rfc-ty-type-checker-adoption.md
  pyproject.toml
  scripts/check_cycles.py
  scripts/check_dependencies.py
  tests/unit/template_functions/test_tables.py
  uv.lock
Due: block-legacy-cli-imports

docs(plan): add RFC for remaining coupling fixes based on automated analysis
  plan/rfc-remaining-coupling-fixes.md
Due: none

rendering(link_transformer): fix .md link normalization to preserve anchor fragments
  bengal/cli/helpers/error_display.py
  bengal/cli/progress.py
  bengal/core/resources/__init__.py
  bengal/core/resources/image.py
  bengal/core/resources/processor.py
  bengal/core/resources/types.py
  bengal/core/theme/resolution.py
  bengal/discovery/asset_discovery.py
  bengal/discovery/git_version_adapter.py
  bengal/errors/__init__.py
  bengal/errors/display.py
  bengal/fonts/downloader.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/build_context.py
  bengal/rendering/link_transformer.py
  bengal/rendering/template_engine/environment.py
  bengal/utils/observability/__init__.py
  bengal/utils/observability/cli_progress.py
  plan/rfc-remaining-coupling-fixes.md
  scripts/check_dependencies.py
  tests/unit/cli/test_error_display.py
  tests/unit/rendering/test_link_transformer.py
Due: block-string-based-click-cls, block-legacy-cli-imports

theme(link-previews): add dead link indicator for broken internal links
  bengal/config/defaults.py
  bengal/core/__init__.py
  bengal/core/build_state.py
  bengal/protocols/__init__.py
  bengal/protocols/analysis.py
  bengal/themes/default/assets/css/components/link-preview.css
  bengal/themes/default/assets/js/enhancements/link-previews.js
  bengal/themes/default/templates/partials/link-previews.html
  scripts/check_dependencies.py
Due: block-legacy-cli-imports

decoupling
  .pre-commit-config.yaml
  bengal/analysis/knowledge_graph.py
  bengal/core/page/__init__.py
  bengal/core/site/core.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/protocols/__init__.py
  bengal/protocols/stats.py
  bengal/rendering/page_operations.py
  bengal/rendering/parsers/patitas/renderers/blocks.py
  bengal/rendering/parsers/patitas/renderers/directives.py
  bengal/rendering/parsers/patitas/renderers/protocols.py
  bengal/server/live_reload.py
  bengal/server/request_handler.py
  bengal/utils/observability/rich_console.py
  scripts/check_cycles.py
Due: block-legacy-cli-imports

orchestration(incremental): add IncrementalFilterEngine for rebuild decision hardening; fix FilterResult/ConfigCheckResult __iter__
  bengal/directives/base.py
  bengal/directives/embed.py
  bengal/directives/navigation.py
  bengal/directives/types.py
  bengal/directives/video.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/results.py
  bengal/orchestration/incremental/__init__.py
  bengal/orchestration/incremental/filter_engine.py
  bengal/rendering/parsers/patitas/directives/builtins/button.py
  bengal/rendering/parsers/patitas/directives/builtins/checklist.py
  bengal/rendering/parsers/patitas/directives/builtins/code_tabs.py
  bengal/rendering/parsers/patitas/directives/builtins/data_table.py
  bengal/rendering/parsers/patitas/directives/builtins/embed.py
  bengal/rendering/parsers/patitas/directives/builtins/include.py
  bengal/rendering/parsers/patitas/directives/builtins/inline.py
  bengal/rendering/parsers/patitas/directives/builtins/media.py
  bengal/rendering/parsers/patitas/directives/builtins/misc.py
  bengal/rendering/parsers/patitas/directives/builtins/navigation.py
  bengal/rendering/parsers/patitas/directives/builtins/tables.py
  bengal/rendering/parsers/patitas/directives/builtins/versioning.py
  bengal/rendering/parsers/patitas/directives/builtins/video.py
  bengal/rendering/parsers/patitas/directives/protocol.py
  bengal/rendering/parsers/patitas/renderers/blocks.py
  bengal/rendering/parsers/patitas/renderers/protocols.py
  plan/rfc-rebuild-decision-hardening.md
  tests/unit/orchestration/build/test_initialization.py
  tests/unit/orchestration/incremental/test_filter_engine.py
  tests/unit/utils/test_theme_resolution.py
Due: block-legacy-cli-imports

docs(orchestration): document IncrementalFilterEngine in architecture docs and package docstrings; mark RFC as implemented
  bengal/autodoc/extractors/python/aliases.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/autodoc/orchestration/section_builders.py
  bengal/orchestration/incremental/__init__.py
  plan/rfc-rebuild-decision-hardening.md
  site/content/docs/reference/architecture/core/orchestration.md
Due: block-legacy-cli-imports

fix
  bengal/autodoc/orchestration/section_builders.py
  bengal/cli/templates/registry.py
  bengal/content_layer/sources/notion.py
  bengal/orchestration/render/parallel.py
  bengal/rendering/block_cache.py
  bengal/utils/observability/performance_report.py
  tests/unit/orchestration/build/test_initialization.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cache: fix Python 3.14 import scoping issue in cache loading; move BengalCacheError import to function scope
  bengal/cache/asset_dependency_map.py
  bengal/cache/build_cache/core.py
  bengal/cache/cache_store.py
  bengal/cache/page_discovery_cache.py
  bengal/cache/taxonomy_index.py
  bengal/core/theme/compatibility.py
  bengal/debug/reporter.py
  bengal/errors/aggregation.py
  bengal/errors/recovery.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/results.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/cache_manager.py
  bengal/rendering/parsers/patitas/directives/decorator.py
  bengal/rendering/parsers/patitas/renderers/directives.py
  bengal/rendering/template_functions/navigation/scaffold.py
  bengal/utils/io/file_io.py
  bengal/utils/observability/performance_collector.py
  site/content/_index.md
  tests/integration/warm_build/test_dependency_gaps.py
Due: block-legacy-cli-imports

incremental: fix section-level optimization to detect subsection changes; autodoc: use fingerprints as fallback when metadata missing
  .python-version
  bengal/cache/build_cache/autodoc_tracking.py
  bengal/orchestration/content.py
  bengal/orchestration/incremental/file_detector.py
  bengal/orchestration/incremental/rebuild_filter.py
  plan/rfc-ty-type-hardening.md
  tests/unit/cache/test_cache_load_robustness.py
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
