Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

core: migrate 14 files from Page to PageLike protocol
  .dori/local/logs/2026-02-06.jsonl
Due: none

core: migrate 4 files from Site to SiteLike protocol
  .dori/local/logs/2026-02-06.jsonl
  bengal/health/linkcheck/internal_checker.py
  bengal/health/linkcheck/orchestrator.py
  bengal/orchestration/section.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/pipeline/write_behind.py
Due: ty, block-legacy-cli-imports

core: inline 5 Site mixins as direct methods
  bengal/core/site/__init__.py
Due: ty, block-legacy-cli-imports

orchestration: migrate section.py to SectionLike protocol
  .dori/local/logs/2026-02-06.jsonl
Due: none

core: remove 5 Site mixins, inline methods directly (12 -> 7 mixins)
  .dori/local/logs/2026-02-06.jsonl
  bengal/autodoc/orchestration/result.py
Due: ty, block-legacy-cli-imports

core: inline 3 more Site mixins (caches, lifecycle, operations)
  bengal/core/site/__init__.py
Due: ty, block-legacy-cli-imports

core: remove 8 Site mixins total, reduce inheritance from 12 to 4
  .dori/local/logs/2026-02-06.jsonl
  bengal/build/provenance/filter.py
  bengal/cache/path_registry.py
  bengal/cache/query_index.py
  bengal/content_types/base.py
  bengal/content_types/templates.py
  bengal/content_types/utils.py
  bengal/core/menu.py
  bengal/core/nav_tree.py
  bengal/core/section/queries.py
  bengal/core/site/__init__.py
  bengal/debug/explainer.py
  bengal/effects/render_integration.py
  bengal/orchestration/complexity.py
  bengal/orchestration/feature_detector.py
  bengal/orchestration/taxonomy.py
  bengal/parsing/backends/patitas/request_context.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/postprocess/xref_index.py
  bengal/rendering/content_cache.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/json_accumulator.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/renderer.py
  bengal/snapshots/builder.py
  bengal/snapshots/utils.py
Due: ty, block-legacy-cli-imports

core: migrate Site consumers to SiteLike protocol across 11 files
  bengal/autodoc/orchestration/extractors.py
  bengal/autodoc/orchestration/section_builders.py
  bengal/cli/commands/cache.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/css_optimizer.py
  bengal/orchestration/feature_detector.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_functions/icons.py
  bengal/snapshots/builder.py
  bengal/utils/paths/path_resolver.py
  bengal/utils/paths/url_strategy.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

orchestration: wire effect-traced builds into build pipeline
  bengal/cli/commands/build.py
  bengal/effects/tracer.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/options.py
  bengal/orchestration/build_context.py
  bengal/rendering/context/data_tracking.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/engines/kida.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

core: guard __file__ access in server modules
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
Due: ty, block-legacy-cli-imports

core: replace hasattr() with TypeGuard capability checks
  bengal/cli/dashboard/screens.py
  bengal/core/page/relationships.py
  bengal/rendering/engines/kida.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

cli: fix async override mismatch in dashboard action_quit
  bengal/cli/dashboard/base.py
  bengal/cli/dashboard/serve.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

core: delete 8 dead mixin files and unused LiveQueryService
  .dori/local/logs/2026-02-06.jsonl
  bengal/core/site/__init__.py
  bengal/core/site/caches.py
  bengal/core/site/cascade.py
  bengal/core/site/data_loading.py
  bengal/core/site/helpers.py
  bengal/core/site/lifecycle.py
  bengal/core/site/operations.py
  bengal/core/site/section_registry.py
  bengal/core/site/validation.py
  bengal/parsing/backends/patitas/renderers/blocks.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/parsing/backends/patitas/renderers/protocols.py
  bengal/services/__init__.py
  bengal/services/live_query.py
Due: ty, block-legacy-cli-imports

core: delete 8 dead mixin files, remove unused helpers from Site
  bengal/core/__init__.py
  bengal/core/site/__init__.py
  bengal/core/site/caches.py
  bengal/core/site/cascade.py
  bengal/core/site/data_loading.py
  bengal/core/site/helpers.py
  bengal/core/site/lifecycle.py
  bengal/core/site/operations.py
  bengal/core/site/section_registry.py
  bengal/core/site/validation.py
  bengal/services/__init__.py
  bengal/services/live_query.py
  tests/unit/core/test_ergonomic_helpers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: replace Site._load_data_directory with DataService delegation
  bengal/core/site/__init__.py
  bengal/services/__init__.py
  bengal/services/data.py
Due: ty, block-legacy-cli-imports

core: remove unused ThemeService class, keep pure functions
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build_context.py
  bengal/services/__init__.py
  bengal/services/theme.py
  tests/unit/services/test_theme_service.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: extract PageCacheManager from Site via composition
  bengal/core/page_cache.py
  bengal/core/site/__init__.py
Due: ty, block-legacy-cli-imports

core: extract cascade building into standalone function
  bengal/core/cascade_snapshot.py
  bengal/core/site/__init__.py
Due: ty, block-legacy-cli-imports

core: remove dead mixin imports from Site class
  bengal/core/site/__init__.py
Due: ty, block-legacy-cli-imports

core: resolve merge conflict markers in builder and feature_detector
  bengal/orchestration/feature_detector.py
  bengal/snapshots/builder.py
Due: ty, block-legacy-cli-imports

server: fix ~2s rebuild delay from double debounce
  .dori/events/a1bd4226.json
  .dori/local/logs/2026-02-06.jsonl
  bengal/content/discovery/directory_walker.py
  bengal/content/discovery/page_factory.py
  bengal/server/file_watcher.py
  plan/epic-protocol-migration.md
Due: ty, block-legacy-cli-imports

core: migrate Section consumers to SectionLike protocol
  .dori/events/93860e40.json
  .dori/local/logs/2026-02-06.jsonl
  bengal/core/cascade_snapshot.py
  bengal/orchestration/content.py
  bengal/snapshots/builder.py
Due: ty, block-legacy-cli-imports

rendering: migrate Page to PageLike protocol in read-only consumers
  bengal/debug/explainer.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/postprocess/xref_index.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/json_accumulator.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/renderer.py
Due: ty, block-legacy-cli-imports

rendering: migrate pipeline, renderer, postprocess, debug to PageLike protocol
  .dori/local/logs/2026-02-06.jsonl
  bengal/config/validation.py
  bengal/core/page/__init__.py
  bengal/core/page/proxy.py
  bengal/orchestration/build_context.py
  bengal/postprocess/output_formats/__init__.py
  bengal/rendering/metadata.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/json_accumulator.py
  bengal/themes/swizzle.py
Due: ty, block-legacy-cli-imports

rendering: fix stale Site annotation in taxonomies module variable
  bengal/cache/generated_page_cache.py
  bengal/cache/indexes/author_index.py
  bengal/cache/indexes/category_index.py
  bengal/cache/indexes/date_range_index.py
  bengal/cache/indexes/section_index.py
  bengal/cache/indexes/series_index.py
  bengal/cache/path_registry.py
  bengal/cache/query_index.py
  bengal/cache/query_index_registry.py
  bengal/effects/render_integration.py
  bengal/rendering/content_cache.py
  bengal/rendering/template_functions/taxonomies.py
Due: ty, block-legacy-cli-imports

core: clean up stale MistuneParser references in comments
  bengal/orchestration/build_context.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/parsing/base.py
  bengal/parsing/python_markdown.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/badges.py
Due: ty, block-legacy-cli-imports

core: migrate remaining Page and Site consumers to protocol types
  .dori/local/logs/2026-02-06.jsonl
Due: none

core: migrate Site → SiteLike in read-only consumer functions
  bengal/assets/pipeline.py
  bengal/build/tracking/tracker.py
  bengal/core/nav_tree.py
  bengal/icons/resolver.py
  bengal/snapshots/builder.py
  bengal/utils/paths/url_strategy.py
Due: ty, block-legacy-cli-imports

core: migrate Page → PageLike in read-only consumer functions
  bengal/content_types/base.py
  bengal/content_types/templates.py
  bengal/content_types/utils.py
  bengal/orchestration/complexity.py
  bengal/orchestration/feature_detector.py
  bengal/orchestration/taxonomy.py
  bengal/protocols/analysis.py
  bengal/snapshots/utils.py
  bengal/utils/autodoc.py
  bengal/utils/concurrency/workers.py
Due: ty, block-legacy-cli-imports

core: remove 55 stale type: ignore comments
  .dori/local/logs/2026-02-06.jsonl
  bengal/core/page/content.py
  bengal/rendering/pipeline/toc.py
Due: ty, block-legacy-cli-imports

directives: add Patitas-native glossary directive
  bengal/parsing/backends/patitas/directives/builtins/__init__.py
  bengal/parsing/backends/patitas/directives/builtins/glossary.py
Due: ty, block-legacy-cli-imports

tests: delete last Mistune-based directive registry test
  tests/unit/rendering/test_directive_registry.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

core: rename parsed_ast to html_content in consumer files
  bengal/orchestration/build/parsing.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/snapshots/builder.py
  bengal/snapshots/persistence.py
  bengal/themes/default/templates/tracks/single.html
  tests/core/test_mixin_contracts.py
  tests/integration/test_tracks_rendering.py
  tests/unit/core/test_page_proxy.py
  tests/unit/postprocess/test_output_formats_config.py
  tests/unit/postprocess/test_output_formats_errors.py
  tests/unit/postprocess/test_output_formats_graph_isolation.py
  tests/unit/postprocess/test_output_formats_hash.py
  tests/unit/postprocess/test_output_formats_index_json.py
  tests/unit/postprocess/test_output_formats_llm.py
  tests/unit/rendering/test_pipeline_cache_storage.py
  tests/unit/rendering/test_pipeline_reporter_output.py
  tests/unit/rendering/test_template_functions_get_page.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

core: rename parsed_ast to html_content in core and rendering
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  bengal/core/page/proxy.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/renderer.py
  bengal/rendering/template_functions/get_page.py
Due: ty, block-legacy-cli-imports

core: replace Any escape hatches with correct types in Page files
  bengal/core/page/__init__.py
  bengal/core/page/proxy.py
  bengal/core/site/__init__.py
  bengal/core/site/discovery.py
  bengal/core/site/properties.py
Due: ty, block-legacy-cli-imports

core: replace Any escape hatches with correct types in rendering
  bengal/cache/query_index_registry.py
  bengal/parsing/backends/patitas/renderers/html.py
  bengal/parsing/backends/patitas/renderers/protocols.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/renderer.py
Due: ty, block-legacy-cli-imports

core: split PageLike and SiteLike into role-based protocols
  bengal/protocols/__init__.py
  bengal/protocols/core.py
Due: ty, block-legacy-cli-imports
