Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

docs(plan): add RFC for dashboard deep API integration - comprehensive Bengal data model consumption
  plan/drafted/rfc-dashboard-api-integration.md
Due: none

docs(plan): update RFC with API readiness assessment - 95% existing APIs, 3 new middleware items for streaming
  plan/drafted/rfc-dashboard-api-integration.md
  tests/unit/content_layer/test_loaders.py
Due: none

snapshots
  tests/dashboard/__snapshots__/test_snapshots/TestHelpScreenSnapshots.test_help_from_build_screen.raw
  tests/dashboard/__snapshots__/test_snapshots/TestHelpScreenSnapshots.test_help_from_health_screen.raw
  tests/dashboard/__snapshots__/test_snapshots/TestNavigationSnapshots.test_navigation_build_to_serve.raw
  tests/dashboard/__snapshots__/test_snapshots/TestNavigationSnapshots.test_navigation_full_cycle.raw
  tests/dashboard/__snapshots__/test_snapshots/TestNavigationSnapshots.test_navigation_health_to_landing.raw
  tests/dashboard/__snapshots__/test_snapshots/TestNavigationSnapshots.test_navigation_serve_to_health.raw
  tests/dashboard/__snapshots__/test_snapshots/TestScreenSnapshots.test_build_screen.raw
  tests/dashboard/__snapshots__/test_snapshots/TestScreenSnapshots.test_health_screen.raw
  tests/dashboard/__snapshots__/test_snapshots/TestScreenSnapshots.test_help_screen.raw
  tests/dashboard/__snapshots__/test_snapshots/TestScreenSnapshots.test_landing_screen.raw
  tests/dashboard/__snapshots__/test_snapshots/TestScreenSnapshots.test_serve_screen.raw
  tests/dashboard/__snapshots__/test_snapshots/TestTerminalSizeSnapshots.test_large_terminal.raw
  tests/dashboard/__snapshots__/test_snapshots/TestTerminalSizeSnapshots.test_medium_terminal.raw
  tests/dashboard/__snapshots__/test_snapshots/TestTerminalSizeSnapshots.test_small_terminal.raw
  tests/dashboard/__snapshots__/test_snapshots/TestTerminalSizeSnapshots.test_tall_terminal.raw
  tests/dashboard/__snapshots__/test_snapshots/TestTerminalSizeSnapshots.test_wide_terminal.raw
  tests/dashboard/__snapshots__/test_snapshots/TestWidgetStateSnapshots.test_build_screen_with_flash_building.raw
  tests/dashboard/__snapshots__/test_snapshots/TestWidgetStateSnapshots.test_build_screen_with_flash_error.raw
  tests/dashboard/__snapshots__/test_snapshots/TestWidgetStateSnapshots.test_build_screen_with_flash_success.raw
  tests/dashboard/__snapshots__/test_snapshots/TestWidgetStateSnapshots.test_build_screen_with_throbber_active.raw
Due: none

plan
  plan/drafted/plan-dashboard-api-integration.md
Due: none

postprocess: improve package docstring with comprehensive generator documentation and usage examples
  bengal/postprocess/__init__.py
  bengal/rendering/__init__.py
  bengal/rendering/engines/__init__.py
  bengal/rendering/parsers/__init__.py
  bengal/rendering/template_engine/__init__.py
Due: block-legacy-cli-imports

tests(dashboard): skip snapshot tests while Textual UI is still evolving
  bengal/postprocess/redirects.py
  bengal/rendering/errors.py
  bengal/rendering/pipeline/output.py
  bengal/rendering/pipeline/thread_local.py
  bengal/rendering/pipeline/toc.py
  bengal/rendering/pipeline/transforms.py
  bengal/rendering/template_functions/__init__.py
  tests/dashboard/test_snapshots.py
Due: block-legacy-cli-imports

rendering: improve and standardize package docstrings for release; add architecture context, usage examples, and cross-references across 11 modules
  bengal/output/__init__.py
  bengal/output/colors.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/redirects.py
  bengal/postprocess/special_pages.py
  bengal/rendering/engines/errors.py
  bengal/rendering/engines/protocol.py
Due: block-legacy-cli-imports

postprocess: improve docstrings across all modules for release readiness
  bengal/orchestration/__init__.py
  bengal/orchestration/constants.py
  bengal/orchestration/content.py
  bengal/orchestration/related_posts.py
  bengal/orchestration/section.py
  bengal/output/dev_server.py
  bengal/output/enums.py
  bengal/output/globals.py
  bengal/output/icons.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/postprocess/output_formats/txt_generator.py
  bengal/postprocess/output_formats/utils.py
Due: block-legacy-cli-imports

orchestration: improve and standardize module docstrings for release
  bengal/health/__init__.py
  bengal/health/base.py
  bengal/orchestration/badge.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/full_to_incremental.py
  bengal/orchestration/stats/__init__.py
  bengal/orchestration/streaming.py
  bengal/orchestration/summary.py
  bengal/orchestration/taxonomy.py
  bengal/output/core.py
Due: block-legacy-cli-imports

output: improve docstrings across all module files for release readiness; add examples, Args/Returns sections, and architecture references
  bengal/health/autofix.py
  bengal/health/health_check.py
  bengal/health/report.py
  bengal/output/core.py
Due: block-legacy-cli-imports

health: improve docstrings across package for release readiness; add comprehensive module, class, and method documentation
  bengal/errors/__init__.py
  bengal/errors/aggregation.py
  bengal/errors/codes.py
  bengal/errors/context.py
  bengal/errors/dev_server.py
  bengal/errors/exceptions.py
  bengal/errors/handlers.py
  bengal/errors/recovery.py
  bengal/errors/reporter.py
  bengal/fonts/__init__.py
  bengal/fonts/downloader.py
  bengal/fonts/generator.py
  bengal/health/linkcheck/__init__.py
  bengal/health/linkcheck/async_checker.py
  bengal/health/linkcheck/ignore_policy.py
  bengal/health/linkcheck/internal_checker.py
  bengal/health/linkcheck/models.py
  bengal/health/linkcheck/orchestrator.py
  bengal/health/validators/__init__.py
Due: block-legacy-cli-imports

errors: polish and enhance docstrings across package for release
  bengal/errors/session.py
  bengal/errors/suggestions.py
  bengal/errors/traceback/__init__.py
  bengal/errors/traceback/config.py
  bengal/errors/traceback/renderer.py
Due: block-legacy-cli-imports

discovery: improve docstrings for release - comprehensive package docs, enhanced class/method documentation
  bengal/directives/__init__.py
  bengal/directives/base.py
  bengal/discovery/__init__.py
  bengal/discovery/asset_discovery.py
  bengal/discovery/content_discovery.py
  bengal/discovery/git_version_adapter.py
  bengal/discovery/page_factory.py
  bengal/discovery/version_resolver.py
Due: block-legacy-cli-imports

core: enhance module docstrings with Related Modules and See Also sections across page, site, theme subpackages; fix operations.py class docstring placement
  bengal/core/cascade_engine.py
  bengal/core/diagnostics.py
  bengal/core/nav_tree.py
  bengal/core/page/computed.py
  bengal/core/page/metadata.py
  bengal/core/page/navigation.py
  bengal/core/page/operations.py
  bengal/core/page/relationships.py
  bengal/core/page/utils.py
  bengal/core/theme/config.py
Due: block-legacy-cli-imports

directives: improve and clean up docstrings across all package files for release
  bengal/core/__init__.py
  bengal/core/asset/__init__.py
  bengal/debug/__init__.py
  bengal/debug/base.py
  bengal/debug/delta_analyzer.py
  bengal/debug/explainer.py
  bengal/debug/incremental_debugger.py
  bengal/debug/models.py
  bengal/debug/reporter.py
  bengal/directives/base.py
  bengal/directives/contracts.py
  bengal/directives/errors.py
  bengal/directives/factory.py
  bengal/directives/options.py
  bengal/directives/registry.py
  bengal/directives/tokens.py
  bengal/directives/utils.py
  bengal/directives/validator.py
Due: block-legacy-cli-imports

docs(core): polish and standardize module docstrings for release
  bengal/core/asset/asset_core.py
  bengal/core/cascade_engine.py
  bengal/core/diagnostics.py
  bengal/core/menu.py
  bengal/core/nav_tree.py
  bengal/core/page/__init__.py
  bengal/core/section.py
  bengal/core/site/__init__.py
  bengal/core/site/core.py
  bengal/core/theme/__init__.py
  bengal/core/theme/config.py
  bengal/core/url_ownership.py
  bengal/core/version.py
  bengal/debug/config_inspector.py
  bengal/debug/content_migrator.py
  bengal/debug/delta_analyzer.py
  bengal/debug/dependency_visualizer.py
Due: block-legacy-cli-imports

docs(debug): improve docstrings across all debug package modules for release
  bengal/content_types/__init__.py
  bengal/content_types/base.py
  bengal/content_types/registry.py
  bengal/content_types/strategies.py
  bengal/debug/content_migrator.py
  bengal/debug/shortcode_sandbox.py
Due: block-legacy-cli-imports

content_types: improve and polish docstrings for release; add module overviews, class docs, and method documentation
  bengal/content_types/strategies.py
Due: block-legacy-cli-imports

docs(config): improve and clean up docstrings for all config package modules
  bengal/collections/__init__.py
  bengal/collections/errors.py
  bengal/collections/loader.py
  bengal/config/__init__.py
  bengal/config/defaults.py
  bengal/config/deprecation.py
  bengal/config/directory_loader.py
  bengal/config/env_overrides.py
  bengal/config/environment.py
  bengal/config/feature_mappings.py
  bengal/config/hash.py
  bengal/config/loader.py
  bengal/config/merge.py
  bengal/config/origin_tracker.py
  bengal/config/url_policy.py
  bengal/config/validators.py
  plan/drafted/rfc-type-system-hardening.md
Due: block-legacy-cli-imports

collections: polish docstrings for release; improve module, class, and function documentation across all files
  bengal/cli/__init__.py
  bengal/cli/__main__.py
  bengal/cli/base.py
  bengal/cli/click_extensions.py
  bengal/cli/helpers/__init__.py
  bengal/cli/output/globals.py
  bengal/cli/progress.py
  bengal/cli/site_templates.py
  bengal/collections/loader.py
  bengal/collections/schemas.py
  bengal/collections/validator.py
  plan/evaluated/rfc-type-system-hardening.md
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(cache): improve and clean up module docstrings for release
  bengal/cache/__init__.py
  bengal/cache/indexes/__init__.py
  bengal/cache/indexes/author_index.py
  bengal/cache/indexes/category_index.py
  bengal/cache/indexes/date_range_index.py
  bengal/cache/indexes/section_index.py
  bengal/cache/page_discovery_cache.py
  bengal/cache/paths.py
  bengal/cache/query_index_registry.py
  bengal/cache/utils.py
  bengal/cli/helpers/cli_app_loader.py
  bengal/cli/helpers/cli_output.py
  bengal/cli/helpers/config_validation.py
  bengal/cli/helpers/error_handling.py
  bengal/cli/helpers/menu_config.py
  bengal/cli/helpers/metadata.py
  bengal/cli/helpers/progress.py
  bengal/cli/helpers/site_loader.py
  bengal/cli/helpers/traceback.py
  bengal/cli/helpers/validation.py
  bengal/cli/output/core.py
  bengal/cli/output/globals.py
  bengal/cli/skeleton/__init__.py
  bengal/cli/skeleton/hydrator.py
  bengal/cli/skeleton/schema.py
  bengal/cli/templates/__init__.py
  bengal/cli/templates/base.py
  bengal/cli/templates/registry.py
  bengal/cli/utils/__init__.py
Due: block-string-based-click-cls, block-legacy-cli-imports

autodoc: improve and polish docstrings for release readiness
  bengal/autodoc/__init__.py
  bengal/autodoc/base.py
  bengal/autodoc/config.py
  bengal/autodoc/docstring_parser.py
  bengal/autodoc/extractors/__init__.py
  bengal/autodoc/orchestration/__init__.py
  bengal/autodoc/utils.py
  bengal/bengal/core/nav_tree.py
Due: block-legacy-cli-imports

assets: improve docstrings for release; enhance module, class, and method documentation
  bengal/analysis/__init__.py
  bengal/analysis/community_detection.py
  bengal/analysis/graph_analysis.py
  bengal/analysis/graph_reporting.py
  bengal/analysis/graph_visualizer.py
  bengal/analysis/knowledge_graph.py
  bengal/analysis/link_suggestions.py
  bengal/analysis/link_types.py
  bengal/analysis/page_rank.py
  bengal/analysis/path_analysis.py
  bengal/analysis/performance_advisor.py
  bengal/analysis/results.py
  bengal/assets/__init__.py
  bengal/assets/manifest.py
  bengal/assets/pipeline.py
  bengal/server/constants.py
Due: block-legacy-cli-imports

core: add __init__.py to services and themes packages for consistency
  bengal/server/__init__.py
  bengal/server/build_executor.py
  bengal/server/build_hooks.py
  bengal/server/build_trigger.py
  bengal/server/component_preview.py
  bengal/server/dev_server.py
  bengal/server/live_reload.py
  bengal/server/reload_controller.py
  bengal/server/request_handler.py
  bengal/server/request_logger.py
  bengal/server/resource_manager.py
  bengal/server/utils.py
  bengal/services/__init__.py
  bengal/themes/__init__.py
  bengal/utils/__init__.py
  bengal/utils/pagination.py
  bengal/utils/paths.py
  bengal/utils/performance_report.py
  bengal/utils/rich_console.py
  bengal/utils/swizzle.py
Due: block-legacy-cli-imports

services: improve package docstrings for release - add architecture notes, examples, and Google-style documentation
  bengal/services/validation.py
  bengal/themes/config.py
  bengal/themes/generate.py
  bengal/themes/tokens.py
Due: block-legacy-cli-imports

themes: improve docstrings for release; add Attributes sections, examples, and architecture refs
  bengal/themes/tokens.py
Due: block-legacy-cli-imports

docs(contributing): expand guide with setup, code quality, test markers, and commit format
  CONTRIBUTING.md
  README.md
  UV_QUICK_REFERENCE.md
  bengal/server/build_trigger.py
Due: block-legacy-cli-imports

docs(plan): draft RFC for typed build output tracking with OutputCollector protocol
  plan/drafted/rfc-build-output-tracking.md
Due: none

config: disable versioning by default; enable in local environment
  site/config/_default/versioning.yaml
  site/config/environments/local.yaml
Due: none

core(output): add typed output tracking package with OutputType, OutputRecord, and BuildOutputCollector
  README.md
  bengal/core/output/__init__.py
  bengal/core/output/collector.py
  bengal/core/output/types.py
  plan/evaluated/rfc-build-output-tracking.md
  plan/ready/plan-build-output-tracking.md
  plan/ready/rfc-build-output-tracking.md
  site/config/_default/versioning.yaml
  site/content/_versions/v0.1.4/docs/_index.md
  site/content/_versions/v0.1.4/docs/about/_index.md
  site/content/_versions/v0.1.4/docs/about/benchmarks.md
  site/content/_versions/v0.1.4/docs/about/comparison.md
  site/content/_versions/v0.1.4/docs/about/concepts/_index.md
  site/content/_versions/v0.1.4/docs/about/concepts/assets.md
  site/content/_versions/v0.1.4/docs/about/concepts/build-pipeline.md
  site/content/_versions/v0.1.4/docs/about/concepts/configuration.md
  site/content/_versions/v0.1.4/docs/about/concepts/content-organization.md
  site/content/_versions/v0.1.4/docs/about/concepts/output-formats.md
  site/content/_versions/v0.1.4/docs/about/concepts/templating.md
  site/content/_versions/v0.1.4/docs/about/faq.md
  site/content/_versions/v0.1.4/docs/about/glossary.md
  site/content/_versions/v0.1.4/docs/about/limitations.md
  site/content/_versions/v0.1.4/docs/get-started/_index.md
  site/content/_versions/v0.1.4/docs/get-started/installation.md
  site/content/_versions/v0.1.4/docs/get-started/quickstart-contributor.md
  site/content/_versions/v0.1.4/docs/get-started/quickstart-themer.md
  site/content/_versions/v0.1.4/docs/get-started/quickstart-writer.md
  tests/unit/core/output/__init__.py
  tests/unit/core/output/test_collector.py
Due: block-legacy-cli-imports

rendering(pipeline), orchestration(asset, postprocess), stats: add OutputCollector integration for typed output tracking
  README.md
  bengal/orchestration/asset.py
  bengal/orchestration/postprocess.py
  bengal/orchestration/stats/models.py
  bengal/postprocess/rss.py
  bengal/postprocess/sitemap.py
  bengal/rendering/pipeline/output.py
Due: block-legacy-cli-imports

orchestration(build): wire OutputCollector through render, asset, and postprocess phases; populate BuildStats.changed_outputs
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/build/rendering.py
  bengal/rendering/pipeline/core.py
  bengal/utils/build_context.py
Due: block-legacy-cli-imports

server(reload, trigger, executor): add decide_from_outputs method; use typed OutputRecord for hot reload decisions
  bengal/server/build_executor.py
  bengal/server/build_trigger.py
  bengal/server/reload_controller.py
Due: block-legacy-cli-imports

tests(server, orchestration): add decide_from_outputs tests; fix flag_propagation test for collector param
  tests/unit/orchestration/test_build_orchestrator.py
  tests/unit/server/test_reload_controller.py
Due: none

docs(plan): update type-system-hardening RFC with learnings from build-output-tracking implementation
  plan/evaluated/rfc-type-system-hardening.md
Due: none

docs(plan): add type system hardening plan with atomic tasks and commits; move RFC to ready/
  plan/ready/plan-type-system-hardening.md
  plan/ready/rfc-type-system-hardening.md
Due: none

core(page): type _site as Site | None via TYPE_CHECKING forward refs
  bengal/core/page/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/navigation.py
Due: block-legacy-cli-imports

core(page): add Frontmatter dataclass with dict compatibility
  bengal/core/page/__init__.py
  bengal/core/page/frontmatter.py
  tests/integration/core/test_page_frontmatter.py
  tests/unit/core/page/test_frontmatter.py
Due: block-legacy-cli-imports

rendering: add ASTNode TypedDict union for typed AST processing
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  bengal/rendering/ast_types.py
  tests/unit/rendering/test_ast_types.py
Due: block-legacy-cli-imports

directives: add DirectiveType enum for type-safe directive validation
  bengal/directives/__init__.py
  bengal/directives/tokens.py
  tests/unit/directives/test_tokens.py
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
