Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

ci: stop weekly jobs from failing open
  .github/workflows/mutation.yml
  .github/workflows/tests.yml
  pyproject.toml
  tests/performance/conftest.py
Due: ty, check-outdated-build-options

rendering: peel pipeline parse/render stages from core
  bengal/rendering/pipeline/__init__.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/parse_stage.py
  bengal/rendering/pipeline/render_stage.py
Due: ty, block-legacy-cli-imports

rendering: drop TYPE_CHECKING cycle in pipeline stages
  bengal/rendering/pipeline/parse_stage.py
  bengal/rendering/pipeline/render_stage.py
Due: ty, block-legacy-cli-imports

orchestration: extract build() sequencing to runner
  bengal/orchestration/AGENTS.md
  bengal/orchestration/build/AGENTS.md
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalize_flow.py
  bengal/orchestration/build/mid_flow.py
  bengal/orchestration/build/output_flow.py
  bengal/orchestration/build/runner.py
  bengal/orchestration/build/session.py
Due: ty, block-legacy-cli-imports

rendering: peel Renderer context and template-select helpers
  bengal/rendering/renderer.py
  bengal/rendering/renderer/__init__.py
  bengal/rendering/renderer/context.py
  bengal/rendering/renderer/fallback.py
  bengal/rendering/renderer/tag_pages.py
  bengal/rendering/renderer/template_select.py
Due: ty, block-legacy-cli-imports

server: peel build_trigger classify/debounce/plan
  bengal/server/build_trigger.py
  bengal/server/build_trigger/__init__.py
  bengal/server/build_trigger/classify.py
  bengal/server/build_trigger/debounce.py
  bengal/server/build_trigger/execute.py
  bengal/server/build_trigger/incremental_gate.py
  bengal/server/build_trigger/rebuild_plan.py
  bengal/server/build_trigger/reload.py
  tests/integration/warm_build/test_build_trigger_reactive.py
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_build_trigger_classify.py
  tests/unit/server/test_build_trigger_debounce.py
  tests/unit/server/test_build_trigger_incremental_gate.py
  tests/unit/server/test_build_trigger_rebuild_plan.py
  tests/unit/server/test_css_only_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: peel provenance phase glue from engine
  bengal/build/provenance/artifacts.py
  bengal/build/provenance/assets.py
  bengal/build/provenance/filter.py
  bengal/build/provenance/inputs.py
  bengal/build/provenance/invalidation.py
  bengal/build/provenance/lookups.py
  bengal/orchestration/build/provenance_filter.py
  tests/unit/orchestration/build/test_provenance_dependency_index.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: peel pipeline parse/render stages from core (#698)
  bengal/rendering/pipeline/__init__.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/pipeline/parse_stage.py
  bengal/rendering/pipeline/render_stage.py
Due: ty, block-legacy-cli-imports

rendering: peel Renderer context and template-select helpers (#699)
  bengal/rendering/renderer.py
  bengal/rendering/renderer/__init__.py
  bengal/rendering/renderer/context.py
  bengal/rendering/renderer/fallback.py
  bengal/rendering/renderer/tag_pages.py
  bengal/rendering/renderer/template_select.py
Due: ty, block-legacy-cli-imports

orchestration: extract build() sequencing to runner (#700)
  bengal/orchestration/AGENTS.md
  bengal/orchestration/build/AGENTS.md
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalize_flow.py
  bengal/orchestration/build/mid_flow.py
  bengal/orchestration/build/output_flow.py
  bengal/orchestration/build/runner.py
  bengal/orchestration/build/session.py
Due: ty, block-legacy-cli-imports

server: peel build_trigger classify/debounce/plan (#701)
  bengal/server/build_trigger.py
  bengal/server/build_trigger/__init__.py
  bengal/server/build_trigger/classify.py
  bengal/server/build_trigger/debounce.py
  bengal/server/build_trigger/execute.py
  bengal/server/build_trigger/incremental_gate.py
  bengal/server/build_trigger/rebuild_plan.py
  bengal/server/build_trigger/reload.py
  tests/integration/warm_build/test_build_trigger_reactive.py
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_build_trigger_classify.py
  tests/unit/server/test_build_trigger_debounce.py
  tests/unit/server/test_build_trigger_incremental_gate.py
  tests/unit/server/test_build_trigger_rebuild_plan.py
  tests/unit/server/test_css_only_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: keep strict-mode build failures out of overlay HTML
  bengal/rendering/renderer/fallback.py
  changelog.d/+strict-mode-overlay.fixed.md
  tests/unit/rendering/test_renderer_fallback.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: keep strict-mode build failures out of overlay HTML (#702)
  bengal/rendering/renderer/fallback.py
  changelog.d/+strict-mode-overlay.fixed.md
  tests/unit/rendering/test_renderer_fallback.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: peel provenance phase glue from engine (#703)
  bengal/build/provenance/artifacts.py
  bengal/build/provenance/assets.py
  bengal/build/provenance/filter.py
  bengal/build/provenance/inputs.py
  bengal/build/provenance/invalidation.py
  bengal/build/provenance/lookups.py
  bengal/orchestration/build/provenance_filter.py
  tests/unit/orchestration/build/test_provenance_dependency_index.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

ci: stop weekly jobs from failing open (#697)
  .github/workflows/mutation.yml
  .github/workflows/tests.yml
  plan/README.md
  plan/agent-parallelization.md
  pyproject.toml
  tests/performance/conftest.py
Due: ty, check-outdated-build-options

orchestration: peel render orchestrator coordinator
  bengal/orchestration/render/__init__.py
  bengal/orchestration/render/coordinator.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/parallel_batches.py
  bengal/orchestration/render/parallel_render.py
Due: ty, block-legacy-cli-imports

rendering: peel Kida engine into a package
  bengal/rendering/engines/kida/__init__.py
Due: ty, block-legacy-cli-imports

rendering: split Kida facade into sibling modules
  bengal/rendering/engines/kida/__init__.py
  bengal/rendering/engines/kida/dependencies.py
  bengal/rendering/engines/kida/environment.py
  bengal/rendering/engines/kida/introspection.py
  bengal/rendering/engines/kida/provider_shim.py
  bengal/rendering/engines/kida/pure_filters.py
  bengal/rendering/engines/kida/render.py
  bengal/rendering/engines/kida/validation.py
Due: ty, block-legacy-cli-imports

postprocess: write RSS when no pages have dates
  bengal/orchestration/incremental/cache_manager.py
  bengal/postprocess/rss.py
  changelog.d/+rss-empty-feed.fixed.md
  tests/performance/test_parsed_content_cache.py
  tests/unit/postprocess/test_empty_feeds.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: peel render orchestrator coordinator (#704)
  bengal/orchestration/render/__init__.py
  bengal/orchestration/render/coordinator.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/parallel_batches.py
  bengal/orchestration/render/parallel_render.py
Due: ty, block-legacy-cli-imports

postprocess: write RSS when no pages have dates (#706)
  bengal/orchestration/incremental/cache_manager.py
  bengal/postprocess/rss.py
  changelog.d/+rss-empty-feed.fixed.md
  tests/performance/test_parsed_content_cache.py
  tests/unit/postprocess/test_empty_feeds.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: peel Kida engine into a package (#705)
  bengal/rendering/engines/kida.py
  bengal/rendering/engines/kida/__init__.py
  bengal/rendering/engines/kida/dependencies.py
  bengal/rendering/engines/kida/environment.py
  bengal/rendering/engines/kida/introspection.py
  bengal/rendering/engines/kida/provider_shim.py
  bengal/rendering/engines/kida/pure_filters.py
  bengal/rendering/engines/kida/render.py
  bengal/rendering/engines/kida/validation.py
Due: ty, block-legacy-cli-imports

core: remove Site content_dir and path-map APIs
  bengal/core/page/computed.py
  bengal/core/site/__init__.py
  bengal/core/site/context.py
  bengal/orchestration/render/isolated/shard_backend.py
  bengal/protocols/core.py
  bengal/rendering/renderer/tag_pages.py
  bengal/rendering/template_functions/collections.py
  bengal/themes/default/templates/archive.html
  bengal/themes/default/templates/index.html
  changelog.d/+site-how-forwarders.removed.md
  tests/unit/core/test_computed_functions.py
  tests/unit/core/test_site_context_protocol.py
  tests/unit/health/test_validator_contracts.py
  tests/unit/orchestration/test_content_type_detection.py
  tests/unit/protocols/test_protocol_stability.py
  tests/unit/rendering/test_thread_safety.py
  tests/unit/rendering/test_url_edge_cases.py
  tests/unit/server/test_build_trigger_debounce.py
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

core: remove Site content_dir and path-map APIs (#707)
  bengal/core/page/computed.py
  bengal/core/site/__init__.py
  bengal/core/site/context.py
  bengal/orchestration/render/isolated/shard_backend.py
  bengal/protocols/core.py
  bengal/rendering/renderer/tag_pages.py
  bengal/rendering/template_functions/collections.py
  bengal/themes/default/templates/archive.html
  bengal/themes/default/templates/index.html
  changelog.d/+site-how-forwarders.removed.md
  tests/unit/core/test_computed_functions.py
  tests/unit/core/test_site_context_protocol.py
  tests/unit/health/test_validator_contracts.py
  tests/unit/orchestration/test_content_type_detection.py
  tests/unit/protocols/test_protocol_stability.py
  tests/unit/rendering/test_thread_safety.py
  tests/unit/rendering/test_url_edge_cases.py
  tests/unit/server/test_build_trigger_debounce.py
  tests/unit/snapshots/test_render_plan.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs: add drive/board backlog harness
  .cursor/rules/system/bengal-os/RULE.mdc
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/investigation.yml
  .github/ISSUE_TEMPLATE/saga.yml
  .github/ISSUE_TEMPLATE/task.yml
  AGENTS.md
  plan/AGENTS.md
  plan/BACKLOG.md
  plan/README.md
  plan/ROADMAP.md
  plan/agent-parallelization.md
  plan/issue-lifecycle.md
Due: none

docs: add drive/board backlog harness (#708)
  .cursor/rules/system/bengal-os/RULE.mdc
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/investigation.yml
  .github/ISSUE_TEMPLATE/saga.yml
  .github/ISSUE_TEMPLATE/task.yml
  AGENTS.md
  plan/AGENTS.md
  plan/BACKLOG.md
  plan/README.md
  plan/ROADMAP.md
  plan/agent-parallelization.md
  plan/issue-lifecycle.md
Due: none

errors: split suggestion catalog from helpers
  bengal/errors/suggestion_catalog.py
  bengal/errors/suggestions.py
  tests/unit/errors/test_suggestions.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: peel ContentOrchestrator into a package
  bengal/orchestration/content.py
  bengal/orchestration/content/__init__.py
  bengal/orchestration/content/assets.py
  bengal/orchestration/content/autodoc.py
  bengal/orchestration/content/discover.py
  bengal/orchestration/content/features.py
  bengal/orchestration/content/setup.py
  bengal/orchestration/content/xref.py
Due: ty, block-legacy-cli-imports

errors: split suggestion catalog from helpers (#713)
  bengal/errors/suggestion_catalog.py
  bengal/errors/suggestions.py
  tests/unit/errors/test_suggestions.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: peel ContentOrchestrator into a package (#714)
  bengal/orchestration/content.py
  bengal/orchestration/content/__init__.py
  bengal/orchestration/content/assets.py
  bengal/orchestration/content/autodoc.py
  bengal/orchestration/content/discover.py
  bengal/orchestration/content/features.py
  bengal/orchestration/content/setup.py
  bengal/orchestration/content/xref.py
Due: ty, block-legacy-cli-imports

tests: align build content-phase signatures
  tests/unit/orchestration/build/test_content.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: align build content-phase signatures (#716)
  tests/unit/orchestration/build/test_content.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

rendering: lock highlighter backend registry
  bengal/rendering/highlighting/__init__.py
  tests/unit/rendering/highlighting/test_registry.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
