Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

tests: prove index hits for generated track asset
  tests/integration/warm_build/test_dependency_gaps.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

orchestration: document live incremental invalidator (#760)
  bengal/orchestration/incremental/__init__.py
  tests/unit/orchestration/incremental/test_live_invalidator_path_guard.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

build: consult dependency index before scans (#761)
  bengal/build/provenance/invalidation.py
  bengal/build/provenance/lookups.py
  tests/unit/build/provenance/test_invalidation.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: prove index hits for generated track asset (#762)
  tests/integration/warm_build/test_dependency_gaps.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: align CONTRIBUTING tree with bengal/
  CONTRIBUTING.md
Due: none

docs: match README plugins to inspection status
  README.md
  site/content/docs/about/_index.md
Due: none

build: log incremental fallback reasons
  bengal/build/provenance/invalidation.py
  bengal/build/provenance/lookups.py
  tests/unit/build/provenance/test_invalidation.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: align CONTRIBUTING tree with bengal/ (#763)
  CONTRIBUTING.md
Due: none

docs: match README plugins to inspection status (#764)
  README.md
  site/content/docs/about/_index.md
Due: none

build: log incremental fallback reasons (#765)
  bengal/build/provenance/invalidation.py
  bengal/build/provenance/lookups.py
  tests/unit/build/provenance/test_invalidation.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: name asset scanner as live path
  bengal/rendering/asset_extractor.py
Due: ty, block-legacy-cli-imports

orchestration: stop unused detector construction
  bengal/orchestration/incremental/orchestrator.py
  tests/unit/orchestration/incremental/test_effect_detector_dependency_index.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

build: remove covered provenance fallback scans
  bengal/build/provenance/invalidation.py
  bengal/build/provenance/lookups.py
  tests/integration/warm_build/test_dependency_gaps.py
  tests/unit/build/provenance/test_invalidation.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: name asset scanner as live path (#767)
  bengal/rendering/asset_extractor.py
Due: ty, block-legacy-cli-imports

orchestration: stop unused detector construction (#768)
  bengal/orchestration/incremental/orchestrator.py
  tests/unit/orchestration/incremental/test_effect_detector_dependency_index.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

build: remove covered provenance fallback scans (#769)
  bengal/build/provenance/invalidation.py
  bengal/build/provenance/lookups.py
  tests/integration/warm_build/test_dependency_gaps.py
  tests/unit/build/provenance/test_invalidation.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

plugins: guard unwired pending capabilities
  bengal/plugins/integration.py
  tests/unit/plugins/test_unwired_plugin_capabilities.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

snapshots: add frozen BuildPlan records
  bengal/snapshots/build_plan.py
  tests/unit/snapshots/test_build_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

plugins: guard unwired pending capabilities (#772)
  bengal/plugins/integration.py
  tests/unit/plugins/test_unwired_plugin_capabilities.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

snapshots: add frozen BuildPlan records (#773)
  bengal/snapshots/build_plan.py
  tests/unit/snapshots/test_build_plan.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: return tuples from listing cached properties
  bengal/core/page/computed.py
  bengal/core/page/runtime.py
  bengal/core/section/__init__.py
  bengal/core/section/hierarchy.py
  bengal/core/section/queries.py
  bengal/protocols/core.py
  bengal/rendering/section_ergonomics.py
  changelog.d/712.changed.md
  tests/unit/core/test_computed_functions.py
  tests/unit/core/test_listing_cached_properties_are_tuples.py
  tests/unit/core/test_section_sorting.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: return tuples from listing cached properties (#786)
  bengal/core/page/computed.py
  bengal/core/page/runtime.py
  bengal/core/section/__init__.py
  bengal/core/section/hierarchy.py
  bengal/core/section/queries.py
  bengal/protocols/core.py
  bengal/rendering/section_ergonomics.py
  changelog.d/712.changed.md
  tests/unit/core/test_computed_functions.py
  tests/unit/core/test_listing_cached_properties_are_tuples.py
  tests/unit/core/test_section_sorting.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

docs: distinguish CLI MCP from site MCP
  changelog.d/779.changed.md
  site/content/docs/build-sites/extend/plugins.md
  site/content/docs/ship/_index.md
  site/content/docs/ship/ai-native-output.md
  site/content/docs/ship/connect-to-ide.md
Due: none

docs: add use-with-agents CLI MCP page
  site/content/docs/ship/use-with-agents.md
  tests/unit/cli/test_cli_contract_inventory.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: add site-author agent skills
  agent-plugin/skills/check-and-fix/SKILL.md
  agent-plugin/skills/configure-site/SKILL.md
  agent-plugin/skills/scaffold-site/SKILL.md
  agent-plugin/skills/write-content/SKILL.md
Due: none

docs: add site-author agent skills (#789)
  agent-plugin/skills/check-and-fix/SKILL.md
  agent-plugin/skills/configure-site/SKILL.md
  agent-plugin/skills/scaffold-site/SKILL.md
  agent-plugin/skills/write-content/SKILL.md
Due: none

docs: add use-with-agents CLI MCP page (#788)
  site/content/docs/ship/use-with-agents.md
  tests/unit/cli/test_cli_contract_inventory.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: distinguish CLI MCP from site MCP (#787)
  changelog.d/779.changed.md
  site/content/docs/build-sites/extend/plugins.md
  site/content/docs/ship/_index.md
  site/content/docs/ship/ai-native-output.md
  site/content/docs/ship/connect-to-ide.md
Due: none

tests: inventory bengal commands in author skills
  tests/unit/docs/test_agent_plugin_skills.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: inventory bengal commands in author skills (#790)
  tests/unit/docs/test_agent_plugin_skills.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: add bengal-agent plugin manifests
  agent-plugin/mcp.json
  agent-plugin/plugin.json
  plan/rfc-agent-plugin.md
  tests/unit/docs/fixtures/agent-plugins/mcp.schema.json
  tests/unit/docs/fixtures/agent-plugins/plugin.schema.json
  tests/unit/docs/test_agent_plugin_manifest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: add bengal-agent plugin manifests (#791)
  agent-plugin/mcp.json
  agent-plugin/plugin.json
  plan/rfc-agent-plugin.md
  tests/unit/docs/fixtures/agent-plugins/mcp.schema.json
  tests/unit/docs/fixtures/agent-plugins/plugin.schema.json
  tests/unit/docs/test_agent_plugin_manifest.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

snapshots: assemble BuildPlan from SiteSnapshot
  bengal/snapshots/build_plan.py
  tests/unit/snapshots/test_build_plan_assemble.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options
