Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

core: align page core docs with source records
  bengal/core/page/page_core.py
Due: ty, block-legacy-cli-imports

tests: guard page construction boundary
  tests/unit/content/test_page_construction_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

rendering: centralize parsed page application
  bengal/rendering/parsed_output.py
  tests/unit/rendering/test_parsed_output.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

content: apply cached parsed records through adapter
  bengal/content/discovery/content_discovery.py
Due: ty, block-legacy-cli-imports

cache: keep parsed page adapter layer-safe
  bengal/cache/parsed_output.py
  bengal/content/discovery/content_discovery.py
  tests/unit/cache/test_parsed_output.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: apply parsed cache hits from records
  bengal/rendering/pipeline/cache_checker.py
Due: ty, block-legacy-cli-imports

cache: make parsed link seeding explicit
  bengal/cache/parsed_output.py
  tests/unit/cache/test_parsed_output.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

snapshots: restore cached parsing from records
  bengal/snapshots/persistence.py
Due: ty, block-legacy-cli-imports

rendering: apply autodoc html through parsed records
  bengal/rendering/pipeline/autodoc_renderer.py
Due: ty, block-legacy-cli-imports

tests: guard parsed record application paths
  tests/unit/cache/test_parsed_application_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

rendering: apply get_page parsing from records
  bengal/rendering/template_functions/get_page.py
Due: ty, block-legacy-cli-imports

tests: guard get_page parsed application
  tests/unit/cache/test_parsed_application_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

cache: centralize parsed state clearing
  bengal/cache/parsed_output.py
  tests/unit/cache/test_parsed_output.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: clear reactive parsed state through adapter
  bengal/server/reactive/handler.py
  tests/unit/server/test_reactive_handler.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: return legacy parse output as record
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

rendering: return context parse output as record
  bengal/rendering/pipeline/core.py
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

cache: copy parsed records with transformed html
  bengal/cache/parsed_output.py
  tests/unit/cache/test_parsed_output.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: transform parsed html before page application
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

rendering: apply api enhancement through parsed records
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

rendering: apply empty parse state through records
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

cache: centralize parsed link application
  bengal/cache/parsed_output.py
  tests/unit/cache/test_parsed_output.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: apply cached links through adapter
  bengal/rendering/pipeline/cache_checker.py
Due: ty, block-legacy-cli-imports

cache: centralize parsed cache clearing
  bengal/cache/parsed_output.py
  tests/unit/cache/test_parsed_output.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: clear streaming parsed caches through adapter
  bengal/orchestration/streaming.py
Due: ty, block-legacy-cli-imports

cache: centralize parsed derived cache writes
  bengal/cache/parsed_output.py
  tests/unit/cache/test_parsed_output.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: cache page content derivatives through adapter
  bengal/rendering/page_content.py
Due: ty, block-legacy-cli-imports

rendering: apply extracted links through adapter
  bengal/rendering/page_operations.py
Due: ty, block-legacy-cli-imports

tests: guard rendering helper parsed mutations
  tests/unit/cache/test_parsed_application_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: guard parsed mutations globally
  tests/unit/cache/test_parsed_application_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: guard page construction globally
  tests/unit/content/test_page_construction_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

core: document source page construction path
  bengal/core/page/__init__.py
Due: ty, block-legacy-cli-imports

core: align package docs with source records
  bengal/core/__init__.py
Due: ty, block-legacy-cli-imports

tests: add parsed page state helper
  tests/_testing/__init__.py
  tests/_testing/page_records.py
  tests/unit/core/test_page_record_migration.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed health link state through adapter
  tests/unit/health/validators/test_links.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed postprocess parsed content through adapter
  tests/unit/postprocess/test_content_signals_enforcement.py
  tests/unit/postprocess/test_output_formats_config.py
  tests/unit/postprocess/test_output_formats_errors.py
  tests/unit/postprocess/test_output_formats_graph_isolation.py
  tests/unit/postprocess/test_output_formats_hash.py
  tests/unit/postprocess/test_output_formats_index_json.py
  tests/unit/postprocess/test_output_formats_llm.py
  tests/unit/postprocess/test_page_json_fields.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed reactive parsed state through adapter
  tests/unit/server/test_reactive_handler.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed analysis links through adapter
  tests/integration/test_pagerank_integration.py
  tests/unit/analysis/test_analysis_optimization.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: seed rendering cache state through adapter
  tests/unit/rendering/test_pipeline_cache_storage.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: guard parsed mutations in tests
  tests/unit/cache/test_parsed_application_boundary.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

docs: align autodoc page example with source records
  bengal/autodoc/README.md
Due: none
