Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$

fix
  bengal/orchestration/build/provenance_filter.py
  bengal/server/reload_controller.py
Due: ty, block-legacy-cli-imports

server: simplify reload decision flow to use typed outputs
  bengal/server/build_trigger.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: add CascadeView immutable mapping for cascade resolution
  bengal/core/cascade/__init__.py
  bengal/core/cascade/view.py
  tests/unit/core/cascade/__init__.py
  tests/unit/core/cascade/test_cascade_view.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: add pre-merged cascade to CascadeSnapshot for O(1) resolution
  bengal/core/cascade_snapshot.py
  tests/unit/core/cascade/test_cascade_view.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: add fallback reload when typed outputs are empty
  bengal/server/build_trigger.py
  tests/unit/server/test_build_trigger.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

server: add debug logging for output collector diagnostics
  bengal/content/discovery/content_discovery.py
  bengal/core/cascade_snapshot.py
  bengal/core/page/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/page_core.py
  bengal/core/page/proxy.py
  bengal/core/site/discovery.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/content.py
  bengal/orchestration/section.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/core.py
  tests/unit/core/test_cascade_snapshot.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix
  bengal/autodoc/orchestration/page_builders.py
  bengal/content/discovery/content_discovery.py
  bengal/content/versioning/resolver.py
  bengal/core/page/__init__.py
  bengal/orchestration/section.py
  bengal/orchestration/utils/virtual_pages.py
  tests/integration/test_cascade_integration.py
  tests/unit/core/test_cascade.py
  tests/unit/core/test_page_proxy.py
  tests/unit/core/test_section_index_collision.py
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/rendering/test_renderer_template_selection.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: add section index properties to PageProxy
  bengal/core/page/proxy.py
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/context/__init__.py
  bengal/rendering/context/lazy.py
  bengal/rendering/template_functions/memo.py
  bengal/rendering/template_functions/navigation/auto_nav.py
  bengal/snapshots/scheduler.py
  site/content/docs/_index.md
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/core/test_component_model.py
  tests/unit/core/test_navigation.py
  tests/unit/core/test_page_cached_properties.py
  tests/unit/core/test_page_hashability.py
  tests/unit/core/test_page_navigation_weight_order.py
  tests/unit/core/test_page_urls_in_sections.py
  tests/unit/core/test_section_sorting.py
  tests/unit/core/test_site_caching.py
  tests/unit/orchestration/test_related_posts.py
  tests/unit/orchestration/test_render_orchestrator.py
  tests/unit/orchestration/test_taxonomy_incremental.py
  tests/unit/rendering/test_i18n_template_functions.py
  tests/unit/rendering/test_pipeline_reporter_output.py
  tests/unit/rendering/test_renderer_index_conflict.py
  tests/unit/rendering/test_renderer_tag_context.py
  tests/unit/rendering/test_renderer_template_selection.py
  tests/unit/utils/test_page_initializer.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

rendering: add flash build optimizations
  bengal/rendering/content_cache.py
  bengal/rendering/template_functions/get_page.py
  bengal/server/build_trigger.py
Due: ty, block-legacy-cli-imports

server: implement warm builds for faster dev server rebuilds
  bengal/rendering/engines/kida.py
  bengal/server/build_trigger.py
  site/content/docs/_index.md
Due: ty, block-legacy-cli-imports

server: reset site state before warm builds
  bengal/server/build_trigger.py
  site/config/_default/autodoc.yaml
  site/content/docs/_index.md
Due: ty, block-legacy-cli-imports

updates
  bengal/autodoc/orchestration/page_builders.py
  bengal/orchestration/build_context.py
  bengal/rendering/context/__init__.py
  bengal/rendering/pipeline/autodoc_renderer.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/renderer.py
  site/content/docs/_index.md
Due: ty, block-legacy-cli-imports

orchestration: parallelize cache saves and optimize I/O
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalization.py
  bengal/parsing/backends/patitas/__init__.py
  bengal/rendering/pipeline/write_behind.py
Due: ty, block-legacy-cli-imports

updates
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/pipeline/core.py
  bengal/server/build_trigger.py
  bengal/utils/concurrency/workers.py
  site/config/_default/autodoc.yaml
Due: ty, block-legacy-cli-imports

rendering: add zero-copy layered context using ChainMap
  bengal/rendering/context/layered.py
  bengal/rendering/renderer.py
Due: ty, block-legacy-cli-imports

rendering: enable layered context in pipeline
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

rendering: disable layered context (ChainMap slower than flat dict)
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

rendering: remove layered context code (ChainMap experiment)
  bengal/rendering/context/layered.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/renderer.py
Due: ty, block-legacy-cli-imports

themes: fix O(N) blog scan in home.html
  bengal/themes/default/templates/home.html
Due: check-template-css

rendering: implement template profiling for Kida engine
  bengal/rendering/engines/kida.py
Due: ty, block-legacy-cli-imports

rendering: cache docs-nav per-section, client-side active states
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/templates/partials/docs-nav.html
Due: check-template-css

Revert "rendering: cache docs-nav per-section, client-side active states"
  bengal/themes/default/assets/js/enhancements/interactive.js
  bengal/themes/default/templates/partials/docs-nav.html
Due: check-template-css

updates
  bengal/themes/default/templates/partials/track-sidebar.html
  bengal/themes/default/templates/tag.html
  bengal/themes/default/templates/tracks/list.html
  bengal/themes/default/templates/tracks/single.html
Due: check-template-css

fix incremental builds hopefully
  bengal/core/site/__init__.py
  bengal/core/site/lifecycle.py
  bengal/orchestration/build/provenance_filter.py
  bengal/server/build_trigger.py
  tests/core/test_mixin_contracts.py
  tests/unit/analysis/test_analysis_optimization.py
  tests/unit/analysis/test_graph_analysis.py
  tests/unit/analysis/test_graph_builder_parallel.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/core/test_component_model.py
  tests/unit/core/test_section_page_types.py
  tests/unit/core/test_section_versioning.py
  tests/unit/core/test_site_lifecycle.py
  tests/unit/orchestration/test_content_type_detection.py
  tests/unit/orchestration/test_section_orchestrator.py
  tests/unit/rendering/__init__.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: move cascade_snapshot to BuildState with bridge property
  bengal/core/site/cascade.py
  bengal/orchestration/build_state.py
Due: ty, block-legacy-cli-imports

rendering: redirect template/asset caches to BuildState
  .dori/local/logs/2026-02-06.jsonl
  bengal/core/asset/asset_core.py
  bengal/orchestration/asset.py
  bengal/rendering/metadata.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_engine/manifest.py
  tests/core/test_mixin_contracts.py
  tests/unit/analysis/test_graph_features.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/cache/test_query_index.py
  tests/unit/cache/test_query_index_registry.py
  tests/unit/core/test_ergonomic_helpers.py
  tests/unit/core/test_href_property.py
  tests/unit/core/test_page_cached_properties.py
  tests/unit/core/test_page_hashability.py
  tests/unit/core/test_page_proxy.py
  tests/unit/core/test_page_section_references.py
  tests/unit/core/test_page_url_cache_clearing.py
  tests/unit/core/test_page_visibility.py
  tests/unit/core/test_section_index_collision.py
  tests/unit/core/test_site_visibility_filtering.py
  tests/unit/orchestration/incremental/test_shadow_mode.py
  tests/unit/orchestration/test_content_type_detection.py
  tests/unit/orchestration/test_incremental_orchestrator.py
  tests/unit/orchestration/test_taxonomy_orchestrator.py
  tests/unit/rendering/test_crossref.py
  tests/unit/rendering/test_crossref_baseurl.py
  tests/unit/rendering/test_renderer_index_conflict.py
  tests/unit/rendering/test_renderer_tag_context.py
  tests/unit/rendering/test_template_url_access.py
  tests/unit/template_functions/test_taxonomies_baseurl.py
  tests/unit/test_nav_tree.py
  tests/unit/utils/test_page_initializer.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: redirect discovery state to BuildState
  .dori/local/logs/2026-02-06.jsonl
  bengal/core/site/discovery.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/content.py
  bengal/orchestration/css_optimizer.py
Due: ty, block-legacy-cli-imports

core: simplify prepare_for_rebuild and reset_ephemeral_state
  .dori/local/logs/2026-02-06.jsonl
  bengal/core/site/lifecycle.py
  bengal/core/site/operations.py
Due: ty, block-legacy-cli-imports

core: annotate legacy fields, harden fallback reads with getattr
  .dori/local/logs/2026-02-06.jsonl
  bengal/core/site/__init__.py
  bengal/core/site/operations.py
  bengal/rendering/template_engine/environment.py
Due: ty, block-legacy-cli-imports

tests: add BuildState delegation tests, fix CSS optimizer mocks
  .dori/local/logs/2026-02-06.jsonl
  tests/unit/core/test_site_lifecycle.py
  tests/unit/orchestration/test_css_optimizer.py
  tests/unit/utils/test_workers.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: add CLI conftest to reset CLIOutput between tests
  .dori/events/b10d9837.json
  .dori/local/logs/2026-02-06.jsonl
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build_context.py
  plan/epic-protocol-migration.md
  pytest.ini
  tests/unit/assets/test_assets_pipeline.py
  tests/unit/cli/conftest.py
  tests/unit/discovery/test_asset_discovery.py
  tests/unit/orchestration/incremental/test_incremental_properties.py
  tests/unit/postprocess/test_output_formats_errors.py
  tests/unit/rendering/test_parser_configuration.py
  tests/unit/rendering/test_syntax_highlighting.py
  tests/unit/rendering/test_template_cache_dev_mode.py
  tests/unit/server/test_build_trigger.py
  tests/unit/server/test_css_only_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: wire QueryService, ThemeService, DataService into BuildContext
  .dori/events/20acd174.json
  .dori/local/logs/2026-02-06.jsonl
Due: none

checkpoint
  .dori/local/logs/2026-02-06.jsonl
  bengal/services/__init__.py
  bengal/services/live_query.py
  tests/integration/test_ast_pipeline.py
  tests/test_thread_safety.py
  tests/unit/build/provenance/test_filter.py
  tests/unit/build/provenance/test_store.py
  tests/unit/build/tracking/test_tracker.py
  tests/unit/cache/test_coordinator.py
  tests/unit/cache/test_dependency_tracker.py
  tests/unit/cache/test_query_index.py
  tests/unit/cache/test_taxonomy_index.py
  tests/unit/core/output/test_collector.py
  tests/unit/effects/test_tracer.py
  tests/unit/errors/test_errors_utils.py
  tests/unit/health/test_build_integrated_validation.py
  tests/unit/orchestration/test_build_state.py
  tests/unit/orchestration/test_render_orchestrator_thread_cache.py
  tests/unit/orchestration/test_utils_parallel.py
  tests/unit/parsing/patitas/test_patitas_utils.py
  tests/unit/rendering/test_asset_manifest_contextvar.py
  tests/unit/rendering/test_template_functions_get_page.py
  tests/unit/rendering/test_thread_safety.py
  tests/unit/rendering/utils/test_rendering_contextvar.py
  tests/unit/server/test_request_handler_rebuild_page.py
  tests/unit/utils/test_build_context.py
  tests/unit/utils/test_file_lock.py
  tests/unit/utils/test_thread_local.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

tests: add timeout=10 to all bare thread.join() calls
  .dori/local/logs/2026-02-06.jsonl
Due: none

services: add LiveQueryService adapter wrapping ContentRegistry
  .dori/local/logs/2026-02-06.jsonl
Due: none

tests: remove empty placeholder tests and add join timeouts
  .dori/local/logs/2026-02-06.jsonl
  bengal/protocols/core.py
  tests/performance/test_incremental_efficiency.py
  tests/unit/server/test_live_reload.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

core: extend SectionLike/PageLike protocols, migrate 13 files to SectionLike
  .dori/local/logs/2026-02-06.jsonl
  bengal/content_types/base.py
  bengal/content_types/registry.py
  bengal/content_types/strategies.py
  bengal/content_types/utils.py
  bengal/core/nav_tree.py
  bengal/directives/navigation.py
  bengal/protocols/core.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/scaffold.py
  bengal/rendering/template_functions/navigation/section.py
  bengal/rendering/template_functions/navigation/tree.py
  bengal/rendering/template_functions/openapi.py
  bengal/services/live_query.py
  bengal/utils/paths/url_strategy.py
Due: ty, block-legacy-cli-imports

core: migrate Page to PageLike protocol in 14 read-only consumer files
  bengal/health/validators/links.py
  bengal/postprocess/output_formats/__init__.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/json_generator.py
  bengal/postprocess/social_cards.py
  bengal/rendering/template_functions/crossref.py
  bengal/rendering/template_functions/i18n.py
  bengal/rendering/template_functions/navigation/__init__.py
  bengal/rendering/template_functions/navigation/breadcrumbs.py
  bengal/rendering/template_functions/navigation/scaffold.py
  bengal/rendering/template_functions/navigation/section.py
  bengal/rendering/template_functions/navigation/tree.py
  bengal/rendering/template_functions/seo.py
  bengal/rendering/template_functions/version_url.py
Due: ty, block-legacy-cli-imports

core: extend PageLike protocol with slug, is_virtual, template_name, type
  .dori/local/logs/2026-02-06.jsonl
  tests/integration/test_full_to_incremental_sequence.py
  tests/unit/content_layer/test_manager_exceptions.py
  tests/unit/core/test_cascade.py
  tests/unit/core/utils/test_sorting.py
  tests/unit/rendering/test_directive_optimizations.py
  tests/unit/rendering/test_navigation_directives.py
  tests/unit/utils/test_dotdict.py
  tests/unit/utils/test_sentinel.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

tests: prune low-value and duplicate tests
  .dori/local/logs/2026-02-06.jsonl
Due: none
