Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

docs(changelog): add reactive dataflow pipeline phase 3 - cache integration
  changelog.md
Due: none

pipeline(watcher): add file watching for watch mode - FileWatcher with debouncing, WatchEvent/WatchBatch for change batching, PipelineWatcher for pipeline-based rebuilds
  bengal/pipeline/__init__.py
  bengal/pipeline/watcher.py
  tests/unit/pipeline/test_watcher.py
Due: block-legacy-cli-imports

docs(changelog): add reactive dataflow pipeline phase 4 - watch mode
  changelog.md
Due: none

docs: add reactive dataflow pipeline architecture documentation; move RFC to implemented
  changelog.md
  plan/implemented/rfc-reactive-dataflow-pipeline.md
  site/content/docs/about/concepts/build-pipeline.md
  site/content/docs/reference/architecture/core/pipeline.md
Due: none

docs(rfc): add progressive enhancements architecture RFC; formalizes existing data-attribute patterns with unified loader
  plan/active/rfc-progressive-enhancements.md
Due: none

fix(docs): remove broken /cli/sources/ link from content-sources.md
  site/content/docs/guides/content-sources.md
Due: none

core(site): integrate reactive pipeline into Site.build() with --pipeline flag; add _build_with_pipeline method using create_build_pipeline factory
  bengal/cli/commands/build.py
  bengal/core/site.py
  site/content/cli/_index.md
  site/content/cli/build.md
  site/content/cli/clean.md
  site/content/cli/collections/_index.md
  site/content/cli/serve.md
  site/content/cli/sources/_index.md
  site/content/cli/sources/clear.md
  site/content/cli/sources/fetch.md
  site/content/cli/sources/list.md
  site/content/cli/sources/status.md
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(pipeline): use correct Page and BuildStats field names - content/metadata/_site instead of raw_content/params/site; build_time_ms instead of build_time
  bengal/core/site.py
  bengal/pipeline/build.py
  site/content/cli/build.md
  site/content/cli/site/build.md
Due: block-legacy-cli-imports

fix(pipeline): use Renderer.render_page instead of non-existent TemplateEngine.render_page and MenuBuilder.build_menus
  bengal/pipeline/build.py
Due: block-legacy-cli-imports

fix(pipeline): integrate orchestrators for discovery, taxonomies, menus, postprocessing; pipeline only handles rendering
  bengal/core/site.py
Due: block-legacy-cli-imports

fix(pipeline): use correct SectionOrchestrator.finalize_sections method name
  bengal/core/site.py
Due: block-legacy-cli-imports

fix(pipeline): correct Page constructor args in bengal_streams; remove dead StreamCache code from site.py
  bengal/core/site.py
  bengal/pipeline/bengal_streams.py
Due: block-legacy-cli-imports

fix(pipeline): use correct MenuOrchestrator.build() method name
  bengal/core/site.py
Due: block-legacy-cli-imports

fix(pipeline): use Renderer instead of TemplateEngine in create_render_stream; fix homepage path (/ → index.html) in all render functions
  bengal/pipeline/bengal_streams.py
  bengal/pipeline/build.py
Due: block-legacy-cli-imports

feat(serve): add --pipeline flag to bengal serve command for reactive dataflow builds during watch mode
  bengal/cli/commands/serve.py
  bengal/core/site.py
  bengal/server/build_handler.py
  bengal/server/dev_server.py
  site/content/cli/_index.md
  site/content/cli/collections/_index.md
  site/content/cli/sources/clear.md
  site/content/cli/sources/fetch.md
  site/content/cli/sources/list.md
  site/content/cli/sources/status.md
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(pipeline): add missing asset processing step before rendering
  bengal/core/site.py
Due: block-legacy-cli-imports

tests(integration): add comprehensive pipeline build tests covering pages, assets, taxonomies, sitemap
  tests/integration/test_pipeline_build.py
Due: none

ux(serve): auto-open browser by default; use --no-open to disable
  bengal/cli/commands/serve.py
  bengal/core/site.py
Due: block-string-based-click-cls, block-legacy-cli-imports

fix(pipeline): use RenderingPipeline to parse markdown content before rendering templates
  bengal/pipeline/build.py
Due: block-legacy-cli-imports

tests(pipeline): add content rendering tests to catch empty body bug
  .github/workflows/pages.yml
  site/content/cli/serve.md
  site/content/cli/site/serve.md
  tests/integration/test_pipeline_build.py
Due: none

css(layout): align right sidebar with header buttons by removing extra padding
  bengal/themes/default/assets/css/composition/layouts.css
  plan/active/rfc-frontend-memory-optimization.md
Due: none

css(toc, graph): add internal padding for scrollbar breathing room
  bengal/themes/default/assets/css/components/graph-contextual.css
  bengal/themes/default/assets/css/components/toc.css
Due: none

ui(graph): remove loading text; hide container silently on error/no-connections
  bengal/themes/default/assets/js/graph-contextual.js
  bengal/themes/default/templates/doc/list.html
  bengal/themes/default/templates/doc/single.html
  bengal/themes/default/templates/page.html
Due: none

updates
  plan/active/rfc-page-redirects-aliases.md
  tests/unit/pipeline/test_bengal_streams.py
  tests/unit/pipeline/test_build.py
  tests/unit/pipeline/test_watcher.py
Due: none

fix(pipeline): address PR #83 feedback - use self in inner class; add explanatory comment for except pass
  bengal/pipeline/core.py
  bengal/pipeline/watcher.py
  scripts/benchmark_builds.py
Due: block-legacy-cli-imports

core(site): fix _build_with_pipeline stats collection to match standard build; add phase timings, section/asset/taxonomy counts
  bengal/core/site.py
  scripts/benchmark_builds.py
Due: block-legacy-cli-imports

docs(plan): add RFC for documentation IA overhaul with feature-first organization
  plan/active/rfc-docs-ia-overhaul.md
Due: none

pipeline: fix ParallelStream double-execution bug; add parallel rendering to create_simple_pipeline with thread-local caching
  bengal/cli/commands/new/presets.py
  bengal/collections/errors.py
  bengal/collections/loader.py
  bengal/collections/schemas.py
  bengal/config/hash.py
  bengal/content_layer/__init__.py
  bengal/content_layer/entry.py
  bengal/content_layer/manager.py
  bengal/content_layer/source.py
  bengal/content_layer/sources/__init__.py
  bengal/content_layer/sources/github.py
  bengal/content_layer/sources/local.py
  bengal/content_layer/sources/notion.py
  bengal/health/validators/directives/constants.py
  bengal/pipeline/build.py
  bengal/pipeline/streams.py
  bengal/rendering/plugins/directives/admonitions.py
  bengal/rendering/template_profiler.py
  bengal/themes/default/assets/css/experimental/holo-cards-advanced.css
  bengal/themes/default/assets/css/experimental/holo-cards-demo.html
  bengal/themes/default/assets/css/experimental/holo-tcg-admonitions.css
  bengal/themes/default/assets/css/experimental/holo-tcg-demo.html
  bengal/themes/default/assets/css/style.css
  bengal/themes/default/assets/js/holo-cards.js
  bengal/utils/autodoc.py
  plan/active/rfc-docs-ia-overhaul.md
  plan/active/rfc-frontend-memory-optimization.md
  plan/active/rfc-progressive-enhancements.md
  site/config/_default/fonts.yaml
  site/content/docs/experimental/_index.md
  site/content/docs/experimental/holo-cards.md
  tests/unit/collections/__init__.py
  tests/unit/collections/test_collection_config.py
  tests/unit/collections/test_discovery_integration.py
  tests/unit/collections/test_errors.py
  tests/unit/collections/test_schema_validator.py
  tests/unit/config/test_config_hash.py
  tests/unit/content_layer/__init__.py
  tests/unit/content_layer/test_loaders.py
  tests/unit/content_layer/test_local_source.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(plan): correct implementation details in static folder RFC; fix file references for config and watcher
  Makefile
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/js/holo.js
  bengal/themes/default/templates/base.html
  plan/active/rfc-static-folder-support.md
  site/assets/experimental/holo-demo.html
  site/content/docs/experimental/holo-cards.md
  site/static/experimental/holo-cards-demo.html
  tests/unit/pipeline/test_parallel_pipeline.py
  uv.lock
Due: none

tests: add unit tests for ParallelStream double-execution fix and create_simple_pipeline parallel options
  bengal/config/defaults.py
  bengal/core/site.py
  bengal/orchestration/static.py
  bengal/themes/default/assets/css/components/admonitions.css
  plan/active/rfc-docker-distribution.md
  site/assets/experimental/holo-demo.html
Due: block-legacy-cli-imports

updates
  bengal/server/dev_server.py
  plan/active/rfc-docker-distribution.md
  plan/active/rfc-static-folder-support.md
  site/content/docs/experimental/holo-cards.md
  site/static/demos/holo-cards.html
  site/static/experimental/holo-cards-demo.html
Due: block-legacy-cli-imports

stuff
  bengal/themes/default/assets/css/components/admonitions.css
  bengal/themes/default/assets/css/experimental/holo-tcg-admonitions.css
  site/assets/experimental/holo-demo.html
  site/content/docs/getting-started/installation.md
  site/static/experimental/holo-cards-demo.html
Due: none

fix(orchestration): correct logger import in static.py; use bengal.utils.logger not logging
  bengal/orchestration/static.py
Due: block-legacy-cli-imports

updates
  bengal/themes/default/assets/css/components/admonitions.css
Due: none

fix: address Copilot PR #84 feedback - add missing break, remove redundant list(), fix hardcoded path, strengthen test assertions
  bengal/core/site.py
  scripts/benchmark_builds.py
  tests/unit/pipeline/test_parallel_pipeline.py
Due: block-legacy-cli-imports

cleanup
  autodoc/extractors/openapi.py
Due: none

update
  .github/workflows/pages.yml
Due: none

core(pipeline): add fonts.css URL rewriting after asset fingerprinting
  bengal/core/site.py
Due: block-legacy-cli-imports

docs(plan): mark rfc-docs-ia-overhaul as implemented; move to plan/implemented
  plan/active/rfc-wayfinding-directive.md
  plan/implemented/rfc-docs-ia-overhaul.md
Due: none
