Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

docs: update ty diagnostic plan docs with final status and lessons learned
  plan/epic-ty-diagnostic-reduction.md
  plan/plan-protocol-driven-typing.md
  plan/rfc-protocol-driven-typing.md
  plan/rfc-ty-type-hardening.md
  plan/sprint-0-ty-triage.md
Due: none

fix: fix 6 CI test failures from ty diagnostic reduction
  bengal/orchestration/build/provenance_filter.py
  bengal/utils/stats_protocol.py
Due: ty, block-legacy-cli-imports

fix: address PR review comments from Copilot
  bengal/cli/utils/logging.py
  bengal/protocols/core.py
  bengal/rendering/pipeline/cache_checker.py
  bengal/rendering/pipeline/core.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

feat: upgrade kida-templates to 0.4.0 + register pure filters
  bengal/rendering/engines/kida.py
  pyproject.toml
  uv.lock
Due: ty, block-legacy-cli-imports

ci: bump GitHub Actions to current majors and add Dependabot
  .github/dependabot.yml
  .github/workflows/mutation.yml
  .github/workflows/pages.yml
  .github/workflows/python-publish.yml
  .github/workflows/ty.yml
Due: none

ci: bump GitHub Actions to current majors and add Dependabot (#210)
  .github/dependabot.yml
  .github/workflows/mutation.yml
  .github/workflows/pages.yml
  .github/workflows/python-publish.yml
  .github/workflows/ty.yml
Due: none

feat: upgrade kida-templates to 0.4.0 + register pure filters
  bengal/rendering/engines/kida.py
Due: ty, block-legacy-cli-imports

feat: upgrade kida-templates to 0.4.0 + register pure filters (#209)
  bengal/rendering/engines/kida.py
  pyproject.toml
  uv.lock
Due: ty, block-legacy-cli-imports

updates
  bengal/assets/manifest.py
  bengal/core/theme/__init__.py
  bengal/core/theme/resolution.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/content.py
  bengal/server/dev_server.py
  bengal/services/theme.py
  tests/integration/test_incremental_cache_stability.py
  tests/unit/assets/test_assets_pipeline.py
  tests/unit/assets/test_manifest.py
  tests/unit/assets/test_theme_asset_dedup.py
  tests/unit/core/test_site_theme_assets_installed.py
  tests/unit/orchestration/build/test_rendering.py
  tests/unit/server/test_dev_server_live_reload.py
  tests/unit/services/test_theme_service.py
  tests/unit/utils/test_theme_resolution.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

update
  tests/integration/test_installed_theme_asset_build.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: recompute stale asset_integrity + harden inspect_asset_outputs tests
  bengal/orchestration/build/provenance_filter.py
  tests/unit/assets/test_manifest.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: recompute stale asset_integrity + harden inspect_asset_outputs tests (#216)
  bengal/orchestration/build/provenance_filter.py
  tests/unit/assets/test_manifest.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: add theme library providers for external Kida UI kit composition
  bengal/core/site/__init__.py
  bengal/core/theme/__init__.py
  bengal/core/theme/providers.py
  bengal/core/theme/resolution.py
  bengal/rendering/engines/kida.py
  tests/unit/core/theme/test_providers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: address PR review — coerce extends, validate static_path, split collision tracking
  bengal/core/theme/providers.py
  bengal/core/theme/resolution.py
  bengal/rendering/engines/kida.py
  tests/unit/core/theme/test_providers.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fix: remove Rich dependency — replace all Rich imports with plain text output
  bengal/analysis/performance/advisor.py
  bengal/cli/helpers/progress.py
  bengal/cli/milo_commands/build.py
  bengal/config/__init__.py
  bengal/debug/reporter.py
  bengal/errors/reporter.py
  bengal/errors/traceback/config.py
  bengal/errors/traceback/renderer.py
  bengal/health/health_check.py
  bengal/health/report/formatting.py
  bengal/health/report/models.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/sequential.py
  bengal/orchestration/summary.py
  bengal/output/core.py
  bengal/output/dev_server.py
  bengal/rendering/errors/deduplication.py
  bengal/rendering/errors/display.py
  bengal/server/dev_server.py
  bengal/server/utils.py
  bengal/utils/observability/__init__.py
  bengal/utils/observability/cli_progress.py
  bengal/utils/observability/logger.py
  bengal/utils/observability/rich_console.py
  bengal/utils/observability/terminal.py
  pyproject.toml
  uv.lock
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

feat: upgrade terminal output to kida templates with milo components
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/inspect.py
  bengal/debug/reporter.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/summary.py
  bengal/output/templates/_bengal.kida
  bengal/output/templates/build_dashboard.kida
  bengal/output/templates/build_progress.kida
  bengal/output/templates/page_explanation.kida
  bengal/utils/observability/cli_progress.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

fix: update tests for Rich removal — console is None, theme is dict
  tests/unit/cli/test_output.py
  tests/unit/utils/test_cli_output.py
  tests/unit/utils/test_rich_console.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: repair stale imports and update tests for milo CLI migration
  bengal/cli/helpers/upgrade_check.py
  bengal/cli/helpers/upgrade_installers.py
  bengal/cli/milo_commands/new.py
  bengal/cli/milo_commands/theme.py
  bengal/cli/milo_commands/upgrade.py
  tests/_testing/cli.py
  tests/integration/test_cli_output_integration.py
  tests/integration/test_cli_smoke.py
  tests/integration/test_resource_cleanup.py
  tests/integration/test_template_scaffolding.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: route directive rendering through overridable Kida templates
  bengal/parsing/backends/patitas/directives/builtins/admonition.py
  bengal/parsing/backends/patitas/directives/protocol.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/rendering/engines/kida.py
  bengal/themes/default/templates/directives/admonition.html
  tests/unit/rendering/directives/test_directive_templates.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix: update test_cli_build_flag_overrides_pipeline for milo-cli
  tests/unit/assets/test_assets_pipeline.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: address PR review — two-step template lookup, docs, and test coverage
  bengal/parsing/backends/patitas/directives/builtins/admonition.py
  bengal/parsing/backends/patitas/directives/protocol.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/rendering/engines/kida.py
  tests/unit/rendering/directives/test_directive_templates.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

Theming bug fixes (#217)
  bengal/assets/manifest.py
  bengal/core/theme/__init__.py
  bengal/core/theme/resolution.py
  bengal/orchestration/asset.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/content.py
  bengal/server/dev_server.py
  bengal/services/theme.py
  tests/integration/test_incremental_cache_stability.py
  tests/integration/test_installed_theme_asset_build.py
  tests/unit/assets/test_assets_pipeline.py
  tests/unit/assets/test_manifest.py
  tests/unit/assets/test_theme_asset_dedup.py
  tests/unit/core/test_site_theme_assets_installed.py
  tests/unit/orchestration/build/test_rendering.py
  tests/unit/server/test_dev_server_live_reload.py
  tests/unit/services/test_theme_service.py
  tests/unit/utils/test_theme_resolution.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feat: route directive rendering through overridable Kida templates (#219)
  bengal/core/site/__init__.py
  bengal/core/theme/__init__.py
  bengal/core/theme/providers.py
  bengal/core/theme/resolution.py
  bengal/parsing/backends/patitas/directives/builtins/admonition.py
  bengal/parsing/backends/patitas/directives/protocol.py
  bengal/parsing/backends/patitas/renderers/directives.py
  bengal/rendering/engines/kida.py
  bengal/themes/default/templates/directives/admonition.html
  tests/unit/core/theme/test_providers.py
  tests/unit/rendering/directives/test_directive_templates.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

docs: audit and correct roadmap claims against codebase
  plan/ROADMAP.md
Due: none

fix: reset global CLI output in template validator tests
  tests/unit/rendering/test_template_validator.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

fix: use Effect metadata for source path lookup in data file dependencies
  bengal/effects/effect.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/incremental/effect_detector.py
Due: ty, block-legacy-cli-imports

feat: add Towncrier changelog workflow with CI enforcement
  .github/workflows/changelog.yml
  CHANGELOG.md
  CONTRIBUTING.md
  bengal/orchestration/build_context.py
  changelog.d/+towncrier-bootstrap.added.md
  docs/b-stack-changelog-strategy.md
  pyproject.toml
  scripts/benchmark_transforms.py
  site/content/docs/about/ecosystem.md
  uv.lock
Due: ty, block-legacy-cli-imports

fix: wire changelog compilation into Makefile and poe release flows
  Makefile
  pyproject.toml
Due: none

feat: add Towncrier changelog workflow (#221)
  .github/workflows/changelog.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  bengal/orchestration/build_context.py
  changelog.d/+towncrier-bootstrap.added.md
  docs/b-stack-changelog-strategy.md
  pyproject.toml
  scripts/benchmark_transforms.py
  site/content/docs/about/ecosystem.md
  uv.lock
Due: ty, block-legacy-cli-imports

fix: update stale `bengal site` CLI references to flattened commands
  .github/workflows/pages.yml
  Makefile
  QUICKSTART.md
  UV_QUICK_REFERENCE.md
  bengal/debug/explainer.py
  bengal/health/validators/assets.py
  bengal/themes/default/templates/SAFE_PATTERNS.md
  plan/rfc-ci-cache-inputs.md
  pyproject.toml
  tests/manual/test_dev_server_incremental.md
  tests/performance/PROFILING_GUIDE.md
Due: ty, block-legacy-cli-imports

chore: add towncrier changelog fragment for CLI fix
  changelog.d/fix-stale-cli-refs.fixed.md
Due: none

fix: update stale `bengal site` CLI references to flattened commands (#222)
  .github/workflows/pages.yml
  Makefile
  QUICKSTART.md
  UV_QUICK_REFERENCE.md
  bengal/debug/explainer.py
  bengal/health/validators/assets.py
  bengal/themes/default/templates/SAFE_PATTERNS.md
  changelog.d/fix-stale-cli-refs.fixed.md
  plan/rfc-ci-cache-inputs.md
  pyproject.toml
  tests/manual/test_dev_server_incremental.md
  tests/performance/PROFILING_GUIDE.md
Due: ty, block-legacy-cli-imports

fix: harden CLI user-facing edges across error handling, flags, and validation
  bengal/cli/milo_commands/build.py
  bengal/cli/milo_commands/codemod.py
  bengal/cli/milo_commands/config.py
  bengal/cli/milo_commands/i18n.py
  bengal/cli/milo_commands/inspect.py
  bengal/cli/milo_commands/serve.py
  bengal/cli/milo_commands/theme.py
  bengal/cli/milo_commands/version.py
  bengal/cli/utils/errors.py
  bengal/cli/utils/site.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
