Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

fix(docstring_parser): dedent section content to prevent markdown code blocks
  bengal/autodoc/docstring_parser.py
  plan/drafted/rfc-dev-server-modernization.md
Due: block-legacy-cli-imports

plan: add dev server modernization implementation plan with 19 atomic tasks across 7 phases
  bengal/autodoc/extractors/python.py
  bengal/autodoc/models/python.py
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/api-reference/module.html
  bengal/themes/default/templates/api-reference/partials/_macros/render-method.html
  bengal/themes/default/templates/api-reference/partials/class-card.html
  bengal/themes/default/templates/api-reference/partials/function-card.html
  bengal/themes/default/templates/api-reference/partials/method-item.html
  bengal/themes/default/templates/api-reference/section-index.html
  bengal/themes/default/templates/autodoc/partials/_macros/function-member.html
  bengal/themes/default/templates/autodoc/partials/badges.html
  bengal/themes/default/templates/autodoc/partials/members.html
  bengal/themes/default/templates/autodoc/partials/returns.html
  bengal/themes/default/templates/cli-reference/section-index.html
  bengal/themes/default/templates/openapi-reference/endpoint.html
  bengal/themes/default/templates/openapi-reference/overview.html
  bengal/themes/default/templates/openapi-reference/schema.html
  bengal/themes/default/templates/openapi-reference/section-index.html
  plan/drafted/plan-dev-server-modernization.md
  plan/drafted/rfc-dev-server-modernization.md
Due: block-legacy-cli-imports

autodoc fixes
  bengal/themes/default/assets/css/components/autodoc.css
  bengal/themes/default/templates/autodoc/partials/_macros/function-member.html
  bengal/themes/default/templates/autodoc/partials/members.html
Due: none

fix
  bengal/themes/default/assets/css/components/api-hub.css
  bengal/themes/default/assets/css/style.css
Due: none

templates(autodoc): address PR #101 review comments; improve code clarity and adopt pluralize filter
  bengal/themes/default/templates/autodoc/cli/command-group.html
  bengal/themes/default/templates/autodoc/cli/command.html
  bengal/themes/default/templates/autodoc/partials/usage.html
  bengal/themes/default/templates/partials/page-hero.html
  bengal/themes/default/templates/partials/page-hero/element.html
Due: none

tests: fix failing tests; utils: use relative_url in page_initializer validation
  bengal/themes/default/assets/css/components/api-hub.css
  bengal/themes/default/assets/css/components/hub-cards.css
  bengal/themes/default/assets/css/style.css
  bengal/utils/page_initializer.py
  bengal/utils/text.py
  plan/drafted/rfc-landing-page-kit.md
  tests/integration/test_llm_txt_integration.py
  tests/unit/cli/test_slugify.py
  tests/unit/rendering/test_autodoc_layout_contract.py
  tests/unit/rendering/test_metadata_exposure.py
  tests/unit/rendering/test_page_hero_templates.py
  tests/unit/utils/test_text.py
Due: block-legacy-cli-imports

refactor(autodoc): standardize page types to autodoc-{python,cli,rest,hub}; fix template type references
  bengal/autodoc/orchestration/index_pages.py
  bengal/autodoc/orchestration/page_builders.py
  bengal/autodoc/orchestration/section_builders.py
  bengal/autodoc/orchestration/utils.py
  bengal/config/loader.py
  bengal/content_types/registry.py
  bengal/content_types/strategies.py
  bengal/health/validators/navigation.py
  bengal/orchestration/content.py
  bengal/orchestration/section.py
  bengal/rendering/api_doc_enhancer.py
  bengal/rendering/renderer.py
  bengal/themes/default/assets/css/composition/layouts.css
  bengal/themes/default/templates/autodoc/cli/command-group.html
  bengal/themes/default/templates/autodoc/cli/home.html
  bengal/themes/default/templates/autodoc/cli/list.html
  bengal/themes/default/templates/autodoc/cli/single.html
  bengal/themes/default/templates/autodoc/partials/_macros/element-card.html
  bengal/themes/default/templates/autodoc/python/home.html
  bengal/themes/default/templates/autodoc/python/list.html
  bengal/themes/default/templates/autodoc/python/single.html
  bengal/themes/default/templates/partials/docs-toc-sidebar.html
  bengal/themes/default/templates/partials/navigation-components.html
  bengal/themes/default/templates/partials/page-hero/section.html
  bengal/utils/autodoc.py
Due: block-legacy-cli-imports

fix(templates): handle None config.cli/python in output_prefix access
  bengal/themes/default/templates/autodoc/cli/command-group.html
  bengal/themes/default/templates/autodoc/partials/_macros/element-card.html
Due: none

config: add build_badge to KNOWN_SECTIONS to prevent config warnings
  bengal/themes/default/templates/autodoc/partials/_macros/element-card.html
Due: none

themes(default): conditionally load build-badge.js only when build_badge is enabled; prevents 404 console noise
  bengal/themes/default/templates/base.html
Due: none

fix(css): ensure page-navigation respects max-width on autodoc pages; higher specificity overrides margin shorthand
  bengal/themes/default/assets/css/composition/layouts.css
  tests/unit/orchestration/build/test_finalization.py
Due: none

fix(server): remove infinite rebuild loop for missing API index.html; only show rebuilding page during active builds
  bengal/server/request_handler.py
Due: block-legacy-cli-imports

tests: align autodoc type assertions with hyphen naming convention (autodoc-python, autodoc-cli)
  bengal/content_types/registry.py
  tests/unit/analysis/test_graph_features.py
  tests/unit/analysis/test_knowledge_graph.py
  tests/unit/autodoc/test_aggregating_sections.py
  tests/unit/content_types/test_strategies.py
  tests/unit/orchestration/test_content_type_detection.py
  tests/unit/rendering/test_autodoc_layout_contract.py
  tests/unit/rendering/test_type_based_templates.py
Due: block-legacy-cli-imports

rendering(engines): add pluggable template engine factory via create_engine(); protocol in engines/protocol.py; backward compat via template_engine/__init__.py re-exports
  bengal/health/validators/rendering.py
  bengal/rendering/engines/__init__.py
  bengal/rendering/engines/errors.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/template_engine/__init__.py
  bengal/rendering/template_engine/core.py
  bengal/server/__init__.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/resource_manager.py
  bengal/server/watcher_runner.py
  bengal/services/validation.py
  tests/unit/server/test_watcher_runner.py
Due: block-legacy-cli-imports

server: modernize dev server with clean WatcherRunner + BuildTrigger architecture
  tests/unit/server/test_build_trigger.py
Due: none

rendering(engines): consolidate JinjaTemplateEngine as single canonical implementation; delete legacy core.py; use lazy imports in template_engine/__init__.py for backward compat
  bengal/rendering/engines/__init__.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/template_engine/__init__.py
  bengal/rendering/template_engine/core.py
  bengal/server/build_executor.py
  bengal/server/build_handler.py
  bengal/server/build_hooks.py
  bengal/server/file_watcher.py
  bengal/server/ignore_filter.py
  tests/unit/server/test_build_handler_concurrency.py
  tests/unit/server/test_build_handler_reload.py
  tests/unit/server/test_css_only_reload.py
  tests/unit/server/test_request_handler_rebuild_page.py
Due: block-legacy-cli-imports

config: use _dev_server_active flag to avoid overwriting dev_server config dict
  bengal/autodoc/orchestration/template_env.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/template_engine/asset_url.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_engine/manifest.py
  bengal/server/build_executor.py
  bengal/server/dev_server.py
  bengal/utils/metadata.py
Due: block-legacy-cli-imports

docs(plan): add RFC for Site runtime state formalization; addresses 43 dynamic attribute injections
  bengal/autodoc/orchestration/template_env.py
  bengal/cli/__init__.py
  bengal/cli/commands/engine.py
  bengal/core/site/core.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/postprocess/output_formats/llm_generator.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/template_engine/asset_url.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_engine/manifest.py
  bengal/server/build_executor.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/server/ignore_filter.py
  bengal/utils/metadata.py
  plan/drafted/rfc-site-runtime-state-formalization.md
  tests/unit/server/test_ignore_filter.py
Due: block-string-based-click-cls, block-legacy-cli-imports

docs(rfc): revise site-runtime-state-formalization with verified evidence and corrected scope
  bengal/rendering/engines/jinja.py
  bengal/server/file_watcher.py
  bengal/server/watcher_runner.py
  plan/drafted/rfc-site-runtime-state-formalization.md
Due: block-legacy-cli-imports

docs(plan): add implementation plan for site-runtime-state-formalization RFC
  bengal/server/__init__.py
  bengal/server/file_watcher.py
  plan/drafted/plan-site-runtime-state-formalization.md
  tests/unit/server/test_file_watcher.py
  tests/unit/server/test_watcher_runner.py
Due: block-legacy-cli-imports

core(site): formalize 7 runtime cache fields; remove unnecessary type: ignore comments
  bengal/cli/commands/validate.py
  bengal/core/site/core.py
  bengal/orchestration/asset.py
  bengal/orchestration/content.py
  bengal/rendering/engines/jinja.py
  bengal/rendering/template_engine/environment.py
  bengal/rendering/template_functions/get_page.py
  bengal/server/__init__.py
  bengal/server/dev_server.py
  bengal/server/file_watcher.py
  bengal/server/ignore_filter.py
  bengal/server/resource_manager.py
  bengal/server/watcher_runner.py
  bengal/utils/async_compat.py
  bengal/utils/file_io.py
  bengal/utils/json_compat.py
  bengal/utils/metadata.py
  pyproject.toml
  tests/unit/core/test_site_caching.py
  tests/unit/rendering/test_asset_url_baseurl.py
  tests/unit/rendering/test_asset_url_fingerprints.py
  tests/unit/rendering/test_template_cache_dev_mode.py
  tests/unit/rendering/test_template_engine_environment.py
  tests/unit/rendering/test_template_inheritance_detection.py
  tests/unit/rendering/test_theme_inheritance.py
  tests/unit/server/test_file_watcher.py
  tests/unit/server/test_ignore_filter.py
Due: block-string-based-click-cls, block-legacy-cli-imports

perf: add orjson (Rust JSON) and uvloop (Rust event loop) for 3-10x faster I/O
  bengal/cache/cache_store.py
  bengal/cli/commands/validate.py
  bengal/content_layer/manager.py
  bengal/content_layer/source.py
  bengal/utils/__init__.py
  bengal/utils/file_io.py
Due: block-string-based-click-cls, block-legacy-cli-imports

refactor(utils): simplify json_compat and async_compat by removing fallbacks
  bengal/utils/__init__.py
  bengal/utils/async_compat.py
  bengal/utils/json_compat.py
Due: block-legacy-cli-imports

revert(utils): remove orjson - not compatible with free-threaded Python 3.14
  bengal/cache/cache_store.py
  bengal/content_layer/manager.py
  bengal/utils/__init__.py
  bengal/utils/file_io.py
  bengal/utils/json_compat.py
  pyproject.toml
  uv.lock
Due: block-legacy-cli-imports

update
  bengal/server/build_trigger.py
Due: block-legacy-cli-imports

fix(server): add missing attributes to _Stats in build_trigger
  bengal/server/build_trigger.py
Due: block-legacy-cli-imports

fix(server): graceful shutdown for watcher_runner
  bengal/server/watcher_runner.py
Due: block-legacy-cli-imports

tests: fix test_index_json_has_valid_structure by adding dev_mode=False to mock; fix test_list_directory_shows_rebuilding to match actual behavior
  bengal/utils/json_compat.py
  plan/drafted/rfc-template-component-props.md
  plan/drafted/rfc-theme-002-css-consolidation.md
  plan/drafted/rfc-theme-003-autodoc-integration.md
  plan/drafted/rfc-theme-architecture-series.md
  plan/drafted/rfc-type-safety-improvements.md
  plan/drafted/rfc-virtual-orchestrator-modularization.md
  pyproject.toml
  tests/unit/postprocess/test_output_formats_index_json.py
  tests/unit/server/test_request_handler_rebuild_page.py
Due: block-legacy-cli-imports

rfc cleanup
  plan/drafted/rfc-persona-onboarding-guides.md
  plan/drafted/rfc-snapshot-preview-sharing.md
Due: none

plan: delete 26 far-future/speculative/superseded RFCs to narrow focus
  plan/drafted/js-loading-strategy.md
  plan/drafted/plan-dropdown-refactor.md
  plan/drafted/plan-theme-architecture-series.md
  plan/drafted/plan-track-ux-improvements.md
  plan/drafted/research-elevenlabs-tts-integration.md
  plan/drafted/research-sidebar-icons.md
  plan/drafted/rfc-autodoc-card-layouts.md
  plan/drafted/rfc-autodoc-python-layout-refinement.md
  plan/drafted/rfc-bengal-templates.md
  plan/drafted/rfc-cli-deep-nesting.md
  plan/drafted/rfc-content-refactoring.md
  plan/drafted/rfc-docker-distribution.md
  plan/drafted/rfc-flat-dimensional-aesthetic.md
  plan/drafted/rfc-i18n.md
  plan/drafted/rfc-js-architecture-consolidation.md
  plan/drafted/rfc-knowledge-graph-surfacing.md
  plan/drafted/rfc-landing-page-kit.md
  plan/drafted/rfc-learning-tracks.md
  plan/drafted/rfc-live-api-docs.md
  plan/drafted/rfc-live-preview-sharing.md
  plan/drafted/rfc-next-gen-build-paradigms.md
  plan/drafted/rfc-pdf-epub-export.md
  plan/drafted/rfc-semantic-search.md
  plan/drafted/rfc-shareable-site-skeletons.md
  plan/evaluated/rfc-patitas-template-engine.md
  plan/evaluated/rfc-pluggable-template-engines.md
Due: none

changes
  tests/unit/orchestration/test_render_orchestrator_thread_cache.py
Due: none

core: add versioned documentation support (Phase 1 MVP)
  bengal/config/loader.py
  bengal/core/__init__.py
  bengal/core/page/metadata.py
  bengal/core/page/page_core.py
  bengal/core/page/proxy.py
  bengal/core/site/core.py
  bengal/core/site/properties.py
  bengal/core/version.py
  bengal/rendering/renderer.py
  bengal/rendering/template_engine/environment.py
  bengal/themes/default/assets/css/components/versioning.css
  bengal/themes/default/templates/partials/version-banner.html
  bengal/themes/default/templates/partials/version-selector.html
  bengal/utils/url_strategy.py
  plan/drafted/research-competitive-analysis.md
  plan/drafted/rfc-versioned-documentation.md
  tests/unit/test_versioning.py
Due: block-legacy-cli-imports

core(versioning): add Phase 2 CLI commands and version resolver
  bengal/cli/__init__.py
  bengal/cli/commands/version.py
  bengal/core/page/metadata.py
  bengal/discovery/__init__.py
  bengal/discovery/content_discovery.py
  bengal/discovery/version_resolver.py
  plan/drafted/rfc-versioned-documentation.md
  tests/unit/test_versioning.py
Due: block-string-based-click-cls, block-legacy-cli-imports

perf(versioning): use versioning_enabled property for fast-path short-circuit
  bengal/discovery/content_discovery.py
  bengal/utils/url_strategy.py
Due: block-legacy-cli-imports

versioning(phase3): add cross-version links, version directives, and version-aware SEO
  bengal/postprocess/sitemap.py
  bengal/rendering/parsers/mistune.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/plugins/directives/versioning.py
  bengal/rendering/template_functions/get_page.py
  bengal/rendering/template_functions/seo.py
  bengal/themes/default/assets/css/components/versioning.css
  plan/drafted/research-competitive-analysis.md
  plan/drafted/rfc-versioned-documentation.md
  tests/unit/test_versioning.py
Due: block-legacy-cli-imports

docs: add how-to guides for i18n, large sites, validation, profiles; update template-functions.md with i18n section
  bengal/cli/commands/build.py
  bengal/cli/commands/version.py
  bengal/core/__init__.py
  bengal/core/version.py
  bengal/discovery/__init__.py
  bengal/discovery/git_version_adapter.py
  bengal/utils/version_diff.py
  plan/drafted/rfc-versioned-documentation.md
  site/content/docs/building/configuration/profiles.md
  site/content/docs/building/performance/large-sites.md
  site/content/docs/content/i18n.md
  site/content/docs/content/validation/validate-and-fix.md
  site/content/docs/reference/template-functions.md
  tests/unit/test_versioning.py
Due: block-string-based-click-cls, block-legacy-cli-imports

versioning(phase4): add git branch mode, version diffing, and multi-version builds
  bengal/discovery/git_version_adapter.py
Due: block-legacy-cli-imports

docs(versioning): add comprehensive versioning documentation
  site/content/docs/content/versioning/_index.md
  site/content/docs/content/versioning/cross-version-links.md
  site/content/docs/content/versioning/directives.md
  site/content/docs/content/versioning/folder-mode.md
  site/content/docs/content/versioning/git-mode.md
  site/content/docs/reference/directives/_index.md
  site/content/docs/reference/directives/versioning.md
  tests/unit/rendering/test_asset_url_baseurl.py
  tests/unit/rendering/test_asset_url_fingerprints.py
  tests/unit/rendering/test_directive_registry.py
  tests/unit/rendering/test_theme_inheritance.py
Due: none

tests(rendering): add versioning_enabled and versions attrs to DummySite; update directive registry expectations for versioning directives
  bengal/cli/commands/version.py
Due: block-string-based-click-cls, block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
