Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, block-string-based-click-cls, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

ty:
  name: ty type checker
  entry: uv run ty check bengal/
  language: system
  pass_filenames: false
  priority: 2

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system
  priority: 2

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system
  priority: 2

check-template-css:
  name: Check template CSS classes have definitions
  entry: uv run python scripts/check_template_css.py
  language: system
  pass_filenames: false
  priority: 2

check-threadpool-without-marker:
  name: Check ThreadPoolExecutor tests have parallel_unsafe marker
  entry: uv run python scripts/check_threadpool_marker.py
  language: system
  pass_filenames: true
  priority: 2

check-outdated-build-options:
  name: Check for outdated BuildOptions API usage
  entry: uv run python scripts/check_build_options.py
  language: system
  pass_filenames: true
  priority: 2

orchestration: use content_key for taxonomy page_paths
  bengal/orchestration/taxonomy.py
Due: ty, block-legacy-cli-imports

enhancements
  .cursor/rules/modules/path-keys/RULE.mdc
  bengal/cache/build_cache/core.py
  bengal/cache/build_cache/file_tracking.py
  bengal/cache/build_cache/parsed_content_cache.py
  bengal/cache/build_cache/rendered_output_cache.py
  bengal/health/validators/tracks.py
  changelog.md
  tests/unit/cache/test_file_tracking_path_resolution.py
  tests/unit/cache/test_path_variant_fixtures.py
  tests/unit/core/test_page_cache.py
  tests/unit/health/validators/test_tracks.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: fix path key alignment in provenance filter and add xref_path_key
  .cursor/rules/modules/path-keys/RULE.mdc
  bengal/build/contracts/keys.py
  bengal/orchestration/build/provenance_filter.py
  bengal/orchestration/content.py
  tests/unit/build/contracts/test_keys.py
  tests/unit/orchestration/build/test_provenance_filter_path_keys.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

analysis: fix circular import and dependency layer violations
  bengal/analysis/utils/pages.py
  scripts/check_cycles.py
  scripts/check_dependencies.py
Due: ty, block-legacy-cli-imports

updates
  bengal/cache/build_cache/file_tracking.py
  bengal/health/validators/tracks.py
  bengal/rendering/plugins/cross_references.py
  bengal/rendering/template_functions/get_page.py
  plan/output-collector-tech-debt-remediation.md
  tests/unit/cache/test_file_tracking_path_resolution.py
  tests/unit/health/validators/test_tracks.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

orchestration: parallelize provenance filter for large sites
  bengal/build/provenance/filter.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/provenance_filter.py
Due: ty, block-legacy-cli-imports

orchestration: skip provenance verification when output missing (cold build)
  bengal/orchestration/build/provenance_filter.py
Due: ty, block-legacy-cli-imports

updates
  bengal/orchestration/build/artifacts.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/stats/display.py
  bengal/orchestration/stats/models.py
  tests/unit/orchestration/build/test_finalization.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

syntax fix
  bengal/rendering/template_functions/math_functions.py
  bengal/server/live_reload/notification.py
  bengal/server/live_reload/sse.py
  bengal/server/reload_controller.py
  bengal/utils/paths/link_resolution.py
Due: ty, block-legacy-cli-imports

fixes
  bengal/content/sources/github.py
  bengal/orchestration/taxonomy.py
  bengal/rendering/pipeline/core.py
  tests/unit/orchestration/test_taxonomy_incremental.py
  tests/unit/server/test_css_only_reload.py
  tests/unit/server/test_dev_server_live_reload.py
  tests/unit/server/test_live_reload.py
  tests/unit/server/test_reload_controller.py
Due: ty, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

fixes
  bengal/themes/default/assets/css/base/typography.css
  bengal/themes/default/assets/css/components/admonitions.css
  scripts/check_cycles.py
  scripts/check_dependencies.py
  scripts/check_template_css.py
  tests/unit/server/test_css_only_reload.py
  tests/unit/server/test_live_reload.py
Due: ty, check-template-css, check-threadpool-without-marker, check-outdated-build-options

fix
  bengal/orchestration/build/provenance_filter.py
Due: ty, block-legacy-cli-imports

test sharding
  .github/workflows/tests.yml
  pyproject.toml
Due: none

cleanup
  bengal/server/live_reload/notification.py
  bengal/server/live_reload/sse.py
Due: ty, block-legacy-cli-imports

hardening types
  bengal/core/site/accessors.py
  bengal/parsing/backends/patitas/wrapper.py
  bengal/parsing/protocols.py
  bengal/protocols/core.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/shortcodes.py
  bengal/rendering/template_functions/get_page.py
  bengal/server/build_trigger.py
  bengal/server/reload_types.py
  bengal/snapshots/builder.py
  bengal/utils/observability/logger.py
Due: ty, block-legacy-cli-imports

incremental type safety
  bengal/core/page/__init__.py
  bengal/core/page/content.py
  bengal/orchestration/complexity.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/ordering.py
  bengal/orchestration/stats/models.py
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

type improvements continued
  bengal/core/page/__init__.py
  bengal/core/site/__init__.py
  bengal/core/site/lifecycle.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/complexity.py
  bengal/orchestration/render/block_cache.py
  bengal/protocols/rendering.py
  bengal/rendering/pipeline/core.py
Due: ty, block-legacy-cli-imports

orchestration: type BuildContext fields, replace shortcodes getattr
  .cursor/plans/fifth-round-deferred-impact.plan.md
  bengal/orchestration/build_context.py
  bengal/orchestration/render/orchestrator.py
  bengal/rendering/pipeline/core.py
  bengal/rendering/shortcodes.py
Due: ty, block-legacy-cli-imports

improvements
  .cursor/plans/fourth-round-unexplored-boundaries.plan.md
  bengal/assets/pipeline.py
  bengal/build/provenance/filter.py
  bengal/cli/commands/collections.py
  bengal/cli/dashboard/widgets/throbber.py
  bengal/collections/validator.py
  bengal/config/types.py
  bengal/core/page/__init__.py
  bengal/core/site/__init__.py
  bengal/fonts/downloader.py
  bengal/orchestration/incremental/orchestrator.py
  bengal/orchestration/stats/models.py
  bengal/parsing/ast/transforms.py
  bengal/parsing/ast/utils.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/rendering/adapters/generic.py
  bengal/rendering/adapters/jinja.py
  bengal/rendering/adapters/kida.py
  bengal/rendering/content_cache.py
  bengal/rendering/engines/kida.py
  bengal/rendering/highlighting/__init__.py
  bengal/rendering/template_functions/content.py
  bengal/rendering/template_functions/navigation/breadcrumbs.py
  bengal/rendering/template_functions/navigation/scaffold.py
  bengal/server/build_executor.py
  bengal/server/build_trigger.py
  bengal/server/dev_server.py
  bengal/utils/primitives/dates.py
  bengal/utils/stats_minimal.py
  bengal/utils/stats_protocol.py
  changelog.md
  pyproject.toml
  tests/unit/rendering/test_shortcodes.py
Due: ty, block-string-based-click-cls, block-legacy-cli-imports, check-threadpool-without-marker, check-outdated-build-options

feedback
  bengal/orchestration/render/orchestrator.py
Due: ty, block-legacy-cli-imports

orchestration: fix exception syntax, extract pipeline helper, document thread_local
  bengal/concurrency.py
  bengal/orchestration/render/orchestrator.py
  bengal/orchestration/render/pipeline_runner.py
  bengal/rendering/pipeline/thread_local.py
  bengal/snapshots/scheduler.py
Due: ty, block-legacy-cli-imports

rendering: defer error display until after parallel rendering
  .cursor/rules/modules/filter-type-coercion/RULE.mdc
  .github/workflows/mutation.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
  .github/workflows/ty.yml
  bengal/cache/indexes/series_index.py
  bengal/core/page/computed.py
  bengal/core/series.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/build_context.py
  bengal/postprocess/output_formats/index_generator.py
  bengal/rendering/context/__init__.py
  bengal/rendering/context/site_wrappers.py
  bengal/rendering/pipeline/json_accumulator.py
  bengal/rendering/renderer.py
  bengal/rendering/template_functions/blog.py
  bengal/rendering/template_functions/math_functions.py
  bengal/rendering/template_functions/strings.py
  bengal/server/dev_server.py
  bengal/snapshots/content.py
  bengal/snapshots/types.py
  bengal/themes/default/templates/partials/components/post-card.html
  pyproject.toml
  tests/unit/core/test_computed_functions.py
  tests/unit/core/test_series.py
  tests/unit/services/test_query_service.py
  tests/unit/snapshots/test_incremental_snapshot.py
Due: ty, block-legacy-cli-imports, check-template-css, check-threadpool-without-marker, check-outdated-build-options

server: require build cache for serve-first mode
  bengal/server/dev_server.py
Due: ty, block-legacy-cli-imports

themes: move blog-after-content inside blog-post-layout
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/templates/blog/shell.html
  bengal/themes/default/templates/blog/single.html
Due: check-template-css

themes: add series-nav component to default blog
  bengal/themes/default/assets/css/components/blog.css
  bengal/themes/default/templates/blog/single.html
  bengal/themes/default/templates/partials/series-nav.html
Due: check-template-css

updates
  bengal/themes/default/templates/partials/series-nav.html
Due: check-template-css

rendering: adopt Iterable/Sequence from collections.abc
  bengal/rendering/renderer.py
  bengal/rendering/template_functions/blog.py
Due: ty, block-legacy-cli-imports

health: adopt Path for cross_ref file_path, match for ref_type
  bengal/health/validators/cross_ref.py
Due: ty, block-legacy-cli-imports

orchestration: adopt itertools.batched for render batching
  bengal/orchestration/render/orchestrator.py
Due: ty, block-legacy-cli-imports

update
  .cursor/rules/python.mdc
  plan/investigation-ruff-format-except-parenthesis.md
  prek.toml
Due: none

updates
  pyproject.toml
Due: none

rendering: fix display for engine TemplateError (no suggestion attr)
  bengal/rendering/errors/display.py
Due: ty, block-legacy-cli-imports

pr feedback
  bengal/cache/indexes/series_index.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/rendering.py
  bengal/orchestration/render/orchestrator.py
  bengal/parsing/ast/utils.py
  bengal/server/build_trigger.py
Due: ty, block-legacy-cli-imports

chore: release 0.2.4
  changelog.md
  pyproject.toml
  site/content/releases/0.2.4.md
Due: none

update
  changelog.md
Due: none

var
  bengal/__init__.py
Due: ty, block-legacy-cli-imports

rendering: guard newsletter_cta against K-RUN-007 Undefined on parallel render
  bengal/themes/default/templates/blog/single.html
Due: check-template-css

tests: add parallel rendering regression and production smoke tests
  .cursor/rules/commands/implement/RULE.mdc
  docs/contributing/bug-fix-checklist.md
  tests/integration/test_parallel_rendering.py
Due: ty, check-threadpool-without-marker, check-outdated-build-options

Path conditions:
  ty: any of: \.py$
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
  check-template-css: any of: ^bengal/themes/.*\.(html|css)$
  check-threadpool-without-marker: any of: ^tests/.*\.py$, but not: ^tests/performance/.*\.py$
  check-outdated-build-options: any of: ^tests/.*\.py$
