Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

block-string-based-click-cls:
  name: Block string-based Click cls usage
  entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
  language: system

block-legacy-cli-imports:
  name: Block legacy bengal.cli.bengal_* imports
  entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
  language: system

tests: add Phase 1 infrastructure - test roots and utilities
  tests/_testing/README.md
  tests/_testing/__init__.py
  tests/_testing/cli.py
  tests/_testing/fixtures.py
  tests/_testing/markers.py
  tests/_testing/normalize.py
  tests/conftest.py
  tests/roots/README.md
  tests/roots/test-assets/assets/images/test.png
  tests/roots/test-assets/bengal.toml
  tests/roots/test-assets/content/index.md
  tests/roots/test-baseurl/bengal.toml
  tests/roots/test-baseurl/content/about.md
  tests/roots/test-baseurl/content/index.md
  tests/roots/test-basic/bengal.toml
  tests/roots/test-basic/content/index.md
  tests/roots/test-taxonomy/bengal.toml
  tests/roots/test-taxonomy/content/post1.md
  tests/roots/test-taxonomy/content/post2.md
  tests/roots/test-taxonomy/content/post3.md
  tests/roots/test-templates/bengal.toml
  tests/roots/test-templates/content/guide.md
Due: none

test: add prototype demonstrating Phase 1 infrastructure
  tests/test_infrastructure_prototype.py
Due: none

fix: address Copilot PR feedback on Phase 1 infrastructure
  tests/_testing/README.md
  tests/_testing/markers.py
  tests/_testing/normalize.py
Due: none

feat: Phase 2 - migrate 11 tests to new infrastructure
  tests/integration/test_baseurl_builds.py
  tests/integration/test_cli_output_integration.py
  tests/integration/test_documentation_builds.py
Due: none

fupdate
  tests/integration/test_documentation_builds.py
Due: none

feat: Phase 3 batch 1 - add test-cascade root and migrate 2 tests
  plan/active/myst-parser-integration-analysis.md
  plan/active/myst-parser-viability-and-loe.md
  tests/integration/test_cascade_integration.py
  tests/integration/test_cli_help.py
  tests/roots/README.md
  tests/roots/test-cascade/bengal.toml
  tests/roots/test-cascade/content/products/_index.md
  tests/roots/test-cascade/content/products/widgets/_index.md
  tests/roots/test-cascade/content/products/widgets/custom-widget.md
  tests/roots/test-cascade/content/products/widgets/super-widget.md
Due: none

feat: Phase 3 - migrate 1 more CLI test
  plan/active/myst-parser-viability-and-loe.md
  tests/integration/test_cli_output_integration.py
Due: none

test(phase3): add http_server fixture, expand cache cleanup, update CONTRIBUTING.md
  CONTRIBUTING.md
  tests/_testing/http.py
  tests/conftest.py
Due: none

update
  plan/active/ai-myst-parser-proposal.md
  plan/active/phase3-pr-description.md
Due: none

ci: implement two-stage testing workflow with parallel execution
  .github/workflows/tests-improved.yml.suggestion
  .github/workflows/tests.yml
Due: none

fix: address Copilot PR feedback on http_server and CLI test
  tests/_testing/http.py
  tests/integration/test_cli_output_integration.py
Due: none

test: mark TestIncrementalBuildRegression and TestStrictMode as slow
  tests/integration/test_full_to_incremental_sequence.py
  tests/integration/test_output_quality.py
Due: none

test: mark test_thread_vs_process_rendering as slow
  tests/performance/test_process_parallel.py
Due: none

Update tests/_testing/http.py
  tests/_testing/http.py
Due: none

plan: move logger-health-progress-unification to deferred; never implemented
  plan/deferred/logger-health-progress-unification.md
Due: none

docs: restructure ARCHITECTURE.md into modular architecture/ directory
  ARCHITECTURE.md
  architecture/analysis.md
  architecture/autodoc.md
  architecture/cache.md
  architecture/cli.md
  architecture/config.md
  architecture/data-flow.md
  architecture/design-principles.md
  architecture/discovery.md
  architecture/extension-points.md
  architecture/file-organization.md
  architecture/fonts.md
  architecture/health.md
  architecture/object-model.md
  architecture/overview.md
  architecture/performance.md
  architecture/postprocess.md
  architecture/rendering.md
  architecture/server.md
  architecture/testing.md
  architecture/utils.md
  plan/completed/ARCHITECTURE-monolithic-2025-10-19.md
Due: none

test: fix 7 test issues from bug bash; identify 1 critical incremental build bug
  bengal/server/live_reload.py
  plan/active/bengal-vs-sphinx-codebase-analysis.md
  plan/active/rfc-autodoc-alias-inherited-viability-analysis.md
  plan/active/rfc-autodoc-analysis-summary.md
  plan/active/viability-analysis-link-checker-async.md
  plan/completed/bug-bash-2025-10-19.md
  tests/manual/test_rich_features.py
  tests/unit/server/test_build_handler_reload.py
Due: block-legacy-cli-imports

bug bash
  plan/active/bengal-vs-sphinx-codebase-analysis.md
  plan/active/i18n-strategy-2025.md
Due: none

tests(performance): fix flaky timing tests with statistical robustness and tolerance
  plan/completed/timing-test-flakiness-analysis.md
  tests/performance/test_jinja2_bytecode_cache.py
  tests/performance/test_parsed_content_cache.py
Due: none

fix(incremental): resolve non-determinism between incremental and full builds
  bengal/core/page/proxy.py
  bengal/discovery/content_discovery.py
  bengal/orchestration/build.py
  bengal/orchestration/incremental.py
  plan/active/bengal-vs-sphinx-codebase-analysis.md
  plan/active/rfc-multi-language-autodoc-ast.md
  plan/active/timing-test-flakiness-analysis.md
  plan/implemented/bug-incremental-non-determinism-2025-10-19.md
  plan/implemented/incremental-observability-improvements.md
  tests/integration/stateful/test_build_workflows.py
Due: block-legacy-cli-imports

fix(tests): resolve CI environment isolation issues and enum comparison bug
  bengal/config/loader.py
  bengal/orchestration/build.py
  bengal/utils/theme_registry.py
  tests/unit/rendering/test_navigation_templates_baseurl.py
  tests/unit/template_functions/test_taxonomies_baseurl.py
  tests/unit/utils/test_cli_output.py
Due: block-legacy-cli-imports

fix(theme_registry): improve fallback logic for test packages in Python 3.14
  bengal/utils/theme_registry.py
Due: block-legacy-cli-imports

fix(tests): prioritize direct import for theme packages + add bs4 to dev deps
  bengal/utils/theme_registry.py
  pyproject.toml
Due: block-legacy-cli-imports

fix(tests): resolve pytest-xdist parallel execution issues with theme registry tests
  pyproject.toml
  tests/unit/core/test_site_theme_assets_installed.py
  tests/unit/rendering/test_template_engine_installed_theme.py
  tests/unit/utils/test_theme_registry.py
Due: none

refactor(tests): replace sys.path manipulation with proper mocking for theme tests
  tests/unit/core/test_site_theme_assets_installed.py
  tests/unit/rendering/test_template_engine_installed_theme.py
  tests/unit/utils/test_theme_registry.py
Due: none

style(docs): normalize markdown spacing; tests: add cache corruption, template cycle, menu cycle, concurrent build
  plan/active/comprehensive-test-coverage-gaps-plan.md
  plan/active/rfc-test-gaps-and-resilience.md
  tests/integration/test_concurrent_builds.py
  tests/unit/cache/test_cache_corruption.py
  tests/unit/core/test_menu_cycles.py
  tests/unit/rendering/test_template_cycles.py
Due: none

feat(file-io): strip BOM and support utf-8-sig fallback; tests: add front matter BOM and config fuzzing
  bengal/utils/file_io.py
  tests/unit/discovery/test_frontmatter_bom_and_fuzz.py
Due: block-legacy-cli-imports

tests: stabilize template cycle assertions; refine menu cycle test; run Phase 1 set locally
  tests/unit/core/test_menu_cycles.py
  tests/unit/rendering/test_template_cycles.py
Due: none

docs: update docstrings; docs(cache, rendering, discovery, testing) clarify atomic writes, cycle handling, BOM; fix lint in ContentDiscovery
  architecture/cache.md
  architecture/discovery.md
  architecture/rendering.md
  architecture/testing.md
  bengal/cache/build_cache.py
  bengal/core/menu.py
  bengal/discovery/content_discovery.py
  bengal/rendering/template_engine.py
  bengal/utils/file_io.py
Due: block-legacy-cli-imports

tests: address PR feedback (menu side-effect expr, proper hypothesis skip); file-io: strip single BOM char)
  bengal/utils/file_io.py
  tests/unit/core/test_menu_cycles.py
  tests/unit/discovery/test_frontmatter_bom_and_fuzz.py
Due: block-legacy-cli-imports

discovery: fix PageProxy loader factory to bind per-iteration values; address review comment
  bengal/discovery/content_discovery.py
Due: block-legacy-cli-imports

update
  .github/workflows/tests.yml
  plan/active/competitive-analysis-python-ssg.md
  pytest.ini
  tests/conftest.py
  tests/integration/stateful/__init__.py
  tests/performance/__init__.py
Due: none

cli: convert dev server live output to use CLIOutput conventions; add separator, file_change_notice, server_url_inline, request_log_header, http_request methods
  .python-version
  CHANGELOG.md
  CONTRIBUTING.md
  GETTING_STARTED.md
  README.md
  UV_QUICK_REFERENCE.md
  bengal/cli/commands/theme.py
  bengal/server/build_handler.py
  bengal/server/dev_server.py
  bengal/server/request_logger.py
  bengal/utils/cli_output.py
  plan/active/test-failures-investigation.md
  pyproject.toml
  pytest.ini
  site/content/releases/0.1.0.md
  tests/integration/stateful/test_build_workflows.py
  tests/performance/test_jinja2_bytecode_cache.py
  tests/performance/test_memory_profiling.py
Due: block-string-based-click-cls, block-legacy-cli-imports

cleanup: reduce noisy 'Small asset' warnings to debug level; add output system alignment plan
  INSTALL_FREE_THREADED.md
  README.md
  bengal/discovery/asset_discovery.py
  bengal/server/dev_server.py
  plan/active/output-system-alignment.md
  plan/active/test-fixes-summary.md
  plan/active/watchdog-optional-dependency.md
  pyproject.toml
Due: block-legacy-cli-imports

tests: fix pytest-xdist 'node down' crashes by marking parallel-unsafe tests serial
  plan/active/xdist-node-down-fix.md
  tests/conftest.py
  tests/integration/test_concurrent_builds.py
  tests/performance/test_process_parallel.py
Due: none

fix
  .pre-commit-config.yaml
  pyproject.toml
Due: none

pr-feedback: remove unnecessary quotes from forward refs; fix socket.timeout exception
  bengal/core/page/proxy.py
  tests/_testing/http.py
Due: block-legacy-cli-imports

server: force clean rebuild when baseurl is cleared in dev mode
  bengal/server/dev_server.py
Due: block-legacy-cli-imports

Path conditions:
  block-string-based-click-cls: any of: ^bengal/cli/.*\.py$
  block-legacy-cli-imports: any of: ^bengal/.*\.py$
