Repository lbliii/bengal: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-string-based-click-cls, block-legacy-cli-imports

.pre-commit-config.yaml:

# Pre-commit hooks for Bengal
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter (auto-fix what we can, ignore line-length for now)
      - id: ruff
        args: [--fix, --extend-ignore=E501]
        types_or: [python, pyi]

      # Run the formatter (will format new code to respect line length)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Prevent large files from being committed
      - id: check-added-large-files
        args: [--maxkb=1000]

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check for debugger imports and breakpoints
      - id: debug-statements
        language_version: python3.12

      # Check TOML file syntax
      - id: check-toml

      # Check YAML file syntax
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags

      # Fix end of files
      - id: end-of-file-fixer

      # Fix trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

      # Check that executables have shebangs
      - id: check-executables-have-shebangs

      # Check for private keys
      - id: detect-private-key

  - repo: local
    hooks:
      - id: block-string-based-click-cls
        name: Block string-based Click cls usage
        entry: bash -c "! rg -n 'cls=\"bengal\\.cli\\.(Bengal(Group|Command))\"' bengal/cli || (echo 'Use direct class references from bengal.cli.base for Click cls' && exit 1)"
        language: system
        files: ^bengal/cli/.*\.py$
      - id: block-legacy-cli-imports
        name: Block legacy bengal.cli.bengal_* imports
        entry: bash -c "! rg -n 'from\\s+bengal\\.cli\\.(bengal_command|bengal_group)\\s+import' || (echo 'Import BengalCommand/BengalGroup from bengal.cli.base' && exit 1)"
        language: system
        files: ^bengal/.*\.py$

  # Poetry is not used in this repository; removing poetry-check to avoid false failures

docs: remove remaining product name references and fix indentation
  bengal/core/cascade_engine.py
  bengal/core/page/__init__.py
  bengal/core/page/page_core.py
  bengal/core/page/proxy.py
  bengal/core/section.py
  bengal/core/site.py
  bengal/orchestration/content.py
  bengal/orchestration/postprocess.py
  bengal/postprocess/__init__.py
  bengal/postprocess/redirects.py
  bengal/rendering/parsers/mistune.py
  bengal/rendering/pipeline.py
  bengal/rendering/plugins/directives/__init__.py
  bengal/rendering/plugins/directives/badge.py
  bengal/rendering/plugins/directives/button.py
  bengal/rendering/plugins/directives/cards.py
  bengal/rendering/plugins/directives/dropdown.py
  bengal/rendering/plugins/directives/glossary.py
  bengal/rendering/plugins/directives/navigation.py
  bengal/rendering/plugins/variable_substitution.py
  bengal/rendering/renderer.py
  bengal/rendering/template_functions/collections.py
  bengal/rendering/template_functions/crossref.py
  bengal/themes/default/assets/css/components/badges.css
  bengal/themes/default/assets/js/action-bar.js
Due: block-legacy-cli-imports

docs: remove final product name references from autodoc and plugins
  bengal/autodoc/template_safety.py
  bengal/autodoc/templates/macros/safe_macros.md.jinja2
  bengal/autodoc/utils.py
  bengal/rendering/plugins/badges.py
Due: block-legacy-cli-imports

docs: fix remaining product name reference in badges plugin
  bengal/autodoc/utils.py
  bengal/rendering/plugins/badges.py
Due: block-legacy-cli-imports

pipeline: add taxonomy stream to replace TaxonomyOrchestrator; integrate into full build pipeline
  benchmarks/README.md
  benchmarks/requirements.txt
  benchmarks/test_build.py
  benchmarks/test_cold_build_permutations.py
  bengal/core/site.py
  bengal/pipeline/__init__.py
  bengal/pipeline/full_build.py
  bengal/pipeline/taxonomy.py
  plan/active/marketing-positioning-strategy.md
  plan/active/pipeline-migration-roadmap.md
  plan/active/rfc-test-suite-scaling.md
  site/content/docs/reference/architecture/core/orchestration.md
  site/content/docs/reference/architecture/design-principles.md
Due: block-legacy-cli-imports

pipeline: add menu stream to replace MenuOrchestrator; integrate into full build pipeline
  bengal/pipeline/full_build.py
  bengal/pipeline/menu.py
Due: block-legacy-cli-imports

pipeline: add sections stream to replace SectionOrchestrator; integrate into full build pipeline
  bengal/pipeline/full_build.py
  bengal/pipeline/sections.py
Due: block-legacy-cli-imports

pipeline: add assets stream to replace AssetOrchestrator; integrate into full build pipeline
  bengal/pipeline/assets.py
  bengal/pipeline/full_build.py
Due: block-legacy-cli-imports

pipeline: add postprocessing streams to replace PostprocessOrchestrator; integrate into full build pipeline
  bengal/pipeline/full_build.py
  bengal/pipeline/postprocess.py
Due: block-legacy-cli-imports

docs(plan): add Phase 2 implementation summary with performance analysis
  plan/active/pipeline-phase2-summary.md
Due: none

pipeline: optimize ContentDiscoveryStream to discover sections in single pass
  bengal/pipeline/bengal_streams.py
  bengal/pipeline/full_build.py
Due: block-legacy-cli-imports

pipeline: add StreamDependencyTracker foundation for stream-based caching
  bengal/pipeline/dependency_tracking.py
  plan/active/pipeline-phase2-complete.md
Due: block-legacy-cli-imports

pipeline: remove experimental reactive dataflow module; architectural gaps made it incomplete and slower than orchestrator
  bengal/cli/commands/build.py
  bengal/cli/commands/serve.py
  bengal/core/site.py
  bengal/pipeline/__init__.py
  bengal/pipeline/assets.py
  bengal/pipeline/bengal_streams.py
  bengal/pipeline/build.py
  bengal/pipeline/builder.py
  bengal/pipeline/cache.py
  bengal/pipeline/core.py
  bengal/pipeline/dependency_tracking.py
  bengal/pipeline/full_build.py
  bengal/pipeline/menu.py
  bengal/pipeline/postprocess.py
  bengal/pipeline/sections.py
  bengal/pipeline/streams.py
  bengal/pipeline/taxonomy.py
  bengal/pipeline/watcher.py
  bengal/server/build_handler.py
  bengal/server/dev_server.py
  changelog.md
  plan/completed/pipeline-bug-fixes.md
  plan/completed/pipeline-migration-roadmap.md
  plan/completed/pipeline-phase2-complete.md
  plan/completed/pipeline-phase2-summary.md
  tests/integration/test_pipeline_build.py
  tests/unit/pipeline/__init__.py
  tests/unit/pipeline/test_bengal_streams.py
  tests/unit/pipeline/test_build.py
  tests/unit/pipeline/test_builder.py
  tests/unit/pipeline/test_cache.py
  tests/unit/pipeline/test_core.py
  tests/unit/pipeline/test_parallel_pipeline.py
  tests/unit/pipeline/test_streams.py
  tests/unit/pipeline/test_watcher.py
Due: block-string-based-click-cls, block-legacy-cli-imports

remove pipeline experiment
  .github/workflows/pages.yml
  plan/active/pipeline-migration-roadmap.md
  plan/active/pipeline-phase2-complete.md
  plan/active/pipeline-phase2-summary.md
Due: none

docs(rfc): add orchestrator performance improvements RFC with phased roadmap
  plan/active/rfc-orchestrator-performance-improvements.md
Due: none

docs(rfc): explore next-gen build paradigms for Python 3.14t free-threaded mode
  plan/active/rfc-next-gen-build-paradigms.md
Due: none

cache: add FileFingerprint for fast mtime+size change detection; is_changed() uses fast path before SHA256 hash
  benchmarks/README.md
  benchmarks/test_build.py
  benchmarks/test_cold_build_permutations.py
  bengal/cache/build_cache.py
  plan/active/rfc-next-gen-build-paradigms.md
  plan/active/rfc-orchestrator-performance-improvements.md
  scripts/benchmark_builds.py
Due: block-legacy-cli-imports

docs(benchmarks): remove --pipeline flag references from benchmark suite and autodoc; clean up after pipeline experiment removal
  benchmarks/README.md
  content/api/benchmarks/test_build.md
  content/api/benchmarks/test_cold_build_permutations.md
  content/api/scripts/benchmark_builds.md
Due: none

perf(rendering): pre-compute plain_text cache during parsing; avoid sequential strip_html in post-processing
  bengal/rendering/pipeline.py
Due: block-legacy-cli-imports

perf(postprocess): use page.plain_text cache in JSON generator instead of strip_html()
  bengal/postprocess/output_formats/json_generator.py
Due: block-legacy-cli-imports

perf(build): add health check timing visibility; show '✓ Health check XXms' before report output
  bengal/orchestration/build/finalization.py
  bengal/utils/build_stats.py
Due: block-legacy-cli-imports

updates
  bengal/cache/build_cache.py
  plan/active/rfc-postprocess-optimization.md
  tests/unit/cache/test_build_cache.py
Due: block-legacy-cli-imports

docs(plan): add RFCs for lazy build artifacts and postprocess optimization
  plan/active/rfc-lazy-build-artifacts.md
Due: none

docs(rfc): add Knowledge Graph surfacing proposal with 5 features for exposing graph intelligence in templates, dev mode, and auto-generated pages
  plan/active/rfc-knowledge-graph-surfacing.md
Due: none

docs(plan): add RFC for parallel health check validators
  plan/active/rfc-parallel-validators.md
Due: none

perf: add lazy-computed knowledge_graph to BuildContext; eliminate 3x redundant graph builds
  bengal/health/base.py
  bengal/health/health_check.py
  bengal/health/validators/assets.py
  bengal/health/validators/cache.py
  bengal/health/validators/config.py
  bengal/health/validators/connectivity.py
  bengal/health/validators/directives/__init__.py
  bengal/health/validators/fonts.py
  bengal/health/validators/links.py
  bengal/health/validators/menu.py
  bengal/health/validators/navigation.py
  bengal/health/validators/output.py
  bengal/health/validators/performance.py
  bengal/health/validators/rendering.py
  bengal/health/validators/rss.py
  bengal/health/validators/sitemap.py
  bengal/health/validators/taxonomy.py
  bengal/health/validators/tracks.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/finalization.py
  bengal/orchestration/postprocess.py
  bengal/postprocess/special_pages.py
  bengal/utils/build_context.py
  plan/active/plan-lazy-artifacts.md
  plan/implemented/rfc-lazy-build-artifacts.md
Due: block-legacy-cli-imports

docs(rfc): update parallel validators RFC with validation findings and status
  plan/active/rfc-parallel-validators.md
Due: none

health: add parallel validator execution via ThreadPoolExecutor; extract helper methods for cleaner code
  bengal/health/health_check.py
  changelog.md
  plan/active/rfc-lazy-build-artifacts.md
  plan/implemented/rfc-parallel-validators.md
  tests/unit/health/test_health_check.py
Due: block-legacy-cli-imports

health: add auto-scaling worker count and HealthCheckStats observability; verbose mode shows speedup metrics
  bengal/health/health_check.py
  changelog.md
  plan/active/rfc-zstd-cache-compression.md
  site/content/cli/_index.md
  site/content/cli/build.md
  site/content/cli/collections/_index.md
  site/content/cli/serve.md
  site/content/cli/site/build.md
  site/content/cli/site/serve.md
  site/content/cli/sources/clear.md
  site/content/cli/sources/fetch.md
  site/content/cli/sources/list.md
  site/content/cli/sources/status.md
  tests/unit/health/test_health_check.py
Due: block-legacy-cli-imports

health: add slowest validator diagnostics when health check > 1s; show parallel stats in build output
  bengal/orchestration/build/finalization.py
  scripts/benchmark_zstd_cache.py
Due: block-legacy-cli-imports

plan(rfc): add zstd cache compression spike with benchmark results; 92-93% size savings achieved
  plan/active/rfc-zstd-cache-compression.md
  site/content/cli/_index.md
  site/content/cli/collections/_index.md
  site/content/cli/sources/clear.md
  site/content/cli/sources/fetch.md
  site/content/cli/sources/list.md
  site/content/cli/sources/status.md
Due: none

docs(plan): add RFC for build-integrated validation architecture to eliminate redundant disk I/O
  bengal/cache/cache_store.py
  bengal/cache/compression.py
  plan/active/rfc-build-integrated-validation.md
Due: block-legacy-cli-imports

docs: add zstd cache compression to architecture docs, performance section, and changelog; move RFC to implemented
  bengal/config/defaults.py
  bengal/health/health_check.py
  bengal/health/validators/directives/__init__.py
  bengal/health/validators/directives/analysis.py
  bengal/orchestration/build/__init__.py
  bengal/orchestration/build/initialization.py
  bengal/orchestration/build/rendering.py
  changelog.md
  plan/implemented/rfc-zstd-cache-compression.md
  site/content/docs/reference/architecture/core/cache.md
  site/content/docs/reference/architecture/meta/performance.md
Due: block-legacy-cli-imports

health: add tiered validation with build/full/ci tiers; add build-integrated validation tests; move RFC to implemented
  bengal/health/health_check.py
  plan/implemented/rfc-build-integrated-validation.md
  tests/unit/health/test_build_integrated_validation.py
Due: block-legacy-cli-imports

docs: add build-integrated validation to changelog
  changelog.md
Due: none

health(directives): fix cache optimization and autodoc detection; only check HTML for pages with directives (7.6s → 1s)
  bengal/health/validators/directives/analysis.py
  bengal/health/validators/directives/checkers.py
  bengal/utils/autodoc.py
Due: block-legacy-cli-imports

docs: update changelog with build-integrated validation performance gains
  changelog.md
Due: none
